body {
  font-family: 'Play', sans-serif;
  background: #eee; }

.calendar {
  font-size: 16px; }
  .calendar__row {
    background: #fff;
    margin: 10px 0;
    position: relative;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .calendar__scrollTop {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cusor: pointer;
    display: none; }
    .calendar__scrollTop:hover {
      opacity: 0.7;
      filter: alpha(opacity=70); }
    .calendar__scrollTop img {
      width: 50px;
      height: auto; }
    @media (max-width: 700px) {
      .calendar__scrollTop {
        display: block; } }
  .calendar__container {
    display: table;
    padding: 0 30px;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 700px) {
      .calendar__container {
        padding: 0 10px; } }
  .calendar__shortcut {
    display: inline-block;
    margin: 0 auto; }
    @media (max-width: 700px) {
      .calendar__shortcut {
        display: table; } }
    .calendar__shortcut.more_links {
      display: inline-block; }
      @media (max-width: 700px) {
        .calendar__shortcut.more_links {
          display: none; }
          .calendar__shortcut.more_links .calendar__shortcut--link {
            width: 75px;
            margin: 0 auto; } }
    .calendar__shortcut--showMore, .calendar__shortcut--showLess {
      color: #85af4b;
      display: none; }
      .calendar__shortcut--showMore:hover, .calendar__shortcut--showLess:hover {
        background-color: #f7cacc;
        color: #fff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
    @media (max-width: 700px) {
      .calendar__shortcut--showMore {
        display: block; } }
    .calendar__shortcut--link {
      color: #85af4b;
      display: table-cell;
      padding: 10px;
      line-height: 1.2em;
      cursor: pointer; }
      .calendar__shortcut--link:hover {
        background-color: #f7cacc;
        color: #fff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
      @media (max-width: 700px) {
        .calendar__shortcut--link {
          max-width: 75px; } }
  .calendar__speaker {
    color: #85af4b;
    margin-top: 10px; }
  .calendar__date {
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    color: #8ea5ce;
    padding: 10px 30px;
    width: 25%;
    min-width: 250px; }
    @media (max-width: 700px) {
      .calendar__date {
        display: block;
        width: 100%;
        padding-bottom: 0;
        min-width: auto; } }
    .calendar__date--number {
      font-size: 2em;
      line-height: 2.2em; }
      @media (max-width: 700px) {
        .calendar__date--number {
          display: block;
          width: 100%;
          line-height: 1em; } }
  .calendar__image {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 30px;
    width: 25%;
    min-width: 250px; }
    @media (max-width: 700px) {
      .calendar__image {
        display: block;
        width: 100%; } }
    .calendar__image img {
      -webkit-border-radius: 15px;
      border-radius: 15px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      border: 3px solid #8ea5ce;
      width: 70%; }
      @media (max-width: 700px) {
        .calendar__image img {
          width: 50%; } }
  .calendar__event {
    display: table-cell;
    font-size: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
    padding: 10px 30px;
    color: #85af4b;
    width: 80vh; }
    @media (max-width: 700px) {
      .calendar__event {
        display: block;
        width: 100%;
        padding-top: 0; } }

/*==================================================
 * Effect 6
 * ===============================================*/
.with_shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }

/*# sourceMappingURL=calendar_style.css.map */
