@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

$breakpoints: ( 'super-tiny': ( max-width: 480px), 'tiny': ( max-width: 400px), 'small_650': ( max-width: 650px), 'small': ( max-width: 768px), 'medium': ( max-width: 910px), 'large': ( max-width: 1025px), 'largest': ( max-width: 1440px), 'min-largest':( min-width: 1439px), 'extra-large':( min-width: 1999px), 'min-desktop':( max-width: 1024px));
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a your breakpoint named `#{$name}`.";
    }
}

body {
    background: #ccc;
    font: 87.5%/1.5em 'Lato', sans-serif;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
}

.container {
    width: 500px;
    margin: 30px auto;
    padding: 10px;
    @include breakpoint(super-tiny) {
        width: 300px;
    }
}

.calendar {
    background: #fff;
    border-radius: 0 0 1em 1em;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
    color: #555;
    display: inline-block;
    padding: 2em;
    width: calc(500px - 4em);
    @include breakpoint(super-tiny) {
        width: 270px;
        padding: 15px;
        margin: 0 auto;
    }
    td {
        padding: .5em 1em;
        text-align: center;
        @include breakpoint(super-tiny) {
            padding: .5em 4px;
        }
    }
    thead {
        color: #e66b6b;
        font-weight: 700;
        text-transform: uppercase;
    }
    &-container {
        position: relative;
        header {
            border-radius: 1em 1em 0 0;
            background: #e66b6b;
            color: #fff;
            padding: 3em 2em;
            min-height: 170px;
            @include breakpoint(super-tiny) {
                padding-top: 10px;
                padding-bottom: 15px;
            }
        }
    }
}

.day {
    font-size: 6em;
    font-weight: 900;
    line-height: 1em;
    display: inline-block;
    margin-right: 15px;
    @include breakpoint(super-tiny) {
        font-size: 4em;
        display: block;
    }
}

.month {
    font-size: 3em;
    line-height: 1em;
    text-transform: lowercase;
    display: inline-block;
       @include breakpoint(super-tiny) {
        font-size: 2em;
    } 
}

.target-day {
    background: #cc0000;
    color: #fff;
}

.speaker {
    position: absolute;
    right: -30px;
    top: 35px;
    border: 2px solid #fff;
    width: 175px;
    height: auto;
    @include border-radius(20px);
    @include breakpoint(super-tiny) {
        right: 5px;
    }    
}

.current-day {
    color: #e66b6b;
}

.subtitle {
    font-size: 30px;
    margin-bottom: 20px;
    &_2 {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 0;
            @include breakpoint(super-tiny) {
                padding-top: 22px;
                font-size: 16px;
            }        
    }
    @include breakpoint(super-tiny) {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

.prev-month,
.next-month {
    color: #cacaca;
}

.ring-left,
.ring-right {
    position: absolute;
    top: 230px;
}

.ring-left {
    left: 2em;
}

.ring-right {
    right: 2em;
}

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
    content: "";
    display: inline-block;
    margin: 8px;
    height: 32px;
    width: 8px;
}
