$color_white: #fff;
$color_green: #85af4b;
$color_pink: #f7cacc;
$color_purple: #8ea5ce;
$color_grey: #eee;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

$breakpoints: ( 'super-tiny': ( max-width: 480px), 'tiny': ( max-width: 400px), 'small_650': ( max-width: 700px), 'small': ( max-width: 768px), 'medium': ( max-width: 910px), 'large': ( max-width: 1025px), 'largest': ( max-width: 1440px), 'min-largest':( min-width: 1439px), 'extra-large':( min-width: 1999px), 'min-desktop':( max-width: 1024px));
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a your breakpoint named `#{$name}`.";
    }
}

// OPACITY 
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

body {
    font-family: 'Play', sans-serif;
    background: $color_grey;
}

a{
    color: inherit;
    &:visited, &:focus, &:hover{
        text-decoration: none;
    }
}

.calendar {
    font-size: 16px;
    &__mats{
        font-size: 30px;
        color: $color_purple;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: $color_pink;
            color: $color_white;
        }
    }
    &__row {
        background: $color_white;
        margin: 10px 0;
        position: relative;
        @include border-radius(5px);
    }
    &__scrollTop {
        position: absolute;
        bottom: 5px;
        right: 5px;
        cusor: pointer;
        display: none;
        &:hover {
            @include opacity(0.7);
        }
        img {
            width: 50px;
            height: auto;
        }
        @include breakpoint(small_650) {
            display: block;
        }
    }
    &__container {
        display: table;
        padding: 0 30px;
        margin: 10px auto;
        text-align: center;
        text-transform: uppercase;
        @include breakpoint(small_650) {
            padding: 0 10px;
        }
    }
    &__shortcut {
        display: inline-block;
        margin: 0 auto;
        @include breakpoint(small_650) {
            display: table;
        }
        &.more_links {
            display: inline-block;
            @include breakpoint(small_650) {
                display: none;
                .calendar__shortcut--link {
                    width: 75px;
                    margin: 0 auto;
                }
            }
        }
        &--showMore,
        &--showLess {
            color: $color_green;
            display: none;
            &:hover {
                background-color: $color_pink;
                color: $color_white;
                @include border-radius(5px);
            }
        }
        &--showMore {
            @include breakpoint(small_650) {
                display: block;
            }
        }
        &--link {
            color: $color_green;
            display: table-cell;
            padding: 10px;
            line-height: 1.2em;
            cursor: pointer;
            &:hover {
                background-color: $color_pink;
                color: $color_white;
                @include border-radius(5px);
            }
            @include breakpoint(small_650) {
                max-width: 75px;
            }
        }
    }
    &__speaker {
        color: $color_green;
        margin-top: 10px;
    }
    &__date {
        font-size: 2em;
        display: table-cell;
        vertical-align: middle;
        color: $color_purple;
        padding: 10px 30px;
        width: 25%;
        min-width: 250px;
        @include breakpoint(small_650) {
            display: block;
            width: 100%;
            padding-bottom: 0;
            min-width: auto;
        }
        &--number {
            font-size: 2em;
            line-height: 2.2em;
            @include breakpoint(small_650) {
                display: block;
                width: 100%;
                line-height: 1em;
            }
        }
    }
    &__image {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 30px;
        width: 25%;
        min-width: 250px;
        @include breakpoint(small_650) {
            display: block;
            width: 100%;
        }
        img {
            @include border-radius(15px);
            border: 3px solid $color_purple;
            width: 70%;
            @include breakpoint(small_650) {
                width: 50%;
            }
        }
    }
    &__event {
        display: table-cell;
        font-size: 1.5em;
        line-height: 1.5em;
        vertical-align: middle;
        padding: 10px 30px;
        color: $color_green;
        width: 80vh;
        @include breakpoint(small_650) {
            display: block;
            width: 100%;
            padding-top: 0;
        }
    }
}

//=============== BOX SIADOV =========

/*==================================================
 * Effect 6
 * ===============================================*/

.wd_row {
    .wd_line {
        color: #000;
        font-size: 14px;
        &:first-of-type {
            font-size: 16px;
            font-weight: 700;
            color: $color_purple;
        }
    &.link_line{
        cursor: pointer;
        text-decoration: underline;
        &:hover{
            color: $color_purple;
        }
    }
    }
    &:first-of-type {
        color: $color_green;
        font-size: 24px;
        font-weight: 700;        
        .wd_line{
            color: $color_green;
        font-size: 24px;
        font-weight: 700;             
        }
    }
}

.doc_riferimento{
    margin-bottom: 15px;
    text-align: center;
}

//=========================================
.with_shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h1{
    font-size: 45px;
}
th,
td {
    border: thin solid black;
    padding: 3px;
    padding: 10px;
}

tr.head th,
tr.head td {
    background-color: #EDEDED;
    border-bottom: 4px double black;
}

span.linetitle {
    font-weight: bold;
}

div.lineclass {
    font-style: italic;
}

.title,
.result {
    width: 80%;
}

.notes {
    width: 15%;
}

h1 {
    text-align: center;
}

body {
    margin: 12px;
    font-size: 12px;
}
