.additionaldata {
	.v-filterselect{
		& [class$="button"]{
			top: 15px;
			&:before{
				color: #000;
			}
		}
		& [class*="input"]{
			height: 50px;	
			background-image: none;
			background-color: transparent;
		}
	}
    .v-textfield {
        height: 50px;
    }
}