.block_coverage_tool {
    &__breadcrumbs {}
    &__map {
        &__container {
            padding: 30px;
            #world-map {
                width: 100%;
                height: 50vh;
                max-width: 1024px;
                margin: 0 auto;
                .jvectormap-zoomin,
                .jvectormap-zoomout {
                    display: none;
                }
                .jvectormap-goback {
                    z-index: 990;
                }
            }
        }
    }
    &__tabs {
        &__container {
            .blocco_tabs_menu {
                .strip_menu_tab {
                    padding-top: 10px;
                    &__item {
                        padding: 16px 1.875em 4px 1.875em;
                        a {
                            &:hover,
                            &:focus {
                                color: $color-orange;
                            }
                        }
                        &.slick-current {
                            border-bottom: 2px solid $color-orange;
                        }
                    }
                }
            }
        }
    }
    &__filter {
        &__container {
            .country_offers_block {
                max-width: none;
                @include breakpoint(small) {
                    padding-bottom: 0;
                }
                &__container {
                    &-title {
                        text-transform: uppercase;
                        font-size: 1.4em;
                        @include breakpoint(min-desktop) {
                            font-size: 0.9em;
                        }
                        @include breakpoint(medium) {
                            font-size: 0.785em;
                        }
                        @include breakpoint(small) {
                            font-size: 1.1em;
                        }
                    }
                    &-image {
                        margin-top: 0.9em;
                    }
                    &__select {
                        width: 100%;
                    }
                    &__country {
                        max-width: 1024px;
                        margin: 20px auto 30px;
                        padding: 0 15px;
                        &--List {
                            max-width: 1024px;
                            margin: 0 auto;
                            padding: 2em 0.9em 1.5em;
                            &--select {
                                padding-left: 6px;
                                .base__select {
                                    &.bootstrap-select {
                                        width: 312px!important;
                                        .dropdown-toggle {
                                            padding: 0.9em 0.7em;
                                            font-size: 1.01em;
                                            .bs-caret {
                                                .caret {
                                                    margin: -0.8em 1.3em 0 0;
                                                }
                                            }
                                        }
                                        .dropdown-menu {
                                            li {
                                                a {
                                                    padding: 0.75em 0.7em;
                                                }
                                            }
                                        }
                                        @include breakpoint(small) {
                                            width: 100% !important;
                                        }
                                    }
                                }
                            }
                            &--label {
                                letter-spacing: 0.014em;
                            }
                        }
                        &--flag {
                            padding-top: 23px;
                        }
                        &--rates {
                            padding-top: 30px;
                            padding-bottom: 60px;
                            @include breakpoint(small) {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                        &--services {
                            margin-bottom: 25px;
                            .accordion_description_block {
                                &__container {
                                    background: none;
                                    padding-top: 23px;
                                }
                                &__feature {
                                    padding: 0 15px 10px;
                                }
                                &__featureContent {
                                    margin-left: 0;
                                    &:last-of-type {
                                        @include breakpoint(small) {
                                            border-bottom: 1px solid #d3d3d2;
                                            padding-bottom: 5px;
                                        }
                                    }
                                    &--detail {
                                        padding-left: 0;
                                        padding-top: 0.3em;
                                        padding-bottom: 0.3em;
                                        font-family: $weight-normal;
                                    }
                                    &--description {
                                        display: none;
                                    }
                                    &--availability {
                                        text-align: right;
                                        .service--available {
                                            height: 1.7em;
                                            width: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &__rates {
                    &_divider {
                        &--left {
                            width: 25%;
                            @include breakpoint(small) {
                                width: 50%;
                            }
                            &:last-of-type {
                                border-right: none;
                            }
                            &:nth-of-type(2n) {
                                @include breakpoint(small) {
                                    border-right: none;
                                }
                            }
                        }
                        //&--right {
                        //    width: 25%;
                        //    @include breakpoint(small) {
                        //        width: 50%;
                        //        border-right: 1px solid $medium-gray;
                        //    }
                        //}
                    }
                    &--title {
                        height: 2.5em;
                        font-size: 0.95em;
                    }
                    &--price {
                        padding-top: 0.1em;
                        @include breakpoint(small) {
                            padding-bottom: 0.5em;
                        }
                    }
                }
            }
        }
    }
    &__operators {
        &__container {
            .showcase_accordions_block {
                margin-bottom: 0;
                &__single {
                    padding: 18px 0 !important;
                    &:last-of-type {
                        border-bottom: none !important;
                    }
                    .accordionBox {
                        width: 100% !important;
                        bottom: inherit;
                        top: 0;
                    }
                }
                h2 {
                    background-color: transparent;
                    padding: 0 15px;
                }
            }
            .accordion_description_block {
                &__container {
                    background: none;
                    padding: 37px 15px 20px;
                    background-color: $color-lightGrey;
                    &:nth-of-type(odd) {
                        background-color: $color-white;
                    }
                }
                &__feature {
                    padding: 0 0 10px;
                }
                &__left {
                    padding-left: 0;
                    @include breakpoint(small) {
                        padding-left: 15px;
                    }
                    .service--available {
                        display: none;
                    }
                }
                &__right {
                    padding-right: 0;
                    @include breakpoint(small) {
                        padding-right: 15px;
                    }
                    .accordion_description_block__featureContent--description {
                        display: none;
                    }
                }
                &__featureContent {
                    margin-left: 0;
                    font-size: 1.05em;
                    &:last-of-type {
                        @include breakpoint(small) {
                            //border-bottom: 1px solid #d3d3d2;
                            padding-bottom: 5px;
                        }
                    }
                    &.strong {
                        .accordion_description_block__featureContent--description {
                            font-family: $weight-bold;
                            font-size: 0.72em;
                        }
                    }
                    &--detail {
                        padding-left: 0;
                        padding-top: 0.3em;
                        padding-bottom: 0.3em;
                        font-family: $weight-normal;
                    }
                    &--description {
                        padding-top: 0.3em;
                    }
                    &--availability {
                        text-align: right;
                        padding-right: 20px;
                        .service--available {
                            height: 1.6em;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    &__offers {
        &__container {
            .showcase_bundle_block {
                &__slides {
                    width: 100%;
                }
                &__container {
                    width: 100%;
                }
                &__tabs {
                    &__container {
                        .container {
                            &_firstColumn {}
                            &_secondColumn {
                                padding-top: 8px;
                                @include breakpoint('small') {
                                    text-align: right;
                                }
                            }
                        }
                    }
                    &--title {
                        padding-bottom: 5px;
                        @include breakpoint('super-tiny') {
                            margin-right: 2px!important;
                        }
                        &.slick-current {
                            color: $color-orange;
                            border-bottom: 1px solid $color-orange;
                        }
                    }
                }
                &__single {
                    margin-top: 48px;
                    margin-bottom: 42px;
                    border-right: 1px solid $color-lightGrey;
                    @include breakpoint(small) {
                        border-right: none;
                    }
                    &:nth-of-type(2n) {
                        @include breakpoint(med-large) {
                            border-right: none;
                        }
                    }
                    &:nth-of-type(3n) {
                        border-right: none;
                        @include breakpoint(med-large) {
                            margin: 0 auto;
                            float: none;
                            clear: both;
                            display: block;
                            padding-top: 30px;
                        }
                    }
                    &--title {
                        margin-top: 0;
                    }
                    &--recurrency {
                        margin-bottom: 12px;
                        margin-top: 15px;
                    }
                }
                .bundle_block__showMore {
                    margin-top: 28px;
                }
            }
        }
    }
    &__assistance {
        &__container {
            .customer_block {
                &__title {
                    padding-top: 38px;
                    margin-bottom: 42px;
                }
                &__searchButton {
                    .button {
                        margin-left: auto;
                        margin-right: 0;
                    }
                }
                &__divider {
                    margin-top: 80px;
                }
                &__icon {
                    margin-top: 37px;
                }
                &__find {
                    &--title {
                        margin-bottom: 18px;
                    }
                    &--Subtitle {
                        font-size: 0.85em;
                        margin-bottom: 25px;
                    }
                }
                &__sameHeight {
                    &_container {
                        margin-bottom: 25px;
                        .base__input {
                            padding-top: 1em;
                            padding-bottom: 1em;
                        }
                    }
                }
                &__tripleContainer {
                    padding-bottom: 65px;
                }
            }
        }
    }
    &__newsletter {
        &__container {
            .newsletter_block {
                margin-bottom: 60px;
                &__container {
                    margin-top: 65px;
                }
                &__title {
                    margin-bottom: 20px;
                }
                &__left {
                    .base__input {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }
                    .button {
                        margin-top: 40px;
                        padding-top: 1.2rem;
                        padding-bottom: 1.2rem;
                    }
                }
                &__right {
                    .newsletter_block {
                        &__title {
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }
    }
}
