<button class="btn btn-lg btn-primary">{{ btnText }}</button>
<button class="btn btn-primary ">{{ btnText }}</button>
<button class="btn btn-sm btn-primary">{{ btnText }}</button>
<button class="btn btn-xs btn-primary">{{ btnText }}</button>