        //infostrada-inorder-step-5.html
        //infostrada-inorder-step-6.html
        //infostrada-inorder-step-7.html        
        @font-face {
            font-family: 'TP Hero Light';
            src: url('../fonts/TPHero-Light.woff') format('opentype');
            font-weight: light;
        }
        
        @font-face {
            font-family: 'TP Hero Thin';
            src: url('../fonts/TPHero-Thin.woff') format('opentype');
            font-weight: thin;
        }
        
        @font-face {
            font-family: 'TP Hero Hairline';
            src: url('../fonts/TPHero-Hairline.woff') format('opentype');
            font-weight: hairline;
        }
        
        // MIXIN FOR BORDER RADIOUS 
        @mixin border-radius($radius) {
            -webkit-border-radius: $radius;
            border-radius: $radius;
            background-clip: padding-box;
            /* stops bg color from leaking outside the border: */
        }
        
        // SINGOLI ANGOLI BORDER RADIOUS
        @mixin border-top-radius($radius) {
            -webkit-border-top-right-radius: $radius;
            border-top-right-radius: $radius;
            -webkit-border-top-left-radius: $radius;
            border-top-left-radius: $radius;
            background-clip: padding-box;
        }
        
        @mixin border-right-radius($radius) {
            -webkit-border-bottom-right-radius: $radius;
            border-bottom-right-radius: $radius;
            -webkit-border-top-right-radius: $radius;
            border-top-right-radius: $radius;
            background-clip: padding-box;
        }
        
        @mixin border-bottom-radius($radius) {
            -webkit-border-bottom-right-radius: $radius;
            border-bottom-right-radius: $radius;
            -webkit-border-bottom-left-radius: $radius;
            border-bottom-left-radius: $radius;
            background-clip: padding-box;
        }
        
        @mixin border-left-radius($radius) {
            -webkit-border-bottom-left-radius: $radius;
            border-bottom-left-radius: $radius;
            -webkit-border-top-left-radius: $radius;
            border-top-left-radius: $radius;
            background-clip: padding-box;
        }
        /* ___________________ MIXIN __________________ 
                       BREAKPOINT MIXIN */
        
        $breakpoints: ( 'super-tiny': ( max-width: 480px),
        'tiny': ( max-width: 600px),
        'small': ( max-width: 768px),
        'medium': ( max-width: 910px),
        'large': ( max-width: 1025px),
        'largest': ( max-width: 1440px),
        'min-small':( min-width: 767px),
        'min-desktop':( max-width: 1024px));
        // Creating the mixin
        @mixin breakpoint($name) {
            @if map-has-key($breakpoints,
            $name) {
                @media #{inspect(map-get($breakpoints, $name))} {
                    @content;
                }
            }
            @else {
                @warn "Couldn't find a your breakpoint named `#{$name}`.";
            }
        }
        
        $weight-thin: 'TP Hero Thin';
        $weight-light: 'TP Hero Light';
        $weight-hairline: 'TP Hero Hairline';
        $color-pale-yellow: #ffefbd;
        $color-pale-orange: #ffcb24;
        .clear-fix:after,
        .clear {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        
        h1 {
            font-family: $weight-hairline;
            font-size: 130px;
            line-height: 132px;
            text-transform: uppercase;
            margin: 0;
            @include breakpoint(largest){
                font-size: 100px;
                line-height: 102px;
            }
        }
        
        h6 {
            font-family: $weight-thin;
            font-size: 24px;
            line-height: 26px;
            margin: 0;
        }
        
        .text_align_center {
            text-align: center;
        }
        
        .background-image-one {
            max-width: 100vw;
            width: 2560px;
            height: 1674px;
            background: url(../img/top_block_bg.jpg) no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            @include breakpoint(largest){
                height: 1440px;

            }
        }            
        
        .wrapper {
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
            @include breakpoint(largest){
                max-width: 1024px;
            }
            &.one {
                padding-top: 420px;
                @include breakpoint(largest){
                    padding-top: 350px;
                }
                h6 {
                    margin-top: 35px;
                }
            }
            &.two {
                margin-top: 180px;
                .container_text {
                    padding-left: 105px;
                    margin-top: 100px;
                    .button_cta {
                        margin-top: 35px;
                    }
                    h6 {
                        margin-top: 35px;
                    }
                }
            }
            &.three {
                margin-top: 100px;
                .column_left {
                    img {
                        margin-left: auto;
                        margin-right: 0;
                    }
                }
                .container_text {
                    padding-left: 105px;
                    margin-top: 100px;
                    .button_cta {
                        margin-top: 35px;
                    }
                    h6 {
                        margin-top: 35px;
                    }
                }
            }
        }
        
        // ================= SLIDER CSS =================//
        .slick-slider {
            & .slider_navigation {
                position: absolute;
                cursor: pointer;
                z-index: 50;
            }
            & .left_arrow {
                top: calc(50% - 41px);
                left: 10px;
                &:hover {
                    opacity: 0.5;
                }
            }
            & .right_arrow {
                bottom: 50%;
                right: 10px;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        
        .slider_dots {
            text-align: center;
            margin-top: 15px;
            padding-left: 0px;
            & li {
                list-style-type: none;
                display: inline-block;
                margin-right: 30px;
                cursor: pointer;
            }
            & .slide_single {
                width: 20px;
                height: 20px;
                background: $color-pale-yellow;
                @include border-radius(100%);
                background-clip: padding-box;
                /* stops bg color from leaking outside the border: */
            }
            & .slick-active .slide_single {
                background: $color-pale-orange;
            }
        }
