/*
Error: Invalid CSS after "...x-width: 2500px": expected "{", was ";"
        on line 246 of veon_style.scss

241: }
242: 
243: .veon_wrapper {
244:     background-color: $color-bg-gray;
245: <<<<<<< HEAD
246:     max-width: 2500px;
247:     margin: 0 auto;
248: =======
249: >>>>>>> 019b4beac5f78614c0195ad371cd62a4dbc960dd
250: }
251: 

Backtrace:
veon_style.scss:246
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:1191:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:1125:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:1120:in `tok!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:656:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:728:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:676:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:668:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:657:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:651:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:675:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:668:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:125:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:331:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `initialize_adapter'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `start_poller'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `initialize'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `new'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `start_poller'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:101:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:109:in `start!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:66:in `start!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:408:in `listen_to'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:341:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin.rb:109:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin.rb:109:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.22/bin/sass:13
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...x-width: 2500px\": expected \"{\", was \";\"\A         on line 246 of veon_style.scss\A \A 241: }\A 242: \A 243: .veon_wrapper {\A 244:     background-color: $color-bg-gray;\A 245: <<<<<<< HEAD\A 246:     max-width: 2500px;\A 247:     margin: 0 auto;\A 248: =======\A 249: >>>>>>> 019b4beac5f78614c0195ad371cd62a4dbc960dd\A 250: }\A 251: "; }
