$color_white: #fff;
$color_green: #85af4b;
$color_pink: #f7cacc;
$color_purple: #8ea5ce;
$color_grey: #eee;
$color_text: #000;
$color_infostrada: #153080;
$color_light_grey: #d6d6d6;
$color_border: #d9dfec;
$weight-light: 'Trade Gothic Light';
$weight-normal: 'Trade Gothic';
$weight-bold: 'Trade Gothic Bold';
$weight-cond: 'Trade Gothic Condensed';
$weight-bold-cond: 'Trade Gothic Bold Condensed';
// ================= TYPOGRAPHY  ================== //
// typo
@font-face {
  font-family: "Trade Gothic Bold";
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("../fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("../fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("../fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("../fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg");
}

@font-face {
  font-family: "Trade Gothic Light";
  src: url("../fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix");
  src: url("../fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix") format("eot"), url("../fonts/tradelicense/6de16bd6-1e13-400f-80e8-8f5c69d8a2b8.woff2") format("woff2"), url("../fonts/tradelicense/73c7abdc-45a3-42a3-a1af-f07d8a348917.woff") format("woff"), url("../fonts/tradelicense/73494c38-422a-4bae-9e2c-b86e7703c1b3.ttf") format("truetype"), url("../fonts/tradelicense/b84e9482-10dd-4d9d-8ef2-539fbc5eb441.svg#b84e9482-10dd-4d9d-8ef2-539fbc5eb441") format("svg");
}

@font-face {
  font-family: "Trade Gothic Condensed";
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix");
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix") format("eot"), url("../fonts/tradelicense/161bc4ba-4d6b-46ef-a715-b7f726c83392.woff2") format("woff2"), url("../fonts/tradelicense/0d2481b3-5cd5-4c55-86c1-272e605452e9.woff") format("woff"), url("../fonts/tradelicense/a55a8f4f-96c7-4ba2-885d-7a535db9c13c.ttf") format("truetype"), url("../fonts/tradelicense/da83841b-fd70-4379-bca2-f8963a040918.svg#da83841b-fd70-4379-bca2-f8963a040918") format("svg");
}

@font-face {
  font-family: "Trade Gothic Bold Condensed";
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix");
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix") format("eot"), url("../fonts/tradelicense/161bc4ba-4d6b-46ef-a715-b7f726c83392.woff2") format("woff2"), url("../fonts/tradelicense/0d2481b3-5cd5-4c55-86c1-272e605452e9.woff") format("woff"), url("../fonts/tradelicense/a55a8f4f-96c7-4ba2-885d-7a535db9c13c.ttf") format("truetype"), url("../fonts/tradelicense/da83841b-fd70-4379-bca2-f8963a040918.svg#da83841b-fd70-4379-bca2-f8963a040918") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: "Trade Gothic Condensed Italic";
  src: url("../fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix");
  src: url("../fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix") format("eot"), url("../fonts/tradelicense/5a871dd4-95c1-4157-af67-a012e7ba4358.woff2") format("woff2"), url("../fonts/tradelicense/847d5cf1-1a60-4418-9d5e-44927ff99235.woff") format("woff"), url("../fonts/tradelicense/2882b13c-d7fa-4698-bab1-4a01805326d8.ttf") format("truetype"), url("../fonts/tradelicense/1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7.svg#1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7") format("svg");
}

@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix");
  src: url("../fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("../fonts/tradelicense/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("../fonts/tradelicense/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("../fonts/tradelicense/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("../fonts/tradelicense/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg");
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

$breakpoints: ( 'super-tiny': ( max-width: 480px),
'tiny': ( max-width: 400px),
'small_650': ( max-width: 700px),
'small': ( max-width: 768px),
'medium': ( max-width: 910px),
'large': ( max-width: 1025px),
'largest': ( max-width: 1440px),
'min-largest':( min-width: 1439px),
'extra-large':( min-width: 1999px),
'min-desktop':( max-width: 1024px));
@mixin breakpoint($name) {
    @if map-has-key($breakpoints,
    $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a your breakpoint named `#{$name}`.";
    }
}

// OPACITY 
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}


/*body {
    font-family: 'Play', sans-serif;
    background: $color_grey;
}*/

body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: $color_white;
    font-family: $weight-normal;
    color: $color_text;
    font-size: 14px;
}

.clear {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

// PARTIAL
.text_highlight {
    font-weight: bold;
}

.landing_infostrada {
    &__containerMain {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    &__container {
        width: 878px;
        margin: 0 auto;
        @include breakpoint(medium) {
            width: 100%;
        }
    }
    &__containerHero {
        //width: 100%;
        //width: 100vw;
        width: 1024px;
        position: relative;
        padding: 19px 0;
        //left: calc(-50vw + 50%);
        height: 530px;
        margin: 0 auto;
        left: -72px;
        background-color: $color_light_grey;
        /*background-image: url(../img/visore/visore_testimonial_wide.png);
        background-repeat: no-repeat;
        background-position: top left;*/
        @include breakpoint(medium) {
            width: 100%;
            height: auto;
            left: 0;
            padding: 20px 10px 45px;
        }
    }
    &__logo {
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        img {
            width: 100%;
            max-width: 218px;
            @include breakpoint(tiny) {
                width: 50%;
            }
        }
    }
    &__hero {
        width: 878px;
        margin: 0 auto;
        @include breakpoint(medium) {
            width: 100%;
        }
        .left_block {
            float: left;
            width: 55%;
            @include breakpoint(medium) {
                width: 100%;
                float: none;
            }
            .title {
                font-family: $weight-bold-cond;
                color: $color_infostrada;
                font-size: 85px;
                text-transform: uppercase;
                @include breakpoint(medium) {
                    font-size: 75px;
                    text-align: center;
                }
                @include breakpoint(super-tiny) {
                    font-size: 50px;
                    //text-align: center;
                }
            }
            .titleShadow {
                font-family: $weight-bold-cond;
                color: $color_white;
                font-size: 59px;
                text-transform: uppercase;
                text-shadow: 0px 1px 8px black;
                @include breakpoint(medium) {
                    font-size: 45px;
                    text-align: center;
                }
                @include breakpoint(super-tiny) {
                    font-size: 30px;
                    //text-align: center;
                }
            }
            .price {
                font-family: $weight-bold;
                color: $color_infostrada;
                font-size: 93px;
                line-height: 61px;
                text-transform: uppercase;
                @include breakpoint(medium) {
                    font-size: 80px;
                    text-align: center;
                }
                @include breakpoint(super-tiny) {
                    font-size: 60px;
                }
            }
            .counter {
                padding: 5px 23px;
                margin-top: 36px;
                color: $color_infostrada;
                border: 2px solid $color_infostrada;
                @include border-radius(4px);
                width: 80%;
                text-transform: uppercase;
                @include breakpoint(medium) {
                    font-size: 12px;
                    text-align: center;
                    width: 70%;
                    margin: 0 auto;
                    padding: 5px;
                    margin-top: 20px;
                }
                @include breakpoint(super-tiny) {
                    width: 100%;
                    margin-top: 15px;
                }
                .time {
                    font-weight: bold;
                    font-size: 25px;
                    @include breakpoint(super-tiny) {
                        font-size: 15px;
                    }
                }
            }
        }
        .right_block {
            float: right;
            width: 45%;
            @include breakpoint(medium) {
                width: 100%;
                float: none;
            }
            .image_block {
                float: left;
                top: -11px;
                position: relative;
                left: -30px;
                @include breakpoint(medium) {
                    left: 0;
                    width: 100%;
                    text-align: center;
                    margin: 0 auto;
                    top: 30px;
                }
                img {
                    @include breakpoint(medium) {
                        width: 50%;
                    }
                }
            }
            .sticker_block {
                float: right;
                position: relative;
                .single_sticker {
                    padding: 5px 0;
                    img {
                        @include breakpoint(medium) {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    &__checkCopertura {
        position: absolute;
        z-index: 999;
        height: 320px !important;
        //top: -150px;
        /*.container {
            padding-left: 0;
            padding-right: 0;
        }*/
    }
    &__contentSubFrame {
        position: relative;
        top: -150px;
    }
    &__content {
        @include breakpoint(medium) {
            margin: 0 16px;
        }
        &--treeParagraph {
            width: 100%;
            border: 2px solid $color_border;
            padding: 40px 0;
            margin: 0 auto;
            @include breakpoint(small) {
                width: 100%;
                padding: 15px 0;
            }
            .listItem {
                position: relative;
                width: 33.33%;
                text-transform: uppercase;
                text-align: center;
                float: left;
                color: $color_infostrada;
                font-size: 20px;
                @include breakpoint(small) {
                    width: 100%;
                    float: none;
                    padding: 20px 0;
                    font-size: 16px;
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 2px;
                    background-color: #eee;
                    @include breakpoint(small) {
                        left: calc(50% - 50px);
                        right: calc(50% - 50px);
                        height: 2px;
                        bottom: 0;
                        width: 100px;
                    }
                }
                &:nth-of-type(1)::after {
                    @include breakpoint(small) {
                        display: none;
                    }
                }
                &:nth-of-type(3)::after {
                    display: none;
                    @include breakpoint(small) {
                        display: block;
                    }
                }
            }
        }
        &--description {
            width: 100%;
            margin: 0 auto;
            padding: 32px;
            line-height: 16px;
            font-size: 1em;
            @include breakpoint(medium) {
                padding: 32px 0;
            }
        }
        &--singleParagraph {
            width: 100%;
            color: $color_infostrada;
            border: 2px solid $color_border;
            padding: 40px 32px;
            margin: 0 auto;
            font-size: 18px;
        }
        &--informa {
            padding: 0 32px;
            position: relative;
            .popup {
                position: relative;
                padding: 10px 0;
                width: 131px;
                @include breakpoint(medium) {
                    text-align: center;
                    margin: 0 auto;
                }
                a.link_popup {
                    padding-left: 25px;
                    cursor: pointer;
                    &:before {
                        color: $color_infostrada;
                        content: "i";
                        @include border-radius(50%);
                        border: 1px solid $color_infostrada;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        position: absolute;
                        top: 10px;
                        left: 0;
                    }
                    &:hover {
                        opacity: 0.5;
                        text-decoration: none;
                    }
                }
            }
            .offert_details {
                padding: 20px 0;
                @include breakpoint(medium) {
                    padding: 5px 0 10px;
                }
                .left_block {
                    float: left;
                    @include breakpoint(medium) {
                        text-align: center;
                        float: none;
                    }
                }
                .right_block {
                    float: right;
                    @include breakpoint(medium) {
                        float: none;
                        margin: 0 auto;
                        text-align: center;
                    }
                    .question {
                        float: left;
                        @include breakpoint(medium) {
                            float: none;
                            margin-top: 50px;
                        }
                    }
                    .link {
                        float: left;
                        @include breakpoint(medium) {
                            float: none;
                            margin-top: 10px;
                            margin-bottom: 30px;
                        }
                        a.call_to_costumer {
                            @include border-radius(10px);
                            border: 1px solid $color_infostrada;
                            padding: 7px 10px;
                            margin-left: 10px;
                            cursor: pointer;
                            text-transform: uppercase;
                            @include breakpoint(medium) {
                                margin-left: 0;
                            }
                            &:hover {
                                opacity: 0.5;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &__footer {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid $color_grey;
        margin-left: 32px;
        margin-right: 32px;
        &--copyWind {
            padding-top: 5px;
            @include breakpoint(small) {
                margin: 0 auto;
                text-align: center;
                padding-top: 20px;
                font-size: 11px;
            }
        }
        &--logoWind {
            float: right;
            @include breakpoint(small) {
                float: none;
                margin: 0 auto;
                text-align: center;
            }
        }
        &--copyTre {
            padding-top: 10px;
            @include breakpoint(small) {
                margin: 0 auto;
                text-align: center;
                padding-top: 20px;
                font-size: 11px;
            }
        }
        &--logoTre {
            float: right;
            @include breakpoint(small) {
                float: none;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}
