@font-face {
  font-family: "Trade Gothic Bold";
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("../fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("../fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("../fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("../fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }
@font-face {
  font-family: "Trade Gothic Light";
  src: url("../fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix");
  src: url("../fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix") format("eot"), url("../fonts/tradelicense/6de16bd6-1e13-400f-80e8-8f5c69d8a2b8.woff2") format("woff2"), url("../fonts/tradelicense/73c7abdc-45a3-42a3-a1af-f07d8a348917.woff") format("woff"), url("../fonts/tradelicense/73494c38-422a-4bae-9e2c-b86e7703c1b3.ttf") format("truetype"), url("../fonts/tradelicense/b84e9482-10dd-4d9d-8ef2-539fbc5eb441.svg#b84e9482-10dd-4d9d-8ef2-539fbc5eb441") format("svg"); }
@font-face {
  font-family: "Trade Gothic Condensed";
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix");
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix") format("eot"), url("../fonts/tradelicense/161bc4ba-4d6b-46ef-a715-b7f726c83392.woff2") format("woff2"), url("../fonts/tradelicense/0d2481b3-5cd5-4c55-86c1-272e605452e9.woff") format("woff"), url("../fonts/tradelicense/a55a8f4f-96c7-4ba2-885d-7a535db9c13c.ttf") format("truetype"), url("../fonts/tradelicense/da83841b-fd70-4379-bca2-f8963a040918.svg#da83841b-fd70-4379-bca2-f8963a040918") format("svg"); }
@font-face {
  font-family: "Trade Gothic Bold Condensed";
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix");
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix") format("eot"), url("../fonts/tradelicense/161bc4ba-4d6b-46ef-a715-b7f726c83392.woff2") format("woff2"), url("../fonts/tradelicense/0d2481b3-5cd5-4c55-86c1-272e605452e9.woff") format("woff"), url("../fonts/tradelicense/a55a8f4f-96c7-4ba2-885d-7a535db9c13c.ttf") format("truetype"), url("../fonts/tradelicense/da83841b-fd70-4379-bca2-f8963a040918.svg#da83841b-fd70-4379-bca2-f8963a040918") format("svg");
  font-weight: 700; }
@font-face {
  font-family: "Trade Gothic Condensed Italic";
  src: url("../fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix");
  src: url("../fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix") format("eot"), url("../fonts/tradelicense/5a871dd4-95c1-4157-af67-a012e7ba4358.woff2") format("woff2"), url("../fonts/tradelicense/847d5cf1-1a60-4418-9d5e-44927ff99235.woff") format("woff"), url("../fonts/tradelicense/2882b13c-d7fa-4698-bab1-4a01805326d8.ttf") format("truetype"), url("../fonts/tradelicense/1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7.svg#1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7") format("svg"); }
@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix");
  src: url("../fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("../fonts/tradelicense/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("../fonts/tradelicense/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("../fonts/tradelicense/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("../fonts/tradelicense/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg"); }
/*body {
    font-family: 'Play', sans-serif;
    background: $color_grey;
}*/
body {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Trade Gothic";
  color: #000;
  font-size: 14px; }

.clear {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.text_highlight {
  font-weight: bold; }

.landing_infostrada__containerMain {
  width: 100%;
  margin: 0 auto;
  position: relative; }
.landing_infostrada__container {
  width: 878px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .landing_infostrada__container {
      width: 100%; } }
.landing_infostrada__containerHero {
  width: 1024px;
  position: relative;
  padding: 19px 0;
  height: 530px;
  margin: 0 auto;
  left: -72px;
  background-color: #d6d6d6;
  /*background-image: url(../img/visore/visore_testimonial_wide.png);
  background-repeat: no-repeat;
  background-position: top left;*/ }
  @media (max-width: 768px) {
    .landing_infostrada__containerHero {
      width: 100%;
      height: auto;
      left: 0;
      padding: 20px 10px 30px; } }
.landing_infostrada__containerHero--tre {
  width: 1024px;
  position: relative;
  padding: 19px 0;
  height: 530px;
  margin: 0 auto;
  left: -72px;
  background-color: #153080;
  background-image: url(../img/visore/visore_bg_tre.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%; }
  @media (max-width: 480px) {
    .landing_infostrada__containerHero--tre {
      background-image: url(../img/visore/visore_bg_tre_mobile.jpg);
      background-size: 100% 100%; } }
  @media (max-width: 768px) {
    .landing_infostrada__containerHero--tre {
      width: 100%;
      height: auto;
      left: 0;
      padding: 20px 10px 30px; } }
.landing_infostrada__logo {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center; }
  .landing_infostrada__logo img {
    width: 100%;
    max-width: 218px; }
    @media (max-width: 400px) {
      .landing_infostrada__logo img {
        width: 50%; } }
.landing_infostrada__hero {
  width: 878px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .landing_infostrada__hero {
      width: 100%; } }
  .landing_infostrada__hero .left_block {
    float: left;
    width: 55%; }
    @media (max-width: 768px) {
      .landing_infostrada__hero .left_block {
        width: 100%;
        float: none; } }
    .landing_infostrada__hero .left_block .title {
      font-family: "Trade Gothic Bold Condensed";
      color: #153080;
      font-size: 85px;
      text-transform: uppercase; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .title {
          font-size: 75px;
          text-align: center; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .title {
          font-size: 46px; } }
    .landing_infostrada__hero .left_block .titleShadow {
      font-family: "Trade Gothic Bold";
      color: #fff;
      font-size: 69px;
      text-transform: uppercase;
      text-shadow: 0px 1px 8px black; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .titleShadow {
          font-size: 52px; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .titleShadow {
          font-size: 30px;
          padding-left: 20px; } }
    .landing_infostrada__hero .left_block .listDetails {
      font-family: "Trade Gothic Bold Condensed";
      color: #fff;
      font-size: 28px;
      text-transform: uppercase;
      text-shadow: 0px 1px 8px black; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .listDetails {
          font-size: 25px; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .listDetails {
          font-size: 16px; } }
    .landing_infostrada__hero .left_block .price {
      font-family: "Trade Gothic Bold";
      color: #153080;
      font-size: 93px;
      line-height: 61px;
      text-transform: uppercase; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .price {
          font-size: 80px;
          text-align: center; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .price {
          font-size: 60px; } }
    .landing_infostrada__hero .left_block .counter {
      padding: 5px 23px;
      margin-top: 36px;
      color: #153080;
      border: 2px solid #153080;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      width: 80%;
      text-transform: uppercase; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .counter {
          font-size: 12px;
          text-align: center;
          margin: 0 auto;
          padding: 5px;
          margin-top: 20px; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .counter {
          width: 100%;
          margin-top: 15px; } }
      .landing_infostrada__hero .left_block .counter .time {
        font-weight: bold;
        font-size: 25px; }
        @media (max-width: 480px) {
          .landing_infostrada__hero .left_block .counter .time {
            font-size: 15px; } }
  .landing_infostrada__hero .right_block {
    float: right;
    width: 45%; }
    @media (max-width: 768px) {
      .landing_infostrada__hero .right_block {
        width: 100%;
        float: none; } }
    .landing_infostrada__hero .right_block .image_block {
      float: right;
      top: 5px;
      position: relative;
      right: 30px; }
      @media (max-width: 768px) {
        .landing_infostrada__hero .right_block .image_block {
          left: 0;
          text-align: center;
          margin: 0 auto;
          top: 30px;
          float: none; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .right_block .image_block img {
          width: 75%; } }
    .landing_infostrada__hero .right_block .sticker_block {
      float: right;
      position: relative;
      top: 14px;
      right: 16px; }
      .landing_infostrada__hero .right_block .sticker_block .single_sticker {
        padding: 5px 0; }
.landing_infostrada__buttonAnchor {
  padding: 15px 30px;
  width: auto;
  margin: 10px 20px;
  background-color: #153080;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-align: center;
  display: none;
  cursor: pointer; }
  @media (max-width: 480px) {
    .landing_infostrada__buttonAnchor {
      display: block; } }
  .landing_infostrada__buttonAnchor a {
    font-family: "Trade Gothic";
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none; }
  .landing_infostrada__buttonAnchor:hover {
    opacity: 0.8; }
.landing_infostrada__checkCopertura {
  position: absolute;
  z-index: 999;
  height: 320px !important;
  /*.container {
      padding-left: 0;
      padding-right: 0;
  }*/ }
.landing_infostrada__contentSubFrame {
  position: relative;
  top: -150px; }
  @media (max-width: 768px) {
    .landing_infostrada__contentSubFrame {
      top: 20px; } }
@media (max-width: 910px) {
  .landing_infostrada__content {
    margin: 0 16px; } }
.landing_infostrada__content--treeParagraph {
  width: 100%;
  border: 2px solid #d9dfec;
  padding: 40px 0;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .landing_infostrada__content--treeParagraph {
      width: 100%;
      padding: 15px 0; } }
  .landing_infostrada__content--treeParagraph .listItem {
    position: relative;
    width: 33.33%;
    text-transform: uppercase;
    text-align: center;
    float: left;
    color: #153080;
    font-size: 20px; }
    @media (max-width: 768px) {
      .landing_infostrada__content--treeParagraph .listItem {
        width: 100%;
        float: none;
        padding: 20px 0;
        font-size: 16px; } }
    .landing_infostrada__content--treeParagraph .listItem::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2px;
      background-color: #eee; }
      @media (max-width: 768px) {
        .landing_infostrada__content--treeParagraph .listItem::after {
          left: calc(50% - 50px);
          right: calc(50% - 50px);
          height: 2px;
          bottom: 0;
          width: 100px; } }
    @media (max-width: 768px) {
      .landing_infostrada__content--treeParagraph .listItem:nth-of-type(1)::after {
        display: none; } }
    .landing_infostrada__content--treeParagraph .listItem:nth-of-type(3)::after {
      display: none; }
      @media (max-width: 768px) {
        .landing_infostrada__content--treeParagraph .listItem:nth-of-type(3)::after {
          display: block; } }
.landing_infostrada__content--description {
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  line-height: 16px;
  font-size: 1em; }
  @media (max-width: 910px) {
    .landing_infostrada__content--description {
      padding: 32px 0; } }
.landing_infostrada__content--singleParagraph {
  width: 100%;
  color: #153080;
  border: 2px solid #d9dfec;
  padding: 40px 32px;
  margin: 0 auto;
  font-size: 18px; }
  @media (max-width: 480px) {
    .landing_infostrada__content--singleParagraph {
      font-size: 15px; } }
.landing_infostrada__content--informa {
  padding: 0 32px;
  position: relative; }
  .landing_infostrada__content--informa .popup {
    position: relative;
    padding: 10px 0;
    width: 131px; }
    @media (max-width: 910px) {
      .landing_infostrada__content--informa .popup {
        text-align: center;
        margin: 0 auto; } }
    .landing_infostrada__content--informa .popup a.link_popup {
      padding-left: 25px;
      cursor: pointer; }
      .landing_infostrada__content--informa .popup a.link_popup:before {
        color: #153080;
        content: "i";
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        border: 1px solid #153080;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 0; }
      .landing_infostrada__content--informa .popup a.link_popup:hover {
        opacity: 0.5;
        text-decoration: none; }
  .landing_infostrada__content--informa .offert_details {
    padding: 20px 0; }
    @media (max-width: 910px) {
      .landing_infostrada__content--informa .offert_details {
        padding: 5px 0 10px; } }
    .landing_infostrada__content--informa .offert_details .left_block {
      float: left; }
      @media (max-width: 910px) {
        .landing_infostrada__content--informa .offert_details .left_block {
          text-align: center;
          float: none; } }
    .landing_infostrada__content--informa .offert_details .right_block {
      float: right; }
      @media (max-width: 910px) {
        .landing_infostrada__content--informa .offert_details .right_block {
          float: none;
          margin: 0 auto;
          text-align: center; } }
      .landing_infostrada__content--informa .offert_details .right_block .question {
        float: left; }
        @media (max-width: 910px) {
          .landing_infostrada__content--informa .offert_details .right_block .question {
            float: none;
            margin-top: 50px; } }
      .landing_infostrada__content--informa .offert_details .right_block .link {
        float: left; }
        @media (max-width: 910px) {
          .landing_infostrada__content--informa .offert_details .right_block .link {
            float: none;
            margin-top: 10px;
            margin-bottom: 30px; } }
        .landing_infostrada__content--informa .offert_details .right_block .link a.call_to_costumer {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          border: 1px solid #153080;
          padding: 7px 10px;
          margin-left: 10px;
          cursor: pointer;
          text-transform: uppercase; }
          @media (max-width: 910px) {
            .landing_infostrada__content--informa .offert_details .right_block .link a.call_to_costumer {
              margin-left: 0; } }
          .landing_infostrada__content--informa .offert_details .right_block .link a.call_to_costumer:hover {
            opacity: 0.5;
            text-decoration: none; }
.landing_infostrada__footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #eee;
  margin-left: 32px;
  margin-right: 32px; }
  .landing_infostrada__footer--copyWind {
    padding-top: 5px; }
    @media (max-width: 768px) {
      .landing_infostrada__footer--copyWind {
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
        font-size: 11px; } }
  .landing_infostrada__footer--logoWind {
    float: right; }
    @media (max-width: 768px) {
      .landing_infostrada__footer--logoWind {
        float: none;
        margin: 0 auto;
        text-align: center; } }
  .landing_infostrada__footer--copyTre {
    padding-top: 10px; }
    @media (max-width: 768px) {
      .landing_infostrada__footer--copyTre {
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
        font-size: 11px; } }
  .landing_infostrada__footer--logoTre {
    float: right; }
    @media (max-width: 768px) {
      .landing_infostrada__footer--logoTre {
        float: none;
        margin: 0 auto;
        text-align: center; } }

/*# sourceMappingURL=wd_tool.css.map */
