<div class="radio radio-primary">
	<input type="radio" id="radio1" checked="checked" />
	<label for="radio1"></label>	
</div>

<div class="radio radio-primary">
	<input type="radio" id="radio2" />
	<label for="radio2">Label</label>	
</div>

