<div class="form-group">
    <label for="{{textareaID}}">{{textareaLabel}}</label>
    <textarea class="form-control" id="#{{textareaID}}" rows="{{textareaRows}}" placeholder="{{textareaPlaceholder}}"></textarea>
</div>