

.landing_privati {
    &__visore2 {
         width: 100%;
         background-color: $color-lightBlue;
         -o-transition: all 0.45s ease-in-out;
         -moz-transition: all 0.45s ease-in-out;
         -ms-transition: all 0.45s ease-in-out;
         -webkit-transition: all 0.45s ease-in-out;
         .slick-current {
             padding-bottom: 30px;
         }
         &_container {
             width: 100%;
             max-width: 1024px;
             margin: 0 auto;
             position: relative;
             @include breakpoint(small) {
                 padding: 0 15px;
             }
         }
         &__tab {
             width: 30%;
             text-align: center;
             text-transform: uppercase;
             color: $color-standardText;
             padding: 23px 0px 0;
             margin: 0 auto 20px;
             margin-left: calc(50% - 128px);
             @include breakpoint(small) {
                 width: 100%;
             }
             .slick-current {
                 padding-bottom: 5px;
                 border-bottom: 1px solid white;
                 color: white;
             }
             &--title {
                 margin-right: 40px;
                 cursor: pointer;
                 font-size: 1em;
                 &:hover {
                     border-bottom: 1px solid white;
                     padding-bottom: 5px;
                 }
             }
         }
         &__half_block {
             position: relative;
             @include transition(all 0.45s ease-in-out);
             width: 50%;
             @include breakpoint(small) {
                 width: 100%;
             }
             &--right {
                 width: 48%;
                 position: relative;
             }
             .button {
                 max-width: 280px;
                 width: 100%;
                 margin: 0 auto 30px;
                 position: relative;
             }
             &--imageContainer {
                 position: absolute;
                 width: 100%;
                 left: 1%;
                 @include breakpoint(small) {
                     display: none;
                 }
             }
             .column_left {
                 width: 100%;
                 margin-left: 13px;
                 @include breakpoint(small) {
                  margin-left: 0;
                 }
             }
         }
         &__title {
             text-align: center;
             margin: 45px auto 0;
             line-height: 65px;
             font-size: 3.8em;
             letter-spacing: -0.6px;
             color: white;
             text-transform: uppercase;
             font-family: $weight-light;
         }
         &__text {
             text-align: center;
             width: 100%;
             margin: 6px auto 40px;
             font-size: 1.375em;
             letter-spacing: 0px;
             color: white;
             text-transform: uppercase;
             font-family: $weight-light;
         }
     }
    &__horizOffers {
         width: 100%;
         background-color: $color-lighterGrey;
         .container {
             width: 100%;
             max-width: 1024px;
             margin: 0 auto;
             position: relative;
             padding: 0 30px;
             -o-transition: all 0.45s ease-in-out;
             -moz-transition: all 0.45s ease-in-out;
             -ms-transition: all 0.45s ease-in-out;
             -webkit-transition: all 0.45s ease-in-out;
             @include breakpoint(small) {
                 padding: 0 15px;
             }
         }
         &--left {
             width: 45%;
             margin: 45px 0;
             float: left;
             @include breakpoint(small) {
                 width: 100%;
                 margin: 40px 0 0 0;
             }
             &_title {
                 font-family: $weight-light;
                 font-size: 3.125em;
                 letter-spacing: -0.4px;
                 color: $color-lightBlue;
                 width: 90%;
                 @include breakpoint(small) {
                 width: 100%;
             }
             }
             &_text {
                 font-family: $weight-light;
                 color: $color-standardText;
                 font-size: 1.1em;
                 line-height: 1.15em;
                 width: 90%;
                 @include breakpoint(small) {
                 width: 100%;
             }
             }
         }
         &--right {
             position: relative;
             float: left;
             width: 55%;
             height: 131px;
             margin: 45px 0;
             @include breakpoint(small) {
                 width: 100%;
                 margin: 20px 0 90px;
             }
             &--first {
                 float: left;
                 margin-top: 14px;
                 width: 21%;
                 text-align: center;
                 font-family: $weight-light;
                 color: $color-standardText;
                 @include breakpoint(small) {
                     width: 33%;
                 }
                 &:before {
                     background-color: #ccd1d9;
                     width: 1px;
                     content: "";
                     display: block;
                     position: absolute;
                     top: -7%;
                     left: -6%;
                     bottom: 0;
                     min-height: 1px;
                     @include breakpoint(small) {
                         top: 10%;
                         bottom: 32%;
                     }
                 }
                 .number {
                     font-size: 2.813em;
                 }
                 .detail {
                     font-size: 1em;
                     margin-top: -10px;
                 }
             }
             &--second {
                 float: left;
                 margin-top: 37px;
                 width: 23%;
                 letter-spacing: 0.7px;
                 text-align: center;
                 font-family: $weight-light;
                 color: $color-standardText;
                 @include breakpoint(small) {
                     width: 33%;
                 }
                 &:before {
                     background-color: #ccd1d9;
                     width: 1px;
                     content: "";
                     display: block;
                     position: absolute;
                     top: 15%;
                     bottom: 20%;
                     min-height: 1px;
                     @include breakpoint(small) {
                         top: 10%;
                         bottom: 32%;
                     }
                 }
                 .offer {
                     font-size: 1.250em;
                     text-transform: uppercase;
                 }
                 .detail {
                     font-size: 1em;
                     line-height: 1em;
                 }
             }
             &--third {
                 float: left;
                 margin-top: 14px;
                 width: 24%;
                 text-align: center;
                 font-family: $weight-light;
                 color: $color-standardText;
                 @include breakpoint(small) {
                     width: 33%;
                 }
                 &:before {
                     background-color: #ccd1d9;
                     width: 1px;
                     content: "";
                     display: block;
                     position: absolute;
                     top: 15%;
                     bottom: 20%;
                     min-height: 1px;
                     @include breakpoint(small) {
                         top: 10%;
                         bottom: 32%;
                     }
                 }
                 .number {
                     font-size: 2.813em;
                 }
                 .detail {
                     font-size: 1em;
                     margin-top: -9px;
                 }
             }
             &--bigPrice {
                 float: right;
                 width: 30%;
                 text-align: center;
                 font-family: $weight-light;
                 color: $color-lightBlue;
                 margin-top: 12px;
                 @include breakpoint(small) {
                     float: left;
                     width: 100%;
                 }
                 &:before {
                     background-color: #ccd1d9;
                     width: 1px;
                     content: "";
                     display: block;
                     position: absolute;
                     top: -8%;
                     right: 28%;
                     bottom: 0;
                     min-height: 1px;
                     @include breakpoint(small) {
                        content: none;
                     }
                 }
                 .price {
                     font-size: 5.625em;
                 }
                 .euro {
                     font-size: 0.667em;
                 }
             }
         }
     }
    
}
