.landing_header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    min-height: 79px;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #e5e5e5;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    .container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        .logo--wind {
            margin: 0.8rem 0;
            @include breakpoint (small) {
                margin: 0.8rem auto;
                display: block;
                float: none;
            }
        }
    }
}

.margin_top_landing {
    margin-top: 80px;
}

.landing_privati {
    .slider__dots {
        margin-top: 5px;
    }
    &__visore {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
        &__overflowing {
            overflow: hidden;
            background-color: $color-lighterGrey;
        }
        &__overflowingv4 {
            overflow: hidden;
            background-color: white;
        }
        .container_mid_row {
            padding-top: 50px;
            .column_left {
                float: left;
                min-height: 200px;
                @include breakpoint (small) {
                    width: 100%;
                }
            }
            .column_right {
                float: right;
                position: relative;
                right: 30px;
            }
            .column_rightv4 {
                float: right;
                position: relative;
                left: 5%;
                 @include breakpoint (small) {
                    left: 0;
                }
            }
        }
        @at-root #{&}__container {}
        @at-root #{&}__singleButton {}
        @at-root #{&}__image {
            height: 100%;
        }
        @at-root #{&}__half_block {
            position: relative;
            @include transition(all 0.45s ease-in-out);
            width: 50%;
            @include breakpoint(small) {
                width: 100%;
            }
            .button {
                max-width: 260px;
                width: 100%;
                margin: 12px auto 35px;
                position: relative;
            }
            &--imageContainer {
                position: absolute;
                width: 100%;
                right: 24%;
                @include breakpoint(small) {
                    display: none;
                }
                &--left {
                    position: absolute;
                    width: 100%;
                    top: 50px;
                    @include breakpoint(small) {
                        display: none;
                    }
                }
                &--leftv4 {
                    position: absolute;
                    width: 100%;
                    height: 385px;
                    top: 41px;
                    left: 4%;
                    @include breakpoint(small) {
                        display: none;
                    }
                }
            }
            &.image_block {
                position: relative;
                width: calc(50% - 50px);
            }
        }
        @at-root #{&}__mainContainer {
            position: relative;
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 30px;
            .offer_detail {
                margin-top: 15px;
                font-family: $weight-light;
                &__gigs {
                    font-family: $weight-bold;
                    color: $color-darkerGrey;
                    font-size: 1.750em;
                }
                &__offerDetail {
                    font-size: 1.750em;
                    margin-left: 5px;
                }
            }
            .priceRow {
                margin-top: 5px;
                font-family: $weight-light;
                .mainPrice {
                    color: $color-lightBlue;
                    font-size: 5.625em;
                }
                .euro {
                    color: $color-lightBlue;
                    margin-left: -25px;
                    font-size: 3.750em;
                }
            }
        }
        @at-root #{&}__coloredBg {
            width: 150%;
            height: 100%;
            position: absolute;
            @include transform(skew(-20deg));
            left: 59%;
            @include breakpoint(small) {
                display: none;
            }
            &--left {
                right: 50%;
                width: 150%;
                height: 100%;
                position: absolute;
                @include transform(skew(-20deg));
                background-color: $color-lightBlue;
                @include breakpoint(small) {
                    display: none;
                }
            }
        }
        @at-root #{&}__title {
            text-align: center;
            margin: 0 auto;
            line-height: 60px;
            font-size: 3.125em;
            color: $color-darkerGrey;
            font-family: $weight-light;
        }
        @at-root #{&}__text {
            text-align: center;
            width: 90%;
            margin: 13px auto;
            font-size: 1.125em;
            color: $color-darkerGrey;
            font-family: $weight-light;
        }
    }
    &__offers {
        line-height: 1.08;
        padding-bottom: 28px;
        &__container {
            -o-transition: all 0.45s ease-in-out;
            -moz-transition: all 0.45s ease-in-out;
            -ms-transition: all 0.45s ease-in-out;
            -webkit-transition: all 0.45s ease-in-out;
            max-width: 1024px;
            margin: 0 auto;
        }
        &__containerv4 {
            -o-transition: all 0.45s ease-in-out;
            -moz-transition: all 0.45s ease-in-out;
            -ms-transition: all 0.45s ease-in-out;
            -webkit-transition: all 0.45s ease-in-out;
            max-width: 1024px;
            margin: 40px auto 47px;
        }
        @at-root #{&}__tabs {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: $color-standardText;
            padding: 20px 15px 15px;
            @include breakpoint (small) {
                padding: 20px 15px;
            }
            &__container {
                max-width: 1024px;
                margin: 0 auto;
            }
            &--title {
                margin-right: 40px;
                cursor: pointer;
                padding-bottom: 5px;
                @include breakpoint (small) {
                    width: 100%;
                    display: block;
                    margin-top: 20px;
                }
                &:hover {
                    border-bottom: 1px solid $color-orange;
                    padding-bottom: 5px;
                }
                &.active {
                    padding-bottom: 5px;
                    border-bottom: 1px solid $color-orange;
                    color: $color-orange;
                }
            }
        }
        &--title {
            font-size: 1em;
            text-transform: uppercase;
        }
        &__showMore {
            color: $color-orange;
            font-size: 1.250em;
            text-align: center;
            text-transform: uppercase;
            font-family: $weight-light;
            margin-top: 50px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        @at-root #{&}__single {
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            display: none;
            &:nth-child(-n+3) {
                display: block;
            }
            &.item {
                position: relative;
                &:after {
                    background-color: #ccd1d9;
                    width: 1px;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 15%;
                    bottom: 7%;
                    right: 0%;
                    min-height: 1px;
                }
            }
            &--bigAmount {
                font-size: 1.125em;
                line-height: 20px;
                font-family: $weight-light;
                margin-bottom: 15px;
                line-height: 1.2em;
                b {
                    font-size: 1em;
                    font-family: $weight-bold;
                }
            }
            &--title {
                margin-top: 40px;
                height: 65px;
                color: $color-lightBlue;
                font-size: 26px;
                font-family: $weight-normal;
            }
            &--disclaimer {
                font-size: 0.688em;
                font-family: $weight-light;
                margin: 10px 0px 30px 0px;
                height: 33px;
                overflow: hidden;
            }
            &--price_discounted {
                font-size: 1.500em;
                color: $color-standardText;
                font-family: $weight-light;
                position: relative;
                height: 25px;
                padding-top: 2px;
                overflow: hidden;
                &::after {
                    border-bottom: 1px solid #000;
                    content: "";
                    left: 0;
                    margin-top: calc(0.125em / 2 * -1);
                    position: absolute;
                    left: calc(50% - 45px);
                    right: calc(50% - 45px);
                    top: 50%;
                }
                .currency {
                    font-size: 0.875em;
                }
            }
            &--mainPrice {
                font-size: 3.250em;
                color: $color-lightBlue;
                font-family: $weight-light;
                .currency {
                    font-size: 0.731em;
                    margin-left: -10px;
                }
            }
            &--recurrency {
                font-family: $weight-light;
                font-size: 0.813em;
                height: 15px;
                margin-bottom: 10px;
            }
            &__placeholder {
                display: none;
            }
        }
    }
    &__banner {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
        &__overflowing {
            overflow: hidden;
            &--left {
                background-color: $color-lighterGrey;
            }
            &--right {
                background-color: $color-lightGrey;
            }
        }
        .container_mid_row {
            padding-top: 35px;
            .column_left {
                margin-left: 22%;
                text-align: center;
                float: left;
                min-height: 200px;
                @include breakpoint (small) {
                    margin-left: 0;
                    width: 100%;
                    img {
                        width: 100%;
                        max-width: 300px;
                    }
                }
                img {
                    margin-top: 10px;
                    margin-left: 5px;
                }
            }
            .column_right {
                float: right;
                position: relative;
                right: 80px;
                text-align: center;
                @include breakpoint(small) {
                    right: 0;
                    float: none;
                }
            }
        }
        @at-root #{&}__mainContainer {
            position: relative;
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 30px;
            @include breakpoint (small) {
                padding: 0 15px;
            }
            .offer_detail {
                margin-top: 20px;
                font-family: $weight-light;
                &__price {
                    font-family: $weight-bold;
                    color: $color-darkerGrey;
                    font-size: 1.750em;
                    line-height: 1.375em;
                    margin-left: 5px;
                }
                &__offerDetail {
                    font-size: 1.750em;
                    line-height: 23px;
                }
                &__subtle {
                    font-size: 1.375em;
                    line-height: 9px;
                }
                &__ribbonSale {
                    margin: 25px auto 0;
                    padding: 7px 0 5px;
                    color: white;
                    font-family: $weight-bold;
                    font-size: 1.375em;
                    max-width: 250px;
                    background-color: $color-lightBlue;
                }
            }
            .priceRow {
                font-family: $weight-light;
                margin-top: 15px;
                .mainPrice {
                    color: $color-darkerGrey;
                    font-size: 5.625em;
                }
                .euro {
                    color: $color-darkerGrey;
                    margin-left: -25px;
                    font-size: 3.750em;
                }
            }
        }
        @at-root #{&}__text {
            text-align: center;
            width: 100%;
            margin: 20px auto;
            font-size: 1.125em;
            color: $color-darkerGrey;
            font-family: $weight-light;
        }
        @at-root #{&}__singleButton {}
        @at-root #{&}__half_block {
            position: relative;
            @include transition(all 0.45s ease-in-out);
            width: 50%;
            @include breakpoint(small) {
                width: 100%;
            }
            .linkable {
                display: block;
                width: 100%;
                font-size: 1.125em;
                font-family: $weight-bold;
                color: $color-standardText;
                text-transform: uppercase;
                margin: 0 auto 37px;
                position: relative;
            }
            &--imageContainer {
                position: absolute;
                width: 100%;
                right: 3%;
                &--left {
                    position: absolute;
                    top: 35px;
                    width: 100%;
                    left: 4%;
                    @include breakpoint(small) {
                        display: none;
                    }
                }
                @include breakpoint(small) {
                    display: none;
                }
            }
            &.image_block {
                position: relative;
                width: 50%;
            }
        }
    }
    &__store_locator {
        &_container {
            width: 100%;
            max-width: 1024px;
            margin: 54px auto;
            padding: 0 30px;
            @include breakpoint(small) {
                padding: 0 15px;
            }
            -o-transition: all 0.45s ease-in-out;
            -moz-transition: all 0.45s ease-in-out;
            -ms-transition: all 0.45s ease-in-out;
            -webkit-transition: all 0.45s ease-in-out;
        }
        &--title {
            font-family: $weight-light;
            font-size: 2.500em;
            color: $color-standardText;
        }
        &--subtitle {
            margin: 10px auto 20px;
            font-family: $weight-bold;
            font-size: 1em;
            color: $color-orange;
        }
        &--text {
            font-family: $weight-light;
            font-size: 0.875em;
            color: $color-standardText;
            width: 60%;
            margin: 0 auto;
            @include breakpoint(small) {
                width: 100%;
                max-width: 400px;
            }
        }
        &--search {
            margin: 45px 0;
            padding: 0 50px;
            @include breakpoint(small) {
                padding: 0;
            }
            &_bar {
                float: left;
                width: 88%;
                height: 50px;
                padding-left: 40px;
                @include breakpoint(small) {
                    width: 78%;
                    padding-left: 0;
                }
                .search_input {
                    height: 100%;
                    background-image: url("../img/icons-interface/icon_buscadormap.jpg");
                    background-position: 0.7rem center;
                    background-repeat: no-repeat;
                    padding-left: 3em;
                }
            }
            &_btn {
                width: 10%;
                float: right;
                margin-left: 2%;
                height: 50px;
                @include breakpoint(small) {
                    width: 20%;
                }
                .button--searchButton {
                    background-image: url('../img/icons-customer-care/customerCare_sprite.png');
                    background-repeat: no-repeat;
                    background-position: 20px -191px;
                    margin: 0;
                    max-width: 65px;
                    height: 100%;
                    @include breakpoint(small) {
                        background-position: calc(5vw + 20%) -191px;
                    }
                }
            }
        }
    }
    &__social {
        .container {
            width: 100%;
            max-width: 1024px;
            margin: 57px auto 52px;
            padding: 0 30px;
            @include breakpoint(small) {
                padding: 0 15px;
            }
            -o-transition: all 0.45s ease-in-out;
            -moz-transition: all 0.45s ease-in-out;
            -ms-transition: all 0.45s ease-in-out;
            -webkit-transition: all 0.45s ease-in-out;
        }
        &--title {
            font-family: $weight-light;
            font-size: 2.500em;
            margin-bottom: 15px;
            color: $color-standardText;
        }
        &--text {
            font-family: $weight-light;
            font-size: 0.875em;
            color: $color-standardText;
            width: 53%;
            margin: 0 auto 25px;
            @include breakpoint(small) {
                width: 100%;
                max-width: 400px;
            }
        }
        &--icons {
            position: relative;
            margin: 40px auto 0;
            width: 100%;
            &_first_row,
            &_second_row {
                width: 50%;
                float: left;
                //     @include breakpoint(small) {
                //     width: 100%;
                //     margin-top:15px;
                // }
            }
            &--right {
                float: right;
                @include breakpoint(small) {
                    // left: 15%;
                    // position: relative;
                }
                &--left {
                    @include breakpoint(small) {
                        // left: 7%;
                        // position: relative;
                    }
                }
            }
            .gplus {
                margin-right: 4em;
                background: url('../img/social/social_sprite.png') no-repeat;
                width: 87px;
                height: 87px;
                background-position: 0 0;
                float: left;
                @include breakpoint(small) {
                    float: right;
                    margin-right: 2em;
                    margin-top: 15px;
                }
            }
            .youtube {
                margin-right: 2em;
                background: url('../img/social/social_sprite.png') no-repeat;
                width: 87px;
                height: 87px;
                background-position: 0 -97px;
                float: left;
                @include breakpoint(small) {
                    float: right;
                    margin-right: 2em;
                    margin-top: 15px;
                }
            }
            .fb {
                margin-left: 2em;
                background: url('../img/social/social_sprite.png') no-repeat;
                width: 87px;
                height: 87px;
                background-position: 0 -194px;
                float: left;
                @include breakpoint(small) {
                    margin-left: 2em;
                    margin-top: 15px;
                }
            }
            .twitter {
                margin-left: 4em;
                background: url('../img/social/social_sprite.png') no-repeat;
                width: 87px;
                height: 87px;
                background-position: 0 -291px;
                float: left;
                @include breakpoint(small) {
                    margin-left: 2em;
                    margin-top: 15px;
                }
            }
        }
    }
    &__download {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
        &__tripleContainer {
            padding-bottom: 85px;
            @include breakpoint (small) {
                font-size: 14px;
            }
        }
        &__icon {
            margin: 45px auto 0 auto;
            &--findStore {
                background: url('../img/landing/download.png') no-repeat 0 0;
                width: 55px;
                height: 55px;
            }
            &--findDevice {
                background: url('../img/landing/pdf.png') no-repeat 0 0;
                width: 55px;
                height: 55px;
            }
            &--findCoverage {
                background: url('../img/landing/download.png') no-repeat 0 0;
                width: 55px;
                height: 55px;
            }
        }
        &__find {
            &--Store {}
            &--title {
                font-family: $weight-bold;
                font-size: 1em;
                margin-bottom: 20px;
                margin-top: 32px;
            }
            &--Subtitle {
                font-family: $weight-light;
                font-size: 0.87em;
                margin-bottom: 25px;
                height: 60px;
            }
        }
        &__sameHeight_container {
            height: 60px;
            margin-bottom: 20px;
        }
    }
    &__info {
        .showcase_accordions_block {
            padding: 0 30px;
            li.showcase_accordions_block__single {
                padding: 22px 0 16px 8px;
                &:last-of-type {
                    padding-bottom: 16px;
                    border-bottom: 0;
                }
                i {
                    right: 14px;
                }
            }
        }
        .container {
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
            -o-transition: all 0.45s ease-in-out;
            -moz-transition: all 0.45s ease-in-out;
            -ms-transition: all 0.45s ease-in-out;
            -webkit-transition: all 0.45s ease-in-out;
        }
        .title {
            font-family: $weight-light;
            font-size: 1.875em;
            padding: 0px 0 19px 27px;
        }
    }
    &__footer {
        margin-top: 40px;
        width: 100%;
        background-color: $color-darkerGrey;
        padding: 1.429rem 0 1.071rem 0;
        color: white;
        text-align: center;
        font-size: 0.85rem;
        font-family: $weight-light;
    }
}

@media all and(min-width: 901px) and (max-width: 1000px) {
    .landing_privati {
        &__visore {
            &__half_block {
                width: calc(50% - 50px);
                &--imageContainer {
                    right: 32%;
                }
                 &--imageContainer--leftv4 {
                    top: 86px;
                    left: -15%;
                }
            }
        }
        &__banner {
            &__half_block {
                width: calc(50% - 50px);
                .container_mid_row {
                    .column_right {
                        right: 0;
                    }
                }
                &--imageContainer {
                    left: 10%;
                    &--left {
                        left: 0;
                    }
                }
            }
        }
    }
}

@media all and(min-width: 768px) and (max-width: 900px) {
    .landing_privati {
        &__visore {
            &__half_block {
                width: calc(50% - 50px);
                .container_mid_row {
                    
                }
                &--imageContainer {
                    right: 32%;
                }
                &--imageContainer--leftv4 {
                    top: 86px;
                    left: -30%;
                }
            }
        }
        &__banner {
            &__half_block {
                width: calc(50% - 50px);
                .container_mid_row {
                    .column_right {
                        right: 0;
                    }
                    
                }
                &--imageContainer {
                    left: 10%;
                    &--left {
                        left: -40%;
                    }
                }
            }
        }
    }
}
