/* spritemapper.output_css = style-sprited.css
   spritemapper.output_image = ../img/output.png
 */
@charset "UTF-8";
/* CSS Document */
@import "reset.css";
@import "grid.css";
@import "text.css";

body, html 
{
	margin: 0;
	padding: 0;
}

html 
{
    overflow-x:hidden;
}
body 
{
    overflow:hidden;
    font:12px/15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.container, .content
{
    margin: 0px;
    padding: 0px;
}

h2.title
{
    background: url('../img/UIelements_header-generic.png');
    width: 790px;
    height: 70px;
    text-align: center;
    height: 70px;
    color: #fff;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 45px;
    text-shadow: 0px 0px 15px black;
    font-weight: bold;
}
div.subHeader
{
  margin: 25px 0 15px;
}
div.disclamer
{
    margin: 25px 0 15px;
}
div.subHeader p,
div.disclamer p
{
    color: #999;
    font-size: 17px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0;
}
.amiamo,
.nonAmiamo {
  background: url('../img/UIelements_netiquette-box_bg.png');
  height: 350px;
  width: 390px;
}
.amiamo h3,
.nonAmiamo h3
{
    font-size: 20px;
    text-transform: uppercase;
    color: #e97330;
    margin: 10px 0 10px 0;
    line-height: 80px;
    height: 80px;
    padding: 0px 0px 0px 115px;
}
.amiamo h3 {
   background: transparent url('../img/UIelements_netiquette-thumbup.png') no-repeat 25px top;
}
.nonAmiamo h3 {
   background: transparent url('../img/UIelements_netiquette-thumbdown.png') no-repeat 25px top;
   color: #888;
}
.amiamo p,
.nonAmiamo p
{
    margin-bottom: 10px;
}
.amiamo ul,
.nonAmiamo ul
{
    margin: 0 15px 0 18px;
}
.amiamo ul {
  list-style: circle url("../img/UIelements_netiquette-orangebullet.png");
}
.nonAmiamo ul {
  list-style: circle url("../img/UIelements_netiquette-greybullet.png");
}
.amiamo ul li,
.nonAmiamo ul li
{
    margin: 0px 0px 5px 55px;
    color: #444;
    padding-left: 10px;
}
a.cta
{
    text-align: center;
    background: url('../img/UIelements_netiquette-mainbutton_inactive.png');
    width: 578px;
    height: 66px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 0px;
    display: block;
    text-decoration: none;
}
a.cta:hover
{
    background: url('../img/UIelements_netiquette-mainbutton_active.png');
    width: 578px;
    height: 66px;
    text-decoration: none;
}