/*<div class="skin_main">
	<div class="container_skin">
		<a href="#"><img class="master_skin" src="http://playalways.github.io/BaseDomination_2.png"/></a>
		
	</div>
	<div class="container_skin_buttons">
		<a href="#"><img class="first_logo_skin" src="http://playalways.github.io/googleplay.png"/></a>
		<a href="#"><img class="second_logo_skin" src="http://playalways.github.io/appstore.png"/></a>
	</div>
</div>

<div class="skin_main"><div class="container_skin"><a href="#"><img class="master_skin" src="http://127.0.0.1:8887/BaseDomination_2.png"/></a></div><div class="container_skin_buttons"><a href="#"><img class="first_logo_skin" src="http://127.0.0.1:8887/googleplay.png"/></a><a href="#"><img class="second_logo_skin" src="http://127.0.0.1:8887/appstore.png"/></a></div></div>

*/

.content_index{
	z-index: 100;
	position: relative;
}

.skin_main .master_skin{
    position: absolute;
    z-index: 50;
    width: 1920px;
    left: calc(50% - 960px);
  }
.container_skin_buttons{
	position: relative;
	width: 950px;
	margin: 0 auto;
}
.skin_main + .header-wrapper-bottom{
	margin-top: 90px;
	z-index: 100;
}

.first_logo_skin{
	right: 160px;
	top: 20px;
    position: absolute;
    z-index: 150;
}

.second_logo_skin{
	top: 20px;
	right: 0px;
    position: absolute;
    z-index: 150;    
}

