

.content_index{
	z-index: 100;
	position: relative;
}

.skin_main .master_skin{
    position: absolute;
    z-index: 50;
    width: 1920px;
    left: calc(50% - 960px);
  }
.container_skin_buttons{
	position: relative;
	width: 950px;
	margin: 0 auto;
}
.skin_main + .header-wrapper-bottom{
	margin-top: 90px;
	z-index: 100;
}

.first_logo_skin{
	right: 160px;
	top: 20px;
    position: absolute;
    z-index: 150;
}

.second_logo_skin{
	top: 20px;
	right: 0px;
    position: absolute;
    z-index: 150;    
}

