/*<div class="skin_main">
	<div class="container_skin">
		<img class="master_skin" src="http://127.0.0.1:8887/BaseDomination_2.png"/>
		
	</div>
	<div class="container_skin_buttons">
		<img class="first_logo_skin" src="http://127.0.0.1:8887/googleplay.png"/>	
		<img class="second_logo_skin" src="http://127.0.0.1:8887/appstore.png"/>
	</div>
</div>*/


.skin_main .master_skin{
    position: absolute;
    z-index: -100;
    width: 1920px;
    left: calc(50% - 960px);
  }
.container_skin_buttons{
	position: relative;
	width: 950px;
	margin: 0 auto;
}
.skin_main + .header-wrapper-bottom{
	margin-top: 90px;
}

.first_logo_skin{
	right: 160px;
	top: 20px;
    position: absolute;
}

.second_logo_skin{
	top: 20px;
	right: 0px;
    position: absolute;
}

