<div class="skin_main">
	<div class="container_skin">
		<img class="master_skin" src="http://127.0.0.1:8887/Domination.jpg"/>
		
	</div>
	<div class="container_skin_buttons">
		<img class="first_logo_skin" src="//www.wind.it/fileadmin/Materiale/Immagini/Loghi/infostrada_footer_2014.jpg"/>	
		<img class="second_logo_skin" src="//www.wind.it/fileadmin/Materiale/Immagini/Loghi/infostrada_footer_2014.jpg"/>
	</div>
</div>


.skin_main .master_skin{
    position: absolute;
    z-index: -100;
    width: 1425px;
    left: calc(50% - 712px);
  }

.skin_main + .header-wrapper-bottom{
	margin-top: 70px;
}

.first_logo_skin{
	right: 180px;
    position: absolute;
}

.second_logo_skin{
	right: 30px;
    position: absolute;
}