@font-face {
  font-family: "Trade Gothic Bold";
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("../fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("../fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("../fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("../fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }
@font-face {
  font-family: "Trade Gothic Light";
  src: url("../fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix");
  src: url("../fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix") format("eot"), url("../fonts/tradelicense/6de16bd6-1e13-400f-80e8-8f5c69d8a2b8.woff2") format("woff2"), url("../fonts/tradelicense/73c7abdc-45a3-42a3-a1af-f07d8a348917.woff") format("woff"), url("../fonts/tradelicense/73494c38-422a-4bae-9e2c-b86e7703c1b3.ttf") format("truetype"), url("../fonts/tradelicense/b84e9482-10dd-4d9d-8ef2-539fbc5eb441.svg#b84e9482-10dd-4d9d-8ef2-539fbc5eb441") format("svg"); }
@font-face {
  font-family: "Trade Gothic Condensed";
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix");
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix") format("eot"), url("../fonts/tradelicense/161bc4ba-4d6b-46ef-a715-b7f726c83392.woff2") format("woff2"), url("../fonts/tradelicense/0d2481b3-5cd5-4c55-86c1-272e605452e9.woff") format("woff"), url("../fonts/tradelicense/a55a8f4f-96c7-4ba2-885d-7a535db9c13c.ttf") format("truetype"), url("../fonts/tradelicense/da83841b-fd70-4379-bca2-f8963a040918.svg#da83841b-fd70-4379-bca2-f8963a040918") format("svg"); }
@font-face {
  font-family: "Trade Gothic Bold Condensed";
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix");
  src: url("../fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix") format("eot"), url("../fonts/tradelicense/161bc4ba-4d6b-46ef-a715-b7f726c83392.woff2") format("woff2"), url("../fonts/tradelicense/0d2481b3-5cd5-4c55-86c1-272e605452e9.woff") format("woff"), url("../fonts/tradelicense/a55a8f4f-96c7-4ba2-885d-7a535db9c13c.ttf") format("truetype"), url("../fonts/tradelicense/da83841b-fd70-4379-bca2-f8963a040918.svg#da83841b-fd70-4379-bca2-f8963a040918") format("svg");
  font-weight: 700; }
@font-face {
  font-family: "Trade Gothic Condensed Italic";
  src: url("../fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix");
  src: url("../fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix") format("eot"), url("../fonts/tradelicense/5a871dd4-95c1-4157-af67-a012e7ba4358.woff2") format("woff2"), url("../fonts/tradelicense/847d5cf1-1a60-4418-9d5e-44927ff99235.woff") format("woff"), url("../fonts/tradelicense/2882b13c-d7fa-4698-bab1-4a01805326d8.ttf") format("truetype"), url("../fonts/tradelicense/1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7.svg#1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7") format("svg"); }
@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix");
  src: url("../fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("../fonts/tradelicense/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("../fonts/tradelicense/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("../fonts/tradelicense/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("../fonts/tradelicense/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg"); }
body {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Trade Gothic";
  color: #000;
  font-size: 14px; }

.clear {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.text_highlight {
  font-weight: bold; }

.landing_infostrada__containerMain {
  width: 100%;
  margin: 0 auto;
  position: relative; }
.landing_infostrada__container {
  width: 100%;
  max-width: 878px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .landing_infostrada__container {
      width: 100%; } }
.landing_infostrada__containerHero {
  width: 100%;
  max-width: 1024px;
  position: relative;
  padding: 19px 0;
  height: 530px;
  margin: 0 auto;
  background-color: #d6d6d6;
  /*background-image: url(../img/visore/visore_testimonial_wide.png);
  background-repeat: no-repeat;
  background-position: top left;*/ }
  @media (max-width: 768px) {
    .landing_infostrada__containerHero {
      width: 100%;
      height: auto;
      left: 0;
      padding: 20px 10px 30px; } }
.landing_infostrada__containerHero--tre {
  width: 1024px;
  position: relative;
  padding: 19px 0;
  height: 530px;
  margin: 0 auto;
  left: -72px;
  background-color: #153080;
  background-image: url(../img/visore/visore_bg_tre.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%; }
  @media (max-width: 480px) {
    .landing_infostrada__containerHero--tre {
      background-image: url(../img/visore/visore_bg_tre_mobile.jpg);
      background-size: 100% 100%; } }
  @media (max-width: 768px) {
    .landing_infostrada__containerHero--tre {
      width: 100%;
      height: auto;
      left: 0;
      padding: 20px 10px 30px; } }
.landing_infostrada__logo {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center; }
  .landing_infostrada__logo img {
    width: 100%;
    max-width: 218px; }
    @media (max-width: 400px) {
      .landing_infostrada__logo img {
        width: 50%; } }
.landing_infostrada__hero {
  width: 100%;
  max-width: 878px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .landing_infostrada__hero {
      width: 100%; } }
  .landing_infostrada__hero .left_block {
    float: left;
    width: 55%;
    position: relative; }
    @media (max-width: 768px) {
      .landing_infostrada__hero .left_block {
        width: 100%;
        float: none;
        left: 0; } }
    .landing_infostrada__hero .left_block .title {
      font-family: "Trade Gothic Bold Condensed";
      color: #153080;
      font-size: 85px;
      text-transform: uppercase; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .title {
          font-size: 75px;
          text-align: center; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .title {
          font-size: 46px; } }
    .landing_infostrada__hero .left_block .titleShadow {
      font-family: "Trade Gothic Bold";
      color: #fff;
      font-size: 69px;
      text-transform: uppercase;
      text-shadow: 0px 1px 8px black;
      -webkit-text-shadow: 0px 1px 8px black;
      -moz-text-shadow: 0px 1px 8px black; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .titleShadow {
          font-size: 52px; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .titleShadow {
          font-size: 30px;
          padding-left: 20px; } }
    .landing_infostrada__hero .left_block .listDetails {
      font-family: "Trade Gothic Bold Condensed";
      color: #fff;
      font-size: 28px;
      text-transform: uppercase;
      text-shadow: 0px 1px 8px black;
      -webkit-text-shadow: 0px 1px 8px black;
      -moz-text-shadow: 0px 1px 8px black; }
      .landing_infostrada__hero .left_block .listDetails ul {
        padding-left: 0px;
        margin-top: 10px;
        margin-bottom: 0px; }
        .landing_infostrada__hero .left_block .listDetails ul li {
          position: relative;
          overflow: hidden;
          list-style: none;
          padding-left: 25px;
          line-height: 1.35em;
          margin: 0 0 .5em 0; }
          @media (max-width: 480px) {
            .landing_infostrada__hero .left_block .listDetails ul li {
              padding-left: 30px; } }
          .landing_infostrada__hero .left_block .listDetails ul li:before {
            background: #fff;
            overflow: hidden;
            list-style: none;
            content: "";
            position: absolute;
            top: 15px;
            left: 0;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-clip: padding-box;
            /* stops bg color from leaking outside the border: */
            box-shadow: 0px 1px 8px black;
            -webkit-box-shadow: 0px 1px 8px black;
            -moz-box-shadow: 0px 1px 8px black; }
            @media (max-width: 480px) {
              .landing_infostrada__hero .left_block .listDetails ul li:before {
                top: 8px;
                left: 15px;
                width: 5px;
                height: 5px; } }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .listDetails {
          font-size: 25px; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .listDetails {
          font-size: 16px; } }
    .landing_infostrada__hero .left_block .price {
      font-family: "Trade Gothic Bold";
      color: #153080;
      font-size: 93px;
      line-height: 61px;
      text-transform: uppercase; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .price {
          font-size: 80px;
          text-align: center; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .price {
          font-size: 60px; } }
    .landing_infostrada__hero .left_block .counter {
      padding: 5px 23px;
      margin-top: 36px;
      color: #153080;
      border: 2px solid #153080;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      width: 80%;
      text-transform: uppercase; }
      @media (max-width: 910px) {
        .landing_infostrada__hero .left_block .counter {
          font-size: 12px;
          text-align: center;
          margin: 0 auto;
          padding: 5px;
          margin-top: 20px; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .left_block .counter {
          width: 100%;
          margin-top: 15px; } }
      .landing_infostrada__hero .left_block .counter .time {
        font-weight: bold;
        font-size: 25px; }
        @media (max-width: 480px) {
          .landing_infostrada__hero .left_block .counter .time {
            font-size: 15px; } }
  .landing_infostrada__hero .right_block {
    float: right;
    width: 45%; }
    @media (max-width: 768px) {
      .landing_infostrada__hero .right_block {
        width: 100%;
        float: none; } }
    .landing_infostrada__hero .right_block .image_block {
      float: right;
      top: 5px;
      position: relative;
      right: 30px; }
      @media (max-width: 768px) {
        .landing_infostrada__hero .right_block .image_block {
          left: 0;
          text-align: center;
          margin: 0 auto;
          top: 30px;
          float: none; } }
      @media (max-width: 480px) {
        .landing_infostrada__hero .right_block .image_block img {
          width: 75%;
          max-width: 309px; } }
    .landing_infostrada__hero .right_block .sticker_block {
      float: right;
      position: relative;
      top: 14px;
      right: 10%; }
      .landing_infostrada__hero .right_block .sticker_block .single_sticker {
        padding: 5px 0; }
.landing_infostrada__buttonAnchor {
  padding: 15px 30px;
  width: auto;
  margin: 10px 18px;
  background-color: #153080;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-align: center;
  display: none;
  cursor: pointer; }
  @media (max-width: 480px) {
    .landing_infostrada__buttonAnchor {
      display: block; } }
  .landing_infostrada__buttonAnchor a {
    font-family: "Trade Gothic";
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none; }
  .landing_infostrada__buttonAnchor:hover {
    opacity: 0.8; }
.landing_infostrada__checkCopertura {
  position: absolute;
  z-index: 999;
  /*.container {
      padding-left: 0;
      padding-right: 0;
  }*/ }
.landing_infostrada__contentSubFrame {
  position: relative;
  top: -150px; }
  @media (max-width: 768px) {
    .landing_infostrada__contentSubFrame {
      top: 20px; } }
@media (max-width: 910px) {
  .landing_infostrada__content {
    margin: 0 16px; } }
.landing_infostrada__content--treeParagraph {
  width: 100%;
  border: 2px solid #d9dfec;
  padding: 40px 0;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .landing_infostrada__content--treeParagraph {
      width: 100%;
      padding: 15px 0; } }
  .landing_infostrada__content--treeParagraph .listItem {
    position: relative;
    width: 33.33%;
    text-transform: uppercase;
    text-align: center;
    float: left;
    color: #153080;
    font-size: 20px;
    padding: 0 20px; }
    @media (max-width: 768px) {
      .landing_infostrada__content--treeParagraph .listItem {
        width: 100%;
        float: none;
        padding: 20px;
        font-size: 16px; } }
    .landing_infostrada__content--treeParagraph .listItem::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2px;
      background-color: #eee; }
      @media (max-width: 768px) {
        .landing_infostrada__content--treeParagraph .listItem::after {
          left: calc(50% - 50px);
          right: calc(50% - 50px);
          height: 2px;
          bottom: 0;
          width: 100px; } }
    @media (max-width: 768px) {
      .landing_infostrada__content--treeParagraph .listItem:nth-of-type(1)::after {
        display: none; } }
    .landing_infostrada__content--treeParagraph .listItem:nth-of-type(3)::after {
      display: none; }
      @media (max-width: 768px) {
        .landing_infostrada__content--treeParagraph .listItem:nth-of-type(3)::after {
          display: block; } }
.landing_infostrada__content--description {
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  line-height: 16px;
  font-size: 1.1em;
  line-height: 1.3;
  font-family: "Trade Gothic Condensed"; }
  @media (max-width: 910px) {
    .landing_infostrada__content--description {
      padding: 32px 0; } }
.landing_infostrada__content--singleParagraph {
  width: 100%;
  color: #153080;
  border: 2px solid #d9dfec;
  padding: 40px 32px;
  margin: 0 auto;
  font-size: 18px; }
  @media (max-width: 480px) {
    .landing_infostrada__content--singleParagraph {
      font-size: 15px; } }
.landing_infostrada__content--informa {
  padding: 0 32px;
  position: relative; }
  .landing_infostrada__content--informa .popup {
    position: relative;
    padding: 10px 0;
    width: 170px; }
    @media (max-width: 910px) {
      .landing_infostrada__content--informa .popup {
        text-align: center;
        margin: 0 auto; } }
    .landing_infostrada__content--informa .popup a.link_popup {
      padding-left: 30px;
      cursor: pointer;
      font-size: 18px;
      color: #153080; }
      @media (max-width: 480px) {
        .landing_infostrada__content--informa .popup a.link_popup {
          font-size: 16px;
          padding-left: 20px; } }
      .landing_infostrada__content--informa .popup a.link_popup:before {
        color: #153080;
        content: "i";
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        border: 1px solid #153080;
        width: 25px;
        height: 25px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 0; }
        @media (max-width: 480px) {
          .landing_infostrada__content--informa .popup a.link_popup:before {
            width: 20px;
            height: 20px; } }
      .landing_infostrada__content--informa .popup a.link_popup:hover {
        opacity: 0.5;
        text-decoration: none; }
  .landing_infostrada__content--informa .offert_details {
    padding: 10px 0 30px; }
    @media (max-width: 910px) {
      .landing_infostrada__content--informa .offert_details {
        padding: 5px 0 10px; } }
    .landing_infostrada__content--informa .offert_details .left_block {
      float: left;
      font-size: 18px; }
      @media (max-width: 910px) {
        .landing_infostrada__content--informa .offert_details .left_block {
          text-align: center;
          float: none; } }
      @media (max-width: 480px) {
        .landing_infostrada__content--informa .offert_details .left_block {
          font-size: 14px; } }
    .landing_infostrada__content--informa .offert_details .right_block {
      float: right; }
      @media (max-width: 910px) {
        .landing_infostrada__content--informa .offert_details .right_block {
          float: none;
          margin: 0 auto;
          text-align: center; } }
      .landing_infostrada__content--informa .offert_details .right_block .question {
        float: left;
        font-size: 18px;
        color: #153080; }
        @media (max-width: 910px) {
          .landing_infostrada__content--informa .offert_details .right_block .question {
            float: none;
            margin-top: 50px; } }
        @media (max-width: 480px) {
          .landing_infostrada__content--informa .offert_details .right_block .question {
            font-size: 16px; } }
      .landing_infostrada__content--informa .offert_details .right_block .link {
        float: left;
        position: relative;
        top: 3px; }
        @media (max-width: 910px) {
          .landing_infostrada__content--informa .offert_details .right_block .link {
            float: none;
            margin-top: 10px;
            margin-bottom: 30px; } }
        .landing_infostrada__content--informa .offert_details .right_block .link a.call_to_costumer {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          border: 1px solid #153080;
          padding: 7px 10px;
          margin-left: 10px;
          cursor: pointer;
          text-transform: uppercase;
          color: #153080; }
          @media (max-width: 910px) {
            .landing_infostrada__content--informa .offert_details .right_block .link a.call_to_costumer {
              margin-left: 0; } }
          .landing_infostrada__content--informa .offert_details .right_block .link a.call_to_costumer:hover {
            opacity: 0.5;
            text-decoration: none; }
.landing_infostrada__footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #eee;
  margin-left: 32px;
  margin-right: 32px; }
  .landing_infostrada__footer--copyWind {
    padding-top: 5px; }
    @media (max-width: 768px) {
      .landing_infostrada__footer--copyWind {
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
        font-size: 11px; } }
  .landing_infostrada__footer--logoWind {
    float: right; }
    @media (max-width: 768px) {
      .landing_infostrada__footer--logoWind {
        float: none;
        margin: 0 auto;
        text-align: center; } }
  .landing_infostrada__footer--copyTre {
    padding-top: 10px; }
    @media (max-width: 768px) {
      .landing_infostrada__footer--copyTre {
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
        font-size: 11px; } }
  .landing_infostrada__footer--logoTre {
    float: right; }
    @media (max-width: 768px) {
      .landing_infostrada__footer--logoTre {
        float: none;
        margin: 0 auto;
        text-align: center; } }

/* popup */
.mfp-container:before,
.mfp-figure:after {
  content: ""; }

.mfp-arrow,
.wnd a,
.wnd div {
  -webkit-tap-highlight-color: transparent; }

.mfp-bg,
.mfp-container,
.mfp-wrap {
  left: 0;
  top: 0;
  width: 100%; }

.mfp-bg {
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: .8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: 0 !important;
  -webkit-backface-visibility: hidden;
  overflow-y: hidden !important; }

.mfp-container {
  text-align: center;
  position: absolute;
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-close,
.mfp-preloader {
  text-align: center;
  position: absolute; }

.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-arrow,
.mfp-close,
.mfp-counter,
.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  top: 50%;
  width: auto;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-close,
.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-error .mfp-content,
.mfp-s-ready .mfp-preloader {
  display: none; }

button.mfp-arrow,
button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  right: 0;
  top: 0;
  text-decoration: none;
  opacity: .65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:focus,
.mfp-close:hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-figure,
img.mfp-img {
  line-height: 0; }

.mfp-arrow {
  position: absolute;
  opacity: .65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:focus,
.mfp-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow .mfp-a,
.mfp-arrow .mfp-b,
.mfp-arrow:after,
.mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: inset transparent; }

.mfp-arrow .mfp-a,
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow .mfp-b,
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left .mfp-a,
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left .mfp-b,
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right .mfp-a,
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right .mfp-b,
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-image-holder .mfp-content,
img.mfp-img {
  max-width: 100%; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

.mfp-figure:after,
img.mfp-img {
  width: auto;
  height: auto;
  display: block; }

img.mfp-img {
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto; }

.mfp-figure:after {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  right: 0;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.wnd,
body {
  padding: 0; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.nicescroll-rails-vr {
  top: 80px;
  z-index: 1; }

.disable-hover,
.disable-hover * {
  pointer-events: none !important; }

/* landing-popup */
.landing-popup {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1rem;
  position: relative;
  color: #666;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 640px;
  margin: 1rem auto; }

.landing-popup.msite .scrollable {
  overflow-y: auto;
  height: auto; }

.landing-popup .scrollable {
  width: auto;
  height: auto;
  max-height: 85vh;
  margin: 1em 1em 1em 0;
  overflow-y: hidden;
  overflow-x: hidden; }

.landing-popup .scrollable h2 {
  color: #153080;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: .5rem;
  margin-bottom: .5rem; }

.landing-popup .scrollable p {
  padding: 0 1em 0 0;
  font-size: 1.3em;
  margin: 0; }

/*# sourceMappingURL=wd_tool.css.map */
