<ul class="sg-colors">
  <li>
    <span class="sg-swatch colored__bg--wind"></span>
    <span class="sg-label">
			$color-wind <br />
			#F48135
		</span>
  </li>
  <li>
    <span class="sg-swatch colored__bg--business"></span>
    <span class="sg-label">
			$color-business <br />
			#292F34
		</span>
  </li>
  <li>
    <span class="sg-swatch colored__bg--fisso"></span>
    <span class="sg-label">
			$color-fisso <br />
			#0069B3
		</span>
  </li>
  <li>
    <span class="sg-swatch colored__bg--device"></span>
    <span class="sg-label">
			$color-device <br />
			#212121
		</span>
  </li>
  <li>
    <span class="sg-swatch colored__bg--mobile"></span>
    <span class="sg-label">
			$color-mobile <br />
			#0088bc
		</span>
  </li>
</ul>