@font-face {
  font-family: 'TradeGothicLTStd-Obl';
  src: url('TradeGothicLTStd-Obl.eot');
  src: url('TradeGothicLTStd-Obl.woff2') format('woff2'),
       url('TradeGothicLTStd-Obl.woff') format('woff'),
       url('TradeGothicLTStd-Obl.ttf') format('truetype'),
       url('TradeGothicLTStd-Obl.svg#TradeGothicLTStd-Obl') format('svg'),
       url('TradeGothicLTStd-Obl.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

