<div class="landing--offer_details margin_bottom_30">
    <div class="container container--offer_details text_centered text_uppercase">
        <h3 class="font_bold_condensed">Wind Magnum, l'offerta NO TAX con 2 SIM e tanti GIGA da condividere su Smartphone, Tablet e PC.</h3>
    </div>
</div>
<div class="landing--offer_details--title container font_size_30 font_size_m_20 font_light text_centered margin_bottom_30">
    Aggiungi alla tua Wind Magnum un nuovo Smartphone
</div>
<div class="container landing--offer_details--box_offer__container padding_top_30 padding_bottom_30 padding_left_30 padding_right_30 padding_left_m_15 padding_right_m_15 slider__device">
    <!-- DEVICE 1 -->
    <div class="landing--offer_details--box_offer--single padding_right_m_15 padding_left_m_15 padding_right_25 padding_left_25 border_right_solid slider__single">
        <div class="landing--offer_details--box_offer">
            <div class="box_offer--logo margin_bottom_10">
                <img src="../img/magnum/samsung-s8-plus-logo.png" alt="">
            </div>
            <div class="box_offer--details font_size_16 font_light">Display 5,2''</div>
            <div class="box_offer--details font_size_16 font_light">Fotocamera 16 Mpx</div>
            <div class="box_offer--details font_size_16 font_light">Memoria Interna 32 GB</div>
            <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5">15<span class="font_size_24">&euro;/MESE</span></div>
            <div class="box_offer--details font_size_16 font_light margin_bottom_5">Sconto <span class="box_offer--price font_size_30 font_bold text_color_orange">280,00</span><span class="box_offer--price font_size_24 font_bold text_color_orange">&euro;</span></div>
            <div class="box_offer--details font_size_16 font_light margin_bottom_5">Anticipo <span class="box_offer--price font_bold">199,90&euro;</span></div>
        </div>
        <div class="landing--offer_details--box_offer device">
            <img src="../img/magnum/samsung-s8-plus-device.png" alt="">
        </div>
    </div>
    <!-- DEVICE 2 -->
    <div class="landing--offer_details--box_offer--single padding_right_m_15 padding_left_m_15 padding_right_25 padding_left_25 border_right_solid slider__single">
        <div class="landing--offer_details--box_offer">
            <div class="box_offer--logo margin_bottom_10">
                <img src="../img/magnum/samsung-s8-plus-logo.png" alt="">
            </div>
            <div class="box_offer--details font_size_16 font_light">Display 5,2''</div>
            <div class="box_offer--details font_size_16 font_light">Fotocamera 16 Mpx</div>
            <div class="box_offer--details font_size_16 font_light">Memoria Interna 32 GB</div>
            <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5">15<span class="font_size_24">&euro;/MESE</span></div>
            <div class="box_offer--details font_size_16 font_light margin_bottom_5">Sconto <span class="box_offer--price font_size_30 font_bold text_color_orange">280,00</span><span class="box_offer--price font_size_24 font_bold text_color_orange">&euro;</span></div>
            <div class="box_offer--details font_size_16 font_light margin_bottom_5">Anticipo <span class="box_offer--price font_bold">199,90&euro;</span></div>
        </div>
        <div class="landing--offer_details--box_offer device">
            <img src="../img/magnum/samsung-s8-plus-device.png" alt="">
        </div>
    </div>
    <!-- DEVICE 3 -->
    <div class="landing--offer_details--box_offer--single padding_right_m_15 padding_left_m_15 padding_right_25 padding_left_25 slider__single">
        <div class="landing--offer_details--box_offer">
            <div class="box_offer--logo margin_bottom_10">
                <img src="../img/magnum/samsung-s8-plus-logo.png" alt="">
            </div>
            <div class="box_offer--details font_size_16 font_light">Display 5,2''</div>
            <div class="box_offer--details font_size_16 font_light">Fotocamera 16 Mpx</div>
            <div class="box_offer--details font_size_16 font_light">Memoria Interna 32 GB</div>
            <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5">15<span class="font_size_24">&euro;/MESE</span></div>
            <div class="box_offer--details font_size_16 font_light margin_bottom_5">Sconto <span class="box_offer--price font_size_30 font_bold text_color_orange">280,00</span><span class="box_offer--price font_size_24 font_bold text_color_orange">&euro;</span></div>
            <div class="box_offer--details font_size_16 font_light margin_bottom_5">Anticipo <span class="box_offer--price font_bold">199,90&euro;</span></div>
        </div>
        <div class="landing--offer_details--box_offer device">
            <img src="../img/magnum/samsung-s8-plus-device.png" alt="">
        </div>
    </div>
</div>
<div class="">
    <div class="image_block_display mobile">
        <div class="image_block_display__mainContainer ">
            <div class="image_block_display__coloredBg">
                <div class="shape shape--one"></div>
                <div class="shape shape--two"></div>
            </div>
            <div class="image_block_display__half_block image_block">
                <img src="../../img/magnum/magnum-hero-small.jpg" />
            </div>
            <div class="image_block_display__half_block text_block">
                <div class="image_block_display__partnerImage"></div>
                <!--                 <div class="image_block_display__title">Passa a Infostrada!</div> -->
                <div class="image_block_display__text font_size_30 font_light extended_line_height">Proteggi il display del tuo nuovo
                    <br class="only_desktop"><span class="font_bold">SMARTHPHONE O TABLET</span>
                    <br class="only_desktop">a soli <span class="font_bold">2,49&euro;</span> in più</div>
                <div class="image_block_display__price with_currency"></div>
                <div class="image_block_display__recurrency"></div>
                <a href="#" class="btn_white margin_top_25">aggiungi</a>
                <div class="image_block_display__recurrency--bottom"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="landing--offer_details--options__container container margin_top_50 margin_bottom_50">
    <div class="landing--offer_details--options landing--offer_details--options--title font_size_24 extended_line_height">Le opzioni per Wind Magnum<span class="border_right_solid padding_left_25"></span></div>
    <div class="landing--offer_details--options"><a href="#" class="landing--offer_details--options--button">Magnum</a></div>
    <div class="landing--offer_details--options"><a href="#" class="landing--offer_details--options--button">Famiglia</a></div>
    <div class="landing--offer_details--options"><a href="#" class="landing--offer_details--options--button">Estero</a></div>
    <div class="landing--offer_details--options"><a href="#" class="landing--offer_details--options--button">Casa</a></div>
</div>
