<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="container">
    <div class="font_size_100 font_size_m_50 font_bold_condensed text_color_blue_99 margin_top_30 margin_bottom_30 margin_top_m_10">APP, MUSICA, FILM E ALTRO</div>
</div>
<div class="landing--offer_details">
    <div class="container">
        <ul class="details no_list">
            <li>
                <div class="font_size_32 font_size_m_24 font_bold extended_line_height">Da oggi puoi accedere ai contenuti che ami in modo semplice e sicuro. Con il credito telefonico acquisti in pochi click e in tutta comodità.
                    <br>
                    <br>Configurare questo metodo di pagamento è molto semplice:</div>
            </li>
        </ul>
        <ul class="details">
            <li>
                <div class="font_size_26 font_size_m_20 font_light">Accedi al tuo ID Apple</div>
            </li>
            <li>
                <div class="font_size_26 font_size_m_20 font_light">Vai su “Info sul pagamento”</div>
            </li>
            <li>
                <div class="font_size_26 font_size_m_20 font_light">Seleziona “Addebito telefonico” e conferma l’operazione </div>
            </li>
        </ul>
        <ul class="details no_list">
            <li>
                <div class="font_size_32 font_size_m_24 font_bold extended_line_height">Da quel momento potrai acquistare ciò che desideri pagando con il credito telefonico.</div>
            </li>
        </ul>
    </div>
</div>
