<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="container">
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold_condensed text_centered margin_top_30">
        Dal 23 al 29 maggio 2017
    </div>
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold text_centered text_color_orange text_uppercase margin_bottom_15 margin_top_10">
        ricarica online e vinci lg g6
    </div>
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold_condensed text_centered margin_bottom_30">
        Ogni giorno potrai essere tu il fortunato vincitore!
    </div>
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_light text_centered margin_bottom_50 extended_line_height">
        Effettua una Ricarica online di qualsiasi importo, con carta di credito, PayPal e le altre modalità di pagamento disponibili, da App Veon, App MyWind o su wind.it e partecipa al concorso. Ogni giorno saranno estratti 3 fortunati vincitori che si aggiudicheranno il nuovo LG G6!  Non hai ancora scaricato Veon? I clienti Wind con un’offerta internet incluso che usano Veon non consumano Giga e hanno molti altri vantaggi esclusivi.
        <br>
        <br>Sulla pagina ufficiale Facebook di Wind verranno pubblicati i nomi dei vincitori!
    </div>
    <!-- FINE DISCLAIMER -->
    <!-- INIZIO IMMAGINE TESTO -->
    <div class="ricarica_online container_box border_bottom_solid box_width_100 margin_bottom_50">
        <div class="landing--offer_details--left_box display_inline vertical_bottom box_width_35">
            <img src="../img/fullvision.png" />
        </div>
        <div class="landing--offer_details--right_box display_inline vertical_middle box_width_65 margin_top_m_30">
            <div class="font_size_30 font_size_m_22 font_bold margin_bottom_15">Display QHD FullVision da 5,7"</div>
            <div class="font_size_40 font_size_m_32 font_bold margin_bottom_25">Più display, meno ingombro</div>
            <div class="font_size_24 font_size_m_20 font_light extended_line_height padding_bottom_150">
                Il display FullVision offre una superficie sorprendentemente grande su un dispositivo sottile, che permette di avere più spazio per scrivere messaggi, navigare su Internet e giocare. Il formato 18:9 e la risoluzione QHD Plus assicurano una qualità superiore delle immagini per una visione più coinvolgente.
            </div>
        </div>
    </div>
    <!-- INIZIO IMMAGINE TESTO -->
    <div class="container_box box_width_100 margin_bottom_50">
        <div class="landing--offer_details--left_box display_inline vertical_top box_width_50">
            <div class="font_size_30 font_size_m_22 font_bold margin_bottom_15">Doppia fotocamera
                <br>grandangolare da 13MP</div>
            <div class="font_size_40 font_size_m_32 font_bold margin_bottom_25">Cattura tutto ciò che vedi</div>
            <div class="font_size_24 font_size_m_20 font_light extended_line_height">
                Cattura panorami mozzafiato con la doppia fotocamera posteriore da 13MP dell'LG G6.
            </div>
        </div>
        <div class="landing--offer_details--right_box display_inline vertical_middle box_width_50">
            <img class="box_width_100" src="../img/fotocamera_ricarica.png" />
        </div>
    </div>
</div>
<div class="container no_padding_container">
    <div class="landing--offer_details margin_bottom_30">
        <div class="container container--offer_details text_centered text_uppercase">
            <h3 class="font_bold_condensed text_normal font_size_m_40 margin_bottom_10">Guarda il video</h3>
            <div class="font_light font_size_30 font_size_m_24 text_normal margin_bottom_m_10">Scopri in anteprima il nuovo LG G6</div>
            <div class="btn_white mobile_centered margin_top_25 margin_auto"><a href="https://www.youtube.com/watch?v=8Qy6cQstTdk" class="popup-youtube text_color_white">scopri</a></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold text_centered margin_top_30">
        Scopri i vincitori
    </div>
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold text_centered margin_top_30 margin_bottom_30">
        <a class="display_inline" href="https://www.facebook.com/Wind" target="_blank"><img src="/fileadmin/img-landing/icons-interface/facebook_icon.png" /></a>
        <a class="display_inline" href="https://twitter.com/WindItalia" target="_blank"><img class="margin_left_30" src="/fileadmin/img-landing/icons-interface/twitter_icon.png" /></a>
    </div>
</div>
<script>
jQuery('.popup-youtube').magnificPopup({
    type: 'iframe',
    removalDelay: 160,
    preloader: false,
    fixedContentPos: false
});
</script>
