<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="landing--offer_details veon_colored_bg text_centered text_color_base margin_bottom_30">
    <div class="container">
        <h3>Veon è l’applicazione di Wind con cui puoi chattare, fare chiamate internet, condividere foto, video, emoticon e messaggi vocali. </h3>
        <ul class="details no_list">
            <li class="font_bold">
                <div class="font_light display_inline vertical_middle">
                    E se sei cliente Wind con un’offerta internet incluso, non consumi Giga, tieni sotto controllo la tua linea mobile, ricarichi il tuo numero e accedi a tanti altri vantaggi esclusivi. Non consumi Giga su Veon fino al 19/06/2017.
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content margin_bottom_50">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title">
                <h1 class="margin_bottom_m_10">
                    <span class="landing__hero--title--light font_size_60 font_regular font_size_m_40 display_block text_color_base mobile_centered">promo ricarica <br>1 gb gratis</span>
                </h1>
                <div class="landing__hero--title--light margin_top_30 extended_line_height font_size_30 font_light font_size_m_24 display_block mobile_centered">Effettua una ricarica su Veon utilizzando
                    <br class="only_desktop">la tua carta di credito
                    <br class="only_mobile">e avrai 1 Giga gratis
                    <br class="only_desktop">da utilizzare in 28 giorni.</div>
                <div class="landing__hero--title--light extended_line_height margin_top_30 font_size_18 font_light font_size_m_18 display_block margin_bottom_m_30 mobile_centered">Promozione valida fino al 18/06/2017</div>
            </div>
            <div class="landing__hero__imageContainer full_image mobile_centered">
                <img src="../img/promo-ricarica-veon.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="slider__veon">
        <div class="container_text_slider margin_bottom_50 font_size_m_22 slider__single">
            <div class="font_bold font_size_30 font_size_m_22 margin_bottom_20">
                Veon c’è per tutti
            </div>
            <div class="font_light font_size_24 font_size_m_18">
                Con un’unica App chatti, fai chiamate internet, condividi foto, video utilizzando la connessione dati e se sei un cliente Wind con un’offerta internet incluso non consumi Giga. Inoltre puoi trovare nuovi amici su Veon inviando una semplice richiesta di contatto.
            </div>
        </div>
        <div class="container_text_slider margin_bottom_40 font_size_m_22 slider__single">
            <div class="font_bold font_size_30 margin_bottom_20">
                Chiamate internet e Veon Messenger - Parli e resti in contatto con chi vuoi, in ogni momento
            </div>
            <div class="font_light font_size_24 font_size_m_18">Invia messaggi testuali e vocali ai tuoi amici Veon e crea chat di gruppo scegliendo il modo più adatto per condividere le tue emozioni utilizzando emoticon, foto e video scelti dalla tua Galleria o catturati istantaneamente con il tuo smartphone. Puoi decidere anche se visualizzare lo stato dei messaggi attivando o disattivando la conferma di lettura.
            </div>
        </div>
        <div class="container_text_slider margin_bottom_40 font_size_m_22 slider__single">
            <div class="font_bold font_size_30 margin_bottom_20">
                Personalizza il tuo profilo - Fatti trovare in un click
            </div>
            <div class="font_light font_size_24 font_size_m_18">Personalizza il tuo profilo con le informazioni che vuoi mostrare a tutti: scegli un’immagine tra quelle disponibili, carica una tua foto o scattala al momento. Consenti a Veon di accedere alla rubrica del tuo smartphone per trovare nuovi amici e invitarli a usare l’App; inoltre puoi scegliere se apparire nei Contatti Veon per farti trovare a tua volta dagli altri utenti e se condividere la tua posizione per far sapere dove ti trovi.
            </div>
        </div>
        <div class="container_text_slider margin_bottom_40 font_size_m_22 slider__single">
            <div class="font_bold font_size_30 font_size_m_24 margin_bottom_20">
                Se sei Cliente Wind gestisci la tua offerta, ricarichi e ricevi assistenza
            </div>
            <div class="font_light font_size_24 font_size_m_18">Le informazioni sullo stato della tua offerta Wind sono sempre disponibili. In ogni momento puoi visualizzare il dettaglio dei tuoi consumi, il valore totale della tua disponibilità periodica, Giga, SMS e minuti, le opzioni e le promozioni attive per il traffico nazionale, internazionale e per il roaming. Su Veon ricaricare il tuo o altri numeri è veloce e sicuro utilizzando la tua Carta di Credito, una Prepagata - MasterCard, Visa, American Express - la tua Postepay o PayPal. Registrare la tua carta su Veon, inoltre, è molto conveniente! Se effettui una ricarica da Veon utilizzando la carta di credito avrai 1 Giga gratis da utilizzare entro 4 settimane. Se hai bisogno di assistenza puoi farlo in modo semplice ed immediato: su Veon il Servizio Clienti Wind è sempre a tua completa disposizione via chat.
            </div>
        </div>
    </div>
</div>
<script>
jQuery(document).ready(function($) {

    $('.slider__veon').slick({
        responsive: [{
                breakpoint: 9999,
                settings: 'unslick'
            }, {
                breakpoint: 768,
                settings: {
                    dots: true,
                    arrows: true,
                    infinite: true,
                    speed: 300,
                    adaptiveHeight: true,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    nextArrow: "<img class='slider__navigation right__arrow' src='/fileadmin/img-landing/icons-interface/slider_arrow_right.png'>",
                    prevArrow: "<img class='slider__navigation left__arrow' src='/fileadmin/img-landing/icons-interface/slider_arrow_left.png'>",
                    dotsClass: 'slider__dots',
                    customPaging: function(slider, i) {
                        var thumb = $(slider.$slides[i]).data('thumb');
                        return '<div class="slider__single"></div>';
                    },
                }
            },
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });
});
</script>
