<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="container">
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold_condensed text_centered margin_top_30">
        Dal 19 al 25 giugno 2017
    </div>
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold text_centered text_color_orange text_uppercase margin_bottom_15 margin_top_10">
        ricarica online e vinci xbox one s 500gb e fifa 17
    </div>
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold_condensed text_centered margin_bottom_30">
        Ogni giorno potrai essere tu il fortunato vincitore!
    </div>
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_light text_centered margin_bottom_50 extended_line_height">
        Effettua una Ricarica online di qualsiasi importo, con carta di credito, PayPal e le altre modalità di pagamento disponibili, da App Veon, App MyWind o su wind.it e partecipa al concorso. Ogni giorno saranno estratti 3 fortunati vincitori che si aggiudicheranno <br>Xbox One S 500GB!
        <br>
        <br>Sulla pagina ufficiale Facebook di Wind verranno pubblicati i nomi dei vincitori!
    </div>
    <!-- FINE DISCLAIMER -->
    <!-- INIZIO IMMAGINE TESTO -->
    <div class="ricarica_online container_box box_width_100 border_bottom_solid margin_bottom_50">
        <div class="landing--offer_details--left_box display_inline vertical_middle box_width_40">
            <img class="auto_image" src="../img/xbox_console.jpg" />
        </div>
        <div class="landing--offer_details--right_box display_inline vertical_middle box_width_60 margin_top_m_30">
            <div class="font_size_30 font_size_m_22 font_bold margin_bottom_15">Xbox One S</div>
            <div class="font_size_40 font_size_m_32 font_bold margin_bottom_25">Il sistema di gioco <br>e intrattenimento <br>4k di ultima generazione</div>
            <div class="font_size_24 font_size_m_20 font_light extended_line_height">
                Con Xbox One S riproduci video 4K in streaming su Netflix e di guardi i tuoi film preferiti con lettore Blu-Ray(TM) 4k UHD integrato. Grazie alla tecnologia HDR i colori nei giochi e nei video sono più brillanti e luminosi, il contrasto tra chiari e scuri è maggiore e la profondità visiva è assolutamente realistica. Xbox One S è più piccola del 40%. L’alimentatore è integrato e hai fino a 500 GB di spazio di archiviazione, puoi salvare giochi, film, app, musica e tanto altro!
            </div>
            <img class="auto_image" src="../img/xbox_details.jpg"/>
        </div>
    </div>
    <!-- INIZIO IMMAGINE TESTO -->
    <div class="container_box box_width_100 margin_bottom_50">
        <div class="vertical_middle text_centered">
            <img class="box_width_60" src="../img/xbox_console2.jpg" />
        </div>
        <div class="text_centered font_size_14 font_bold text_uppercase">gioco in versione digitale</div>
    </div>
</div>
<div class="container no_padding_container">
    <div class="landing--offer_details margin_bottom_50">
        <div class="container container--offer_details text_centered text_uppercase">
            <h3 class="font_bold_condensed text_normal font_size_m_40 margin_bottom_10">Guarda il video</h3>
            <div class="font_light font_size_30 font_size_m_24 text_normal margin_bottom_m_10">Scopri la nuova Xbox One S 500GB</div>
            <a href="https://www.youtube.com/watch?v=8Qy6cQstTdk" class="popup-youtube text_color_white"><span class="btn_white mobile_centered margin_top_25 margin_auto">scopri</span></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold text_centered margin_top_30">
        Scopri i vincitori
    </div>
    <div class="landing--offer_details--title font_size_24 font_size_m_18 font_bold text_centered margin_top_30 margin_bottom_30">
        <a class="display_inline" href="https://www.facebook.com/Wind" target="_blank"><img src="/fileadmin/img-landing/icons-interface/facebook_icon.png" /></a>
        <a class="display_inline" href="https://twitter.com/WindItalia" target="_blank"><img class="margin_left_30" src="/fileadmin/img-landing/icons-interface/twitter_icon.png" /></a>
    </div>
</div>
<script>
jQuery('.popup-youtube').magnificPopup({
    type: 'iframe',
    removalDelay: 160,
    preloader: false,
    fixedContentPos: false
});
</script>
