<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="landing--offer_details margin_bottom_30">
    <div class="container container--offer_details text_centered text_uppercase">
        <h3 class="font_bold_condensed">Wind Magnum, l'offerta NO TAX con 2 SIM e tanti GIGA da condividere su Smartphone, Tablet e PC.</h3>
    </div>
</div>
<div class="landing--offer_details--title container font_size_30 font_size_m_20 font_light text_centered margin_bottom_30">
    Aggiungi alla tua Wind Magnum un nuovo Smartphone<br>Per te 2 GIGA inclusi con GIGA BOX.
</div>
<div class="container container_device_magnum">
    <div class="landing--offer_details--box_offer__container padding_top_30 padding_bottom_30 slider__device">
        <!-- DEVICE 1 -->
        <div class="landing--offer_details--box_offer--single border_right_solid slider__single">
            <div class="landing--offer_details--box_offer">
                <div class="box_offer--logo margin_bottom_10">
                    <img src="../img/samsung-s8-plus-logo.png" alt="">
                </div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Display 6,2''</div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Fotocamera 12 Mpx</div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Memoria Interna 64 GB</div>
                <!-- varianti -->
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab active" data-tabtarget="1">15<span class="font_size_24">&euro;</span></div>
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab" data-tabtarget="2">15<span class="font_size_24">&euro;</span></div>
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab" data-tabtarget="3">15<span class="font_size_24">&euro;</span></div>
                <!-- verianti -->
                <!-- varianti -->
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab active" data-tabtarget="1">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">280,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="2">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">310,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="3">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">310,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <!-- varianti -->
                <!-- varianti -->
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab active" data-tabtarget="1">Anticipo <span class="box_offer--price font_bold">199,90&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="2">Anticipo <span class="box_offer--price font_bold">169,90&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="3">Anticipo <span class="box_offer--price font_bold">169,90&euro;</span></div>
                <!-- varianti -->
            </div>
            <div class="landing--offer_details--box_offer device">
                <img src="../img/samsung-s8-plus-device.png" alt="">
            </div>
        </div>
        <!-- DEVICE 2 -->
        <div class="landing--offer_details--box_offer--single border_right_solid slider__single">
            <div class="landing--offer_details--box_offer">
                <div class="box_offer--logo margin_bottom_10">
                    <img src="../img/samsung-s8-logo.png" alt="">
                </div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Display 5,8''</div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Fotocamera 12 Mpx</div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Memoria Interna 64 GB</div>
                <!-- varianti -->
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab active" data-tabtarget="1">12<span class="font_size_24">&euro;</span></div>
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab" data-tabtarget="2">12<span class="font_size_24">&euro;</span></div>
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab" data-tabtarget="3">12<span class="font_size_24">&euro;</span></div>
                <!-- verianti -->
                <!-- varianti -->
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab active" data-tabtarget="1">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">270,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="2">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">300,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="3">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">300,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <!-- varianti -->
                <!-- varianti -->
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab active" data-tabtarget="1">Anticipo <span class="box_offer--price font_bold">199,90&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="2">Anticipo <span class="box_offer--price font_bold">169,90&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="3">Anticipo <span class="box_offer--price font_bold">169,90&euro;</span></div>
                <!-- varianti -->
            </div>
            <div class="landing--offer_details--box_offer device">
                <img src="../img/samsung-s8-device.png" alt="">
            </div>
        </div>
        <!-- DEVICE 3 -->
        <div class="landing--offer_details--box_offer--single border_right_solid slider__single">
            <div class="landing--offer_details--box_offer">
                <div class="box_offer--logo margin_bottom_10">
                    <img src="../img/huawei-p-10-plus-logo.png" alt="">
                </div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Display 5,1''</div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Fotocamera 20+12 Mpx</div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light">Memoria Interna 64 GB</div>
                <!-- varianti -->
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab active" data-tabtarget="1">5<span class="font_size_24">&euro;</span></div>
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab" data-tabtarget="2">10<span class="font_size_24">&euro;</span></div>
                <div class="box_offer--price font_size_30 font_bold margin_top_20 margin_bottom_5 hero_tab" data-tabtarget="3">10<span class="font_size_24">&euro;</span></div>
                <!-- verianti -->
                <!-- varianti -->
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab active" data-tabtarget="1">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">380,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="2">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">280,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="3">Sconto <span class="box_offer--price font_size_30 font_size_m_24 font_bold text_color_orange">280,00</span><span class="box_offer--price font_size_24 font_size_m_20 font_bold text_color_orange">&euro;</span></div>
                <!-- varianti -->
                <!-- varianti -->
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab active" data-tabtarget="1">Anticipo <span class="box_offer--price font_bold">149,90&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="2">Anticipo <span class="box_offer--price font_bold">99,90&euro;</span></div>
                <div class="box_offer--details font_size_16 font_size_m_14 font_light margin_bottom_5 hero_tab" data-tabtarget="3">Anticipo <span class="box_offer--price font_bold">99,90&euro;</span></div>
                <!-- varianti -->
            </div>
            <div class="landing--offer_details--box_offer device">
                <img src="../img/huawei-p-10-plus-device.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="landing_hero_small">
        <div class="landing_hero_small__mainContainer ">
            <div class="landing_hero_small__half_block image_block">
                <img src="../img/magnum-hero-small.jpg" />
            </div>
            <div class="landing_hero_small__coloredBg"></div>
            <div class="landing_hero_small__half_block text_block">
                <div class="landing_hero_small__text font_size_30 font_size_m_20 font_light extended_line_height">Proteggi il display del tuo nuovo
                    <br class="only_desktop"><span class="font_bold">SMARTHPHONE O TABLET</span>
                    <br class="only_desktop">a soli <span class="font_bold">2,49&euro;</span> in più</div>
                <a href="#" class="btn_white mobile_centered margin_top_25">aggiungi</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="landing--offer_details--title container font_size_30 font_size_m_20 font_light margin_bottom_30 margin_top_30">
    Attiva Wind Magnum con <a href="#" class="display_inline link_click">Ricarica Automatica</a>.
</div>
<div class="landing--offer_details--options__container container margin_top_50 margin_bottom_50 mobile_centered">
    <div class="landing--offer_details--options landing--offer_details--options--title font_size_24 extended_line_height">Le opzioni per Wind Magnum<span class="border_right_solid padding_left_25"></span></div>
    <div class="landing--offer_details--options"><a href="#" class="landing--offer_details--options--button">Magnum</a></div>
    <div class="landing--offer_details--options"><a href="#" class="landing--offer_details--options--button">Famiglia</a></div>
    <div class="landing--offer_details--options"><a href="#" class="landing--offer_details--options--button">Estero</a></div>
    <div class="landing--offer_details--options"><a href="#" class="landing--offer_details--options--button">Casa</a></div>
</div>
