<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="container container_device_magnum">
    <div class="landing--offer_details--box_offer__container padding_top_30 padding_bottom_15 border_bottom_solid">
        <!-- DEVICE 1 -->
        <div class="landing--offer_details--box_offer device mobile_full full_width_device float_left float_m_none">
            <img src="../img/iPhone_7_Wind_Magnum_pro.png" alt="">
        </div>
        <div class="landing--offer_details--box_offer--single float_left margin_left_50 margin_left_m_0 extended_height box_width_m_50">
            <div class="landing--offer_details--box_offer">
                <!-- prezzo e titolo -->
                <div class="box_offer--details font_size_40 font_size_m_18 font_bold margin_top_30">iPhone 7 Plus 128 GB</div>
                <div class="box_offer--details font_size_40 font_size_m_22 font_bold margin_top_15">21<span class="font_size_30 font_size_m_16">&euro;/mese</span></div>
                <!-- rata iniziale -->
                <div class="box_offer--price font_size_30 font_size_m_16 font_light margin_bottom_15 margin_top_10">Rata iniziale <span class="font_size_30 font_bold text_color_orange font_size_m_16"><br class="only_mobile">249,90&euro;</span></div>
                <!-- display e 3d -->
                <div class="box_offer--price font_size_18 font_size_m_12 font_light">Display Retina HD da 5,5''</div>
                <div class="box_offer--price font_size_18 font_size_m_12 font_light margin_top_5">3D Touch</div>
                <a href="#" class="button--standard ghost_button margin_top_20">scopri</a>
            </div>
        </div>
        <div class="landing--offer_details--box_offer--single float_left margin_left_50 margin_left_m_0 extended_height box_width_m_50">
            <div class="landing--offer_details--box_offer">
                <!-- prezzo e titolo -->
                <div class="box_offer--details font_size_40 font_size_m_18 font_bold margin_top_30">iPhone 7 Plus 32 GB</div>
                <div class="box_offer--details font_size_40 font_size_m_22 font_bold margin_top_15">19<span class="font_size_30 font_size_m_16">&euro;/mese</span></div>
                <!-- rata iniziale -->
                <div class="box_offer--price font_size_30 font_size_m_16 font_light margin_bottom_15 margin_top_10">Rata iniziale <span class="font_size_30 font_bold text_color_orange font_size_m_16"><br class="only_mobile">199,90&euro;</span></div>
                <!-- display e 3d -->
                <div class="box_offer--price font_size_18 font_size_m_12 font_light">Display Retina HD da 5,5''</div>
                <div class="box_offer--price font_size_18 font_size_m_12 font_light margin_top_5">3D Touch</div>
                <a href="#" class="button--standard ghost_button margin_top_20">scopri</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="landing--offer_details--box_offer__container padding_top_30 padding_bottom_15">
        <!-- DEVICE 1 -->
        <div class="landing--offer_details--box_offer device mobile_full full_width_device float_right float_m_none">
            <img src="../img/iPhone_7_Wind_Magnum_normal.png" alt="">
        </div>
        <div class="landing--offer_details--box_offer--single float_left margin_left_0 extended_height box_width_m_50">
            <div class="landing--offer_details--box_offer">
                <!-- prezzo e titolo -->
                <div class="box_offer--details font_size_40 font_size_m_18 font_bold margin_top_30">iPhone 7
                    <br>128 GB</div>
                <div class="box_offer--details font_size_40 font_size_m_22 font_bold margin_top_15">18<span class="font_size_30 font_size_m_16">&euro;/mese</span></div>
                <!-- rata iniziale -->
                <div class="box_offer--price font_size_30 font_size_m_16 font_light margin_bottom_15 margin_top_10">Rata iniziale <span class="font_size_30 font_bold text_color_orange font_size_m_16"><br class="only_mobile">199,90&euro;</span></div>
                <!-- display e 3d -->
                <div class="box_offer--price font_size_18 font_size_m_12 font_light">Display Retina HD da 4,7''</div>
                <div class="box_offer--price font_size_18 font_size_m_12 font_light margin_top_5">3D Touch</div>
                <a href="#" class="button--standard ghost_button margin_top_20">scopri</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="landing--offer_details--box_offer--single float_left margin_left_50 margin_left_m_0 extended_height box_width_m_50">
            <div class="landing--offer_details--box_offer">
                <!-- prezzo e titolo -->
                <div class="box_offer--details font_size_40 font_size_m_18 font_bold margin_top_30">iPhone 7
                    <br>32 GB</div>
                <div class="box_offer--details font_size_40 font_size_m_22 font_bold margin_top_15">16<span class="font_size_30 font_size_m_16">&euro;/mese</span></div>
                <!-- rata iniziale -->
                <div class="box_offer--price font_size_30 font_size_m_16 font_light margin_bottom_15 margin_top_10">Rata iniziale <span class="font_size_30 font_bold text_color_orange font_size_m_16"><br class="only_mobile">149,90&euro;</span></div>
                <!-- display e 3d -->
                <div class="box_offer--price font_size_18 font_size_m_12 font_light">Display Retina HD da 4,7''</div>
                <div class="box_offer--price font_size_18 font_size_m_12 font_light margin_top_5">3D Touch</div>
                <a href="#" class="button--standard ghost_button margin_top_20">scopri</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
    <div class="landing--offer_details margin_bottom_30">
        <div class="container container--offer_details text_centered text_normal">
            <h3 class="font_bold_condensed">Gli iPhone sono disponibili con tutte le versioni Wind Magnum. 
Offerta valida con Telefono incluso.</h3>
        </div>
    </div>
