<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="container no_padding_container">
    <div class="landing--offer_details margin_bottom_30 padding_top_10 padding_bottom_10">
        <div class="container container--offer_details text_left text_uppercase text_normal">
            <h3 class="font_bold_condensed">Prenota e Ritira</h3>
        </div>
    </div>
    <!-- INIZIO IMMAGINE -->
    <div class="container_box box_width_100 margin_bottom_50">
        <div class="vertical_middle text_centered">
            <img class="box_width_85" src="../img/pickpay_icons-pick.png">
        </div>
    </div>
    <div class="landing--offer_details margin_bottom_30 padding_top_10 padding_bottom_10">
        <div class="container container--offer_details text_left text_uppercase text_normal">
            <h3 class="font_bold_condensed">Acquista online</h3>
        </div>
    </div>
    <!-- INIZIO IMMAGINE -->
    <div class="container_box box_width_100 margin_bottom_50">
        <div class="vertical_middle text_centered">
            <img class="box_width_85" src="../img/pickpay_icons-pay.png">
        </div>
    </div>
    <div class="landing--offer_details">
        <div class="container">
            <ul class="details">
                <li>
                    <div class="font_size_26 font_size_m_20 font_light">Consegna in giornata a Milano, Roma e Napoli per ordini effettuati entro le 12:00, a solo 9&euro;.</div>
                </li>
                <li>
                    <div class="font_size_26 font_size_m_20 font_light">Consegna gratuita il giorno seguente, in molti comuni italiani, per gli ordini effettuati prima delle 14:00.</div>
                </li>
                <li>
                    <div class="font_size_26 font_size_m_20 font_light">Consegna gratuita in tutta Italia entro 3 giorni lavorativi, 4 per le isole.</div>
                </li>
            </ul>
        </div>
    </div>
</div>
