<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="landing--offer_details">
    <div class="container">
        <h3>Usa la tua offerta WIND in Europa come in Italia!
</h3>
        <ul class="details no_list">
            <li>In anteprima dal 24 aprile più convenienza per chiamare, mandare messaggi e navigare in Unione Europea.</li>
            <li>Puoi continuare a usare la tua offerta nazionale anche in vacanza o in viaggio di lavoro, senza costi aggiuntivi!</li>
        </ul>
    </div>
</div>
