<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="container margin_bottom_50 border_bottom_solid margin_top_40">
    <div class="box_width_50 display_inline vertical_top">
        <img class="display_forced_block margin_bottom_30 max_width_100" src="../img/xboxones_console.png" alt="">
    </div>
    <div class="box_width_50 display_inline vertical_top">
        <div class="font_size_30 text_uppercase text_right mobile_centered padding_left_50 padding_left_m_15 text_color_infostrada font_bold margin_bottom_10">Più elegante. <br class="only_mobile" />Più sottile.<br/>Più nitida.</div>
        <div class="font_size_20 text_right mobile_centered margin_bottom_10 margin_bottom_50 extended_line_height padding_left_m_15 padding_right_m_15">Le Serie TV del momento in contemporanea con gli Stati Uniti e interi cofanetti On Demand anche in lingua originale. In più per te 4 canali dedicati: Sky Atlantic, Fox, Fox Life e Fox Crime.</div>
    </div>
</div>
<div class="container margin_bottom_50 border_bottom_solid margin_top_40">
    <div class="box_width_50 float_right display_inline vertical_top">
        <img class="display_forced_block margin_bottom_30 max_width_100" src="../img/xboxones_fifa.png" alt="">
    </div>
    <div class="box_width_50 float_left display_inline vertical_top">
        <div class="font_size_30 text_uppercase mobile_centered text_color_infostrada font_bold margin_bottom_10">Fifa 17</div>
        <div class="font_size_20 mobile_centered margin_bottom_10 padding_right_50 margin_bottom_50 extended_line_height padding_right_m_15 padding_left_m_15">FIFA 17 trasforma il tuo modo di giocare, competere e vivere le emozioni del gioco. Con FIFA 17 vivrai un'esperienza realistica grazie al nuovo motore di gioco, introducendo calciatori sempre più emozionanti e reali.</div>
    </div>
</div>
<div class="container margin_bottom_50 border_bottom_solid margin_top_40">
    <div class="box_width_50 display_inline vertical_top">
        <img class="display_forced_block margin_bottom_30 max_width_100" src="../img/xboxones_live.png" alt="">
    </div>
    <div class="box_width_50 display_inline vertical_top">
        <div class="font_size_30 text_uppercase text_right mobile_centered text_color_infostrada font_bold margin_bottom_10">Xbox Live Gold</div>
        <div class="font_size_20 text_right mobile_centered margin_bottom_10 padding_left_50 margin_bottom_50 extended_line_height padding_left_m_15 padding_right_m_15">Entra nella community di gioco più grande al mondo. Sfida i tuoi amici ai giochi multiplayer più avanzati, ottieni giochi gratuiti ogni mese, ricevi sconti esclusivi fino al 75% sui giochi disponibili nell'Xbox Store e molto altro.</div>
    </div>
</div>
<div class="container margin_bottom_50 border_bottom_solid margin_top_40">
    <div class="box_width_50 float_right display_inline vertical_top">
        <img class="display_forced_block margin_bottom_30 max_width_100" src="../img/xboxones_ea.png" alt="">
    </div>
    <div class="box_width_50 float_left display_inline vertical_top">
        <div class="font_size_30 text_uppercase mobile_centered text_color_infostrada font_bold margin_bottom_10">Ea Access</div>
        <div class="font_size_20 mobile_centered margin_bottom_10 padding_right_50 margin_bottom_50 extended_line_height padding_left_m_15 padding_right_m_15">Il divertimento sarà senza limiti. Scopri i migliori giochi per Xbox One S di EA, prova i nuovi titoli prima della loro uscita e ottieni uno sconto del 10% sugli acquisti digitali EA per Xbox One S.</div>
    </div>
</div>
<div class="container margin_bottom_30 margin_top_40">
    <div class="box_width_50 display_inline vertical_top">
        <img class="display_forced_block margin_bottom_30 max_width_100" src="../img/xboxones_game.png" alt="">
    </div>
    <div class="box_width_50 display_inline vertical_top">
        <div class="font_size_30 text_uppercase mobile_centered text_right text_color_infostrada font_bold margin_bottom_10">Tecnologia avanzata<br />in continuo miglioramento</div>
        <div class="font_size_20 mobile_centered text_right margin_bottom_10 padding_left_50 extended_line_height padding_left_m_15 padding_right_m_15">Con Xbox One S puoi sospendere il gioco e riprendere dal punto esatto in cui lo avevi interrotto, interagire con i tuoi amici e giocare tra console Xbox One e PC con Windows 10. Divertiti con i titoli della tua Xbox 360 e verifica <a href="http://www.xbox.com/it-IT/xbox-one/backward-compatibility" target="_blank" class="text_color_orange font_bold">la retro compatibilità</span>.</div>
    </div>
</div>
<!-- <div class="container text_centered no_padding_container text_color_infostrada margin_bottom_30 mobile_centered">
    Hai bisogno di aiuto? <a class="only_desktop link_infostrada" href="https://www.infostrada.it/nuovaAreaClienti/infostrada/pages/clicktocall/ctc.action?idSito=IN002" target="_blank"><span class="click_to_call border_infostrada text_uppercase margin_left_10">chiama gratis</span></a>
    <a class="only_mobile link_infostrada display_inline" href="tel:800992159" target="_blank"><span class="display_inline click_to_call border_infostrada text_uppercase margin_left_10 margin_left_m_0">chiama gratis</span></a>
</div> -->
