<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="font_size_60 font_bold_condensed container text_color_blue_99 margin_top_30 margin_top_m_0 margin_bottom_30">
    <div>SCOPRI COSA PUOI AVERE</div>
</div>
<div class="landing--offer_details orange_colored_bg margin_bottom_0 padding_top_50 padding_bottom_50">
    <div class="container">
        <h3>Hai esaurito i tuoi GIGA?</h3>
        <ul class="details no_list">
            <li class="font_bold">
                <div class="box_width_70 display_inline vertical_middle box_desktop_width_100">
                    Attiva 3 GIGA da utilizzare senza pensieri. L'offerta si disattiva dopo 4 settimane.
                    <br><span class="font_light">"Per attivare subito invia un SMS al 40400 e scrivi "Lorem Ipsum".</span>
                </div>
                <div class="box_width_30 display_inline vertical_middle only_mobile">
                    <a href="#" class="compile_sms_button text_color_white" data-smsnumber="40400" data-smstext="Lorem Ipsum">
                        <span class="btn_orange margin_top_m_15 margin_left_auto mobile_left">
                            attiva
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="landing__hero--ribbon ribbon_fluid">
        <div class="price">1<span class="currency">€</span></div>
    </div>
</div>
<div class="landing--offer_details orange_colored_bg margin_bottom_30 margin_top_20 padding_top_50 padding_bottom_50">
    <div class="container">
        <h3>Sei sempre online?</h3>
        <ul class="details no_list">
            <li class="font_bold">
                <div class="box_width_70 display_inline vertical_middle box_desktop_width_100">
                    Fai il pieno di GIGA, per te 3 GIGA in pi&ugrave; ogni 4 settimane per tutto l'anno.
                    <br><span class="font_light">Per attivare subito invia un SMS al 40400 e scrivi "Dolor Sit Amet".</span>
                </div>
                <div class="box_width_30 display_inline vertical_middle only_mobile">
                    <a href="#" class="compile_sms_button text_color_white" data-smsnumber="40400" data-smstext="Dolor Sit Amet">
                        <span class="btn_orange margin_top_m_15 margin_left_auto mobile_left">
                            attiva
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="landing__hero--ribbon ribbon_fluid">
        <div class="price">1<span class="currency">€</span></div>
    </div>
</div>
<div class="box_offer--details font_size_30 font_size_m_26 extended_line_height margin_bottom_m_15 font_light margin_top_0 text_centered">Aggiungi alla tua offerta
    <br class="only_mobile"> un nuovo Smartphone</div>
<div class="container landing--offer_details--box_offer__container single_device padding_top_30 padding_bottom_15">
    <!-- DEVICE 1 -->
    <div class="box_width_40 display_inline">
        <img class="auto_image reduce_image_mobile" src="../img/wind_smart.jpg" alt="">
    </div>
    <div class="box_width_60 display_inline">
        <div class="landing--offer_details--box_offer padding_left_50 padding_left_m_15">
            <!-- prezzo e titolo -->
            <div class="box_offer--details font_size_50 font_bold margin_top_30">Wind Smart</div>
            <div class="box_offer--details text_color_orange font_size_50 font_bold margin_top_10">1<span class="font_size_40">&euro;</span></div>
            <div class="box_offer--price font_size_30 font_bold margin_top_10">Anticipo 0<span class="font_size_24">&euro;</span></div>
            <div class="box_offer--price font_size_20 font_light margin_top_5">con Telefono incluso</div>
            <div class="box_offer--price font_size_30 font_light margin_top_20 margin_bottom_15">e 1 GIGA al mese</div>
            <a href="#" class="button--standard display_block font_light margin_top_30 only_desktop">Trova il negozio pi&ugrave; vicino</a>
        </div>
    </div>
    <div class="clear"></div>
    <a href="#" class="button--standard display_block margin_top_30 only_mobile margin_top_30 margin_bottom_30">Trova il negozio pi&ugrave; vicino</a>
</div>
