<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="landing--offer_details">
    <div class="container">
        <ul class="details no_list">
            <li>
                <div class="font_size_32 font_size_m_24 font_bold extended_line_height">Scegli Wind Smart 10 Online Edition e ricevi la SIM direttamente a casa tua.</div>
            </li>
        </ul>
        <ul class="details">
            <li>
                <div class="font_size_26 font_size_m_20 font_light extended_line_height">Consegna in giornata a Milano, Roma e Napoli per ordini effettuati entro le 12:00, a solo 9 €.</div>
            </li>
            <li>
                <div class="font_size_26 font_size_m_20 font_light extended_line_height">Consegna gratuita il giorno seguente, in molti comuni italiani, per gli ordini effettuati prima delle 14:00.</div>
            </li>
            <li>
                <div class="font_size_26 font_size_m_20 font_light extended_line_height">Consegna gratuita in tutta Italia entro 3 giorni lavorativi, 4 per le isole.</div>
            </li>
        </ul>
    </div>
</div>
