<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="landing--offer_details">
    <div class="container">
        <h3>
	        <span class="font_size_32 font_size_m_24 extended_line_height">Ti basta selezionare <br class="only_mobile">“Addebita sul conto Wind” tra i metodi di pagamento disponibili per ottenere in omaggio una serie di contenuti esclusivi e rendere la tua avventura ancora più brillante ed entusiasmante.
			<br><br>
			In più, da quel momento potrai acquistare ciò che vuoi su Google Play pagando comodamente con credito o conto telefonico.
			<br><br>
			<a class="text_underline text_color_white" href="http://play.google.com/redeem?code=WTransf">Clicca qui</a> e segui le istruzioni: bastano pochi passaggi per entrare in un mondo di sorprese. </span>
        </h3>
    </div>
</div>
