<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="landing--offer_details">
    <div class="container">
        <h3>Fino a 8 GIGA per il tuo Smartphone </h3>
        <ul class="details no_list">
            <li>Invita i tuoi amici a passare a Wind se hai un’offerta All Inclusive, Wind Celebration, All Digital, Noi, Call Your Country Super o Call Your Country Wind.</li>
        </ul>
        <div class="text_disclaimer">L'offerta si rinnova ogni 4 settimane. Puoi verificare lo stato dei tuoi inviti e della promozione Porta i Tuoi Amici nella sezione i TUOI INVITI dell'Area Clienti.
Puoi invitare i tuoi amici anche chiamando il 4080.</div>
    </div>
</div>
