<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="container">
    <!-- 1 -->
    <div class="box_valoriale margin_bottom_30 margin_top_m_30">
        <div class="box_width_15 text_centered border_right_solid display_inline vertical_middle">
            <img src="../img/valoriale_calendar.png">
        </div>
        <div class="box_width_85 display_inline padding_left_25 padding_left_m_0 vertical_middle">
            <div class="text_color_blue_99 font_size_38 font_size_m_30 font_bold padding_bottom_5 margin_bottom_m_10 mobile_centered">Rinnovo Mensile</div>
            <div class="text_color_base font_size_26 font_size_m_22 font_light mobile_centered">Le nostre offerte All Inclusive e Noi tutti  si rinnovano ogni 30 giorni.</div>
        </div>
    </div>
    <!-- 2 -->
    <div class="box_valoriale margin_bottom_30">
        <div class="box_width_15 text_centered border_right_solid display_inline vertical_middle">
            <img src="../img/valoriale_at.png">
        </div>
        <div class="box_width_85 display_inline padding_left_25 padding_left_m_0 vertical_middle">
            <div class="text_color_blue_99 font_size_38 font_size_m_30 font_bold padding_bottom_5 margin_bottom_m_10 mobile_centered">Internet Illimitato</div>
            <div class="text_color_base font_size_26 font_size_m_22 font_light mobile_centered">Con le nostre offerte che prevedono internet incluso, sei sempre connesso, navighi Full Speed e al termine dei tuoi GIGA, la velocità massima è aumentata di 4 volte: 128 kbps.</div>
        </div>
    </div>
    <!-- 3 -->
    <div class="box_valoriale margin_bottom_30">
        <div class="box_width_15 text_centered border_right_solid display_inline vertical_middle">
            <img src="../img/valoriale_bag.png">
        </div>
        <div class="box_width_85 display_inline padding_left_25 padding_left_m_0 vertical_middle">
            <div class="text_color_blue_99 font_size_38 font_size_m_30 font_bold padding_bottom_5 margin_bottom_m_10 mobile_centered">Easy Europe</div>
            <div class="text_color_base font_size_26 font_size_m_22 font_light mobile_centered">Con Wind usi la tua offerta in Europa come in Italia, senza costi aggiuntivi.</div>
        </div>
    </div>
    <!-- 4 bis -->
    <div class="box_valoriale margin_bottom_30">
        <div class="box_width_15 text_centered border_right_solid display_inline vertical_middle">
            <img src="../img/valoriale_wind.png">
        </div>
        <div class="box_width_85 display_inline padding_left_25 padding_left_m_0 vertical_middle">
            <div class="text_color_blue_99 font_size_38 font_size_m_30 font_bold padding_bottom_5 margin_bottom_m_10 mobile_centered">SMS MYWIND Incluso</div>
            <div class="text_color_base font_size_26 font_size_m_22 font_light mobile_centered">Il servizio di notifica su chi ti ha cercato è incluso senza costi aggiuntivi.</div>
        </div>
    </div>
    <!-- 4 -->
    <div class="box_valoriale margin_bottom_30">
        <div class="box_width_15 text_centered border_right_solid display_inline vertical_middle">
            <img src="../img/valoriale_veon.png">
        </div>
        <div class="box_width_85 display_inline padding_left_25 padding_left_m_0 vertical_middle">
            <div class="text_color_blue_99 font_size_38 font_size_m_30 font_bold padding_bottom_5 margin_bottom_m_10 mobile_centered">Ricarica Facile</div>
            <div class="text_color_base font_size_26 font_size_m_22 font_light mobile_centered">Ricarica da APP VEON, per te 1 GIGA GRATIS in più.</div>
        </div>
    </div>
    <!-- 5 -->
    <div class="box_valoriale margin_bottom_50">
        <div class="box_width_15 text_centered border_right_solid display_inline vertical_middle">
            <img src="../img/valoriale_cell.png">
        </div>
        <div class="box_width_85 display_inline padding_left_25 padding_left_m_0 vertical_middle">
            <div class="text_color_blue_99 font_size_38 font_size_m_30 font_bold padding_bottom_5 margin_bottom_m_10 mobile_centered">Navigazione Hot Spot inclusa</div>
            <div class="text_color_base font_size_26 font_size_m_22 font_light mobile_centered">Puoi utilizzare i tuoi GIGA anche con altri dispositivi, collegati in Wi-Fi senza costi aggiuntivi.</div>
        </div>
    </div>
</div>
