<!-- =================================== -->
<!-- ============ OFFERTA PITA============== -->
<!-- =================================== -->
<div class="hero_tab active" data-tabtarget="1">
    <div class="landing--offer_details">
        <div class="container">
            <h3>Fino a 8 GIGA per il tuo Smartphone </h3>
            <ul class="details no_list">
                <li>Invita i tuoi amici a passare a Wind se hai un’offerta All Inclusive, Wind Celebration, All Digital, Noi, Call Your Country Super o Call Your Country Wind.</li>
            </ul>
            <div class="text_disclaimer">L'offerta si rinnova ogni 4 settimane. Puoi verificare lo stato dei tuoi inviti e della promozione Porta i Tuoi Amici nella sezione i TUOI INVITI dell'Area Clienti. Puoi invitare i tuoi amici anche chiamando il 4080.</div>
        </div>
    </div>
</div>
<!-- =================================== -->
<!-- ============ OFFERTA pita senior============== -->
<!-- =================================== -->
<div class="hero_tab" data-tabtarget="2">
    <div class="landing--offer_details margin_bottom_5">
        <div class="container">
            <h3>Per te </h3>
            <ul class="details no_list margin_bottom_m_0">
                <li class="margin_bottom_m_0">Internet illimitato e 2 GIGA full Speed.</li>
            </ul>
        </div>
    </div>
    <div class="landing--offer_details margin_bottom_30">
        <div class="container">
            <div class="box_width_80 same_mobile_width display_inline vertical_middle">
                <h3>Per il tuo amico over 60 che passa a Wind </h3>
                <ul class="details no_list margin_bottom_m_0">
                    <li class="margin_bottom_m_0">Minuti illimitati VERSO TUTTI, internet illimitato e 2 GIGA full Speed.</li>
                </ul>
            </div>
            <div class="box_width_20 same_mobile_width display_inline vertical_middle">
                <div class="font_size_100 font_size_m_60 font_bold text_centered text_right_m">6<span class="font_size_50 font_size_m_32">&euro;</span></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="font_size_20 font_size_m_14 margin_bottom_30 font_cond extended_line_height">L’offerta di rinnova ogni <span class="font_bold">4 settimane</span>.<br>
Puoi verificare lo stato dei tuoi inviti e della promozione Porta i tuoi Amici nella sezione i TUOI INVITI dell’Area Clienti.<br>Puoi invitare i tuoi amici anche chiamando il 4080.</div>
</div>
