<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="landing--offer_details">
    <div class="container">
        <ul class="details no_list">
            <li>
                <div class="font_size_32 font_size_m_20 font_bold extended_line_height">ACQUISTA SU AMAZON IL NUOVO SAMSUNG GALAXY S8 A PARTIRE DA MARTEDI 18 LUGLIO. SOLO POCHI PEZZI DISPONIBILI!
            </li>
        </ul>
    </div>
</div>
