<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="landing--offer_details">
    <div class="container">
        <ul class="details no_list">
            <li>
                <div class="font_size_32 font_size_m_24 font_bold extended_line_height">Pronto per il tuo regalo? Da martedì su Amazon il nuovo Samsung S8! Corri ad acquistarlo!
                </div>
            </li>
        </ul>
        <ul class="details">
            <li>
                <div class="font_size_26 font_size_m_20 font_light extended_line_height">Wind Smart 10 +: 1000 minuti verso tutti + 8 GIGA al prezzo di 10€ ogni 4 settimane.</div>
            </li>
            <li>
                <div class="font_size_26 font_size_m_20 font_light extended_line_height">Con Samsung Galaxy S8 aggiungi 1 GIGA al mese per 30 mesi.</div>
            </li>
        </ul>
    </div>
</div>
