<!-- =================================== -->
<!-- ============ OFFERTA ============== -->
<!-- =================================== -->
<div class="container margin_bottom_50 margin_top_40">
    <div class="box_width_50 display_inline vertical_top border_right_solid">
            <img class="display_forced_block margin_bottom_30 max_width_100" src="../img/nowtv_serie.png" alt="">
            <div class="font_size_30 text_uppercase text_centered text_color_blue_99 font_bold margin_bottom_10">Serie tv</div>
            <div class="font_size_22 text_centered margin_bottom_10 padding_left_50 padding_right_50 margin_bottom_50 extended_line_height padding_left_m_15 padding_right_m_15">Le Serie TV del momento in contemporanea con gli Stati Uniti e interi cofanetti On Demand anche in lingua originale. In più per te 4 canali dedicati: Sky Atlantic, Fox, Fox Life e Fox Crime.</div>

    </div>
    <div class="box_width_50 display_inline">
            <img class="display_forced_block margin_bottom_30 max_width_100" src="../img/nowtv_intrattenimento.png" alt="">
            <div class="font_size_30 text_uppercase text_centered text_color_blue_99 font_bold margin_bottom_10 extended_line_height">intrattenimento</div>
            <div class="font_size_22  text_centered margin_bottom_10 padding_left_50 padding_right_50 padding_left_m_15 padding_right_m_15">Gli imperdibili Show di Sky Uno, gli esclusivi documentari, i programmi preferiti dai Bambini, 2 canali Eurosport, le news di Sky TG24 e i migliori speciali di Sky Arte, anche On Demand. In più per te 12 canali per soddisfare tutti i gusti.</div>

    </div>
</div>
