html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0; }

@font-face {
  font-family: 'TP Hero Light';
  src: url("../fonts/TPHero-Light.woff") format("woff"), url("../fonts/TPHero-Light.otf") format("opentype");
  font-weight: light; }
@font-face {
  font-family: 'TP Hero Thin';
  src: url("../fonts/TPHero-Thin.woff") format("woff"), url("../fonts/TPHero-Thin.otf") format("opentype");
  font-weight: thin; }
@font-face {
  font-family: 'TP Hero Hairline';
  src: url("../fonts/TPHero-Hairline.woff") format("woff"), url("../fonts/TPHero-Hairline.otf") format("opentype");
  font-weight: hairline; }
/* ___________________ MIXIN __________________
                       BREAKPOINT MIXIN */
a {
  color: black; }
  a:focus, a:hover {
    color: black;
    text-decoration: none; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.clear-fix:after,
.clear {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.text_align_center {
  text-align: center; }

.text_lowercase {
  text-transform: lowercase; }
.text_uppercase {
  text-transform: uppercase; }

.text_align_left {
  text-align: left; }
.text_align_center {
  text-align: center; }
.text_align_right {
  text-align: right; }

h1 {
  font-family: "TP Hero Hairline";
  font-size: 5.5vw;
  line-height: 6vw;
  text-transform: uppercase;
  margin: 0; }
  @media (max-width: 768px) {
    h1 {
      font-size: 35px;
      line-height: 37px;
      text-align: center; } }
  @media (min-width: 1999px) {
    h1 {
      font-size: 100px;
      line-height: 102px; } }

h4 {
  font-family: "TP Hero Thin";
  font-size: 2vw;
  line-height: 2.1vw;
  text-transform: uppercase;
  margin: 0; }
  @media (max-width: 768px) {
    h4 {
      font-size: 18px;
      line-height: 20px;
      text-align: center; } }
  @media (min-width: 1999px) {
    h4 {
      font-size: 34px;
      line-height: 36px; } }

h6 {
  font-family: "TP Hero Thin";
  font-size: 1.4vw;
  line-height: 1.7vw;
  margin: 0; }
  @media (max-width: 768px) {
    h6 {
      font-size: 16px;
      line-height: 18px;
      text-align: center; } }
  @media (min-width: 1999px) {
    h6 {
      font-size: 30px;
      line-height: 32px; } }

a img {
  outline: none;
  border: 0; }

body {
  background-color: #eeeeee; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1440px) {
    .wrapper {
      max-width: 1024px; } }
  @media (max-width: 768px) {
    .wrapper {
      margin: 0; } }
  .wrapper_cta {
    position: relative; }
    .wrapper_cta .preFooter_shadow {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 100vw; }
  .wrapper_blocks {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 30px; }
    @media (max-width: 1440px) {
      .wrapper_blocks {
        max-width: 1024px; } }

.landing_veon .topClaim {
  height: 480px;
  position: relative;
  z-index: 500; }
  .landing_veon .topClaim h1 {
    margin-top: 60px;
    font-size: 7vw;
    line-height: 8vw; }
  .landing_veon .topClaim h4 {
    text-transform: none;
    font-size: 3vw;
    line-height: 3.5vw;
    text-align: center; }
  @media (max-width: 1025px) {
    .landing_veon .topClaim {
      height: 550px; }
      .landing_veon .topClaim h1 {
        font-size: 9vw;
        line-height: 10vw; } }
  @media (max-width: 540px) {
    .landing_veon .topClaim {
      height: 250px; }
      .landing_veon .topClaim h1 {
        font-size: 9vw;
        line-height: 10vw; } }
  @media (max-width: 400px) {
    .landing_veon .topClaim h1 {
      font-size: 15vw;
      line-height: 17vw; }
    .landing_veon .topClaim h4 {
      font-size: 18px;
      line-height: 20px; } }
  @media (min-width: 1999px) {
    .landing_veon .topClaim h1 {
      font-size: 130px;
      line-height: 130px; }
    .landing_veon .topClaim h4 {
      font-size: 50px;
      line-height: 52px; } }
  @media (max-width: 768px) {
    .landing_veon .topClaim {
      height: auto;
      margin-bottom: 30px; } }
.landing_veon__logo {
  position: relative; }
  .landing_veon__logo .logo_veon {
    position: relative;
    text-align: center;
    margin-top: 60px; }
    .landing_veon__logo .logo_veon img {
      width: 172px;
      height: auto; }

.floating_logo {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 750; }
  .floating_logo img {
    width: 15vw;
    min-width: 90px;
    max-width: 230px; }

.bannerFix {
  position: relative;
  width: 100%;
  z-index: 200; }
  .bannerFix img.image_preFooter {
    display: none;
    width: 100%; }
    .bannerFix img.image_preFooterSmall {
      display: none; }
      @media (max-width: 768px) {
        .bannerFix img.image_preFooterSmall {
          width: 100vw;
          display: block;
          position: absolute;
          right: 0; } }
  .bannerFix .containerBannerFix {
    position: relative;
    background: url(../img/veon_preFooter_big.png) no-repeat;
    background-size: 100vw;
    height: 58vw;
    margin-top: -450px; }
    @media (max-width: 768px) {
      .bannerFix .containerBannerFix {
        background: none;
        margin-top: 0;
        height: auto; } }
    @media (max-width: 540px) {
      .bannerFix .containerBannerFix {
        margin-top: 15px;
        height: auto; } }
    .bannerFix .containerBannerFix div.claims {
      position: relative;
      top: 35vw; }
      @media (max-width: 1200px) {
        .bannerFix .containerBannerFix div.claims {
          top: 33vw; } }
      @media (max-width: 1025px) {
        .bannerFix .containerBannerFix div.claims {
          top: 36vw; } }
      @media (max-width: 768px) {
        .bannerFix .containerBannerFix div.claims {
          top: 60px;
          min-height: calc(100vw + 100px);
          height: 100%; } }
      @media (max-width: 540px) {
        .bannerFix .containerBannerFix div.claims {
          top: 10vw;
          min-height: calc(100vw + 50px);
          height: 100%; } }
      @media (max-width: 540px) {
        .bannerFix .containerBannerFix div.claims {
          min-height: calc(100vw + 70px);
          top: 5vw; } }
      .bannerFix .containerBannerFix div.claims h1 {
        font-family: "TP Hero Hairline";
        text-align: left;
        font-size: 4.5vw;
        line-height: 5vw; }
        @media (max-width: 768px) {
          .bannerFix .containerBannerFix div.claims h1 {
            font-size: 9vw;
            line-height: 10vw; } }
        .bannerFix .containerBannerFix div.claims h1 br {
          display: none; }
          @media (max-width: 768px) {
            .bannerFix .containerBannerFix div.claims h1 br {
              display: block; } }
      .bannerFix .containerBannerFix div.claims.firstClaim {
        color: #fff;
        padding-left: 30px; }
        .bannerFix .containerBannerFix div.claims.firstClaim br.mobileShow {
          display: none; }
          @media (max-width: 1025px) {
            .bannerFix .containerBannerFix div.claims.firstClaim br.mobileShow {
              display: block; } }
        @media (max-width: 540px) {
          .bannerFix .containerBannerFix div.claims.firstClaim h1 {
            font-size: 9vw;
            line-height: 9.5vw; } }
        .bannerFix .containerBannerFix div.claims.firstClaim .offer {
          margin-top: 15px;
          font-family: "TP Hero Thin"; }
          @media (max-width: 1440px) {
            .bannerFix .containerBannerFix div.claims.firstClaim .offer {
              margin-top: 15px; } }
          @media (max-width: 768px) {
            .bannerFix .containerBannerFix div.claims.firstClaim .offer {
              width: 80%; } }
          @media (max-width: 400px) {
            .bannerFix .containerBannerFix div.claims.firstClaim .offer {
              width: 100%; } }
          .bannerFix .containerBannerFix div.claims.firstClaim .offer .conjunction {
            display: none; }
            @media (max-width: 1025px) {
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .conjunction {
                display: inline-block;
                padding-left: 15px;
                padding-right: 15px;
                font-size: 4vw;
                line-height: 4.5vw; } }
            @media (max-width: 768px) {
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .conjunction {
                display: none; } }
          @media (max-width: 768px) {
            .bannerFix .containerBannerFix div.claims.firstClaim .offer .container_giga {
              margin-top: 13vw; } }
          @media (max-width: 540px) {
            .bannerFix .containerBannerFix div.claims.firstClaim .offer .container_giga {
              margin-top: 15px; } }
          .bannerFix .containerBannerFix div.claims.firstClaim .offer .giga,
          .bannerFix .containerBannerFix div.claims.firstClaim .offer .minuti {
            font-family: "TP Hero Thin";
            font-size: 4vw;
            line-height: 4.5vw; }
            @media (max-width: 768px) {
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .giga,
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .minuti {
                font-size: 9vw;
                line-height: 10vw;
                margin-top: 10px; } }
            @media (max-width: 1025px) {
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .giga,
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .minuti {
                display: inline-block; } }
            @media (max-width: 540px) {
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .giga,
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .minuti {
                font-size: 9vw;
                line-height: 10vw;
                margin-top: 10px; } }
          .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices {
            margin-top: 15px; }
            @media (max-width: 1440px) {
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices {
                margin-top: 15px; } }
            @media (max-width: 768px) {
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices {
                margin-top: 10vw; } }
            @media (max-width: 540px) {
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices {
                margin-top: 15px; } }
            .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .strikethrough {
              position: relative;
              font-size: 60px !important;
              line-height: 60px !important;
              font-family: "TP Hero Hairline" !important; }
              @media (max-width: 768px) {
                .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .strikethrough {
                  font-size: 40px !important;
                  line-height: 42px !important; } }
              @media (max-width: 400px) {
                .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .strikethrough {
                  display: inline-block; } }
            .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price {
              position: relative;
              font-size: 80px;
              line-height: 80px;
              font-family: "TP Hero Thin"; }
              @media (max-width: 1025px) {
                .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price {
                  font-size: 60px;
                  line-height: 62px; } }
              @media (max-width: 768px) {
                .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price {
                  font-size: 60px;
                  line-height: 62px; } }
              @media (max-width: 400px) {
                .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price {
                  display: block;
                  padding: 0; } }
              @media (max-width: 540px) {
                .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price {
                  display: block;
                  padding: 0; } }
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price_instead {
                font-size: 3vw;
                line-height: 3.5vw;
                position: relative;
                padding: 0 10px; }
                @media (max-width: 768px) {
                  .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price_instead {
                    padding: 0px;
                    line-height: 40px; } }
                @media (max-width: 540px) {
                  .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price_instead {
                    left: 20px;
                    bottom: 10px;
                    font-size: 16px;
                    line-height: 18px; } }
                .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price_instead br {
                  display: none; }
                  @media (max-width: 768px) {
                    .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price_instead br {
                      display: block; } }
              .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price:after {
                content: "";
                position: absolute;
                right: 5px;
                font-size: 30px;
                top: 0;
                display: block; }
                @media (max-width: 400px) {
                  .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price:after {
                    left: 140px;
                    top: -20px; } }
                @media (max-width: 540px) {
                  .bannerFix .containerBannerFix div.claims.firstClaim .offer .prices .offer_price:after {
                    left: 140px;
                    top: -20px; } }

.ordina {
  background-color: #ffcb24;
  padding: 15px 60px;
  font-size: 2vw;
  width: 100%;
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-family: "TP Hero Thin";
  cursor: pointer;
  white-space: nowrap;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .ordina:hover {
    opacity: 0.9; }
  @media (max-width: 1025px) {
    .ordina {
      margin-top: 15px;
      padding: 10px 50px; } }
  @media (max-width: 768px) {
    .ordina {
      margin-left: 0;
      width: 100%;
      font-size: 16px;
      line-height: 18px; } }
  @media (max-width: 400px) {
    .ordina {
      margin-left: 0;
      width: 100%; } }
  @media (max-width: 540px) {
    .ordina {
      font-size: 16px;
      line-height: 18px; } }
  .ordina a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase; }

.details .text_block {
  font-family: "TP Hero Thin";
  font-size: 26px;
  line-height: 30px;
  margin-top: 20px;
  text-align: left; }
  @media (max-width: 1440px) {
    .details .text_block {
      font-size: 18px;
      line-height: 20px; } }
  @media (max-width: 1025px) {
    .details .text_block br {
      display: none; } }
.details .list {
  line-height: 30px;
  margin-top: 10px;
  font-size: 26px;
  font-family: "TP Hero Thin";
  text-align: left; }
  @media (max-width: 1025px) {
    .details .list {
      font-size: 14px;
      line-height: 16px; }
      .details .list br {
        display: none; } }
  @media (max-width: 1440px) {
    .details .list {
      font-size: 18px;
      line-height: 20px; } }
  .details .list ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    .details .list ul li {
      text-indent: -5;
      padding-top: 5px; }

.call_to {
  font-family: "TP Hero Thin";
  background-color: #ffcb24;
  padding: 15px 60px;
  font-size: 2vw;
  display: block;
  margin: 30px auto;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .call_to:hover {
    opacity: 0.9; }
  .call_to a {
    color: #000;
    text-decoration: none; }
  @media (max-width: 768px) {
    .call_to {
      font-size: 4vw;
      width: 80%; } }

.block_40 {
  display: inline-block;
  width: 40%;
  float: left;
  padding: 30px;
  position: relative;
  z-index: 100; }
  @media (max-width: 768px) {
    .block_40 {
      text-align: center; } }
  .block_40 img {
    width: 100%; }
    @media (max-width: 768px) {
      .block_40 img {
        width: 60%; } }
  @media (max-width: 768px) {
    .block_40 {
      padding: 0 20px;
      width: 100%;
      float: none;
      margin-top: 40px; } }

.block_60 {
  display: inline-block;
  width: 60%;
  float: left;
  padding: 0 30px;
  position: relative;
  z-index: 100; }
  .block_60 .title {
    font-size: 6vw;
    line-height: 6.5vw;
    font-family: "TP Hero Thin";
    text-transform: uppercase;
    margin-bottom: 80px;
    margin-top: 10vw; }
    @media (max-width: 768px) {
      .block_60 .title {
        text-align: center;
        margin-bottom: 30px; } }
  @media (max-width: 768px) {
    .block_60 {
      width: 100%;
      padding: 0 20px; } }

.download {
  width: 100%;
  padding: 3% 0;
  background-color: #ffcb24; }
  .download .phone {
    width: 45%;
    float: left; }
    .download .phone img {
      width: 100%;
      height: auto; }
      @media (max-width: 768px) {
        .download .phone img {
          width: 60%; } }
    @media (max-width: 768px) {
      .download .phone {
        width: 100%;
        padding: 0 20px;
        margin-top: 15%;
        text-align: center; } }
  .download .download_app {
    float: left;
    width: 53%;
    margin-left: 2%;
    margin-top: 15%; }
    .download .download_app h1 {
      font-size: 6.5vw;
      line-height: 7vw; }
      @media (max-width: 768px) {
        .download .download_app h1 {
          font-size: 13vw;
          line-height: 14vw; } }
      @media (min-width: 1999px) {
        .download .download_app h1 {
          font-size: 130px;
          line-height: 132px; } }
    @media (max-width: 768px) {
      .download .download_app {
        width: 100%;
        padding: 0 20px;
        margin-left: 0;
        text-align: center; } }
    .download .download_app .gplay_button,
    .download .download_app .appstore_button {
      margin: 30px 0;
      display: inline-block; }

.footer {
  position: relative;
  background-color: #191919;
  width: 100%;
  color: #fff; }
  .footer a {
    color: inherit;
    text-decoration: underline; }
  .footer .right_logo {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 750; }
  .footer .containerFooter {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "TP Hero Thin";
    font-size: 14px;
    line-height: 18px; }
    .footer .containerFooter b {
      font-family: "TP Hero Light";
      color: #d2d2d2; }
    .footer .containerFooter p {
      margin-top: 0;
      color: #9a9a9a; }
    .footer .containerFooter .logoFooterContainer {
      padding: 60px 30px; }
    .footer .containerFooter .blockFooter {
      margin-bottom: 30px;
      padding: 60px 30px 0 30px; }
      @media (max-width: 768px) {
        .footer .containerFooter .blockFooter.quickLinks {
          display: none; } }
    .footer .containerFooter ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      color: #9a9a9a; }
      .footer .containerFooter ul li {
        text-indent: -5px;
        padding-top: 5px; }
        .footer .containerFooter ul li:before {
          content: "-";
          text-indent: -5px; }
        .footer .containerFooter ul li a {
          color: #ffcc00;
          text-decoration: none; }
  .footer .disclaimer {
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 15px 60px 15px;
    color: #666;
    font-size: 12px;
    line-height: 12px; }
  .footer .floatingFooterLogo {
    position: absolute;
    right: 0;
    top: 30px; }
    .footer .floatingFooterLogo img {
      width: 150px; }

/*# sourceMappingURL=veon-landing.css.map */
