// ================= VARS  ================== //
$color_white: #fff;
$color_grey: #eee;
$color_text: #000;
$color_infostrada: #153080;
$color_light_grey: #d6d6d6;
$color_border: #d9dfec;
$weight-light: 'Trade Gothic Light';
$weight-normal: 'Trade Gothic';
$weight-bold: 'Trade Gothic Bold';
$weight-cond: 'Trade Gothic Condensed';
$weight-bold-cond: 'Trade Gothic Bold Condensed';
@import 'partials/typography';
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

$breakpoints: ( 'super-tiny': ( max-width: 480px), 'tiny': ( max-width: 400px), 'small_650': ( max-width: 700px), 'small': ( max-width: 768px), 'medium': ( max-width: 910px), 'large': ( max-width: 1025px), 'largest': ( max-width: 1440px), 'min-largest':( min-width: 1439px), 'extra-large':( min-width: 1999px), 'min-desktop':( max-width: 1024px));
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a your breakpoint named `#{$name}`.";
    }
}

// OPACITY 
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: $color_white;
    font-family: $weight-normal;
    color: $color_text;
    font-size: 14px;
}

.clear {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

// PARTIAL
.text_highlight {
    font-weight: bold;
}

.landing_infostrada {
    &__containerMain {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    &__container {
        width: 878px;
        margin: 0 auto;
        @include breakpoint(small) {
            width: 100%;
        }
    }
    &__containerHero {
        //width: 100%;
        //width: 100vw;
        width: 1024px;
        position: relative;
        padding: 19px 0;
        //left: calc(-50vw + 50%);
        height: 530px;
        margin: 0 auto;
        left: -72px;
        background-color: $color_light_grey;
        /*background-image: url(../img/visore/visore_testimonial_wide.png);
        background-repeat: no-repeat;
        background-position: top left;*/
        @include breakpoint(small) {
            width: 100%;
            height: auto;
            left: 0;
            padding: 20px 10px 30px;
        }
    }
    &__containerHero--tre {
        //width: 100%;
        //width: 100vw;
        width: 1024px;
        position: relative;
        padding: 19px 0;
        //left: calc(-50vw + 50%);
        height: 530px;
        margin: 0 auto;
        left: -72px;
        background-color: $color_infostrada;
        background-image: url(../img/visore/visore_bg.jpg);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: auto 100%;
        @include breakpoint(super-tiny) {
            background-image: url(../img/visore/visore_bg_mobile.jpg);
            background-size: 100% 100%;
        }
        @include breakpoint(small) {
            width: 100%;
            height: auto;
            left: 0;
            padding: 20px 10px 30px;
        }
    }
    &__logo {
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        img {
            width: 100%;
            max-width: 218px;
            @include breakpoint(tiny) {
                width: 50%;
            }
        }
    }
    &__hero {
        width: 878px;
        margin: 0 auto;
        @include breakpoint(small) {
            width: 100%;
        }
        .left_block {
            float: left;
            width: 55%;
            @include breakpoint(small) {
                width: 100%;
                float: none;
            }
            .title {
                font-family: $weight-bold-cond;
                color: $color_infostrada;
                font-size: 85px;
                text-transform: uppercase;
                @include breakpoint(medium) {
                    font-size: 75px;
                    text-align: center;
                }
                @include breakpoint(super-tiny) {
                    font-size: 46px;
                    //text-align: center;
                }
            }
            .titleShadow {
                font-family: $weight-bold;
                color: $color_white;
                font-size: 69px;
                text-transform: uppercase;
                text-shadow: 0px 1px 8px $color_infostrada;
                @include breakpoint(medium) {
                    font-size: 55px;
                    //padding-left: 20px;
                    text-align: center;
                }
                @include breakpoint(super-tiny) {
                    font-size: 35px;
                }
            }
            .titleShadowLight {
                font-family: $weight-bold-cond;
                color: $color_white;
                font-size: 50px;
                text-transform: uppercase;
                text-shadow: 0px 1px 8px $color_infostrada;
                @include breakpoint(medium) {
                    font-size: 40px;
                    padding-left: 20px;
                    text-align: center;
                }
                @include breakpoint(super-tiny) {
                    font-size: 28px;
                    padding-left: 5px;
                }
             }
            .subTitle {
                text-align: center;
            }
            .subTitleShadow {
                font-family: $weight-bold;
                color: $color_white;
                font-size: 45px;
                text-transform: uppercase;
                text-shadow: 0px 1px 8px $color_infostrada;
                display: inline;
                float: left;
                @include breakpoint(medium) {
                    font-size: 40px;
                    text-align: center;
                    float: none;
                }
                @include breakpoint(super-tiny) {
                    font-size: 30px;
                    padding-left: 5px;
                    float: none;
                }
            }
            .subTitlePriceShadow {
                font-family: $weight-bold;
                color: $color_white;
                font-size: 55px;
                text-transform: uppercase;
                text-shadow: 0px 1px 8px $color_infostrada;
                @include breakpoint(medium) {
                    padding-left: 0;
                    text-align: center;
                }
                @include breakpoint(super-tiny) {
                    font-size: 35px;
                    padding-left: 0;
                }
            }
            .listDetails {
                font-family: $weight-bold-cond;
                color: $color_white;
                font-size: 28px;
                text-transform: uppercase;
                text-shadow: 0px 1px 8px black;
                ul {
                    padding-left: 0px;
                    margin-top: 10px;
                    margin-bottom: 0px;
                    li {
                        position: relative;
                        overflow: hidden;
                        list-style: none;
                        padding-left: 25px;
                        line-height: 1.35em;
                        margin: 0 0 .5em 0;
                        @include breakpoint(super-tiny) {
                            padding-left: 15px;
                        }
                        &:before {
                            background: $color_white;
                            overflow: hidden;
                            list-style: none;
                            content: "";
                            position: absolute;
                            top: 15px;
                            left: 0;
                            width: 10px;
                            height: 10px;
                            @include border-radius(50%);
                            box-shadow: 0px 1px 8px black;
                            @include breakpoint(super-tiny) {
                                top: 8px;
                                //left: 15px;
                                width: 5px;
                                height: 5px;
                            }
                        }
                    }
                }
                @include breakpoint(medium) {
                    font-size: 25px;
                    padding-left: 20px;
                }
                @include breakpoint(super-tiny) {
                    font-size: 16px;
                    padding-left: 5px;
                }
            }
            .price {
                font-family: $weight-bold;
                color: $color_infostrada;
                font-size: 93px;
                line-height: 61px;
                text-transform: uppercase;
                @include breakpoint(medium) {
                    font-size: 80px;
                    text-align: center;
                }
                @include breakpoint(super-tiny) {
                    font-size: 60px;
                }
            }
            .counter {
                padding: 5px 23px;
                margin-top: 36px;
                color: $color_infostrada;
                border: 2px solid $color_infostrada;
                @include border-radius(4px);
                width: 80%;
                text-transform: uppercase;
                @include breakpoint(medium) {
                    font-size: 12px;
                    text-align: center;
                    margin: 0 auto;
                    padding: 5px;
                    margin-top: 20px;
                }
                @include breakpoint(super-tiny) {
                    width: 100%;
                    margin-top: 15px;
                }
                .time {
                    font-weight: bold;
                    font-size: 25px;
                    @include breakpoint(super-tiny) {
                        font-size: 15px;
                    }
                }
            }
        }
        .right_block {
            float: right;
            width: 45%;
            @include breakpoint(small) {
                width: 100%;
                float: none;
            }
            .image_block {
                float: right;
                top: 5px;
                position: relative;
                right: 30px;
                @include breakpoint(small) {
                    left: 0;
                    //width: 100%;
                    text-align: center;
                    margin: 0 auto;
                    top: 0;
                    float: none;
                }
                img {
                    @include breakpoint(super-tiny) {
                        width: 75%;
                    }
                }
            }
            .sticker_block {
                float: right;
                position: relative;
                top: 14px;
                right: 16px;
                .single_sticker {
                    padding: 5px 0;
                    img {
                        @include breakpoint(medium) {
                            //width: 80%;
                        }
                    }
                }
            }
        }
    }
    &__buttonAnchor {
        padding: 15px 30px;
        width: auto;
        margin: 10px 18px;
        background-color: $color_infostrada;
        @include border-radius(6px);
        text-align: center;
        display: none;
        cursor: pointer;
        @include breakpoint(super-tiny) {
            display: block;
        }
        a {
            font-family: $weight-normal;
            color: $color_white;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__checkCopertura {
        position: absolute;
        z-index: 999;
        height: 320px !important;
        //top: -150px;
        /*.container {
            padding-left: 0;
            padding-right: 0;
        }*/
    }
    &__contentSubFrame {
        position: relative;
        top: -150px;
        @include breakpoint(small) {
            top: 20px;
        }
    }
    &__content {
        @include breakpoint(medium) {
            margin: 0 16px;
        }
        &--treeParagraph {
            width: 100%;
            border: 2px solid $color_border;
            padding: 40px 0;
            margin: 0 auto;
            @include breakpoint(small) {
                width: 100%;
                padding: 15px 0;
            }
            .listItem {
                position: relative;
                width: 33.33%;
                text-transform: uppercase;
                text-align: center;
                float: left;
                color: $color_infostrada;
                font-size: 20px;
                padding: 0 20px;
                @include breakpoint(small) {
                    width: 100%;
                    float: none;
                    padding: 20px;
                    font-size: 16px;
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 2px;
                    background-color: #eee;
                    @include breakpoint(small) {
                        left: calc(50% - 50px);
                        right: calc(50% - 50px);
                        height: 2px;
                        bottom: 0;
                        width: 100px;
                    }
                }
                &:nth-of-type(1)::after {
                    @include breakpoint(small) {
                        display: none;
                    }
                }
                &:nth-of-type(3)::after {
                    display: none;
                    @include breakpoint(small) {
                        display: block;
                    }
                }
            }
        }
        &--description {
            width: 100%;
            margin: 0 auto;
            padding: 32px;
            line-height: 16px;
            font-size: 1em;
            @include breakpoint(medium) {
                padding: 32px 0;
            }
        }
        &--singleParagraph {
            width: 100%;
            color: $color_infostrada;
            border: 2px solid $color_border;
            padding: 40px 32px;
            margin: 0 auto;
            font-size: 18px;
            @include breakpoint(super-tiny) {
                font-size: 15px;
            }
        }
        &--informa {
            padding: 0 32px;
            position: relative;
            .popup {
                position: relative;
                padding: 10px 0;
                width: 140px;
                @include breakpoint(medium) {
                    text-align: center;
                    margin: 0 auto;
                }
                a.link_popup {
                    padding-left: 25px;
                    cursor: pointer;
                    &:before {
                        color: $color_infostrada;
                        content: "i";
                        @include border-radius(50%);
                        border: 1px solid $color_infostrada;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        position: absolute;
                        top: 10px;
                        left: 0;
                    }
                    &:hover {
                        opacity: 0.5;
                        text-decoration: none;
                    }
                }
            }
            .offert_details {
                padding: 20px 0;
                @include breakpoint(medium) {
                    padding: 5px 0 10px;
                }
                .left_block {
                    float: left;
                    @include breakpoint(medium) {
                        text-align: center;
                        float: none;
                    }
                }
                .right_block {
                    float: right;
                    @include breakpoint(medium) {
                        float: none;
                        margin: 0 auto;
                        text-align: center;
                    }
                    .question {
                        float: left;
                        @include breakpoint(medium) {
                            float: none;
                            margin-top: 50px;
                        }
                    }
                    .link {
                        float: left;
                        @include breakpoint(medium) {
                            float: none;
                            margin-top: 10px;
                            margin-bottom: 30px;
                        }
                        a.call_to_costumer {
                            @include border-radius(10px);
                            border: 1px solid $color_infostrada;
                            padding: 7px 10px;
                            margin-left: 10px;
                            cursor: pointer;
                            text-transform: uppercase;
                            @include breakpoint(medium) {
                                margin-left: 0;
                            }
                            &:hover {
                                opacity: 0.5;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &__footer {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid $color_grey;
        margin-left: 32px;
        margin-right: 32px;
        &--copyWind {
            padding-top: 5px;
            @include breakpoint(small) {
                margin: 0 auto;
                text-align: center;
                padding-top: 20px;
                font-size: 11px;
            }
        }
        &--logoWind {
            float: right;
            @include breakpoint(small) {
                float: none;
                margin: 0 auto;
                text-align: center;
            }
        }
        &--copyTre {
            padding-top: 10px;
            @include breakpoint(small) {
                margin: 0 auto;
                text-align: center;
                padding-top: 20px;
                font-size: 11px;
            }
        }
        &--logoTre {
            float: right;
            @include breakpoint(small) {
                float: none;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}

@import 'partials/popup';
