body {
    font-family: "Trebuchet MS";
    font-family: 'Fira Sans';
}
b {
    font-weight: 500;
}
.contenttable {
    border-collapse: collapse;
    display: table;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.contenttable tbody {
    display: table;
    width: 100%;
}
.contenttable tbody {
    color: #666666;
}
.contenttable tr {
    border-bottom: 1px solid #CECECE;
    display: table-row;
    margin-left: -1px;
    width: 100%;
}
.contenttable tr.align-left {
    text-align: left;
}
.contenttable tr.align-center {
    text-align: center;
}
.contenttable tr.align-right {
    text-align: right;
}
.contenttable tr.align-justify {
    text-align: justify;
}
.contenttable tr td {
    border-bottom: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
    display: table-cell;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    width: auto;
    text-align: left;
    line-height: 18px;
}
.contenttable tr td.align-left {
    text-align: left;
}
.contenttable tr td.align-center {
    text-align: center;
}
.contenttable tr td.align-right {
    text-align: right;
}
.contenttable tr td.align-justify {
    text-align: justify;
}
.contenttable tr td:first-child {
    border-left: none;
}
.contenttable tr td p {
    margin: 0 !important;
}
.contenttable tr td h3 {
    color: #21B8C6;
    font-size: 14px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 16px;
    text-align: left;
    margin: 0;
}
.contenttable tr.rating {
    height: 65px;
}
.contenttable .tab-analisti tr td {
    text-align: left;
}
.contenttable .tab-associazione-consumatori a {
    text-decoration: underline;
}
.tabella_centered.contenttable tr td h3,
.tabella_centered.contenttable tr td {
    text-align: center;
}
.contenttable {
    border: 4px solid #eee;
}
/* MEDIAQUERY */
@media (max-width: 768px) {
    .contenttable {
        border: 0;
    }
    .contenttable tr td h3 {
        font-size: 16px;
    }
    .contenttable tr td {
        font-size: 12px;
    }
}