.windtre {
  &__primary-nav {
    font-family: "Fira Sans Light";
    font-size: 16px;
    line-height: 1.2em;
    min-width: 100%;
    max-width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid $color_grey_medium_light;
    &.stuck {
      position: fixed;
      top: 0;
    }
    > .windtre__primary-nav__links {
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 25px;
        opacity: 0.8;
        background-size: contain;
        background-repeat: repeat-y;
      }
      &:before {
        left: 0;
        background-image: url('../img/bg-ltr.png');
      }
      &:after {
        right: 0;
        background-image: url('../img/bg-rtl.png');
      }
    }
    ul {
      list-style-type: none;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      float: left;
      height: 69px;
      &.active {
        > .nav_link--label {
          background-color: #666;
          float: left;

          > .nav_link {
            color: transparent;
            text-indent: -9999px;
            overflow: hidden;
            width: 40px;
            position: relative;
            z-index: 20;
            &:after,
            &:before {
              left: 15px;
              width: 2px;
              height: 12px;
              display: block;
              position: absolute;
              background-color: white;
              content: "";
            }
            &:after {
              -webkit-transform: translate(0, -12px) rotate(-45deg);
              -moz-transform: translate(0, -12px) rotate(-45deg);
              -ms-transform: translate(0, -12px) rotate(-45deg);
              -o-transform: translate(0, -12px) rotate(-45deg);
              transform: translate(0, -12px) rotate(-45deg);
            }
            &:before {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        z-index: 5;
        position: relative;
      }
    }
    a {
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      color: #292f34;
      height: 69px;
      &:hover {
        color: #ccd1d9;
      }
    }
    &__logo {
      //display: none;
      margin: 0;
      display: inline-block;
      vertical-align: top;
      float: left;
      .logo {
        margin: 5px 0;
        display: none;
        &-link{
          float: left;
          display: inline-block;
        }
      }
      .home-icon {
        display: inline-block;
        width: 2.5rem;
        height: 69px;
        background-color: black;
        background-image: url('../img/home-512.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
        background-position: center center;
      }
    }
    &__links {
      width: calc(100% - 85px);
      padding: 0;
      margin: 0;
      position: relative;
      float: left;
    }
    .nav_link {
      padding: 25px 20px;
      display: inline-block;
      white-space: nowrap;
    }
    &__language {
      display: inline-block;
      vertical-align: top;
      .language {
        position: relative;
        z-index: 10;
        display: inline-block;
        color: white;
        background-color: $color_grey_dark;
        padding: 25px 15px;
      }
    }
  }
}

@media (min-width: 480px) {
  .windtre {
    &__primary-nav {
      li {
        &.active {
          > .nav_link--label {
            > .nav_link {
              border-right: 1px solid white;
              color: white;
              text-indent: 0;
              overflow: visible;
              width: auto;
              &:after,
              &:before {
                content: none;
              }
            }
            z-index: 5;
            position: relative;
          }
        }
      }
      &__logo {
        .logo {
          display: inline-block;
          margin: 10px 19px;
        }
        .home-icon {
        display: none;
      }
      }
      &__links {
        width: calc(100% - 240px);
      }
      &__link {}
      &__language {
        .language {
          padding: 25px 44px;
        }
      }
    }
  }
}
