.windtre {
  &__primary-nav {
    min-width: 100%;
    max-width: 100%;
    border-bottom: 1px solid $color_grey_medium_light;
    background-color: #FFF;
    font-family: 'Fira Sans Light';
    font-size: 16px;
    line-height: 1.2em;
    &.stuck {
      position: fixed;
      top: 0;
    }
    > .windtre__primary-nav__links {
      &::before,
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        background-repeat: repeat-y;
        background-size: 100% 100%;
        content: '';
        opacity: .8;
        filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
      }
      &:before {
        left: 0;
        width: 25px;
        background-image: url('../img/bg-ltr.png');
      }
      &:after {
        right: 0;
        z-index: 5;
        width: 50px;
        background-image: url('../img/bg-rtl.png');
      }
    }
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;
      list-style-type: none;
    }
    li {
      display: inline-block;
      height: 69px;
      margin: 0;
      float: left;
      vertical-align: top;
      &.active {
        > .nav_link {
          float: left;
          background-color: #666;
          > .nav_link--label {
            position: relative;
            width: 40px;
            background-image: url('../img/Back-100.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            color: transparent;
            text-indent: -9999px;
            overflow: hidden;
            z-index: 20;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/Back-100.png', sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/Back-100.png', sizingMethod='scale')";
          }
        }
        position: relative;
        z-index: 5;
      }
    }
    a {
      display: inline-block;
      height: 69px;
      color: #292f34;
      text-decoration: none;
      vertical-align: top;
      &:hover {
        color: #ccd1d9;
      }
      &.current {
        span {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
    &__logo {
      display: inline-block;
      margin: 0;
      float: left;
      vertical-align: top;
      .logo {
        display: inline-block;
        max-width: 70px;
        margin: 10px 0;
        &-link {
          display: inline-block;
          height: auto;
          float: left;
        }
      }
      .home-icon {
        display: inline-block;
        width: 2.5rem;
        height: 69px;
        float: left;
        background-color: black;
        background-image: url('../img/home-512.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.4rem;
      }
    }
    &__links {
      position: relative;
      width: auto;
      margin: 0;
      padding: 0;
      float: left;
    }
    .nav_link--label {
      display: inline-block;
      padding: 25px 20px;
      white-space: nowrap;
    }
    &__language {
      display: inline-block;
      vertical-align: top;
      .language {
        display: inline-block;
        position: relative;
        padding: 25px 15px;
        background-color: $color_grey_dark;
        color: white;
        z-index: 10;
      }
    }
  }
}

.gt-480 {
  .windtre {
    &__primary-nav {
      li {
        &.active {
          > .nav_link {
            position: relative;
            z-index: 5;
            > .nav_link--label {
              width: auto;
              background-image: none;
              color: white;
              text-indent: 0;
              overflow: visible;
              filter: none;
              -ms-filter: "none";
              &:before {
                content: "<< "
              }
            }
          }
        }
      }
      &__logo {
        margin: 0 19px;
        .logo {
          display: inline-block;
          width: 100px;
          max-width: none;
        }
        .home-icon {
          display: none;
        }
      }
      &__links {
        width: auto;
      }
      &__link {}
      &__language {
        .language {
          padding: 25px 44px;
        }
      }
    }
  }
}
