.windtre {
  &__secondary-nav {
    background-color: $color_grey;
    &__links {
      margin: 0;
      padding: 0;
      text-align: right;
    }
    &__link {
      display: inline-block;
      margin-right: .5em;
    }
  }
}
