@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";
.pagination_block__content.pagination {
    margin: 1rem auto;
}

.pagination_block__content.pagination .pagination_item.active .pagination_link {
    color: #f48135;
    background-color: #f4f4f4 !important;
    border-color: #e6e9ed;
}

.pagination_block__content.pagination .pagination_link {
    border-right: none;
    border-left: none;
    color: #292f36;
    border-color: #e6e9ed;
}

.pagination_block__content.pagination .pagination_link:hover {
    color: #f48135;
}

.pagination_block__content.pagination .pagination_link:visited,
.pagination_block__content.pagination .pagination_link:active {
    background-color: white;
}

.pagination_block__content.pagination .pagination_previous,
.pagination_block__content.pagination .pagination_next {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #e6e9ed;
    border-color: #e6e9ed;
}

.pagination_block__content.pagination .pagination_previous span:before,
.pagination_block__content.pagination .pagination_next span:before {
    color: #f48135;
    font-size: 0.9rem;
    font-family: "FontAwesome";
}

.pagination_block__content.pagination .pagination_previous.disabled,
.pagination_block__content.pagination .pagination_next.disabled {
    pointer-events: none;
}

.pagination_block__content.pagination .pagination_previous.disabled span:before,
.pagination_block__content.pagination .pagination_next.disabled span:before {
    color: #ccd1d9 !important;
}

.pagination_block__content.pagination .pagination_previous_icon,
.pagination_block__content.pagination .pagination_next_icon {
    font-size: 0;
}

.pagination_block__content.pagination .pagination_previous_icon:before {
    content: "\F053";
}

.pagination_block__content.pagination .pagination_next_icon:before {
    content: "\F054";
}
