body {
  font-family: "Trade Gothic", sans-serif;
  color: #292f36;
  font-size: 14px; }

.home_page {
  line-height: normal;
  width: 100%;
  margin: 0 auto; }

.start_header {
  width: 100%;
  height: 84px;
  border-bottom: 1px solid #656D78;
  background-color: #fff;
  margin-bottom: 80px; }
  .start_header__container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    padding: 10px 30px; }
    .start_header__container .logo-wind {
      float: left; }

.start_block {
  background-color: #fff;
  max-width: 1024px;
  margin: 0 auto; }
  .start_block__content {
    /*max-width: 1024px;
    margin: 0 auto;*/ }
  .start_block__img {
    margin: 0 auto;
    text-align: center;
    /*@include breakpoint(med-large) {
        margin-top: 40px;
    }*/ }
    .start_block__img img {
      width: 100%;
      max-width: 393px;
      display: inline;
      margin: 0 auto;
      height: auto; }
    .start_block__img #MapLogos area {
      outline: 0; }
  .start_block__adv {
    padding-top: 10px;
    margin: 0 auto;
    text-align: center; }
    .start_block__adv img {
      max-width: 100%;
      display: inline; }
  .start_block__title {
    font-family: "Trade Gothic Bold", sans-serif;
    text-align: left;
    padding-top: 30px;
    margin-bottom: 30px;
    color: #F48135;
    font-size: 3.2857em;
    /*@include breakpoint(small) {
        font-size: 2.5em;
    }*/ }
  .start_block__subTitle {
    font-family: "Trade Gothic Bold", sans-serif;
    text-align: left;
    margin-bottom: 30px;
    color: #212121;
    font-size: 1.714em;
    /*@include breakpoint(small) {
        font-size: 1.3em;
    }*/ }
  .start_block__label {
    font-family: "Trade Gothic", sans-serif;
    text-align: left;
    font-size: 1.714em;
    margin-bottom: 30px;
    color: #212121;
    /*@include breakpoint(small) {
        font-size: 1.3em;
    }*/ }
  .start_block__searchContainer {
    margin-left: 0;
    margin-right: 0; }
    .start_block__searchContainer input.gsc-search-button,
    .start_block__searchContainer input.gsc-search-button:hover,
    .start_block__searchContainer input.gsc-search-button:focus {
      box-sizing: initial !important; }
    .start_block__searchContainer .gsib_a {
      padding-top: 2px; }

.start_footer {
  position: absolute;
  width: 100%;
  background-color: #292F36;
  margin-top: 40px;
  top: 100%; }
  .start_footer__container {
    display: table;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 30px; }
    .start_footer__container .boxLeft {
      font-family: "Trade Gothic", sans-serif;
      display: table-cell;
      vertical-align: middle;
      color: #FFF;
      font-size: 14px;
      text-align: left; }
      .start_footer__container .boxLeft .only_mobile {
        display: none; }
    .start_footer__container .boxRight {
      display: table-cell;
      vertical-align: middle;
      text-align: right; }

@media all and (max-width: 992px) {
  .start_block__img {
    margin-top: 40px; } }
@media all and (max-width: 768px) {
  .start_header {
    height: 69px;
    margin-bottom: 0; }
    .start_header__container {
      padding: 5px 30px; }
      .start_header__container .logo-wind img {
        width: 70px;
        height: auto;
        position: relative;
        top: 5px; }

  .start_block__title {
    font-size: 2.5em; }
  .start_block__subTitle {
    font-size: 1.3em; }
  .start_block__label {
    font-size: 1.3em; } }
@media all and (max-width: 600px) {
  .start_footer__container .boxLeft .only_desktop {
    display: none; }
  .start_footer__container .boxLeft .only_mobile {
    display: block; } }

/*# sourceMappingURL=blocco_start.css.map */
