<div class="checkbox {{checkboxClass}}">
  <input type="checkbox" id="{{checkboxID}}" {{#checkboxChecked}} checked="checked" {{/checkboxChecked}} />
  <label for="{{checkboxID}}">{{checkboxLabel}}</label>
</div>