// generic custom accordion
.panel-group .base__accordion .panel-heading .panel-title a.accordion-toggle {
  width: 90%;
  float: left;
}

.base__accordion {
  @include boxWF(left, 100%);

  border: 0;
  background: white;

  @include radius(4px);

  .panel-heading {
    color: $color_grey_dark_light;
    background-color: #fff;
    border: 0px solid #fff;
    cursor: pointer;

    .panel-title {
      display: inline-block;
      width: 100%;
      font-size: 1.2rem;
      color: $color_grey_dark_light;

      a {
        text-decoration: none;

        @include transition-basic(all, 0.35s, ease-in-out);
      }

      .indicator:after {
        font-family: "FontAwesome";
        font-style: normal;
        font-size: 1rem;
        content: "\F078";
      }
    }

    &.active .panel-title {
      color: $color_orange;

      .indicator:after {
        font-family: "FontAwesome";
        font-style: normal;
        font-size: 1rem;
        content: "\F077";
      }
    }
  }
}

@media (max-width: 767px) {
  .base__accordion {
    width: 96%;
    margin: 0.25rem 2%;
  }
}
