// generics alerts

.base__alert {
  position: relative;
  padding: 1rem;

  .close {
    right: 0;
    top: 0;
  }

  p {
    padding: 1rem 0;

    a {
      text-decoration: underline;
    }
  }
}

.base__alert--notify {
  color: #666;
  background-color: $color_grey_light_light;

  .close {
    color: #666;
  }

  .base__bt {
    border: 1px solid transparent;
    color: white;
    background: $color_grey_dark_light;

    &:hover, &:active {
      background: transparent;
      color: $color_grey_dark_light;
    }
  }

  a {
    background: transparent;
    color: $color_grey_dark_light;

    &:link, &:visited, &:hover, &:active {
      background: transparent;
      color: $color_grey_dark_light;
    }
  }
}

.base__alert--alert {
  color: white;
  background-color: $color_red_light;

  .close {
    color: white;
  }

  a {
    background: transparent;
    color: white;

    &:link, &:visited, &:hover, &:active {
      background: transparent;
      color: white;
    }
  }

  .base__bt {
    border: 1px solid transparent;
    color: $color_red_light;
    background: white;

    &:hover, &:active {
      background: transparent;
      color: white;
    }
  }
}

.base__alert .r {
  padding-top: 1rem;
  width: 100%;
  text-align: right;
}
