//Default all animations
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -400px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes spin-webkit {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes spin-ms {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@-moz-keyframes spin-moz {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes rotatey-webkit {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@-ms-keyframes rotatey-ms {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

@-moz-keyframes rotatey-moz {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

@keyframes rotatey {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

@-webkit-keyframes fadein-webkit {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadein-ms {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein-moz {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spin-webkit {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes spin-ms {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@-moz-keyframes spin-moz {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes rotatey-webkit {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@-ms-keyframes rotatey-ms {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

@-moz-keyframes rotatey-moz {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

@keyframes rotatey {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

@-webkit-keyframes fadein-webkit {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadein-ms {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein-moz {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        animation-play-state: paused;
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20%);
    }
}

@-webkit-keyframes tabin-webkit {
    0% {
        opacity: 0.25;
        -webik-transform: translate3d(0px, -5px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes tabin-moz {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0px, -5px, 0px);
    }
    100% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes tabin {
    0% {
        opacity: 0;
        transform: translate3d(0px, -5px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.spin-animate {
    -animation: spin 0.7s infinite linear;
    -webkit-animation: spin-webkit 0.7s infinite linear;
    -ms-animation: spin-ms 0.7s infinite linear;
    -moz-animation: spin-moz 0.7s infinite linear;
}

.rotatey-animate {
    -animation: rotatey 0.7s 0s 1 linear;
    -webkit-animation: rotatey-webkit 0.7s 0s 1 linear;
    -ms-animation: rotatey-ms 0.7s 0s 1 linear;
    -moz-animation: rotatey-moz 0.7s 0s 1 linear;
}

.fadein-animate {
    -animation: fadein 0.7s 0s 1 linear;
    -webkit-animation: fadein-webkit 0.7s 0s 1 linear;
    -ms-animation: fadein-ms 0.7s 0s 1 linear;
    -moz-animation: fadein-moz 0.7s 0s 1 linear;
}

.parent-3d {
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.backface-3d {
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gpu-3d {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
