/* ============================== ICONE BASE ===========================*/

.base__icon {
    display: block;
    background: url(../img/icons/icons_sprite.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 500%;
    width: 32px;
    height: 32px;
    margin:0 auto;
    // &--sm {
    //     width: 32px;
    //     height: 32px;
    // }
    // &--lg {
    //     width: 128px;
    //     height: 128px;
    // }
    &.icon {
        &_ID--color {
            background-position: 0 0;
        }
        &_ID--grey {
            background-position: 25% 0;
        }
        &_ID--white {
            background-position: 50% 0;
        }
        &_email--color {
            background-position: 0 1.26582278481012%;
        }
        &_email--grey {
            background-position: 25% 1.26582278481012%;
        }
        &_email--white {
            background-position: 50% 1.26582278481012%;
        }
        &_calendar--color {
            background-position: 0 2.53164556962024%;
        }
        &_calendar--grey {
            background-position: 25% 2.53164556962024%;
        }
        &_calendar--white {
            background-position: 50% 2.53164556962024%;
        }
        &_sim--color {
            background-position: 0 3.79746835443036%;
        }
        &_sim--grey {
            background-position: 25% 3.79746835443036%;
        }
        &_sim--white {
            background-position: 50% 3.79746835443036%;
        }
        &_promo--color {
            background-position: 0 5.06329113924048%;
        }
        &_promo--grey {
            background-position: 25% 5.06329113924048%;
        }
        &_promo--white {
            background-position: 50% 5.06329113924048%;
        }
        &_mobile--color {
            background-position: 0 6.3291139240506%;
        }
        &_mobile--grey {
            background-position: 25% 6.3291139240506%;
        }
        &_mobile--white {
            background-position: 50% 6.3291139240506%;
        }
        &_mobile_fisso--color {
            background-position: 0 7.59493670886072%;
        }
        &_mobile_fisso--grey {
            background-position: 25% 7.59493670886072%;
        }
        &_mobile_fisso--white {
            background-position: 50% 7.59493670886072%;
        }
        &_fisso--color {
            background-position: 0 8.86075949367084%;
        }
        &_fisso--grey {
            background-position: 25% 8.86075949367084%;
        }
        &_fisso--white {
            background-position: 50% 8.86075949367084%;
        }
        &_device--color {
            background-position: 0 10.126582278481%;
        }
        &_device--grey {
            background-position: 25% 10.126582278481%;
        }
        &_device--white {
            background-position: 50% 10.126582278481%;
        }
        &_login--color {
            background-position: 0 11.3924050632911%;
        }
        &_login--grey {
            background-position: 25% 11.3924050632911%;
        }
        &_login--white {
            background-position: 50% 11.3924050632911%;
        }
        &_logout--color {
            background-position: 0 12.6582278481012%;
        }
        &_logout--grey {
            background-position: 25% 12.6582278481012%;
        }
        &_logout--white {
            background-position: 50% 12.6582278481012%;
        }
        &_profile--color {
            background-position: 0 13.9240506329113%;
        }
        &_profile--grey {
            background-position: 25% 13.9240506329113%;
        }
        &_profile--white {
            background-position: 50% 13.9240506329113%;
        }
        &_carrello--color {
            background-position: 0 15.1898734177214%;
        }
        &_carrello--grey {
            background-position: 25% 15.1898734177214%;
        }
        &_carrello--white {
            background-position: 50% 15.1898734177214%;
        }
        &_close--color {
            background-position: 0 16.4556962025316%;
        }
        &_close--grey {
            background-position: 25% 16.4556962025316%;
        }
        &_close--white {
            background-position: 50% 16.4556962025316%;
        }
        &_serve_aiuto--color {
            background-position: 0 17.7215189873417%;
        }
        &_serve_aiuto--grey {
            background-position: 25% 17.7215189873417%;
        }
        &_serve_aiuto--white {
            background-position: 50% 17.7215189873417%;
        }
        &_lente--color {
            background-position: 0 18.9873417721518%;
        }
        &_lente--grey {
            background-position: 25% 18.9873417721518%;
        }
        &_lente--white {
            background-position: 50% 18.9873417721518%;
        }
        &_configurazione--color {
            background-position: 0 20.2531645569619%;
        }
        &_configurazione--grey {
            background-position: 25% 20.2531645569619%;
        }
        &_configurazione--white {
            background-position: 50% 20.2531645569619%;
        }
        &_configurazione_manuale--color {
            background-position: 0 21.518987341772%;
        }
        &_configurazione_manuale--grey {
            background-position: 25% 21.518987341772%;
        }
        &_configurazione_manuale--white {
            background-position: 50% 21.518987341772%;
        }
        &_configurazione_sms--color {
            background-position: 0 22.7848101265822%;
        }
        &_configurazione_sms--grey {
            background-position: 25% 22.7848101265822%;
        }
        &_configurazione_sms--white {
            background-position: 50% 22.7848101265822%;
        }
        &_configurazione_generale--color {
            background-position: 0 24.0506329113923%;
        }
        &_configurazione_generale--grey {
            background-position: 25% 24.0506329113923%;
        }
        &_configurazione_generale--white {
            background-position: 50% 24.0506329113923%;
        }
        &_help--color {
            background-position: 0 25.3164556962024%;
        }
        &_help--grey {
            background-position: 25% 25.3164556962024%;
        }
        &_help--white {
            background-position: 50% 25.3164556962024%;
        }
        &_account--color {
            background-position: 0 26.5822784810125%;
        }
        &_account--grey {
            background-position: 25% 26.5822784810125%;
        }
        &_account--white {
            background-position: 50% 26.5822784810125%;
        }
        &_password--color {
            background-position: 0 27.8481012658226%;
        }
        &_password--grey {
            background-position: 25% 27.8481012658226%;
        }
        &_password--white {
            background-position: 50% 27.8481012658226%;
        }
        &_security--color {
            background-position: 0 29.1139240506328%;
        }
        &_security--grey {
            background-position: 25% 29.1139240506328%;
        }
        &_security--white {
            background-position: 50% 29.1139240506328%;
        }
        &_print--color {
            background-position: 0 30.3797468354429%;
        }
        &_print--grey {
            background-position: 25% 30.3797468354429%;
        }
        &_print--white {
            background-position: 50% 30.3797468354429%;
        }
        &_share--color {
            background-position: 0 31.645569620253%;
        }
        &_share--grey {
            background-position: 25% 31.645569620253%;
        }
        &_share--white {
            background-position: 50% 31.645569620253%;
        }
        &_download--color {
            background-position: 0 32.9113924050631%;
        }
        &_download--grey {
            background-position: 25% 32.9113924050631%;
        }
        &_download--white {
            background-position: 50% 32.9113924050631%;
        }
        &_pin--blue {
            background-position: 0 34.1772151898732%;
        }
        &_pin--orange {
            background-position: 25% 34.1772151898732%;
        }
        &_pin--grey {
            background-position: 50% 34.1772151898732%;
        }
        &_pin--grey_light {
            background-position: 75% 34.1772151898732%;
        }
        &_pin--white {
            background-position: 100% 34.1772151898732%;
        }
        &_mappa--color {
            background-position: 0 35.4430379746834%;
        }
        &_mappa--grey {
            background-position: 25% 35.4430379746834%;
        }
        &_mappa--white {
            background-position: 50% 35.4430379746834%;
        }
        &_dettaglio--color {
            background-position: 0 36.7088607594935%;
        }
        &_dettaglio--grey {
            background-position: 25% 36.7088607594935%;
        }
        &_dettaglio--white {
            background-position: 50% 36.7088607594935%;
        }
        &_negozio--color {
            background-position: 0 37.9746835443036%;
        }
        &_negozio--grey {
            background-position: 25% 37.9746835443036%;
        }
        &_negozio--white {
            background-position: 50% 37.9746835443036%;
        }
        &_360--color {
            background-position: 0 39.2405063291137%;
        }
        &_360--grey {
            background-position: 25% 39.2405063291137%;
        }
        &_360--white {
            background-position: 50% 39.2405063291137%;
        }
        &_trova_negozio--color {
            background-position: 0 40.5063291139238%;
        }
        &_trova_negozio--grey {
            background-position: 25% 40.5063291139238%;
        }
        &_trova_negozio--white {
            background-position: 50% 40.5063291139238%;
        }
        &_controllo_copertura--color {
            background-position: 0 41.772151898734%;
        }
        &_controllo_copertura--grey {
            background-position: 25% 41.772151898734%;
        }
        &_controllo_copertura--white {
            background-position: 50% 41.772151898734%;
        }
        &_gplus--color {
            background-position: 0 43.0379746835441%;
        }
        &_gplus--grey {
            background-position: 25% 43.0379746835441%;
        }
        &_gplus--white {
            background-position: 50% 43.0379746835441%;
        }
        &_youtube--color {
            background-position: 0 44.3037974683542%;
        }
        &_youtube--grey {
            background-position: 25% 44.3037974683542%;
        }
        &_youtube--white {
            background-position: 50% 44.3037974683542%;
        }
        &_facebook--color {
            background-position: 0 45.5696202531643%;
        }
        &_facebook--grey {
            background-position: 25% 45.5696202531643%;
        }
        &_facebook--white {
            background-position: 50% 45.5696202531643%;
        }
        &_twitter--color {
            background-position: 0 46.8354430379744%;
        }
        &_twitter--grey {
            background-position: 25% 46.8354430379744%;
        }
        &_twitter--white {
            background-position: 50% 46.8354430379744%;
        }
        &_modem--color {
            background-position: 0 48.1012658227846%;
        }
        &_modem--grey {
            background-position: 25% 48.1012658227846%;
        }
        &_modem--white {
            background-position: 50% 48.1012658227846%;
        }
        &_fibra--color {
            background-position: 0 49.3670886075947%;
        }
        &_fibra--grey {
            background-position: 25% 49.3670886075947%;
        }
        &_fibra--white {
            background-position: 50% 49.3670886075947%;
        }
        &_xbox--color {
            background-position: 0 50.6329113924048%;
        }
        &_xbox--grey {
            background-position: 25% 50.6329113924048%;
        }
        &_xbox--white {
            background-position: 50% 50.6329113924048%;
        }
        &_dlink--color {
            background-position: 0 51.8987341772149%;
        }
        &_dlink--grey {
            background-position: 25% 51.8987341772149%;
        }
        &_dlink--white {
            background-position: 50% 51.8987341772149%;
        }
        &_servizi_applicazioni--color {
            background-position: 0 53.164556962025%;
        }
        &_servizi_applicazioni--grey {
            background-position: 25% 53.164556962025%;
        }
        &_servizi_applicazioni--white {
            background-position: 50% 53.164556962025%;
        }
        &_utility--color {
            background-position: 0 54.4303797468352%;
        }
        &_utility--grey {
            background-position: 25% 54.4303797468352%;
        }
        &_utility--white {
            background-position: 50% 54.4303797468352%;
        }
        &_servizi_innovativi--color {
            background-position: 0 55.6962025316453%;
        }
        &_servizi_innovativi--grey {
            background-position: 25% 55.6962025316453%;
        }
        &_servizi_innovativi--white {
            background-position: 50% 55.6962025316453%;
        }
        &_ricarica--color {
            background-position: 0 56.9620253164554%;
        }
        &_ricarica--grey {
            background-position: 25% 56.9620253164554%;
        }
        &_ricarica--white {
            background-position: 50% 56.9620253164554%;
        }
        &_email_cellulare--color {
            background-position: 0 58.2278481012655%;
        }
        &_email_cellulare--grey {
            background-position: 25% 58.2278481012655%;
        }
        &_email_cellulare--white {
            background-position: 50% 58.2278481012655%;
        }
        &_commenti--color {
            background-position: 0 59.4936708860756%;
        }
        &_commenti--grey {
            background-position: 25% 59.4936708860756%;
        }
        &_commenti--white {
            background-position: 50% 59.4936708860756%;
        }
        &_mms--color {
            background-position: 0 60.7594936708858%;
        }
        &_mms--grey {
            background-position: 25% 60.7594936708858%;
        }
        &_mms--white {
            background-position: 50% 60.7594936708858%;
        }
        &_acquisti_online--color {
            background-position: 0 62.0253164556959%;
        }
        &_acquisti_online--grey {
            background-position: 25% 62.0253164556959%;
        }
        &_acquisti_online--white {
            background-position: 50% 62.0253164556959%;
        }
        &_wind_borsa_studio--color {
            background-position: 0 63.291139240506%;
        }
        &_wind_borsa_studio--grey {
            background-position: 25% 63.291139240506%;
        }
        &_wind_borsa_studio--white {
            background-position: 50% 63.291139240506%;
        }
        &_centralino--color {
            background-position: 0 64.5569620253161%;
        }
        &_centralino--grey {
            background-position: 25% 64.5569620253161%;
        }
        &_centralino--white {
            background-position: 50% 64.5569620253161%;
        }
        &_offerta_mobile_fisso--color {
            background-position: 0 65.8227848101262%;
        }
        &_offerta_mobile_fisso--grey {
            background-position: 25% 65.8227848101262%;
        }
        &_offerta_mobile_fisso--white {
            background-position: 50% 65.8227848101262%;
        }
        &_info--color {
            background-position: 0 67.0886075949364%;
        }
        &_info--grey {
            background-position: 25% 67.0886075949364%;
        }
        &_info--white {
            background-position: 50% 67.0886075949364%;
        }
        &_estero--color {
            background-position: 0 68.3544303797465%;
        }
        &_estero--grey {
            background-position: 25% 68.3544303797465%;
        }
        &_estero--white {
            background-position: 50% 68.3544303797465%;
        }
        &_menu--color {
            background-position: 0 69.6202531645566%;
        }
        &_menu--grey {
            background-position: 25% 69.6202531645566%;
        }
        &_menu--white {
            background-position: 50% 69.6202531645566%;
        }
        &_preferiti--color {
            background-position: 0 70.8860759493667%;
        }
        &_preferiti--grey {
            background-position: 25% 70.8860759493667%;
        }
        &_preferiti--white {
            background-position: 50% 70.8860759493667%;
        }
        &_esporta--color {
            background-position: 0 72.1518987341768%;
        }
        &_esporta--grey {
            background-position: 25% 72.1518987341768%;
        }
        &_esporta--white {
            background-position: 50% 72.1518987341768%;
        }
        &_passa_wind--color {
            background-position: 0 73.417721518987%;
        }
        &_passa_wind--grey {
            background-position: 25% 73.417721518987%;
        }
        &_passa_wind--white {
            background-position: 50% 73.417721518987%;
        }
        &_pdf--color {
            background-position: 0 74.6835443037971%;
        }
        &_pdf--grey {
            background-position: 25% 74.6835443037971%;
        }
        &_pdf--white {
            background-position: 50% 74.6835443037971%;
        }
        &_xls--color {
            background-position: 0 75.9493670886072%;
        }
        &_xls--grey {
            background-position: 25% 75.9493670886072%;
        }
        &_xls--white {
            background-position: 50% 75.9493670886072%;
        }
        &_music_award {
            background-position: 0 77.2151898734173%;
        }
        &_windforfund {
            background-position: 0 78.4810126582274%;
        }
        &_visa {
            background-position: 0 79.7468354430376%;
        }
        &_mastercard {
            background-position: 0 81.0126582278477%;
        }
        &_paypal {
            background-position: 0 82.2784810126578%;
        }
        &_visa_electron {
            background-position: 0 83.5443037974679%;
        }
        &_diners_club {
            background-position: 0 84.810126582278%;
        }
        &_american_express {
            background-position: 0 86.0759493670882%;
        }
        &_cartasi {
            background-position: 0 87.3417721518983%;
        }
        &_pagamenti_conto--color {
            background-position: 0 88.6075949367084%;
        }
        &_pagamenti_conto--grey {
            background-position: 25% 88.6075949367084%;
        }
        &_pagamenti_conto--white {
            background-position: 50% 88.6075949367084%;
        }
        &_wap--color {
            background-position: 0 89.8734177215185%;
        }
        &_wap--grey {
            background-position: 25% 89.8734177215185%;
        }
        &_wap--white {
            background-position: 50% 89.8734177215185%;
        }
        &_fibra_adsl--color {
            background-position: 0 91.1392405063286%;
        }
        &_fibra_adsl--grey {
            background-position: 25% 91.1392405063286%;
        }
        &_fibra_adsl--white {
            background-position: 50% 91.1392405063286%;
        }
        &_gestione_anagrafica--color {
            background-position: 0 92.4050632911388%;
        }
        &_gestione_anagrafica--grey {
            background-position: 25% 92.4050632911388%;
        }
        &_gestione_anagrafica--white {
            background-position: 50% 92.4050632911388%;
        }
        &_top_mondo--color {
            background-position: 0 93.6708860759489%;
        }
        &_top_mondo--grey {
            background-position: 25% 93.6708860759489%;
        }
        &_top_mondo--white {
            background-position: 50% 93.6708860759489%;
        }
        &_naviga_ovunque--color {
            background-position: 0 94.936708860759%;
        }
        &_naviga_ovunque--grey {
            background-position: 25% 94.936708860759%;
        }
        &_naviga_ovunque--white {
            background-position: 50% 94.936708860759%;
        }
        &_app_strumenti--color {
            background-position: 0 96.2025316455691%;
        }
        &_app_strumenti--grey {
            background-position: 25% 96.2025316455691%;
        }
        &_app_strumenti--white {
            background-position: 50% 96.2025316455691%;
        }
        &_servizi_tel_digitali--color {
            background-position: 0 97.4683544303792%;
        }
        &_servizi_tel_digitali--grey {
            background-position: 25% 97.4683544303792%;
        }
        &_servizi_tel_digitali--white {
            background-position: 50% 97.4683544303792%;
        }
        &_offerta--color {
            background-position: 0 98.7341772151894%;
        }
        &_offerta--grey {
            background-position: 25% 98.7341772151894%;
        }
        &_offerta--white {
            background-position: 50% 98.7341772151894%;
        }
        &_offerta_sim--color {
            background-position: 0 99.9999999999995%;
        }
        &_offerta_sim--grey {
            background-position: 25% 99.9999999999995%;
        }
        &_offerta_sim--white {
            background-position: 50% 99.9999999999995%;
        }
    }
}
