//typography default in body h1,h2...
@mixin typography($family, $size) {
  font-family: $family;
  font-size: $size;
}

//set a rem font size with pixel
@function calculateRem($size) {
  $remSize: $size / 14px;

  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: calculateRem($size);
}

//generic radius
@mixin radius($arg) {
  -moz-border-radius: $arg;
  -wekit-border-radius: $arg;
  -ms-border-radius: $arg;
  border-radius: $arg;
}

//generic center elements (a, h3..., p)
@mixin genericCenterContent($display: inline-block, $valign: middle, $tAlign: center) {
  @if $tAlign != 0 {
    display: $display;
    vertical-align: $valign;
    text-align: $tAlign;
  }
  @else {
    display: $display;
    vertical-align: $valign;
  }
}

//Center vertical content
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-cont-block($width) {
  width: $width;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  position: relative;

  @include center-cont-block(400px);
}

//distribute content in line (squadra)
@mixin equidistant {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

@mixin border-left($border_left) {
  border-left: $border_left;
}

@mixin border-right($border_right) {
  border-right: $border_right;
}

@mixin border-bottom($border_bottom) {
  border-bottom: $border_bottom;
}

//triangle generator (timeline storia)
@mixin border($border: false, $border_horizontal: false, $border_bottom: false, $border_left: false) {
  $args: length($border);

  // Reset Variables Based on Argument Count
  @if $args > 1 and length(nth($border, 1)) > 1 or nth($border, 1) == none {
    @if $args == 4 {
      $border_left: nth($border, 4);
      $border_bottom: nth($border, 3);
      $border_horizontal: nth($border, 2);
      $border: nth($border, 1);
    }
    @else if $args == 3 {
      $border_bottom: nth($border, 3);
      $border_horizontal: nth($border, 2);
      $border: nth($border, 1);
    }
    @else if $args == 2 {
      $border_horizontal: nth($border, 2);
      $border: nth($border, 1);
    }
  }

  // Assign Attributes from Variables
  @if $border and $border_horizontal and $border_bottom and $border_left {
    border-top: $border;
    border-right: $border_horizontal;
    border-bottom: $border_bottom;
    border-left: $border_left;
  }
  @else if $border and $border_horizontal and $border_bottom {
    border: $border_horizontal;
    border-top: $border;
    border-bottom: $border_bottom;
  }
  @else if $border and $border_horizontal {
    border: $border;
    border-right: $border_horizontal;
    border-left: $border_horizontal;
  }
  @else {
    border: $border;
  }
}

@mixin clear {
  &:before,
  &:after {
    content: "";
    display: table;

    &:after {
      clear: both;
    }
  }
}

//generic focus inputs
@mixin focusInputs($bColor, $oColor, $oStyle, $oOffset) {
  border-color: $bColor;
  outline-color: $oColor;
  outline-style: $oStyle;
  outline-offset: $oOffset;
}

//align float content and width
@mixin boxWF($float, $width) {
  float: $float;
  width: $width;
}

//logo credit card in ricarica
@mixin creditSimbol($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-position: 99% center;
  background-size: 3rem auto;
}

//generic text insertions
@mixin defaultTxt($family, $size) {
  font-family: $family;
  font-size: $size;
}

//generic transition
@mixin transition-basic($property, $duration, $effect) {
  -o-transition: $property $duration $effect;
  -moz-transition: $property $duration $effect;
  -ms-transition: $property $duration $effect;
  -webkit-transition: $property $duration $effect;
  transition: $property $duration $effect;
}

//generic transition with -delay
@mixin transition-with-delay($property, $duration, $effect, $delay) {
  -o-transition: $property $duration $effect $delay;
  -moz-transition: $property $duration $effect $delay;
  -ms-transition: $property $duration $effect $delay;
  -webkit-transition: $property $duration $effect $delay;
  transition: $property $duration $effect $delay;
}

//generic btn
@mixin base-btn($color, $bcolor, $bwidth, $borderc) {
  color: $color;
  background-color: $bcolor;
  border: $bwidth solid $borderc;
}

//generic gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin gradient-generic($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

//vetrine active filters
@mixin vetrinaFilters {
  &.active_b::before {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    content: "";
    height: 1px;
    background-color: $color_orange;
  }

  &:hover {
    text-decoration: none;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60%;
      content: "";
      height: 1px;
      background-color: $color_orange;
    }
  }
}

//vetrine submenu filters products
@mixin menuFilterP($float, $padding, $margin, $liMargin, $fontS, $color, $font, $position) {
  float: $float;
  padding: $padding;
  margin: $margin;
  list-style: none;

  li {
    float: $float;
    margin: $liMargin;

    a {
      float: $float;
      font-size: $fontS;
      color: $color;
      font-family: $font;
      position: $position;

      @include vetrinaFilters;
    }
  }
}

//btn direction slider < / > (vetrine shop)
@mixin slickDirection($top, $right, $left, $img, $width, $height, $margin) {
  position: absolute;
  top: $top;
  right: $right;
  left: $left;
  text-indent: -9999px;
  background-image: $img;
  background-color: transparent;
  width: $width;
  height: $height;
  border: none;
  z-index: 9999;
  margin: $margin;
}

//td,th in table style
@mixin tDtHstyle {
  background-color: white;
  border: 2px solid white;
}

//td,th in table
@mixin tDtH {
  padding: 1rem;
  line-height: 1.42857;
  vertical-align: middle;
  border-top: 0;
}

//icons of map (zoom, pointer)
@mixin icoImageBtn($top, $url) {
  top: $top;
  background-image: $url;
  cursor: pointer;
}
