// custom tooltips (obtained of uikit)
.base__tip {
    display: inline-block;
    .fa {
        font-size: 1.75rem;
    }
    & + .tooltip {
        display: inline-block;
        width: 350px;
        .tooltip-arrow {
            position: relative;
        }
        .tooltip-inner {
            width: 350px;
            font-size: 1rem;
            padding: 1rem 0.5rem;
        }
    }
    &--grey {
        color: $color_text_lighter !important;
    }
    &--grey + .tooltip > .tooltip-arrow {
        border-bottom-color: $color_stroke !important;
    }
    &--grey + .tooltip > .tooltip-inner {
        background-color: $color_grey_medium !important;
    }
    &--grey-dark {
        color: $color_text_lighter !important;
    }
    &--grey-dark + .tooltip > .tooltip-arrow {
        border-bottom-color: $color_stroke !important;
    }
    &--grey-dark + .tooltip > .tooltip-inner {
        background-color: $color_grey_light !important;
    }
    &--info {
        color: $color_blue_light !important;
    }
    &--info + .tooltip > .tooltip-arrow {
        border-bottom-color: $color_blue_light !important;
    }
    &--info + .tooltip > .tooltip-inner {
        background-color: $color_blue_light !important;
    }
    &--robin {
        color: $color_robin_light !important;
    }
    &--robin + .tooltip > .tooltip-arrow {
        border-bottom-color: $color_robin_light !important;
    }
    &--robin + .tooltip > .tooltip-inner {
        background-color: $color_robin_light !important;
    }
    &--red {
        color: $color_red_light !important;
    }
    &--red + .tooltip > .tooltip-arrow {
        border-bottom-color: $color_red_light !important;
    }
    &--red + .tooltip > .tooltip-inner {
        background-color: $color_red_light !important;
    }
    &--orange {
        color: $color_wind !important;
        margin-left: 10px;
        margin-top: -3px;
    }
    &--orangecc {
        color: $color_wind !important;
        margin-left: 2px;
        margin-top: -2px;
    }
    &--orange + .tooltip > .tooltip-arrow {
        border-bottom-color: $color_wind !important;
    }
    &--orange + .tooltip > .tooltip-inner {
        background-color: $color_wind !important;
    }
}

.tooltip--ccv {
    width: 300px;
    .tooltip-inner {
        max-width: 400px;
        padding: 0.5rem;
    }
    .tooltip-arrow--ccv {
        margin-left: 3rem;
        @media (max-width: 767px) {}
        margin-left: 2rem;
    }
}

.tooltip--input {
    left: 0 !important;
    width: 100%;
    .tooltip-arrow--input {
        margin-left: 10.2rem;
    }
    .tooltip-inner {
        max-width: 420px !important;
        width: 85%;
        padding: 0.5rem;
        margin-left: 2.3rem;
    }
}

//tooltip per l'help della registrazione
.icon_help--color {
    &~.tooltip--input {
        .tooltip-arrow {
            left: 88% !important;
        }
    }
}
