// Config all fonts by typography in all site
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";
// wide
@font-face {
    font-family: "fontello";
    src: url("../fonts/fontello/font/fontello.eot?22635109");
    src: url("../fonts/fontello/font/fontello.eot?22635109#iefix") format("embedded-opentype"), url("../fonts/fontello/font/fontello.woff2?22635109") format("woff2"), url("../fonts/fontello/font/fontello.woff?22635109") format("woff"), url("../fonts/fontello/font/fontello.ttf?22635109") format("truetype"), url("../fonts/fontello/font/fontello.svg?22635109#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}

// typo
@font-face {
    font-family: "Trade Gothic Bold";
    /* src: url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.eot"); */
    src: url("../fonts/tradegothic/TradeGothicLTStd-Bd2.woff") format("woff"), 
    /* url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.woff2") format("woff2"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.ttf") format("truetype"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.svg#TradeGothicLTStd-Bold") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.eot?#iefix") format("embedded-opentype"), */
    url("../fonts/tradegothic/TradeGothicLTStd-Bd2.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trade Gothic Bold Cond";
    /* src: url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.eot"); */
    src: url("../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.woff") format("woff"),
    /* url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.woff2") format("woff2"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.ttf") format("truetype"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.svg#TradeGothicLTStd-Bold") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.eot?#iefix") format("embedded-opentype"), */
    url("../fonts/tradegothic/TradeGothicLTStd-BdCn20.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trade Gothic Bold2";
    /* src: url("../../fonts/tradegothic/hinted-TradeGothicLTStd-Bd2.eot"); */
    src: url("../fonts/tradegothic/TradeGothicLTStd-Bd2.woff") format("woff"), 
    /* url("../../fonts/tradegothic/hinted-TradeGothicLTStd-Bd2.eot?#iefix") format("embedded-opentype"), 
    url("../../fonts/tradegothic/hinted-TradeGothicLTStd-Bd2.woff2") format("woff2"), 
    url("../../fonts/tradegothic/hinted-TradeGothicLTStd-Bd2.ttf") format("truetype"), */
    url("../fonts/tradegothic/TradeGothicLTStd-Bd2.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Trade Gothic Light";
    /* src: url("../../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.eot"); */
    src: url("../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.woff") format("woff"),
    /* url("../../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.woff2") format("woff2"),
    url("../../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.ttf") format("truetype"), 
    url("../../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.svg#TradeGothicLTStd-Light") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.eot?#iefix") format("embedded-opentype"), */
    url("../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trade Gothic Obl";
    /* src: url("../../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.eot"); */
    src: url("../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.woff") format("woff"),
    /* url("../../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.woff2") format("woff2"),
    url("../../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.ttf") format("truetype"),
    url("../../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.svg#TradeGothicLTStd-Obl") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.eot?#iefix") format("embedded-opentype"), */
    url("../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trade Gothic";
    /* src: url("../../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.eot"); */
    src: url("../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.woff") format("woff"),
    /* url("../../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.woff2") format("woff2"),
    url("../../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.ttf") format("truetype"), 
    url("../../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.svg#TradeGothicLTStd") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.eot?#iefix") format("embedded-opentype"), */
    url("../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow-x: hidden;
}

body {
    background: white;
    color: $color_grey_dark_light;
    font-family: $font_family_regular;
    font-size: 1em;
    letter-spacing: 0.25px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    h1 {
        @include typography($font_family_bold,
        3.571rem);
    }
    h2 {
        @include typography($font_family_bold,
        2.857rem);
    }
    h3 {
        @include typography($font_family_bold,
        2.143rem);
    }
    h4 {
        @include typography($font_family_bold,
        1.428rem);
    }
    h5 {
        @include typography($font_family_bold,
        1.285rem);
    }
    h6 {
        @include typography($font_family_bold,
        1.142rem);
        font-weight: 400;
    }
    p {
        font-family: $font_family_regular;
        /* font-size: 1rem; Commented avoid too small text */
        letter-spacing: 0.25px;
        font-weight: 400;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}
