.wnd {
    min-width: none;
}

.wnd p {
    font-size: 0.9rem;
    line-height: 2.25em;
}

.wnd h2 {
    font-size: 2.250rem !important;
    line-height: 1.750em;
}

.wnd h3 {
    font-size: 2.225rem !important;
    line-height: 1.750em;
}

.wnd h4 {
    font-size: 1.125rem !important;
    line-height: auto;
    margin-bottom: 0!important;
}

.wnd p,
.wnd h3,
.wnd h4 {
    color: #333;
}


/* >=768 */

@media (min-width: 768px) {
    #img-nova-1 {
        padding-bottom: 1rem;
    }
    #img-nova-2 {
        max-width: 100%;
        padding-bottom: 1rem;
    }
    #img-nova-3 {
        margin-top: 2rem;
        max-width: 65%;
    }
    #img-nova-4 {
        margin: 0 0 0 auto;
    }
}


/* <= 767 */

@media (max-width: 767px) {
    #img-nova-1 {
        width: 100%;
        padding-bottom: 1rem;
    }
    #img-nova-2 {
        width: 75%;
        padding-bottom: 1rem;
    }
    #img-nova-3 {
        width: 100%;
        padding-bottom: 1rem;
    }
    #img-nova-4 {
        width: 100%;
    }
}
