//default select all site
.base__select.bootstrap-select {
    width: 280px;
    &:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 280px;
    }
    &.disabled .dropdown-toggle {
        background-color: $color_grey_medium_light;
        .bs-caret .caret {
            color: $color_text_light; //#666
        }
    }
    .dropdown-toggle {
        outline: none !important;
        padding: 0.9rem 0.9rem;
        background-color: $color_white;
        border-color: $color_stroke;
        box-shadow: none;
        -webkit-box-shadow: none;
        &:hover {
            border-color: $color_wind;
        }
        .filter-option {
            font-size: 16px;
        }
        .bs-caret .caret {
            color: $color_wind;
            position: absolute;
            right: 1rem;
            top: 50%;
            margin: (-0.6rem) 1rem 0 0;
            border: 0;
            &:before,
            &:after {
                position: absolute;
                width: 2px;
                height: 9px;
                transition: all .45s ease-in-out;
                background-color: $color_orange;
                content: "";
            }
            &:before {
                transform: translate(10px, 4px) rotate(45deg);
            }
            &:after {
                transform: translate(5px, 4px) rotate(-45deg);
            }
        }
    }
    &.open .dropdown-toggle .bs-caret .caret:before {
        transform: translate(5px, 4px) rotate(45deg);
    }
    &.open .dropdown-toggle .bs-caret .caret:after {
        transform: translate(10px, 4px) rotate(-45deg);
    }
    .dropdown-toggle:focus {
        outline: none;
    }
    &.open .dropdown-toggle {
        border: 1px solid $color_stroke;
        box-shadow: none;
        -webkit-box-shadow: none;
        background-color: $color_white !important;
        &:hover,
        &:focus {
            border: 1px solid $color_stroke;
            box-shadow: none;
            -webkit-box-shadow: none;
            background-color: $color_white !important;
        }
    }
    .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 0 0;
        box-shadow: none;
        li a {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }
        > li > a {
            &:hover,
            &:focus {
                background-color: $color_wind;
                color: $color_white;
            }
        }
    }
}
