// SLIDER BLOCK
.blocco_homeAndLifeExt {
    &__container {
        background-color: $color_home_life; 
    }
    .device_filter_block {
        &__title {
            color: $color_white;
            margin-right: 15px;
        }
    }
    .showcase_homeAndLifeExt_device {
        max-width: 1024px;
        margin: 0 auto;
        padding-bottom: 30px;
        .button {
            padding-top: 15px;
            padding-bottom: 10px;
        }
        @at-root #{&}__tabs {
            text-transform: uppercase;
            color: $color_text;
            &__container {
                margin-bottom: 30px;
                padding-top: 25px;
            }
            &--left {
                float: left;
                margin-left: 30px;
            }
            &--right {
                float: right;
                margin-right: 30px;
            }
            &--title {
                margin-right: 40px;
                cursor: pointer;
                &:hover {
                    border-bottom: 1px solid $color_orange;
                }
                &.active {
                    border-bottom: 1px solid $color_orange;
                    color: $color_wind;
                }
            }
        }
        &__select {
            float: left;
            width: calc(50% - 10px);
            &--second {
                margin-left: 20px;
            }
            .base__select {
                &.bootstrap-select {
                    width: 100% !important;
                    .dropdown-toggle {
                        padding: 12px 20px 8px 20px;
                        .caret {
                            margin-top: -11px;
                        }
                        .filter-option {
                            font-size: 1em;
                            font-family: $weight-normal;
                        }
                    }
                }
            }
        }
        @at-root #{&}__single {
            position: relative;
            height: 465px;
            display: none;
            @include breakpoint(small) {
                height: auto;
                margin-bottom: 30px;
            }
            &:nth-child(-n+3) {
                display: block;
            }
            &:nth-child(3n) {
                &:after {
                    display: none;
                }
            }
            &:after {
                background-color: $color_grey_medium_light;
                width: 1px;
                content: "";
                display: block;
                position: absolute;
                top: 5%;
                bottom: 20%;
                right: 0%;
                min-height: 1px;
            }
        }
        @at-root #{&}__single--generic {
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            float: left;
            font-family: $weight-normal;
            color: $color_white;
            h2 {
                margin-bottom: 10px;
            }
            &__image {
                margin: 0 auto;
                margin-bottom: 10px;
            }
            &--title {
                font-size: 1.25em;
                margin-bottom: 10px;
                font-family: $weight-bold;
            }
            &--description {
                margin-bottom: 10px;
                font-size: 1.250em;
                font-family: $weight-light;
                line-height: 22px;
            }
            &--mainPrice {
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 1.625em;
                line-height: 1;
                text-align: center;
                font-family: $weight-light;
                .recurrency {
                    font-size: 0.615em;
                    &--only {
                        padding-top: 3px;
                        line-height: 1.5em;
                        display: block;
                        margin: 0 auto;
                    }
                }
                .offer_name {
                    color: $color_wind;
                    font-size: 20px;
                }
            }
        }
        &__showMore {
            color: $color_wind;
            font-size: 1.250em;
            text-align: center;
            text-transform: uppercase;
            font-family: $weight-light;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 767px) {
    .showcase_homeAndLifeExt_device {
        &__tabs--left {
            margin-left: 0px;
            text-align: center;
            float: none;
            font-size: 0.8em;
        }
        &__tabs--right {
            display: none;
        }
        &__single {
            &:after {
                display: none !important;
            }
        }
    }
}
