body {
  background: white;
  color: #2c2c2c !important;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: inherit;
  -ms-hyphens: inherit;
  hyphens: none;
  line-height: 1;
  font-family: 'Helvetica-Bd', Helvetica, Arial, sans-serif;
  margin: 0; }
  @media (max-width: 640px) {
    body {
      font-size: 14px;
      line-height: 16px; } }

input:focus {
  outline: none; }

a {
  text-decoration: inherit;
  color: inherit; }
  a:active, a:visited, a:focus {
    text-decoration: inherit;
    color: inherit; }

.container {
  font-family: 'Helvetica'; }
  .container_box {
    overflow: hidden; }
  .container__landing {
    box-sizing: border-box; }
    .container__landing .button_cta {
      padding: 15px 30px;
      border: 1px solid #ffffff;
      text-transform: uppercase;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      display: block;
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
      margin-top: 15px; }
    .container__landing .detail_box {
      color: #ffffff;
      font-weight: 300;
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
      padding-top: 100px; }
      @media (max-width: 768px) {
        .container__landing .detail_box {
          padding-top: 15px; } }
      .container__landing .detail_box .notes {
        font-size: 16px;
        color: #ffffff; }
      .container__landing .detail_box .table_container {
        padding-bottom: 100px; }
      .container__landing .detail_box .table_title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 20px; }
        .container__landing .detail_box .table_title.yellow_table {
          color: #f3b03a; }
      .container__landing .detail_box .table_subtitle {
        font-size: 26px;
        font-weight: 500;
        padding-bottom: 15px; }
      .container__landing .detail_box .table_row {
        display: table;
        width: 100%;
        margin-top: 15px; }
      .container__landing .detail_box .table_column {
        display: table-cell;
        text-align: center;
        padding: 10px 0px;
        border-right: 0px;
        box-sizing: border-box; }
        .container__landing .detail_box .table_column.yellow_table {
          border: 1px solid #ffe566;
          vertical-align: middle; }
          @media (max-width: 768px) {
            .container__landing .detail_box .table_column.yellow_table {
              width: 100%;
              display: block; } }
        .container__landing .detail_box .table_column.first_column {
          border-right: 0px;
          width: 30%;
          text-align: right;
          padding-right: 20px; }
        .container__landing .detail_box .table_column.last_column.yellow_table {
          border-right: 1px solid #ffe566;
          border-left: 1px solid #ffe566; }
        .container__landing .detail_box .table_column.header_column {
          font-size: 28px;
          line-height: 30px;
          font-weight: 500;
          vertical-align: middle;
          position: relative;
          border: 0;
          padding-left: 10px; }
          .container__landing .detail_box .table_column.header_column.yellow_table {
            background-color: #af7f27;
            width: 25%;
            padding: 23px 10px; }
            @media (max-width: 768px) {
              .container__landing .detail_box .table_column.header_column.yellow_table {
                width: 100%;
                display: block;
                padding: 23px 0; } }
          .container__landing .detail_box .table_column.header_column .arrow_column {
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            right: -20px;
            border-style: solid;
            border-width: 51px 0 51px 20px; }
            .container__landing .detail_box .table_column.header_column .arrow_column.yellow_table {
              border-color: #f3b03a #f3b03a #f3b03a #af7f27;
              border-width: 53px 0 53px 20px; }
              @media (max-width: 768px) {
                .container__landing .detail_box .table_column.header_column .arrow_column.yellow_table {
                  border-style: solid;
                  border-width: 15px 50px 0px 50px;
                  border-color: #af7f27 #f3b03a #f3b03a #f3b03a;
                  left: calc(50% - 50px);
                  top: auto;
                  bottom: -15px; } }
        .container__landing .detail_box .table_column .normal_text.yellow_table {
          color: #ffffff;
          text-align: left;
          padding: 10px 30px 10px 50px; }
          @media (max-width: 768px) {
            .container__landing .detail_box .table_column .normal_text.yellow_table {
              padding: 10px;
              padding-top: 30px; } }
        .container__landing .detail_box .table_column .heading {
          font-size: 12px;
          text-transform: uppercase;
          padding-bottom: 10px;
          font-weight: 700; }
          .container__landing .detail_box .table_column .heading.yellow_table {
            color: #af7f27; }
        .container__landing .detail_box .table_column .text {
          font-size: 28px; }
        .container__landing .detail_box .table_column .price {
          font-size: 38px;
          font-weight: 500; }
      .container__landing .detail_box_container {
        -webkit-box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.8);
        position: relative;
        z-index: 500; }
        .container__landing .detail_box_container.purple_bg {
          background-color: #e7278a;
          border-top: 2px solid #fd56c4; }
        .container__landing .detail_box_container.blue_bg {
          background-color: #0088cc;
          border-top: 2px solid #00a0d9; }
        .container__landing .detail_box_container.yellow_bg {
          background-color: #f3b03a;
          border-top: 2px solid #f9ce52; }
    @media (max-width: 480px) {
      .container__landing .container_image {
        overflow: hidden;
        height: 100%;
        max-height: 200px; } }
    @media (max-width: 768px) {
      .container__landing .box_shadow {
        -webkit-box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.5); } }
    @media (max-width: 768px) {
      .container__landing .box_purple {
        background-color: #e7278a;
        border-top: 2px solid #fd56c4; } }
    @media (max-width: 768px) {
      .container__landing .box_blue {
        background-color: #0088cc;
        border-top: 2px solid #00a0d9; } }
    @media (max-width: 768px) {
      .container__landing .box_yellow {
        background-color: #f3b03a;
        border-top: 2px solid #f9ce52; } }
    .container__landing .only_desktop {
      display: block; }
      @media (max-width: 768px) {
        .container__landing .only_desktop {
          display: none; } }
    .container__landing .only_mobile {
      display: none; }
      @media (max-width: 768px) {
        .container__landing .only_mobile {
          display: block; } }
    .container__landing .container_box {
      position: relative;
      width: 100%; }
    .container__landing .container_mask {
      width: 950px;
      margin: 0 auto;
      position: relative; }
    .container__landing .container_text {
      z-index: 900;
      position: absolute;
      max-width: calc(100vw - 60px);
      margin: 0 auto;
      color: #ffffff;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      text-align: center;
      bottom: 30px;
      padding: 0 30px; }
      @media (max-width: 768px) {
        .container__landing .container_text {
          padding: 30px 20px;
          max-width: calc(100vw - 40px);
          margin: 0;
          position: relative;
          bottom: 0; } }
      @media (max-width: 640px) {
        .container__landing .container_text {
          font-size: 14px;
          line-height: 16px; } }
    .container__landing .image_stricken {
      position: relative;
      z-index: 500;
      width: 1665px;
      left: calc(50vw - 832px);
      top: 0; }
      @media (max-width: 640px) {
        .container__landing .image_stricken.fix_yellow {
          left: calc(50vw - 320px); } }
      @media (min-width: 1665px) {
        .container__landing .image_stricken {
          top: 0;
          left: 0;
          width: 100%; } }
      @media (max-width: 768px) {
        .container__landing .image_stricken {
          width: 768px;
          left: calc(50vw - 384px);
          top: 0; } }
      @media (max-width: 480px) {
        .container__landing .image_stricken {
          width: 600px;
          left: calc(50vw - 305px);
          top: 0; } }
    .container__landing .main_cta {
      margin-top: 30px; }
      .container__landing .main_cta a:hover {
        opacity: 0.5;
        filter: alpha(opacity=50); }

.clear {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/*# sourceMappingURL=easy_landing.css.map */
