body {
  background: white;
  color: #2c2c2c !important;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: inherit;
  -ms-hyphens: inherit;
  hyphens: none;
  line-height: 1;
  font-family: 'Helvetica-Bd', Helvetica, Arial, sans-serif;
  margin: 0; }
  @media (max-width: 640px) {
    body {
      font-size: 14px;
      line-height: 16px; } }

input:focus {
  outline: none; }

a {
  text-decoration: inherit;
  color: inherit; }
  a:active, a:visited, a:focus {
    text-decoration: inherit;
    color: inherit; }

.container {
  font-family: 'Helvetica'; }
  .container_box {
    overflow: hidden; }
  .container__landing {
    box-sizing: border-box; }
    .container__landing .button_cta {
      padding: 15px 30px;
      border: 1px solid #ffffff;
      text-transform: uppercase;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      display: block;
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
      margin-top: 15px; }
    .container__landing .detail_box {
      color: #ffffff;
      font-weight: 300;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 100px; }
      @media (max-width: 768px) {
        .container__landing .detail_box {
          padding-top: 15px; } }
      .container__landing .detail_box .notes {
        font-size: 16px;
        color: #ffffff;
        padding: 0px 30px; }
        @media (max-width: 768px) {
          .container__landing .detail_box .notes {
            padding: 0px 20px;
            text-align: center; } }
        .container__landing .detail_box .notes a {
          text-decoration: underline; }
          .container__landing .detail_box .notes a:hover {
            opacity: 0.5;
            filter: alpha(opacity=50); }
      .container__landing .detail_box .table_container {
        padding-bottom: 30px; }
      .container__landing .detail_box .table_title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 20px; }
        .container__landing .detail_box .table_title.yellow_table {
          color: #f3b03a; }
      .container__landing .detail_box .table_subtitle {
        font-size: 26px;
        font-weight: 500;
        padding-bottom: 15px; }
      .container__landing .detail_box .table_row {
        display: table;
        width: 100%;
        margin-top: 15px; }
      .container__landing .detail_box .table_column {
        display: table-cell;
        text-align: center;
        padding: 10px 0px;
        border-right: 0px;
        box-sizing: border-box; }
        .container__landing .detail_box .table_column.yellow_table {
          border: 1px solid #ffe566;
          vertical-align: middle; }
          @media (max-width: 768px) {
            .container__landing .detail_box .table_column.yellow_table {
              width: 100%;
              display: block; } }
        .container__landing .detail_box .table_column.first_column {
          border-right: 0px;
          width: 30%;
          text-align: right;
          padding-right: 20px; }
        .container__landing .detail_box .table_column.last_column.yellow_table {
          border-right: 1px solid #ffe566;
          border-left: 1px solid #ffe566; }
        .container__landing .detail_box .table_column.header_column {
          font-size: 28px;
          line-height: 30px;
          font-weight: 500;
          vertical-align: middle;
          position: relative;
          border: 0;
          padding-left: 10px; }
          .container__landing .detail_box .table_column.header_column.yellow_table {
            background-color: #af7f27;
            width: 25%;
            padding: 23px 10px; }
            @media (max-width: 768px) {
              .container__landing .detail_box .table_column.header_column.yellow_table {
                width: 100%;
                display: block;
                padding: 23px 0; } }
          .container__landing .detail_box .table_column.header_column .arrow_column {
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            right: -20px;
            border-style: solid;
            border-width: 51px 0 51px 20px; }
            .container__landing .detail_box .table_column.header_column .arrow_column.yellow_table {
              border-color: #f3b03a #f3b03a #f3b03a #af7f27;
              border-width: 87px 0 87px 20px; }
              @media (max-width: 830px) {
                .container__landing .detail_box .table_column.header_column .arrow_column.yellow_table {
                  border-width: 97px 0 97px 20px; } }
              @media (max-width: 768px) {
                .container__landing .detail_box .table_column.header_column .arrow_column.yellow_table {
                  border-style: solid;
                  border-width: 15px 50px 0px 50px;
                  border-color: #af7f27 #f3b03a #f3b03a #f3b03a;
                  left: calc(50% - 50px);
                  top: auto;
                  bottom: -15px; } }
        .container__landing .detail_box .table_column .normal_text {
          height: 150px;
          display: table-cell;
          vertical-align: middle; }
          .container__landing .detail_box .table_column .normal_text.yellow_table {
            color: #ffffff;
            text-align: left;
            padding: 10px 30px 10px 50px;
            line-height: 19px;
            font-size: 14px; }
            @media (max-width: 768px) {
              .container__landing .detail_box .table_column .normal_text.yellow_table {
                padding: 10px;
                padding-top: 30px;
                font-size: 14px;
                line-height: 18px; } }
        .container__landing .detail_box .table_column .heading {
          font-size: 12px;
          text-transform: uppercase;
          padding-bottom: 10px;
          font-weight: 700; }
          .container__landing .detail_box .table_column .heading.yellow_table {
            color: #af7f27; }
        .container__landing .detail_box .table_column .text {
          font-size: 28px; }
        .container__landing .detail_box .table_column .price {
          font-size: 38px;
          font-weight: 500; }
      .container__landing .detail_box_container {
        -webkit-box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.8);
        position: relative;
        z-index: 500; }
        .container__landing .detail_box_container.purple_bg {
          background-color: #e7278a;
          border-top: 2px solid #fd56c4; }
        .container__landing .detail_box_container.blue_bg {
          background-color: #0088cc;
          border-top: 2px solid #00a0d9; }
        .container__landing .detail_box_container.yellow_bg {
          background-color: #f3b03a;
          border-top: 2px solid #f9ce52; }
    @media (max-width: 480px) {
      .container__landing .container_image {
        overflow: hidden;
        height: 100%;
        max-height: 200px; } }
    @media (max-width: 768px) {
      .container__landing .box_shadow {
        -webkit-box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 60px 53px 48px rgba(0, 0, 0, 0.5); } }
    @media (max-width: 768px) {
      .container__landing .box_purple {
        background-color: #e7278a;
        border-top: 2px solid #fd56c4; } }
    @media (max-width: 768px) {
      .container__landing .box_blue {
        background-color: #0088cc;
        border-top: 2px solid #00a0d9; } }
    @media (max-width: 768px) {
      .container__landing .box_yellow {
        background-color: #f3b03a;
        border-top: 2px solid #f9ce52; } }
    .container__landing .only_desktop {
      display: block; }
      @media (max-width: 768px) {
        .container__landing .only_desktop {
          display: none; } }
    .container__landing .only_mobile {
      display: none; }
      @media (max-width: 768px) {
        .container__landing .only_mobile {
          display: block; } }
    .container__landing .container_box {
      position: relative;
      width: 100%; }
    .container__landing .container_mask {
      width: 1000px;
      margin: 0 auto;
      position: relative; }
    .container__landing .container_text {
      z-index: 900;
      position: absolute;
      max-width: calc(100vw - 60px);
      margin: 0 auto;
      color: #ffffff;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      text-align: center;
      bottom: 30px;
      padding: 0 30px; }
      @media (max-width: 768px) {
        .container__landing .container_text {
          padding: 30px 20px;
          max-width: calc(100vw - 40px);
          margin: 0;
          position: relative;
          bottom: 0; } }
      @media (max-width: 640px) {
        .container__landing .container_text {
          font-size: 14px;
          line-height: 16px; } }
    .container__landing .image_stricken {
      position: relative;
      z-index: 500;
      width: 1665px;
      left: calc(50vw - 832px);
      top: 0; }
      @media (max-width: 640px) {
        .container__landing .image_stricken.fix_yellow {
          left: calc(50vw - 320px); } }
      @media (min-width: 1665px) {
        .container__landing .image_stricken {
          top: 0;
          left: 0;
          width: 100%; } }
      @media (max-width: 768px) {
        .container__landing .image_stricken {
          width: 768px;
          left: calc(50vw - 384px);
          top: 0; } }
      @media (max-width: 480px) {
        .container__landing .image_stricken {
          width: 600px;
          left: calc(50vw - 305px);
          top: 0; } }
    .container__landing .main_cta {
      margin-top: 30px; }
      .container__landing .main_cta a:hover {
        opacity: 0.5;
        filter: alpha(opacity=50); }

.clear {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.spacing {
  display: block;
  height: 50px; }

.container_accordion.yellow_table {
  background-color: #af7f27; }
.container_accordion.blue_table {
  background-color: #005a8f; }
.container_accordion.purple_table {
  background-color: #a61d5e; }
.container_accordion .subcontainer_accordion {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }
.container_accordion .transition,
.container_accordion p,
.container_accordion ul li i:before,
.container_accordion ul li i:after {
  transition: all 0.25s ease-in-out; }
.container_accordion .flipIn,
.container_accordion h1,
.container_accordion ul li {
  animation: flipdown 0.5s ease both; }
.container_accordion .no-select,
.container_accordion h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.container_accordion h2 {
  color: #ffffff; }
.container_accordion h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px; }
.container_accordion p {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  font-weight: 300;
  padding: 0px 30px; }
.container_accordion ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0; }
.container_accordion ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px; }
.container_accordion ul li:nth-of-type(1) {
  animation-delay: 0.5s; }
.container_accordion ul li:nth-of-type(2) {
  animation-delay: 0.75s; }
.container_accordion ul li:nth-of-type(3) {
  animation-delay: 1s; }
.container_accordion ul li:last-of-type {
  padding-bottom: 0; }
.container_accordion ul li i {
  position: absolute;
  transform: translate(-26px, 0);
  margin-top: 16px;
  right: 0; }
.container_accordion ul li i:before,
.container_accordion ul li i:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px; }
.container_accordion ul li i.yellow_table:before,
.container_accordion ul li i.yellow_table:after {
  background-color: #ffe566; }
.container_accordion ul li i.blue_table:before,
.container_accordion ul li i.blue_table:after {
  background-color: #00a0d9; }
.container_accordion ul li i.purple_table:before,
.container_accordion ul li i.purple_table:after {
  background-color: #ec399a; }
.container_accordion ul li i:before {
  transform: translate(-5px, 0) rotate(45deg); }
.container_accordion ul li i:after {
  transform: translate(2px, 0) rotate(-45deg); }
.container_accordion ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0; }
.container_accordion ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%); }
.container_accordion ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg); }
.container_accordion ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-5px, 0) rotate(-45deg); }
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }

/*# sourceMappingURL=easy_landing.css.map */
