body{
	margin:0;
	color:#333;
	font:12px/15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	background:#fff;
}
img{border-style:none;}
a{text-decoration:none; color:#00f;}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
q{quotes:none;}
q:before{content:''}
q:after{content:''}
#wrapper{
	width:520px;
	margin:0px auto 0;
	padding:0 0 50px;
}
.visual{
	background:url(../images/visual.jpg) no-repeat;
	height:392px;
	overflow:hidden;
	padding:6px 0 0 20px;
	margin:0 0 7px;
	font-size:24px;
	line-height:30px;
	text-transform:uppercase;
	color:#fff;
	position:relative;
	text-shadow: 1px 1px 3px #444;
}
.visual .link,
.visual .empty-link{
	width:165px;
	height:24px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 26px;
}
.visual .link {
        background:url(../images/link.png) no-repeat;
}
.visual .text-holder{
	width:200px;
}
.visual .text{
	font-size:27px;
	line-height:30px;
	display:block;
	margin:0 0 5px;
}
.visual p{margin:0 0 6px;}
.visual .ad{
	position:absolute;
	bottom:21px;
	left:20px;
}
.columns{
	overflow:hidden;
	padding:0 0 4px;
	margin:0 0 7px;
	background:url(../images/bg-columns-b.gif) no-repeat 0 100%;
}
.columns .holder{
	background:url(../images/bg-columns.gif) repeat-y;
	overflow:hidden;
}
.columns .box{
	font-size:13px;
	line-height:23px;
	width:256px;
	float:left;
	padding:0;
	margin:0 0 0 7px;
}
.columns .box:first-child{margin-left:0;}
.columns .box h2{
	margin:0;
	padding:10px 18px;
	position:relative;
	font-size:22px;
	line-height:27px;
	text-transform:uppercase;
	font-weight:normal;
	color:#fff;
	text-shadow: 1px 1px 3px #444;
}
.columns .box .text-area{padding:10px 10px 7px 20px;}
.columns .box .text-area strong{
	font-size:15px;
	line-height:23px;
	word-spacing:-1px;
}
.columns .first{color:#4c5b61;}
.columns .first h2{background:#879ba4 url(../images/heading1.gif) no-repeat;}
.columns .second{
	font-size:12px;
	line-height:18px;
}
.columns .second .text-area strong{
	font-size:13px;
	line-height:18px;
	display:block;
}
.columns .second h2{background:#e98742 url(../images/heading2.gif) no-repeat;}
.columns .second img{
	vertical-align:top;
	margin:0 0 7px;
}
.columns .box p{margin:0 0 6px;}
.link{
	background:url(../images/scopridipiu.png) top no-repeat;
	width:101px;
	height:36px;
	display:block;
	margin:0 0 0 auto;
	text-indent:-9999px;
	overflow:hidden;
}
a.link:hover{
    background-position: bottom;
}
.info-block{
	width:518px;
	font-size:22px;
	line-height:25px;
	color:#fff;
	text-shadow: 1px 1px 3px #444;
}
.info-block h2{
	margin:0;
	padding:10px 18px;
	text-transform:uppercase;
	font-weight:normal;
	font-size:22px;
	line-height:37px;
	background:#879ba4 url(../images/heading3.gif) no-repeat;
	text-shadow: 1px 1px 3px #444;
}
.info-block p{margin:0 0 15px;}
.info-block .text-area{
	padding:11px 9px 5px 19px;
	position:relative;
}
.info-block .text-area img{
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
