/* 
   spritemapper.output_css = sprited.css
   spritemapper.output_image = out.png
 */
.sprite.title
{
    background: url('out.png') no-repeat -970px 0;
    width: 790px;
    height: 70px;
}
.sprite.amiamo,
.sprite.nonAmiamo {
  background: url('out.png') no-repeat 0 0;
  height: 350px;
  width: 390px;
}
.sprite.cta
{
    background: url('out.png') no-repeat -391px -67px;
    width: 578px;
    height: 66px;
}
.sprite.cta:hover
{
    background: url('out.png') no-repeat -391px 0;
    width: 578px;
    height: 66px;
}