/* 
   spritemapper.output_css = sprited.css
   spritemapper.output_image = out.png
 */
.sprite.title
{
    background: url('../img/UIelements_header-generic.png');
    width: 790px;
    height: 70px;
}
.sprite.amiamo,
.sprite.nonAmiamo {
  background: url('../img/UIelements_netiquette-box_bg.png');
  height: 350px;
  width: 390px;
}
.sprite.cta
{
    background: url('../img/UIelements_netiquette-mainbutton_inactive.png');
    width: 578px;
    height: 66px;
}
.sprite.cta:hover
{
    background: url('../img/UIelements_netiquette-mainbutton_active.png');
    width: 578px;
    height: 66px;
}