<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background-color:#F48135"></span>
		<span class="sg-label">
			$color-wind <br />
			#F48135
		</span>
	</li>

	<li>
		<span class="sg-swatch" style="background-color:#0088bc"></span>
		<span class="sg-label">
			$color-mobile <br />
			#0088bc
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#183989"></span>
		<span class="sg-label">
			$color-fisso <br />
			#183989

		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#292F34"></span>
		<span class="sg-label">
			$color-business <br />
			#292F34
		</span>
	</li>
	
	<li>
		<span class="sg-swatch" style="background-color:#212121"></span>
		<span class="sg-label">
			$color-device <br />
			#212121
		</span>
	</li>
	
</ul>