<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F48135;"></span>
		<span class="sg-label">
			$color-brand-wind <br />
			#F48135
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0069B3;"></span>
		<span class="sg-label">
			$color-brand-infostrada <br />
			#0069B3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #212121;"></span>
		<span class="sg-label">
			$color-brand-home-and-life <br />
			#212121
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0088bc;"></span>
		<span class="sg-label">
			$color-brand-mobile <br />
			#0088bc
		</span>
	</li>
</ul>
