<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background-color:#fff"></span>
		<span class="sg-label">
			$white <br />
			#fff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#D3D3D2"></span>
		<span class="sg-label">
			$gray-borders <br />
			#D3D3D2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#212121"></span>
		<span class="sg-label">
			$gray-base <br />
			#212121
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#292f34"></span>
		<span class="sg-label">
			$gray-darkest <br />
			#292F34
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#656D78"></span>
		<span class="sg-label">
			$gray-darker <br />
			#656D78
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#AAB2BD"></span>
		<span class="sg-label">
			$gray-dark <br />
			#AAB2BD
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#CCD1D9"></span>
		<span class="sg-label">
			$gray <br />
			#CCD1D9
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#E6E9ED"></span>
		<span class="sg-label">
			$gray-light <br />
			#E6E9ED
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background-color:#F4F4F4"></span>
		<span class="sg-label">
			$gray-lighter <br />
			#F4F4F4
		</span>
	</li>
	
</ul>
