<ul class="sg-colors">
	<li>
		<span class="sg-swatch colored__bg--grey__stroke"></span>
		<span class="sg-label">
			$color-grey-stroke <br />
			#0088bc
		</span>
	</li>
	<li>
		<span class="sg-swatch colored__bg--black"></span>
		<span class="sg-label">
			$color-black <br />
			#212121
		</span>
	</li>
	<li>
		<span class="sg-swatch colored__bg--grey__dark"></span>
		<span class="sg-label">
			$color-grey-dark <br />
			#292F34
		</span>
	</li>
	<li>
		<span class="sg-swatch colored__bg--grey__dark__light"></span>
		<span class="sg-label">
			$color-grey-dark-light <br />
			#0088bc
		</span>
	</li>
	<li>
		<span class="sg-swatch colored__bg--grey__medium"></span>
		<span class="sg-label">
			$color-grey-medium <br />
			#0088bc
		</span>
	</li>
	<li>
		<span class="sg-swatch colored__bg--grey__medium__light"></span>
		<span class="sg-label">
			$color-grey-medium-light <br />
			#0088bc
		</span>
	</li>
	<li>
		<span class="sg-swatch colored__bg--grey__light"></span>
		<span class="sg-label">
			$color-grey-light <br />
			#0088bc
		</span>
	</li>
	<li>
		<span class="sg-swatch colored__bg--grey__light__light"></span>
		<span class="sg-label">
			$color-grey-light-light <br />
			#0088bc
		</span>
	</li>
	<li>
		<span class="sg-swatch colored__bg--white"></span>
		<span class="sg-label">
			$color-white <br />
			#0088bc
		</span>
	</li>
</ul>
