/* ========================================================= */

// ============================ BLOCCO FASCIA GRIGIA CON TITOLO ==================
// ============================ BLOCCO FASCIA GRIGIA CON TITOLO ==================
// ============================ BLOCCO FASCIA GRIGIA CON TITOLO ==================
.grey_strip__block {
  background-color: $color_grey_light;
  width: 100%;
  @at-root {
    .whiteStrip #{&} {
      background-color: $color_white;
    }
  }
  @at-root #{&}__tabs {
    text-transform: uppercase;
    color: $color_text;
    &__container {
      padding-top: 30px;
      @at-root {
        .whiteStrip #{&} {
            width: 100%;
        }
      }
      @include breakpoint(small) {
        padding-top: 0px;
      }
    }
    &--left {
      float: left;
      margin-left: 30px;
      @include breakpoint(small) {
        float: none;
      }
      .grey_strip__block__tabs--title {
        &:hover {
          font-weight: bold;
        }
        &.active {
          font-weight: bold;
        }
      }
    }
    &--right {
      float: right;
      margin-right: 30px;
      @include breakpoint(small) {
        float: none;
        margin-left: 30px;
        margin-top: 10px;
        padding-bottom: 30px;
      }
      .grey_strip__block__tabs--title {
        &:hover {
          border-bottom: 1px solid $color_orange;
        }
        &.active {
          border-bottom: 1px solid $color_orange;
        }
      }
    }
    &--title {
      margin-right: 15px;
      cursor: pointer;
      font-size: 1em;
      padding-bottom: 5px;
      color: $color_text;
      &:hover {
        color: $color_wind;
        padding-bottom: 5px;
      }
      &.active {
        color: $color_wind;
        padding-bottom: 5px;
      }
      &.disabled {
        color: $color_grey_medium;
        cursor: not-allowed;
        &:hover {
          border-bottom: 0;
        }
      }
    }
  }
  &__title {
    .h3 {
      font-size: 1.563em;
      font-family: $weight-normal;
      @at-root {
        .whiteStrip #{&} {
          font-size: 2.5em;
        }
      }
    }
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px 15px 5px;
    float: left;
    border-right: 1px solid $color_stroke;
    @at-root {
      .whiteStrip #{&} {
        width: 100%;
        border-right: none;
        text-align: center;
      }
    }
    @include breakpoint(small) {
      float: none;
      border-right: none;
    }
  }
  &__container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    &.noTabs {
      .grey_strip__block__tabs {
        display: none;
      }
    }
  }
}
