.store_locator_block {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    .move_bottom_70{
        position: relative;
        top: 70px;
    }
    .showcase_accordions_block__single {
        @include breakpoint(small) {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
    .alternative_background_grey {
        background-color: #f7f7f7;
        h2 {
            background-color: #f7f7f7 !important;
        }
    }
    &__shopList {
        color: $color-orange;
        font-size: 1em;
        text-transform: uppercase;
    }
    &__cities {
        color: $color-standardText;
        ul {
            -moz-column-count: 2;
            -moz-column-gap: 20px;
            -webkit-column-count: 2;
            -webkit-column-gap: 20px;
            column-count: 2;
            column-gap: 20px;
            @include breakpoint(small) {
                -moz-column-count: 1;
                -moz-column-gap: 0px;
                -webkit-column-count: 1;
                -webkit-column-gap: 0px;
                column-count: 1;
                column-gap: 0px;
            }
            li {
                padding: 5px;
                &:nth-of-type(odd) {
                    background-color: $color-white;
                    ;
                }
            }
        }
        &--image {
            height: 20px;
            padding-bottom: 3px;
        }
        &--name {
            font-size: 0.875em;
            color: $color-lightBlue;
        }
        &--mainAddress {
            font-size: 0.750em;
        }
        &--addressNumber {
            font-size: 0.750em;
        }
        &--cap {
            font-size: 0.750em;
        }
        &--province {
            font-size: 0.750em;
        }
        &--provinceMin {
            font-size: 0.750em;
        }
    }
    &__mainContainer {
        margin-left: 20px;
        margin-right: 20px;
    }
    &__container {
        font-size: 1em;
        position: relative;
        overflow: hidden;
        max-height: auto;
        &__expand {
            position: absolute;
            top: 66px;
            left: 20px;
            .button__expand {
                cursor: pointer;
                position: absolute;
                width: 40px;
                height: 40px;
                color: $color-white;
                background-color: $color-HomeLife-Background;
                top: 0px;
                left: 290px;
                z-index: 100;
                text-align: center;
                padding-top: 8px;
                padding-right: 5px;
                @include transition(transform 0.4s ease-in);
                &:hover {
                    background-color: $color-orange;
                }
                img {
                    height: 25px;
                }
            }
        }
        &--shops {
            position: relative;
            z-index: 50;
            top: 0px;
            left: 0px;
            overflow-y: hidden;
            background-color: $color-white;
            height: 420px;
            width: 290px;
        }
    }
    &__additionalOptions {
        position: absolute;
        top: 0px;
        right: -40px;
        &__close {
            text-align: center;
            cursor: pointer;
            color: $color-white;
            background-color: $color-HomeLife-Background;
            float: left;
            width: 40px;
            height: 40px;
            font-size: 1.5em;
            padding-top: 10px;
            &:hover {
                @include opacity(0.7);
            }
        }
        &__tour {
            text-align: center;
            float: left;
            background-color: $color-orange;
            width: 40px;
            height: 40px;
            padding-top: 2px;
            padding-left: 2px;
            cursor: pointer;
            img {
                height: 35px;
                width: auto;
            }
        }
    }
    .cont_detail {
        position: absolute;
        border: 1px solid #ececec;
        top: 85px;
        width: 300px;
        left: 50%;
        z-index: 3;
        background-color: #fff;
        display: none;
        font-size: 0.750em;
        font-family: $weight-normal;
        .open_shop_detail {
            padding-bottom: 10px;
            margin-top: 10px;
            text-transform: uppercase;
            color: $color-orange;
            font-size: 1em;
            text-align: center;
            cursor: pointer;
            &:hover {
                color: #f78f4c;
            }
        }
        .cont_image {
            img {
                width: 100%;
            }
        }
        .cont_text {
            margin: 0 1.250em;
            padding-bottom: 15px;
            border-bottom: 1px solid $medium-gray;
            .description {
                margin: 0px;
            }
            .opening_time {
                float: left;
            }
            .contact_numbers {
                float: left;
                margin-left: 20px;
                h3 {
                    margin-bottom: 0px;
                }
            }
            p {}
            h3 {
                font-size: 1rem;
                font-family: $weight-bold;
                margin-bottom: 0px;
            }
            .shop_description {
                background: url(../img/icons-interface/icon_list1.png) no-repeat 0 15px;
                border-bottom: 1px solid $medium-gray;
                padding-bottom: 20px;
                padding-top: 20px;
                padding-left: 50px;
                h3 {
                    color: $color-lightBlue;
                    font-family: $weight-bold;
                    font-size: 1.167em;
                    margin-top: 0px;
                }
                .description {
                    font-size: 1em;
                    font-family: $weight-normal;
                }
            }
        } //close cont_text  
    } //close cont_detail   
}

// ============================== STILE MAPPA =========================
// ============================== STILE MAPPA =========================
// ============================== STILE MAPPA =========================
.contend {
    float: left;
    width: 100%;
    &_map {
        float: none;
        width: 100%;
        position: relative;
        margin-top: 1rem;
        .label_map_filter {
            position: relative;
            top: 3px;
        }
        .gm-style-iw {
            background: red;
            a {
                color: #4272db;
            }
            h4,
            p {
                margin: 0;
                padding: 0;
            }
            * {
                display: block;
                width: 100%;
            }
        } //close gm-style-iw
        #map {
            height: 485px;
            width: 100%;
            position: relative;
            z-index: 1;
        }
        .form_map {
            background-color: $color-white;
            width: 100%;
            float: left;
            padding: 0 0 1rem 0;
            position: relative;
            z-index: 50;
            .base__checkbox {
                label {
                    img {
                        display: inline-block;
                    }
                }
            }
            .container_search {
                float: left;
                width: 40%;
                .button--search {
                    float: left;
                    height: 55px;
                    width: 65px;
                    margin-left: 20px;
                }
            }
            .base__input {
                padding: 1.2em 1em 1.0em 1em;
                float: left;
                font-family: $weight-normal;
                width: calc(100% - 100px);
            }
            .check_cont {
                margin: 1rem 0 0 0;
                float: right;
                text-align: right;
                width: 60%; 
                input[type=checkbox] {
                    cursor: pointer;
                }
                .container_checkbox_firstRow {
                    float: left;
                    margin-right: 20px;
                }
                .container_checkbox_secondRow {
                    float: left;
                }
            }
        } //close form_map
        &.form2 {
            .form_map {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                margin-top: 1rem;
                .base__input {
                    margin: 0.2rem 0 0 3%;
                    width: 28%;
                }
                .check_cont {
                    width: auto;
                    background-color: #FFFFFF;
                    padding: 0.5rem 1rem;
                    float: right;
                    margin: 0;
                }
            } //close form_map
        } //close form2
    }
    &_detailmap {
        width: 100%;
        height: auto;
        ul {
            padding: 0;
            margin: 0;
            width: 100%;
            height: auto;
            top: 83px;
            li {
                background-color: white;
                list-style: none;
                cursor: pointer;
                width: 100%;
                border: 1px solid $medium-gray;
                &:last-of-type {
                    border-bottom: 1px solid $medium-gray;
                }
                &:after {
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }
                .container_shop_data {
                    border-bottom: 0px;
                    border-left: 4px solid #ffffff;
                    .text_telephone_number {
                        position: relative;
                        top: 12px;
                        left: 5px;
                    }
                    .buttons {
                        float: left;
                        width: 25%;
                        margin: 10px 0;
                        padding: 10px 0;
                        text-align: center;
                        border-left: 1px solid $medium-gray;
                        .icon_title {
                            font-size: 0.750em;
                            font-family: $weight-normal;
                        }
                        &__icon {
                            margin: 0 auto;
                            width: 25px;
                            height: 28px;
                            background: url('../img/icons-negozio/sprite_negozio.png') no-repeat 0 0;
                            &--map {
                                background-position: 0 -28px;
                            }
                            &--details {
                                margin-top: 5px;
                                background-position: 0 -60px;
                            }
                        }
                    }
                    .title {
                        float: left;
                        width: 75%;
                        padding: 0 0 0 50px;
                        margin: 1.04rem 0 1.05rem 0;
                        background-image: url(../img/icons-interface/icon_list2.png);
                        background-repeat: no-repeat;
                        background-position: 0.4rem center;
                        position: relative;
                        z-index: 4;
                        background-color: #ffffff;
                        /* border-right: 1px solid $medium-gray; */
                        &__icon {
                            width: 25px;
                            height: 28px;
                            background: url('../img/icons-negozio/sprite_negozio.png') no-repeat 0 0;
                            float: left;
                            &--telephone {
                                background-position: 0 5px;
                            }
                        }
                        h3 {
                            color: $color-lightBlue;
                            font-family: $weight-bold;
                            margin: 0 0 0.5rem 0;
                            font-size: 0.875em;
                        }
                        h4 {
                            font-size: 0.875em;
                            color: #333333;
                            font-family: $weight-normal;
                        }
                         &:hover {
                        //     background-image: url(../img/icons-interface/icon_list1.png);
                        //     background-color: #FFFFFF;
                       @include opacity(0.7); 
                         }
                    } //close title   
                }
                &.active_action {
                    .container_shop_data {
                        border-left: 4px solid $color-lightBlue;
                    }
                    .title {
                        // background-image: url(../img/icons-interface/icon_list1.png);
                        background-color: #FFFFFF;
                    }
                    .cont_detail {
                        display: none;
                    }
                } //close active_action
            } //close LI
        } //close UL
        .title_detail {
            float: left;
            padding: 1rem 0;
            font-size: 1.7rem;
            color: #333333;
            font-family: $weight-bold;
        }
    } //fine detailMap
} //close map
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media (max-width: 960px) {
    .store_locator_block {
        .contend_map {
            .form_map {
                .check_cont {
                    text-align: left;
                    .container_checkbox_firstRow {
                        float: none;
                    }
                }
            }
        }
        .base__checkbox {
            &.checkbox {
                label {
                    width: 145px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .button__expand {
        display: none;
    }
    .store_locator_block {
        &__mainContainer {
            margin-left: 10px;
            margin-right: 10px;
        }
        .contend_detailmap {
            ul {
                li {
                    &:nth-of-type(n+4) {
                        display: none;
                    }
                }
            }
        }
        .cont_detail {
            position: relative;
            left: 0;
            top: 0;
            width: 80%;
            margin: 0 auto;
        }
        .base__checkbox {
            &.checkbox {
                margin-left: 0px;
                label {}
            }
        }
        .contend_map {
            .form_map {
                .check_cont {
                    float: none;
                    text-align: left;
                    width: 100%;
                    .checkbox {
                        float: none;
                        width: 100%;
                    }
                    .container_checkbox_firstRow {
                        float: none;
                    }
                }
                .container_search {
                    float: none;
                    width: 100%;
                }
            }
            #map {
                height: 150px;
            }
        }
        &__container {
            &__expand {
                position: static;
            }
            &--shops {
                position: relative;
                height: 100%;
                top: 0px;
                left: 0px;
                width: 100%;
                overflow: hidden;
            }
        }
    }
}
