//BLOCCO DASHBOARD
.dashboard_watch_block {
    background-color: #212121;
    transition: all 0.45s ease-in-out 0s;
    &__container {
        margin: 0 auto;
        max-width: 1024px;
        padding-top: 0;
        padding-bottom: 30px;
    }
    &__icon {
        display: none;
        background-color: $color-white;
        padding: 10px 4px 4px 7px;
        margin-top: 30px;
        position: absolute;
        z-index: 999;
        top: -47px;
        left: 54px;
        float: left;
        &--gplus {
            background: rgba(0, 0, 0, 0) url("../../img/social/social_sprite_small.png") no-repeat scroll 0 0;
            width: 39px;
            height: 39px;
            margin-right: 1px;
            float: left;
        }
        &--youtube {
            background: rgba(0, 0, 0, 0) url("../../img/social/social_sprite_small.png") no-repeat scroll 0 -39px;
            width: 39px;
            height: 39px;
            margin-right: 1px;
            float: left;
        }
        &--facebook {
            background: rgba(0, 0, 0, 0) url("../../img/social/social_sprite_small.png") no-repeat scroll 0 -78px;
            width: 39px;
            height: 39px;
            margin-right: 1px;
            float: left;
        }
        &--twitter {
            background: rgba(0, 0, 0, 0) url("../../img/social/social_sprite_small.png") no-repeat scroll 0 -117px;
            width: 39px;
            height: 39px;
            margin-right: 1px;
            float: left;
        }
        &--mail {
            background: rgba(0, 0, 0, 0) url("../../img/social/social_sprite_small.png") no-repeat scroll 0 -156px;
            width: 39px;
            height: 39px;
            float: left;
        }
    }
    &__product {
        float: left;
        margin-top: 0.625em;
        width: 100%;
        &--imagep {
            .bx-pager {
                left: 0;
                position: absolute;
                top: 50px;
                width: 5.25em;
                z-index: 999;
                a {
                    float: left;
                    height: auto;
                    margin-bottom: 2rem;
                    text-align: center;
                    width: 100%;
                    img {
                        max-width: 100%;
                    }
                }
            }
            ul li {
                text-align: center;
                img {
                    display: inline;
                    max-width: 100%;
                }
            }
        }
        &--detailsp {
            margin-top: 70px;
        }
    }
    &__subTitle {
        float: left;
        width: 100%;
    }
    &__left {
        margin-top: 46px;
        &#bx-pager {
            left: 0;
            position: absolute;
            top: 0;
            width: 6rem;
            z-index: 999;
            a {
                float: left;
                height: auto;
                margin-bottom: 2rem;
                text-align: center;
                width: 100%;
            }
        }
        .bx-wrapper {
            .bx-controls {
                display: none;
            }
        }
    }
    &__right {
        p {
            text-align: center;
            font-size: 0.875em;
            color: $color-white;
        }
        ul {
            float: left;
            list-style: outside none none;
            margin: 1em 0 1.5em;
            padding: 0;
        }
        li {
            float: left;
            width: 4.125em;
            margin-right: 1.6em;
            height: 3.75em;
            &:nth-of-type(n+5) {
                margin-top: 10px;
            }
        }
    }
    &__title {
        color: $color-white;
        font-size: $title-big;
        text-align: center;
    }
    &__priceRow {
        font-family: "Trade Gothic LTS Light";
        margin-bottom: 25px;
        margin-top: 20px;
        text-align: center;
        float: left;
        width: 100%;
        &__price {
            color: $color-lightBlue;
            font-size: $text-medium;
            &__recurrency {
                color: $color-standardText;
                font-size: 12px;
            }
        }
    }
    &__button {
        float: left;
        width: calc(50% - 15px);
        &.left {
            margin-right: 30px;
        }
    }
    &__reviews {
        margin-top: 10px;
        margin-bottom: 10px;
        &--stars {
            float: left;
            margin-right: 1.8em;
            i {
                color: $color-orange;
                &:hover {
                    opacity: 0.5;
                }
            }
            &_fa {
                font-style: normal;
                font-family: FontAwesome;
                &-star::before {
                    content: "\f005";
                }
                &-star-o::before {
                    content: "\f006";
                }
            }
        }
        &--comments {
            float: left;
            margin-right: 1.8em;
            i {
                color: $color-orange;
            }
            &_fa {
                font-style: normal;
                font-family: FontAwesome;
                &-comment-o::before {
                    content: "\f0e5";
                }
            }
        }
        &--share {
            float: left;
            i {
                color: $color-orange;
            }
            &_fa {
                font-style: normal;
                font-family: FontAwesome;
                &-share-alt::before {
                    content: "\f1e0";
                }
            }
            a,
            a:hover {
                text-decoration: none;
            }
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 320px) {
    .dashboard_watch_block {
        &__reviews {
            &--stars {
                width: auto;
            }
        }
    }
}

@media all and (min-width: 321px) and (max-width: 399px) {
    .dashboard_watch_block {
        &__reviews {
            &--stars {
                width: 33.333%;
            }
        }
    }
}

@media all and (max-width: 400px) {
    .dashboard_watch_block {
        &__right {
            li {
                margin-right: 0.4em;
                width: 3.8em;
            }
            & .items a.item span {
                margin: 0 1.218em 9px;
            }
        }
        &__left {
            margin-top: 0;
        }
        &__button {
            width: 100%;
            & .left {
                margin-right: 0;
            }
        }
        &__reviews {
            &--share {
                //float: right;
                a:nth-of-type(2n) {
                    display: none;
                }
            }
            &--stars {
                // width: 33.333%;
            }
        }
    }
}

// SLIDER > PAGER
@media all and (max-width: 767px) {
    .dashboard_watch_block {
        font-size: 14px;
    }
    .dashboard_watch_block {
        &__left {
            #bx-pager {
                width: 100%;
                position: relative;
                top: 0;
                a {
                    width: 33.333%;
                    img {
                        display: inline;
                    }
                }
            }
        }
        &__product {
            &--detailsp {
                margin-top: 0;
            }
        }
    }
}
