// BLOCCO ACCORDION PAYMENT
.accordion_payment_block {
    margin: 0 auto;
    max-width: 1024px;
    //padding: 0 20px;  x test mobile da cancellare 
    &__linkPoste {
        font-size: 1em;
    }
    &__icon_circuit {
        float: left;
        margin: 30px 0 30px 6px;
    }
    &__icon__single {
        margin-top: 10px;
        margin-right: 2em;
    }
    &__icon_creditCard {
        margin-top: 30px;
        margin-bottom: 26px;
        &--firstRow {
            float: left;
        }
        &--secondRow {
            float: left;
        }
        &--VisaVerified {
            background: rgba(0, 0, 0, 0) url("../img/credit-cards/payment_icons_sprite.png") no-repeat scroll 0 0;
            float: left;
            width: 81px;
            height: 44px;
        }
        &--masterCardsc {
            background: rgba(0, 0, 0, 0) url("../img/credit-cards/payment_icons_sprite.png") no-repeat scroll 0 -44px;
            float: left;
            width: 81px;
            height: 44px;
        }
        &--visa {
            background: rgba(0, 0, 0, 0) url("../img/credit-cards/payment_icons_sprite.png") no-repeat scroll 0 -88px;
            float: left;
            width: 81px;
            height: 44px;
        }
        &--masterCard {
            background: rgba(0, 0, 0, 0) url("../img/credit-cards/payment_icons_sprite.png") no-repeat scroll 0 -132px;
            float: left;
            width: 81px;
            height: 44px;
        }
        &--americanExpress {
            background: rgba(0, 0, 0, 0) url("../img/credit-cards/payment_icons_sprite.png") no-repeat scroll 0 -176px;
            float: left;
            width: 81px;
            height: 44px;
        }
        &--postePay {
            background: rgba(0, 0, 0, 0) url("../img/credit-cards/payment_icons_sprite.png") no-repeat scroll 0 -220px;
            float: left;
            width: 81px;
            height: 44px;
        }
        &--visaElectron {
            background: rgba(0, 0, 0, 0) url("../img/credit-cards/payment_icons_sprite.png") no-repeat scroll 0 -264px;
            float: left;
            width: 81px;
            height: 44px;
        }
        &--cartasi {
            background: rgba(0, 0, 0, 0) url("../img/credit-cards/payment_icons_sprite.png") no-repeat scroll 0 -308px;
            float: left;
            width: 81px;
            height: 44px;
        }
    }
}
