//BLOCCO DASHBOARD
.share_block {
    background-color: #212121;
    transition: all 0.45s ease-in-out 0s;
    &__icon {
        display: none;
        background-color: $color-white;
        border: 1px solid $medium-gray;
        padding: 5px;
        position: absolute;
        z-index: 150;
        right: 73px;
        @include border-bottom-radius(10px);
        @include breakpoint(tiny) {
            top: 10px;
        }
        .share-icons {
            float: left;
            margin-right: 0.650em;
            &:last-of-type {
                margin-right: 0;
            }
            @include breakpoint(tiny) {
                float: none;
            }
        }
        &--gplus {
            background: rgba(0, 0, 0, 0) url("../img/social_sprite_small.png") no-repeat scroll 0 0;
            width: 39px;
            height: 39px;
            margin-right: 1px;
        }
        &--youtube {
            background: rgba(0, 0, 0, 0) url("../img/social_sprite_small.png") no-repeat scroll 0 -39px;
            width: 39px;
            height: 39px;
            margin-right: 1px;
        }
        &--facebook {
            background: rgba(0, 0, 0, 0) url("../img/social_sprite_small.png") no-repeat scroll 0 -78px;
            width: 39px;
            height: 39px;
            margin-right: 1px;
        }
        &--twitter {
            background: rgba(0, 0, 0, 0) url("../img/social_sprite_small.png") no-repeat scroll 0 -117px;
            width: 39px;
            height: 39px;
            margin-right: 1px;
        }
        &--mail {
            background: rgba(0, 0, 0, 0) url("../img/social_sprite_small.png") no-repeat scroll 0 -156px;
            width: 39px;
            height: 39px;
        }
    }
    &__reviews {
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 15px;
        &--description {
            color: $color-orange;
            font-size: 0.750em;
            text-decoration: none;
        }
        &--stars {
            float: left;
            margin-right: 1.8em;
            i {
                color: $color-orange;
                &:hover {
                    @include opacity(0.5);
                }
            }
            &_fa {
                font-style: normal;
                font-family: FontAwesome;
                &-star::before {
                    content: "\f005";
                }
                &-star-o::before {
                    content: "\f006";
                }
            }
        }
        &--comments {
            float: left;
            margin-right: 1.8em;
            &:hover {
                opacity: 0.5;
            }
            i {
                color: $color-orange;
            }
            &_fa {
                font-style: normal;
                font-family: FontAwesome;
                &-comment-o::before {
                    content: "\f0e5";
                }
            }
        }
        &--share {
            float: left;
            &:hover {
                opacity: 0.5;
            }
            i {
                color: $color-orange;
            }
            &_fa {
                font-style: normal;
                font-family: FontAwesome;
                &-share-alt::before {
                    content: "\f1e0";
                }
            }
        }
    }
}
