//BLOCCO DASHBOARD
.dashboard_watch_block {
  transition: all .45s ease-in-out 0s;
  &__container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: $color_home_life;
  }
  &__product {
    display: table;
    position: relative;
    width: 100%;
    height: 350px;
    vertical-align: middle;
    @include breakpoint(small) {
      display: inline-block;
      height: auto;
      padding: 0 15px;
    }
    &--imagep {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      @include breakpoint(small) {
        display: inline-block;
        width: 100%;
      }
    }
    &--detailsp {
      display: table-cell;
      width: 50%;
      height: 350px;
      vertical-align: middle;
    }
    li {
      margin: 0;
      padding: 0;
      outline: 0;
    }
    .phone {
      &_thumbs {
        display: inline-block;
        width: 116px;
        height: 350px;
        margin: 0;
        padding: 0;
        float: left;
        z-index: 10;
        @include breakpoint('super-tiny') {
          bottom: -350px;
          width: 100%;
          height: 115px;
        }
        li {
          height: calc(100% / 3);
          outline: 0;
          cursor: pointer;
        }
        img {
          width: auto;
          height: 75px;
          margin: 20px auto;
        }
        .slick{
          &-list,
          &-track{
            height: 100% !important;
          }
        }
      }
      &_gallery {
        display: inline-block;
        position: relative;
        width: calc(100% - 116px);
        height: 350px;
        margin: 0;
        padding: 0;
        float: left;
        @include breakpoint('super-tiny') {
          bottom: 115px;
          width: 100%;
        }
        img {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 350px;
          margin: 0 0 0 auto;
          @include breakpoint('small') {
            margin: 0 auto;
          }
        }
      }
    }
  }
  &__title {
    margin-bottom: 8px;
    color: $color_mobile;
    font-family: $weight-cond;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(small) {
      font-size: 50px;
    }
  }
  &__description {
    margin-bottom: 16px;
    color: $color_white;
    font-size: 14px;
    text-align: center;
    @include breakpoint('small') {
      margin: 0 15px 16px;
    }
  }
  &__priceRow {
    margin-bottom: 16px;
    font-family: $weight-cond;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    &__price {
      color: $color_mobile;
      &__recurrency {
        color: $color_text;
        font-size: 12px;
      }
    }
    &:empty {
      display: none;
    }
  }
  &__paymentRateRow {
    margin-bottom: 16px;
    &.strip_plans:not([style*="display:none"]):not([style*="display: none"]) {
      background-color: transparent;
      .over,
      .price,
      .sub {
        color: $color_white;
      }
      .over,
      .sub {
        font-size: 14px;
      }
      .price {
        font-size: 32px;
        @include breakpoint('medium') {
          font-size: 26px;
        }
      }
    }
    &:empty {
      display: none;
    }
  }
  &__button {
    display: inline-block;
    width: 40%;
    &--container {
      text-align: center;
    }
    .base__bt {
      width: 100%;
      font-family: $weight-bold;
      &:empty {
        display: none;
      }
    }
  }
}
