/* ========================================================= */

// ============================ BLOCCO FASCIA GRIGIA CON TITOLO ==================
// ============================ BLOCCO FASCIA GRIGIA CON TITOLO ==================
// ============================ BLOCCO FASCIA GRIGIA CON TITOLO ==================
.download_module__block {
    background-color: #e6e9ed;
    width: 100%;
    @include breakpoint(super-tiny) {
        font-size: 0.875em;
    }
    .button--slim {
        display: table-cell;
        vertical-align: middle;
        font-size: 0.875em;
    }
    &__container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        display: table;
        padding: 15px;
    }
    @at-root #{&}__details {
        color: $color-standardText;
        display: table-cell;
        vertical-align: middle;
        padding: 0 30px;
    }
    &__title {
        font-size: 1.500em;
        font-family: $weight-bold;
        display: table-cell;
        vertical-align: middle;
        margin-right: 30px;
    }
    &.reversed_colors {
        background-color: #fff;
    }
    &.noTitle {
        .download_module__block__title {
            display: none;
        }
    }
}
