.contact_operatore_block {
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    @at-root #{&}__container {
        margin: 0 auto;
        max-width: 1024px;
        position: relative;
        padding: 22px 0 22px;
        .base__icon{
            width:146px;
            height:146px;
        }
    }
    @at-root #{&}__image {
        text-align: center;
        &--image {
            width: 140px;
            @include breakpoint(small) {
                margin: 0 auto;
                padding-bottom: 15px;
            }
        }
    }
    @at-root #{&}__claim {
        &_content {
            color: $color_white;
            @include breakpoint(small) {
                text-align: center;
            }
            &--title {
                font-size: 2.2em;
                margin-bottom: 10px;
                font-family: $weight-light;
            }
            &--text {
                font-size: 1.2em;
                font-family: $weight-normal;
            }
        }
    }
    @at-root #{&}__action {
        padding-top: 15px;
        .base__input {
            padding-top: 1.125em;
            padding-bottom: 0.875em;
            font-family: $weight-light;
        }
        .button--slim {
            margin: 15px 0 0;
            padding: 15px 0;
        }
    }
}
