    // BLOCCO FIBER
    .fiber_block {
        margin: 0 auto;
        max-width: 1024px;
        &__container {
            width: 100%;
            position: relative;
            display: block;
            &__item {
                padding: 25px 0;
                display: table;
                @include breakpoint(small) {
                    padding: 15px 0;
                }
                .base__icon {
                    display: none;
                }
                &.icon {
                    .fiber_block__container__button {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        @include breakpoint(small) {
                            padding-top: 30px;
                        }
                        a {
                            display: none;
                        }
                        .base__icon {
                            display: block;
                            width: 64px;
                            height: 64px;
                            
                            &::before {
                                border-left: 1px solid $color_stroke;
                                content: '';
                                position: absolute;
                                top: 0;
                                height: 100%;
                                left: 0;
                                @include breakpoint(small) {
                                    border-top: 1px solid $color_stroke;
                                    height: 1px;
                                    margin-top: 10px;
                                    left: 15px;
                                    right: 15px;
                                }
                            }
                        }
                    }
                }
                &.full {
                    .fiber_block__container__description {
                        width: 100%;
                    }
                    .fiber_block__container__button {
                        display: none;
                    }
                }
            }
            &__description {
                display: table-cell;
                float:none;
                vertical-align: middle;
                &--title {
                    font-family: $weight-light;
                    color: $color_robin;
                    font-size: 1.375em;
                    margin-bottom: 10px;
                }
                &--subTitle {
                    margin-bottom: 10px;
                }
                @include breakpoint(small) {
                    display:block;
                    & p {
                        font-size: 0.96em;
                    }
                }
            }
            &__button {
                display: table-cell;
                float:none;
                vertical-align: middle;
                padding-top: 29px;
                padding-bottom: 29px;
                .button--slim {
                    display: block;
                    width: 100%;
                    margin:0 auto;
                    font-size: 1em;
                    max-width:280px;
                    &::before {
                        border-left: 1px solid $color_stroke;
                        content: '';
                        position: absolute;
                        top: 0;
                        height: 100%;
                        left: 0;
                        @include breakpoint(small) {
                            border-top: 1px solid $color_stroke;
                            height: 1px;
                            margin-top: 10px;
                            left: 15px;
                            right: 15px;
                        }
                    }
                }
                @include breakpoint(small) {
                    padding-top: 30px;
                    padding-bottom: 0;
                    display:block;
                }
            }
            &:nth-of-type(even) {
                background-color: $color_grey_light;
            }
        }
        &__note {
            font-size: 0.75em;
            padding-top: 10px;
            margin-bottom: 50px;
        }
    }
    
    // ============================== MEDIA QUERIES =========================
    // ============================== MEDIA QUERIES =========================
    // ============================== MEDIA QUERIES =========================
