// BUNDLE BLOCCO 2
.bundle_ver2_noSlide_block {
    &__container {
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
        max-width: 1024px;
        margin: 0 auto;
        line-height: 1.08;
        padding-bottom: 30px;
    }
    h2 {
        font-family: $weight-boldCond;
        margin-bottom: 10px;
    }
    &__showMore {
        color: $color-orange;
        font-size: 1.250em;
        text-align: center;
        text-transform: uppercase;
        font-family: $weight-light;
        margin-top: 30px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    @at-root #{&}__tabs {
        width: 100%;
        text-align: right;
        text-transform: uppercase;
        color: $color-standardText;
        background-color: #e6e9ed;
        padding: 20px 0px 15px 15px;
        &__container {
            max-width: 1024px;
            margin: 0 auto;
        }
        &--title {
            margin-right: 25px;
            cursor: pointer;
            &--Left {
                float: left;
                text-transform: none;
                font-size: 1.500em;
            }
            &:hover {
                border-bottom: 1px solid $color-orange;
            }
            &.active {
                border-bottom: 1px solid $color-orange;
                color: $color-orange;
            }
        }
    }
    &--title {
        font-size: 1em;
        text-transform: uppercase;
    }
    // VERSIONE DEL BUNDLE A (2 alte 3 alte 5 basse + prezzo)    
    @at-root #{&}__single {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        display: none;
        // VERSIONE DEL BUNDLE B (2 alte 5 basse 5 basse + prezzo)
        &.bundleVersion_B {
            // sotto css per la parte business
            .bundle_ver2_noSlide_block__single--title {
                margin-bottom: 20px;
            }
            .bundle_ver2_noSlide_block__single--bigAmount {
                height: 115px;
                font-size: 1.125em;
                line-height: 1.28em;
            }
            .bundle_ver2_noSlide_block__single__container--smallAmount {
                height: 90px;
                margin-bottom: 20px;
            }
        }
        &.bundleVersion_C {
            // sotto css per la parte business
            .bundle_ver2_noSlide_block__single--title {
                height: 132px;
                    line-height: 1.1em;
            }
            .bundle_ver2_noSlide_block__single--bigAmount {
                height: 109px;
                font-size: 1.125em;
                line-height: 1.250em;
                margin-bottom: 73px;
            }
            .bundle_ver2_noSlide_block__single__container--smallAmount {
                display: none;
            }
        }
        // VERSIONE DEL BUNDLE B (2 alte 5 basse 5 basse + prezzo)        
        &.bundleVersion_D {
            // sotto css per la parte business
            .bundle_ver2_noSlide_block__single--title {
                height: 132px;
                margin-bottom: 5px;
            }
            .bundle_ver2_noSlide_block__single--bigAmount {
                height: 113px;
                font-size: 1.125em;
                line-height: 1.250em;
                margin-bottom: 20px;
            }
            .bundle_ver2_noSlide_block__single__container--smallAmount {
                height: 89px;
                margin-bottom: 15px;
            }
            .bundle_ver2_noSlide_block__single--mainPrice {
                display: none;
            }
            .bundle_ver2_noSlide_block__single--recurrency {
                display: none;
            }
        }
        &__container {
            &--smallAmount {
                margin-bottom: 34px;
                height: 115px;
                overflow: hidden;
            }
        }
        &.item {
            position: relative;
            &:after {
                background-color: #ccd1d9;
                width: 1px;
                content: "";
                display: block;
                position: absolute;
                top: 15%;
                bottom: 7%;
                right: 0%;
                min-height: 1px;
                @include breakpoint(small) {
                    content: none;
                }
            }
            &:nth-child(-n+3) {
                display: block;
            }
            &:nth-child(3n) {
                &:after {
                    content: none;
                }
            }
        }
        &--bigAmount {
            font-size: 1.500em;
            line-height: 1.1em;
            font-family: $weight-light;
            margin-bottom: 20px;
            height: 76px;
            overflow: hidden;
        }
        &--smallAmount {
            font-size: 1.125em;
            line-height: 1.279em;
            font-family: $weight-light;
        }
        &--title {
            margin-top: 50px;
            margin-bottom: 20px;
            height: 69px;
            overflow: hidden;
            line-height: 1.15em;
            font-size: 1.875em;
            font-family: $weight-bold;
        }
        &--disclaimer {
            font-size: 0.688em;
            font-family: $weight-light;
            margin: 20px 0px;
            height: 35px;
        }
        &--mainPrice {
            font-size: 2.500em;
            color: $color-orange;
            font-family: $weight-light;
            height: 45px;
            .currency {
                font-size: 30px;
            }
        }
        &--recurrency {
            font-family: $weight-light;
            font-size: 0.813em;
            margin-bottom: 15px;
            height: 15px;
        }
        &__placeholder {
            display: none;  
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
