//BLOCCO DASHBOARD
.dashboard_block {
  background-color: $color_white;
  &__container {
    max-width: 1024px;
    margin: 30px auto;
  }
  .phone {
    &_model {
      margin-top: 46px;
    }
    &_thumbs {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 5.25em;
      padding: 70px 0 0;
      background: -webkit-linear-gradient(left, $color_white 50%, $color_transparent 100%);
      background: -o-linear-gradient(left, $color_white 50%, $color_transparent 100%);
      background: linear-gradient(to right, $color_white 50%, $color_transparent 100%);
      z-index: 250;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color_white}', endColorstr='#{$color_transparent}', GradientType=1);
      @include breakpoint('super-tiny') {
        top: auto;
        bottom: 0;
        width: 100%;
        padding-top: 0;
      }
    }
    &_thumb {
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
      float: left;
      outline: 0;
      text-align: center;
      cursor: pointer;
      img {
        width: auto;
        height: 54px;
      }
    }
    &_gallery {
      padding: 0;
      @include breakpoint('super-tiny') {
        padding-bottom: 100px;
      }
    }
    &_slide {
      outline: 0;
      @include breakpoint('super-tiny') {
        width: 100%;
        height: auto;
      }
      img {
        width: 100%;
      }
    }
  }
  &__title {
    height: 2.2em;
    margin-bottom: .25rem;
    color: $color_text;
    font-family: $weight-light;
    font-size: 2.5rem;
    line-height: 1.1em;
    text-align: center;
    overflow: hidden;
  }
  &__features {
    margin-bottom: 1rem;
    color: $color_text;
    line-height: 1.2em;
    text-align: center;
  }
  &__items {
    display: table;
    width: auto;
    margin: 0 auto 1rem;
    border-spacing: .5rem 0;
    padding-left: 0;
    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
  &__item {
    display: table-cell;
    width: 4.75rem;
    height: 4.75rem;
    padding: .5rem 0 0;
    border: 1px solid $color_stroke;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    @include breakpoint(medium) {
      display: inline-block;
      width: calc(33% - .5rem);
    }
    &:hover {
      border-color: $color_wind;
    }
    &.active {
      border-color: $color_wind;
    }
    &.inactive {
      border-color: $color_grey_light;
      color: $color_grey_light;
      cursor: not-allowed;
    }
    label {
      width: 100%;
      color: $color_text;
      font-family: $weight-normal;
      font-size: .875rem;
      font-weight: normal;
      line-height: 1.1em;
      cursor: pointer;
    }
    span {
      display: block;
      &.round {
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid $color_stroke;
        border-radius: 50%;
        margin: 0 auto .25rem;
      }
      &.amount {
        color: $color_text;
        font-family: $weight_normal;
        font-size: 1.25rem;
        line-height: 1.25em;
      }
    }
  }
  &__paymentRateRow {
    width: 100%;
    margin-bottom: .75rem;
    border-bottom: 1px solid $color_stroke;
    
  }
  &__paymentAmountRow {
    width: auto;
    max-width: 350px;
    margin: 0 auto 1rem;
  }
  &__paymentRow {
    margin-bottom: 1.5rem;
    display: none;
    &.strip_plans{
      background-color: white !important;
    }
  }
  &__priceRow {
    margin-bottom: 1.5rem;
    font-family: $weight-light;
    text-align: center;
    display: none;
    &__price {
      display: block;
      color: inherit;
      font-family: $weight-normal;
      font-size: 3.5em;
      margin-bottom: 1rem;
      @include breakpoint('super-tiny') {
        font-size: 2.8rem;
      }
    }
    p {
      color: $color_text;
      line-height: 1.2em;
    }
  }
  /*&__product {
    &--detailsp {
      &
      }
      &.triplePrice {
        .dashboard_block {
          &__paymentRateRow {
            //display: table;
          }
          &__priceRow {
            //  display: none;
          }
        }
      }
    }
  }*/
  &__button {
    &--container {
      &Double {
        display: none;
      }
      &Single {
        display: block;
        text-align: center;
        .dashboard_block__button{
          width: 280px;
        }
      }
    }
    width: calc(50% - 15px);
    @include breakpoint(small) {
      width: 50%;
    }
    &.left {
      margin-right: 30px;
      @include breakpoint(small) {
        margin-right: 0;
      }
    }
  }
  &__button {
    display: inline-block;
    button {
      width: 100%;
    }
  }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 400px) {
  .dashboard_block {
    &__right {
      li {
        width: 4.2em;
        margin-right: .4em;
      }
    }
    &__left {
      margin-top: 0;
    }
    &__button {
      width: 100%;
      .left {
        margin-right: 0;
      }
    }
  }
}
