.strip_plans {
    &:not([style*="display:none"]):not([style*="display: none"]):nth-child(even) {
        background-color: $color_grey_light_light;
    }
    .vertical-middle {
        display: table;
        @include breakpoint(small) {
            display: block;
        }
    }
    .component {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        border-left: 1px solid $color_stroke;
        float: none;
        &:first-child {
            border-left: none;
        }
        @include breakpoint(small) {
            display: inline-block;
            width: 100%;
            padding-bottom: 20px;
            border-left: none;
        }
    }
    .price {
        &.barred {
            position: relative;
            &:before {
                display: block;
                position: absolute;
                top: 50%;
                right: .5rem;
                left: .5rem;
                height: 1px;
                background-color: $color_text;
                content: "";
            }
        }
    }
    .extra_offer {
        position: relative;
        z-index: 5;
        width: calc(100% - 1rem);
        @include breakpoint(small) {
            max-width: 350px;
        }
        margin: .5rem auto;
        padding-top: .5rem;
        &:before {
            display: block;
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background-color: $color_stroke;
            @include breakpoint(small) {
                left: calc(50% - 100vw);
                right: calc(50% - 100vw);
            }
        }
        .offer {
            &__logo {
                float: left;
                margin-right: .5rem;
                width: 15%;
                max-width: 50px;
                @include breakpoint(small) {
                    display: inline-block;
                    width: 50px;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            &__text {
                color: $color_text;
                float: left;
                width: calc(100% - 50px - .5rem);
                font-size: .875rem;
                @include breakpoint(small) {
                    display: inline-block;
                }
            }
        }
    }
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        @include breakpoint(small) {
            padding: 15px 0;
        }
    }
    &__title {
        text-align: left;
        @include breakpoint(small) {
            text-align: center;
            padding: 10px 0;
        }
        &--main {
            font-family: $weight-cond;
            font-weight: 700;
            color: inherit;
        }
    }
    &__offer_block {
        @include breakpoint(small) {
            border-bottom: 1px solid $color_stroke;
        }
        &__container {
            display: block;
            width: 100%;
            font-family: $weight-light;
            .row {
                display: table;
                width: 100%;
            }
        }
        &__item {
            border-right: 1px solid $color_stroke;
            display: table-cell;
            width: 25%;
            padding: 7px;
            color: $color_text;
            vertical-align: middle;
            //text-transform: uppercase;
            h4 {
                font-family: $weight-cond;
                font-weight: 700;
                font-size: 1.75rem;
                line-height: 1.1em;
                margin-bottom: .5rem;
            }
            label {
                font-family: $weight-normal;
                margin-bottom: 0;
                font-weight: normal;
                line-height: 1.1em;
                font-size: 1rem;
            }
            &:first-child {
                border-left: none;
            }
            &.item--long {
                width: 75%;
                text-align: left;
                height: 5.2rem;
            }
            &--price {
                display: table-cell;
                vertical-align: middle;
                width: 25%;
                padding: 7px 0;
                .price {
                    color: inherit;
                    font-size: $text-medium;
                    .currency {
                        font-size: 0.75em;
                    }
                }
            }
        }
        &__recurrency {
            .recurrency {
                padding: 0;
                margin: .5rem auto;
                color: $color_text;
            }
        }
    }    
    &__description {
        padding: 0;
        border-right: 1px solid $color_stroke;
    }
    &__payments {
        padding: 0;
    }
    &__payment_block {
        &__heading {
            padding-bottom: 10px;
            font-size: $text-standard;
        }
        &__amount {
            display: table;
            width: 100%;
            //margin-top: 20px;
            font-family: $weight-light;
            .currency {
                font-size: .75em;
            }
            .item {
                display: table-cell;
                width: 33%;
                vertical-align: middle;
                &:not(.item--total) {
                    border-right: 1px solid $color_stroke;
                }
                &--add {
                    color: $color_text;
                    .price {
                        font-family: $weight-normal;
                        font-size: 1.75rem;
                        line-height: 1.2em;
                    }
                    .over {
                        font-size: .75rem;
                    }
                }
                &--total {
                    .price {
                        height: 1.2em;
                        color: inherit;
                        font-family: $weight-normal;
                        font-size: 1.75rem;
                        line-height: 1.2em;
                        &.full {
                            font-size: 2.5rem;
                        }
                    }
                    .sub {
                        color: $color_text;
                        font-size: .75rem;
                    }
                }
            }
        }
    }
    &__button {
        text-align: center;
        .button--slim {
            display: inline-block;
            min-width: 90%;
            font-size: 1em;
            @include breakpoint(small) {
                min-width: 50%;
            }
        }
        .sub {
            padding-top: 5px;
            color: $color_text;
            font-family: $weight-light;
            font-size: .75em;
            text-transform: uppercase;
        }
    }
}
