.strip_offers {
    @include transition(all 0.45s ease-in-out);
    display: none;
    .item--add {
        padding-right: 5px;
    }
    .info_link {
        display: block;
        font-size: 1em;
        text-decoration: underline;
        //margin-left: 5px;
    }
    &:nth-child(-n+3) {
        display: block;
    }
    // &:nth-child(odd) {
    //     .strip_offers__container {
    //         background-color: $color_grey_light_light;
    //     }
    // }
    &__showMore {
        color: $color_wind;
        font-size: 1.250em;
        text-align: center;
        text-transform: uppercase;
        font-family: $weight-normal;
        margin-top: 30px;
        margin-bottom: 30px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    @at-root #{&}__container {
        margin: 0 auto;
        max-width: 1024px;
        position: relative;
        padding-top: 16px;
        padding-bottom: 12px;
        padding-left: 5px;
        @include breakpoint(small) {
            padding-left: 0;
        }
        .vertical-middle {
            display: table;
            @include breakpoint(small) {
                display: block;
            }
        }
        .component {
            display: table-cell;
            vertical-align: middle;
            border-left: 1px solid $color_stroke;
            float: none;
            &:first-child {
                border-left: none;
            }
            @include breakpoint(small) {
                display: inline-block;
                width: 100%;
                padding-bottom: 20px;
                border-left: none;
            }
        }
        &.phone-cash {
            .strip_offers__payment_block__amount {
                .item--add {
                    display: none;
                }
                .item--total {
                    width: 100%;
                    .price {
                        font-size: $text-medium;
                    }
                }
            }
        }
    }
    &__image {
        &--main {
            display: block !important;
            margin: 0 auto;
        }
    }
    @at-root #{&}__description {
        font-size: 1em;
        font-family: $weight-light;
        @include breakpoint(small) {
            text-align: center;
        }
        &_title {
            margin: 0 auto;
            font-size: 1.25em;
            color: $color_robin;
            margin-bottom: 15px;
            font-family: $weight-cond;
            font-weight: bold;
        }
        &_text {
            margin: 0 auto;
            padding-bottom: 5px;
            color: $color_grey_dark;
        }
        &_list {
            margin-top: 15px;
            padding-left: 18px;
        }
        &:before {
            left: 12%;
        }
        &:after {
            right: 34.5%;
        }
    }
    &__payment_block {
        &__amount {
            display: table;
            width: 100%;
            font-family: $weight-light;
            .over {
                margin-bottom: 5px;
            }
            .sub {
                position: relative;
                bottom: 2px;
                color: $color_grey_dark;
            }
            .item {
                display: table-cell;
                vertical-align: bottom;
                &--add {
                    width: 30%;
                    .price {
                        font-family: $weight-bold;
                        font-size: 1.5em;
                        .currency {
                            font-size: 0.75em;
                        }
                    }
                }
                &--total {
                    width: auto;
                    .price {
                        font-size: 3em;
                        color: $color_robin;
                        .currency {
                            font-size: 0.75em;
                        }
                    }
                }
            }
        }
    }
    &__button {
        text-align: center;
        .button--slim {
            min-width: 90%;
            display: inline-block;
            font-size: 1em;
            @include breakpoint(small) {
                min-width: 50%;
            }
        }
        .sub {
            font-family: $weight-light;
            font-size: 0.85em;
            padding-top: 10px;
            color: $color_grey_dark;
        }
    }
}
