// SLIDER BLOCK
.showcase_five_cards {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 30px;
    @include breakpoint(min-small) {
        .col-lg-2,
        .col-md-2 {
            width: 20%;
        }
    }
    .grey_strip__block__tabs--left {
        display: none;
    }
    .button {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 0.875em;
        width: 60%;
        margin: 0 auto;
        min-width: 80px;
    }
    .slick-slider {
        .left__arrow {
            top: calc(20% - 41px);
        }
        .right__arrow {
            bottom: 80%;
        }
    }
    &__mainTitle {
        font-size: $text-medium;
        font-family: $weight-light;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    &__container {
        max-width: 1024px;
        margin: 0 auto;
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
    }
    h2 {
        font-family: $weight-bold-cond;
    }
    &__showMore {
        color: $color_wind;
        font-size: 1.250em;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
        font-family: $weight-light;
        cursor: pointer;
        display: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__showOffers {
        color: $color_wind;
        margin-left: 15px;
        width: 100%;
        display: none;
        font-size: 1.250em;
        text-align: left;
        text-transform: uppercase;
        font-family: $weight-light;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    @at-root #{&}__tabs {
        text-transform: uppercase;
        color: $color_text;
        &__container {
            margin-bottom: 30px;
            padding-top: 25px;
        }
        &--left {
            float: left;
            margin-left: 30px;
        }
        &--right {
            float: right;
            margin-right: 30px;
        }
        &--title {
            margin-right: 40px;
            cursor: pointer;
            &:hover {
                border-bottom: 1px solid $color_orange;
            }
            &.active {
                border-bottom: 1px solid $color_orange;
                color: $color_wind;
            }
        }
    }
    &__select {
        float: left;
        width: calc(50% - 10px);
        &--second {
            margin-left: 20px;
        }
        .base__select {
            &.bootstrap-select {
                width: 100% !important;
                .dropdown-toggle {
                    padding: 12px 20px 8px 20px;
                    .caret {
                        margin-top: -11px;
                    }
                    .filter-option {
                        font-size: 1em;
                        font-family: $weight-normal;
                    }
                }
            }
        }
    }
    &--title {
        font-size: 1em;
        text-transform: uppercase;
    }
    @at-root #{&}__single {
        position: relative;
        margin-top: 15px;
        display: none;
        height: 175px;
        @include breakpoint(min-small) {
            &:nth-child(-n+5) {
                display: block;
            }
        }
        &:nth-child(n+6) {
            margin-top: 15px;
        }
        &:nth-child(5n) {
            &:after {
                display: none;
                @include breakpoint(small) {
                    display: block;
                }
            }
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        &:after {
            background-color: $color_stroke;
            width: 1px;
            content: "";
            display: block;
            position: absolute;
            top: 15%;
            bottom: 10%;
            right: 0%;
            min-height: 1px;
        }
        @include breakpoint(small) {
            height: auto;
            margin-bottom: 15px;
            &:nth-child(-n+4) {
                display: block;
            }
            &:nth-child(n+3) {
                margin-top: 15px;
            }
            &:nth-child(even) {
                &:after {
                    display: none;
                }
            }
        }
    }
    // ====================== CARD UNO  ======================
    // ====================== CARD UNO ======================
    // ====================== CARD UNO ======================
    @at-root #{&}__single--vCard {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        float: left;
        font-family: $weight-normal;
        h2 {
            margin-bottom: 10px;
        }
        &__image {
            height: 100%;
            max-height: 84px;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        &--description {
            font-size: 0.875em;
            font-family: $weight-normal;
            line-height: 16px;
            margin-top: 10px;
            height: 63px;
            overflow: hidden;
            margin-bottom: 10px;
        }
        &--mainTitle {
            font-size: 1.300em;
            text-align: center;
            line-height: 32px;
            font-family: $weight-bold;
            color: $color_robin;
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
