.strip_options_block {
    &:nth-of-type(even) {
        background-color: $color_grey_light;
    }
    @at-root #{&}__container {
        //background-color: $color_white;
        margin: 0 auto;
        max-width: 1024px;
        position: relative;
        padding-top: 16px;
        padding-bottom: 12px;
        //padding-left: 1.5%;
        @include breakpoint(small) {
            padding-left: 0;
        }
        .component {
            display: inline-block;
            vertical-align: middle;
            @include breakpoint(small) {
                display: block;
                width: 90%;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
    @at-root #{&}__title {
        width: 16%;
        margin-top: 18px;
        font-size: 1em;
        font-family: $weight-bold;
        margin-bottom: 18px;
        padding: 0 5px 0 15px;
        &--main {
            font-size: 20px;
            font-family: $weight-cond;
            font-weight: bold;
            color: $color_robin;
            @include breakpoint(small) {
                text-align: center;
            }
        }
    }
    @at-root #{&}__description {
        width: 50.5%;
        font-size: 1em;
        font-family: $weight-light;
        .descriptionContainer {
            width: 90%;
            margin: 1rem auto;
            @include breakpoint(small) {
                text-align: center;
            }
        }
        &:before {
            background-color: $color_stroke;
            width: 1px;
            content: "";
            display: block;
            position: absolute;
            top: 15%;
            bottom: 10%;
            left: 16.666666%;
            min-height: 1px;
            @include breakpoint(small) {
                content: none;
            }
        }
        // &:after {
        //     background-color: $color_stroke;
        //     width: 1px;
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     top: 15%;
        //     bottom: 10%;
        //     right: 34.5%;
        //     min-height: 1px;
        //     @include breakpoint(small) {
        //         content: none;
        //     }
        // }
    }
    @at-root #{&}__pricing {
        width: 15%;
        .pricesContainer {
            .price {
                display: inline-block;
                color: $color_robin;
                margin: 0 3px;
            }
            .oldPrice {
                position: relative;
                font-size: 35px;
                small {
                    font-size: 20px;
                }
                &:after {
                    content: "";
                    min-height: 1px;
                    background-color: $color_text;
                    width: 100%;
                    display: block;
                    top: 50%;
                    position: absolute;
                }
            }
            .newPrice {
                font-size: 35px;
                font-family: $weight-light;
                small {
                    font-size: 20px;
                }
                &.three_digits {
                    font-size: 35px
                }
            }
            &:before {
                background-color: $color_stroke;
                width: 1px;
                content: "";
                display: block;
                position: absolute;
                top: 15%;
                bottom: 10%;
                right: 33%;
                min-height: 1px;
                @include breakpoint(small) {
                    content: none;
                }
            }
        }
        .recurrency {
            font-size: 13px;
            float: none;
            clear: both;
            width: 100%;
            position: relative;
            bottom: 10px;
        }
        // &:after {
        //     background-color: $color_stroke;
        //     width: 1px;
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     top: 15%;
        //     bottom: 10%;
        //     right: 17.5%;
        //     min-height: 1px;
        //     @include breakpoint(small) {
        //         content: none;
        //     }
        // }
    }
    @at-root #{&}__button {
        width: 16.66666%;
        text-align: center;
        .button--slim {
            //padding: 7px 30px 3px 30px;
            padding: 0.5em;
            display: inline-block;
            width: 75%;
            font-size: 1em;
            // @include breakpoint(small) {
            //     padding: 12px 60px 8px 60px;
            // }
        }
        &:before {
            background-color: $color_stroke;
            width: 1px;
            content: "";
            display: block;
            position: absolute;
            top: 15%;
            bottom: 10%;
            right: 17%;
            min-height: 1px;
            @include breakpoint(small) {
                content: none;
            }
        }
    }
}
