// BUNDLE BLOCCO 2
.showcase_bundle_block {
  hyphens: none;
  &__showMore {
    color: $color_wind;
    font-size: 1.250em;
    text-align: center;
    text-transform: uppercase;
    font-family: $weight-light;
    margin-bottom: 40px;
    cursor: pointer;
    clear: both;
    &:hover {
      text-decoration: underline;
    }
  }
  &__container {
    @include transition(all 0.45s ease-in-out);
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 0;
    .cardsOffer {
      &__single {
        position: relative;
        font-size: 16px;
        height: 31.7em;
        text-align: center;
        margin-bottom: 40px;
        display: none;
        padding-left: 30px;
        padding-right: 30px;
        &:nth-child(-n+3) {
          display: block;
        }
        &:not([style*="display:none"]):not([style*="display: none"]):not(:nth-child(3n)):not(:last-child) {
          position: relative;
          &:after {
            background-color: $color_stroke;
            width: 1px;
            content: "";
            display: block;
            position: absolute;
            top: 15%;
            bottom: 7%;
            right: 0%;
            min-height: 1px;
            @include breakpoint(small) {
              content: none;
            }
          }
        }
        &--bgContainer {
          position: absolute;
          z-index: 50;
          top: 0;
          left: 0;
          width: 100%;
          height: 27.7em;
        }
        h2 {
          margin-bottom: 10px;
        }
        &--title {
          position: relative;
          z-index: 51;
          margin-bottom: 10px;
          height: 6.4em;
          overflow: hidden;
          color: inherit;
          h3 {
            font-size: 1.875em;
            font-family: $weight-cond;
            font-weight: 700;
          }
        }
        &--subTitle {
          position: relative;
          z-index: 51;
          height: 3em;
          margin-bottom: 10px;
          color: inherit;
          h4 {
            font-size: 1.375em;
            font-family: $weight-cond;
            font-weight: 700;
          }
        }
        &--text {
          position: relative;
          height: 10.9em;
          margin-bottom: 11px;
          z-index: 51;
          overflow: hidden;
          color: $color_text;
          &--bundle {
            height: 4.4em;
            overflow: hidden;
            font-size: 1.375em;
            color: $color_text;
            margin-bottom: 10px;
            line-height: 1.1em;
          }
          &--smallDescription {
            height: 3.3em;
            overflow: hidden;
            font-size: 1.125em;
            margin-bottom: 10px;
            color: $color_text;
            line-height: 1.1em;
          }
          &--bigDescription {
            font-size: 1.375em;
            overflow: hidden;
            color: $color_text;
            line-height: 1.1em;
          }
        }
        &--price__container {
          height: 5.375em;
          margin-bottom: 10px;
          &--priceDiscounted {
            font-size: 2em;
            color: $color_text;
            font-family: $weight-light;
            position: relative;
            height: 35px;
            z-index: 51;
            .price {
              position: relative;
              &::before {
                border-bottom: 1px solid $color_text;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
              }
            }
          }
          &--price {
            font-size: 2em;
            color: inherit;
            font-family: $weight-light;
            position: relative;
            height: 35px;
            z-index: 51;
          }
          &--recurrency {
            font-size: 0.875em;
            position: relative;
            color: $color_text;
            z-index: 51;
          }
        }
        .button {
          width: 100%;
          max-width: 300px;
          margin: 0 auto;
        }
        &.business {
          color: $color_wind;
          .cardsOffer__single--title {
            color: $color_wind;
          }
        }
        &.singleBundle {
          .cardsOffer__single--text--bundle {
            height: 50px;
            margin-bottom: 25px;
            .bundle_single:nth-child(n+2) {
              display: none;
            }
          }
          .cardsOffer__single--text--smallDescription {
            height: 5.5em;
            margin-bottom: 10px;
          }
        }
        &.no_bundle {
          .cardsOffer__single--text--bundle {
            display: none;
          }
          .cardsOffer__single--text--bigDescription {
            height: 5.55em;
            margin-bottom: 10px;
          }
          .cardsOffer__single--text--smallDescription {
            height: 2.22em;
          }
        }
        &.bgAndPrice {
          .bundle_single,
          .cardsOffer__single--text--smallDescription,
          .cardsOffer__single--text--bigDescription {
            display: none;
          }
        }
        &.bgBundleAndPrice {
          .cardsOffer__single--text {
            height: 12.55em;
            margin-bottom: 0;
            padding-top: 9.7em;
            &--bundle {
              margin-bottom: 0;
              height: 38px;
              font-size: 1em;
              color: $color_white;
              .bundle_single:nth-child(n+2) {
                display: none;
              }
            }
            &--smallDescription,
            &--bigDescription {
              display: none;
            }
          }
          .cardsOffer__single--price__container {
            height: 4.375em;
            &--priceDiscounted {
              display: inline-block;
              margin-right: 4%;
              margin-bottom: 5px;
              color: $color_white;
              .price {
                &::before {
                  border-bottom: 1px solid;
                  content: "";
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 50%;
                }
              }
            }
            &--price {
              display: inline-block;
              margin-left: 4%;
              margin-bottom: 5px;
              color: $color_white;
              .price {
                &:before {
                  background-color: $color_white;
                  width: 2px;
                  content: "";
                  display: block;
                  position: absolute;
                  top: 15%;
                  bottom: 7%;
                  right: 120%;
                  min-height: 1px;
                }
              }
            }
            &--recurrency {
              color: $color_white;
            }
          }
        }
        &.fullBg {
          padding-left: 15px;
          padding-right: 15px;
          .cardsOffer__single {
            &--title,
            &--subTitle,
            &--text,
            &--price__container {
              display: none;
            }
            &--bgContainer {
              position: relative;
              margin-bottom: 10px;
            }
          }
        }
        &.onlyText {
          .cardsOffer__single--text {
            line-height: 1.2em;
          }
          .cardsOffer__single--bgContainer,
          .bundle_single,
          .cardsOffer__single--text--smallDescription,
          .cardsOffer__single--text--bigDescription {
            display: none;
          }
        }
        &.fullText {
          .cardsOffer__single--text {
            height: 16.8em;
            line-height: 1.2em;
            margin-bottom: 12px;
          }
          .cardsOffer__single--bgContainer,
          .bundle_single,
          .cardsOffer__single--text--smallDescription,
          .cardsOffer__single--text--bigDescription,
          .cardsOffer__single--price__container {
            display: none;
          }
        }
      }
    }
    .bundle_block__showMore {
      padding: 0 0 20px;
      color: $color_wind;
      font-size: 1.250em;
      text-align: center;
      text-transform: uppercase;
      font-family: $weight-light;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h2 {
    font-family: $weight-bold-cond;
  }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 767px) {
  .showcase_bundle_block {
    .container_secondColumn {
      text-align: center;
      margin-top: 10px;
      padding-left: 0;
    }
    //  
  }
}
