//BLOCCO DASHBOARD
.dashboard_block {
  @include transition(all .45s ease-in-out);
  background-color: $color_white;
  &__container {
    max-width: 1024px;
    margin: 0 auto 30px;
    padding-top: 0;
  }
  &__product {
    width: 100%;
    margin-top: 30px;
    &--imagep {
      .phone_thumbs {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 5.25em;
        padding: 70px 0 0;
        background: -webkit-linear-gradient(left, $color_white 50%, $color_transparent 100%);
        background: -o-linear-gradient(left, $color_white 50%, $color_transparent 100%);
        background: linear-gradient(to right, $color_white 50%, $color_transparent 100%);
        z-index: 250;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color_white}', endColorstr='#{$color_transparent}', GradientType=1);
        @include breakpoint('super-tiny') {
          top: auto;
          bottom: 0;
          width: 100%;
          padding-top: 0;
        }
        li {
          width: 100%;
          height: auto;
          margin-bottom: 2rem;
          float: left;
          outline: 0;
          text-align: center;
          cursor: pointer;
        }
        img {
          width: auto;
          height: 54px;
        }
      }
      .phone_gallery {
        padding: 0;
        @include breakpoint('super-tiny') {
          padding-bottom: 100px;
        }
        li {
          outline: 0;
          @include breakpoint('super-tiny') {
            width: 100%;
            height: auto;
          }
        }
        img {
          max-width: 100%;
        }
      }
    }
    &--detailsp {
      &.doubleButton {
        .dashboard_block {
          &__button {
            &--containerDouble {
              //display: block;
            }
            &--containerSingle {
              // display: none;
            }
          }
        }
      }
      &.triplePrice {
        .dashboard_block {
          &__paymentRateRow {
            //display: table;
          }
          &__priceRow {
            //  display: none;
          }
        }
      }
    }
  }
  &__subTitle {
    width: 100%;
    float: left;
  }
  &__left {
    margin-top: 46px;
  }
  &__right {
    p {
      margin-bottom: 1rem;
      text-align: center;
    }
    .items {
      display: table;
      width: 100%;
      margin-bottom: .5rem;
      padding: 0 0 .5rem;
      border-spacing: .5rem 0;
      .item {
        @include breakpoint(medium) {
          display: inline-block;
          width: calc(33% - .5rem);
        }
        display: table-cell;
        width: 16.666666%;
        padding: .5rem 0 0;
        border: 1px solid $color_stroke;
        border-radius: 4px;
        cursor: pointer;
        vertical-align: middle;
        margin: 0 .5rem .5rem 0;
        label {
          width: 100%;
          font-family: $weight-normal;
          cursor: pointer;
          font-weight: normal;
        }
        span {
          display: inline-block;
          position: relative;
          font-family: $weight_normal;
          font-size: 1.5rem;
          &.round {
            width: 1.5rem;
            height: 1.5rem;
            border: 1px solid $color_stroke;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            font-family: $weight_normal;
            font-size: 1.5rem;
          }
        }
        &.item1 {
          &.active {
            border-color: $color_orange;
          }
          &.inactive {
            border-color: $color_grey_light;
            color: $color_grey_light;
            cursor: not-allowed;
          }
        }
        &.item {
          &.active {
            border-color: $color_orange;
          }
          &.inactive {
            border-color: $color_grey_light;
            color: $color_grey_light;
            cursor: not-allowed;
          }
          span {}
          h6 {
            display: block;
            width: 100%;
            font-size: .875em;
            line-height: 1em;
          }
        }
        &:hover {
          border-color: $color_wind;
        }
      }
    }
  }
  &__title {
    color: $color_text;
    font-family: $weight-light;
    text-align: center;
    line-height: 1.1em;
    height: 2.2em;
    margin-bottom: 1rem;
  }
  &__priceRow {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
    float: left;
    font-family: "Trade Gothic LTS Light";
    text-align: center;
    &__price {
      color: $color_wind;
      font-family: $weight-normal;
      font-size: 3.438em;
      @include breakpoint('super-tiny') {
        font-size: 2.8em;
        .currency {
          font-size: 25px;
        }
      }
      .currency {
        color: $color_wind;
        font-size: 40px;
      }
    }
  }
  &__paymentRateRow {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid $color_stroke;
  }
  &__paymentAmountRow {
    width: auto;
    margin-bottom: 1rem;
    .strip_plans__container {
      width: auto;
    }
  }
  .strip_plans__container {
    padding: 0;
  }
  &__button {
    width: calc(50% - 15px);
    float: left;
    @include breakpoint(small) {
      width: 50%;
      &.left {
        margin-right: 0;
      }
    }
    &--containerDouble {
      display: none;
    }
    &--containerSingle {
      display: block;
    }
    &.left {
      margin-right: 30px;
    }
  }
  &__button--single {
    width: 100%;
    float: left;
  }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 400px) {
  .dashboard_block {
    &__right {
      li {
        width: 4.2em;
        margin-right: .4em;
      }
    }
    &__left {
      margin-top: 0;
    }
    &__button {
      width: 100%;
      .left {
        margin-right: 0;
      }
    }
  }
}
