// BLOCCO COUNTRY OFFERS
.country_offers_block {
    margin: 0 auto;
    max-width: 1024px;
    @include breakpoint(small) {
        padding-bottom: 2em;
    }
    &__container {
        &-title {
            font-family: $weight-light;
            color: $color-lightBlue;
            font-size: 1.1875em;
            @include breakpoint(med-large) {
                font-size: 0.93em;
            }
            @include breakpoint(small) {
                font-size: 1.4em;
            }
        }
        &-image {
            margin-top: 0.625em;
            @include breakpoint(small) {
                margin-top: 1.6em;
            }
            img {
                max-width: 100%;
                border: 1px solid #ddd;
            }
        }
        &-text {
            padding-top: 20px;
            @include breakpoint(small) {
                font-size: 0.89em;
            }
        }
        &__country {
            .center_flag {
                @include breakpoint(small) {
                    text-align: center;
                }
            }
            display: none;
            margin-top: 25px;
            margin-bottom: 30px;
            clear: left;
            height: 150px;
            //height: 200px;
            @include breakpoint(small) {
                padding-bottom: 0px;
            }
            &.placeholder_block {
                height: 10px;
                display: block;
                margin: 0;
            }
            &--flag {
                padding-top: 15px;
                padding-bottom: 22px;
                padding-right: 10px;
                border-right: 1px solid $medium-gray;
                height: 150px;
                @include breakpoint(small) {
                    margin: 0 auto;
                    border-right: none;
                }
            }
            &--rates {
                padding-top: 22px;
                padding-bottom: 30px;
                @include breakpoint(small) {
                    border-left: none;
                    border-right: none;
                }
                @include breakpoint(super-tiny) {
                    padding-bottom: 0;
                    padding-right: 5px;
                    padding-left: 5px;
                }
            }
            &--text {
                font-size: 0.80em;
                padding-top: 22px;
                border-left: 1px solid $medium-gray;
                height: 100%; // 9.375em 150px
                @include breakpoint(small) {
                    border-left: none;
                    margin-top: 10px;
                    height: auto;
                    font-size: 0.85em;
                }
            }
            &--List {
                border-bottom: 1px solid $medium-gray;
                padding: 25px 0 15px;
                &--label {
                    font-family: $weight-light;
                    color: $color-standardText;
                    font-size: 1.5em;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    @include breakpoint (tiny) {
                        font-size: 1.2em;
                    }
                }
                &--select {
                    .base__select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                        width: 320px;
                        @include breakpoint (small) {
                            width: 100%;
                        }
                    }
                    .base__select.bootstrap-select .dropdown-toggle .filter-option {
                        font-size: 1em;
                        @include breakpoint (small) {
                            /*text-align: center;*/
                        }
                    }
                    .base__select.bootstrap-select .dropdown-toggle .bs-caret .caret {
                        margin-right: 2em;
                        @include breakpoint (super-tiny) {
                            margin-right: 10px;
                        }
                    }
                    .base__select.bootstrap-select .dropdown-toggle {
                        padding-top: 1.1em;
                        padding-bottom: 1.1em;
                    }
                }
            }
        }
    }
    &__rates {
        &_divider--left {
            border-right: 1px solid $medium-gray;
            width: 50%;
            float: left;
            text-align: center;
            padding: 0 0.625em;
        }
        &_divider--right {
            width: 50%;
            float: left;
            text-align: center;
            padding: 0 0.625em;
        }
        &--title {
            font-family: $weight-light;
            color: $color-standardText;
            font-size: 0.8em;
            text-transform: uppercase;
        }
        &--price {
            font-family: $weight-bold;
            color: $color-lightBlue;
            font-size: 1.5em;
            padding-top: 5px;
        }
        &--cent {
            font-family: $weight-light;
            color: $color-standardText;
            font-size: 0.7em;
            padding-top: 5px;
            text-transform: uppercase;
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media (max-width: 943px) {
    .country_offers_block {
        &__container {
            &__countryList {
                &--label {
                    font-size: 1.1em;
                    padding-top: 15px;
                }
            }
        }
    }
}

@media (max-width: 520px) {
    .country_offers_block {
        &__rates {
            &--title {
                font-size: 0.76em;
                height: 25px;
            }
            &--cent {
                font-size: 0.5em;
            }
            &_divider--left {
                padding: 0 8px;
            }
            &_divider--right {
                padding: 0 8px;
            }
        }
    }
}
