.showcase__mainTitle {
    font-size: 1.875em;
    font-family: $weight-light;
    padding-left: 30px;
    margin-bottom: 23px;
}

.showcase_accordions_block {
    margin: 0 auto;
    max-width: 1024px;
    margin-bottom: 30px;
    //rimuovi i margini dallo store locator se dentro accordion
    .store_locator_block {
        margin: 0px;
    }
    //fine eccezione
    .transition {
        transition: all 0.25s ease-in-out;
    }
    .no-select {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    input[type=checkbox].accordionBox {
        position: absolute;
        cursor: pointer;
        bottom: 0;
        width: calc(100% - 40px);
        height: 100%;
        z-index: 1;
        opacity: 0;
        margin-top: 0px;
        &:checked {
            &~div {
                margin-top: 14px;
                max-height: 0;
                opacity: 0;
                transform: translate( 0, 50%);
            }
            &~i {
                &:before {
                    transform: translate( 3px, 0) rotate( 45deg);
                }
                &:after {
                    transform: translate( -2px, 0) rotate( -45deg);
                }
            }
        } //close checked
    } //close input
    h2 {
        font-size: 1em;
        font-family: $weight-normal;
        display: block;
        background-color: $color_white;
        margin: 0;
        cursor: pointer;
        padding-left: 2px;
        padding-right: 20px;
        @extend .no-select;
    }
    &__container {
        font-size: 1em;
        position: relative;
        overflow: hidden;
        @extend .transition;
        opacity: 1;
        transform: translate( 0, 0);
        margin-top: 14px;
        z-index: 2;
        & > div {
            padding-bottom: 10px;
        }
        &__image {
            width: 33%;
            @include breakpoint(min-desktop) {
                width: 100%;
            }
            .placeholder {
                @include border-radius(8px);
            }
        }
        &__body {
            width: 66%;
            @include breakpoint(min-desktop) {
                width: 100%;
            }
        }
        .ce-bodytext ul{
            list-style-type:disc;
        }
    }
    ul {
        list-style: none;
        perspective: 900;
        padding: 0 30px;
        margin: 0;
    }
    li.showcase_accordions_block__single {
        position: relative;
        padding: 22px 10px 16px 10px;
        margin: 0;
        // padding-top: 18px;
        border-top: 1px solid $color_stroke;
        // padding-left: 20px;
        // padding-right: 20px;
        
        &:last-of-type {
            padding-bottom: 16px;
            border-bottom: 1px solid $color_stroke;
        }
        i {
            position: absolute;
            // transform: translate( -6px, 0);
            right: 17px;
            &:before,
            &:after {
                content: "";
                @extend .transition;
                position: absolute;
                background-color: $color_orange;
                width: 2px;
                height: 9px;
            }
            &:before {
                transform: translate( -2px, 0) rotate( 45deg);
            }
            &:after {
                transform: translate( 3px, 0) rotate( -45deg);
            }
        } //close i
    } //close li
    
}
