.cards {
  max-width: 1024px;
  margin: 0 auto 2rem;
  &__title {
    margin-bottom: 1rem;
  }
}

.card {
  display: block;
  height: 375px;
  float: left;
  position: relative;
  transition: all .7s linear;
  box-shadow: 0 7px 15px $color_stroke;
  border-radius: .75rem;
  margin-right: 1rem;
  width: calc((100% - 2rem)/3);
  &:not(:nth-of-type(3n)) {
    margin-right: 1rem;
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    &--container {
      position: relative;
      height: 206px;
      .base__icon {
        position: relative;
        top: 39px;
        margin: 0 auto;
      }
    }
  }
  &__title {
    font-size: 22px;
    font-family: "Trade Gothic Bold";
    font-weight: bold;
    color: inherit;
    padding: .5rem .5rem 0;
    &--container {}
    @at-root {
      .mobile #{&} {
        color: $color_robin;
      }
      .fisso #{&} {
        color: $color_infostrada;
      }
    }
  }
  &__claim {
    font-size: 16px;
    padding: 0 .5rem;
    margin-top: .5rem;
    font-weight: bold;
    font-family: "Trade Gothic Condensed";
  }
  &__prices {
    &--container {
      padding: 0 .5rem;
      margin-top: .25rem;
    }
    &--old {
      display: inline;
      font-weight: bold;
      font-size: 22px;
      font-family: "Trade Gothic Condensed";
      position: relative;
      margin-right: .25rem;
      text-decoration: line-through;
    }
    &--new {
      display: inline;
      font-weight: bold;
      font-family: "Trade Gothic Condensed";
      font-size: 22px;
      margin-right: .25rem;
    }
    &--recurrency {
      display: inline;
      font-family: "Trade Gothic Condensed";
      font-size: 14px;
    }
  }
  &__cta {
    color: white;
    margin: .5rem;
    width: calc(100% - 1rem);
  }
  &__info {
    &--container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &--accent {}
    &.left {
      width: calc(100% - 76px);
      background: $color_wind;
      color: white;
      padding: 0 .5rem;
      text-transform: uppercase;
      height: 35px;
      font-size: 24px;
      line-height: 1.2em;
      font-family: "Trade Gothic Condensed";
      font-weight: bold;
      &::after {
        content: "";
        background: inherit;
        width: 20px;
        z-index: 0;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: 0 100%;
        transform: skew(-20deg);
      }
    }
    &.right {
      background: inherit;
      width: 38px;
      position: absolute;
      bottom: 0;
      right: 0;
      i {
        margin: .4rem .5rem .4rem auto;
        width: 24px;
        height: 24px;
        //border-radius: 50%;
        //border: 1px solid white;
        display: block;
        position: relative;
        &.plus::before,
        &.plus::after {
          content: "";
          position: absolute;
          top: calc((100% - 1.25rem)/2);
          left: calc((100% - .25rem)/2);
          height: 1.25rem;
          width: .25rem;
          background: white;
          -webkit-transition: all .5s linear;
          -moz-transition: all .5s linear;
          -ms-transition: all .5s linear;
          -o-transition: all .5s linear;
          transition: all .5s linear;
        }
        &.plus::before {
          @at-root {
            .flipped #{&} {
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
        }
        &.plus::after {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
      @at-root {
        .mobile #{&} {
          background: $color_robin;
        }
        .fisso #{&} {
          background: $color_infostrada;
        }
      }
      &::before {
        content: "";
        background: inherit;
        width: 20px;
        z-index: 0;
        height: 100%;
        position: absolute;
        left: 0;
        transform-origin: 0 0;
        transform: skew(-20deg);
        @at-root {
          .mobile #{&} {
            background: $color_robin;
          }
          .fisso #{&} {
            background: $color_infostrada;
          }
        }
      }
    }
    transition: all .3s linear;
    position: relative;
    z-index: 200;
    cursor: pointer;
  }
  &__bundle {
    font-size: 1.2rem;
    border-bottom: 1px solid $color_stroke;
    padding: .125rem 0;
    &--container {
      margin-bottom: .5rem;
    }
  }
  &.flipped {
    .front {
      z-index: 5;
      .card__info {
        &.left {
          //width: calc(100% - 100px);
        }
        &.right {
          //width: 100px;
        }
      }
    }
    .back {
      z-index: 7;
      height: 210px;
      opacity: 1;
    }
  }
  .front,
  .back {
    position: absolute;
    background: $color_grey_light_light;
    border-radius: .75rem;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .55s linear;
  }
  .front {
    border-top: 5px solid $color_wind;
    border-bottom: 5px solid transparent;
    z-index: 7;
    padding: 2.5rem 0;
    //padding-top: 2.75rem;
    @at-root {
      .mobile#{&} {
        border-bottom-color: $color_robin;
      }
      .fisso#{&} {
        border-bottom-color: $color_infostrada;
      }
    }
  }
  .back {
    z-index: 5;
    height: 0;
    padding: .5rem .5rem 0;
  }
}
