//BLOCCO 4
.imageText_block {
    @include transition(all 0.45s ease-in-out);
    &.imageBackground {
        &--black {
            background-color: #212121;
        }
        &--grey {
            background-color: #f4f4f4;
        }
    }
    &__backgroundImage {
        .image {
            width: 100%;
        }
    }
    &__container {
        position: relative;
        margin: 0 auto;
        max-width: 1024px;
    }
    @at-root #{&}__text {
        margin-left: 30px;
        margin-right: 30px;
        font-family: $weight-light;
        color: $color-white;
        position: absolute;
        top: 33%;
        &--title {
            font-size: $title-big;
        }
        &--subtitle {
            font-size: 1.500em;
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 870px) {
    .imageText_block {
        font-size: 14px;
    }
}

@media all and (max-width: 767px) {
    .imageText_block {
        font-size: 12px;
        &__text {
            top: 10%;
        }
    }
}

@media all and (max-width: 660px) {
    .imageText_block {
        font-size: 10px;
    }
}

@media all and (max-width: 495px) {
    .imageText_block {
        font-size: 8px;
    }
}
