//PAGINA STAND-ALONE "RESKIN WIND START"
body {
    font-family: "Trade Gothic";
    color: #292f36;
}

.home_page {
    line-height: normal;
    width: 100%;
    margin: 0 auto;
}

.start_header {
    width: 100%;
    height: 84px;
    border-bottom: 1px solid #656D78;
    background-color: #fff;
    margin-bottom: 80px;
    @at-root #{&}__container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        height: 100%;
        padding: 10px 30px;
        .logo-wind {
            float: left;
        }
    }
}

.start_block {
    background-color: #fff;
    max-width: 1024px;
    margin: 0 auto;
    @at-root #{&}__content {
        /*max-width: 1024px;
        margin: 0 auto;*/
    }
    @at-root #{&}__img {
        margin: 0 auto;
        text-align: center;
        /*@include breakpoint(med-large) {
            margin-top: 40px;
        }*/
        img {
            width: 100%;
            max-width: 393px;
            display: inline;
            margin: 0 auto;
            height: auto;
        }
    }
    @at-root #{&}__adv {
        padding-top: 10px;
        margin: 0 auto;
        text-align: center;
        img {
            max-width: 100%;
            display: inline;
            //margin: 10px 20px;
            //max-width: 393px;
        }
    }
    @at-root #{&}__title {
        text-align: left;
        padding-top: 30px;
        margin-bottom: 30px;
        color: #F48135; //$color_orange;
        font-size: 3.2857em;
        font-family: "Trade Gothic Bold" //$weight-bold;
        /*@include breakpoint(small) {
            font-size: 2.5em;
        }*/
    }
    @at-root #{&}__subTitle {
        text-align: left;
        margin-bottom: 30px;
        color: #212121; //$color_black;
        font-family: "Trade Gothic Bold"; //$weight-bold;
        font-size: 1.714em;
        /*@include breakpoint(small) {
            font-size: 1.3em;
        }*/
    }
    @at-root #{&}__label {
        text-align: left;
        font-size: 1.714em;
        margin-bottom: 30px;
        color: #212121; //$color_black;
        font-family: "Trade Gothic"; //$weight-normal;
        /*@include breakpoint(small) {
            font-size: 1.3em;
        }*/
    }
    @at-root #{&}__searchContainer {
        margin-left: 0;
        margin-right: 0;
        input.gsc-search-button,
        input.gsc-search-button:hover,
        input.gsc-search-button:focus {
            box-sizing: initial !important;
        }
    }
}

.start_footer {
    position: absolute;
    width: 100%;
    background-color: #292F36;
    margin-top: 40px;
    top: 100%;
    @at-root #{&}__container {
        display: table;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 10px 30px;
        .boxLeft {
            font-family: "Trade Gothic", sans-serif;
            display: table-cell;
            vertical-align: middle;
            color: #FFF;
            font-size: 14px;
            text-align: left;
            .only_mobile {
                display: none;
            }
        }
        .boxRight {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 992px) {
    .start_block {
        @at-root #{&}__img {
            margin-top: 40px;
        }
    }
}

@media all and (max-width: 768px) {
    .start_header {
        height: 69px;
        margin-bottom: 0;
        @at-root #{&}__container {
            padding: 5px 30px;
            .logo-wind {
                img {
                    width: 70px;
                    height: auto;
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
    .start_block {
        @at-root #{&}__title {
            font-size: 2.5em;
        }
        @at-root #{&}__subTitle {
            font-size: 1.3em;
        }
        @at-root #{&}__label {
            font-size: 1.3em;
        }
    }
}

@media all and (max-width: 600px) {
    .start_footer {
        @at-root #{&}__container {
            .boxLeft {
                .only_desktop {
                    display: none;
                }
                .only_mobile {
                    display: block;
                }
            }
        }
    }
}
