//BLOCCO 4
.customer_block {
    background-color: #f4f4f4;
    @at-root #{&}__container {
        max-width: 1024px;
        margin: 0 auto;
    }
    @at-root #{&}__title {
        text-align: center;
        font-size: $text-medium;
        padding-top: 50px;
        margin-bottom: 30px;
        font-family: $weight-light;
    }
    @at-root #{&}__search {
        float: left;
        width: calc(85% - 15px);
        .base__input {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    @at-root #{&}__tripleContainer {
        background-color: #f4f4f4;
        padding-bottom: 85px;
    }
    @at-root #{&}__searchContainer {
        margin-left: 30px;
        margin-right: 30px;
    }
    @at-root #{&}__searchButton {
        width: 15%;
        float: left;
        height: 50px;
        margin-left: 15px;
        .button--searchButton {
            background-image: url('../img/icons-customer-care/customerCare_sprite.png');
            background-repeat: no-repeat;
            background-position: 46px -191px;
            max-width: 120px;
            height: 100%;
        }
    }
    @at-root #{&}__sameHeight_container {
        height: 60px;
        margin-bottom: 20px;
    }
    @at-root #{&}__divider {
        margin-top: 60px;
        &--text {
            position: relative;
            z-index: 1;
            &:before {
                border-top: 1px solid #c3c8d0;
                content: "";
                margin: 0 auto;
                /* this centers the line to the full width specified */
                position: absolute;
                /* positioning must be absolute here, and relative positioning must be applied to the parent */
                top: 50%;
                left: 0;
                right: 0;
                bottom: 0;
                width: calc(100% - 60px);
                z-index: -1;
            }
            span {
                /* to hide the lines from behind the text, you have to set the background color the same as the container */
                background: #f4f4f4;
                padding: 0 15px;
            }
        }
    }
    @at-root #{&}__icon {
        background: url('../img/icons-customer-care/customerCare_sprite.png') no-repeat 0 0;
        margin: 45px auto 0 auto;
        &--findStore {
            width: 65px;
            height: 65px;
            background-position: 0 5px;
        }
        &--findDevice {
            width: 65px;
            height: 65px;
            background-position: 15px -60px;
        }
        &--findCoverage {
            width: 65px;
            height: 65px;
            background-position: 13px -125px;
        }
    }
    @at-root #{&}__find {
        &--Store {}
        &--title {
            font-family: $weight-bold;
            font-size: 1em;
            margin-bottom: 20px;
            margin-top: 30px;
        }
        &--Subtitle {
            font-family: $weight-light;
            font-size: 1em;
            margin-bottom: 20px;
            height: 60px;
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 991px) {
    .customer_block {
        &__searchContainer {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

@media all and (max-width: 767px) {
    .button {
        margin-left: 0px;
        margin-right: 0px;
    }
    .customer_block {
        &__searchButton {
            .button--searchButton {
                background-position: calc(4vw + 20%) -191px;
            }
        }
        &__divider {
            margin-top: 30px;
            &--text:before {
                width: calc(100% - 30px);
            }
        }
        &__tripleContainer {
            font-size: 14px;
        }
        &__icon {
            margin-top: 20px;
        }
        &__find--title {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}
