// HOME AND LIFE
.homeLife_block {
    border-top: 1px solid $medium-gray;
    line-height: 1.08;
    background-color: #212121;
    &__logo {
        text-align: center;
        margin-bottom: 50px;
    }
    &__container {
        max-width: 1024px;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 30px;
        padding-top: 50px;
        color: $color-white;
    }
    h2 {
        font-family: $weight-bold;
    }
    &--title {
        font-size: 1em;
        text-transform: uppercase;
    }
    @at-root #{&}__single {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        .image_item {
            width: 100%;
            max-width: 220px;
            margin: 0 auto;
        }
        h2 {
            margin-bottom: 10px;
        }
        &--title {
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 1.250em;
            font-family: $weight-bold;
        }
        &--disclaimer {
            font-size: 1em;
            font-family: $weight-light;
            margin: 20px 0px;
            .price {
                font-size: 1.625em;
            }
            &--offer {
                color: $color-orange;
            }
        }
    }
}

