.image_block_display {
    @include transition(all 0.45s ease-in-out);
    overflow: hidden;
    @at-root #{&}__title {
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: left;
        font-size: 2.500em;
        color: $color-white;
        font-family: $weight-bold;
        height: 145px;
        white-space: nowrap;
    }
    &__partnerImage {
        display: none;
    }
    @at-root #{&}__price {
        z-index: 50;
        font-size: 3.438em;
        color: $color-white;
        font-family: $weight-light;
        display: none;
        text-align: center;
        .currency {
            font-size: 0.875em;
        }
    }
    @at-root #{&}__recurrency {
        z-index: 50;
        margin-bottom: 1em;
        font-size: 0.750em;
        color: $color-white;
        font-family: $weight-light;
        display: none;
        text-align: center;
        &--bottom{
            display: none;
        }
    }
    @at-root #{&}__text {
        z-index: 50;
        text-align: left;
        margin: 0px;
        margin-bottom: 1em;
        font-size: 1.875em;
        color: $color-white;
        font-family: $weight-light;
        height: 72px;
    }
    @at-root #{&}__container {}
    @at-root #{&}__half_block {
        position: absolute;
        width: calc(40% - 50px);
        z-index: 50;
        &.text_block {
            bottom: 20%;
            left: 30px;
        }
        &.image_block {
            position: relative;
            z-index: 10;
            right: 0;
        }
    }
    @at-root #{&}__mainContainer {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
        max-height: 500px;
        height: 100%;
        &.withPartner {
            .image_block_display {
                &__half_block {
                    width: calc(45% - 50px);
                    @include breakpoint(small) {
                        width: 100%;
                    }
                    &.text_block {
                        bottom: 5%;
                    }
                }
                &__partnerImage {
                    display: block;
                }
                &__recurrency--bottom {
                    z-index: 50;
                    font-size: 0.750em;
                    color: $color-white;
                    font-family: $weight-light;
                    display: none;
                    text-align: left;
                    display: block;
                    margin-top: 30px;
                }
                &__title {
                    margin-top: 20px;
                }
            }
        }
        &.priceVariant {
            .image_block_display {
                &__half_block {
                    width: calc(45% - 50px);
                    @include breakpoint(small) {
                        width: 100%;
                    }
                    &.text_block {
                        bottom: 10%;
                    }
                }
                &__title {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    text-align: center;
                    height: 95px;
                }
                &__text {
                    font-size: 1.250em;
                    font-family: $weight-light;
                    height: 72px;
                    text-align: center;
                }
                &__price {
                    display: block;
                }
                &__recurrency--bottom {
                    z-index: 50;
                    font-size: 0.750em;
                    color: $color-white;
                    font-family: $weight-light;
                    display: none;
                    text-align: center;
                    display: block;
                    margin-top: 30px;
                }
            }
        }
        &.invertedDisplay { 
            &.priceVariant{
             .image_block_display {
                &__half_block {
                        &__title {
                         text-align: right;   
                        }        
                    }   
                }                                
            }
            &.withPartner{
                .image_block_display__partnerImage{
                    text-align: right;
                }
            }
            .image_block_display {
                &__title,
                &__text {
                    text-align: right;
                }
                &__coloredBg {
                    left: 50%;
                }
                &__half_block {
                    &.text_block {
                        right: 30px;
                        left: auto;
                    }
                    &.image_block {
                        right: 50%;
                    }
                }
            }
        }
    }
    @at-root #{&}__coloredBg {
        width: 150%;
        height: 100%;
        position: absolute;
        background: #009bbe;
        right: 50%;
        z-index: 40;
        @include transform(skew(-15deg))
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 1024px) {}

@media all and (max-width: 767px) {
    .image_block_display {
        font-size: 14px;
        &__title,
        &__text {
            margin-top: 0px;
            text-align: left !important;
        }
        &__mainContainer {
            max-height: 100%;
            &.invertedDisplay {
                .text_block {
                    left: 0px !important;
                }
            }
        }
        &__coloredBg {
            background: none;
        }
        &__half_block {
            width: 100%;
            &.text_block {
                position: relative;
                left: 0px;
                right: 0px;
                width: 100%;
                padding: 30px;
                &.multiple__background {
                    background-color: #009bbe;
                }
            }
            &.image_block {
                right: 50%;
                .image {
                    width: 200%;
                }
            }
        }
    }
}
