hr.example_divider {
  border-width: 1px;
  border-style: dotted;
  border-color: $color_business;
}

.standard_block {
  @include transition(all .45s ease-in-out);
  width: 100%;
  overflow: hidden;
  &__mainContainer {
    display: table;
    position: relative;
    width: 100%;
    max-width: 1024px;
    height: 425px;
    margin: 0 auto;
    vertical-align: middle;
    @include breakpoint(small) {
      height: 760px;
    }
    @at-root {
      .fullBand #{&} {
        height: 350px;
        @include breakpoint(small) {
          height: 700px;
        }
      }
    }
  }
  &__coloredBg {
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    height: 100%;
    z-index: 10;
    @include breakpoint(small) {
      display: none;
      right: 0;
      height: 50%;
      margin: 0 auto;
    }
    @at-root {
      .invertedDisplay #{&} {
        right: 0;
        left: 50%;
        @include breakpoint(small) {
          left: 0;
        }
      }
      .withForm #{&} {
        @include breakpoint(small) {
          display: block;
          top: 380px;
          right: 0;
          left: 0;
          height: 380px;
        }
      }
      .withForm.invertedDisplay #{&} {
        @include breakpoint(small) {
          display: block;
          top: 50%;
          right: 0;
          left: 0;
        }
      }
      .fullBand #{&} {
        right: 0;
        left: 0;
        @include breakpoint(small) {
          display: block;
          top: 0;
          height: 100%;
        }
      }
    }
    .shape {
      position: absolute;
      width: 50%;
      height: 100%;
      @at-root {
        .mobile #{&} {
          background-color: $color_mobile;
        }
        .fisso #{&} {
          background-color: $color_infostrada;
        }
        .business #{&} {
          background-color: $color_business;
        }
        .device #{&} {
          background-color: $color_home_life;
        }
      }
      &--one {
        left: 0;
        width: 50%;
        @at-root {
          .invertedDisplay #{&} {
            width: 50%;
            transform: skew(20deg);
            transform-origin: 100% 0;
            @include breakpoint(small) {
              width: 50%;
              transform: none;
            }
          }
          .fullBand #{&} {
            transform: none;
          }
        }
      }
      &--two {
        right: 0;
        width: 50%;
        transform: skew(-20deg);
        transform-origin: 100% 0;
        @include breakpoint(small) {
          width: 50%;
          transform: none;
        }
        @at-root {
          .invertedDisplay #{&} {
            width: 50%;
            transform: none;
            transform-origin: none;
          }
          .fullBand #{&} {
            transform: none;
          }
        }
      }
    }
  }
  &__half_block {
    display: table-cell;
    position: relative;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    &.image_block {
      position: absolute;
      right: 40%;
      bottom: 0;
      left: 0;
      width: auto;
      padding: 15px;
      @include breakpoint(small) {
        top: 0;
        right: 0;
        bottom: 400px;
        max-width: 380px;
        height: auto;
        margin: 0 auto;
        padding: 15px;
      }
      @at-root {
        .invertedDisplay #{&} {
          right: 0;
          left: 40%;
          @include breakpoint(small) {
            left: 0;
          }
        }
        .withForm #{&} {
          right: 0;
          left: 30%;
          @include breakpoint(small) {
            max-width: none;
            left: 0;
          }
        }
        .withForm.invertedDisplay #{&} {
          right: 30%;
          left: 0;
          @include breakpoint(small) {
            right: 0;
          }
        }
        .fullBand #{&} {
          @include breakpoint(small) {
            bottom: 350px;
          }
        }
      }
      .testimonial {
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        z-index: 15;
        @include breakpoint(small) {
          bottom: 75px;
          left: calc(50% - 160px);
          width: 320px;
        }
        @at-root {
          .invertedDisplay #{&} {
            left: auto;
            @include breakpoint(small) {
              left: calc(50% - 160px);
            }
          }
          .withForm #{&} {
            right: 60%;
            left: 0;
            width: 100%;
            max-width: 40%;
            height: auto;
            max-height: 100%;
            @include breakpoint(small) {
              display: none;
              left: calc(50% - 160px);
            }
          }
          .withForm.invertedDisplay #{&} {
            left: 60%;
            width: 100%;
            max-width: 40%;
            height: auto;
            max-height: 100%;
          }
        }
      }
    }
    &.form_block {
      display: none;
      left: -24%;
      width: 33.33333%;
      text-align: center;
      z-index: 50;
      @at-root {
        .invertedDisplay #{&} {
          left: 43%;
        }
        .withForm #{&} {
          display: table-cell;
          @include breakpoint(small) {
            display: inline-block;
            top: 380px;
            left: 0;
            width: 100%;
            height: 380px;
            padding: 20px 0;
          }
        }
      }
    }
    &.offer_block {
      padding: 0 15px;
      text-align: center;
      z-index: 50;
      @at-root {
        .fullBand #{&} {
          color: $color_white;
        }
        .invertedDisplay #{&} {
          left: -50%;
          @include breakpoint(small) {
            left: 0;
          }
        }
        .withForm #{&} {
          left: -7%;
          width: 43%;
          @include breakpoint(small) {
            display: inline-block;
            top: -380px;
            right: 0;
            left: 0;
            width: 100%;
            height: 380px;
            padding: 20px 0;
          }
        }
        .withForm.invertedDisplay #{&} {
          left: -50%;
          width: 43%;
          @include breakpoint(small) {
            left: 0;
            width: 100%;
          }
        }
      }
      @include breakpoint(small) {
        top: 180px;
        width: 100%;
        padding: 0 15px;
      }
      &:empty {
        display: none;
      }
    }
  }
  &__ribbon {
    position: relative;
    left: -35px;
    width: 135px;
    margin-bottom: 8px;
    padding: 4px 8px 4px 35px;
    background-color: $color_wind;
    color: $color_white;
    font-family: $weight-cond;
    font-size: 26px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    z-index: 25;
    @include animation(slidein-left .7s 0s 1 linear);
    -animation: slidein-left .7s 0s 1 linear;
    -webkit-animation: slidein-left-webkit .7s 0s 1 linear;
    -ms-animation: slidein-left-ms .7s 0s 1 linear;
    -moz-animation: slidein-left-moz .7s 0s 1 linear;
    @include breakpoint(medium) {
      width: 118px;
    }
    @include breakpoint(small) {
      left: -8px;
      width: 88px;
      padding: 8px;
      font-size: 14px;
    }
    @at-root {
      .mobile #{&} {
        //background-color: $color_mobile;
      }
      .fisso #{&} {
        //background-color: $color_infostrada;
      }
      .business #{&} {
        //background-color: $color_business;
      }
      .device #{&} {
        //background-color: $color_home_life;
      }
      .invertedDisplay #{&} {
        left: calc(100% - 100px);
        padding: 8px 35px 8px 8px;
        text-align: right;
        -animation: slidein-right .7s 0s 1 linear;
        -webkit-animation: slidein-right-webkit .7s 0s 1 linear;
        -ms-animation: slidein-right-ms .7s 0s 1 linear;
        -moz-animation: slidein-right-moz .7s 0s 1 linear;
        @include breakpoint(medium) {
          left: calc(100% - 80px);
        }
        @include breakpoint(small) {
          padding: 8px;
        }
      }
      .withForm #{&} {
        left: calc(100% - 110px);
        padding: 8px 35px 8px 8px;
        text-align: right;
        -animation: slidein-right .7s 0s 1 linear;
        -webkit-animation: slidein-right-webkit .7s 0s 1 linear;
        -ms-animation: slidein-right-ms .7s 0s 1 linear;
        -moz-animation: slidein-right-moz .7s 0s 1 linear;
        @include breakpoint(medium) {
          left: calc(100% - 80px);
        }
        @include breakpoint(small) {
          left: calc(100% - 50px);
        }
      }
      .withForm.invertedDisplay #{&} {
        padding: 8px 8px 8px 35px;
        left: -35px;
        text-align: left;
        -animation: slidein-left .7s 0s 1 linear;
        -webkit-animation: slidein-left-webkit .7s 0s 1 linear;
        -ms-animation: slidein-left-ms .7s 0s 1 linear;
        -moz-animation: slidein-left-moz .7s 0s 1 linear;
      }
    }
    &:empty {
      display: none;
    }
    &:before {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #d55c0b #d55c0b transparent transparent;
      content: "";
      z-index: -1;
      @include breakpoint(small) {
        content: none;
      }
      @at-root {
        .invertedDisplay #{&} {
          right: 0;
          left: auto;
          border-color: #d55c0b transparent transparent #d55c0b;
        }
        .withForm #{&} {
          right: 0;
          left: auto;
          border-color: #d55c0b transparent transparent #d55c0b;
          content: none;
        }
        .withForm.invertedDisplay #{&} {
          right: auto;
          left: 0;
          border-color: #d55c0b #d55c0b transparent transparent;
        }
      }
    }
    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      transform: skew(-20deg);
      transform-origin: 100% 100%;
      background-color: $color_wind;
      content: "";
      z-index: -1;
      @at-root {
        .mobile #{&} {
          //background-color: $color_mobile;
        }
        .fisso #{&} {
          //background-color: $color_infostrada;
        }
        .business #{&} {
          //background-color: $color_business;
        }
        .device #{&} {
          //background-color: $color_home_life;
        }
        .invertedDisplay #{&} {
          left: 0;
          transform: skew(20deg);
          transform-origin: 0 100%;
        }
        .withForm #{&} {
          left: 0;
          transform: skew(-20deg);
          transform-origin: 100% 0;
        }
        .withForm.invertedDisplay #{&} {
          transform: skew(20deg);
          transform-origin: 100% 0;
        }
      }
    }
  }
  &__sticker {
    &__wrapper {
      position: relative;
      z-index: 25;
      &.small {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 38px;
        @include breakpoint(small) {
          right: 15px;
          width: auto;
          margin: 0 auto;
          text-align: center;
          .standard_block__sticker {
            width: 38px;
            height: auto;
            display: inline-block;
            vertical-align: middle;
          }
        }
        @at-root {
          .invertedDisplay #{&} {
            right: 15px;
            left: auto;
            @include breakpoint(small) {
              left: 15px;
            }
          }
          .withForm #{&} {
            right: 15px;
            left: auto;
            @include breakpoint(small) {
              bottom: -15px;
              left: 15px;
            }
          }
          .withForm.invertedDisplay #{&} {
            right: auto;
            left: 15px;
            @include breakpoint(small) {
              right: 15px;
            }
          }
        }
      }
      &.big {
        width: 57px;
        margin: 0 auto 0 0;
        @include breakpoint(small) {
          width: 48px;
        }
        .standard_block__sticker {
          &:not(:last-of-type) {
            margin-bottom: 8px;
          }
        }
        @at-root {
          .invertedDisplay #{&} {
            margin: 0 0 0 auto;
          }
          .withForm #{&} {
            margin: 0 0 0 auto;
          }
          .withForm.invertedDisplay #{&} {
            margin: 0 auto 0 0;
          }
        }
      }
      .standard_block__sticker {
        display: block;
        width: 100%;
        height: auto;
        &:not(:last-of-type) {
          margin-bottom: 8px;
          @include breakpoint(small) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__title {
    margin-bottom: 8px;
    color: $color_mobile;
    font-family: $weight-cond;
    font-size: 48px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    @include breakpoint(small) {
      font-size: 40px;
    }
    @at-root {
      .mobile #{&} {
        color: $color_mobile;
      }
      .fisso #{&} {
        color: $color_infostrada;
      }
      .business #{&} {
        color: $color_business;
      }
      .device #{&} {
        color: $color_home_life;
      }
      .fullBand #{&} {
        color: $color_white;
      }
      .splittedTitle #{&} {
        margin-bottom: 0;
        font-size: 36px;
        @include breakpoint(medium) {
          font-size: 32px;
        }
        @include breakpoint(small) {
          font-size: 24px;
        }
      }
    }
  }
  &__subtitle {
    margin-bottom: 8px;
    font-family: $weight-cond;
    font-size: 36px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    @include breakpoint(small) {
      font-size: 28px;
    }
    @at-root {
      .mobile #{&} {
        color: $color_mobile;
      }
      .fisso #{&} {
        color: $color_infostrada;
      }
      .business #{&} {
        color: $color_business;
      }
      .device #{&} {
        color: $color_home_life;
      }
      .fullBand #{&} {
        color: $color_white;
      }
      .splittedTitle #{&} {
        font-size: 36px;
        @include breakpoint(medium) {
          font-size: 32px;
        }
        @include breakpoint(small) {
          font-size: 24px;
        }
      }
    }
    &:empty {
      display: none;
    }
  }
  &__text {
    margin-bottom: 16px;
    color: $color_text;
    font-family: $weight-cond;
    font-size: 30px;
    line-height: 1.1em;
    @at-root {
      .fullBand #{&} {
        color: $color_white;
      }
    }
    @include breakpoint(medium) {
      font-size: 26px;
    }
    @include breakpoint(small) {
      font-size: 16px;
      max-width: 60%;
      margin: 0 auto 16px;
    }
    &:empty {
      display: none;
    }
  }
  &__singleButton,
  &__doubleButton{
    .base__bt {
      max-width: 40%;
    }
  }
  .base__bt {
    
    color: $color_white;
    font-family: $weight_bold;
    font-size: 16px;
    @include breakpoint(small) {
      width: 260px;
    }
    &--or2{
      color: $color_wind;
      background-color: $color_white;
      border-color: $color_orange;
      &:hover{
        opacity: .7;
      }
    }
    &:empty {
      display: none;
    }
  }
}

.bundle_partner {
  &:before {
    display: block;
    position: relative;
    bottom: 5px;
    max-width: 120px;
    height: 1px;
    margin: 0 auto;
    background-color: $color_grey_light_light;
    content: "";
    @include breakpoint(small) {
      bottom: 0;
    }
  }
  &__logo {
    margin: 0 auto;
  }
  &__text {
    font-size: 14px;
    line-height: 1.1em;
  }
  &__claim {
    margin: .5rem 0;
    font-size: 14px;
    line-height: 1.1em;
  }
}

.bundle_orange {
  display: table-cell;
  padding: 0 8px;
  color: $color_wind;
  font-family: $weight-light;
  text-align: center;
  vertical-align: middle;
  &:not(:last-of-type) {
    border-right: 1px solid $color_stroke;
  }
  &__container {
    display: table;
    width: 100%;
    margin: 0 auto 8px;
    text-align: center;
    @include breakpoint(small) {
      max-width: 90%;
    }
  }
  &__title {
    max-width: 70px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.2em;
    @include breakpoint(medium) {
      font-size: 14px;
    }
    @include breakpoint(small) {
      font-size: 16px;
    }
    @include breakpoint('super-tiny') {
      font-size: 12px;
    }
  }
  &__number {
    font-size: 40px;
    line-height: 1em;
    @include breakpoint(tiny) {
      font-size: 36px;
    }
    @include breakpoint('super-tiny') {
      font-size: 22px;
    }
    &:empty {
      display: none;
      & + .bundle_orange__title .description {
        max-width: none;
        font-size: 20px;
      }
    }
  }
}

.recurrent_priceRow {
  margin: 0 auto 16px;
  &__price {
    margin: 0 8px;
    color: inherit;
    font-size: 55px;
    letter-spacing: -.25rem;
    line-height: 1em;
    @at-root {
      .mobile #{&} {
        color: $color_mobile;
      }
      .fisso #{&} {
        color: $color_infostrada;
      }
      .business #{&} {
        color: $color_business;
      }
      .device #{&} {
        color: $color_home_life;
      }
      .fullBand #{&} {
        color: $color_white;
      }
    }
    &.with_currency {
      &:after {
        font-size: .7em;
      }
    }
    &.price_discounted {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        border-bottom: 2px solid;
        content: "";
      }
    }
    &:empty {
      display: none;
    }
  }
  &__recurrency {
    display: block;
    margin-bottom: 16px;
    color: $color_text;
    font-size: 13px;
    line-height: 1.2em;
    @at-root {
      .fullBand #{&} {
        color: $color_white;
      }
    }
    &:empty {
      display: none;
    }
  }
}

.coverage_form {
  width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  @at-root {
    .invertedDisplay #{&} {
      left: 0;
      @include breakpoint(small) {
        left: 0;
      }
    }
  }
  @include breakpoint(small) {
    padding: 0;
  }
  &:empty {
    display: none;
  }
  &__white_title {
    height: 1.1em;
    margin-bottom: 16px;
    color: $color_white;
    font-family: $weight-normal;
    font-size: 28px;
    line-height: 1.2em;
    @include breakpoint(medium) {
      font-size: 22px;
    }
    &:empty {
      display: none;
    }
  }
  select.base__select {
    display: none !important;
  }
  .base__select {
    left: 0;
    width: 100% !important;
    margin-bottom: 10px;
    z-index: 80;
    &.bootstrap-select {
      .dropdown-toggle {
        width: 100%;
        font-family: $weight-light;
        font-size: 1em;
      }
      .bs-caret .caret {
        top: 50%;
        right: 15px;
      }
      .filter-option {
        font-size: 1em;
        text-align: left;
      }
    }
  }
  .base__input {
    width: 100%;
    margin-bottom: 10px;
    font-family: $weight-light;
  }
  .base__bt {
    margin-bottom: 10px;
    width: 100% !important;
    &--or2 {
      background-color: $color_white;
      color: $color_orange;
      &:hover {
        opacity: .7;
      }
    }
  }
  &__input {
    &--address {
      display: inline-block;
      width: calc(100% - 75px);
      float: left;
    }
    &--civic_number {
      display: inline-block;
      width: 60px;
      float: right;
    }
    &--number {
      display: inline-block;
      width: calc(100% - 75px);
      float: right;
    }
    &--prefix {
      display: inline-block;
      width: 60px;
      float: left;
    }
  }
  &__additional_form {
    @include transition(all, .45s, ease-in-out);
    position: absolute;
    width: 100%;
    &.covered {
      bottom: -100%;
      opacity: 0;
    }
    &.uncovered {
      bottom: -17px;
      opacity: 1;
      z-index: 60;
      @at-root {
        .mobile #{&} {
          background-color: $color_mobile;
        }
        .fisso #{&} {
          background-color: $color_infostrada;
        }
        .business #{&} {
          background-color: $color_business;
        }
        .device #{&} {
          background-color: $color_home_life;
        }
      }
    }
    .without_number {
      display: block;
      margin-bottom: 5px;
      color: $color_white;
      font-family: $weight-light;
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover {
        @include opacity(.7);
      }
    }
  }
}
