//BLOCCO 4
.topUp_block {
    background-color: $color-lighterGrey;
    @include transition(all 0.45s ease-in-out);
    @at-root #{&}__container {
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 25px;
    }
    @at-root #{&}__title {
        margin-bottom: 15px;
        font-size: $title-big;
        color: $color-lightBlue;
        font-family: $weight-light;
    }
    @at-root #{&}__input {
        &--number {
            margin-top: 15px;
        }
        &--confirmnumber {
            margin-top: 10px;
            margin-bottom: 25px;
        }
    }
    @at-root #{&}__select {
        margin-bottom: 30px;
        margin-top: 15px;
        .base__select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
        }
        .base__select.bootstrap-select .dropdown-toggle {
            padding-top: 20px;
            .bs-caret .caret {
                right: 23px;
            }
            .filter-option {
                font-size: 2.500em;
                color: $color-lightBlue;
                text-align: center;
            }
        }
    }
    @at-root #{&}__description {
        font-size: 1.500em;
        color: $color-standardText;
    }
    @at-root #{&}__left {
        padding-left: 30px;
    }
    @at-root #{&}__right {
        padding-left: 115px;
        padding-right: 30px;
        margin-top: 30px;
        .topUp_block__label {
            font-size: 1.125em;
        }
    }
    @at-root #{&}__image {
        margin-top: 15px;
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 991px) {
    .topUp_block__left {
        font-size: 14px;
    }
}


@media all and (max-width: 767px) {
    .topUp_block {
        &__left {
            font-size: 10px;
            padding-left:15px;
        }
        &__right {
            padding: 0px 15px;
            .button {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        &__image {
            width: 50%;
        }
    }
}

@media all and (max-width: 400px) {
    .topUp_block {
        &__image {
            width: 100%;
        }
    }
}
