//BLOCCO 4

.suggestion_block {
  background-color: $color-lighterGrey;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;

  .tx-powermail {
    margin-top: 70px;
    .powermail {
      &_fieldwrap {
        margin-bottom: 15px;
        @include breakpoint(small) {
          margin-bottom: 10px;
        }

        &_half {
          width: 100%;
        }

        &_type {
          &_submit {
            .base__bt {
              margin-top: 2rem;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .info_link {
    font-size: .750em;
    @include breakpoint(small) {
      display: block;
      font-size: .85em;
      margin-top: 1em;
      margin-bottom: 0;
    }
  }
  @at-root #{&}__container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
  @at-root #{&}__title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: $title-big;
    color: $color-standardText;
    font-family: $weight-light;
    @include breakpoint(small) {
      padding-top: 35px;
      font-size: 3.55em;
      margin-bottom: 25px;
    }
  }
  @at-root #{&}__input {
    margin-bottom: 10px;

    &--email {
      margin-bottom: 35px;
    }
  }
  @at-root #{&}__consent {
    font-size: 1em;
    margin-bottom: 30px;
    font-family: $weight-light;
  }
  @at-root #{&}__description {
    font-size: 1.450em;
    color: $color-standardText;
    font-family: $weight-light;

    position: relative;
    z-index: 100;
    width: 450px;
    @include breakpoint(small) {
      line-height: 1.15em;
      font-size: 1.75em;
      margin-bottom: 20px;
    }
  }
  @at-root #{&}__left {
    padding-left: 30px;
    position: static;
  }
  @at-root #{&}__right {
    position: static;
    height: 422px;
    padding-left: 80px;
    padding-right: 10px;
    margin-bottom: 70px;
  }
  @at-root #{&}__imageContainer {
    position: absolute;
    bottom: 0;
    right: 45%;
    z-index: 5;
  }
  @at-root #{&}__image {
    margin-top: 0;
    width: 80%;
  }
}
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 890px) {
  .suggestion_block {
    font-size: 13px;

    &__image {}
  }
}
@media all and (max-width: 767px) {
  .suggestion_block {
    &__right {
      padding: 0 15px;
      height: 346px;

      .button {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__left {
      font-size: 10px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__imageContainer {
      bottom: 417px;
      text-align: right;
      right: 22px;
    }

    &__image {
      width: 50%;
    }

    .tx-powermail {
      margin-top: 0;
    }
  }
}
@media all and (max-width: 587px) {
  .suggestion_block {
    .tx-powermail {
      h3 {
        display: none;
      }

      .powermail {
        &_fieldwrap {
          margin-bottom: 10px;

          &_invia {
            margin-bottom: 30px;
          }
        }

        &_submit {
          font-size: 1.2em;
        }
      }
    }

    &__imageContainer {
      bottom: 417px;
      right: 22px;
    }

    &__description {
      width: 205px;
    }
  }
}
