.image_block_display {
  &__mainContainer {
    @include transition(all .45s ease-in-out);
    display: table;
    position: relative;
    width: 100%;
    max-width: 1024px;
    height: 250px;
    margin: 0 auto;
    vertical-align: middle;
    hyphens: initial;
    @include breakpoint(small) {
      height: 550px;
    }
    @at-root {
      .invertedDisplay #{&} {
        text-align: right;
      }
    }
  }
  &__coloredBg {
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    height: 100%;
    z-index: 20;
    @include breakpoint(small) {
      right: 0;
      top: 50%;
      height: 50%;
    }
    @at-root {
      .invertedDisplay #{&} {
        right: 0;
        left: 50%;
        @include breakpoint(small) {
          left: 0;
        }
      }
    }
    .shape {
      position: absolute;
      width: 50%;
      height: 100%;
      @at-root {
        .mobile #{&} {
          background-color: $color_mobile;
        }
        .fisso #{&} {
          background-color: $color_infostrada;
        }
        .business #{&} {
          background-color: $color_business;
        }
        .device #{&} {
          background-color: $color_home_life;
        }
      }
      &--one {
        left: 0;
        width: 50%;
        @at-root {
          .invertedDisplay #{&} {
            width: 70%;
            transform: skew(20deg);
            transform-origin: 100% 50%;
            @include breakpoint(small) {
              width: 50%;
              transform: none;
              transform-origin: none;
            }
          }
        }
      }
      &--two {
        right: 0;
        width: 70%;
        transform: skew(-20deg);
        transform-origin: 100% 50%;
        @include breakpoint(small) {
          width: 50%;
          transform: none;
          transform-origin: none;
        }
        @at-root {
          .invertedDisplay #{&} {
            width: 50%;
            transform: none;
            transform-origin: none;
          }
        }
      }
    }
  }
  &__half_block {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    z-index: 20;
    &.text_block {
      position: relative;
      z-index: 30;
      padding: 30px;
      left: -25%;
      @include breakpoint(small) {
        top: 25%;
        left: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
      }
      @at-root {
        .invertedDisplay #{&} {
          position: relative;
          left: 25%;
          text-align: right;
          @include breakpoint(small) {
            left: 0;
            text-align: center;
          }
        }
      }
    }
    &.image_block {
      position: absolute;
      right: 0;
      left: 0;
      width: auto;
      text-align: right;
      z-index: 10;
      img {
        display: inline-block;
        height: 100%;
        width: auto;
        margin: 0;
        @include breakpoint(small) {
          min-width: 100%;
          min-height: 50%;
          width: auto;
          height: auto;
        }
      }
      @at-root {
        .invertedDisplay #{&} {
          text-align: left;
        }
      }
    }
  }
  &__title {
    width: 90%;
    margin: 0 auto 8px 0;
    color: $color_white;
    font-family: $weight-cond;
    font-size: 52px;
    letter-spacing: -.025rem;
    font-weight: bold;
    line-height: 1.1em;
    text-transform: uppercase;
    overflow: hidden;
    @include breakpoint(small) {
      margin: 0 auto 8px;
      width: 100%;
      font-size: 40px;
    }
    @at-root {
      .invertedDisplay #{&} {
        margin: 0 0 8px auto;
        @include breakpoint(small) {
          margin: 0 auto 8px;
        }
      }
    }
  }
  &__partnerImage {
    img {
      display: inline-block;
      max-width: 110px;
      height: auto;
    }
    margin-bottom: 8px;
    &:empty {
      display: none;
    }
  }
  &__price {
    margin-bottom: 8px;
    color: $color_white;
    font-family: $weight-cond;
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
    width: auto;
    &:empty {
      display: none;
    }
  }
  &__recurrency {
    margin-bottom: 8px;
    color: $color_white;
    font-family: $weight-light;
    font-size: 1rem;
    display: inline-block;
    width: auto;
    &:empty {
      display: none;
    }
    &--bottom {
      color: $color_white;
      &:empty {
        display: none;
      }
    }
  }
  &__text {
    width: 90%;
    margin: 0 auto 8px 0;
    color: $color_white;
    font-family: $weight-cond;
    font-size: 30px;
    line-height: 1.1em;
    overflow: hidden;
    z-index: 50;
    @include breakpoint(small) {
      width: 100%;
      margin: 0 auto 8px;
      font-size: 22px;
    }
    @at-root {
      .invertedDisplay #{&} {
        margin: 0 0 8px auto;
        @include breakpoint(small) {
          margin: 0 auto 8px;
        }
      }
    }
  }
  .base__bt {
    display: block;
    width: 200px;
    margin: 0 auto 8px 0;
    color: $color_white;
    font-size: 1rem;
    @include breakpoint(small) {
      margin: 0 auto 8px;
    }
    &:hover{
      opacity: .7;
    }
    @at-root {
      .invertedDisplay #{&} {

        margin: 0 0 8px auto;
        @include breakpoint(small) {
          margin: 0 auto 8px;
        }
      }
    }
    &:empty {
      display: none;
    }
  }
  .slider__dots {}
}
