// BUNDLE BLOCCO 2
.slidingNews_block {
    padding-top: 30px;
    max-width: 1024px;
    margin: 0 auto;
    line-height: 1.08;
    padding-bottom: 30px;
    &__container {
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
    }
    @at-root #{&}__single {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        &.item {
            position: relative;
            &:after {
                background-color: $color_grey_medium_light;
                width: 1px;
                content: "";
                display: block;
                position: absolute;
                top: 15%;
                bottom: 7%;
                right: 0%;
                min-height: 1px;
            }
        }
        &--title {
            margin-top: 30px;
            margin-bottom: 15px;
            height: 65px;
            font-size: 1.500em;
            font-family: $weight-bold;
        }
        &--disclaimer {
            font-size: 1em;
            font-family: $weight-normal;
            margin: 20px 0px;
            height: 85px;
        }
        &--subTitle {
            font-family: $weight-light;
            font-size: 0.813em;
            margin-bottom: 10px;
            height: 15px;
        }
        &--image {
            .image_slider {
                margin: 0 auto;
            }
        }
    }
    @at-root #{&}__withImage {
        //BLOCCO CON IMMAGINE 
        .slidingNews_block {
            &__single {
                &--subTitle {
                    display: block;
                }
                &--disclaimer {
                    height: 55px;
                }
                &--title {
                    display: none;
                }
                &--image {
                    display: block;
                }
                .base__icon{
                    width:88px;
                    height:88px;
                }
            }
        }
    }
    @at-root #{&}__noImage {
        //BLOCCO CON IMMAGINE 
        .slidingNews_block {
            &__single {
                &--subTitle {
                    display: none;
                }
                &--title {
                    display: block;
                }
                &--image {
                    display: none;
                }
            }
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
