// SLIDER BLOCK
.client_block {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    &__overlay {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 200;
        top: 0;
        left: 0;
        @include opacity(0.8);
        background-color: #fff;
    }
    &__expand {
        display: none;
        width: 350px;
        height: 350px;
        position: absolute;
        top: -50vw;
        left: calc(50% - 175px);
        background-color: $color-white;
        z-index: 250;
        padding: 30px;
        //box-shadow: 1px 1px 1px #333;
        border: 1px solid #ededed;
        .button {
            position: absolute;
            bottom: 15px;
            width: 170px;
            left: 70px;
        }
        .client_block__single {
            &--vCard--description {
                overflow: visible;
                font-size: 18px;
                line-height: 20px;
                padding-top: 20px;
                height: auto;
                max-width: 250px;
                margin: 0 auto;
            }
            &__readMore {
                display: none;
            }
        }
    }
    @at-root #{&}__icon {
        margin: 0 auto;
        &--1 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -1px;
        }
        &--2 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -77px;
        }
        &--3 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -154px;
        }
        &--4 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -231px;
        }
        &--5 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            height: 77px;
            width: 77px;
            background-position: 0px -308px;
        }
        &--6 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -385px;
        }
        &--7 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -462px;
        }
        &--8 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -539px;
        }
        &--9 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -616px;
        }
        &--10 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -683px;
        }
        &--11 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -760px;
        }
        &--12 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -837px;
        }
        &--13 {
            background: url('/img/icons-clienti/sprite_clienti.jpg') no-repeat;
            width: 77px;
            height: 77px;
            background-position: 0px -914px;
        }
    }
    @include breakpoint(min-small) {
        .col-lg-2,
        .col-md-2 {
            width: 20%;
        }
    }
    .grey_strip__block__tabs--left {
        display: none;
    }
    .button {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 0.875em;
        width: 60%;
        margin: 0 auto;
        min-width: 80px;
    }
    &__mainTitle {
        font-size: $text-medium;
        font-family: $weight-light;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    &__container {
        max-width: 1024px;
        margin: 0 auto;
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
    }
    h2 {
        font-family: $weight-boldCond;
    }
    &__showMore {
        color: $color-orange;
        font-size: 1.250em;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
        font-family: $weight-light;
        cursor: pointer;
        display: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__showOffers {
        color: $color-orange;
        margin-left: 15px;
        width: 100%;
        display: none;
        font-size: 1.250em;
        text-align: left;
        text-transform: uppercase;
        font-family: $weight-light;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    @at-root #{&}__tabs {
        text-transform: uppercase;
        color: $color-standardText;
        &__container {
            margin-bottom: 30px;
            padding-top: 25px;
        }
        &--left {
            float: left;
            margin-left: 30px;
        }
        &--right {
            float: right;
            margin-right: 30px;
        }
        &--title {
            margin-right: 40px;
            cursor: pointer;
            &:hover {
                border-bottom: 1px solid $color-orange;
            }
            &.active {
                border-bottom: 1px solid $color-orange;
                color: $color-orange;
            }
        }
    }
    &__select {
        float: left;
        width: calc(50% - 10px);
        &--second {
            margin-left: 20px;
        }
        .base__select {
            &.bootstrap-select {
                width: 100% !important;
                .dropdown-toggle {
                    padding: 12px 20px 8px 20px;
                    .caret {
                        margin-top: -11px;
                    }
                    .filter-option {
                        font-size: 1em;
                        font-family: $weight-normal;
                    }
                }
            }
        }
    }
    &--title {
        font-size: 1em;
        text-transform: uppercase;
    }
    @at-root #{&}__single {
        position: relative;
        margin-top: 15px;
        height: 175px;
        &--modifyHeight {
            height: 79px;
        }
        &__readMore {
            position: relative;
            z-index: 150;
            width: 100%;
            text-align: center;
            color: $color-orange;
            font-size: 0.750em;
            background-color: #fff;
            padding-top: 1px;
            bottom: 15px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        &:nth-child(n+6) {
            margin-top: 15px;
        }
        &:nth-child(5n) {
            &:after {
                display: none;
                @include breakpoint(small) {
                    display: block;
                }
            }
        }
        &:after {
            background-color: #ccd1d9;
            width: 1px;
            content: "";
            display: block;
            position: absolute;
            top: 15%;
            bottom: 10%;
            right: 0%;
            min-height: 1px;
        }
        @include breakpoint(small) {
            margin-bottom: 15px;
            &:nth-child(n+3) {
                margin-top: 15px;
            }
            &:nth-child(even) {
                &:after {
                    display: none;
                }
            }
        }
    }
    // ====================== CARD UNO  ======================
    // ====================== CARD UNO ======================
    // ====================== CARD UNO ======================
    @at-root #{&}__single--vCard {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        float: left;
        font-family: $weight-normal;
        h2 {
            margin-bottom: 10px;
        }
        &__image {
            height: 100%;
            max-height: 84px;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        &--description {
            font-size: 0.875em;
            font-family: $weight-normal;
            line-height: 16px;
            text-align: center;
            margin-top: 10px;
            overflow: hidden;
        }
        &--mainTitle {
            font-size: 1.300em;
            text-align: center;
            line-height: 32px;
            font-family: $weight-bold;
            color: $color-lightBlue;
        }
    }
}

