.image_block_display {
  &__mainContainer {
    @include transition(all .45s ease-in-out);
    display: table;
    position: relative;
    width: 100%;
    max-width: 1024px;
    height: 250px;
    max-height: 250px;
    margin: 0 auto;
    vertical-align: middle;
    hyphens: initial;
    @include breakpoint(small) {
      height: 500px;
      max-height: none;
    }
    @at-root {
      .invertedDisplay #{&} {
        text-align: right;
      }
      .specialVersion #{&} {
        @include breakpoint(small) {
          //height: auto;
          min-height: auto;
          display: block;
        }
      }
    }
  }
  &__coloredBg {
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    height: 100%;
    z-index: 20;
    @include breakpoint(small) {
      right: 0;
      top: 50%;
      height: 50%;
    }
    @at-root {
      .invertedDisplay #{&} {
        right: 0;
        left: 50%;
        @include breakpoint(small) {
          left: 0;
        }
      }
      .specialVersion #{&} {
        right: 41%;
        left: 0;
        @include breakpoint(small) {
          right: 0;
        }
      }
      .specialVersion.invertedDisplay #{&} {
        left: 41%;
        right: 0;
        @include breakpoint(small) {
          left: 0;
        }
      }
    }
    .shape {
      position: absolute;
      width: 50%;
      height: 100%;
      @at-root {
        .mobile #{&} {
          background-color: $color_wind;
        }
        .robin #{&} {
          background-color: $color_robin;
        }
        .fisso #{&} {
          background-color: $color_infostrada;
        }
        .business #{&} {
          background-color: $color_business;
        }
        .device #{&} {
          background-color: $color_home_life;
        }
        .transparent #{&} {
          background-color: transparent;
        }
        .specialVersion #{&} {
          @include breakpoint(small) {
            //background-color: transparent;
          }
        }
      }
      &--one {
        left: 0;
        width: 50%;
        @at-root {
          .invertedDisplay #{&} {
            width: 70%;
            transform: skew(20deg);
            transform-origin: 100% 50%;
            @include breakpoint(small) {
              width: 50%;
              transform: none;
              transform-origin: none;
            }
          }
        }
      }
      &--two {
        right: 0;
        width: 70%;
        transform: skew(-20deg);
        transform-origin: 100% 50%;
        @include breakpoint(small) {
          width: 50%;
          transform: none;
          transform-origin: none;
        }
        @at-root {
          .invertedDisplay #{&} {
            width: 50%;
            transform: none;
            transform-origin: none;
          }
        }
      }
    }
  }
  &__half_block {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    z-index: 20;
    &.text_block {
      position: relative;
      z-index: 30;
      padding: 30px;
      left: -25%;
      @include breakpoint(small) {
        top: 25%;
        left: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
        height: auto;
        @at-root {
          .mobile #{&} {
            //background-color: $color_wind;
          }
          .robin #{&} {
            //background-color: $color_robin;
          }
          .fisso #{&} {
            //background-color: $color_infostrada;
          }
          .business #{&} {
            //background-color: $color_business;
          }
          .device #{&} {
            //background-color: $color_home_life;
          }
          .transparent #{&} {
            //background-color: transparent;
          }
        }
      }
      @at-root {
        .invertedDisplay #{&} {
          position: relative;
          left: 25%;
          text-align: right;
          @include breakpoint(small) {
            left: 0;

            text-align: center;
          }
        }
        .specialVersion #{&} {
          width: 60%;
          left: -20%;
          @include breakpoint(small) {
            display: block;
            width: 100%;
            left: 0;
            top: 0;
          }
        }
        .specialVersion.invertedDisplay #{&} {
          left: 20%;
          @include breakpoint(small) {
            left: 0;
          }
        }
      }
    }
    &.image_block {
      position: absolute;
      right: 0;
      left: 0;
      width: auto;
      text-align: right;
      z-index: 10;
      overflow: hidden;
      .image_block--container {
        position: relative;
        width: 100%;
        height: 100%;
        @at-root {
          .specialVersion #{&} {
            overflow: hidden;
          }
        }
      }
      img {
        display: block;
        height: 100%;
        margin: 0 0 0 auto;
        position: absolute;
        left: -9999px;
        right: 0;
        @include breakpoint(small) {
          //min-width: 100%;
          min-height: 100%;
          width: auto;
        }
        @at-root {
          .invertedDisplay #{&} {
            margin: 0 auto 0 0;
            left: 0;
            right: -9999px;
          }
          .transparent #{&} {
            @include breakpoint(small) {
              //max-width: 100%;
            }
          }
          .specialVersion #{&} {
            top: 0;
            bottom: 0;
            right: auto;
            left: calc(83% - 560px);
            @include breakpoint(small) {
              left: -9999px;
              right: -9999px;
              margin: 0 auto;
              max-height: 100%;
            }
          }
          .invertedDisplay.specialVersion #{&} {
            left: auto;
            right: calc(83% - 560px);
            @include breakpoint(small) {
              left: -9999px;
              right: -9999px;
              margin: 0 auto;
              max-height: 100%;
              min-width: auto;
            }
          }
          .specialVersion.transparent #{&} {
            left: 0;
            right: auto;
            max-width: none;
          }
          .invertedDisplay.specialVersion.transparent #{&} {
            right: 0;
            left: auto;
          }
        }
      }
      @include breakpoint(small) {
        height: 50%;
      }
      @at-root {
        .invertedDisplay #{&} {
          text-align: left;
        }
        .specialVersion #{&} {
          @include breakpoint(small) {
            display: block;
            height: 250px;
            position: relative;
          }
        }
      }
    }
  }
  &__title {
    width: 90%;
    margin: 0 auto 8px 0;
    color: $color_white;
    font-family: $weight-cond;
    font-size: 52px;
    letter-spacing: -.025rem;
    font-weight: bold;
    line-height: 1.1em;
    text-transform: uppercase;
    overflow: hidden;
    @include breakpoint(small) {
      margin: 0 auto 8px;
      width: 100%;
      font-size: 40px;
    }
    @at-root {
      .invertedDisplay #{&} {
        margin: 0 0 8px auto;
        @include breakpoint(small) {
          margin: 0 auto 8px;
        }
      }
      .transparent.business #{&} {
        color: $color_wind;
      }
      .transparent.mobile #{&} {
        color: $color_wind;
      }
      .transparent.robin #{&} {
        color: $color_robin;
      }
      .transparent.fisso #{&} {
        color: $color_infostrada;
      }
      .transparent.device #{&} {
        color: $color_home_life;
      }
      .specialVersion.transparent.light.mobile #{&} {
        color: $color_white;
        @include breakpoint(small) {
          color: $color_wind;
        }
      }
      .specialVersion.transparent.light.robin #{&} {
        color: $color_white;
        @include breakpoint(small) {
          color: $color_robin;
        }
      }
      .specialVersion.transparent.light.fisso #{&} {
        color: $color_white;
        @include breakpoint(small) {
          color: $color_infostrada;
        }
      }
      .specialVersion.transparent.light.business #{&} {
        color: $color_white;
        @include breakpoint(small) {
          color: $color_wind;
        }
      }
      .specialVersion.transparent.light.device #{&} {
        color: $color_white;
        @include breakpoint(small) {
          color: $color_home_life;
        }
      }
    }
  }
  &__partnerImage {
    img {
      display: inline-block;
      max-width: 110px;
      height: auto;
    }
    margin-bottom: 8px;
    &:empty {
      display: none;
    }
  }
  &__price {
    margin-bottom: 8px;
    color: $color_white;
    font-family: $weight-cond;
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
    width: auto;
    &:empty {
      display: none;
    }
    @at-root {
      .transparent #{&} {
        color: inherit;
      }
      .specialVersion.transparent.light #{&} {
        color: $color_white;
        @include breakpoint(small) {
          color: $color_text;
        }
      }
    }
  }
  &__recurrency {
    margin-bottom: 8px;
    color: $color_white;
    font-family: $weight-light;
    font-size: 1rem;
    display: inline-block;
    width: auto;
    &:empty {
      display: none;
    }
    &--bottom {
      color: $color_white;
      &:empty {
        display: none;
      }
      @at-root {
        .transparent #{&} {
          color: inherit;
        }
        .specialVersion.transparent.light #{&} {
          color: $color_white;
          @include breakpoint(small) {
            color: $color_text;
          }
        }
      }
    }
    @at-root {
      .transparent #{&} {
        color: inherit;
      }
      .specialVersion.transparent.light #{&} {
        color: $color_white;
        @include breakpoint(small) {
          color: $color_text;
        }
      }
    }
  }
  &__text {
    width: 90%;
    margin: 0 auto 8px 0;
    color: $color_white;
    font-family: $weight-cond;
    font-size: 30px;
    line-height: 1.1em;
    overflow: hidden;
    z-index: 50;
    @include breakpoint(small) {
      width: 100%;
      margin: 0 auto 8px;
      font-size: 22px;
    }
    @at-root {
      .invertedDisplay #{&} {
        margin: 0 0 8px auto;
        @include breakpoint(small) {
          margin: 0 auto 8px;
        }
      }
      .transparent #{&} {
        color: inherit;
      }
      .transparent.specialVersion.light #{&} {
        color: $color_white;
        @include breakpoint(small) {
          color: $color_text;
        }
      }
    }
  }
  .base__bt {
    display: block;
    width: 200px;
    margin: 0 auto 8px 0;
    color: $color_white;
    font-size: 1rem;
    @include breakpoint(small) {
      margin: 0 auto 8px;
    }
    &:hover {
      opacity: .7;
    }
    @at-root {
      .invertedDisplay#{&} {
        margin: 0 0 8px auto;
        @include breakpoint(small) {
          margin: 0 auto 8px;
        }
      }
      .mobile#{&} {
        background-color: $color_white;
        color: $color_wind;
        border-color: transparent;
      }
      .mobile.transparent#{&} {
        background-color: $color_wind;
        color: $color_white;
        border-color: transparent;
      }
      .mobile.specialVersion.transparent#{&} {
        background-color: $color_wind;
        color: $color_white;
        border-color: transparent;
      }
    }
    &:empty {
      display: none;
    }
  }
  .slider__dots {}
}
