.stripMenu {
    margin: 0 auto;
    line-height: 1.08;
    background-color: $color_grey_light_light; //#f4f4f4;
    @include breakpoint(small) {
        font-size: 14px;
    }
    @include breakpoint(tiny) {
        font-size: 10px;
    }
    .owl-theme {
        .owl-controls {
            .owl-buttons {
                bottom: 95px;
            }
        }
    }
    &__container {
        text-align: center;
        display: block;
        /*changed from inline-block*/
        max-width: 1024px;
        margin: 0 auto;
        color: $color_text_lighter;
    }
    &__icon {
        font-size: 2.375em;
    }
    &__item {
        padding-top: 30px;
        padding-bottom: 10px;
        //    margin: 0 calc(10% - 50px);  
        text-align: center;
        display: inline-block;
        cursor: pointer;
        outline:0;
        .base__icon{
            width: 40px;
            height:40px;
        }
        &.active {
            color: $color_orange;
            a {
                color: $color_orange;
            }
            .base__icon{
                &.icon_mobile--grey{
                   background-position: 0% 5.74138%; 
                }
                &.icon_mobile_fisso--grey{
                     background-position: 0% 6.88966%; 
                }
                &.icon_servizi_innovativi--grey{
                     background-position: 0% 50.52414%;
                }
                &.icon_device--grey{
                     background-position: 0% 9.18621%;
                }
                &.icon_promo--grey{
                    background-position: 0% 4.5931%;
                }
                &.icon_fisso--grey{
                    background-position: 0% 8.03793%;
                }

            }
        }
        &:hover {
            color: $color_orange;
            .base__icon{
                &.icon_mobile--grey{
                    background-position: 0% 5.74138%; 
                }
                &.icon_mobile_fisso--grey{
                     background-position: 0% 6.88966%; 
                }
                &.icon_servizi_innovativi--grey{
                     background-position: 0% 50.52414%;
                }
                &.icon_device--grey{
                    background-position: 0% 9.18621%;
                }
                &.icon_promo--grey{
                    background-position: 0% 4.5931%;
                }
                &.icon_fisso--grey{
                    background-position: 0% 8.03793%;
                }

            }

        }
        &__title {
            display: block;
            padding-top: 5px;
        }
        a {
            color: $color_text_light;
            &:hover {
                color: $color_wind;
            }
        }
    }
    &__container {
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
    }
    &--title {
        font-size: 1em;
        text-transform: uppercase;
    }
}
