.contact_info_block {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
    overflow: hidden;
    .link_contact {
        white-space: nowrap;
        color: $color-white;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    .info_link {
        font-size: 1em;
    }
    &__overlay {
        position: fixed;
        top: 0px;
        bottom: 0px;
        z-index: 900;
        width: 100%;
        height: 100%;
        background-color: #444;
        @include opacity(0.8);
        display: none;
    }
    &__item {
        vertical-align: middle;
        padding-right: 5px;
        &--active {
            color: $color-standardText;
        }
        &--contact {
            color: $color-white;
            text-transform: uppercase;
            padding: 15px 20px;
            background-color: $color-orange;
            right: 0;
            width: 130px;
            cursor: pointer;
            @include breakpoint(small) {
                &.contact_open {
                    &.contact_button {
                        display: none;
                    }
                }
            }
            &.positionRight {
                position: relative;
                right: 80px;
            }
        }
    }
    &__container {
        position: fixed;
        top: 15vh;
        right: -450px;
        z-index: 950;
        width: 500px;
        // @include transition(top .5s ease-in-out);             
        &.contact_open {
            top: 0;
        }
        @include breakpoint(small) {
            &.contact_open {
                width: 100%;
                top: 0;
                height: 100vh;
                overflow: scroll;
            }
        }
        &__left {
            float: left;
            //width: 50px *****
            &.contactShow {
                visibility: visible;
                width: 50px;
                .contact_info_block__item--contact {
                    & a:hover,
                    & a:active {
                        opacity: 0.5;
                    }
                }
                @include transform(rotate(-90deg));
            }
            &.contactHide {
                visibility: hidden;
                position: absolute;
                right: 10px; //0
                top: 5px; //0
                .contact_info_block__item--contact {
                    width: 20px;
                    height: 40px;
                    padding: 0;
                    background-color: transparent;
                    color: $color-orange;
                    font-family: 'Verdana';
                    font-size: 1.8em;
                    &:hover,
                    &:active {
                        opacity: 0.5;
                    }
                }
            }
        }
        &__right {
            width: 450px;
            padding: 20px;
            background-color: $color-lightGray;
            float: right;
            visibility: hidden;
            @include breakpoint(small) {
                &.visibleShow {
                    width: 100%;
                }
            }
        }
    }
    &__close {
        float: right;
        margin-top: -25px;
    }
    &__title {
        font-family: $weight-light;
        color: $color-standardText;
        font-size: 1.125em;
        line-height: 1.1250em;
        padding: 10px 30px 20px 0;
        @include breakpoint(small) {
            //font-size: 0.95em;
        }
    }
    &__select {
        margin-top: 15px;
        margin-bottom: 15px;
        & .base__select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
        }
        & .base__select.bootstrap-select .dropdown-toggle {
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 20px;
            @include breakpoint(small) {
                //padding: 10px;
            }
            & .filter-option {
                font-size: 16px;
                @include breakpoint(small) {
                    //font-size: 14px;
                }
            }
            & .bs-caret .caret {
                right: 18px;
            }
        }
    }
    &__privacy {
        font-size: 0.750em;
        padding-bottom: 15px;
        @include breakpoint(small) {
            //font-size: 12px;
        }
        & a {
            //font-size: 1em;
        }
    }
    &__input {
        &--name,
        &--phone {
            @include breakpoint(small) {
                //font-size: 0.875em;
            }
        }
        &--email {
            margin-top: 15px;
            margin-bottom: 15px;
            @include breakpoint(small) {
                //font-size: 0.875em;
            }
        }
    }
    &__textarea {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        & .base_textarea {
            width: 100%;
            padding-top: 25px;
            padding-left: 20px;
            padding-right: 0.8em;
            color: $color-placeholder;
            &::-webkit-input-placeholder {
                color: $color-placeholder;
            }
            &:-moz-placeholder {
                color: $color-placeholder;
                opacity: 1;
            }
            &::-moz-placeholder {
                color: $color-placeholder;
                opacity: 1;
            }
            border: 1px solid #ccd1d9;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            resize: none;
            &:hover,
            &:active {
                border: 1px solid $color-orange;
            }
            @include breakpoint(small) {
                //font-size: 0.875em;
                //padding-top: 15px;
            }
        }
    }
    & .checkbox {
        padding-left: 0;
    }
    & .base__checkbox.checkbox label {
        font-size: 16px;
        @include breakpoint(small) {
            //font-size: 0.875em;
        }
        &::before {
            width: 25px;
            height: 25px;
            top: -5px;
            margin-left: -25px;
            left: 100%;
        }
        &::after {
            margin-left: -25px;
            left: 100%;
            font-size: 16px;
        }
    }
    & .checkbox label {
        padding-left: 0;
        width: 100%;
    }
    & .button {
        @include breakpoint(small) {
            //margin: 0;
        }
    }
    & .base__input {
        padding: 15px 20px;
        @include breakpoint(small) {
            //padding: 10px;
        }
    }
    & .checkbox.checkbox-inline,
    .radio.radio-inline {
        width: 100%;
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================

/*
@media all and (max-width: 500px) {
    .contact_info_block {
        &__container {
            .contact_open {
                width: 100%;
                &__right
            }
        }
    }
}
*/
