//BLOCCO 4
.newsletter_block {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 30px;
    @at-root #{&}__container {
        margin-top: 30px;
    }
    @at-root #{&}__title {
        font-size: 1em;
        font-family: $weight-bold;
        margin-bottom: 25px;
    }
    @at-root #{&}__left {
        .button {
            margin-top: 25px;
        }
    }
    @at-root #{&}__right {}
    @at-root #{&}__icon {
        margin-top: 40px;
        margin-bottom: 30px;
        &--gplus {
            background: url('../img/social/social_sprite.png') no-repeat;
            width: 87px;
            height: 87px;
            background-position: 0 0;
            float: left;
        }
        &--youtube {
            margin-left: 4em;
            background: url('../img/social/social_sprite.png') no-repeat;
            width: 87px;
            height: 87px;
            background-position: 0 -97px;
            float: left;
        }
        &--facebook {
            margin-left: 4em;
            background: url('../img/social/social_sprite.png') no-repeat;
            width: 87px;
            height: 87px;
            background-position: 0 -194px;
            float: left;
        }
        &--twitter {
            margin-left: 4em;
            background: url('../img/social/social_sprite.png') no-repeat;
            width: 87px;
            height: 87px;
            background-position: 0 -291px;
            float: left;
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (min-width: 767px) {
    .newsletter_block {
        &__icon {
            font-size: 5px;
        }
    }
}

@media all and (min-width: 940px) {
    .newsletter_block {
        &__icon {
            font-size: 1em;
        }
    }
}

@media all and (max-width: 667px) {
    .newsletter_block {
        &__icon {
            width: 260px;
            margin: 0 auto;
            &--youtube {
                margin-left: 3.5em;
            }
            &--twitter {
                margin-left: 3.5em;
                margin-top: 30px;
            }
            &--facebook {
                margin-left: 0px;
                margin-top: 30px;
            }
        }
        &__left {
            .button {
                font-size: 15px;
            }
        }
    }
}

@media all and (min-width: 668px) {
    .newsletter_block {
        &__left {
            .button {
                font-size: 15px;
            }
        }
        &__icon {
            width: 570px;
            margin: 0 auto;
        }
    }
}
