.stripMenu {
    margin: 0 auto;
    line-height: 1.08;
    background-color: #f4f4f4;
    @include breakpoint(small) {
        font-size: 14px;
    }
    @include breakpoint(tiny) {
        font-size: 10px;
    }
    .owl-theme {
        .owl-controls {
            .owl-buttons {
                bottom: 95px;
            }
        }
    }
    &__container {
        text-align: center;
        display: block; /*changed from inline-block*/
        max-width: 1024px;
        margin: 0 auto;
        color: $color_grey_medium;
    }
    &__icon {
        font-size: 2.375em;
    }
    &__item {
        padding-top: 30px;
        padding-bottom: 10px;
        //    margin: 0 calc(10% - 50px);  
        text-align: center;
        display: inline-block;
        cursor: pointer;
        &.active {
            color: $color_orange;
            a{
                color:$color_orange;
            }
        }
        &:hover {
            color: $color_orange;
        }
        &__title {
            display: block;
            padding-top: 5px;
        }
        a{
            color:$color_grey_medium;
            &:hover{
                 color: $color_orange;
            }

        }
    }
    &__container {
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
    }
    &--title {
        font-size: 1em;
        text-transform: uppercase;
    }
}
