// BUNDLE BLOCCO 2
.service_block {
    &__container {
        max-width: 1024px;
        margin: 0 auto;
        line-height: 1.08;
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
    }
    h2 {
        font-family: $weight-bold-cond;
    }
    &--title {
        font-size: 1em;
        text-transform: uppercase;
    }
    @at-root #{&}__single {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        &.item {
            position: relative;
            &:after {
                background-color: $color_stroke;
                width: 1px;
                content: "";
                display: block;
                position: absolute;
                top: 15%;
                bottom: 7%;
                right: 0%;
                min-height: 1px;
            }
        }
        h2 {
            margin-bottom: 10px;
        }
        &--image {
            width: 200px;
            margin: 0 auto 15px auto;
            img {
                width: 100%;
            }
        }
        &--title {
            margin-top: 30px;
            margin-bottom: 10px;
            color: $color_mobile;
            font-size: 1.875em;
            font-family: $weight-bold;
            overflow: hidden;
            height: 64px;
        }
        &--description {
            font-family: $weight-light;
            font-size: 0.813em;
            margin: 0 auto;
            height: 40px;
            overflow: hidden;
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 991px) {
    .service_block {
        &__single {
            &__placeholder {
                display: block;
            }
        }
        &__showMore {
            display: none;
        }
    }
}

@media all and (max-width: 767px) {
    .service_block__single {
        &:after {
            display: none !important;
        }
        &__placeholder {
            display: none;
        }
    }
    .service_block__showOffers,
    .arrow_top_orange {
        display: block;
    }
    .service_block__tabs {
        display: none;
    }
    .service_block__single--disclaimer {
        display: none;
    }
}
