// BUNDLE BLOCCO 2

.bundle_ver2_block {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.08;

  &.bundle__business {
    // sotto css per la parte business
    .bundle_ver2_block__single--bigAmount {
      height: 75px;
    }

    .bundle_ver2_block__single__container--smallAmount {
      height: 90px;
    }
  }

  &__container {
    -o-transition: all .45s ease-in-out;
    -moz-transition: all .45s ease-in-out;
    -ms-transition: all .45s ease-in-out;
    -webkit-transition: all .45s ease-in-out;
  }

  h2 {
    font-family: $weight-boldCond;
  }

  &__showMore {
    color: $color_wind;
    font-size: 1.250em;
    text-align: center;
    text-transform: uppercase;
    font-family: $weight-light;
    margin-top: 30px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__showOffers {
    color: $color_wind;
    margin-left: 30px;
    width: 100%;
    //display: none;
    font-size: 1.250em;
    text-align: left;
    text-transform: uppercase;
    font-family: $weight-light;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  @at-root #{&}__tabs {
    //display: none;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    color: $color_text;

    &--title {
      margin-right: 40px;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid $color_wind;
      }

      &.active {
        border-bottom: 1px solid $color_wind;
      }
    }
  }

  &--title {
    font-size: 1em;
    text-transform: uppercase;
  }
  @at-root #{&}__single {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    &__container {
      &--smallAmount {
        margin-bottom: 25px;
        height: 110px;
      }
    }

    &.item {
      position: relative;

      &:after {
        background-color: $color_stroke;
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 15%;
        bottom: 7%;
        right: 0;
        min-height: 1px;
      }
    }

    h2 {
      margin-bottom: 10px;
    }

    &--bigAmount {
      font-size: 1.300em;
      font-family: $weight-light;
      margin-bottom: 10px;
      height: 45px;
      overflow: hidden;
      padding-top: 2px;
    }

    &--smallAmount {
      font-size: 1.125em;
      line-height: 1.250em;
      font-family: $weight-light;
    }

    &--title {
      margin-top: 30px;
      margin-bottom: 15px;
      height: 65px;
      font-size: 1.8em;
      font-family: $weight-bold;
    }

    &--disclaimer {
      font-size: .688em;
      font-family: $weight-light;
      margin: 20px 0;
      height: 35px;
    }

    &--mainPrice {
      font-size: 2.500em;
      color: $color_wind;
      font-family: $weight-light;
      height: 45px;

      .currency {
        font-size: 30px;
      }
    }

    &--recurrency {
      font-family: $weight-light;
      font-size: .813em;
      margin-bottom: 15px;
      height: 15px;
    }

    &__placeholder {
      display: none;
    }
  }
}

.arrow_top_orange {
  float: right;
  margin-right: 45px;
  padding-top: 7px;
  display: none;
}

.home_page {
  .bundle_ver2__tabs {
    display: none;
  }
}
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 991px) {
  .bundle_ver2 {
    &__single {
      &__placeholder {
        display: block;
      }
    }

    &__showMore {
      display: none;
    }
  }
}
@media all and (max-width: 767px) {
  .bundle_ver2 {
    &__single {
      &:after {
        display: none !important;
      }

      &__placeholder {
        display: none;
      }
    }
  }

  .arrow_top_orange,
  .bundle_ver2__showOffers {
    display: block;
  }

  .bundle_ver2__tabs {
    display: none;
  }

  .bundle_ver2__single--disclaimer {
    display: none;
  }
}
