// BUNDLE BLOCCO 2

.bundle_block {
  max-width: 1024px;
  margin: 0 auto;
  line-height: 1.08;

  &__container {
    -o-transition: all .45s ease-in-out;
    -moz-transition: all .45s ease-in-out;
    -ms-transition: all .45s ease-in-out;
    -webkit-transition: all .45s ease-in-out;
  }

  h2 {
    font-family: $weight-bold-cond;
  }

  &__showMore {
    margin-top: 50px;
    color: $color_wind;
    font-size: 1.250em;
    text-align: center;
    text-transform: uppercase;
    font-family: $weight-light;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__showOffers {
    color: $color_wind;
    margin-left: 30px;
    width: 100%;
    display: none;
    font-size: 1.250em;
    text-align: left;
    text-transform: uppercase;
    font-family: $weight-light;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  @at-root #{&}__tabs {
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    color: $color_text; //$color-standardText;

    &--title {
      margin-right: 40px;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid $color_wind;
      }

      &.active {
        border-bottom: 1px solid $color_wind;
      }
    }
  }

  &--title {
    font-size: 1em;
    text-transform: uppercase;
  }
  @at-root #{&}__single {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    &.item {
      position: relative;

      &:after {
        background-color: $color_stroke;
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 15%;
        bottom: 7%;
        right: 0;
        min-height: 1px;
      }
    }

    h2 {
      margin-bottom: 10px;
    }

    &--bigAmount {
      font-size: 1.500em;
      font-family: $weight-light;
      margin-bottom: 15px;
      height: 84px;
    }

    &--smallAmount {
      font-size: 1.250em;
      line-height: 1.125em;
      font-family: $weight-light;
      height: 45px;
    }

    &--title {
      margin-top: 50px;
      margin-bottom: 15px;
      height: 65px;
      color: $color_mobile; //$color-lightBlue; https://playalways.github.io/html_blocchi/blocks/homepage/blocco_bundle.html
      font-size: 1.875em;
      font-family: $weight-bold;
    }

    &--disclaimer {
      font-size: .688em;
      font-family: $weight-light;
      margin: 10px 0 30px;
      height: 35px;
    }

    &--mainPrice {
      font-size: 2.500em;
      color: $color_mobile;
      font-family: $weight-light;
      height: 45px;

      .currency {
        font-size: 30px;
      }
    }

    &--recurrency {
      font-family: $weight-light;
      font-size: .813em;
      margin-bottom: 10px;
      height: 15px;
    }

    &__placeholder {
      display: none;
    }
  }
}

.arrow_top_orange {
  float: right;
  margin-right: 45px;
  padding-top: 7px;
  display: none;
}

.home_page {
  .bundle_block__tabs {
    //display: none;
  }
}
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 991px) {
  .bundle_block {
    &__single {
      &__placeholder {
        display: block;
      }
    }

    &__showMore {
      display: none;
    }
  }
}
@media all and (max-width: 767px) {
  .bundle_block__single {
    &:after {
      display: none !important;
    }

    &__placeholder {
      display: none;
    }
  }

  .arrow_top_orange,
  .bundle_block__showOffers {
    display: block;
  }

  .bundle_block__tabs {
    display: none;
  }

  .bundle_block__single--disclaimer {
    display: none;
  }
}
