//BLOCCO 4
.suggestion_block {
    background-color: #f4f4f4;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
    .tx-powermail {
        h3 {
            display: none;
        }
        .powermail {
            &_fieldwrap {
                &_nomeecognome label,
                &_provincia label,
                &_recapitotelefonico label,
                &_email label {
                    display: none;
                }
                &_invia {
                    margin-top: 30px;
                }
            }
            &_input {
                padding-bottom: 0.8rem;
                padding-top: 0.8rem;
            }
        }
    }
    .info_link {
        font-size: 0.750em;
    }
    @at-root #{&}__container {
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 60px;
        height: 450px;
    }
    @at-root #{&}__title {
        margin-bottom: 20px;
        font-size: $title-big;
        color: $color-standardText;
        font-family: $weight-light;
    }
    @at-root #{&}__input {
        margin-bottom: 10px;
        &--email {
            margin-bottom: 35px;
        }
    }
    @at-root #{&}__consent {
        font-size: 1em;
        margin-bottom: 30px;
        font-family: $weight-light;
    }
    @at-root #{&}__description {
        font-size: 1.450em;
        color: $color-standardText;
        font-family: $weight-light; //->'Trade Gothic Light' - layout precednte: 'Trade Gothic LTS Light'
        position: relative;
        z-index: 100;
        width: 450px;
    }
    @at-root #{&}__left {
        padding-left: 30px;
    }
    @at-root #{&}__right {
        padding-left: 115px;
        padding-right: 30px;
        margin-top: 30px;
    }
    @at-root #{&}__imageContainer {
        position: absolute;
        top: 50%;
        left: 40%;
        z-index: 5;
    }
    @at-root #{&}__image {
        margin-top: 31px;
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 890px) {
    .suggestion_block {
        font-size: 13px;
        &__imageContainer {
            top: 70%;
            left: 25%;
        }
    }
}

@media (min-width: 768px) and (max-width: 891px) {
    .suggestion_block {
        &__image {
            margin-top: 16px;
        }
    }
}

@media all and (max-width: 767px) {
    .suggestion_block {
        &__right {
            padding: 0px 15px;
            .button {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        &__left {
            font-size: 10px;
        }
        &__imageContainer {
            top: -35px;
            right: -165px;
            left: inherit;
        }
        &__image {
            width: 50%;
            margin-top: 14px;
        }
    }
}

@media all and (max-width: 587px) {
    .suggestion_block {
        .tx-powermail {
            h3 {
                display: none;
            }
            .powermail {
                &_fieldwrap {
                    &_invia {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &__imageContainer {
            top: 30px;
            right: -160px;
            left: inherit;
            .suggestion_block__image {
                width: 50%;
            }
        }
        &__description {
            width: 200px;
            margin-bottom: 30px;
        }
    }
}
