//BLOCCO 4
.topUp_block {
    background-color: $color_grey_light_light;
    @include transition(all 0.45s ease-in-out);
    @at-root #{&}__container {
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 25px;
    }
    @at-root #{&}__title {
        margin-bottom: 10px;
        font-size: $title-big;
        color: $color_mobile;
        font-family: $weight-light;
    }
    @at-root #{&}__input {
        padding-bottom: 36px;
        position: relative;
        .base__input {
            &.error {
                margin-bottom: 0;
                + span.error {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
    @at-root #{&}__select {
        margin-bottom: 30px;
        .base__select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
        }
        .base__select.bootstrap-select .dropdown-toggle {
            padding-top: 20px;
            .bs-caret .caret {
                right: 23px;
            }
            .filter-option {
                font-size: 2.500em;
                color: $color_mobile;
                text-align: center;
            }
        }
    }
    @at-root #{&}__description {
        font-size: 1.500em;
        color: $color_text;
    }
    @at-root #{&}__left {
        padding-left: 30px;
        position: relative;
        height: 450px;
    }
    @at-root #{&}__right {
        padding-left: 115px;
        padding-right: 30px;
        margin-top: 15px;
        .topUp_block__label {
            font-size: 1.125em;
            margin-bottom: 10px;
        }
    }
    @at-root #{&}__imageContainer {
        position: absolute;
        bottom: 0;
    }
    @at-root #{&}__image {
        margin-top: 15px;
        width: 100%;
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 991px) {
    .topUp_block__left {
        font-size: 14px;
    }
}

@media all and (max-width: 767px) {
    .topUp_block {
        &__left {
            font-size: 10px;
            height: 400px;
            padding-left: 15px;
        }
        &__right {
            padding: 0px 15px;
            .button {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}

@media all and (max-width: 400px) {
    .topUp_block {
        &__left {
            height: 350px;
            padding-left: 15px;
        }
    }
}
