.stripMenuText {
    margin: 0 auto;
    line-height: 1.08;
    background-color: #f4f4f4;
    .owl-theme {
        .owl-controls {
            .owl-buttons {
                bottom: 95px;
            }
        }
    }
    &__container {
        text-align: center;
        display: block;
        max-width: 1024px;
        margin: 0 auto;
        color: #aab2bd;
        -o-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
        .slick-track {
            display: table;
            .slick-slide {
                float: none;
                display: table-cell;
            }
        }
    }
    &__item {
        text-align: center;
        display: inline-block;
        cursor: pointer;
        &__title {
            display: inline-block;
            position: relative;
            padding: 30px 0 10px;
        }
        &.active,
        &:hover {
            color: $color-orange;
            .stripMenuText__item__title:after {
                content: "";
                display: inline-block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background-color: $color-orange;
            }
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 768px) {
    .stripMenuText {
        font-size: 14px;
        &__item {
            // margin: 0 calc(10% - 40px); 
        }
    }
}
