//BLOCCO 4
.imageTextButtonRight_block {
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    &.imageBackground {
        &--black {
            background-color: #212121;
        }
        &--grey {
            background-color: #f4f4f4;
        }
    }
    h1 {
        color: $color-orange;
    }
    &__backgroundImage {
        .image {
            width: 100%;
        }
    }
    &__container {
        position: relative;
        margin: 0 auto;
        max-width: 1024px;
    }
    @at-root #{&}__text {
        width: calc(40% - 50px);
        margin-left: 30px;
        margin-right: 30px;
        font-family: $weight-light;
        color: $color-white;
        position: absolute;
        top: 15%;
        right: 0;
        text-align: right;
        &--subtitle {
            font-size: 1.500em;
            color: $color-standardText;
            margin-bottom: 60px;
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 900px) {
    .imageTextButtonRight_block {
        font-size: 12px;
    }
}

@media all and (max-width: 730px) {
    .imageTextButtonRight_block {
        &__text {
            position: static;
            width: calc(100% - 60px);
            text-align: left;
        }
    }
}
