//BLOCCO 4
.subscribe_block {
    background-color: #f4f4f4;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    @at-root #{&}__container {
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 60px;
    }
    @at-root #{&}__title {
        margin-bottom: 15px;
        font-size: $title-big;
        color: $color-standardText;
        font-family: $weight-light;
    }
    @at-root #{&}__input {
        margin-bottom: 10px;
        &--email {
            margin-bottom: 35px;
        }
    }
    @at-root #{&}__description {
        font-size: 1.500em;
        width: 300px;
        color: $color-standardText;
        font-family: $weight-light;
    }
    @at-root #{&}__left {
        padding-left: 30px;
    }
    @at-root #{&}__right {
        padding-left: 115px;
        padding-right: 30px;
        margin-top: 30px;
    }
    @at-root #{&}__imageContainer {
        position: absolute;
        top: 38%;
        left: 20%;
    }
    @at-root #{&}__image {
        margin-top: 15px;
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
@media all and (max-width: 991px) {}

@media all and (max-width: 767px) {
    .subscribe_block {
        &__left {
            font-size: 10px;
        }
        &__right {
            padding: 0px 15px;
            .button {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        &__imageContainer {
            top: -24px;
            right: -160px;
            left: inherit;
            .subscribe_block__image {
                width: 50%;
            }
        }
    }
}

@media all and (max-width: 400px) {
    .subscribe_block {
        &__imageContainer {
            top: 40px;
            right: -235px;
            left: inherit;
            .subscribe_block__image {
                width: 35%;
            }
        }
        &__description {
            width: 200px;
        }
    }
}
