.standard_block {
  @include transition(all .45s ease-in-out);
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  &__mainContainer {
    display: table;
    position: relative;
    width: 100%;
    height: 425px;
    vertical-align: middle;
    @include breakpoint(small) {
      height: 760px;
    }
  }
  &__coloredBg {
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    height: 100%;
    z-index: 10;
    @include breakpoint(small) {
      display: none;
    }
    @at-root {
      .invertedDisplay #{&} {
        right: 0;
        left: 50%;
        @include breakpoint(small) {
          left: 0;
        }
      }
    }
    .shape {
      position: absolute;
      width: 50%;
      height: 100%;
      @at-root {
        .mobile #{&} {
          background-color: $color_mobile;
        }
        .fisso #{&} {
          background-color: $color_infostrada;
        }
        .business #{&} {
          background-color: $color_business;
        }
        .device #{&} {
          background-color: $color_home_life;
        }
      }
      &--one {
        left: 0;
        width: 50%;
        @at-root {
          .invertedDisplay #{&} {
            width: 50%;
            transform: skew(20deg);
            transform-origin: 100% 0;
            @include breakpoint(small) {
              width: 50%;
              transform: none;
            }
          }
        }
      }
      &--two {
        right: 0;
        width: 50%;
        transform: skew(-20deg);
        transform-origin: 100% 0;
        @include breakpoint(small) {
          width: 50%;
          transform: none;
        }
        @at-root {
          .invertedDisplay #{&} {
            width: 50%;
            transform: none;
            transform-origin: none;
          }
        }
      }
    }
  }
  &__half_block {
    display: table-cell;
    position: relative;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    &.image_block {
      position: absolute;
      right: 40%;
      bottom: 0;
      left: 0;
      width: auto;
      padding: 30px;
      @include breakpoint(small) {
        top: 0;
        right: 0;
        bottom: 400px;
        height: auto;
        padding: 30px;
      }
      @at-root {
        .invertedDisplay #{&} {
          right: 0;
          left: 40%;
          @include breakpoint(small) {
            left: 0;
          }
        }
        .withForm #{&} {
          left: 30%;
          right: 0;
        }
        .withForm.invertedDisplay #{&} {
          right: 30%;
          left: 0;
        }
      }
      .testimonial {
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        z-index: 15;
        @include breakpoint(small) {
          bottom: 75px;
          left: calc(50% - 100px);
          width: 320px;
          @at-root {
            .invertedDisplay #{&} {
              left: calc(50% - 205px);
            }
          }
        }
        @at-root {
          .withForm #{&} {
            left: 0;
            right: 60%;
            width: 100%;
            max-width: 40%;
            height: auto;
            max-height: 100%;
          }
          .withForm.invertedDisplay #{&} {
            right: 0;
            left: 60%;
            width: 100%;
            max-width: 40%;
            height: auto;
            max-height: 100%;
          }
        }
      }
    }
    &.form_block {
      left: -21%;
      width: 33.33333%;
      text-align: center;
      z-index: 50;
      @at-root {
        .invertedDisplay #{&} {
          left: 45%;
        }
      }
    }
    &.offer_block {
      padding: 0 30px;
      text-align: center;
      z-index: 50;
      @at-root {
        .invertedDisplay #{&} {
          left: -50%;
          @include breakpoint(small) {
            left: 0;
          }
        }
        .withForm #{&} {
          width: 45%;
          left: -5%;
        }
        .withForm.invertedDisplay #{&} {
          width: 45%;
          left: -50%;
        }
      }
      @include breakpoint(small) {
        top: 180px;
        width: 100%;
        padding: 0 15px;
      }
      &:empty {
        display: none;
      }
    }
  }
  &__ribbon {
    position: relative;
    left: -50px;
    width: 150px;
    margin-bottom: 8px;
    padding: 4px 8px 4px 50px;
    background-color: $color_wind;
    color: $color_white;
    font-family: $weight-cond;
    font-size: 30px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    z-index: 25;
    -animation: slidein-left .7s 0s 1 linear;
    -webkit-animation: slidein-left-webkit .7s 0s 1 linear;
    -ms-animation: slidein-left-ms .7s 0s 1 linear;
    -moz-animation: slidein-left-moz .7s 0s 1 linear;
    &:before {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #d55c0b #d55c0b transparent transparent;
      content: "";
      z-index: -1;
      @at-root {
        .invertedDisplay #{&} {
          right: 0;
          left: auto;
          border-color: #d55c0b transparent transparent #d55c0b;
        }
      }
    }
    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      transform: skew(-20deg);
      transform-origin: 100% 100%;
      background-color: $color_wind;
      content: "";
      z-index: -1;
      @at-root {
        .mobile #{&} {
          //background-color: $color_mobile;
        }
        .fisso #{&} {
          //background-color: $color_infostrada;
        }
        .business #{&} {
          //background-color: $color_business;
        }
        .device #{&} {
          //background-color: $color_home_life;
        }
        .invertedDisplay #{&} {
          left: 0;
          transform: skew(20deg);
          transform-origin: 0 100%;
        }
      }
    }
    &:empty {
      display: none;
    }
    @at-root {
      .mobile #{&} {
        //background-color: $color_mobile;
      }
      .fisso #{&} {
        //background-color: $color_infostrada;
      }
      .business #{&} {
        //background-color: $color_business;
      }
      .device #{&} {
        //background-color: $color_home_life;
      }
      .invertedDisplay #{&} {
        padding: 8px 50px 8px 8px;
        left: calc(100% - 100px);
        text-align: right;
        -animation: slidein-right .7s 0s 1 linear;
        -webkit-animation: slidein-right-webkit .7s 0s 1 linear;
        -ms-animation: slidein-right-ms .7s 0s 1 linear;
        -moz-animation: slidein-right-moz .7s 0s 1 linear;
      }
    }
  }
  &__sticker {
    &__wrapper {
      position: relative;
      z-index: 25;
      &.small {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 38px;
        @include breakpoint(small) {
          right: 30px;
          width: auto;
          margin: 0 auto;
          text-align: center;
          .standard_block__sticker {
            width: 38px;
            height: auto;
            display: inline-block;
            vertical-align: middle;
          }
        }
        @at-root {
          .invertedDisplay #{&} {
            right: 30px;
            left: auto;
            @include breakpoint(small) {
              left: 30px;
            }
          }
          .withForm #{&} {
            right: 30px;
            left: auto;
            @include breakpoint(small) {
              right: 30px;
            }
          }
          .withForm.invertedDisplay #{&} {
            left: 30px;
            right: auto;
            @include breakpoint(small) {
              left: 30px;
            }
          }
        }
      }
      &.big {
        width: 57px;
        margin: 0 auto 0 0;
        @include breakpoint(small) {
          width: 48px;
        }
        .standard_block__sticker {
          &:not(:last-of-type) {
            margin-bottom: 8px;
          }
        }
        @at-root {
          .invertedDisplay #{&} {
            margin: 0 0 0 auto;
          }
          .withForm #{&} {
            margin: 0 0 0 auto;
          }
          .withForm.invertedDisplay #{&} {
            margin: 0 auto 0 0;
          }
        }
      }
      .standard_block__sticker {
        display: block;
        width: 100%;
        height: auto;
        &:not(:last-of-type) {
          margin-bottom: 8px;
          @include breakpoint(small) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__title {
    color: $color_mobile;
    font-family: $weight-cond;
    font-size: 52px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    @at-root {
      .mobile #{&} {
        color: $color_mobile;
      }
      .fisso #{&} {
        color: $color_infostrada;
      }
      .business #{&} {
        color: $color_business;
      }
      .device #{&} {
        color: $color_home_life;
      }
      .splittedTitle #{&} {
        font-size: 35px;
      }
    }
  }
  &__subtitle {
    margin-bottom: 8px;
    font-family: $weight-cond;
    font-size: 36px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    @at-root {
      .mobile #{&} {
        color: $color_mobile;
      }
      .fisso #{&} {
        color: $color_infostrada;
      }
      .business #{&} {
        color: $color_business;
      }
      .device #{&} {
        color: $color_home_life;
      }
      .splittedTitle #{&} {
        font-size: 35px;
      }
    }
    &:empty {
      display: none;
    }
  }
  &__text {
    color: $color_text;
    font-family: $weight-cond;
    font-size: 30px;
    line-height: 1.1em;
    &:empty {
      display: none;
    }
  }
  .base__bt {
    color: $color_white;
    font-family: $weight_bold;
    font-size: 16px;
    @include breakpoint(small) {
      width: 260px;
    }
    &:empty {
      display: none;
    }
  }
}

.bundle_orange {
  display: table-cell;
  padding: 0 8px;
  color: $color_wind;
  font-family: $weight-light;
  text-align: center;
  vertical-align: middle;
  &:not(:last-of-type) {
    border-right: 1px solid $color_stroke;
  }
  &__container {
    display: table;
    width: 100%;
    margin: 8px auto;
    text-align: center;
  }
  &__title {
    max-width: 70px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.2em;
  }
  &__number {
    font-size: 45px;
    line-height: 1.2em;
    @at-root {
      .bundle_small#{&} {
        font-size: 38px;
      }
    }
    &:empty {
      display: none;
      & + .bundle_orange__title .description {
        font-size: 20px;
        max-width: none;
      }
    }
  }
}

.recurrent_priceRow {
  margin: 0 auto 16px;
  @at-root {
    .mobile#{&} {
      color: $color_mobile;
    }
    .fisso#{&} {
      color: $color_infostrada;
    }
    .business#{&} {
      color: $color_business;
    }
    .device#{&} {
      color: $color_home_life;
    }
  }
  &__price {
    margin: 0 8px;
    font-size: 55px;
    letter-spacing: -.25rem;
    line-height: 1.2em;
    &.with_currency {
      &:after {
        font-size: 0.7em;
      }
    }
    &.price_discounted {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        border-bottom: 2px solid;
        content: "";
      }
    }
    &:empty {
      display: none;
    }
  }
  &__recurrency {
    display: block;
    color: $color_text;
    font-size: 13px;
    line-height: 1.2em;
    &:empty {
      display: none;
    }
  }
}

.coverage_form {
  width: calc(100% - 60px);
  margin: 0 auto;
  &__white_title {
    height: 1em;
    margin-bottom: 10px;
    color: $color_white;
    font-family: $weight-normal; font-size: 32px;
    line-height: 1.2em;
  }
  .base__select {
    left: 0;
    width: 100%;
    margin-bottom: 10px;
    &.bootstrap-select {
      .dropdown-toggle {
        width: 100%;
        font-family: $weight-light;
        font-size: 1em;
      }
      .bs-caret .caret {
        top: 50%;
        right: 15px;
      }
      .filter-option {
        font-size: 1em;
        text-align: left;
      }
    }
  }
  .base__input {
    width: 100%;
    margin-bottom: 10px;
    font-family: $weight-light;
  }
  .base__bt {
    margin-bottom: 10px;
  }
  &__input {
    &--address {
      display: inline-block;
      width: calc(90% - 35px);
      float: left;
    }
    &--civic_number {
      display: inline-block;
      width: 60px;
      float: right;
    }
    &--number {
      display: inline-block;
      width: calc(90% - 35px);
      float: right;
    }
    &--prefix {
      display: inline-block;
      width: 60px;
      float: left;
    }
  }
  &__additional_form {
    position: absolute;
    width: 100%;
    &.covered {
      bottom: -100%;
      visibility: hidden;
    }
    &.uncovered {
      bottom: 2px;
      visibility: visible;
    }
  }
  @at-root {
    .invertedDisplay #{&} {
      left: 0;
      @include breakpoint(small) {
        left: 0;
      }
    }
  }
  @include breakpoint(small) {
    top: 180px;
    width: 100%;
    padding: 0 15px;
  }
  &:empty {
    display: none;
  }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================

/*
@media all and (max-width: 767px) {
.standard_block {
&__sticker {
&__wrapper {
position: static;
width: 100%;
.sticker_single {
margin-right: 5px;
}
}
}
.container_reviews {
width: 330px;
margin: 0 auto;
.share_block__reviews {
right: 0;
}
}
.container_mid_row {
.column_left {
width: 100%;
}
.column_right {
float: none;
top: 0;
right: 0;
width: 300px;
margin: 0 auto;
text-align: center;
margin-bottom: 15px;
}
}
&__title {
font-size: 2.50em;
}
&__text {
max-width: 300px;
}
&__image {
width: 50%;
position: static;
}
&__half_block {
width: 100%;
.button {
margin: 0 auto 30px auto;
position: static;
}
&.image_block {
height: auto;
width: 100%;
text-align: center;
}
}
&__coloredBg {
display: none;
}
}
.bundle_orange {
font-size: 12px;
}
.recurrent_priceRow__price {
font-size: 2.75em;
display: inline-block;
margin-top: 15px;
font-family: $weight-light;
}
}

@media all and (max-width: 767px) {
.standard_block {
.container_reviews {
font-size: 14px;
width: 290px;
}
}
}
*/
