// ============================== CREATORE VISORE =========================
// ============================== CREATORE VISORE =========================
// ============================== CREATORE VISORE =========================
.torna_su {
    text-align: center;
    color: $color-orange;
    cursor: pointer;
    display: none;
    &:hover {
        color: #333;
    }
}

.container_prototype {
    margin: 30px;
    background-color: #ededed;
    padding: 5px;
    @include border-radius(10px);
    .aggiunto_blocco {
        width: calc(100% - 30px);
        color: $color-lightBlue;
        background-color: white;
        height: 50px;
        position: fixed;
        bottom: 30px;
        z-index: 450;
        border: 1px solid $color-lightBlue;
        right: 15px;
        padding-top: 15px;
        text-align: center;
        display: none;
        font-family: $weight-bold;
        @include border-radius(10px);
    }
    .overlay_loader {
        @include opacity(0.7);
        background-color: #444;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        z-index: 400;
    }
    .loader {
        display: none;
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: absolute;
        z-index: 500;
        left: calc(50% - 60px);
        top: calc(50% - 60px);
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .mostra_blocchi {
        display: none;
    }
    .container_cms {
        margin-top: 15px;
    }
    &.pagine {
        h3 {
            float: none;
        }
        h1 {
            width: 120px;
            margin-top: 10px;
            position: relative;
            top: 20px;
            @include breakpoint(tiny) {
                display: none;
            }
        }
        .remove.hide_cms {
            width: auto;
            width: 75px;
            height: 35px;
            margin-top: 5px;
            @include breakpoint(tiny) {
                margin-left: 5px;
            }
            &.enhance {
                background-color: white;
                border: 1px solid red;
                color: $color-orange;
            }
            &:hover {
                background-color: $color-orange;
                color: white;
            }
        }
        .standard_blockInfo__select {
            margin-left: 0px;
        }
        .elemento_creatore {
            position: relative;
            height: 100px;
            text-align: center;
            border: 1px solid #dedede;
        }
        .container_immagine_cms {
            position: relative;
        }
        .action_red {
            background-color: red !important;
            height: auto;
        }
        .action_grey {
            background-color: #a1a3bb !important;
            height: auto;
        }
        .action_black {
            background-color: #333 !important;
            height: auto;
        }
        .action_blue {
            background-color: blue !important;
            height: auto;
            @include breakpoint(tiny) {
                margin-top: 15px;
            }
        }
        .immagine_overlay {
            position: relative;
            top: 0px;
            width: 100%;
            height: auto;
        }
        .overlay_immagine {
            width: 300px;
            height: auto;
            z-index: 300;
            background-color: #444;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            border: 5px solid red;
        }
        .immagine_creaPagine {
            max-height: 50px;
            margin-top: 5px;
            cursor: pointer;
            position: relative;
            max-width: 130px;
            &.small {
                height: auto;
                max-width: 130px;
            }
            // &:hover{    
            //   border: 1px solid red;
            //   &~.overlay_immagine{
            //     display: block;
            //   }
            // }
        }
    }
    .standard_blockInfo__select {
        margin-left: 5px;
        margin-bottom: 0px;
        float: left;
        .base__select {
            &.bootstrap-select {
                .dropdown-toggle {
                    padding-top: 5px;
                    padding-bottom: 2px;
                }
            }
        }
    }
    .bootstrap-select {
        width: 50px !important;
        &.btn-group {
            .dropdown-menu {
                min-width: 50px;
                background-color: #ededed !important;
            }
        }
    }
    .btn-default {
        background-color: #ededed !important;
    }
    .immBollo {
        height: 40px;
        width: 40px;
        float: left;
        margin-right: 5px;
        cursor: pointer;
        &:hover {
            @include opacity(0.5);
        }
    }
    #invertiVisore,
    #cambiaPulsanti,
    #share {
        margin-left: 0;
    }
    .remove {
        background: red;
        color: white;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        width: 60px;
        height: 24px;
        border-radius: 5px;
        float: left;
        margin-left: 15px;
        padding-top: 6px;
        cursor: pointer;
        &.hide_cms {
            background: $color-orange;
            color: #fff;
            padding-left: 5px;
            padding-right: 5px;
            width: 70px;
            position: relative;
            float: left;
        }
        &.riduci {
            background-color: $color-lightBlue;
            color: #fff;
        }
        &:hover {
            background-color: #333;
        }
    }
    .cancella {
        float: left;
        color: red;
        position: relative;
        top: 8px;
        cursor: pointer;
        left: 10px;
        &:hover {
            color: white;
        }
    }
    .confirm {
        width: 0;
        height: 0;
        border-style: solid;
        position: relative;
        top: 2px;
        margin-left: 15px;
        cursor: pointer;
        border-width: 12.5px 0 12.5px 21.7px;
        border-color: transparent transparent transparent $color-orange;
        float: left;
        &:hover {
            border-color: transparent transparent transparent $color-lightBlue;
        }
    }
    h3 {
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 10px;
        float: left;
    }
    h1 {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        float: left;
        margin-left: 30px;
    }
    .base__input {
        width: 200px;
        padding-top: 8px;
        padding-bottom: 5px;
        font-size: 12px;
        float: left;
    }
}

.changeColor {
    height: 15px;
    width: 15px;
    display: block;
}

.color {
    &--lightBlue {
        color: $color-lightBlue !important;
    }
    &--orange {
        color: $color-orange !important;
    }
    &--black {
        color: $color-standardText !important;
    }
    &--white {
        color: $color-white !important;
    }
    &--blue {
        color: $color-mediumBlue !important;
    }
}
