@charset "UTF-8";
@import "uikit";
@import "partials/main/header";
@import "partials/main/footer";
@import "partials/components/vetrina_accordions";
@include attributes_classes;
@include position_classes;
@include text_classes;
@include text_classes_m;
// TEMPORANEO DA SPOSTARE
.only_desktop {
    @include breakpoint(tiny) {
        display: none;
    }
}

.only_mobile {
    display: none;
    @include breakpoint(tiny) {
        display: block;
    }
}

.mac {
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    box-sizing: border-box;
    @include breakpoint(small) {
        padding: 0 15px;
    }
}

.landing {
    &__mainContainer {
        position: relative;
        min-height: 100%;
        a.button {
            //bottone cta in overlay fondo pagina.
            width: 90%;
            margin: 0 auto;
            display: block;
            &--standard {
                position: relative;
                z-index: 16;
                color: $color_white;
                background-color: $color_orange;
                border: 1px solid $color_orange;
                padding: 15px 30px;
                font-size: 1.429rem;
                font-family: $font_family_bold;
                margin-bottom: 40px;
                @include border-radius(4px);
                &:hover {
                    background-color: $color_orange_light;
                }
                @include breakpoint(small) {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    margin-bottom: 0;
                    width: 100%;
                    z-index: 999;
                    opacity: 0.8;
                }
            }
        }
    }
    &__hero {
        height: 790px;
        box-sizing: border-box;
        position: relative;
        @include breakpoint(small) {
            height: 674px;
        }
        .container {
            @include breakpoint(small) {
                overflow: hidden;
            }
        }
        &__imageContainer {
            position: absolute;
            right: 0;
            z-index: 15;
            top: 0;
            @include breakpoint(small) {
                width: 50%;
                top: 13%;
                right: -5%
            }
            img {
                width: 100%;
                max-width: 100%;
            }
        }
        &--title {
            padding: 30px 0;
            margin-bottom: 20px;
            @include breakpoint(small) {
                padding: 0;
            }
            h1 {
                font-size: 5.5rem;
                text-transform: uppercase;
                color: $color_robin;
                line-height: 1em;
                font-family: $font_family_cond;
                font-weight: bold;
                @include breakpoint(med-large) {
                    font-size: 4.5rem;
                }
                @include breakpoint('medium') {
                    font-size: 3.6rem;
                }
                @include breakpoint(small) {
                    font-size: 2.8rem;
                }
            }
        }
        .bundle_orange {
            display: table-cell;
            padding: 0 20px;
            color: $color_wind;
            font-family: $font_family_light;
            text-align: center;
            vertical-align: middle;
            width: 32%;
            @include breakpoint('medium') {
                display: block;
                width: auto;
                padding: 0;
                text-align: left;
            }
            &:first-child {
                padding: 0 30px 0 0;
            }
            &:not(:last-of-type) {
                border-right: 1px solid $color_stroke;
                @include breakpoint('medium') {
                    border-right: none;
                }
            }
            &__container {
                display: table;
                width: 50%;
                margin: 0 0 50px;
                text-align: left;
                @include breakpoint('medium') {
                    display: block;
                    padding: 0;
                }
                @include breakpoint(med-large) {
                    width: 40%;
                }
                @include breakpoint(small) {
                    width: 90%;
                }
            }
            &__title {
                //max-width: 70px;
                //margin: 0 auto;
                font-size: 2.143rem;
                line-height: 1.2em;
                @include breakpoint('medium') {
                    display: inline-block;
                }
                @include breakpoint(med-large) {
                    font-size: 2.143em;
                }
                // @include breakpoint(medium) {
                //     font-size: 14px;
                // }
                @include breakpoint(small) {
                    font-size: 1.571rem;
                }
                // @include breakpoint('super-tiny') {
                //     font-size: 12px;
                // }
            }
            &__number {
                font-size: 4.643em;
                line-height: 1em;
                @include breakpoint('medium') {
                    display: inline-block;
                }
                @include breakpoint(med-large) {
                    font-size: 3em;
                }
                @include breakpoint(tiny) {
                    font-size: 45px;
                }
                &:empty {
                    display: none;
                    & + .bundle_orange__title {
                        max-width: none;
                        font-size: 18px;
                    }
                }
            }
        }
        &--details {
            margin-bottom: 120px;
            @include breakpoint(small) {
                margin-bottom: 180px;
            }
            .single {
                font-family: $font_family_cond;
                @include breakpoint(small) {
                    margin-bottom: 10px;
                }
                .image {
                    display: inline-block;
                    margin-right: 1em;
                    vertical-align: middle;
                    @include breakpoint(small) {
                        width: 15px;
                        height: 15px;
                        margin-right: 0.5rem;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    display: inline-block;
                    font-size: 1.857em;
                    text-transform: uppercase;
                    vertical-align: middle;
                    line-height: 1.1em;
                    @include breakpoint(small) {
                        width: 50%;
                        font-size: 1.286rem;
                    }
                }
            }
        }
        &--stamp {
            display: none;
            margin-bottom: 45px;
            &--single {
                display: inline-block;
                margin-right: 1rem;
                @include breakpoint(small) {
                    display: block;
                    margin-top: 5px;
                    width: 44px;
                    height: 44px;
                }
            }
        }
        &--ribbon {
            width: 350px;
            height: 150px;
            display: block;
            position: absolute;
            background-color: $color_robin;
            right: -40px;
            top: 52%;
            text-align: center;
            color: $color_white;
            z-index: 16;
            @include breakpoint(min-desktop-plusborder) {
                    right:0;                }
            @include breakpoint(small) {
                height: 91px;
                width: 158px;
                right:0;
                top: 60%;
            }
            &:before {
                display: block;
                position: absolute;
                top: 0;
                right: 50%;
                bottom: 0;
                left: -19%;
                transform: skew(-20deg);
                transform-origin: 100% 100%;
                background-color: $color_robin;
                content: "";
                z-index: -1;
                @include breakpoint(small) {
                    left: -21%;
                }
            }
            &:after {
                display: block;
                position: absolute;
                top: 100%;
                right: 0;
                border-width: 20px;
                border-style: solid;
                border-color: #02677e transparent transparent #02677e;
                content: "";
                z-index: -1;
                @include breakpoint(medium) {
                    content:none;
                }
            @include breakpoint(min-desktop-plusborder) {
                    content:none;                }                
            }
            .price {
                font-size: 6.429rem;
                line-height: 1em;
                margin-top: 13px;
                @include breakpoint(small) {
                    font-size: 3.2rem;
                    margin-top: 11px;
                }
                ;
                .currency {
                    font-size: 0.8em;
                }
            }
            .recurrency {
                font-size: 1.429rem;
                @include breakpoint(small) {
                    font-size: 0.9rem;
                }
                ;
            }
        }
        &--claim {
            margin-bottom: 35px;
            @include breakpoint(small) {
                margin-bottom: 0;
            }
            h2 {
                font-size: 4.643rem;
                text-transform: uppercase;
                color: $color_robin;
                line-height: 1em;
                font-family: $font_family_cond;
                @include breakpoint(small) {
                    font-size: 3.214rem;
                }
            }
        }
    }
    &--offer_details {
        width: 100%;
        height: auto;
        background-color: $color_robin;
        color: $color_white;
        padding: 30px 0;
        margin-bottom: 60px;
        display: none;
        h3 {
            font-size: 2.714rem;
            font-family: $font_family_bold;
            line-height: 1.2em;
            @include breakpoint(small) {
                font-size: 2rem;
            }
        }
        .details {
            list-style: none;
            padding-left: 60px;
            margin: 30px 0;
            li {
                position: relative;
                font-size: 1.857rem;
                line-height: 1.2em;
                margin-bottom: 20px;
                &:before {
                    content: "\b7\a0";
                    position: absolute;
                    left: -60px;
                    font-size: 6em;
                    line-height: 0;
                }
            }
        }
    }
    .vetrina_accordions {
        a {
            display: inline-block;
        }
    }
}
