body, html{
	min-width:810px;
}
body {
	margin:0;
	color:#4c5b61;
	font:normal 12px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}
.page{
	width:100%;
	position:relative;
	overflow:hidden;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#ec7425;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	font:100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
/* wrapper */
#wrapper {
	width:790px;
	margin:0 auto;
	padding:10px 0 20px;
}
/* header */
#header {
	background:url(../images/bg-heading.gif) no-repeat;
	width: 750px;
	height: 56px;
	padding:14px 20px 0;
}
#header h1.abbiamo {
	background:url(../images/bg-text.png) no-repeat;
	width: 698px;
	height: 46px;
	margin:0 auto;
	text-indent:-9999px;
	overflow:hidden;
}
.promo-info {
	background:url(../images/bg-heading.gif) no-repeat;
	width: 750px;
	height: 56px;
	padding:14px 20px 0;
}
.promo-info h2.hai {
	background:url(../images/bg-text-01.png) no-repeat;
	width: 536px;
	height: 46px;
	margin:0 auto;
	text-indent:-9999px;
	overflow:hidden;
}
#header p {margin:0;}
/* content */
#content {
	padding:16px 16px 15px;
	border-bottom:5px solid #fff;
}
/* tabs area */
.tabs-area {
	overflow:hidden;
	width:760px;
}
/* tabset */
.tabset {
	width:750px;
	margin:0;
	padding:0 14px 5px;
	list-style:none;
	overflow:hidden;
	text-transform:uppercase;
	font:bold 14px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* tabset item */
.tabset li {
	padding:0 0 5px;
	float:left;
	margin:0 10px 0 0; 
}
.tabset li:hover,
.tabset li.ui-state-active{
	background:url(../images/separator.png) no-repeat 50% 100%;
}
.tabset a {
	font-weight:normal;
	color:#7c878b;
	display:block;
	width:165px;
	height:26px;
	padding:6px 5px 0;
	overflow:hidden;
	text-align:center;
	background:url(../images/bg-tab.gif) repeat-x;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	position:relative;
}
.tabset li:hover a {
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	background:url(../images/bg-tab-hover.gif) repeat-x;
}
.tabset .ui-state-active a {
	font-weight:bold;
	background:url(../images/bg-tab-hover.gif) repeat-x;
	color:#fff;
}
/* tab content */
.tab-content {
	width:760px;
	overflow:hidden;
	background:url(../images/bg-tab-list-c.gif) repeat-y 0;
	position:relative;
}
.tab-content > .holder{
	background:url(../images/bg-tab-list-t.gif) no-repeat;
	overflow:hidden;
	width:760px;
}
.ui-tabs-hide {display:none;}
#content p {margin:0;}
#content > p{
	margin:0 0 18px;
	font:16px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* footer */
#footer {
	min-height:300px;
	padding:16px 13px 0 17px;
	font:14px/20px "Trebuchet MS", Helvetica, sans-serif;
	overflow:hidden;
}
#footer h2 {
	color:#ec7324;
	font:bold 20px/25px "Trebuchet MS", Helvetica, sans-serif;
	margin: 0 0 8px;
}
#footer p {
	font:16px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0 0 3px;
}
#footer > p{
	margin:0 0 2px;
}
/* social network */
#footer .social-networks {
	margin:0;
	text-align:center;
	padding:9px 20px 2px;
	list-style:none;
	font:bold 14px/16px "Trebuchet MS", Helvetica, sans-serif;
	width:720px;
	position:relative;
	z-index:20;
}
#footer .social-networks:after {
	display:block;
	content:"";
	clear:both;
}
*+ html .social-networks li {
	display:inline;
	padding:0 12px 5px 8px;
	margin:0;
}
.social-networks li{
	vertical-align:top;
	margin:0 -4px 0 0;
	padding:0 8px 5px;
	display:inline-block;
}
.social-networks li.active,
.social-networks li:hover{
	cursor:pointer;
	background:url(../images/separator.png) no-repeat 50% 100%;
}
.social-networks li a{
	width:64px;
	color:#5f6769;
	display:table;
	background:url(../images/bg-tab-02.gif) repeat-x;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	height:64px;
	overflow:hidden;
	position:relative;
	z-index:20;
}
.social-networks li a > span{
	display:table-cell;
	vertical-align:middle;
}
#footer #block3 p{
	margin:0 0 4px;
	padding: 0 10px 0 0;
}
#footer p > a{
	text-decoration:underline;
}
#footer .inner .sale{
	padding:22px 0 0 32px;
	color:#4d4d4d;
	overflow:hidden;
}
#footer .sale p{
	font:10px/14px "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}
#footer .sale > ul{
	margin:0;
	overflow:hidden;
	padding:0 0 7px;
	list-style:none;
}
*+ html #footer .sale > ul li{
	display:inline;
	margin:0;
	padding:0 23px 0 0;
}
#footer .sale > ul li{
	padding:0 27px 0 0;
	display:inline-block;
	vertical-align:middle;
	margin:0 -4px 0 0;
}
#footer .sale > ul li a{
	display:block;
}
#footer .sale > ul li img{
	display:block;
}
#footer p > a:hover{
	text-decoration:none;
}
.social-networks li.active a.facebook span,
.social-networks li:hover a.facebook span{
	background:url(../images/ico01.png) no-repeat 50% 50%;
}
.social-networks li a.facebook span{
	text-indent:-99999px;
	display:block;
	width:64px;
	overflow:hidden;
	height:64px;
	background:url(../images/ico01-hover.png) no-repeat 50% 50%;
}
.social-networks li.active a,
.social-networks li:hover a{
	cursor:pointer;
	color:#fff;
	text-decoration:none;
	background:url(../images/bg-tab-01.gif) repeat-x;
}
.social-networks li.active a.twitter span,
.social-networks li:hover a.twitter span{
	background:url(../images/twitter-bird-dark-bgs.png) no-repeat 50% 50%;
}
.social-networks li a.twitter span{
	text-indent:-99999px;
	display:block;
	width:64px;
	overflow:hidden;
	height:64px;
	background:url(../images/twitter-bird-dark-bgs-grey.png) no-repeat 50% 50%;
}
/* block */
#footer .social-blocks {
	width:960px;
	overflow:hidden;
	float:left;
	position:relative;
	margin:0;
	z-index:1;
}
#footer .block {
	display:none;
	color:#4c5b61;
	font:12px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	z-index:1;
	overflow:hidden;
	width:760px;
	position:relative;
}
#footer .block  > .holder{
	background:url(../images/supporto_greybg.png) no-repeat;
	overflow:hidden;
	width:760px;
}
/* block inner */
.block .inner  {
	min-height:279px;
	background:url(../images/supporto_greybgbottom.png) no-repeat 0 100%;
	margin:0;
	width:740px;
	padding:18px 2px 17px 18px;
	color:#4d4d4d;
	overflow:hidden;
}
#footer .block h3 {
	margin:0 0 2px;
	font:bold 26px/32px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#004f9d;
}
#footer .block p {margin:0;}
a.link {
	color:#ec7524;
	text-decoration:underline;
}
a.link:hover {text-decoration:none;}
/* proposal form */
.proposal-form {padding:17px 2px 8px 31px;}
.proposal-form .row {
	overflow:hidden;
	padding:0 0 9px;
}
.proposal-form .row label {
	color:#4d4d4d;
	font:bold 16px/23px "Trebuchet MS", Helvetica, sans-serif;
	float:left;
	padding:0 5px 0 0;
	width:144px;
}
.proposal-form .row.error label {
  color: red;
}
.proposal-form .row .text-holder{
	background:url(../images/input-text.png) no-repeat;
	width: 251px;
	height: 25px;
	float:left;
}
/* text input */
.text-input {
	float:left;
	background:none;
	border:0;
	width:241px;
	padding:4px 5px;
	line-height:17px;
	font-size:14px;
	margin:0;
}
#footer .proposal-form .info {
	position:absolute;
	right:101px;
	padding:0 0 0 14px;
	background:url(../images/separator01.png) no-repeat 1px 13px;
	font:14px/18px "Trebuchet MS", Helvetica, sans-serif;
	top:100px;
	width:190px;
}
/* field */
.field {
	overflow:hidden;
	padding:0 0 9px;
}
.proposal-form .field label {
	color:#4d4d4d;
	font:bold 16px/23px "Trebuchet MS", Helvetica, sans-serif;
	float:left;
	width:100%;
}
.proposal-form .field.error label {
  color: red;
}
.proposal-form .field .wrap{padding: 0 0 4px;overflow:hidden;}
.proposal-form .field .wrap.text {
	width:401px;
	position:relative;
	padding:5px 0 0 0;
	background:url(../images/bg-textaria.png) no-repeat;
}
.proposal-form .field .wrap.text > .holder {
	padding:0 0 5px;
	float:left;
	width:401px;
	background:url(../images/bg-textaria.png) no-repeat -802px 100%;
}
/* proposal-form textarea */
.proposal-form textarea {
	float:left;
	background:url(../images/bg-textaria.png) repeat-y -401px 0;
	border:0;
	width:400px !important;
	min-height:81px !important;
	max-height:250px !important;
	padding:0 5px 0 5px;
	margin:0;
	overflow:auto;
}
/* required */
.required {
	font: 13px/16px "Trebuchet MS", Helvetica, sans-serif;
	padding:19px 0 0 3px;
	float:left;
}
/* container */
.proposal-form .container {
	overflow:hidden;
	padding:0 0 9px;
	margin:0;
}
.proposal-form .container .holder {
	float:left;
	width:402px;
}
.proposal-form .container label {
	font: 12px/16px "Trebuchet MS", Helvetica, sans-serif;
	padding:2px 0 0 0;
	width:366px;
	float:left;
	color:#4d4d4d;
}
.proposal-form .container .error label {
  color: red;
}
.proposal-form .container label a {font-size:12px;}
.proposal-form fieldset{
	width:410px;
	overflow:hidden;
}
/* proposal-form checkbox */
.proposal-form .check {
	float:left;
	width:15px;
	height:16px;
	padding:0;
	margin:2px 11px 0 1px;
}
.submit-holder{
	float:right;
	background:url(../images/bg-submit.png) no-repeat;
	width: 100px;
	height: 40px;
	padding:7px 11px 10px 6px;
}
/* button submit */
.btn-submit {
	float:left;
	overflow:hidden;
	color:#fff;
	background:none;
	text-transform:uppercase;
	width: 100px;
	height: 40px;
	cursor:pointer;
	font:bold 17px/17px "Trebuchet MS", Helvetica, sans-serif;
	border:0;
	padding:0;
	margin:0;
}
.btn-submit:hover {cursor:pointer;}
/* field error */
.field_error label {color:#f00;}
.field_error .text-input {border-color:#f00;}
.field_error textarea {border-color:#f00;}
/* error message */
.error-message {visibility:hidden;	padding:0 0 0 10px;
	font-size:0;
	line-height:0;
	color:#f00;
	float:left;
}
.field .error-message {padding:0;}
.field_error .error-message {
	float:none;
	visibility:visible;
	font:14px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* placeholder */
.placeholder {
	float:left;
	width:400px;
	height:253px;
	padding:20px 22px 20px 34px;
}
.block .inner > .container{
	overflow:hidden;
}
.tweet-block {
	padding:21px 0 0 0;
	float:left;
	width:250px;
}
.tweet-block > a{
	display:inline-block;
	vertical-align:top;
	margin:0 0 12px;
}
.tweet-block img,
.placeholder img {display:block;}
.btn-holder {overflow:hidden;}
/* btn-list */
.btn-list {
	margin:0;
	text-align:center;
	padding:35px 13px 7px 0;
	list-style:none;
	overflow:hidden;
}
*+ html .btn-list li {
	display:inline;
	margin:0;
}
.btn-list li {
	background:url(../images/bg-button.png) no-repeat;
	margin:0 -4px 0 0;
	padding:6px 10px 7px 7px;
	display:inline-block;
	vertical-align:top;
}
.btn-list li a:hover{
	cursor:pointer;
	text-decoration:none;
}
.btn-list li a{
	text-transform:uppercase;
	color:#fff;
	padding:19px 5px 10px;
	font:bold 24px/26px "Trebuchet MS", Helvetica, sans-serif;
	width:301px;
	height:35px;
	display:block;
}
/* faq-list */
.faq-list {
	background:url(../images/bg-tab-list-b.gif) no-repeat 0 100%;
	margin:0;
	width:751px;
	padding:11px 2px 17px 7px;
	color:#020202;
	overflow-x:hidden;
	overflow-y: scroll;
	height: 276px;
}
.faq-list ol{margin:0;}
/* faq-list item */
.faq-list li {
	padding:5px 20px 0 37px;
	overflow:hidden;
	vertical-align:top;
	display:block;
	width:695px;
}
.faq-list h2 {
	margin:0;
	font:bold 16px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	outline:none !important;
}
.faq-list h2 a {outline:none;}
.faq-list h2 a:focus {
	outline:none !important;
	outline-color:#fff;
	outline-width:
}
.faq-list li:hover h2 a {
	text-decoration:underline;
	outline:none !important;
	outline-color:#fff;
	cursor:pointer;
}
.faq-list li p{
	color:#4d4d4d;
	font:14px/18px "Trebuchet MS", Helvetica, sans-serif;
}
.faq-list li .text{
	padding:3px 1px 0 0;
}
.faq-list li:hover:before,
.faq-list li.active:before,
.faq-list li:hover .num,
.faq-list li.active .num {
	color:#fff;
	background:url(../images/bg-num.png) no-repeat 0 -25px;
}
/* faq-list number */
.faq-list .num {
	float:left;
	width:25px;
	height:25px;
	font:bold 14px/26px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0 0 0 -30px;
	color:#fff;
	background:url(../images/bg-num.png) no-repeat;
	text-align:center;
	cursor:pointer;
}
.faq-list .num:hover {
	cursor:pointer;
}

/*nuovo box*/
#footer .block  > .holder_contattaci{
	background:none;
	overflow:hidden;
	width:760px;
}
.f_box_contattaci{
	min-height:100px!important;
	background:url(../images/supporto_blue.png) no-repeat 0 0px!important;
	margin:0;
	width:740px;
	padding:18px 2px 17px 18px;
	color:#4d4d4d;
	overflow:hidden;
	}
	
.f_box_contattaci p.border{border-bottom: 1px solid #3CF;
width: 711px;
padding-bottom: 13px;
margin-bottom: 14px!important;}
.f_box_contattaci p.two_step{width: 511px; float:left; margin:0;}
.f_box_contattaci .submit-holder{
	float:right;
	background:url(../images/bg-submit_1.png) no-repeat;
	width: 106px;
	height: 40px;
	padding:7px 21px 10px 16px;
	margin-right:30px;
}
.f_box_contattaci .submit-holder .btn-submit {
	float:left;
	overflow:hidden;
	color:#fff;
	background:none;
	text-transform:uppercase;
	width: 106px!important;
	height: 40px;
	cursor:pointer;
	font:bold 17px/17px "Trebuchet MS", Helvetica, sans-serif;
	border:0;
	padding:0;
	margin:0;
}