.landing_allinclusive {
    max-width: 950px;
    hyphens: initial;
    .margin_bottom_neg5 {
        margin-bottom: -5px;
    }
    .info_link {
        margin-top: 3px;
    }
    .fix_top_5 {
        position: relative;
        top: 5px;
    }
    .call_to_action {
        @include breakpoint(display_medium_small) {
            width: 100%;
        }
        &__container {
            @include breakpoint(display_medium_small) {
                width: 90%;
                padding-left: 5px;
                padding-right: 30px;
            }
        }
    }
    .all_inclusive {
        &__container {
            max-width: 710px;
            margin: 0 auto;
            border: 2px solid $color_orange;
            box-shadow: 3px 3px 5px #888888;
            @include border-radius(5px);
            .row_standard {
                span {
                    display: inline-block;
                }
                .min_width_box {
                    min-width: 75px;
                    @include breakpoint(display_medium_small) {
                        min-width: 30px;
                    }
                }
                .text_barred {
                    position: relative;
                    &.minor {
                        &:before {
                            width: 40%;
                        }
                    }
                    &:before {
                        position: absolute;
                        content: "";
                        left: -6%;
                        top: 45%;
                        width: 90%;
                        right: 0;
                        border-top: 1px solid;
                        border-color: inherit;
                        -webkit-transform: rotate(-25deg);
                        -moz-transform: rotate(-25deg);
                        -ms-transform: rotate(-25deg);
                        -o-transform: rotate(-25deg);
                        transform: rotate(-25deg);
                    }
                }
                .price_big {
                    @include breakpoint(display_medium_small) {
                        margin-left: 0px;
                    }
                }
                .button {
                    display: inline-block;
                    @include breakpoint(display_medium_small) {
                        margin-right: 5px;
                        margin-left: 5px;
                        margin-top: 0px !important;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    &__hero {
        @include breakpoint(display_smaller) {
            padding: 3px !important;
        }
        img {
            &.hero_wide {
                display: block;
                @include breakpoint(display_smaller) {
                    display: none;
                }
            }
            &.hero_mobile {
                display: none;
                @include breakpoint(display_smaller) {
                    display: block;
                }
            }
        }
    }
    &__notes {
        width: 73%;
        position: relative;
        display: inline-block;
        @include breakpoint(display_small) {
            width: 100%;
            text-align: center;
            position: relative;
            top: -80px;
        }
    }
}
@media (max-width:768px) and (min-width:480px) {
    .font_size_m_12{
        font-size: 4vw !important;
    }    
    .font_size_m_14{
        font-size: 5vw !important;
    }
    .font_size_m_16{
        font-size: 7vw !important;
    }    
    .font_size_m_18{
        font-size: 7vw !important;
    }
    .font_size_m_20{
        font-size: 5vw !important;
    }    
    .font_size_m_26 {
        font-size: 8vw !important;
    }
    .font_size_m_30{
        font-size: 8vw !important;
    }    
    .min_width_box{
        min-width: 15% !important;
    }
.call_to_action__container{
    font-size:5vw !important;
}    
}​

.footer_allinclusive {
    max-width: 950px;
    margin: 0 auto;
}

