.landing_gearS3 {
    max-width: 950px;
    &__firstClaim {
        h1 {
            letter-spacing: -0.001em;
        }
    }
    &__slogan {
        position: relative;
        h2 {
            letter-spacing: -0.001em;
        }
    }
    &__containerDocs {
        border-bottom: 1px solid $color_orange;
         @include breakpoint('min_display_medium') {
            display: block;
        }
    }
}
