//default radio buttons all site
.base__radio.radio {
    label {
        font-size: 1rem;
        &::before {
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
        }
        &:focus {
            outline: none;
        }
    }
    input[type="radio"] + label:before {
        outline: none;
    }
    input[type="radio"]:checked {
        + label::before {
            border: 1px solid $color_orange;
            outline: none;
        }
        &:disabled + label {
            &::before {
                border: 1px solid $color_stroke;
            }
            &::after {
                background: $color_grey_medium_light;
            }
        }
    }
    input:focus {
        outline: none;
        -webkit-shape-outside: none;
        &::-moz-focus-inner {
            border: 0;
            outline: 0 none;
        }
    }
    label::after {
        width: 12px;
        height: 12px;
        left: 4px;
        top: 4px;
        background: $color_orange;
    }
}

.base__radio--small {
    &.radio {
        label::before {
            width: 14px;
            height: 14px;
            top: 3px;
            left: 3px;
        }
    }
}
