@import 'partials/vars';
@import 'partials/reset';
@import 'partials/typography';
@import 'partials/mixins';
@include attributes_classes;
@include position_classes;
@include text_classes;
.clear {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.hidden {
    display: none;
}

.strong {
    color: $color_grey_dark;
}

.upper {
    text-transform: uppercase;
}

.text_align {
    &_left {
        text-align: left;
    }
    &_center {
        text-align: center;
    }
    &_right {
        text-align: right;
    }
}

.container {
    margin: 0 auto;
    max-width: 950px;
    position: relative;
    height: auto;
    font-family: 'Trebuchet MS';
    padding: 0 30px;
    @include breakpoint('display_small') {
        padding: 0 15px;
    }
}

.hero {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: block;
    &--left{
        float: left;
        width: 40%;
    }
    &--right{
        float: left;
        width: 60%;
    }
    // &_img {
    //     width: 100%;
    //     height: auto;
    //     img {
    //         width: 100%;
    //         height: auto;
    //     }
    // }
}

.offer_tab {
    &_nav {
        position: relative;
        li {
            list-style: none;
            float: left;
            width: 49%;
            margin-right: 1%;
            text-align: center;
            background-color: $color_grey_light;
            &:last-child {
                margin-right: 0;
                width: 50%;
            }
            &.active {
                background-color: $color_grey_lighter;
                img {
                    opacity: 1;
                }
            }
            a {
                font-weight: bold;
                text-decoration: none;
                display: block;
                color: #337ab7;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                img {
                    width: 60%;
                    display: inline-block;
                    opacity: 0.5;
                }
            }
        }
    }
    &_content {
        background-color: $color_grey_lighter;
        height: auto;
        .recurrency {
            font-family: $font_weight_bold_2;
            color: $color_grey_medium_dark;
            width: 100%;
            float: none;
        }
        .claim {
            font-family: $font_weight_bold_2;
            color: $color_orange;
        }
        &_halfBlock {
            &--left {
                width: 48%;
                margin-right: 2%;
                float: left;
                @include breakpoint('display_small') {
                    width: 100%;
                }
                .offer {
                    width: 70%;
                    float: left;
                    .offer_title {
                        color: $color_orange;
                        .subscribe {
                            font-family: $font_weight_regular;
                        }
                        .offer_name {
                            font-family: $font_weight_bold_2;
                        }
                    }
                    .price {
                        font-family: $font_weight_bold_2;
                        color: $color_orange;
                    }
                }
                .tax {
                    float: left;
                    width: 30%;
                }
            }
            &--right {
                width: 48%;
                margin-left: 2%;
                float: left;
                @include breakpoint('display_small') {
                    width: 100%;
                }
                .offer {
                    width: 70%;
                    float: left;
                    .offer_title {
                        color: $color_orange;
                        .subscribe {
                            font-family: $font_weight_regular;
                        }
                        .offer_name {
                            font-family: $font_weight_bold_2;
                        }
                    }
                    .price {
                        font-family: $font_weight_bold_2;
                        color: $color_orange;
                    }
                }
                .tax {
                    float: left;
                    width: 30%;
                }
            }
        }
    }
}

.offer_promotion {
    color: $color_grey_medium_dark;
}

.active {
    background-color: $color_grey_lighter;
}

.advantages_block {
    margin: 0 auto;
    max-width: 876px;
    position: relative;
    overflow: hidden;
    &__reminder {
        font-family: $font_weight_light;
        color: $color_orange;
        font-size: 0.875em;
        margin-bottom: 15px;
        @include breakpoint(display_small) {
            margin-bottom: 26px;
        }
        &__container {
            @include breakpoint(display_small) {
                text-align: center;
            }
            &::before {
                content: "i";
                border-radius: 50%;
                border: 1px solid $color_orange;
                width: 20px;
                line-height: 20px;
                height: 20px;
                text-align: center;
                position: absolute;
                top: 0;
                @include breakpoint(display_small) {
                    padding-top: 1px;
                }
            }
            & a.info_link {
                padding-left: 30px;
                font-size: 14px;
                color: $color-orange;
                cursor: pointer;
                display: inline-block;
                margin-top: 5px;
                margin-bottom: 5px;
                text-decoration: none;
                &:hover {
                    opacity: 0.5;
                    color: #23527c;
                }
            }
        }
    }
}
