<!-- ================================ -->
<!-- ========== ACCORDION =========== -->
<!-- ================================ -->
<div class="vetrina_accordions">
    <!-- NOME UNIVOCO PER IL BLOCCO (modificabile, non ha classi o dipendenze) -->
    <div class="showcase_accordions_block">
        <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
        <ul>
<!--             <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Per saperne di più leggi le FAQ</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>testo da inserire...</a>
                        </p>
                    </div>
                </div>
            </li> -->
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <!-- checkbox nascosto che fa partire l'apri/chiudi -->
                <i></i>
                <h2>Info Utili</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>Inserire testo...</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- _________________________________ -->
</div>
