<!-- ================================ -->
<!-- ========== ACCORDION =========== -->
<!-- ================================ -->
<div class="vetrina_accordions">
    <!-- NOME UNIVOCO PER IL BLOCCO (modificabile, non ha classi o dipendenze) -->
    <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
    <div class="showcase_accordions_block">
        <ul>
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Promo ricarica Veon</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>Testo da definire e link da vedere se c'è. vai su <a href="wind.it/it/promo/easy-europe/" target="_blank">wind.it/it/promo/easy-europe/</a>
                        </p>
                    </div>
                </div>
            </li>
            <!-- _________________________________ -->
            <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Informazioni utili e condizioni d&apos;utilizzo</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>Testo da definire e link da vedere se c'è. vai su <a href="wind.it/it/promo/easy-europe/" target="_blank">wind.it/it/promo/easy-europe/</a>
                        </p>
                    </div>
                </div>
            </li>
            <!-- _________________________________ -->
            <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Veon Informa</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>Testo da definire e link da vedere se c'è. vai su <a href="wind.it/it/promo/easy-europe/" target="_blank">wind.it/it/promo/easy-europe/</a>
                        </p>
                    </div>
                </div>
            </li>
            <!-- _________________________________ -->
            <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Informativa Privacy</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>Testo da definire e link da vedere se c'è. vai su <a href="wind.it/it/promo/easy-europe/" target="_blank">wind.it/it/promo/easy-europe/</a>
                        </p>
                    </div>
                </div>
            </li>
            <!-- _________________________________ -->
            <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Condizioni delle promozioni Veon</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>Testo da definire e link da vedere se c'è. vai su <a href="wind.it/it/promo/easy-europe/" target="_blank">wind.it/it/promo/easy-europe/</a>
                        </p>
                    </div>
                </div>
            </li>
            <!-- _________________________________ -->
            <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Condizioni generali dell&apos;applicazione Veon</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>Testo da definire e link da vedere se c'è. vai su <a href="wind.it/it/promo/easy-europe/" target="_blank">wind.it/it/promo/easy-europe/</a>
                        </p>
                    </div>
                </div>
            </li>
            <!-- _________________________________ -->
            <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Condizioni di Ricarica su Veon</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>Testo da definire e link da vedere se c'è. vai su <a href="wind.it/it/promo/easy-europe/" target="_blank">wind.it/it/promo/easy-europe/</a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
