<!-- ================================ -->
<!-- ========== ACCORDION =========== -->
<!-- ================================ -->
<div class="vetrina_accordions">
    <!-- NOME UNIVOCO PER IL BLOCCO (modificabile, non ha classi o dipendenze) -->
    <div class="showcase_accordions_block">
        <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
        <ul>
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Faq e Regolamento</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>
                            <span class="faq_inpage__title">Quanti amici posso invitare?</span>
                            <div class="faq_inpage__description">
                                Puoi invitare fino a 10 amici di altro operatore.
                                <br> L’amico invitato avrà 15 giorni di tempo dall'inserimento del numero, per il passaggio a Wind.
                            </div>
                            <span class="faq_inpage__title">In che modo posso sapere che l'amico presentato è passato a Wind?</span>
                            <div class="faq_inpage__description">
                                Puoi monitorare i tuoi inviti dall’area clienti nella sezione I TUOI INVITI. Riceverai un SMS, in caso di passaggio dell’amico in Wind andato a buon fine. Riceverai un SMS per ogni bonus che sarà attivato sulla tua offerta.
                            </div>
                            <span class="faq_inpage__title">Cosa succede se l'amico che ho invitato disattiva l'offerta o passa ad un altro operatore?</span>
                            <div class="faq_inpage__description">
                                La promozione sarà disattivata per entrambi. In caso di presenza di più GIGA cumulati saranno disattivati solo i GIGA relativi a quel legame e se il numero max di GIGA per amici passati in Wind (4 bonus) è stato raggiunto, non sarà possibile averne altri in sostituzione presentando altri amici.
                            </div>
                            <span class="faq_inpage__title">Posso continuare ad invitare i miei amici anche se ho raggiunto il numero massimo di GIGA?</span>
                            <div class="faq_inpage__description">
                                È possibile presentare fino a 10 amici , ma si avrà diritto a ricevere un massimo di 4 bonus (per un massimo di 4 amici che passano a Wind). Il contatore presente nell’Area Clienti e sull’App, indicherà il numero di presentazioni ancora possibili.
                            </div>
                            <span class="faq_inpage__title">Quale offerta Wind devono attivare i miei amici per ottenere i GIGA gratuiti della promozione Porta i tuoi amici in Wind?</span>
                            <div class="faq_inpage__description">
                                I tuoi amici che passano a Wind possono scegliere di attivare una tra le seguenti offerte: All Inclusive, All Digital, NOI (ad eccezione della Noi Tutti Special Edition), Call Your Country Super o Call Your Country Wind per avere subito i GIGA in regalo.
                            </div>
                            <span class="faq_inpage__title">Quale offerta Wind devo avere attiva sulla SIM per poter presentare i miei amici?</span>
                            <div class="faq_inpage__description">
                                Potrai presentare i tuoi amici se sulla tua SIM è attiva una delle seguenti offerte: All Inclusive, All Digital, NOI (ad eccezione della Noi Tutti Special Edition), Call Your Country Super , Call Your Country Wind. Il Porta i tuoi Amici è valido anche per i clienti che hanno attivato o attivano l’offerta in edizione limitata Wind Celebration.
                            </div>
                        </p>
                        <p>
                            <a href="../img/pdf_download.pdf" download class="download_pdf_container">
                                <span class="download_pdf_text font_size_m_14">
                                    Scarica il regolamento
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- _________________________________ -->
</div>
