<!-- ================================ -->
<!-- ========== ACCORDION =========== -->
<!-- ================================ --> 
<div class="vetrina_accordions">
    <!-- NOME UNIVOCO PER IL BLOCCO (modificabile, non ha classi o dipendenze) -->
    <div class="showcase_accordions_block">
        <!-- tirato fuori dal blocco per poter usare gli accordions da soli -->
        <ul>
            <li class="showcase_accordions_block__single">
                <input type="checkbox" checked class="accordionBox">
                <i></i>
                <h2>Faq e Regolamento</h2>
                <div class="showcase_accordions_block__container">
                    <div>
                        <p>
                            <span class="faq_inpage__title">Se durante una giornata effettuo più di una Ricarica, ho più possibilità di vincere?</span>
                            <div class="faq_inpage__description">
                                Si, ogni carta SIM partecipa all’estrazione giornaliera per un numero di volte equivalente al numero di ricariche effettuate nella giornata di riferimento, fino ad un massimo di 5 volte.
                            </div>
                            <span class="faq_inpage__title">Per partecipare al Concorso, che importo di Ricarica devo utilizzare?</span>
                            <div class="faq_inpage__description">
                                Tutti i tagli di Ricarica partecipano al Concorso.
                            </div>
                            <span class="faq_inpage__title">Se ricarico una linea intestata ad altra persona, posso comunque partecipare all’estrazione del premio?</span>
                            <div class="faq_inpage__description">
                                In tutti i casi il premio giornaliero sarà assegnato all’intestatario della SIM come risulta dai dati presenti sui sistemi WIND.
                            </div>
                            <span class="faq_inpage__title">Vorrei che la consegna del premio avvenisse presso un indirizzo diverso da quello che ho fornito a Wind al momento dell’attivazione della mia linea mobile. Cosa devo fare?</span>
                            <div class="faq_inpage__description">
                                In caso di vincita, sarai contattato telefonicamente e potrai indicare l’indirizzo per la consegna del premio.
                            </div>
                            <span class="faq_inpage__title">Posso partecipare al Concorso ricaricando da canali diversi rispetto al sito wind.it e alle App di Wind?</span>
                            <div class="faq_inpage__description">
                                No, la partecipazione al concorso è prevista esclusivamente per i clienti WIND che ricaricano la propria SIM mobile prepagata da uno dei seguenti canali digitali: App Veon, App MyWind, sito web www.wind.it, sito mobile m.wind.it, ed i servizi di Autoricarica di www.wind.it.
                            </div>
                            <span class="faq_inpage__title">Quali sono le modalità di pagamento consentite?</span>
                            <div class="faq_inpage__description">
                                &Egrave; possibile pagare la ricarica online con carta di credito, PayPal, addebito su Conto Telefonico Wind e Banco Posta Online. Wind Tre S.p.A. con Socio Unico - Direzione e Coordinamento VIP-CKH Luxembourg S.à r.l. Sede legale: Via Leonardo da Vinci, 1 – 20090 Trezzano S/N (MI) Italia - Reg. Imp/C.F.: 02517580920 Partita IVA: 13378520152 - RAEE IT08020000002813 - Cap. sociale EURO 474.303.795,00 i.v
                            </div>
                        </p>
                        <p>
                            <a href="../img/regolamento.pdf" download class="download_pdf_container">
                                <span class="download_pdf_text font_size_m_14">
                                    Scarica il regolamento
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- _________________________________ -->
</div>
