// vars colors
$color_veon: #F69A5D;



// vars fonts
$font_family_regular: "Trade Gothic", sans-serif;
$font_family_bold: "Trade Gothic Bold", sans-serif;
$font_family_cond: "Trade Gothic Condensed", sans-serif;
$font_family_bold_cond: "Trade Gothic Bold Condensed", sans-serif;
$font_family_cond_oblique: "Trade Gothic Condensed Italic", sans-serif;
$font_family_light: "Trade Gothic Light", sans-serif;

// Breakpoint Vars
$breakpoints: ( 'super-tiny': ( max-width: 480px),
'tiny': ( max-width: 600px),
'small': ( max-width: 768px),
'medium': ( max-width: 910px),
'large': ( min-width: 1200px),
'larger-1024': ( min-width: 1024px),
'custom': ( min-height: 40em),
'min-small':( min-width: 767px),
'min-desktop-plusborder':( max-width: 1040px),
'min-desktop':( max-width: 1024px),
'med-large':( max-width: 992px));
