// vars colors
$color_veon: #FFCB24;
$color_white: #fff;
$color_black: #000;
$color_gray: #ededed;




// Breakpoint Vars
$breakpoints: ( 'super-tiny': ( max-width: 480px),
'tiny': ( max-width: 600px),
'small': ( max-width: 768px),
'medium': ( max-width: 910px),
'large': ( min-width: 1200px),
'larger-1024': ( min-width: 1024px),
'custom': ( min-height: 40em),
'min-small':( min-width: 767px),
'min-desktop-plusborder':( max-width: 1040px),
'min-desktop':( max-width: 1024px),
'med-large':( max-width: 992px));
