@import 'bootstrap-select';
@font-face {
    font-family: 'GothamXNarrow Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Gotham XNarrow Medium'), local('Gotham-XNarrow-Medium'), url(../font/ufonts.com_gothamxnarrow-medium-opentype.woff) format('woff');
}

@font-face {
    font-family: 'GothamXNarrow Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Gotham XNarrow Bold'), local('Gotham-XNarrow-Bold'), url(../font/ufonts.com_gothamxnarrow-bold-opentype.woff) format('woff');
}

@font-face {
    font-family: 'GothamXNarrow Light';
    font-style: normal;
    font-weight: 400;
    src: local('Gotham XNarrow Book'), local('Gotham-XNarrow-Book'), url(../font/ufonts.com_gothamxnarrow-book-opentype.woff) format('woff');
}

$breakpoints: ( 'super-tiny': ( max-width: 480px), 'tiny': ( max-width: 600px), 'small': ( max-width: 768px), 'medium': ( max-width: 910px), 'large': ( min-width: 1200px), 'custom': ( min-height: 40em), 'min-small':( min-width: 767px), 'min-desktop':( max-width: 1024px), 'med-large':( max-width: 992px));
// Creating the mixin
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a your breakpoint named `#{$name}`.";
    }
}

$gotham-medium: 'GothamXNarrow Medium';
$gotham-bold: 'GothamXNarrow Bold';
$gotham-light: 'GothamXNarrow Light';
$gothic-bold: 'Trade Gothic Bold';
$gothic-light: 'Trade Gothic Light';
$wind-blue: #2d4b9b;
$wind-gray: #87888a;
$wind-orange: #ff6a00;
$weight-light: 'Trade Gothic Light';
$weight-normal: 'Trade Gothic';
$weight-bold: 'Trade Gothic Bold';
$weight-boldCond: 'Trade Gothic Bold Cond';
$title-big: 3.750em; //60px
$text-standard: 0.875em; //14px
$text-medium: 2.500em; // 40 in base 16
$color-lighterGrey: #f4f4f4; // new color
$color-lightGrey: #e6e9ed;
$color-mediumGrey: #d3d3d2;
$color-darkGrey: #4a4a4a; // Placeholder
$color-darkerGrey: #292f36; // Standard Text
$color-darkestGrey: #212121; // Home and Life
$color-lightBlue: #009bbe; // Mobile
$color-mediumBlue: #0069b3; // Infostrada
$color-orange: #f48135; // Wind
$color-white: #ffffff;
$color-black: #000000;
$color-lightGray: $color-lightGrey;
$color-gray-mediumBg: $color-mediumGrey;
$medium-gray: $color-mediumGrey;
$color-placeholder: $color-darkGrey;
$color-standardText: $color-darkerGrey;
$color-HomeLifeBackground: $color-darkestGrey;
$color-HomeLife-Background: $color-darkestGrey;
$color-blue: $color-mediumBlue;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }
    @include optional-at-root(':-moz-placeholder') {
        @content;
    }
    @include optional-at-root('::-moz-placeholder') {
        @content;
    }
    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

//usage ----> 
// .foo {
//   @include placeholder {
//     color: green;
//   }
// }
// OPACITY
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}


/* ====================CLASSI GENERICHE=====================  */

.btn-default {
    color: $wind-gray;
}

div {
    box-sizing: border-box;
}

.clear {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.float {
    &_left {
        float: left;
    }
    &_right {
        float: right;
    }
}

.padding {
    &_left {
        &_5 {
            padding-left: 5px;
        }
        &_10 {
            padding-left: 10px;
        }
    }
    &_right {
        &_5 {
            padding-right: 5px;
        }
    }
}

.margin {
    &_top {
        &_neg5 {
            margin-top: -5px;
        }
        &_5 {
            margin-top: 5px;
        }
        &_8 {
            margin-top: 8px;
        }
        &_10 {
            margin-top: 10px;
        }
        &_15 {
            margin-top: 15px;
        }
        &_25 {
            margin-top: 25px;
        }
    }
    &_bottom {
        &_5 {
            margin-bottom: 5px;
        }
        &_10 {
            margin-bottom: 10px;
        }
        &_15 {
            margin-bottom: 15px;
        }
    }
}

.text {
    &_color {
        &_blue {
            color: $wind-blue;
        }
        &_orange {
            color: $wind-orange;
        }
        &_white {
            color: #fff;
        }
    }
    &_align {
        &_right {
            text-align: right;
        }
        &_center {
            text-align: center;
        }
        &_left {
            text-align: left;
        }
    }
    &_uppercase {
        text-transform: uppercase;
    }
    &_size {
        &_12 {
            font-size: 12px;
        }
        &_14 {
            font-size: 14px;
        }
        &_16 {
            font-size: 16px;
        }
        &_18 {
            font-size: 18px;
        }
        &_20 {
            font-size: 20px;
        }
        &_25 {
            font-size: 25px;
        }
        &_30 {
            font-size: 30px;
        }
    }
}

.line_height {
    &_12 {
        line-height: 14px;
    }
    &_14 {
        line-height: 16px;
    }
    &_16 {
        line-height: 18px;
    }
    &_18 {
        line-height: 20px;
    }
    &_20 {
        line-height: 22px;
    }
    &_25 {
        line-height: 27px;
    }
    &_30 {
        line-height: 32px;
    }
}

.text_on_bg {
    z-index: 200;
}

.position {
    &_absolute {
        position: absolute;
    }
    &_top {
        &_20 {
            top: 20px;
        }
    }
}

.display_inline {
    display: inline-block;
}

.height_65 {
    height: 65px;
}


/* ==========================================================  */

.error_notification {
    border-bottom: 3px solid #ff0000 !important;
}

.error_mark {
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 0px;
    color: red;
    z-index: 300;
    display: none;
}

.error_notification ~ .error_mark {
    display: block;
}


/* ====================COLORI BACKGROUND=====================  */

.colored_bg--orange {
    background: $wind-orange;
}

.colored_bg--blue {
    background: $wind-blue;
    transition: background-color 1.5s ease;
}

.colored_bg--softGrey {
    background: #ededed;
    transition: background-color 0.5s ease;
}

.colored_bg--grey {
    background: $wind-gray;
}

.colored_bg--white {
    background: #fff;
}


/* ========================================================= */


/* ====================FORMATTAZIONE TESTo=====================  */

.price {
    &_big {
        font-size: 50px;
    }
    &_small {
        font-size: 21px;
    }
    &_barred {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 21px;
        font-weight: normal;
        position: relative;
        &::after {
            border-bottom: 2px solid #000;
            content: "";
            left: 0;
            margin-top: calc(0.125em / 2 * -1);
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: rotate(-15deg);
            -moz-transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
    }
}


/* ========================================================= */

.floating_image {
    z-index: 500;
    position: absolute;
    left: 0;
    bottom: 0;
}

.top_modal_select {
    position: relative;
    z-index: 350;
}

.container_right {
    position: relative;
    left: -300px;
}

.weight {
    &_light {
        font-family: $gotham-light;
    }
    &_medium {
        font-family: $gotham-medium;
    }
    &_bold {
        font-family: $gotham-bold;
    }
}

.container_banner {
    width: 300px;
    height: 250px;
    position: relative;
    border: 1px solid #ccc;
    float: left;
    overflow: hidden;
    font-family: $gotham-light;
}

.colored_bg {
    width: 1000%;
    height: 248px;
    position: absolute;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    &.first_layer {
        right: 85%;
        z-index: 150;
    }
    &.second_layer {
        right: 84%;
        z-index: 100;
    }
    &.third_layer {
        right: 82%;
        z-index: 50;
    }
}


/* ============ FORM ============= */

.mainContainer_banner {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 250px;
    border: 1px solid #ededed;
}

.subContainer_banner {
    position: absolute;
    width: 600px;
    height: 250px;
    z-index: 600;
    .container_background_stripes {
        position: relative;
        left: 0%;
        z-index: 500;
    }
}

.container_form {
    width: 300px;
    height: 250px;
    position: relative;
    float: left;
    overflow: hidden;
    a {
        text-decoration: none;
        &.number_present {
            text-decoration: underline;
            &:hover,
            &:visited {
                @include opacity(0.7);
                color: #fff;
            }
        }
    }
}

.subcontainer_form {
    width: 220px;
    margin: 0 auto;
    position: relative;
    z-index: 200;
}

.button {
    background-color: $wind-orange;
    color: #fff;
    padding-top: 11px;
    padding-bottom: 5px;
    display: block;
    font-size: 13px;
    margin: 8px auto 5px auto;
    text-align: center;
    height: auto;
    width: 220px;
    font-style: italic;
    text-transform: uppercase;
    border-color: $wind-orange;
    @include border-radius(4px);
    &:hover {
        background-color: #f78f4c;
        color: #fff;
    }
    &:visited,
    &:focus {
        color: #fff;
    }
}

.button-arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5px 0 3.5px 6.1px;
    border-color: transparent transparent transparent #ffffff;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
}

.input {
    &_banner {
        height: 27px;
        box-sizing: border-box;
        font-family: $gotham-light;
        @include placeholder {
            color: $wind-gray;
        }
    }
    &_container {
        position: relative;
    }
    &_city {
        .input_banner {
            width: 220px;
        }
    }
    &_telephone {
        width: 220px;
        margin: 5px auto 0 auto;
        .input_telNumber {
            width: calc(80% - 5px);
        }
        .input_prefix {
            width: 20%;
        }
    }
    &_address {
        .input_banner {
            width: 175px;
        }
    }
    &_number {
        .input_banner {
            width: 40px;
        }
    }
    &_banner {
        width: 280px;
        padding: 7px 0 3px 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        outline: 0;
        border: 1px solid #ccd1d9;
        background-color: white;
        &:focus {
            border: 1px solid #f48135;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        &:hover,
        &:active {
            border: 1px solid #f48135;
        }
    }
}

.container_image {
    .image_logo {
        width: 70px;
        &_2 {
            width: 120px;
        }
    }
}

.logo_full {
    width: 300%;
    background-color: #fff;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    z-index: 150;
    left: -75%;
    .image_logo {
        width: 130px;
    }
}

.hidden_input {
    .error_mark {
        top: 0px;
        right: 5px;
    }
    &_overlay {
        width: 100%;
        height: 44%;
        display: none;
        position: absolute;
        background-color: $wind-blue;
        z-index: 200;
        bottom: 0;
        left: 0px;
        .button_close {
            cursor: pointer;
            color: #fff;
            z-index: 350;
            text-decoration: underline;
            margin-top: 8px;
            &:hover {
                @include opacity(0.7);
            }
        }
    }
}


/* ========= SELECT ========== */

.bootstrap-select {
    &.btn-group {
        .dropdown-toggle {
            .filter-option {
                font-family: $gotham-light;
            }
            .caret {
                color: $wind-orange;
            }
        }
    }
    .btn {
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 10px;
    }
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        background-color: $wind-orange;
    }
}


/* ========= FIX VARI ========== */

.select_banner_container select {
    height: 28px;
    width: 220px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    outline: 0;
    border: 1px solid #ccd1d9;
    background-color: white;
}

.autosuggest {
    position: absolute;
    z-index: 220;
    background-color: #fff;
    overflow: scroll;
}

#as_comune {
    top: 105px !important;
    left: 41px !important;
    max-height: 96px;
}

#as_indirizzoEsteso {
    top: 139px !important;
    left: 42px !important;
    max-height: 65px;
}

.autosuggest ul {
    list-style: none;
    padding-left: 15px;
    margin-top: 5px;
}

.autosuggest ul li span {
    color: #292f36;
    font-size: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


/* ========= FIX VARI ========== */
.overlay_html{
  z-index: 950;
  background-color: #666;
  @include opacity(0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;

}
.html_order {
    width: 100%;
    display: none;
    height: 600px;
    border: 1px solid #666;
    position: absolute;
    bottom: 75px;
    z-index: 1000;
}

.banner_cms {
    .title {
        font-size: 18px;
        margin: 0;
    }
    .subtitle {
        font-size: 14px;
        margin: 0;
    }
}

//================ CMS ============
// ============================== CREATORE VISORE =========================
// ============================== CREATORE VISORE =========================
// ============================== CREATORE VISORE =========================
.torna_su {
    text-align: center;
    color: $color-orange;
    cursor: pointer;
    display: none;
    &:hover {
        color: #333;
    }
}

.generateHTML {
    margin: 0;
}

.container_prototype {
    margin: 30px;
    background-color: #ededed;
    padding: 5px;
    @include border-radius(10px);
    .aggiunto_blocco {
        width: calc(100% - 30px);
        color: $color-lightBlue;
        background-color: white;
        height: 50px;
        position: fixed;
        bottom: 30px;
        z-index: 450;
        border: 1px solid $color-lightBlue;
        right: 15px;
        padding-top: 15px;
        text-align: center;
        display: none;
        font-family: $weight-bold;
        @include border-radius(10px);
    }
    .overlay_loader {
        @include opacity(0.7);
        background-color: #444;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        z-index: 400;
    }
    .loader {
        display: none;
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: absolute;
        z-index: 500;
        left: calc(50% - 60px);
        top: calc(50% - 60px);
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .mostra_blocchi {
        display: none;
    }
    .container_cms {
        margin-top: 15px;
    }
    &.pagine {
        h3 {
            float: none;
        }
        h1 {
            width: 120px;
            margin-top: 10px;
            position: relative;
            top: 20px;
            @include breakpoint(tiny) {
                display: none;
            }
        }
        .remove.hide_cms {
            width: auto;
            width: 75px;
            height: 35px;
            margin-top: 5px;
            @include breakpoint(tiny) {
                margin-left: 5px;
            }
            &.enhance {
                background-color: white;
                border: 1px solid red;
                color: $color-orange;
            }
            &:hover {
                background-color: $color-orange;
                color: white;
            }
        }
        .standard_blockInfo__select {
            margin-left: 0px;
            min-width: 110px;
        }
        .elemento_creatore {
            position: relative;
            height: 100px;
            text-align: center;
            border: 1px solid #dedede;
        }
        .container_immagine_cms {
            position: relative;
        }
        .action_red {
            background-color: red !important;
            height: auto;
        }
        .action_grey {
            background-color: #a1a3bb !important;
            height: auto;
        }
        .action_black {
            background-color: #333 !important;
            height: auto;
        }
        .action_blue {
            background-color: blue !important;
            height: auto;
            @include breakpoint(tiny) {
                margin-top: 15px;
            }
        }
        .immagine_overlay {
            position: relative;
            top: 0px;
            width: 100%;
            height: auto;
        }
        .overlay_immagine {
            width: 300px;
            height: auto;
            z-index: 300;
            background-color: #444;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            border: 5px solid red;
        }
        .immagine_creaPagine {
            max-height: 50px;
            margin-top: 5px;
            cursor: pointer;
            position: relative;
            max-width: 130px;
            &.small {
                height: auto;
                max-width: 130px;
            }
            // &:hover{    
            //   border: 1px solid red;
            //   &~.overlay_immagine{
            //     display: block;
            //   }
            // }
        }
    }
    .standard_blockInfo__select {
        margin-left: 5px;
        margin-bottom: 0px;
        float: left;
        margin-right: 10px;
        margin-top: -15px;
        .base__select {
            &.bootstrap-select {
                .dropdown-toggle {
                    padding-top: 5px;
                    padding-bottom: 2px;
                }
            }
        }
    }
    .bootstrap-select {
        width: auto !important;
        &.btn-group {
            .dropdown-menu {
                min-width: 50px;
                background-color: #ededed !important;
            }
        }
    }
    .btn-default {
        background-color: #ededed !important;
    }
    .immBollo {
        height: 40px;
        width: 40px;
        float: left;
        margin-right: 5px;
        cursor: pointer;
        &:hover {
            @include opacity(0.5);
        }
    }
    #invertiVisore,
    #cambiaPulsanti,
    #share {
        margin-left: 0;
    }
    .remove {
        background: red;
        color: white;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        width: 60px;
        height: 24px;
        border-radius: 5px;
        float: left;
        margin-left: 15px;
        padding-top: 6px;
        cursor: pointer;
        &.hide_cms {
            background: $color-orange;
            color: #fff;
            padding-left: 5px;
            padding-right: 5px;
            width: 70px;
            position: relative;
            float: left;
        }
        &.riduci {
            background-color: $color-lightBlue;
            color: #fff;
        }
        &:hover {
            background-color: #333;
        }
    }
    .cancella {
        float: left;
        color: red;
        position: relative;
        top: 8px;
        cursor: pointer;
        left: 10px;
        &:hover {
            color: white;
        }
    }
    .confirm {
        width: 0;
        height: 0;
        border-style: solid;
        position: relative;
        top: 2px;
        margin-left: 15px;
        cursor: pointer;
        border-width: 12.5px 0 12.5px 21.7px;
        border-color: transparent transparent transparent $color-orange;
        float: left;
        &:hover {
            border-color: transparent transparent transparent $color-lightBlue;
        }
    }
    h3 {
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 10px;
        float: left;
    }
    h1 {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        float: left;
        margin-left: 30px;
    }
    .base__input {
        width: 200px;
        padding-top: 8px;
        padding-bottom: 5px;
        font-size: 12px;
        float: left;
    }
}

.changeColor {
    height: 15px;
    width: 15px;
    display: block;
}

.label_banner {}

.container_prezzo_barrato {
    display: none;
}

.prezzo_barrato_grande,
.prezzo_barrato_piccolo {
    width: 100px !important;
}

.color {
    &--lightBlue {
        color: $color-lightBlue !important;
    }
    &--orange {
        color: $color-orange !important;
    }
    &--black {
        color: $color-standardText !important;
    }
    &--white {
        color: $color-white !important;
    }
    &--blue {
        color: $color-mediumBlue !important;
    }
}
