<div class="landing__footer">
    <div class="landing__footer__container">
        <div class="landing__footer__box landing__footer__box--left">
            ©WIND TELECOMUNICAZIONI S.p.A. <span class="only_desktop">-</span>
            <br class="only_mobile">Partita IVA: 05410741002
        </div>
        <div class="landing__footer__box landing__footer__box--right">
            <img src="../img/logos/wind-logo-footer.png" class="footer-logo">
        </div>
    </div>
    <div class="cta_box_fixed"></div>
