<div class="landing__header">
    <div class="landing__header__bg">
        <div class="container">
            <div class="landing__header__container landing__header__container--left">
                <div class="logo logo--wind">
                    <img src="../img/logos/wind_logo.png" class="wind">
                </div>
            </div>
            <div class="landing__header__container landing__header__container--right">
                <img src="../img/logos/solo_online.png" class="landing__header__offer">
                <div class="landing__header__container--logos">
                    <img src="../img/logos/virtual-assistant.png" class="landing__header__va">
                    <div class="landing__header__icon__text">assistenza</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="landing__header--margin"></div>
