<div class="landing_restyle">
    <div class="landing_restyle__visore__overflowing ">
        <div class="landing_restyle__visore">
            <div class="landing_restyle__visore__mainContainer">
                <div class="landing_restyle__visore__coloredBg colored_bg--business"></div>
                <!-- BACKGROUND COLORATO DI DIVISIONE TRASVERSALE-->
                <div class="slider__hero">
                    <div class="slider__hero__single">
                        <div class="landing_restyle__visore__half_block float_right">
                            <div class="landing_restyle__visore__half_block--imageContainer">
                                <img src="../img/headphones.png" class="landing_restyle__visore__image" />
                            </div>
                        </div>
                        <div class="landing_restyle__visore__half_block float_left">
                            <div class="container_mid_row">
                                <div class="column_left float_left">
                                    <div class="landing_restyle__visore__title align_center">Wind Magnum
                                        <!-- TITOLO GRANDE-->
                                    </div>
                                    <div class="landing_restyle__visore__text">Wind Magnum, l'offerte NO TAX con 2 SIM e tanti GIGA da condividere su Smartphone, Tablet e PC
                                        <!-- DESCRIZIONE-->
                                    </div>
                                    <div class="clear"></div>
                                    <div class="offer_detail align_center">
                                        <span class="offer_detail__gigs"> 4 GIGA</span>
                                        <span class="offer_detail__offerDetail">Tutto illimitato</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="priceRow align_center">
                                        <span class="mainPrice">15&nbsp;</span>
                                        <span class="euro">€</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="landing_restyle__visore__singleButton">
                                        <a href="#" class="button">scopri</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__hero__single">
                        <div class="landing_restyle__visore__half_block float_right">
                            <div class="landing_restyle__visore__half_block--imageContainer">
                                <img src="../img/headphones.png" class="landing_restyle__visore__image" />
                            </div>
                        </div>
                        <div class="landing_restyle__visore__half_block float_left">
                            <div class="container_mid_row">
                                <div class="column_left float_left">
                                    <div class="landing_restyle__visore__title align_center">Wind Magnum
                                        <!-- TITOLO GRANDE-->
                                    </div>
                                    <div class="landing_restyle__visore__text">Wind Magnum, l'offerte NO TAX con 2 SIM e tanti GIGA da condividere su Smartphone, Tablet e PC
                                        <!-- DESCRIZIONE-->
                                    </div>
                                    <div class="clear"></div>
                                    <div class="offer_detail align_center">
                                        <span class="offer_detail__gigs"> 4 GIGA</span>
                                        <span class="offer_detail__offerDetail">Tutto illimitato</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="priceRow align_center">
                                        <span class="mainPrice">15&nbsp;</span>
                                        <span class="euro">€</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="landing_restyle__visore__singleButton">
                                        <a href="#" class="button">scopri</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__hero__single">
                        <div class="landing_restyle__visore__half_block float_right">
                            <div class="landing_restyle__visore__half_block--imageContainer">
                                <img src="../img/headphones.png" class="landing_restyle__visore__image" />
                            </div>
                        </div>
                        <div class="landing_restyle__visore__half_block float_left">
                            <div class="container_mid_row">
                                <div class="column_left float_left">
                                    <div class="landing_restyle__visore__title align_center">Wind Magnum
                                        <!-- TITOLO GRANDE-->
                                    </div>
                                    <div class="landing_restyle__visore__text">Wind Magnum, l'offerte NO TAX con 2 SIM e tanti GIGA da condividere su Smartphone, Tablet e PC
                                        <!-- DESCRIZIONE-->
                                    </div>
                                    <div class="clear"></div>
                                    <div class="offer_detail align_center">
                                        <span class="offer_detail__gigs"> 4 GIGA</span>
                                        <span class="offer_detail__offerDetail">Tutto illimitato</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="priceRow align_center">
                                        <span class="mainPrice">15&nbsp;</span>
                                        <span class="euro">€</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="landing_restyle__visore__singleButton">
                                        <a href="#" class="button">scopri</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="dots_prova"></div>
</div>


<script>
jQuery(document).ready(function($) {


    function initSliders() {
        $('.slider__hero').slick({
            dots: true,
            arrows: false,
            infinite: true,
            speed: 800,
            autoplay: false,
            autoplaySpeed: 5000,
            dotsClass: 'slider__dots',
            touchMove: true,
            appendDots: $('.dots_prova'),
            customPaging: function(slider, i) {
                var thumb = $(slider.$slides[i]).data('thumb');
                return '<div class="slider__single"></div>';
            },
            responsive: [{
                breakpoint: 768,
            }]
        });
    }
    initSliders();

});
</script>