<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero__imageContainer">
                <img src="../img/testimonial.png" alt="">
            </div>
            <div class="landing__hero--title">
                <h1>All Inclusive 1000<br>Limited Edition</h1>
            </div>
            <div class="bundle_orange__container">
                <div class="bundle_orange">
                    <div class="bundle_orange__number">1000</div>
                    <div class="bundle_orange__title">minuti</div>
                </div>
                <div class="bundle_orange">
                    <div class="bundle_orange__number">1000</div>
                    <div class="bundle_orange__title">sms</div>
                </div>
                <div class="bundle_orange">
                    <div class="bundle_orange__number">3</div>
                    <div class="bundle_orange__title">GB</div>
                </div>
            </div>
            <div class="landing__hero--details">
                <div class="single">
                    <div class="image">
                        <img src="../img/check.png" alt="">
                    </div>
                    <div class="text">
                        attivazione gratuita
                    </div>
                </div>
                <div class="single">
                    <div class="image">
                        <img src="../img/check.png" alt="">
                    </div>
                    <div class="text">
                        primo canone gratuito
                    </div>
                </div>
            </div>
            <div class="landing__hero--ribbon">
                <div class="price">10,50<span class="currency">€</span></div>
                <div class="recurrency">ogni quattro settimane</div>
            </div>
            <div class="landing__hero--stamp">
                <div class="landing__hero--stamp--single">
                    <img src="../img/bolli_4g_free.png" alt="">
                </div>
                <div class="landing__hero--stamp--single">
                    <img src="../img/bollo_3_Giga.png" alt="">
                </div>
            </div>
            <a href="#" class="button button__hovering button--standard text_align--center" id="ecommerce_action">ATTIVALA SUBITO</a>
            <div class="landing__hero--claim">
                <h2>vivi digital,ti conviene</h2>
            </div>
        </div>
    </div>
</div>
