<div class="wind__offer--bundle">
    <div class="wind__offer--bundle_item">
        <div class="item--amount">500</div>
        <div class="item--label"><span class="what">Minuti</span><span class="to">verso tutti</span></div>
    </div>
    <div class="wind__offer--bundle_item">
        <div class="item--amount">500</div>
        <div class="item--label"><span class="what">SMS</span><span class="to">verso tutti</span></div>
    </div>
    <div class="wind__offer--bundle_item">
        <div class="item--amount">50</div>
        <div class="item--label"><span class="what">MEGA</span><span class="to">di internet</span></div>
    </div>
</div>