.storeDetail_block {
    // dettagli tab 2
    .slick-track{
        margin: 0 auto;
    }
    .offerBlock_slider__tabs--left {
        display: none;
    }
    .showcase_bundle_block {
        padding-top: 0px;
        .container_secondColumn {
            display: none;
        }
        &__tabs--title {
            display: none;
        }
    }
    //___________
    &__container {
        max-width: 1024px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__title {
        font-size: 2.250em;
        font-family: $weight-light;
        margin-left: 30px;
    }
    &__description {
        font-family: $weight-normal;
        font-size: 1em;
        margin-left: 30px;
    }
    &__contactUs {
        &__thirdColumn {
            .info_link {
                font-size: 1em;
            }
        }
        &__disclaimer {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        &__area {
            width: 100%;
            height: 275px;
            margin-top: 10px;
            text-align: left;
            resize: none;
            padding-top: 10px;
            padding-left: 10px;
            @include placeholder {
                color: $color_text_lighter; 
            }
        }
        &__input {
            margin-top: 10px;
        }
        &--title {
            font-size: 1.875em;
            font-family: $weight-bold;
            margin-bottom: 20px;
        }
        &--subtitle {
            font-size: 1em;
            font-family: $weight-bold;
            margin: 20px 0 0 0;
        }
        &--services,
        &--telephone,
        &--fax {
            font-family: $weight-normal;
        }
        &--day {
            width: 100px;
            display: inline-block;
        }
        &__container {
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
        }
    }
    #container_posts_gplus {
        background-color: $color_grey_light_light; //#e1e1e1;
        padding-bottom: 30px;
        .posts_gplus {
            text-align: center;
            padding-top: 20px;
            @include breakpoint(medium) {
                margin: 0 auto;
                padding: 0;
            }
        }
        ul {
            -webkit-padding-start: 0px;
            padding: 0px;
        }
        .post_gplus {
            list-style: none;
            display: inline-block;
            vertical-align: top;
            background-color: $color_white;
            width: calc(50% - 60px);
            border: 4px solid $color_white;
            text-align: center;
            font-size: 1em;
            padding-top: 25px;
            @include breakpoint(medium) {
                display: block;
                width: 90%;
                margin: 0 auto;
                margin-top: 30px;
            }
            .pageName_gplus {
                float: left;
                width: 85%;
                font-family: $weight-bold;
                text-align: left;
                padding-left: 20px;
                @include breakpoint(small) {
                    width: 75%;
                    margin-left: 20px;
                }
            }
            .logo_image_gplus {
                float: left;
                text-align: left;
                padding-left: 20px;
                width: 15%;
                @include breakpoint(small) {
                    body {
                        font-size: 14px;
                    }
                }
            }
            .link_title_post_gplus {
                display: none;
            }
            &.sx {
                margin-right: 30px;
                @include breakpoint(medium) {
                    margin: 0 auto;
                }
            }
            .published_gplus {
                text-align: left;
                padding-left: 20px;
                float: left;
                color: $color_text_lighter;
                @include breakpoint(small) {
                    margin-left: 20px;
                    width: 60%;
                }
            }
            .content_gplus {
                text-align: left;
                padding: 0px 20px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }
        .post_img_gplus {
            img {
                width: 100%;
            }
        }
    }
}
