//customizing page: Windgroup/Investitori Reports Presentazioni
.title__default--report {
    border: none;
}

.content_acordeon--report {
    .panel-heading.active {
        background-color: $color_grey_light_light; //#f4f4f4;
    }
    .panel-collapse {
        background-color: $color_grey_light_light; //#f4f4f4;
        .panel-body {
            padding: 0 0 0 1.5rem;
        }
    }
}

.panel-group--report .base__accordion .panel-heading .panel-title a.accordion-toggle {
    // width: 100%
    font-size: 1.1rem;
}

.content_acordeon_s .panel-group .panel.base__accordion-mobile {
    margin: 0;
    width: 100%;
    .panel-heading.active {
        background-color: $color_white; //white;
    }
    .collapse.in.in {
        background-color: $color_white; //white;
    }
    .panel-collapse .panel-body {
        padding-left: 1rem;
        p {
            padding-left: 0.5rem;
        }
        .base__accordion-mobile {
            border-bottom: 1px solid $color_stroke; //#d7d5d0;
            &:last-child {
                border-bottom: $color_transparent;
            }
            .panel-heading {
                padding-left: 0.5rem;
                padding-right: 1.5rem;
            }
            .panel-heading.active {
                background-color: $color_grey_light_light; // #f4f4f4;
            }
            .pull-right {
                color: $color_wind;
            }
            .panel-collapse .panel-body {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                background-color: $color_grey_light_light; //#f4f4f4;
                .btn_pdf {
                    padding-left: 0;
                    padding-right: 1rem;
                    border-top: 1px solid $color_white; //white;
                }
            }
        }
    }
}

.tabs_cont {
    .base__tabs--investitori.nav-tabs {
        background-color: $color_grey_light; // #e6e9ed;
        height: 50px;
        li a {
            margin-right: 56px;
            @include defaultTxt($font_family_light, 1.143rem);
            color: $color_text; // $color_grey_dark;
        }
        li {
            float: right;
            a {
                &:hover {
                    color: $color_wind;
                    background-color: $color_grey_light; //#e6e9ed;
                }
            }
            &.active {
                a {
                    color: $color_wind;
                    border-bottom-color: $color_wind;
                    background-color: $color_grey_light; //#e6e9ed;
                }
            }
        }
    }
    .hvr-underline-reveal:before {
        background: $color_wind;
    }
    .base__select.select_irp.bootstrap-select {
        float: right;
        margin: 1rem 0 2rem;
        @media (max-width: 767px) {
            width: 100% !important;
        }
        .dropdown-toggle .bs-caret .caret {
            right: 1.5rem;
        }
    }
}

.content__internal-irp {
    @include boxWF(left, 100%);
    padding: 0 1rem;
    .btn_pdf {
        @include boxWF(left, 100%);
        padding: 0.9rem 1.5rem 0.6rem 0;
        border-top: 1px solid $color_stroke; //#d7d5d0;
        h5 {
            @include boxWF(left, 45%);
            @include defaultTxt($font_family_light, 1rem);
            color: $color_text; //#444444;
            padding: 4px 0 0 0;
        }
        a.btn {
            @include boxWF(right, auto);
            color: $color_wind;
            padding: 0;
            line-height: 2rem;
            .base__icon {
                position: relative;
                top: -3px;
                right: -6px;
                float: right;
            }
            img {
                float: right;
                margin-left: 0.8rem;
            }
        }
    }
}
