.base__bullet-list {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 2rem;
  padding-left: 0;
  list-style-type: none;


  li {
    position: relative;
    padding-bottom: 1rem;
    .base__icon {
      width: 14px;
      height: 14px;
      display: inline-block;
      position: absolute;
      top: 3px;
      left: -2rem;
      
    }
  }
}