//buttons

.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
  font-size: 1.1rem;
  line-height: 1rem;
}

.base__bt {
  width: 200px;
  padding: .9rem 0;
  background: transparent;
  color: white;
  font-family: $font_family_light;
  font-size: .9rem;
  letter-spacing: 1px;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    padding: .9rem 0;
    font-size: .9rem;
    line-height: 1em;
  }
}

.base__bt--sm {
  width: 140px;
  padding: .75rem 0;
  font-size: .75rem;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    padding: .75rem 0;
    font-size: .75rem;
    line-height: 1em;
  }
}

.base__bt--lg {
  width: 280px;
  padding: 1.1rem 0;
  font-size: 1.1rem;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    padding: 1.1rem 0;
    font-size: 1.1rem;
    line-height: 1em;
  }
}

.base__bt--or {
  border: 1px solid $color_orange;
  background-color: $color_orange;
  color: white;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    border: 1px solid $color_orange;
    background-color: $color_orange_light;
    color: white;
  }

  &:disabled,
  &.waves-button:disabled {
    border-color: $color_grey_medium_light;
    background: $color_grey_medium_light;
  }
}

.base__bt--or2 {
  border: 1px solid $color_orange;
  background-color: $color_trasparent;
  color: $color_orange;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    border: 1px solid $color_orange;
    background-color: $color_orange_light;
    color: white;
  }

  &:disabled,
  &.waves-button:disabled {
    border-color: $color_grey_medium_light;
    background: $color_trasparent;
    color: $color_grey_medium_light;
  }
}

.base__bt--wh {
  border: 1px solid white;
  background-color: white;
  color: $color_orange;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    border: 1px solid $color_grey_medium_light;
    background-color: white;
    color: $color_orange;
  }

  &:disabled,
  &.waves-button:disabled {
    border-color: $color_grey_medium_light;
    background-color: white;
    color: $color_grey_medium_light;
  }
}

.base__bt [class*='-animate'] {
  font-size: 1rem;
}
