.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
    font-size: 1.1rem;
    line-height: 1rem;
}

.btn {
    font-family: $font_family_light;
    &:focus,
    &:active:focus,
    &.active:focus {
        outline-color: transparent;
        outline-style: none;
    }
}

.base__bt {
    background: transparent;
    color: $color_white;
    font-family: $font_family_light;
    letter-spacing: .05em;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    box-sizing: border-box;
    &:hover,
    &:active,
    &:visited,
    &:focus {
        line-height: 1em;
    }
    &--sm {
        width: 140px;
        height: 2.125rem;
        padding: .5625rem 0;
        font-size: 1rem;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            padding: .5625rem 0;
            font-size: 1rem;
        }
    }
    &--md {
        width: 200px;
        height: 2.625rem;
        padding: .781rem 0;
        font-size: 1.063rem;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            padding: .781rem 0;
            font-size: 1.063rem;
        }
    }
    &--lg {
        width: 280px;
        height: 3.25rem;
        padding: 1rem 0;
        font-size: 1.125rem;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            padding: 1rem 0;
            font-size: 1.125rem;
        }
    }
    &--full {
        width: 100% !important;
    }
    &--or {
        border: 1px solid $color_orange;
        background-color: $color_orange;
        color: $color_white;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            border: 1px solid $color_orange;
            background-color: $color_orange_light;
            color: $color_white;
        }
        &:disabled,
        &.waves-button:disabled {
            border-color: $color_grey_stroke;
            background: $color_grey_stroke;
        }
    }
    &--or2 {
        border: 1px solid $color_orange;
        background-color: $color_trasparent;
        color: $color_orange;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            border: 1px solid $color_orange_light;
            background-color: $color_trasparent;
            color: $color_orange_light;
        }
        &:disabled,
        &.waves-button:disabled {
            border-color: $color_grey_stroke;
            background: $color_trasparent;
            color: $color_grey_stroke;
        }
    }
    &--wh {
        border: 1px solid $color_white;
        background-color: $color_white;
        color: $color_orange;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            border: 1px solid $color_orange_light;
            background-color: $color_white;
            color: $color_orange_light;
        }
        &:disabled,
        &.waves-button:disabled {
            border-color: none;
            background-color: $color_white;
            color: $color_grey_stroke;
            &:hover {
                border-color: $color_grey_stroke;
            }
        }
    }
    &--icon {
        .base__icon {
            height: 1rem;
            margin: 0 auto;
        }
        &.base__bt {
            &--mini {
                width: 60px;
            }
            &--compact {
                width: 100px;
            }
            &--sm {
                padding: .3rem 0;
                .base__icon {
                    height: 1.3rem;
                }
            }
            &--md {
                padding: .4rem 0;
                .base__icon {
                    height: 1.5rem;
                }
            }
            &--lg {
                padding: .6875rem 0;
                .base__icon {
                    height: 1.75rem;
                }
            }
        }
    }
}
