//buttons

.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
  font-size: 1.1rem;
  line-height: 1rem;
}

.base__bt {
  background: transparent;
  color: white;
  font-family: $font_family_light;
  letter-spacing: .05em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;
  box-sizing: border-box;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    line-height: 1em;
  }



  &--sm {
    width: 140px;
    height: 2.125rem;
    padding: .5625rem 0;
    font-size: 1rem;

    &:hover,
    &:active,
    &:visited,
    &:focus {
      padding: .5625rem 0;
      font-size: 1rem;
    }
  }

  &--md {
    width: 200px;
    height: 2.625rem;
    padding: .781rem 0;
    font-size: 1.063rem;

    &:hover,
    &:active,
    &:visited,
    &:focus {
      padding: .781rem 0;
      font-size: 1.063rem;
    }
  }

  &--lg {
    width: 280px;
    height: 3.25rem;
    padding: 1rem 0;
    font-size: 1.125rem;

    &:hover,
    &:active,
    &:visited,
    &:focus {
      padding: 1rem 0;
      font-size: 1.125rem;
    }
  }

  &--full {
    width: 100% !important;
  }

  &--or {
    border: 1px solid $color_orange;
    background-color: $color_orange;
    color: white;

    &:hover,
    &:active,
    &:visited,
    &:focus {
      border: 1px solid $color_orange;
      background-color: $color_orange_light;
      color: white;
    }

    &:disabled,
    &.waves-button:disabled {
      border-color: $color_grey_medium_light;
      background: $color_grey_medium_light;
    }
  }


  &--or2 {
    border: 1px solid $color_orange;
    background-color: $color_trasparent;
    color: $color_orange;

    &:hover,
    &:active,
    &:visited,
    &:focus {
      border: 1px solid $color_orange_light;
      background-color: $color_trasparent;
      color: $color_orange_light;
    }

    &:disabled,
    &.waves-button:disabled {
      border-color: $color_grey_medium_light;
      background: $color_trasparent;
      color: $color_grey_medium_light;
    }
  }


  &--wh {
    border: 1px solid white;
    background-color: white;
    color: $color_orange;

    &:hover,
    &:active,
    &:visited,
    &:focus {
      border: 1px solid $color_orange_light;
      background-color: white;
      color: $color_orange_light;
    }

    &:disabled,
    &.waves-button:disabled {
      border-color: none;
      background-color: white;
      color: $color_grey_medium_light;


      &:hover {
        border-color: $color_grey_medium_light;
      }
    }
  }

  &--icon {
    i.btn_icon {
      img {
        margin: 0 auto;
      }
    }


    &.base__bt {
      &--mini {
        width: 60px;
      }


      &--compact {
        width: 100px;
      }


      &--sm {
        padding: .3rem 0;


        i.btn_icon {
          img {
            height: 1.3rem;
          }
        }
      }


      &--md {
        padding: .4rem 0;


        i.btn_icon {
          img {
            height: 1.5rem;
          }
        }
      }


      &--lg {
        padding: .6875rem 0;


        i.btn_icon {
          img {
            height: 1.75rem;
          }
        }
      }
    }
  }
}


//.base__bt [class*='-animate'] {
//  font-size: 1rem;
//}
