/*outline: thin dotted \9;  IE6-9 */

input {
  &[type="text"]:focus,
  &[type="password"]:focus,
  &[type="datetime"]:focus,
  &[type="datetime-local"]:focus,
  &[type="date"]:focus,
  &[type="month"]:focus,
  &[type="time"]:focus,
  &[type="week"]:focus,
  &[type="number"]:focus,
  &[type="email"]:focus,
  &[type="url"]:focus,
  &[type="search"]:focus,
  &[type="tel"]:focus,
  &[type="color"]:focus,
  &[type="file"]:focus,
  &[type="checkbox"]:focus,
  &[type="radio"]:focus {
    border-color: $color_orange;
    outline-color: transparent;
    outline-offset: 0;
    outline-style: none;
  }
}

/*outline: thin dotted \9;  IE6-9 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(244, 129, 53, .2);
  background-image: none;
  color: $color_black;
}

/* input */

.base__input {
  display: inline-block;
  width: 280px;
  height: 3.25rem;
  padding: 1rem;
  transition: all .25s ease-in-out;
  border: 1px solid $color_grey_stroke;
  border-radius: 4px;
  outline: 0;
  background-color: $color_white;
  font-size: 1.125rem;
  appearance: none;
  -webkit-transition: all .25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    border: 1px solid $color_orange;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  &:hover,
  &:active {
    border: 1px solid $color_orange;
  }

  &.error {
    border-radius: 4px 4px 0 0;
    border-color: $color_red;
    color: $color_red;

    +.error {
      display: inline-block;
      width: 280px;
      padding: .5rem;
      border-radius: 0 0 4px 4px;
      background-color: $color_red;
      color: $color_white;
      text-align: center;
    }
  }

  &--small {
    width: 70%;
    margin-right: 5%;

    &.error {
      +.error {
        width: 70%;
        margin-right: 5%;
      }
    }
  }

  &--smaller {
    width: 25%;

    &.error {
      +.error {
        width: 25%;
      }
    }
  }

  &--full {
    width: 100%;
  }
}

.base__input--textarea {
  width: 100%;
  height: auto;

  &:focus {
    border-color: $color_orange;
    outline-color: transparent;
    outline-offset: 0;
    outline-style: none;
  }
}

@media (max-width: 767px) {
  .base__input {
    width: 100%;

    &.error {
      +span.error {
        width: 100%;
      }
    }

    &--small {
      width: 70%;

      &.error {
        +span.error {
          width: 70%;
        }
      }
    }

    &--smaller {
      width: 25%;

      &.error {
        +span.error {
          width: 25%;
        }
      }
    }
  }
}
