/* */
/* Original previous LESS format, converted to SASS */
/* */

.base .mfp-close-btn-in .mfp-close {
  position: fixed;
  color: white;
  right: 0;
  top: 0;
  padding: 0 0 18px 10px;
}

.base__popup {
  font-size: 1rem;
  color: white;
  background: transparent;
  padding: 20px;
  width: auto;
  margin: 0 auto;

  /* loading */
  .scrollable {
    width: auto;
    height: auto;
    margin: 1em 1em 1em 0;
    overflow-y: hidden;

    p {
      padding: 0 1em 0 0;
      font-size: 1rem;
      margin: 0;
    }
  }
}

.base__popup--loading {
  text-align: center;
  height: 100%;

  /* dialog */
  .base__loading {
    span {
      display: block;
      width: 100%;
      font-size: 1rem;
      padding: 2rem 0;
    }

    .fa-spinner {
      font-size: 4rem;
      color: $color_orange;
    }
  }
}

.base__popup--loading--dialog {
  max-width: 580px;
  width: auto;

  .container .base__popup--loading--dialog .container__bt {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

@media (min-width: 940px) {
  .base__popup--loading--dialog .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .base__popup--loading--dialog .container {
    width: 100%;
  }
}
