@font-face {
  font-family: 'Helvetica Light';
  src: url("fonts/HelveticaNeueLTCom-Th.woff") format("woff"), url("fonts/HelveticaNeueLTCom-Th.otf") format("opentype");
  font-weight: 300; }
@font-face {
  font-family: 'Helvetica Regular';
  src: url("fonts/HelveticaNeueLTCom-Roman.woff") format("woff"), url("fonts/HelveticaNeueLTCom-Roman.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: 'Helvetica Bold';
  src: url("fonts/HelveticaNeueLTCom-Bd.woff") format("woff"), url("fonts/HelveticaNeueLTCom-Bd.otf") format("opentype");
  font-weight: 700; }
/* ___________________ MIXIN __________________
                   BREAKPOINT MIXIN */
.slick-slide {
  outline: none; }

.float_left {
  float: left; }

.float_right {
  float: right; }

b {
  font-family: "Helvetica Bold"; }

.clear-fix:after,
.clear {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.text_align_center {
  text-align: center; }

.landing__netflix .hero_full_container {
  width: 100%;
  background-color: #000;
  padding: 30px; }
  @media (max-width: 768px) {
    .landing__netflix .hero_full_container {
      padding: 30px 15px; } }
.landing__netflix .hero_container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }
.landing__netflix .hero_logo {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 50px; }
.landing__netflix .hero_title {
  text-align: center;
  color: #fff;
  font-family: "Helvetica Bold";
  font-size: 52px;
  line-height: 54px;
  margin-bottom: 15px; }
.landing__netflix .hero_image {
  text-align: center;
  width: 100%;
  max-width: 545px;
  margin: 0 auto; }
.landing__netflix .offer_full_container {
  margin-bottom: 30px;
  width: 100%;
  background-color: #fff;
  padding: 30px; }
  @media (max-width: 768px) {
    .landing__netflix .offer_full_container {
      padding: 30px 15px; } }
.landing__netflix .offer_container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }
.landing__netflix .offer_maintitle {
  text-align: center;
  color: #000;
  font-family: "Helvetica Bold";
  font-size: 74px;
  line-height: 55px;
  margin-top: 15px; }
.landing__netflix .offer_subtitle {
  text-align: center;
  color: #000;
  font-family: "Helvetica Light";
  font-size: 52px;
  text-transform: uppercase;
  margin-bottom: 15px; }
.landing__netflix .offer_pack_container_image {
  display: inline-block;
  width: 45%;
  vertical-align: middle; }
  .landing__netflix .offer_pack_container_image .offer_image {
    width: 420px;
    height: auto; }
.landing__netflix .offer_pack_container_text {
  display: inline-block;
  width: 54.5%;
  vertical-align: middle; }
  .landing__netflix .offer_pack_container_text .offer_text {
    font-size: 28px;
    font-family: "Helvetica Light";
    margin-bottom: 30px; }
.landing__netflix footer {
  margin-top: 40px; }
  .landing__netflix footer .footer_full_container {
    width: 100%;
    background-color: #000;
    padding: 30px; }
    @media (max-width: 768px) {
      .landing__netflix footer .footer_full_container {
        padding: 30px 15px; } }
  .landing__netflix footer .footer_container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto; }
  .landing__netflix footer .footer_logo {
    max-width: 130px;
    margin: 0 auto; }
  .landing__netflix footer .copyright_container {
    text-align: center;
    margin: 50px 0;
    font-size: 20px;
    color: #fff;
    font-family: "Helvetica Light"; }
  .landing__netflix footer .copyright_main {
    display: inline-block; }
  .landing__netflix footer .copyright_link {
    color: #fff;
    display: inline-block; }
    .landing__netflix footer .copyright_link:hover {
      opacity: 0.8;
      filter: alpha(opacity=80);
      text-decoration: underline; }
.landing__netflix a.netflix_link:visited, .landing__netflix a.netflix_link:link, .landing__netflix a.netflix_link:focus {
  text-decoration: none;
  color: inherit; }
.landing__netflix .netflix_button {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  background-color: #db1221;
  border: 1px solid #db1221;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-family: "Helvetica Bold";
  padding: 30px 15px 25px 15px; }
  .landing__netflix .netflix_button:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }
.landing__netflix .image_responsive {
  width: 100%;
  height: auto; }
.landing__netflix .divider {
  height: 1px;
  width: 100;
  background-color: #000; }
.landing__netflix .container_accordion {
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px; }
  .landing__netflix .container_accordion .title:before {
    content: "i";
    height: 30px;
    bottom: 3px;
    position: relative;
    font-weight: 400;
    left: 13px;
    width: 30px;
    color: #000;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px; }
  .landing__netflix .container_accordion .title:after {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0;
    border: 1px solid #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
.landing__netflix .transition, .landing__netflix p, .landing__netflix ul li i:before, .landing__netflix ul li i:after {
  transition: all 0.25s ease-in-out; }
.landing__netflix .flipIn, .landing__netflix h1, .landing__netflix ul li {
  animation: flipdown 0.5s ease both; }
.landing__netflix .no-select, .landing__netflix h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.landing__netflix h1,
.landing__netflix h2 {
  color: #000; }
.landing__netflix h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100; }
.landing__netflix h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #fff;
  margin: 0;
  cursor: pointer; }
.landing__netflix p {
  color: #000;
  font-family: "Helvetica Light";
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2; }
.landing__netflix ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0; }
  .landing__netflix ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 4px; }
    .landing__netflix ul li:nth-of-type(1) {
      animation-delay: 0.5s; }
    .landing__netflix ul li:nth-of-type(2) {
      animation-delay: 0.75s; }
    .landing__netflix ul li:nth-of-type(3) {
      animation-delay: 1s; }
    .landing__netflix ul li:last-of-type {
      padding-bottom: 0; }
    .landing__netflix ul li i {
      position: absolute;
      transform: translate(-6px, 0);
      margin-top: 16px;
      right: 0; }
      .landing__netflix ul li i:before, .landing__netflix ul li i:after {
        content: "";
        position: absolute;
        background-color: #000;
        width: 1px;
        height: 17px; }
      .landing__netflix ul li i:before {
        transform: translate(-10px, -5px) rotate(-45deg); }
      .landing__netflix ul li i:after {
        transform: translate(2px, -5px) rotate(45deg); }
    .landing__netflix ul li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0; }
      .landing__netflix ul li input[type=checkbox]:checked ~ p {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%); }
      .landing__netflix ul li input[type=checkbox]:checked ~ i:before {
        transform: translate(-2px, -3px) rotate(45deg); }
      .landing__netflix ul li input[type=checkbox]:checked ~ i:after {
        transform: translate(-2px, -15px) rotate(-45deg); }
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }
.close_upsidedown {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px 15px 15px 15px;
  width: 300px;
  border-radius: 4px;
  height: 80px;
  font-size: 40px;
  opacity: 1;
  z-index: 800;
  position: fixed;
  bottom: 30px;
  left: calc(50% - 150px); }
  .close_upsidedown:hover {
    background-color: #fff;
    color: #000; }

.upside_down {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

.netflix_overlay {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0; }

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.0; }
  20% {
    opacity: 0.3; }
  80% {
    opacity: 0.3; }
  90% {
    opacity: 0.3; }
  100% {
    opacity: 0.0; } }
.pollen {
  background: none;
  font-family: Androgyne;
  background-image: url("../img/pol1.png"), url("../img/pol2.png"), url("../img/pol3.png");
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 700;
  -webkit-animation: pollen 10s linear infinite;
  -moz-animation: pollen 10s linear infinite;
  -ms-animation: pollen 10s linear infinite;
  animation: pollen 10s linear infinite; }

@keyframes pollen {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }
@-moz-keyframes pollen {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px; } }
@-webkit-keyframes pollen {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }
@-ms-keyframes pollen {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

/*# sourceMappingURL=netflix.css.map */
