body {
  margin: 0;
  letter-spacing: 0.25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.42857143;
  font-size: 14px; }

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  margin: 0 auto;
  height: auto;
  border: 0;
  outline: 0;
  display: initial;
  vertical-align: middle; }

.landing {
  position: relative; }
  .landing a {
    display: initial;
    text-decoration: none; }
  .landing .landing__hero {
    box-sizing: border-box;
    position: relative; }
  .landing .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    box-sizing: border-box; }
    .landing .container.no_padding_container {
      padding: 0 !important; }
  .landing .padding_bottom_15 {
    padding-bottom: 15px !important; }
  .landing .margin_bottom_10 {
    margin-bottom: 10px !important; }
  .landing .landing__hero--title {
    padding: 0; }
    .landing .landing__hero--title h1 {
      font-size: 2rem; }
  .landing .landing__hero__imageContainer.full_mobile {
    width: 100%; }
  .landing .landing__hero__imageContainer.no_absolute {
    position: static; }
  .landing .landing__hero__imageContainer img {
    width: 100%;
    max-width: 100%; }
  .landing a.button--standard {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    z-index: 999;
    opacity: 0.95;
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    height: auto;
    text-transform: uppercase; }
  .landing .text_normal {
    text-transform: none; }
  .landing .text_centered {
    text-align: center; }
  .landing .display_block {
    display: block; }
  .landing .box_width_50 {
    width: 100%; }
  .landing .max_width_100 {
    max-width: 100%; }
  .landing .padding_left_15 {
    padding-left: 15px !important; }
  .landing .padding_left_30 {
    padding-left: 30px !important; }
  .landing .padding_right_15 {
    padding-right: 15px !important; }
  .landing .padding_right_30 {
    padding-right: 30px !important; }
  .landing .padding_top_10 {
    padding-top: 10px !important; }
  .landing .padding_bottom_30 {
    padding-bottom: 30px !important; }
  .landing .padding_bottom_10 {
    padding-bottom: 10px !important; }
  .landing .padding_right_10 {
    padding-right: 10px !important; }
  .landing .padding_left_10 {
    padding-left: 10px !important; }
  .landing .padding_top_15 {
    padding-top: 15px !important; }
  .landing .margin_top_10 {
    margin-top: 10px !important; }
  .landing .margin_top_20 {
    margin-top: 20px !important; }
  .landing .margin_bottom_20 {
    margin-bottom: 20px !important; }
  .landing .margin_bottom_30 {
    margin-bottom: 30px !important; }
  .landing .margin_top_15 {
    margin-top: 15px !important; }
  .landing .vertical_top {
    vertical-align: top; }
  .landing .display_inline {
    display: inline-block; }
  .landing .display_forced_block {
    display: block !important; }
  .landing .extended_line_height {
    line-height: 1.2em; }
  .landing .font_size_22 {
    font-size: 1.2rem;
    line-height: 1.4em; }
  .landing .landing--offer_details h3 {
    font-size: 1.2rem;
    line-height: 1.2em;
    margin: 0;
    font-weight: 500; }

.notes {
  font-size: 12px; }

.showcase_accordions_block {
  transition: all 0.25s ease-in-out; }
  .showcase_accordions_block ul {
    padding: 0 15px;
    list-style: none; }
    .showcase_accordions_block ul li.showcase_accordions_block__single {
      position: relative;
      padding: 22px 10px 16px 10px;
      margin: 0; }
  .showcase_accordions_block input[type=checkbox].accordionBox {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    margin-top: 0px; }
  .showcase_accordions_block h2 {
    display: block;
    background-color: #FFF;
    margin: 0;
    cursor: pointer; }
  .showcase_accordions_block__container {
    font-size: 1em;
    position: relative;
    overflow: hidden;
    z-index: 2; }
    .showcase_accordions_block__container > div {
      padding-bottom: 10px; }
    .showcase_accordions_block__container p {
      margin-top: 30px; }

.font_color_tre {
  color: #000 !important; }

.font_color_white {
  color: #fff !important; }

.font_color_gray_tre {
  color: #4b4b4b !important; }

.font_tre_regular {
  font-family: "Helvetica Neue Lt Com" !important; }

.font_tre_bold {
  font-weight: bold !important; }

.bg_color_tre_violet {
  background-color: #82368c !important; }

.bg_color_tre_blue {
  background-color: #007bc3 !important; }

.bg_color_tre_black {
  background-color: #000 !important; }

.divider_tre {
  margin-bottom: 1px !important; }

.accordions_brd_bottom {
  border-bottom: 1px solid #656d78 !important; }

.accordions_brd_top {
  border-top: 1px solid #656d78 !important; }

.button--tre {
  background-color: #82368c !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 10px 30px !important;
  font-size: 1rem !important; }

.accordions_tre {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 1rem !important; }

.hero_title {
  line-height: 35px !important;
  font-size: 1.4rem !important; }

.icon_retina {
  width: 77px;
  height: auto; }

.landing .landing__header-tre {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 999; }
  .landing .landing__header-tre__bg {
    background-color: rgba(255, 255, 255, 0.95); }
  .landing .landing__header-tre__container .logo--wind img {
    width: 43px;
    height: auto; }
  .landing .landing__header-tre .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 30px; }
  .landing .landing__header-tre .logo {
    margin: 10px auto;
    text-align: center; }
  .landing .landing__header-tre--margin {
    margin-top: 70px; }

.landing .landing__footer-tre {
  width: 100%;
  background-color: #000;
  margin-top: 40px; }
  .landing .landing__footer-tre__container {
    display: table;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 30px 80px; }
  .landing .landing__footer-tre__box--left {
    display: block;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    text-align: center; }
  .landing .landing__footer-tre__box--right {
    display: block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding: 20px 0; }
    .landing .landing__footer-tre__box--right img {
      margin-left: auto;
      margin-right: 0;
      width: 61px;
      height: auto; }
  .landing .landing__footer-tre .cta_box_fixed {
    height: 60px;
    width: 100%;
    display: none; }
    .landing .landing__footer-tre .cta_box_fixed--double {
      height: 130px;
      width: 100%;
      display: none; }

/*# sourceMappingURL=landing_tre.css.map */
