body {
  hyphens: initial; }

.test {
  -moz-transform: skew(25deg, 10deg);
  -o-transform: skew(25deg, 10deg);
  -ms-transform: skew(25deg, 10deg);
  -webkit-transform: skew(25deg, 10deg);
  transform: skew(25deg, 10deg);
  moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20, 20, 20, 0.5); }

.landing_header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  min-height: 79px;
  background-color: #FFF;
  z-index: 999;
  border-bottom: 1px solid #D3D3D2;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s; }
  .landing_header .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto; }
    .landing_header .container .logo--wind {
      margin: 0.8rem 0; }
      @media (max-width: 768px) {
        .landing_header .container .logo--wind {
          margin: 0.8rem auto;
          display: block;
          float: none; } }

.margin_top_landing {
  margin-top: 80px; }

@media (max-width: 768px) {
  .landing_privati .slick-track {
    height: 950px; } }
@media (max-width: 768px) {
  .landing_privati .slick-track .slick-slide.slick-active {
    width: 320px; } }
.landing_privati .slider__dots {
  margin-top: 5px; }
.landing_privati__visore {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }
  .landing_privati__visore__overflowing {
    overflow: hidden;
    background-color: #F4F4F4; }
    @media (max-width: 768px) {
      .landing_privati__visore__overflowing {
        height: auto; } }
  .landing_privati__visore__overflowingv4 {
    overflow: hidden;
    background-color: #FFF; }
  .landing_privati__visore .container_mid_row {
    padding-top: 50px; }
    @media (max-width: 768px) {
      .landing_privati__visore .container_mid_row {
        padding-top: 0px; } }
    .landing_privati__visore .container_mid_row .column_left {
      float: left;
      min-height: 200px; }
      @media (max-width: 768px) {
        .landing_privati__visore .container_mid_row .column_left {
          width: 100%; } }
    .landing_privati__visore .container_mid_row .column_right {
      float: right;
      position: relative;
      right: 30px; }
    .landing_privati__visore .container_mid_row .column_rightv4 {
      float: right;
      position: relative;
      left: 5%; }
      @media (max-width: 768px) {
        .landing_privati__visore .container_mid_row .column_rightv4 {
          left: 0; } }
  .landing_privati__visore__image {
    height: 100%; }
    @media (max-width: 400px) {
      .landing_privati__visore__image {
        width: 100%;
        height: auto; } }
  .landing_privati__visore__half_block {
    position: relative;
    width: 50%; }
    @media (max-width: 768px) {
      .landing_privati__visore__half_block {
        width: 100%; }
        .landing_privati__visore__half_block.float_right {
          float: none; } }
    .landing_privati__visore__half_block .button {
      max-width: 260px;
      width: 100%;
      margin: 12px auto 35px;
      position: relative; }
    .landing_privati__visore__half_block--imageContainer {
      position: absolute;
      width: 100%;
      right: 24%; }
      @media (max-width: 768px) {
        .landing_privati__visore__half_block--imageContainer {
          right: 0;
          display: block;
          position: relative;
          min-height: 375px; } }
      .landing_privati__visore__half_block--imageContainer--left {
        position: absolute;
        width: 100%;
        top: 50px; }
      .landing_privati__visore__half_block--imageContainer--leftv4 {
        position: absolute;
        width: 100%;
        height: 385px;
        top: 41px;
        left: 4%; }
        @media (max-width: 768px) {
          .landing_privati__visore__half_block--imageContainer--leftv4 {
            display: none; } }
    .landing_privati__visore__half_block.image_block {
      position: relative;
      width: calc(50% - 50px); }
  .landing_privati__visore__mainContainer {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px; }
    .landing_privati__visore__mainContainer .offer_detail {
      margin-top: 15px;
      font-family: "Trade Gothic Light", sans-serif; }
      .landing_privati__visore__mainContainer .offer_detail__gigs {
        font-family: "Trade Gothic Bold", sans-serif;
        color: #292F36;
        font-size: 1.750em; }
      .landing_privati__visore__mainContainer .offer_detail__offerDetail {
        font-size: 1.750em;
        margin-left: 5px; }
    .landing_privati__visore__mainContainer .priceRow {
      margin-top: 5px;
      font-family: "Trade Gothic Light", sans-serif; }
      .landing_privati__visore__mainContainer .priceRow .mainPrice {
        color: #009BBE;
        font-size: 5.625em; }
      .landing_privati__visore__mainContainer .priceRow .euro {
        color: #009BBE;
        margin-left: -25px;
        font-size: 3.750em; }
  .landing_privati__visore__coloredBg {
    width: 150%;
    height: 100%;
    position: absolute;
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    left: 59%; }
    @media (max-width: 768px) {
      .landing_privati__visore__coloredBg {
        height: 35%;
        left: 0px;
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -webkit-transform: skew(0deg);
        transform: skew(0deg);
        display: block; } }
    .landing_privati__visore__coloredBg--left {
      right: 50%;
      width: 150%;
      height: 100%;
      position: absolute;
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      -webkit-transform: skew(-20deg);
      transform: skew(-20deg);
      background-color: #009BBE; }
      @media (max-width: 768px) {
        .landing_privati__visore__coloredBg--left {
          display: none; } }
  .landing_privati__visore__title {
    text-align: center;
    margin: 0 auto;
    line-height: 60px;
    font-size: 3.125em;
    color: #292F36;
    font-family: "Trade Gothic Light", sans-serif; }
  .landing_privati__visore__text {
    text-align: center;
    width: 90%;
    margin: 13px auto;
    font-size: 1.125em;
    color: #292F36;
    font-family: "Trade Gothic Light", sans-serif; }
.landing_privati__offers {
  line-height: 1.08;
  padding-bottom: 28px; }
  .landing_privati__offers__container {
    max-width: 1024px;
    margin: 0 auto; }
  .landing_privati__offers__containerv4 {
    max-width: 1024px;
    margin: 40px auto 47px; }
  .landing_privati__offers__tabs {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #292F36;
    padding: 20px 15px 15px; }
    @media (max-width: 768px) {
      .landing_privati__offers__tabs {
        padding: 20px 15px; } }
    .landing_privati__offers__tabs__container {
      max-width: 1024px;
      margin: 0 auto; }
    .landing_privati__offers__tabs--title {
      margin-right: 40px;
      cursor: pointer;
      padding-bottom: 5px; }
      @media (max-width: 768px) {
        .landing_privati__offers__tabs--title {
          width: 100%;
          display: block;
          margin-top: 20px; } }
      .landing_privati__offers__tabs--title:hover {
        border-bottom: 1px solid #F48135;
        padding-bottom: 5px; }
      .landing_privati__offers__tabs--title.active {
        padding-bottom: 5px;
        border-bottom: 1px solid #F48135;
        color: #F48135; }
  .landing_privati__offers--title {
    font-size: 1em;
    text-transform: uppercase; }
  .landing_privati__offers__showMore {
    color: #F48135;
    font-size: 1.250em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Trade Gothic Light", sans-serif;
    margin-top: 50px;
    cursor: pointer; }
    .landing_privati__offers__showMore:hover {
      text-decoration: underline; }
  .landing_privati__offers__single {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    display: none; }
    .landing_privati__offers__single:nth-child(-n+3) {
      display: block; }
    .landing_privati__offers__single.item {
      position: relative; }
      .landing_privati__offers__single.item:after {
        background-color: #CCD1D9;
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 15%;
        bottom: 7%;
        right: 0%;
        min-height: 1px; }
    .landing_privati__offers__single--bigAmount {
      font-size: 1.125em;
      line-height: 20px;
      font-family: "Trade Gothic Light", sans-serif;
      margin-bottom: 15px;
      line-height: 1.2em; }
      .landing_privati__offers__single--bigAmount b {
        font-size: 1em;
        font-family: "Trade Gothic Bold", sans-serif; }
    .landing_privati__offers__single--title {
      margin-top: 40px;
      height: 65px;
      color: #009BBE;
      font-size: 26px;
      font-family: "Trade Gothic", sans-serif; }
    .landing_privati__offers__single--disclaimer {
      font-size: 0.688em;
      font-family: "Trade Gothic Light", sans-serif;
      margin: 10px 0px 30px 0px;
      height: 33px;
      overflow: hidden; }
    .landing_privati__offers__single--price_discounted {
      font-size: 1.500em;
      color: #292F36;
      font-family: "Trade Gothic Light", sans-serif;
      position: relative;
      height: 25px;
      padding-top: 2px;
      overflow: hidden; }
      .landing_privati__offers__single--price_discounted::after {
        border-bottom: 1px solid #D3D3D2;
        content: "";
        left: 0;
        margin-top: calc(0.125em / 2 * -1);
        position: absolute;
        left: calc(50% - 45px);
        right: calc(50% - 45px);
        top: 50%; }
      .landing_privati__offers__single--price_discounted .currency {
        font-size: 0.875em; }
    .landing_privati__offers__single--mainPrice {
      font-size: 3.250em;
      color: #009BBE;
      font-family: "Trade Gothic Light", sans-serif; }
      .landing_privati__offers__single--mainPrice .currency {
        font-size: 0.731em;
        margin-left: -10px; }
    .landing_privati__offers__single--recurrency {
      font-family: "Trade Gothic Light", sans-serif;
      font-size: 0.813em;
      height: 15px;
      margin-bottom: 10px; }
    .landing_privati__offers__single__placeholder {
      display: none; }
.landing_privati__banner {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }
  .landing_privati__banner__overflowing {
    overflow: hidden; }
    .landing_privati__banner__overflowing--left {
      background-color: #F4F4F4; }
    .landing_privati__banner__overflowing--right {
      background-color: #E6E9ED; }
  .landing_privati__banner .container_mid_row {
    padding-top: 35px; }
    .landing_privati__banner .container_mid_row .column_left {
      margin-left: 22%;
      text-align: center;
      float: left;
      min-height: 200px; }
      @media (max-width: 768px) {
        .landing_privati__banner .container_mid_row .column_left {
          margin-left: 0;
          width: 100%; }
          .landing_privati__banner .container_mid_row .column_left img {
            width: 100%;
            max-width: 300px; } }
      .landing_privati__banner .container_mid_row .column_left img {
        margin-top: 10px;
        margin-left: 5px; }
    .landing_privati__banner .container_mid_row .column_right {
      float: right;
      position: relative;
      right: 80px;
      text-align: center; }
      @media (max-width: 768px) {
        .landing_privati__banner .container_mid_row .column_right {
          right: 0;
          float: none; } }
  .landing_privati__banner__mainContainer {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px; }
    @media (max-width: 768px) {
      .landing_privati__banner__mainContainer {
        padding: 0 15px; } }
    .landing_privati__banner__mainContainer .offer_detail {
      margin-top: 20px;
      font-family: "Trade Gothic Light", sans-serif; }
      .landing_privati__banner__mainContainer .offer_detail__price {
        font-family: "Trade Gothic Bold", sans-serif;
        color: #292F36;
        font-size: 1.750em;
        line-height: 1.375em;
        margin-left: 5px; }
      .landing_privati__banner__mainContainer .offer_detail__offerDetail {
        font-size: 1.750em;
        line-height: 23px; }
      .landing_privati__banner__mainContainer .offer_detail__subtle {
        font-size: 1.375em;
        line-height: 9px; }
      .landing_privati__banner__mainContainer .offer_detail__ribbonSale {
        margin: 25px auto 0;
        padding: 7px 0 5px;
        color: #FFF;
        font-family: "Trade Gothic Bold", sans-serif;
        font-size: 1.375em;
        max-width: 250px;
        background-color: #009BBE; }
    .landing_privati__banner__mainContainer .priceRow {
      font-family: "Trade Gothic Light", sans-serif;
      margin-top: 15px; }
      .landing_privati__banner__mainContainer .priceRow .mainPrice {
        color: #292F36;
        font-size: 5.625em; }
      .landing_privati__banner__mainContainer .priceRow .euro {
        color: #292F36;
        margin-left: -25px;
        font-size: 3.750em; }
  .landing_privati__banner__text {
    text-align: center;
    width: 100%;
    margin: 20px auto;
    font-size: 1.125em;
    color: #292F36;
    font-family: "Trade Gothic Light", sans-serif; }
  .landing_privati__banner__half_block {
    position: relative;
    width: 50%; }
    @media (max-width: 768px) {
      .landing_privati__banner__half_block {
        width: 100%; } }
    .landing_privati__banner__half_block .linkable {
      display: block;
      width: 100%;
      font-size: 1.125em;
      font-family: "Trade Gothic Bold", sans-serif;
      color: #292F36;
      text-transform: uppercase;
      margin: 0 auto 37px;
      position: relative; }
    .landing_privati__banner__half_block--imageContainer {
      position: absolute;
      width: 100%;
      right: 3%; }
      .landing_privati__banner__half_block--imageContainer--left {
        position: absolute;
        top: 35px;
        width: 100%;
        left: 4%; }
    .landing_privati__banner__half_block.image_block {
      position: relative;
      width: 50%; }
.landing_privati__store_locator_container {
  width: 100%;
  max-width: 1024px;
  margin: 54px auto;
  padding: 0 30px; }
  @media (max-width: 768px) {
    .landing_privati__store_locator_container {
      padding: 0 15px; } }
.landing_privati__store_locator--title {
  font-family: "Trade Gothic Light", sans-serif;
  font-size: 2.500em;
  color: #292F36; }
.landing_privati__store_locator--subtitle {
  margin: 10px auto 20px;
  font-family: "Trade Gothic Bold", sans-serif;
  font-size: 1em;
  color: #F48135; }
.landing_privati__store_locator--text {
  font-family: "Trade Gothic Light", sans-serif;
  font-size: 0.875em;
  color: #292F36;
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .landing_privati__store_locator--text {
      width: 100%;
      max-width: 400px; } }
.landing_privati__store_locator--search {
  margin: 45px 0;
  padding: 0 50px; }
  @media (max-width: 768px) {
    .landing_privati__store_locator--search {
      padding: 0; } }
  .landing_privati__store_locator--search_bar {
    float: left;
    width: 88%;
    height: 50px;
    padding-left: 40px; }
    @media (max-width: 768px) {
      .landing_privati__store_locator--search_bar {
        width: 78%;
        padding-left: 0; } }
    .landing_privati__store_locator--search_bar .search_input {
      height: 100%;
      background-image: url("../img/icons-interface/icon_buscadormap.jpg");
      background-position: 0.7rem center;
      background-repeat: no-repeat;
      padding-left: 3em; }
  .landing_privati__store_locator--search_btn {
    width: 10%;
    float: right;
    margin-left: 2%;
    height: 50px; }
    @media (max-width: 768px) {
      .landing_privati__store_locator--search_btn {
        width: 20%; } }
    .landing_privati__store_locator--search_btn .button--searchButton {
      background-image: url("../img/icons-customer-care/customerCare_sprite.png");
      background-repeat: no-repeat;
      background-position: 20px -191px;
      margin: 0;
      max-width: 65px;
      height: 100%; }
      @media (max-width: 768px) {
        .landing_privati__store_locator--search_btn .button--searchButton {
          background-position: calc(5vw + 20%) -191px; } }
.landing_privati__social .container {
  width: 100%;
  max-width: 1024px;
  margin: 57px auto 52px;
  padding: 0 30px; }
  @media (max-width: 768px) {
    .landing_privati__social .container {
      padding: 0 15px; } }
.landing_privati__social--title {
  font-family: "Trade Gothic Light", sans-serif;
  font-size: 2.500em;
  margin-bottom: 15px;
  color: #292F36; }
.landing_privati__social--text {
  font-family: "Trade Gothic Light", sans-serif;
  font-size: 0.875em;
  color: #292F36;
  width: 53%;
  margin: 0 auto 25px; }
  @media (max-width: 768px) {
    .landing_privati__social--text {
      width: 100%;
      max-width: 400px; } }
.landing_privati__social--icons {
  position: relative;
  margin: 40px auto 0;
  width: 100%; }
  .landing_privati__social--icons_first_row, .landing_privati__social--icons_second_row {
    width: 50%;
    float: left; }
  .landing_privati__social--icons--right {
    float: right; }
  .landing_privati__social--icons .gplus {
    margin-right: 4em;
    background: url("../img/social/social_sprite.png") no-repeat;
    width: 87px;
    height: 87px;
    background-position: 0 0;
    float: left; }
    @media (max-width: 768px) {
      .landing_privati__social--icons .gplus {
        float: right;
        margin-right: 2em;
        margin-top: 15px; } }
  .landing_privati__social--icons .youtube {
    margin-right: 2em;
    background: url("../img/social/social_sprite.png") no-repeat;
    width: 87px;
    height: 87px;
    background-position: 0 -97px;
    float: left; }
    @media (max-width: 768px) {
      .landing_privati__social--icons .youtube {
        float: right;
        margin-right: 2em;
        margin-top: 15px; } }
  .landing_privati__social--icons .fb {
    margin-left: 2em;
    background: url("../img/social/social_sprite.png") no-repeat;
    width: 87px;
    height: 87px;
    background-position: 0 -194px;
    float: left; }
    @media (max-width: 768px) {
      .landing_privati__social--icons .fb {
        margin-left: 2em;
        margin-top: 15px; } }
  .landing_privati__social--icons .twitter {
    margin-left: 4em;
    background: url("../img/social/social_sprite.png") no-repeat;
    width: 87px;
    height: 87px;
    background-position: 0 -291px;
    float: left; }
    @media (max-width: 768px) {
      .landing_privati__social--icons .twitter {
        margin-left: 2em;
        margin-top: 15px; } }
.landing_privati__download {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  -o-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out; }
  .landing_privati__download__tripleContainer {
    padding-bottom: 85px; }
    @media (max-width: 768px) {
      .landing_privati__download__tripleContainer {
        font-size: 14px; } }
  .landing_privati__download__icon {
    margin: 45px auto 0 auto; }
    .landing_privati__download__icon--findStore {
      background: url("../img/landing/download.png") no-repeat 0 0;
      width: 55px;
      height: 55px; }
    .landing_privati__download__icon--findDevice {
      background: url("../img/landing/pdf.png") no-repeat 0 0;
      width: 55px;
      height: 55px; }
    .landing_privati__download__icon--findCoverage {
      background: url("../img/landing/download.png") no-repeat 0 0;
      width: 55px;
      height: 55px; }
  .landing_privati__download__find--title {
    font-family: "Trade Gothic Bold", sans-serif;
    font-size: 1em;
    margin-bottom: 20px;
    margin-top: 32px; }
  .landing_privati__download__find--Subtitle {
    font-family: "Trade Gothic Light", sans-serif;
    font-size: 0.87em;
    margin-bottom: 25px;
    height: 60px; }
  .landing_privati__download__sameHeight_container {
    height: 60px;
    margin-bottom: 20px; }
.landing_privati__info .showcase_accordions_block {
  padding: 0 30px; }
  .landing_privati__info .showcase_accordions_block li.showcase_accordions_block__single {
    padding: 22px 0 16px 8px; }
    .landing_privati__info .showcase_accordions_block li.showcase_accordions_block__single:last-of-type {
      padding-bottom: 16px;
      border-bottom: 0; }
    .landing_privati__info .showcase_accordions_block li.showcase_accordions_block__single i {
      right: 14px; }
.landing_privati__info .container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }
.landing_privati__info .title {
  font-family: "Trade Gothic Light", sans-serif;
  font-size: 1.875em;
  padding: 0px 0 19px 27px; }
.landing_privati__footer {
  margin-top: 40px;
  width: 100%;
  background-color: #292F36;
  padding: 1.429rem 0 1.071rem 0;
  color: #FFF;
  text-align: center;
  font-size: 0.85rem;
  font-family: "Trade Gothic Light", sans-serif; }

@media all and (min-width: 901px) and (max-width: 1000px) {
  .landing_privati__visore__half_block {
    width: calc(50% - 50px); }
    .landing_privati__visore__half_block--imageContainer {
      right: 32%; }
    .landing_privati__visore__half_block--imageContainer--leftv4 {
      top: 86px;
      left: -15%; }
  .landing_privati__banner__half_block {
    width: calc(50% - 50px); }
    .landing_privati__banner__half_block .container_mid_row .column_right {
      right: 0; }
    .landing_privati__banner__half_block--imageContainer {
      left: 10%; }
      .landing_privati__banner__half_block--imageContainer--left {
        left: 0; } }
@media all and (min-width: 768px) and (max-width: 900px) {
  .landing_privati__visore__half_block {
    width: calc(50% - 50px); }
    .landing_privati__visore__half_block--imageContainer {
      right: 32%; }
    .landing_privati__visore__half_block--imageContainer--leftv4 {
      top: 86px;
      left: -30%; }
  .landing_privati__banner__half_block {
    width: calc(50% - 50px); }
    .landing_privati__banner__half_block .container_mid_row .column_right {
      right: 0; }
    .landing_privati__banner__half_block--imageContainer {
      left: 10%; }
      .landing_privati__banner__half_block--imageContainer--left {
        left: -40%; } }

/*# sourceMappingURL=landing.css.map */
