@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes slideIn {
  from {
    bottom: -400px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@-webkit-keyframes spin-webkit {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-ms-keyframes spin-ms {
  0% {
    transform: scale(1) rotate(0deg); }
  100% {
    transform: scale(1) rotate(360deg); } }

@-moz-keyframes spin-moz {
  0% {
    transform: scale(1) rotate(0deg); }
  100% {
    transform: scale(1) rotate(360deg); } }

@keyframes spin {
  0% {
    transform: scale(1) rotate(0deg); }
  100% {
    transform: scale(1) rotate(360deg); } }

@-webkit-keyframes rotatey-webkit {
  0% {
    -webkit-transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(360deg); } }

@-ms-keyframes rotatey-ms {
  0% {
    transform: scale(1) rotateY(0deg); }
  100% {
    transform: scale(1) rotateY(360deg); } }

@-moz-keyframes rotatey-moz {
  0% {
    transform: scale(1) rotateY(0deg); }
  100% {
    transform: scale(1) rotateY(360deg); } }

@keyframes rotatey {
  0% {
    transform: scale(1) rotateY(0deg); }
  100% {
    transform: scale(1) rotateY(360deg); } }

@-webkit-keyframes fadein-webkit {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadein-ms {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadein-moz {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes spin-webkit {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-ms-keyframes spin-ms {
  0% {
    transform: scale(1) rotate(0deg); }
  100% {
    transform: scale(1) rotate(360deg); } }

@-moz-keyframes spin-moz {
  0% {
    transform: scale(1) rotate(0deg); }
  100% {
    transform: scale(1) rotate(360deg); } }

@keyframes spin {
  0% {
    transform: scale(1) rotate(0deg); }
  100% {
    transform: scale(1) rotate(360deg); } }

@-webkit-keyframes rotatey-webkit {
  0% {
    -webkit-transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(360deg); } }

@-ms-keyframes rotatey-ms {
  0% {
    transform: scale(1) rotateY(0deg); }
  100% {
    transform: scale(1) rotateY(360deg); } }

@-moz-keyframes rotatey-moz {
  0% {
    transform: scale(1) rotateY(0deg); }
  100% {
    transform: scale(1) rotateY(360deg); } }

@keyframes rotatey {
  0% {
    transform: scale(1) rotateY(0deg); }
  100% {
    transform: scale(1) rotateY(360deg); } }

@-webkit-keyframes fadein-webkit {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadein-ms {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadein-moz {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%); }
  100% {
    opacity: 1;
    transform: translateX(0);
    animation-play-state: paused; } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(-20%); } }

@-webkit-keyframes tabin-webkit {
  0% {
    opacity: 0.25;
    -webik-transform: translate3d(0px, -5px, 0px); }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px); } }

@keyframes tabin-moz {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0px, -5px, 0px); }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px); } }

@keyframes tabin {
  0% {
    opacity: 0;
    transform: translate3d(0px, -5px, 0px); }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px); } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.spin-animate {
  -animation: spin 0.7s infinite linear;
  -webkit-animation: spin-webkit 0.7s infinite linear;
  -ms-animation: spin-ms 0.7s infinite linear;
  -moz-animation: spin-moz 0.7s infinite linear; }

.slideIn-animate {
  -animation: slideIn 0.7s 0s 1 linear;
  -webkit-animation: slideIn-webkit 0.7s 0s 1 linear;
  -ms-animation: slideIn-ms 0.7s 0s 1 linear;
  -moz-animation: slideIn-moz 0.7s 0s 1 linear; }

.rotatey-animate {
  -animation: rotatey 0.7s 0s 1 linear;
  -webkit-animation: rotatey-webkit 0.7s 0s 1 linear;
  -ms-animation: rotatey-ms 0.7s 0s 1 linear;
  -moz-animation: rotatey-moz 0.7s 0s 1 linear; }

.fadein-animate {
  -animation: fadein 0.7s 0s 1 linear;
  -webkit-animation: fadein-webkit 0.7s 0s 1 linear;
  -ms-animation: fadein-ms 0.7s 0s 1 linear;
  -moz-animation: fadein-moz 0.7s 0s 1 linear; }

.parent-3d {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px; }

.backface-3d {
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.gpu-3d {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.center {
  position: relative;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello/font/fontello.eot?22635109");
  src: url("../fonts/fontello/font/fontello.eot?22635109#iefix") format("embedded-opentype"), url("../fonts/fontello/font/fontello.woff2?22635109") format("woff2"), url("../fonts/fontello/font/fontello.woff?22635109") format("woff"), url("../fonts/fontello/font/fontello.ttf?22635109") format("truetype"), url("../fonts/fontello/font/fontello.svg?22635109#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
  font-family: "Trade Gothic Bold";
  /* src: url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.eot"); */
  /* url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.woff2") format("woff2"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.ttf") format("truetype"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.svg#TradeGothicLTStd-Bold") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.eot?#iefix") format("embedded-opentype"), */
  /* url("../fonts/tradegothic/TradeGothicLTStd-Bd2.otf") format("opentype") ;*/
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("../fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("../fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("../fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("../fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }

@font-face {
  font-family: "Trade Gothic Bold Cond";
  /* src: url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.eot"); */
  /* , 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.ttf") format("truetype"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.svg#TradeGothicLTStd-Bold") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-bold/TradeGothicLTStd-Bold.eot?#iefix") format("embedded-opentype"), */
  /* url("../fonts/tradegothic/TradeGothicLTStd-BdCn20.otf") format("opentype") ;*/
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("../fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("../fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("../fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("../fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }

@font-face {
  font-family: "Trade Gothic Bold2";
  /* src: url("../../fonts/tradegothic/hinted-TradeGothicLTStd-Bd2.eot"); */
  /* url("../../fonts/tradegothic/hinted-TradeGothicLTStd-Bd2.eot?#iefix") format("embedded-opentype"), 
    , 
    , */
  /* url("../fonts/tradegothic/TradeGothicLTStd-Bd2.otf") format("opentype") ;*/
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("../fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("../fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("../fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("../fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("../fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }

@font-face {
  font-family: "Trade Gothic Light";
  /* src: url("../../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.eot"); */
  /* ,
    , 
    url("../../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.svg#TradeGothicLTStd-Light") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.eot?#iefix") format("embedded-opentype"), */
  /* url("../fonts/tradegothic/tradegothic-std-light/TradeGothicLTStd-Light.otf") format("opentype") ;*/
  src: url("../fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix");
  src: url("../fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix") format("eot"), url("../fonts/tradelicense/6de16bd6-1e13-400f-80e8-8f5c69d8a2b8.woff2") format("woff2"), url("../fonts/tradelicense/73c7abdc-45a3-42a3-a1af-f07d8a348917.woff") format("woff"), url("../fonts/tradelicense/73494c38-422a-4bae-9e2c-b86e7703c1b3.ttf") format("truetype"), url("../fonts/tradelicense/b84e9482-10dd-4d9d-8ef2-539fbc5eb441.svg#b84e9482-10dd-4d9d-8ef2-539fbc5eb441") format("svg"); }

@font-face {
  font-family: "Trade Gothic Obl";
  /* src: url("../../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.eot"); */
  /* ,
    ,
    url("../../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.svg#TradeGothicLTStd-Obl") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.eot?#iefix") format("embedded-opentype"), */
  /* url("../fonts/tradegothic/tradegothic-std-oblique/TradeGothicLTStd-Obl.otf") format("opentype") ;*/
  src: url("../fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix");
  src: url("../fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix") format("eot"), url("../fonts/tradelicense/5a871dd4-95c1-4157-af67-a012e7ba4358.woff2") format("woff2"), url("../fonts/tradelicense/847d5cf1-1a60-4418-9d5e-44927ff99235.woff") format("woff"), url("../fonts/tradelicense/2882b13c-d7fa-4698-bab1-4a01805326d8.ttf") format("truetype"), url("../fonts/tradelicense/1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7.svg#1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7") format("svg"); }

@font-face {
  font-family: "Trade Gothic";
  /* src: url("../../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.eot"); */
  /* ,
    , 
    url("../../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.svg#TradeGothicLTStd") format("svg"), 
    url("../../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.eot?#iefix") format("embedded-opentype"), */
  /* url("../fonts/tradegothic/tradegothic-std-regular/TradeGothicLTStd.otf") format("opentype") ;*/
  src: url("../fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix");
  src: url("../fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("../fonts/tradelicense/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("../fonts/tradelicense/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("../fonts/tradelicense/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("../fonts/tradelicense/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg"); }

html {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  overflow-x: hidden; }

body {
  background: #FFF;
  color: #292F36;
  font-family: "Trade Gothic", sans-serif;
  font-size: 1em;
  letter-spacing: 0.25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }
  body h1 {
    font-family: "Trade Gothic Bold Cond", sans-serif;
    font-size: 3.571rem; }
  body h2 {
    font-family: "Trade Gothic Bold Cond", sans-serif;
    font-size: 2.857rem; }
  body h3 {
    font-family: "Trade Gothic Bold Cond", sans-serif;
    font-size: 2.143rem; }
  body h4 {
    font-family: "Trade Gothic Bold Cond", sans-serif;
    font-size: 1.428rem; }
  body h5 {
    font-family: "Trade Gothic Bold Cond", sans-serif;
    font-size: 1.285rem; }
  body h6 {
    font-family: "Trade Gothic Bold Cond", sans-serif;
    font-size: 1.142rem;
    font-weight: 400; }
  body p {
    font-family: "Trade Gothic", sans-serif;
    /* font-size: 1rem; Commented avoid too small text */
    letter-spacing: 0.25px;
    font-weight: 400; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p {
    margin: 0; }

@media (max-width: 360px) {
  html {
    font-size: 13px; } }

@media (min-width: 768px) {
  html {
    font-size: 14px; } }

/* ====================COLORI BACKGROUND=====================  */
.colored__bg--white {
  background-color: #FFF !important; }

.colored__bg--grey_light_light {
  background-color: #F4F4F4 !important; }

.colored__bg--grey_light {
  background-color: #E6E9ED !important; }

.colored__bg--grey_medium_light {
  background-color: #CCD1D9 !important; }

.colored__bg--grey_medium {
  background-color: #AAB2BD !important; }

.colored__bg--grey_dark, .colored__bg--placeholder {
  background-color: #292F36 !important; }

.colored__bg--grey_dark_light {
  background-color: #656D78 !important; }

.colored__bg--grey_dark, .colored__bg--business {
  background-color: #292F36 !important; }

.colored__bg--black, .colored__bg--device, .colored__bg--home_life {
  background-color: #212121 !important; }

.colored__bg--blue_light {
  background-color: #287BBD !important; }

.colored__bg--infostrada, .colored__bg--fisso, .colored__bg--blue {
  background-color: #0069B3 !important; }

.colored__bg--wind, .colored__bg--orange {
  background-color: #F48135 !important; }

.colored__bg--orange_light {
  background-color: #F69A5D !important; }

.colored__bg--error, .colored__bg--red {
  background-color: #CE4242 !important; }

.colored__bg--red_light {
  background-color: #D76767 !important; }

.colored__bg--mobile, .colored__bg--robin {
  background-color: #009BBE !important; }

.colored__bg--robin_light {
  background-color: #24A5C6 !important; }

/* ====================COLORI TESTI=====================  */
.colored_text--white {
  color: #FFF !important; }

.colored_text--grey_light_light {
  color: #F4F4F4 !important; }

.colored_text--grey_light {
  color: #E6E9ED !important; }

.colored_text--grey_medium_light {
  color: #CCD1D9 !important; }

.colored_text--grey_medium {
  color: #AAB2BD !important; }

.colored_text--grey_dark, .colored_text--placeholder {
  color: #292F36 !important; }

.colored_text--grey_dark_light {
  color: #656D78 !important; }

.colored_text--grey_dark {
  color: #292F36 !important; }

.colored_text--black, .colored_text--device, .colored_text--home_life {
  color: #212121 !important; }

.colored_text--blue_light {
  color: #287BBD !important; }

.colored_text--infostrada, .colored_text--fisso, .colored_text--blue {
  color: #0069B3 !important; }

.colored_text--wind, .colored_text--business, .colored_text--orange {
  color: #F48135 !important; }

.colored_text--orange_light {
  color: #F69A5D !important; }

.colored_text--error, .colored_text--red {
  color: #CE4242 !important; }

.colored_text--red_light {
  color: #D76767 !important; }

.colored_text--mobile, .colored_text--robin {
  color: #009BBE !important; }

.colored_text--robin_light {
  color: #24A5C6 !important; }

/* ============================== ICONE BASE ===========================*/
.base__icon {
  display: block;
  background: url(../img/icons/icons_sprite.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 500%;
  width: 32px;
  height: 32px;
  margin: 0 auto; }
  .base__icon--md {
    width: 48px;
    height: 48px; }
  .base__icon--lg {
    width: 128px;
    height: 128px; }
  .base__icon.icon_ID--color {
    background-position: 0% 0%; }
  .base__icon.icon_ID--grey {
    background-position: 25% 0%; }
  .base__icon.icon_ID--white {
    background-position: 50% 0%; }
  .base__icon.icon_email--color {
    background-position: 0% 1.09846%; }
  .base__icon.icon_email--grey {
    background-position: 25% 1.09846%; }
  .base__icon.icon_email--white {
    background-position: 50% 1.09846%; }
  .base__icon.icon_calendar--color {
    background-position: 0% 2.19692%; }
  .base__icon.icon_calendar--grey {
    background-position: 25% 2.19692%; }
  .base__icon.icon_calendar--white {
    background-position: 50% 2.19692%; }
  .base__icon.icon_sim--color {
    background-position: 0% 3.29538%; }
  .base__icon.icon_sim--grey {
    background-position: 25% 3.29538%; }
  .base__icon.icon_sim--white {
    background-position: 50% 3.29538%; }
  .base__icon.icon_promo--color {
    background-position: 0% 4.39385%; }
  .base__icon.icon_promo--grey {
    background-position: 25% 4.39385%; }
  .base__icon.icon_promo--white {
    background-position: 50% 4.39385%; }
  .base__icon.icon_mobile--color {
    background-position: 0% 5.49231%; }
  .base__icon.icon_mobile--grey {
    background-position: 25% 5.49231%; }
  .base__icon.icon_mobile--white {
    background-position: 50% 5.49231%; }
  .base__icon.icon_mobile_fisso--color {
    background-position: 0% 6.59077%; }
  .base__icon.icon_mobile_fisso--grey {
    background-position: 25% 6.59077%; }
  .base__icon.icon_mobile_fisso--white {
    background-position: 50% 6.59077%; }
  .base__icon.icon_fisso--color {
    background-position: 0% 7.68923%; }
  .base__icon.icon_fisso--grey {
    background-position: 25% 7.68923%; }
  .base__icon.icon_fisso--white {
    background-position: 50% 7.68923%; }
  .base__icon.icon_device--color {
    background-position: 0% 8.78769%; }
  .base__icon.icon_device--grey {
    background-position: 25% 8.78769%; }
  .base__icon.icon_device--white {
    background-position: 50% 8.78769%; }
  .base__icon.icon_login--color {
    background-position: 0% 9.88615%; }
  .base__icon.icon_login--grey {
    background-position: 25% 9.88615%; }
  .base__icon.icon_login--white {
    background-position: 50% 9.88615%; }
  .base__icon.icon_logout--color {
    background-position: 0% 10.98462%; }
  .base__icon.icon_logout--grey {
    background-position: 25% 10.98462%; }
  .base__icon.icon_logout--white {
    background-position: 50% 10.98462%; }
  .base__icon.icon_profile--color {
    background-position: 0% 12.08308%; }
  .base__icon.icon_profile--grey {
    background-position: 25% 12.08308%; }
  .base__icon.icon_profile--white {
    background-position: 50% 12.08308%; }
  .base__icon.icon_carrello--color {
    background-position: 0% 13.18154%; }
  .base__icon.icon_carrello--grey {
    background-position: 25% 13.18154%; }
  .base__icon.icon_carrello--white {
    background-position: 50% 13.18154%; }
  .base__icon.icon_close--color {
    background-position: 0% 14.28%; }
  .base__icon.icon_close--grey {
    background-position: 25% 14.28%; }
  .base__icon.icon_close--white {
    background-position: 50% 14.28%; }
  .base__icon.icon_serve_aiuto--color {
    background-position: 0% 15.37846%; }
  .base__icon.icon_serve_aiuto--grey {
    background-position: 25% 15.37846%; }
  .base__icon.icon_serve_aiuto--white {
    background-position: 50% 15.37846%; }
  .base__icon.icon_lente--color {
    background-position: 0% 16.47692%; }
  .base__icon.icon_lente--grey {
    background-position: 25% 16.47692%; }
  .base__icon.icon_lente--white {
    background-position: 50% 16.47692%; }
  .base__icon.icon_configurazione--color {
    background-position: 0% 17.57538%; }
  .base__icon.icon_configurazione--grey {
    background-position: 25% 17.57538%; }
  .base__icon.icon_configurazione--white {
    background-position: 50% 17.57538%; }
  .base__icon.icon_configurazione_manuale--color {
    background-position: 0% 18.67385%; }
  .base__icon.icon_configurazione_manuale--grey {
    background-position: 25% 18.67385%; }
  .base__icon.icon_configurazione_manuale--white {
    background-position: 50% 18.67385%; }
  .base__icon.icon_configurazione_sms--color {
    background-position: 0% 19.77231%; }
  .base__icon.icon_configurazione_sms--grey {
    background-position: 25% 19.77231%; }
  .base__icon.icon_configurazione_sms--white {
    background-position: 50% 19.77231%; }
  .base__icon.icon_configurazione_generale--color {
    background-position: 0% 20.87077%; }
  .base__icon.icon_configurazione_generale--grey {
    background-position: 25% 20.87077%; }
  .base__icon.icon_configurazione_generale--white {
    background-position: 50% 20.87077%; }
  .base__icon.icon_help--color {
    background-position: 0% 21.96923%; }
  .base__icon.icon_help--grey {
    background-position: 25% 21.96923%; }
  .base__icon.icon_help--white {
    background-position: 50% 21.96923%; }
  .base__icon.icon_account--color {
    background-position: 0% 23.06769%; }
  .base__icon.icon_account--grey {
    background-position: 25% 23.06769%; }
  .base__icon.icon_account--white {
    background-position: 50% 23.06769%; }
  .base__icon.icon_password--color {
    background-position: 0% 24.16615%; }
  .base__icon.icon_password--grey {
    background-position: 25% 24.16615%; }
  .base__icon.icon_password--white {
    background-position: 50% 24.16615%; }
  .base__icon.icon_security--color {
    background-position: 0% 25.26462%; }
  .base__icon.icon_security--grey {
    background-position: 25% 25.26462%; }
  .base__icon.icon_security--white {
    background-position: 50% 25.26462%; }
  .base__icon.icon_print--color {
    background-position: 0% 26.36308%; }
  .base__icon.icon_print--grey {
    background-position: 25% 26.36308%; }
  .base__icon.icon_print--white {
    background-position: 50% 26.36308%; }
  .base__icon.icon_share--color {
    background-position: 0% 27.46154%; }
  .base__icon.icon_share--grey {
    background-position: 25% 27.46154%; }
  .base__icon.icon_share--white {
    background-position: 50% 27.46154%; }
  .base__icon.icon_download--color {
    background-position: 0% 28.56%; }
  .base__icon.icon_download--grey {
    background-position: 25% 28.56%; }
  .base__icon.icon_download--white {
    background-position: 50% 28.56%; }
  .base__icon.icon_pin--color {
    background-position: 0% 29.65846%; }
  .base__icon.icon_pin--grey {
    background-position: 25% 29.65846%; }
  .base__icon.icon_pin--white {
    background-position: 50% 29.65846%; }
  .base__icon.icon_pin--blue {
    background-position: 75% 29.65846%; }
  .base__icon.icon_pin--grey_light {
    background-position: 100% 29.65846%; }
  .base__icon.icon_mappa--color {
    background-position: 0% 30.75692%; }
  .base__icon.icon_mappa--grey {
    background-position: 25% 30.75692%; }
  .base__icon.icon_mappa--white {
    background-position: 50% 30.75692%; }
  .base__icon.icon_dettaglio--color {
    background-position: 0% 31.85538%; }
  .base__icon.icon_dettaglio--grey {
    background-position: 25% 31.85538%; }
  .base__icon.icon_dettaglio--white {
    background-position: 50% 31.85538%; }
  .base__icon.icon_negozio--color {
    background-position: 0% 32.95385%; }
  .base__icon.icon_negozio--grey {
    background-position: 25% 32.95385%; }
  .base__icon.icon_negozio--white {
    background-position: 50% 32.95385%; }
  .base__icon.icon_360--color {
    background-position: 0% 34.05231%; }
  .base__icon.icon_360--grey {
    background-position: 25% 34.05231%; }
  .base__icon.icon_360--white {
    background-position: 50% 34.05231%; }
  .base__icon.icon_trova_negozio--color {
    background-position: 0% 35.15077%; }
  .base__icon.icon_trova_negozio--grey {
    background-position: 25% 35.15077%; }
  .base__icon.icon_trova_negozio--white {
    background-position: 50% 35.15077%; }
  .base__icon.icon_controllo_copertura--color {
    background-position: 0% 36.24923%; }
  .base__icon.icon_controllo_copertura--grey {
    background-position: 25% 36.24923%; }
  .base__icon.icon_controllo_copertura--white {
    background-position: 50% 36.24923%; }
  .base__icon.icon_gplus--color {
    background-position: 0% 37.34769%; }
  .base__icon.icon_gplus--grey {
    background-position: 25% 37.34769%; }
  .base__icon.icon_gplus--white {
    background-position: 50% 37.34769%; }
  .base__icon.icon_youtube--color {
    background-position: 0% 38.44615%; }
  .base__icon.icon_youtube--grey {
    background-position: 25% 38.44615%; }
  .base__icon.icon_youtube--white {
    background-position: 50% 38.44615%; }
  .base__icon.icon_facebook--color {
    background-position: 0% 39.54462%; }
  .base__icon.icon_facebook--grey {
    background-position: 25% 39.54462%; }
  .base__icon.icon_facebook--white {
    background-position: 50% 39.54462%; }
  .base__icon.icon_twitter--color {
    background-position: 0% 40.64308%; }
  .base__icon.icon_twitter--grey {
    background-position: 25% 40.64308%; }
  .base__icon.icon_twitter--white {
    background-position: 50% 40.64308%; }
  .base__icon.icon_modem--color {
    background-position: 0% 41.74154%; }
  .base__icon.icon_modem--grey {
    background-position: 25% 41.74154%; }
  .base__icon.icon_modem--white {
    background-position: 50% 41.74154%; }
  .base__icon.icon_fibra--color {
    background-position: 0% 42.84%; }
  .base__icon.icon_fibra--grey {
    background-position: 25% 42.84%; }
  .base__icon.icon_fibra--white {
    background-position: 50% 42.84%; }
  .base__icon.icon_xbox--color {
    background-position: 0% 43.93846%; }
  .base__icon.icon_xbox--grey {
    background-position: 25% 43.93846%; }
  .base__icon.icon_xbox--white {
    background-position: 50% 43.93846%; }
  .base__icon.icon_dlink--color {
    background-position: 0% 45.03692%; }
  .base__icon.icon_dlink--grey {
    background-position: 25% 45.03692%; }
  .base__icon.icon_dlink--white {
    background-position: 50% 45.03692%; }
  .base__icon.icon_servizi_applicazioni--color {
    background-position: 0% 46.13538%; }
  .base__icon.icon_servizi_applicazioni--grey {
    background-position: 25% 46.13538%; }
  .base__icon.icon_servizi_applicazioni--white {
    background-position: 50% 46.13538%; }
  .base__icon.icon_utility--color {
    background-position: 0% 47.23385%; }
  .base__icon.icon_utility--grey {
    background-position: 25% 47.23385%; }
  .base__icon.icon_utility--white {
    background-position: 50% 47.23385%; }
  .base__icon.icon_servizi_innovativi--color {
    background-position: 0% 48.33231%; }
  .base__icon.icon_servizi_innovativi--grey {
    background-position: 25% 48.33231%; }
  .base__icon.icon_servizi_innovativi--white {
    background-position: 50% 48.33231%; }
  .base__icon.icon_ricarica--color {
    background-position: 0% 49.43077%; }
  .base__icon.icon_ricarica--grey {
    background-position: 25% 49.43077%; }
  .base__icon.icon_ricarica--white {
    background-position: 50% 49.43077%; }
  .base__icon.icon_email_cellulare--color {
    background-position: 0% 50.52923%; }
  .base__icon.icon_email_cellulare--grey {
    background-position: 25% 50.52923%; }
  .base__icon.icon_email_cellulare--white {
    background-position: 50% 50.52923%; }
  .base__icon.icon_commenti--color {
    background-position: 0% 51.62769%; }
  .base__icon.icon_commenti--grey {
    background-position: 25% 51.62769%; }
  .base__icon.icon_commenti--white {
    background-position: 50% 51.62769%; }
  .base__icon.icon_mms--color {
    background-position: 0% 52.72615%; }
  .base__icon.icon_mms--grey {
    background-position: 25% 52.72615%; }
  .base__icon.icon_mms--white {
    background-position: 50% 52.72615%; }
  .base__icon.icon_acquisti_online--color {
    background-position: 0% 53.82462%; }
  .base__icon.icon_acquisti_online--grey {
    background-position: 25% 53.82462%; }
  .base__icon.icon_acquisti_online--white {
    background-position: 50% 53.82462%; }
  .base__icon.icon_wind_borsa_studio--color {
    background-position: 0% 54.92308%; }
  .base__icon.icon_wind_borsa_studio--grey {
    background-position: 25% 54.92308%; }
  .base__icon.icon_wind_borsa_studio--white {
    background-position: 50% 54.92308%; }
  .base__icon.icon_centralino--color {
    background-position: 0% 56.02154%; }
  .base__icon.icon_centralino--grey {
    background-position: 25% 56.02154%; }
  .base__icon.icon_centralino--white {
    background-position: 50% 56.02154%; }
  .base__icon.icon_offerta_mobile_fisso--color {
    background-position: 0% 57.12%; }
  .base__icon.icon_offerta_mobile_fisso--grey {
    background-position: 25% 57.12%; }
  .base__icon.icon_offerta_mobile_fisso--white {
    background-position: 50% 57.12%; }
  .base__icon.icon_info--color {
    background-position: 0% 58.21846%; }
  .base__icon.icon_info--grey {
    background-position: 25% 58.21846%; }
  .base__icon.icon_info--white {
    background-position: 50% 58.21846%; }
  .base__icon.icon_estero--color {
    background-position: 0% 59.31692%; }
  .base__icon.icon_estero--grey {
    background-position: 25% 59.31692%; }
  .base__icon.icon_estero--white {
    background-position: 50% 59.31692%; }
  .base__icon.icon_menu--color {
    background-position: 0% 60.41538%; }
  .base__icon.icon_menu--grey {
    background-position: 25% 60.41538%; }
  .base__icon.icon_menu--white {
    background-position: 50% 60.41538%; }
  .base__icon.icon_preferiti--color {
    background-position: 0% 61.51385%; }
  .base__icon.icon_preferiti--grey {
    background-position: 25% 61.51385%; }
  .base__icon.icon_preferiti--white {
    background-position: 50% 61.51385%; }
  .base__icon.icon_esporta--color {
    background-position: 0% 62.61231%; }
  .base__icon.icon_esporta--grey {
    background-position: 25% 62.61231%; }
  .base__icon.icon_esporta--white {
    background-position: 50% 62.61231%; }
  .base__icon.icon_passa_wind--color {
    background-position: 0% 63.71077%; }
  .base__icon.icon_passa_wind--grey {
    background-position: 25% 63.71077%; }
  .base__icon.icon_passa_wind--white {
    background-position: 50% 63.71077%; }
  .base__icon.icon_pdf--color {
    background-position: 0% 64.80923%; }
  .base__icon.icon_pdf--grey {
    background-position: 25% 64.80923%; }
  .base__icon.icon_pdf--white {
    background-position: 50% 64.80923%; }
  .base__icon.icon_xls--color {
    background-position: 0% 65.90769%; }
  .base__icon.icon_xls--grey {
    background-position: 25% 65.90769%; }
  .base__icon.icon_xls--white {
    background-position: 50% 65.90769%; }
  .base__icon.icon_wind_music_award {
    background-position: 0% 67.00615%; }
  .base__icon.icon_wind_music_award--grey {
    background-position: 25% 67.00615%; }
  .base__icon.icon_wind_music_award--white {
    background-position: 50% 67.00615%; }
  .base__icon.icon_windforfund {
    background-position: 0% 68.10462%; }
  .base__icon.icon_windforfund--grey {
    background-position: 25% 68.10462%; }
  .base__icon.icon_windforfund--white {
    background-position: 50% 68.10462%; }
  .base__icon.icon_mastercard {
    background-position: 0% 69.20308%; }
  .base__icon.icon_mastercard--grey {
    background-position: 25% 69.20308%; }
  .base__icon.icon_mastercard--white {
    background-position: 50% 69.20308%; }
  .base__icon.icon_visa {
    background-position: 0% 70.30154%; }
  .base__icon.icon_visa--grey {
    background-position: 25% 70.30154%; }
  .base__icon.icon_visa--white {
    background-position: 50% 70.30154%; }
  .base__icon.icon_paypal {
    background-position: 0% 71.4%; }
  .base__icon.icon_paypal--grey {
    background-position: 25% 71.4%; }
  .base__icon.icon_paypal--white {
    background-position: 50% 71.4%; }
  .base__icon.icon_diners_club {
    background-position: 0% 72.49846%; }
  .base__icon.icon_diners_club--grey {
    background-position: 25% 72.49846%; }
  .base__icon.icon_diners_club--white {
    background-position: 50% 72.49846%; }
  .base__icon.icon_visa_electron {
    background-position: 0% 73.59692%; }
  .base__icon.icon_visa_electron--grey {
    background-position: 25% 73.59692%; }
  .base__icon.icon_visa_electron--white {
    background-position: 50% 73.59692%; }
  .base__icon.icon_american_express {
    background-position: 0% 74.69538%; }
  .base__icon.icon_american_express--grey {
    background-position: 25% 74.69538%; }
  .base__icon.icon_american_express--white {
    background-position: 50% 74.69538%; }
  .base__icon.icon_cartasi {
    background-position: 0% 75.79385%; }
  .base__icon.icon_cartasi--grey {
    background-position: 25% 75.79385%; }
  .base__icon.icon_cartasi--white {
    background-position: 50% 75.79385%; }
  .base__icon.icon_pagamenti_conto--color {
    background-position: 0% 76.89231%; }
  .base__icon.icon_pagamenti_conto--grey {
    background-position: 25% 76.89231%; }
  .base__icon.icon_pagamenti_conto--white {
    background-position: 50% 76.89231%; }
  .base__icon.icon_wap--color {
    background-position: 0% 77.99077%; }
  .base__icon.icon_wap--grey {
    background-position: 25% 77.99077%; }
  .base__icon.icon_wap--white {
    background-position: 50% 77.99077%; }
  .base__icon.icon_fibra_adsl--color {
    background-position: 0% 79.08923%; }
  .base__icon.icon_fibra_adsl--grey {
    background-position: 25% 79.08923%; }
  .base__icon.icon_fibra_adsl--white {
    background-position: 50% 79.08923%; }
  .base__icon.icon_gestione_anagrafica--color {
    background-position: 0% 80.18769%; }
  .base__icon.icon_gestione_anagrafica--grey {
    background-position: 25% 80.18769%; }
  .base__icon.icon_gestione_anagrafica--white {
    background-position: 50% 80.18769%; }
  .base__icon.icon_top_mondo--color {
    background-position: 0% 81.28615%; }
  .base__icon.icon_top_mondo--grey {
    background-position: 25% 81.28615%; }
  .base__icon.icon_top_mondo--white {
    background-position: 50% 81.28615%; }
  .base__icon.icon_naviga_ovunque--color {
    background-position: 0% 82.38462%; }
  .base__icon.icon_naviga_ovunque--grey {
    background-position: 25% 82.38462%; }
  .base__icon.icon_naviga_ovunque--white {
    background-position: 50% 82.38462%; }
  .base__icon.icon_app_strumenti--color {
    background-position: 0% 83.48308%; }
  .base__icon.icon_app_strumenti--grey {
    background-position: 25% 83.48308%; }
  .base__icon.icon_app_strumenti--white {
    background-position: 50% 83.48308%; }
  .base__icon.icon_servizi_tel_digitali--color {
    background-position: 0% 84.58154%; }
  .base__icon.icon_servizi_tel_digitali--grey {
    background-position: 25% 84.58154%; }
  .base__icon.icon_servizi_tel_digitali--white {
    background-position: 50% 84.58154%; }
  .base__icon.icon_offerta--color {
    background-position: 0% 85.68%; }
  .base__icon.icon_offerta--grey {
    background-position: 25% 85.68%; }
  .base__icon.icon_offerta--white {
    background-position: 50% 85.68%; }
  .base__icon.icon_offerta_sim--color {
    background-position: 0% 86.77846%; }
  .base__icon.icon_offerta_sim--grey {
    background-position: 25% 86.77846%; }
  .base__icon.icon_offerta_sim--white {
    background-position: 50% 86.77846%; }
  .base__icon.icon_confirm--color {
    background-position: 0% 87.87692%; }
  .base__icon.icon_confirm--grey {
    background-position: 25% 87.87692%; }
  .base__icon.icon_confirm--white {
    background-position: 50% 87.87692%; }
  .base__icon.icon_spinner--color {
    background-position: 0% 88.97538%; }
  .base__icon.icon_spinner--grey {
    background-position: 25% 88.97538%; }
  .base__icon.icon_spinner--white {
    background-position: 50% 88.97538%; }
  .base__icon.icon_fail--color {
    background-position: 0% 90.07385%; }
  .base__icon.icon_fail--grey {
    background-position: 25% 90.07385%; }
  .base__icon.icon_fail--white {
    background-position: 50% 90.07385%; }
  .base__icon.icon_inserisci_numero--color {
    background-position: 0% 91.17231%; }
  .base__icon.icon_inserisci_numero--grey {
    background-position: 25% 91.17231%; }
  .base__icon.icon_inserisci_numero--white {
    background-position: 50% 91.17231%; }
  .base__icon.icon_inserisci_codice--color {
    background-position: 0% 92.27077%; }
  .base__icon.icon_inserisci_codice--grey {
    background-position: 25% 92.27077%; }
  .base__icon.icon_inserisci_codice--white {
    background-position: 50% 92.27077%; }
  .base__icon.icon_attivazione--color {
    background-position: 0% 93.36923%; }
  .base__icon.icon_attivazione--grey {
    background-position: 25% 93.36923%; }
  .base__icon.icon_attivazione--white {
    background-position: 50% 93.36923%; }
  .base__icon.icon_parametro--color {
    background-position: 0% 94.46769%; }
  .base__icon.icon_parametro--grey {
    background-position: 25% 94.46769%; }
  .base__icon.icon_parametro--white {
    background-position: 50% 94.46769%; }
  .base__icon.icon_internet--color {
    background-position: 0% 95.56615%; }
  .base__icon.icon_internet--grey {
    background-position: 25% 95.56615%; }
  .base__icon.icon_internet--white {
    background-position: 50% 95.56615%; }
  .base__icon.icon_arrow_right--color {
    background-position: 0% 96.66462%; }
  .base__icon.icon_arrow_right--grey {
    background-position: 25% 96.66462%; }
  .base__icon.icon_arrow_right--white {
    background-position: 50% 96.66462%; }
  .base__icon.icon_arrow_left--color {
    background-position: 0% 97.76308%; }
  .base__icon.icon_arrow_left--grey {
    background-position: 25% 97.76308%; }
  .base__icon.icon_arrow_left--white {
    background-position: 50% 97.76308%; }
  .base__icon.icon_caret--color {
    background-position: 0% 98.86154%; }
  .base__icon.icon_caret--grey {
    background-position: 25% 98.86154%; }
  .base__icon.icon_caret--white {
    background-position: 50% 98.86154%; }
  .base__icon.icon_caret_outline--color {
    background-position: 0% 99.96%; }
  .base__icon.icon_caret_outline--grey {
    background-position: 25% 99.96%; }
  .base__icon.icon_caret_outline--white {
    background-position: 50% 99.96%; }

.wind__offer--bundle {
  display: table;
  min-width: 75%;
  margin: 0 auto 16px;
  border-collapse: collapse; }
  .wind__offer--bundle_item {
    display: table-cell;
    width: 33%;
    color: #F48135;
    text-align: center; }
    .wind__offer--bundle_item:not(:last-of-type) {
      border-right: 1px solid #D3D3D2; }
    .wind__offer--bundle_item .item--amount {
      font-size: 40px;
      line-height: 1em; }
    .wind__offer--bundle_item .item--label {
      font-size: 18px;
      line-height: 1em; }
      .wind__offer--bundle_item .item--label .what {
        display: inline-block;
        width: 100%; }
