<div class="checkbox checkbox-primary">
  <input type="checkbox" id="checkbox1" checked="checked" />
  <label for="checkbox1"></label>
</div>

<div class="checkbox checkbox-primary">
  <input type="checkbox" id="checkbox2" checked="checked" />
  <label for="checkbox2">Label</label>
</div>