@import 'partials/vars';
@import 'partials/reset';
@import 'partials/typography';
@import 'partials/mixins';
@import 'partials/header';
@include attributes_classes;
@include position_classes;
@include text_classes;
.clear {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

.text_bold {
    font-weight: 600;
}

.upper {
    text-transform: uppercase;
}

.text_align {
    &_left {
        text-align: left;
    }
    &_center {
        text-align: center;
    }
    &_right {
        text-align: right;
    }
}

.container {
    margin: 0 auto;
    max-width: 950px;
    position: relative;
    height: auto;
    font-family: 'Trebuchet MS';
}

.landing_booking {
    .hero {
        width: 100%;
        display: block;
        position: relative;
        &_img {
            .img_swipe1 {
                width: 100%;
                height: auto;
                display: block;
                @include breakpoint ('display_small') {
                    display: none;
                }
            }
            .img_swipe2 {
                width: 100%;
                height: auto;
                display: none;
                @include breakpoint ('display_small') {
                    display: block;
                }
            }
        }
    }
    .conditions,
    .recurrency {
        width: 50%;
        float: left;
        @include breakpoint('display_small') {
            width: 100%;
        }
    }
    .conditions {
        .terms,
        .paesi {
            display: inline-block;
            a {
                text-decoration: none;
                color: $color_orange;
                &:hover {
                    border-bottom: 1px solid $color_orange;
                }
            }
        }
    }
    .blockDesktop {
        // @include breakpoint('display_small') {
        //     display: none;
        // }
        .info_offer {
            color: $color_grey_darker;
            a {
                color: $color_orange;
            }
            &__details {
                &--left {
                    width: 49%;
                    margin-right: 1%;
                    float: left;
                    @include breakpoint('display_small') {
                        width: 100%;
                    }
                }
                &--right {
                    width: 50%;
                    float: left;
                    @include breakpoint('display_small') {
                        width: 100%;
                    }
                }
            }
        }
        .offer_tab {
            &_nav {
                position: relative;
                .active {
                            border: 2px solid $color_orange;
                            box-sizing: border-box;
                            border-radius: 4px 4px 0 0;
                            border-bottom: 0;
                            background-color: white;
                            padding: 20px;
                            height: 60px;
                            a {
                            color: #000000;
                        }
                        }
                &_link {
                    background-color: $color_orange;
                    position: relative;
                    padding: 15px;
                    border-radius: 4px;
                    box-sizing: border-box;
                    text-align: center;
                    z-index: 1;
                    a {
                        color: white;
                    }
                    &.sx {
                        float: left;
                        width: 50%;
                        text-align: center;
                    }
                    &.dx {
                        float: right;
                        width: 46%;
                        margin: 0 2%;
                    }
                }
            }
            &_content {
                background-color: white;
                height: auto;
                border: 2px solid $color_orange;
                box-sizing: border-box;
                border-radius: 0 4px 4px 4px;
                position: relative;
                top: -2px;
                padding: 50px 50px 40px 50px;
                @include breakpoint('display_small') {
                    padding: 20px;
                }
                .offer_ClaimLogo {
                    .claim {
                        font-family: 'Trebuchet MS';
                        color: $color_orange;
                        width: 50%;
                        float: left;
                        text-align: left;
                        @include breakpoint('display_small') {
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .offerLogo {
                        width: 50%;
                        float: left;
                        @include breakpoint('display_small') {
                            width: 100%;
                        }
                    }
                }
                &_halfBlock {
                    &--left {
                        width: 68%;
                        margin-right: 2%;
                        float: left;
                        @include breakpoint('display_small') {
                            width: 100%;
                        }
                        .offer_detail {
                            .offer {
                                &_deleted {
                                    position: relative;
                                    color: $color_orange;
                                    &:after {
                                        border-bottom: 1px solid #000;
                                        content: "";
                                        left: 0;
                                        position: absolute;
                                        left: calc(50% - 45px);
                                        right: calc(50% - 45px);
                                        top: 50%;
                                    }
                                }
                                .detail {
                                    color: $color_grey_darker;
                                }
                                .unlimited {
                                    color: $color_orange;
                                }
                                .gigs,
                                .under {
                                    float: left;
                                    color: $color_orange;
                                }
                                .spacer {
                                    float: left;
                                    width: 3px;
                                    height: 40px;
                                    background-color: $color_grey_darker;
                                }
                            }
                        }
                    }
                    &--right {
                        width: 28%;
                        margin-left: 2%;
                        float: left;
                        @include breakpoint('display_small') {
                            width: 100%;
                        }
                        .offer_detail {
                            .number,
                            .offer {
                                .price {
                                    float: right;
                                    font-family: 'Trebuchet MS';
                                    letter-spacing: -0.2em;
                                }
                                .image {
                                    float: right;
                                    margin-left: 15%
                                }
                            }
                        }
                    }
                    .offer_detail {
                        .number,
                        .offer {
                            font-family: $font_weight_bold_2;
                            .price,
                            .image {
                                float: right;
                                margin-left: 2%;
                            }
                            &_numbers {
                                color: $color_orange;
                            }
                            &_detailText {
                                color: $color_grey_medium_dark;
                            }
                        }
                    }
                }
                .offerAdd {
                    color: #333333;
                }
                .offer_choice {
                    &--left {
                        float: left;
                        width: 40%;
                        .capsule {
                            width: 100%;
                            float: right;
                            &.box-shadow {
                                box-shadow: 0px 0px 20px rgba(0, 0, 0, .5)
                            }
                            &--left {
                                float: left;
                                width: 60%;
                                border-radius: 4px 0 0 4px;
                                -webkit-border-radius: 4px 0 0 4px;
                                -moz-border-radius: 4px 0 0 4px;
                                background-color: $color_orange;
                                padding: 18px 0;
                                color: white;
                            }
                            &--right {
                                float: left;
                                width: 40%;
                                border-radius: 0 4px 4px 0;
                                -webkit-border-radius: 0 4px 4px 0;
                                -moz-border-radius: 0 4px 4px 0;
                                background-color: $color_grey_light;
                                padding: 15px 0;
                            }
                        }
                    }
                    &_divider {
                        float: left;
                        width: 20%;
                        color: #666666;
                    }
                    &--right {
                        float: left;
                        width: 40%;
                        .capsule {
                            width: 100%;
                            float: left;
                            &.box-shadow {
                                box-shadow: 0px 0px 20px rgba(0, 0, 0, .5)
                            }
                            &--left {
                                float: left;
                                width: 60%;
                                border-radius: 4px 0 0 4px;
                                -webkit-border-radius: 4px 0 0 4px;
                                -moz-border-radius: 4px 0 0 4px;
                                background-color: $color_orange;
                                padding: 18px 0;
                                color: white;
                            }
                            &--right {
                                float: left;
                                width: 40%;
                                border-radius: 0 4px 4px 0;
                                -webkit-border-radius: 0 4px 4px 0;
                                -moz-border-radius: 0 4px 4px 0;
                                background-color: $color_grey_light;
                                padding: 15px 0;
                            }
                        }
                    }
                }
                .offer_recurrency {
                    color: #666666;
                }
                .offer2 {
                    .claim {
                        color: $color_orange;
                    }
                }
                &_halfBlock2 {
                    font-family: 'Trebuchet MS';
                    &--left {
                        width: 50%;
                        float: left;
                        border-right: 1px solid #cccccc;
                        box-sizing: border-box;
                        .offerBlock {
                            float: left;
                            width: 60%;
                            &_details {
                                .numbers {
                                    color: $color_orange;
                                }
                            }
                        }
                        .offer_stamp {
                            float: left;
                            width: 40%;
                        }
                    }
                    &--right {
                        width: 45%;
                        margin-left: 5%;
                        float: left;
                        .offerBlock {
                            float: left;
                            width: 70%;
                            &_details {
                                .numbers {
                                    color: $color_orange;
                                }
                            }
                        }
                        .offer_stamp {
                            float: left;
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}

.footer_block {
    width: 100%;
    border-top: 1px solid #d3d3d2;
    &__container {
        margin: 0 auto;
        max-width: 950px;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        &__copy {
            color: #999;
            font-size: 0.8125em;
            padding-top: 2px;
            padding-left: 5px;
            float: left;
        }
        &__logos {
            float: right;
            padding-right: 15px;
            &--list {
                text-align: right;
                padding-left: 0;
                margin-bottom: 0;
                li {
                    display: inline;
                    list-style-type: none;
                    vertical-align: middle;
                    padding-left: 15px;
                }
            }
        }
    }
}
