#quote {
    position: relative;
    width: calc(100% - 60px);
    padding: 30px;
    top: 50px;
    display: block;
    font-family: 'Coming Soon', cursive;
    text-align: center;
}

h1 {
    font: 900 120px/1 'Source Sans Pro', Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: -3px;
    padding-top: 30px;
    position: relative;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: 10px 0 30px 0;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%), 0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%), 0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%), 0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, .05), 0 1px 3px rgba(0, 0, 0, .2), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .3);
}

.block {
    position: relative;
    height: 150px;
    border-color: black;
}

.elenco_completo{
    display: none;
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Coming Soon', cursive;
    font-size: 18px;
    color: black;
}

.lista{
    width: 100%;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    font-family: 'Coming Soon', cursive;
    font-size: 18px;
    margin-top: 15px;    
    margin-bottom: 15px;
}

.lista:hover{
    opacity: 0.5;
}

.lista img{
    width: 50px;
    height: auto;
}

.sound {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.sound img {
    width: 50px;
    height: auto;
}

.sound:hover {
    opacity: 0.5;
}

.sound_on {
    display: block;
}

.sound_off {
    display: none;
}

.title {}

.block1 {
    position: relative;
    height: 280px;
    border-color: black;
}

.bg_lavagna {
    position: relative;
    z-index: 400;
    margin: 0 auto;
    width: 750px;
    height: 375px;
    margin: auto;
    font-size: 150%;
    font-style: italics;
    background: url('lavagna.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding: 30px 30px 15px 40px;
}

.quotecontainer {
    position: relative;
}

#autore {
    position: absolute;
    z-index: 999;
    bottom: 0;
    right: -15%;
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 100%;
    font-weight: bold;
    color: #011015;
}

#ball {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#ball:hover{
    opacity: 0.5;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 768px) {
  h1{
    font-size: 40px;
  }
  .bg_lavagna{
    width: calc(100% - 30px);
    height: 300px;
    background-size: 100% 100%;
    padding: 0;
  }
  #quote{
    top: 10px;
    font-size: 16px;
  }
  .sound{
    right: 15px;
    bottom: 30px;
  }
}
