#quote {
    position: relative;
    width: calc(100% - 60px);
    padding: 30px;
    display: block;
    font-family: 'Coming Soon', cursive;
    text-align: center;
}

.block {
    position: relative;
    height: 150px;
    border-color: black;
}

.title {
    margin: auto;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    color: red;
}

.block1 {
    position: relative;
    height: 280px;
    border-color: black;
}

.bg_lavagna {
    position: relative;
    z-index: 400;
    margin: 0 auto;
    width: 750px;
    height: 375px;
    margin: auto;
    font-size: 150%;
    font-style: italics;
    background: url('lavagna.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding: 30px 30px 15px 40px;
}

.quotecontainer {
    position: relative;
}

#autore {
    position: absolute;
    z-index: 999;
    bottom: 0;
    right: -15%;
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 100%;
    font-weight: bold;
    color: #011015;
}

#ball {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}

img {
    max-width: 100%;
    max-height: 100%;
}
