<button class="btn btn-lg btn-primary {{btnClass}}">{{ btnText }}</button>
<button class="btn btn-primary  {{btnClass}}">{{ btnText }}</button>
<button class="btn btn-sm btn-primary {{btnClass}}">{{ btnText }}</button>
<button class="btn btn-xs btn-primary {{btnClass}}">{{ btnText }}</button>
