    .wnd {
        min-width: auto;
    }
    
    .wnd p {
        font-size: 1rem!important;
        line-height: 1.5em !important;
        margin-bottom: 0!important;
    }
    
    .wnd .txt p {
        margin-bottom: 20px !important;
        text-align: center;
        font-size: 1.2rem !important;
        padding: 0 8%;
    }
    
    .wnd h2 {
        font-size: 2.250rem !important;
        line-height: 1.750em;
        margin-top: 1rem!important;
        margin-bottom: 0!important;
    }
    
    .wnd h3 {
        font-size: 2.250rem !important;
        line-height: 1.750em;
    }
    
    .wnd h4 {
        font-size: 1.125rem !important;
        line-height: normal;
    }
    
    .wnd h4.first-claim {
        margin-top: 1rem!important;
        margin-bottom: 0!important;
    }
    
    .wnd h4.second-claim {
        margin-top: 1.2rem!important;
        /*margin-bottom: 0!important;*/
    }
    
    .wnd p,
    .wnd h3,
    .wnd h4 {
        color: #333;
    }
    
    a.bt-up.only-msite {
        color: #010101;
    }
    
    a.bt-link {
        font-size: 0.75rem;
        line-height: 1.25em;
    }
    
    .landing .container > .row > .col.col-ph p {
        //font-size: 1.125rem;
        //line-height: normal;
    }
    
    .landing .container > .row > .col.col-ph h5 {
        font-size: 1.125rem;
        margin-top: 1.8rem;
        margin-bottom: 0;
        color: #ff6a00;
    }
    
    .landing .container > .row > .col.col-ricarica a.bt-cta {
        font-size: 1.375rem;
        font-weight: normal;
        padding: 1rem 2.9rem;
    }
    
    .landing .container > .row > .col.col-links {
        padding-left: 0.75rem;
    }
    
    .landing .container > .row > .col.col-links + .col.col-links {
        padding-left: 0;
        padding-right: 0.75rem;
    }
    
    .landing .container > .row > .col.col-feat .col.col-feat {
        /*margin-top: 1.75rem;*/
    }
    
    .landing .container > .row > .col.col-feat .img {
        margin-right: 1px;
        margin-left: 1px;
    }
    
    .landing .container > .row > .col.col-feat .txt.double {
        padding: 0;
        padding-top: 0;
    }
    
    .landing .container > .row > .col.col-feat .txt.double.vPadd {
        padding-top: 30px;
    }
    
    .landing .container > .row > .col.col-feat .txt.double p {
        margin-top: 1.4rem;
        margin-bottom: 0;
        //line-height: 2em;
    }
    
    .landing .container > .row > .col.col-links .txt p {
        margin-top: 2rem;
    }
    
    .landing .container > .row .col.col-lg--60 {
        width: 100%;
        top: 0;
    }
    
    .landing .container > .row .col.col-lg--60 img {
        margin: 0 auto;
        padding-top: 30px;
    }
    
    .landing .container > .row.bor > #logo_wma {
        margin: 0 auto 35px;
        width: 100%;
        max-width: 470px;
        padding: 0 50px;
        text-align: center;
    }
    
    @media (min-width: 960px) {
        .landing .container > .row .col.col-lg--60 img {
            position: relative;
            top: -40px;
        }
        .landing .container > .row .col.col-lg--60 img {
            padding-top: 0;
        }
    }
    
    .landing .container > .row > .col.col-feat .txt {
        width: 100%;
    }
    
    .landing .container > .row > .col.col-feat .txt h3 {
        color: #ff6a00;
        text-align: center;
    }
    /* >=768 */
    
    @media (min-width: 768px) {
        .landing .container > .row.bor.hPadd {
            /*padding-left: 2rem;
            padding-right: 2rem;*/
        }
        #img-nova-1 {
            padding-bottom: 2rem;
            width: 96%;
        }
        #img-nova-2 {
            max-width: 100%;
            padding-bottom: 1rem;
        }
        #img-nova-3 {
            margin-top: 3rem;
            max-width: 65%;
        }
        /*#img-nova-4 {
            margin: 2rem 0 0 auto;
        }*/
        .landing .container > .row > .col.col-feat .col.col-feat .img-left {
            width: 60%;
        }
        .landing .container > .row > .col.col-feat .col.col-feat .img-left img {
            display: block;
            width: 100%;
        }
        .landing .container > .row > .col.col-feat .col.col-feat .img-right {
            width: 40%;
        }
        .landing .container > .row > .col.col-feat .col.col-feat .img-right img {
            display: block;
            width: 90%;
            margin: 0 auto;
        }
        .landing .container > .row .col.col-cta .youtube-link {
            margin-left: 1rem;
        }
        .landing .container > .row .col.col-cta .fb-link {
            margin-right: 1rem;
        }
        .landing .container > .row > .col.col-ph h2 {
            line-height: normal;
        }
    }
    
    @media (min-width: 60em) {
        .landing .container > .row > .col.col-links {
            padding-left: 0;
            padding-right: 0;
        }
    }
    /* <= 767 */
    
    @media (max-width: 767px) {
        .row {
            width: 100% !important;
        }
        .wnd h2 {
            font-size: 1.6rem !important;
            line-height: normal !important;
        }
        .wnd h3 {
            margin-bottom: 0 !important;
        }
        .wnd h4 {
            font-size: 1.1rem !important;
            line-height: normal;
        }
        .wnd h4.second-claim {
            font-size: 1.2rem!important;
        }
        .wnd h4.second-claim + p {
            margin-top: 1rem!important;
        }
        .wnd h5 {
            font-weight: normal;
            /*margin-top: 0!important;*/
            line-height: normal;
            /*margin-bottom: 4rem!important;*/
        }
        a.bt-up.only-msite {
            font-size: 1.15rem;
        }
        .landing .container > .row > .col.col-vis {
            margin: 0;
            width: 100%;
        }
        .landing .container > .row > .col.col-vis img {
            margin: 0;
        }
        .landing .container > .row > .col.col-links.links1 {
            position: relative;
            top: 65px;
        }
        .landing .container > .row > .col.col-ricarica.ricarica1 {
            position: relative;
            bottom: 75px;
        }
        .landing .container > .row > .col.col-links {
            width: 96%;
            margin: 0 2%;
            padding-left: 0;
        }
        .landing .container > .row > .col.col-links .txt p {
            text-align: left;
            font-size: 1.05rem;
            margin-top: 0.7rem;
        }
        .landing .container > .row > .col.col-feat {
            width: 96%;
            margin: 0 2%;
        }
        .landing .container > .row > .col.col-feat .txt.double p {
            margin-top: 0.5rem;
            font-size: 1.05rem;
        }
        .landing .container > .row > .col.col-feat .col.col-feat {
            margin-top: 1.75rem;
        }
        .landing .container > .row > .col.col-feat .col.col-feat .img-left {
            margin: 0 auto;
        }
        .landing .container > .row > .col.col-feat .col.col-feat .img-right {
            text-align: left;
            margin: 0;
        }
        .landing .container > .row > .col.col-cta {
            margin-top: 2rem;
        }
        .landing .container > .row .col.col-cta .youtube-link,
        .landing .container > .row .col.col-cta .fb-link {
            max-width: 200px;
            width: 60%;
        }
        .landing .container > .row > .col.col-cta.dx {
            margin-top: 3rem;
        }
        a.bt-link {
            font-size: 1.075rem;
            line-height: 1.75em;
        }
        a.bt-cta span {
            display: inline!important;
        }
        #img-nova-1 {
            width: 100%;
            margin: 0 auto;
            padding-bottom: 6rem;
        }
        #img-nova-2 {
            width: 75%;
            padding-bottom: 2rem;
            max-width: 360px;
        }
        #img-nova-3 {
            width: 80%;
            max-width: 360px;
            padding-top: 1rem;
            padding-left: 0.7rem;
        }
        #img-nova-4 {
            width: 78%;
        }
        .landing .container > .row .col.col-lg--60 img {
            padding-bottom: 70px;
        }
        .wnd .txt p {
            margin-bottom: 80px !important;
            font-size: 1.1rem !important;
            padding: 0 10px;
        }
        .landing .container > .row .col.col-feat .txt h3 {
            /*width: 90%;*/
            font-size: 1.6rem !important;
        }
    }
    /*  >= 960 */
    
    @media (min-width: 960px) {
        .landing .container > .row .col.col-lg--40 {
            width: 40%;
            /*margin: 0 1%;*/
        }
        .landing .container > .row .col.col-lg--60 {
            width: 60%;
            top: -60px;
            left: 30px;
        }
    }
    
    @media (min-width: 720px) and (max-width: 960px) {
        .wnd .container .row .col.col-lg--40 {
            margin: 0 1% !important;
        }
    }
    
    @media (max-width: 960px) {
        .landing .container > .row .col.col-lg--60 img {
            padding-bottom: 75px;
        }
        .landing .container > .row > .col.col-feat .txt.double.vPadd {
            padding-top: 0;
        }
    }
    
    @media (max-width: 480px) {
        .wnd .ricarica1 .only-msite {
            display: block;
            visibility: visible;
        }
        .wnd .ricarica1 .only-desk {
            display: none !important;
            visibility: hidden !important;
        }
        .wnd .ricarica1 .only-msite .img_googleplay {
            text-align: center;
            margin: 10px auto 0;
        }
        .wnd .ricarica1 .only-msite .img_apple {
            text-align: center;
            margin: 10px auto 0;
        }
        .wnd .ricarica1 .only-msite .title_veon {
            font-size: 18px;
            font-weight: bold;
            color: #ff6a00;
        }
        .landing .container > .row > .col.col-links.links1 {
            top: 120px;
        }
    }
    
    @media (min-width: 481px) {
        .wnd .ricarica1 .only-msite {
            display: none;
            visibility: hidden;
        }
        .wnd .ricarica1 .only-desk {
            display: block !important;
            visibility: visible !important;
        }
    }
