<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title">
                <h1 class="margin_bottom_m_50">
                    <span class="landing__hero--title--light font_bold_condensed vw_font_120 font_size_m_40 display_block margin_top_m_30">ALL INCLUSIVE</span>
                    <span class="landing__hero--title--mainTitle font_bold font_size_36 font_size_m_24 display_block text_normal">Il dettaglio che<br class="only_mobile_768"> fa la differenza</span>
                </h1>
            </div>
            <div class="bundle_orange__container margin_bottom_150">
                <div class="bundle_orange">
                    <div class="bundle_orange__title"><span class="font_size_60 font_size_m_40">500</span><span class="font_size_24 font_size_m_18"><br>Minuti<br>verso tutti</span></div>
                </div>
                <div class="bundle_orange margin_top_m_15">
                    <div class="bundle_orange__title"><span class="font_size_60 font_size_m_40">500</span><span class="font_size_24 font_size_m_18"><br>SMS<br>verso tutti</span></div>
                </div>
                <div class="bundle_orange margin_top_m_15 vertical_top">
                    <div class="bundle_orange__title"><span class="font_size_60 font_size_m_40">2</span><span class="font_size_24 font_size_m_18"><br>GIGA</span></div>
                </div>                
            </div>
            <div class="landing__hero__imageContainer mobile_centered big_mobile margin_top_m_50">
                <img src="../img/stopchurn_hero.png" alt="">
            </div>
            <div class="landing__hero--ribbon ribbon_max_250 margin_bottom_30">
                <div class="price padding_top_5">12<span class="currency">€</span></div>
                <div class="recurrency text_uppercase">Ogni 4 settimane</div>
            </div>
            <a href="javascript:void(0);" class="button_shoulder_login button button__hovering button--standard text_align--center">attiva subito</a>
        </div>
    </div>
</div>
