<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title">
                <h1 class="margin_bottom_m_10">
                    <span class="landing__hero--title--light font_size_m_40 display_block">porta</span>
                    <span class="landing__hero--title--mainTitle font_size_m_54 display_block">i tuoi amici</span>
                    <span class="landing__hero--title--light font_size_m_40 display_block">in Wind</span>
                </h1>
            </div>
            <div class="bundle_orange__container text_color_orange margin_bottom_m_0">
                <div class="hero_claim font_size_38 font_size_m_20 font_light text_uppercase">per te e per loro</div>
                <div class="hero_claim font_size_60 font_size_m_34 font_bold text_uppercase">2 giga gratis!</div>
                <div class="hero_claim font_size_38 font_size_m_20 font_light text_uppercase">fino a <span class="hero_claim font_size_60 font_size_m_34 font_bold">8 giga!</span></div>
            </div>
            <div class="landing__hero__imageContainer full_image mobile_centered">
                <img src="../img/pita_hero.png" alt="">
            </div>            
            <!--             <div class="landing__hero--details">
                <div class="single">
                    <div class="image">
                        <img src="../img/check.png" alt="">
                    </div>
                    <div class="text">
                        attivazione gratuita
                    </div>
                </div>
                <div class="single">
                    <div class="image">
                        <img src="../img/check.png" alt="">
                    </div>
                    <div class="text">
                        primo rinnovo gratuito
                    </div>
                </div>
            </div>
            <div class="landing__hero--ribbon">
                <div class="price">10,50<span class="currency">€</span></div>
                <div class="recurrency">ogni quattro settimane</div>
            </div> -->
            <a href="javascript:void(0);" class="button_shoulder_login button button__hovering button--standard text_align--center">INVITA I TUOI AMICI</a>
        </div>
    </div>
    <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div>
</div>
