<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container easy-europe_background">
            <div class="landing__hero--title padding_bottom_15">
                <h1 class="margin_bottom_m_10 margin_bottom_10">
                    <span class="landing__hero--title--mainTitle padding_top_50 font_size_m_50 display_block">easy europe</span>
                </h1>
            </div>
            <div class="bundle_orange__container text_color_orange margin_bottom_25 margin_bottom_m_0">
                <div class="hero_claim font_size_36 font_size_m_28 font_regular margin_bottom_m_15">Il roaming in Europa <br class="only_desktop">diventa <br class="only_mobile">più semplice!</div>

            </div>
            <!--             <div class="landing__hero__imageContainer full_image">
                <img src="../img/pita/pita_hero.png" alt="">
            </div> -->
<!--             <a href="#" class="button button__hovering button--standard text_align--center margin_bottom_0" id="ecommerce_action">ATTIVA SUBITO</a> -->
        </div>
    </div>
    <!--     <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div> -->
</div>
