<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container magnum_background">
            <div class="landing__hero__tabs margin_bottom_m_15">
                <div class="landing__hero__tabs--button active" data-tabn="1">5 giga</div>
                <div class="landing__hero__tabs--button" data-tabn="2">10 giga</div>
                <div class="landing__hero__tabs--button" data-tabn="3">30 giga</div>
            </div>
            <div class="landing__hero--title padding_bottom_15">
                <h1 class="margin_bottom_m_10">
                    <span class="landing__hero--title--mainTitle font_size_60 font_size_m_34 display_block">nuova wind magnum</span>
                    <span class="landing__hero--title--mainTitle font_size_80 font_size_m_34 display_block hero_tab active" data-tabtarget="1">5 giga</span>
                    <span class="landing__hero--title--mainTitle font_size_80 font_size_m_34 display_block hero_tab" data-tabtarget="2">10 giga</span>
                    <span class="landing__hero--title--mainTitle font_size_80 font_size_m_34 display_block hero_tab" data-tabtarget="3">30 giga</span>
                </h1>
            </div>
            <div class="bundle_orange__container text_color_orange margin_bottom_25 margin_bottom_m_0">
                <div class="hero_claim font_size_36 font_size_m_20 font_bold margin_bottom_m_15">Minuti Illimitati <span class="font_light"><br class="only_mobile">verso tutti</span></div>
                <div class="hero_claim font_size_36 font_size_m_20 font_bold margin_bottom_m_15 hero_tab active" data-tabtarget="1">5 GIGA <span class="hero_claim font_light"><br class="only_mobile">da condividere</span></div>
                <div class="hero_claim font_size_36 font_size_m_20 font_bold margin_bottom_m_15 hero_tab" data-tabtarget="2">10 GIGA <span class="hero_claim font_light"><br class="only_mobile">da condividere</span></div>
                <div class="hero_claim font_size_36 font_size_m_20 font_bold margin_bottom_m_15 hero_tab" data-tabtarget="3">30 GIGA <span class="hero_claim font_light"><br class="only_mobile">da condividere</span></div>
            </div>
            <!--             <div class="landing__hero__imageContainer full_image">
                <img src="../img/pita/pita_hero.png" alt="">
            </div> -->
            <div class="landing__hero--details margin_bottom_10">
                <div class="single margin_bottom_10 margin_top_30">
                    <div class="image">
                        <img src="/fileadmin/img-landing/icons-interface/check.png" alt="">
                    </div>
                    <div class="text">
                        telefono
                        <br class="only_mobile">incluso
                    </div>
                </div>
            </div>
            <div class="landing__hero__sponsor_container margin_bottom_20">
                <div class="landing__hero--sponsor padding_right_15">
                    <img src="../img/magnum-inclusa.png" alt="">
                </div>
                <div class="landing__hero--sponsor">
                    <img src="../img/magnum-sponsor.png" alt="">
                </div>
            </div>
            <div class="landing__hero--ribbon low_ribbon">
                <div class="price hero_tab active" data-tabtarget="1">14,90<span class="currency">€</span></div>
                <div class="price hero_tab" data-tabtarget="2">19,90<span class="currency">€</span></div>
                <div class="price hero_tab" data-tabtarget="3">29,90<span class="currency">€</span></div>
                <div class="recurrency">ogni 4 settimane</div>
            </div>
            <div class="landing__hero--stamp">
                <div class="landing__hero--stamp--single">
                    <img src="../img/bolli_4g_free.png" alt="">
                </div>
                <div class="landing__hero--stamp--single">
                    <img src="../img/bollo_3_Giga.png" alt="">
                </div>
            </div>
            <a href="#" class="button button__hovering button--standard text_align--center margin_bottom_0" id="ecommerce_action">ATTIVA SUBITO</a>
        </div>
    </div>
    <!--     <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div> -->
</div>
