<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container no_padding_container">
            <div class="landing__hero--title">
                <div class="vw_font_90 smaller_mobile_vw font_size_m_30 font_bold text_color_white text_uppercase bg_color_orange padding_left_30 padding_right_30 padding_left_m_15 padding_bottom_10 padding_right_m_15 padding_top_50 margin_right_30 margin_bottom_30">#thewindunlimited</div>
                <div class="vw_font_90 smaller_mobile_vw font_size_m_30 box_width_70 same_mobile_width font_bold text_color_white text_uppercase bg_color_orange padding_left_30 padding_right_30 padding_left_m_15 padding_right_m_15 padding_bottom_10 padding_top_50 margin_right_30">#noextracosti</div>                   
            </div>       
        </div>
    </div>
</div>
