<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title mobile_centered padding_bottom_15 display_inline vertical_middle box_width_50">
                <h1 class="margin_bottom_m_10 margin_bottom_10">
                    <span class="landing__hero--title--mainTitle text_normal font_size_90 font_size_m_50 vw_font_120 padding_top_50 display_block">iPhone 7<br class="only_desktop">CON WIND<br class="only_desktop"> MAGNUM<br class="only_desktop"> NO TAX</span>
                </h1>
            </div>
            <div class="landing__hero__imageContainer no_absolute display_inline vertical_middle mobile_centered box_width_50">
                <img src="../img/iphone_magnum_hero.png" alt="">
            </div>
            <a href="#" class="button button__hovering button--standard text_align--center margin_bottom_0">ATTIVA SUBITO</a>
        </div>
    </div>
    <!--     <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div> -->
</div>
