<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title display_inline vertical_middle box_width_100">
                <h1 class="margin_bottom_m_10 margin_bottom_10">
                    <span class="landing__hero--title--mainTitle font_size_m_46 extended_line_height vw_font_90 padding_top_30">SCOPRI</span>
                    <span class="landing__hero--title--light font_size_m_40 extended_line_height vw_font_80 padding_top_30"><br class="only_mobile"/> COME <br class="only_desktop"/>ACQUISTARE <br class="only_mobile"/>O PRENOTARE <br/>LE</span>
                    <span class="landing__hero--title--mainTitle font_size_m_46 extended_line_height vw_font_90 padding_top_30">OFFERTE ONLINE</span>
                </h1>
            </div>
            <div class="text_color_orange font_size_42 font_size_m_26 margin_bottom_20">
                <span class="hero_claim font_light text_uppercase">Puoi </span>
                <span class="hero_claim font_bold text_uppercase">concludere online </span>
                <span class="hero_claim font_light text_uppercase">il tuo acquisto <br class="only_desktop"/>o prenotare l'offerta sul sito <br class="only_desktop"/>e</span>
                <span class="hero_claim font_bold text_uppercase">ritirarla in negozio.</span>
            </div> 
        </div>
    </div>
    <!-- <div class="landing__hero--claim">
        <h2 class="text_color_orange">Puoi decidere se concludere <span class="font_bold">online il tuo acquisto</span> o <span class="font_bold">prenotarlo online</span> e recarti in un Negozio Wind<br class="only_desktop" /> per pagarlo e ritirarlo.</h2>
    </div> -->
</div>
<script>
jQuery(document).ready(function($) {
    $('body').addClass('absolute_footer_body');
    $('.landing__footer').addClass('absolute_footer');
});
</script>
