<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title padding_bottom_15 display_inline vertical_middle">
                <h1 class="margin_bottom_m_10 margin_bottom_10">
                    <span class="landing__hero--title--mainTitle extended_line_height font_size_90 padding_top_50 font_size_m_50 display_block">ricarica online<br><span class="font_size_80 text_normal">dal 23 al 29 Maggio<br>e vinci 3</span><img src="../img/lgg6_logo.png" class="display_inline margin_left_15"/><span class="text_normal"><br>al giorno</span></span>
                </h1>
            </div>
            <div class="landing__hero__imageContainer no_absolute full_image display_inline vertical_middle margin_left_50">
                <img src="../img/concorso_ricarica_hero.png" alt="">
            </div>
            <a href="#" class="button button__hovering button--standard text_align--center margin_bottom_0" id="ecommerce_action">ATTIVA SUBITO</a>
        </div>
    </div>
    <!--     <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div> -->
</div>
