<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container no_padding_container">
            <div class="landing__hero--title padding_bottom_15">
                <h1 class="margin_bottom_m_10 margin_bottom_10">
                    <span class="landing__hero--title--mainTitle padding_top_10 font_size_m_40 font_size_64 display_block text_normal text_centered padding_left_30 padding_right_30 padding_left_m_15 padding_right_m_15 extended_line_height">Fai scontrare i tuoi Bot <br class="only_desktop">preferiti in una collisione di <br class="only_desktop">universi Transformers! <br class="only_desktop">Con Wind è ancora più facile e divertente. </span>
                </h1>
            </div>
            <div class="landing__hero__imageContainer no_absolute full_mobile margin_bottom_30 margin_bottom_m_10">
                <img src="../img/transformers_hero.jpg" alt="">
            </div>
            <a href="http://play.google.com/redeem?code=WTransf" class="button button__hovering button--standard text_align--center margin_bottom_0">SCOPRI</a>
        </div>
    </div>
    <div class="landing__hero--claim">
        <h2 class="text_centered text_left_m"><span class="text_left_m text_centered font_size_80 font_size_m_40 font_bold_condensed text_color_blue_99 margin_top_30 margin_bottom_30 margin_top_m_10">che la battaglia abbia inizio</span></h2>
    </div>
</div>
