<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title">
                <h1 class="margin_bottom_m_10">
                    <span class="landing__hero--title--mainTitle text_color_infostrada font_size_100 font_size_m_54 display_block margin_top_m_30">ABSOLUTE <br class="only_desktop">ADSL</span>
                </h1>
            </div>
            <div class="only_mobile landing__hero--ribbon ribbon_fluid ribbon_max_250 ribbon_static box_width_30 colored_bg_ribbon--infostrada margin_bottom_20">
                <div class="price padding_top_10 text_centered padding_bottom_10 padding_left_30 padding_right_30 small_price">19,95<span class="currency">€</span></div>
            </div>             
            <div class="landing__hero__imageContainer full_image mobile_centered">
                <img src="../img/hero_check_infostrada.png" alt="">
            </div>
            <div class="landing__hero--details margin_bottom_30 margin_top_m_30">
                <div class="single margin_bottom_10">
                    <div class="image">
                        <img src="/fileadmin/img-landing/icons-interface/check.png" alt="">
                    </div>
                    <div class="text full_mobile">
                        ADSL VERA FINO A 20 MEGA
                    </div>
                </div>
                <div class="single margin_bottom_10">
                    <div class="image">
                        <img src="/fileadmin/img-landing/icons-interface/check.png" alt="">
                    </div>
                    <div class="text full_mobile">
                        TELEFONATE A 0 CENT AL MINUTO VERSO TUTTI
                    </div>
                </div>
                <div class="single margin_bottom_10">
                    <div class="image">
                        <img src="/fileadmin/img-landing/icons-interface/check.png" alt="">
                    </div>
                    <div class="text full_mobile">
                        ATTIVAZIONE E MODEM GRATIS
                    </div>
                </div>                
            </div>
            <div class="only_desktop landing__hero--ribbon ribbon_fluid ribbon_max_250 ribbon_static box_width_30 colored_bg_ribbon--infostrada margin_bottom_30">
                <div class="price padding_top_10 text_centered padding_bottom_10 padding_left_30 padding_right_30 small_price">19,95<span class="currency">€</span></div>
            </div>            
<!--             <a href="javascript:void(0);" class="button_shoulder_login button button__hovering button--standard text_align--center">INVITA I TUOI AMICI</a> -->
        </div>
    </div>
</div>
