<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container mobile_centered">
            <div class="landing__hero--title mobile_centered padding_bottom_15 display_inline vertical_middle box_width_60">
                <h1 class="margin_bottom_m_10 margin_bottom_10">
                    <span class="landing__hero--title--mainTitle extended_line_height font_size_90 font_size_m_50 vw_font_80 padding_top_50 padding_top_m_30 display_block">ricarica online<br><span class="font_size_80 font_size_m_40 vw_font_70">DAL 26 AL 30 luglio<br>E VINCI 7<br> huawei watch 2<br>AL GIORNO</span></span>
                </h1>
            </div>
            <div class="landing__hero__imageContainer no_absolute display_inline vertical_middle mobile_centered box_width_40">
                <img src="../img/huawei-watch-hero.png" alt="">
            </div>
            <a href="#" class="button button__hovering button--standard text_align--center margin_bottom_0 open_shoulder_button">RICARICA SUBITO</a>
        </div>
    </div>
    <!--     <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div> -->
</div>
