<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title">
                <h1 class="margin_bottom_m_10">
                    <h3><span class="font_size_26 font_size_m_18 text_color_orange font_bold_condensed text_uppercase">passa a wind o attiva una nuova sim</span></h3>
                    <span class="landing__hero--title--light font_bold_condensed vw_font_90 medium_mobile_vw display_block text_uppercase text_color_blue_99 margin_top_15 extended_line_height">wind smart 10 <br class="only_dekstop">online edition</span>
                </h1>
            </div>
            <div class="bundle_orange__container">
                <div class="bundle_orange margin_top_m_15">
                    <div class="bundle_orange__title"><span class="font_size_60 font_size_m_40">1.000 </span><span class="font_size_30 font_size_m_18"><br>minuti</span></div>
                </div>
                <div class="bundle_orange margin_top_m_15">
                    <div class="bundle_orange__title"><span class="font_size_60 font_size_m_40">5 </span><span class="font_size_30 font_size_m_18"><br>GIGA</span></div>
                </div>
            </div>
            <div class="landing__hero__imageContainer mobile_centered">
                <img src="../img/hero_wind_smart.png" alt="">
            </div>
            <div class="landing__hero--details margin_bottom_10 margin_bottom_50 margin_bottom_m_0">
                <div class="single margin_bottom_10 margin_top_30">
                    <div class="image">
                        <img src="/fileadmin/img-landing/icons-interface/check.png" alt="">
                    </div>
                    <div class="text">
                        attivazione
                        <br class="only_mobile">gratuita
                    </div>
                </div>
            </div>
            <div class="landing__hero--ribbon margin_bottom_30 low_ribbon ribbon_fluid padding_top_5 padding_bottom_20 padding_right_30 padding_left_30 ribbon_max_250 text_centered mobile_centered padding_bottom_m_0 padding_top_m_0 padding_left_m_0 padding_right_m_0">
                <div class="price padding_top_5 font_regular font_size_30 font_size_m_20 big_font">10<span class="currency font_regular">€</span></div>
                <div class="recurrency font_regular">ogni 4 settimane</div>
            </div>
            <a onclick="addRopz(this)" data-ropz="ROPZ4572_POPZ100532" href="javascript:void(0);" class="button button--standard text_align--center box_width_100 font_regular padding_left_10 padding_right_10"><span class="font_regular font_size_18">acquista subito</span></a>
        </div>
    </div>
    <div class="landing__hero--claim margin_top_10">
        <h2 class="font_bold_condensed">un'offerta così <br class="only_desktop"> la trovi solo online</h2>
    </div>
</div>
