<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container margin_bottom_50">
            <div class="landing__hero--title mobile_centered padding_bottom_15 display_inline vertical_middle box_width_65">
                <h1 class="margin_bottom_m_10 margin_bottom_10 text_left_m">
                    <span class="landing__hero--title--mainTitle text_normal font_size_80 font_size_m_50 padding_top_50 display_block text_uppercase">sei un cliente wind da almeno 1 anno?</span>
                    <span class="landing__hero--title--mainTitle text_normal font_condensed font_size_80 font_size_m_50 display_block">Con Wind 1&euro; <br class="only_desktop">vale molto di pi&ugrave;</span>
                </h1>
            </div>
            <div class="landing__hero__imageContainer no_absolute display_inline vertical_bottom mobile_centered box_width_35">
                <img class="reduce_image_mobile" src="../img/tuttoeuro_hero.png" alt="">
            </div>
            <div class="robin_divider margin_top_30"></div>
        </div>
<!--         <div class="container">
            <a href="#" class="button button__hovering button--standard text_align--center margin_bottom_0">ATTIVA SUBITO</a>
        </div> -->
    </div>
</div>

