<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container no_padding_container">
            <div class="landing__hero--title padding_bottom_15">
                <h1 class="margin_bottom_m_10 margin_bottom_10">
                    <span class="landing__hero--title--mainTitle padding_top_10 font_size_m_30 font_size_80 display_block text_normal text_centered padding_left_30 padding_right_30 padding_left_m_15 padding_right_m_15">Usa il credito telefonico Wind <br class="only_desktop">per acquistare su App Store,<br class="only_desktop"> Apple Music, iTunes<br class="only_desktop"> ed iBooks.</span>
                </h1>
            </div>
            <div class="landing__hero__imageContainer no_absolute full_mobile margin_bottom_30 margin_bottom_m_10">
                <img src="../img/apple_hero.jpg" alt="">
            </div>
            <a href="#" class="button button__hovering button--standard text_align--center margin_bottom_0">SCOPRI</a>
        </div>
    </div>
    <!--     <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div> -->
</div>
