<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container mobile_centered">
            <div class="landing__hero--title mobile_centered padding_bottom_15 display_inline vertical_middle box_width_100">
                <h1 class="margin_bottom_m_10 margin_bottom_10 mobile_centered">
                    <span class="landing__hero--title--mainTitle extended_line_height font_size_90 font_size_m_50 vw_font_90 padding_top_30 display_block">il concorso è scaduto</span>
                </h1>
            </div>
        </div>
    </div>
    <!--     <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div> -->
</div>


<script>
jQuery(document).ready(function($) {
    $('body').addClass('absolute_footer_body');
    $('.landing__footer').addClass('absolute_footer');    
});

</script>