<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero--title display_inline box_width_55">
                <h1 class="margin_bottom_m_10 margin_top_m_30">
                    <span class="landing__hero--title--mainTitle text_color_infostrada vw_font_70 medium_mobile_vw font_size_m_40">ENTRA NEL FUTURO<br>CON INFOSTRADA <br/>E XBOX ONE S</span>
                </h1>
                <div class="only_desktop landing__hero--ribbon ribbon_fluid ribbon_max_250 ribbon_static box_width_30 colored_bg_ribbon--infostrada margin_top_20 margin_bottom_10">
                    <div class="price padding_top_10 text_centered padding_left_30 padding_right_30 small_price">a soli 3<span class="currency">€</span></div>
                    <div class="recurrency padding_bottom_10">Ogni 4 settimane</div>
                </div>
                <div class="only_desktop box_offer--price margin_bottom_20 margin_left_40 font_size_20 font_light">Anticipo <span class="font_size_30 font_bold">99,90</span><span class="font_size_24 font_bold">€</span></div>
            </div>
            <div class="only_mobile landing__hero--ribbon ribbon_fluid ribbon_max_250 ribbon_static box_width_30 colored_bg_ribbon--infostrada margin_bottom_10">
                <div class="price padding_top_10 text_centered padding_left_30 padding_right_30 small_price">a soli 3<span class="currency">€</span></div>
                <div class="recurrency padding_bottom_10">Ogni 4 settimane</div>
            </div>
            <div class="only_mobile box_offer--price margin_left_20 font_size_20 font_light">Anticipo <span class="font_size_30 font_bold">99,90</span><span class="font_size_24 font_bold">€</span></div>
            <div class="landing__hero__imageContainer no_absolute display_inline vertical_top mobile_centered box_width_45 margin_top_20">
                <img src="../img/hero_xboxones.png" alt="">
            </div>
            <div class="box_width_100 vertical_top fixed_container">
                <div class="box_width_50 display_inline margin_bottom_m_10 vertical_top float_right"><a href=" https://www.infostrada.it/privati/fibra/offerte/absolute-fibra/" target="_blank" class="button button--standard text_align--center no_fixed">ATTIVA INFOSTRADA DA WEB</a></div>
                <div class="box_width_50 display_inline vertical_top float_left">
                    <a href=" https://www.wind.it/negozi-wind/" target="_blank" class="button button--standard text_align--center no_fixed">TROVA IL NEGOZIO PIù VICINO</a>
                </div>
            </div>
        </div>
    </div>
</div>
