<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container no_padding_container">
            <div class="landing__hero--title">
                <div class="vw_font_90 smaller_mobile_vw font_size_m_30 font_bold text_color_white text_uppercase bg_color_orange padding_left_30 padding_right_30 padding_left_m_15 padding_bottom_10 padding_right_m_15 padding_top_50 margin_right_30">#thewindunlimited</div>
                <div class="padding_left_30 margin_top_30 margin_bottom_30">
                    <div class="text_color_blue_99 font_size_90 font_size_m_30 font_bold_condensed text_uppercase">internet illimitato</div>
                    <div class="text_color_blue_99 font_size_70 font_size_m_20 font_light text_uppercase">per tutti i clienti wind</div>
                    <div class="robin_divider margin_top_20 margin_bottom_20"></div>
                    <div class="text_color_blue_99 font_size_90 font_size_m_30 font_bold_condensed text_uppercase">minuti illimitati</div>
                    <div class="text_color_blue_99 font_size_70 font_size_m_20 font_light text_uppercase">con le offerte wind</div>
                </div>
                <div class="vw_font_90 smaller_mobile_vw font_size_m_30 box_width_70 same_mobile_width font_bold text_color_white text_uppercase bg_color_orange padding_left_30 padding_right_30 padding_left_m_15 padding_right_m_15 padding_bottom_10 padding_top_50 margin_right_30">#noextracosti</div>
            </div>
        </div>
    </div>
</div>
