<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <a href="javascript:void(0);" class="font_size_14 margin_auto max_width_1024 padding_top_10 padding_bottom_10 padding_bottom_m_10 padding_top_m_10 margin_left_m_15 margin_right_m_15 width_calc-30 text_uppercase margin_top_30 margin_top_m_15 margin_bottom_15 button_small_font no_fixed button_scroll_to_target button--standard display_block font_bold text_centered">Verifica subito la Copertura</a>
    <div class="landing__hero">
        <div class="container no_padding_container overflow_hidden">
            <div class="skewed_colored_bg fixed_height_560">
                <div class="shape shape--one colored_bg_white"></div>
                <div class="shape shape--two colored_bg_white"></div>
            </div>
            <div class="container_hero_landing fixed_height_560">
                <div class="landing__hero--title">
                    <h1 class="margin_bottom_m_10">
                    <span class="landing__hero--title--mainTitle text_color_infostrada font_size_100 font_size_m_54 display_block margin_top_m_30">ABSOLUTE <br class="only_desktop">ADSL</span>
                </h1>
                </div>
                <div class="only_mobile landing__hero--ribbon ribbon_fluid ribbon_max_250 ribbon_static box_width_30 colored_bg_ribbon--infostrada margin_bottom_20">
                    <div class="price padding_top_10 text_centered padding_bottom_10 padding_left_30 padding_right_30 small_price">19,95<span class="currency">€</span></div>
                </div>
                <div class="landing__hero--details margin_bottom_30 margin_top_m_30">
                    <div class="single margin_bottom_10">
                        <div class="image">
                            <img src="/fileadmin/img-landing/icons-interface/check.png" alt="">
                        </div>
                        <div class="text full_mobile">
                            ADSL VERA FINO A 20 MEGA
                        </div>
                    </div>
                    <div class="single margin_bottom_10">
                        <div class="image">
                            <img src="/fileadmin/img-landing/icons-interface/check.png" alt="">
                        </div>
                        <div class="text full_mobile">
                            TELEFONATE A 0 CENT AL MINUTO VERSO TUTTI
                        </div>
                    </div>
                    <div class="single margin_bottom_10">
                        <div class="image">
                            <img src="/fileadmin/img-landing/icons-interface/check.png" alt="">
                        </div>
                        <div class="text full_mobile">
                            ATTIVAZIONE E MODEM GRATIS
                        </div>
                    </div>
                </div>
                <div class="only_desktop landing__hero--ribbon ribbon_fluid ribbon_max_250 ribbon_static box_width_30 colored_bg_ribbon--infostrada margin_bottom_30">
                    <div class="price padding_top_10 text_centered padding_bottom_10 padding_left_30 padding_right_30 small_price">19,95<span class="currency">€</span></div>
                    <div class="recurrency padding_bottom_10">PREZZO BLOCCATO</div>
                </div>
            </div>
            <div class="container_hero_landing fixed_height_560 hero_skewed margin_top_m_30">
                <div class="skewed_image_hero">
                    <img src="../img/gigabox_hero.png" alt="">
                </div>
            </div>
            <a href="tel:800992159" class="click_to_call only_mobile button_shoulder_login button button__hovering button--standard text_align--center">CHIAMA GRATIS</a>
        </div>
    </div>
</div>
