<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container veon_background">
            <div class="landing__hero--title padding_bottom_15 padding_bottom_m_5">
                <h1 class="margin_bottom_m_10 margin_bottom_10">
                    <span class="landing__hero--title--mainTitle padding_top_50 font_size_80 font_light text_color_base font_size_m_40 font_weight_initial display_block reduced_letter_spacing vw_font_80 margin_top_special_veon margin_bottom_m_0 mobile_centered">INESAURIBILE<br> COME TE</span>
                </h1>
            </div>
            <div class="margin_bottom_50">
                <div class="hero_claim font_size_40 font_size_m_20 font_light mobile_centered">Chatti, chiami e con Wind
                    <br class="only_desktop">fai il pieno di Giga.
                    <br class="only_desktop">Tutto in un’App.</div>
            </div>
            <div class="download_veon only_desktop_768">
                <div class="margin_bottom_25 margin_bottom_m_15">
                    <div class="hero_claim font_size_24 font_size_m_18 font_light ">Scarica Veon gratuitamente</div>
                </div>
                <a href="#"><img class="display_inline" src="../img/badge-apple-store.png" /></a>
                <a href="#"><img class="display_inline margin_left_10 margin_left_m_0" src="../img/badge-google-play.png" /> </a>
            </div>
        </div>
    </div>
    <!--     <div class="landing__hero--claim">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div> -->
</div>
<div class="container download_veon only_mobile_768 margin_top_20 margin_bottom_20">
    <div class="margin_bottom_25 margin_bottom_m_15">
        <div class="hero_claim font_size_24 font_size_m_18 font_light text_uppercase text_centered">Scarica Veon gratuitamente</div>
    </div>
    <a href="#" class="box_width_m_50 display_inline"><img class="auto_image" src="../img/badge-apple-store.png" /></a>
    <a href="#" class="box_width_m_50 display_inline"><img class="auto_image" src="../img/badge-google-play.png" /> </a>
</div>
