<!-- ================================ -->
<!-- ============ HERO ============== -->
<!-- ================================ -->
<div class="landing__content">
    <div class="landing__hero">
        <div class="container">
            <div class="landing__hero__tabs margin_bottom_m_15">
                <div class="landing__hero__tabs--button font_size_20 orange_active_variant small_font_mobile" data-tabn="1">PORTA I TUOI AMICI</div>
                <div class="landing__hero__tabs--button font_size_20 orange_active_variant small_font_mobile active" data-tabn="2">PORTA I TUOI AMICI OVER 60</div>
            </div>
            <!-- ====================================================== -->
            <!-- ================== TAB PITA NORMALE ================== -->
            <!-- ====================================================== -->
            <div class="container_tabs_pita hero_tab" data-tabtarget="1">
                <div class="landing__hero--title">
                    <h1 class="margin_bottom_m_10">
                    <span class="landing__hero--title--light font_size_m_40 display_block">porta</span>
                    <span class="landing__hero--title--mainTitle font_size_m_54 display_block">i tuoi amici</span>
                    <span class="landing__hero--title--light font_size_m_40 display_block">in Wind</span>
                </h1>
                </div>
                <div class="bundle_orange__container text_color_orange margin_bottom_m_0">
                    <div class="hero_claim font_size_38 font_size_m_20 font_light text_uppercase">per te e per loro</div>
                    <div class="hero_claim font_size_60 font_size_m_34 font_bold text_uppercase">2 giga gratis!</div>
                    <div class="hero_claim font_size_38 font_size_m_20 font_light text_uppercase">fino a <span class="hero_claim font_size_60 font_size_m_34 font_bold">8 giga!</span></div>
                </div>
                <div class="landing__hero__imageContainer full_image mobile_centered">
                    <img src="../img/pita_hero.png" alt="">
                </div>
            </div>
            <!-- ====================================================== -->
            <!-- ================== TAB PITA SENIOR ================== -->
            <!-- ====================================================== -->
            <div class="container_tabs_pita hero_tab active" data-tabtarget="2">
                <div class="landing__hero--title">
                    <h1 class="margin_bottom_m_10">
                    <span class="landing__hero--title--light vw_font_70 display_block">porta</span>
                    <span class="landing__hero--title--mainTitle vw_font_90">i tuoi amici<br>over 60</span>
                    <span class="landing__hero--title--light vw_font_70">in Wind</span>
                </h1>
                </div>
                <div class="bundle_orange__container text_color_orange margin_bottom_20 margin_bottom_m_20">
                    <div class="hero_claim font_size_30 font_size_m_20 font_light text_uppercase">per te e per loro</div>
                    <div class="hero_claim font_size_50 font_size_m_34 font_bold text_uppercase">2 giga gratis!</div>
                    <div class="hero_claim font_size_30 font_size_m_20 font_light text_uppercase">fino a <span class="hero_claim font_size_50 font_size_m_34 font_bold">8 giga!</span></div>
                </div>
                <div class="only_desktop_768 landing__hero__imageContainer">
                    <img src="../img/pitasenior_hero.png" alt="">
                </div>
                <div class="only_mobile_768 landing__hero__imageContainer no_absolute full_mobile text_centered">
                    <img src="../img/pitasenior_hero_small.png" alt="">
                </div>                
            </div>
            <!--             <div class="landing__hero--details">
                <div class="single">
                    <div class="image">
                        <img src="../img/check.png" alt="">
                    </div>
                    <div class="text">
                        attivazione gratuita
                    </div>
                </div>
                <div class="single">
                    <div class="image">
                        <img src="../img/check.png" alt="">
                    </div>
                    <div class="text">
                        primo rinnovo gratuito
                    </div>
                </div>
            </div>
            <div class="landing__hero--ribbon">
                <div class="price">10,50<span class="currency">€</span></div>
                <div class="recurrency">ogni quattro settimane</div>
            </div> -->
            <a href="javascript:void(0);" class="button_shoulder_login button button__hovering button--standard text_align--center margin_bottom_20 margin_bottom_m_0">INVITA I TUOI AMICI</a>
        </div>
    </div>
    <div class="landing__hero--claim margin_top_10 margin_bottom_25">
        <h2>più amici <br class="only_mobile_medium">più vantaggi</h2>
    </div>
</div>
