<img src="{{ backgroundFullImage.src }}" alt="{{ backgroundFullImage.alt }}" class="{{backgroundFullImage.class}}" />

<img src="{{ backgroundHalfImage.src }}" alt="{{ backgroundHalfImage.alt }}" class="{{backgroundHalfImage.class}}" />