@font-face {
    font-family: 'Trade Gothic LTS Light';
    src: url("../fonts/TradeGothicLTStd-Light.otf") format("opentype");
    font-weight: light;
}

@font-face {
    font-family: 'Trade Gothic LTS';
    src: url("../fonts/TradeGothicLTStd.otf") format("opentype");
    src: url("../fonts/TradeGothicLTStd.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: 'Trade Gothic LTS Bold Cond';
    src: url("../fonts/TradeGothicLTStd-BdCn20.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Trade Gothic LTS Bold';
    src: url("../fonts/TradeGothicLTStd-Bd2.otf") format("opentype");
    src: url("../fonts/TradeGothicLTStd-Bold.woff") format("woff");
    font-weight: 700;
}

.inorder {
    font-family: "Trade Gothic LTS";
}

.inorder .content .steps.step-1-active .step.one {
    color: white;
    background-color: #f07e26;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    font-weight: normal;
    font-family: "Trade Gothic LTS";
}

.modal.sm .top,
.modal.sm .btm {
    display: none;
}

.modal .fancy-close {
    display: none !important;
}

.modal.sm .cnt{
    background: none;
}

.modal h3{
    text-align: center;
}

.inorder.step-2 .content .steps {
   margin-top:1em;
}

.inorder .content .steps.step-2 .step {
    color: white;
    background-color: #f07e26;
    font-weight: normal;
    font-family: "Trade Gothic LTS";
}

.inorder.step-2 .row p.b {
    font-weight: normal;
    font-family: "Trade Gothic LTS Bold";
    color: #333;
    font-size: 1.3em;
    line-height: 1.2em;
}

.inorder.step-2 .rpg .rp {
    text-align: left;
    float: left;
    display: inline-block;
    width: 100%;
    line-height: 2em;
    font-size: 1.3em;
    margin: 0 0 1em 0;
    font-weight: 700;
    font-family: "Trade Gothic LTS Bold";
}

.inorder.step-2 .box-pnr .cod {
    font-family: Trade Gothic LTS Bold;
    font-weight: 700;
}

.inorder .rpg .consumo .bar .cnt {
padding-right:0.5em ;    
}

.inorder.step-2 .box_form .in-find + input[type='image'] {
    background-color: #f07e26;
    border-radius: 0 4px 4px 0;
}

.inorder .checkbox {
    background: url(newCheckbox.png) 0 0 no-repeat transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px;
}

.inorder .checkbox-select {
    background-position: 0 -22px;
    height: 20px;
    width: 20px;
}

.inorder .checkbox + label + img {
    padding-left: .5em;
    height: 20px;
}

.inorder.step-2 .box_form .in-find {
    border: 1px solid #DADADA;
    font-family: "Trade Gothic LTS";
    font-size: 1em;
    border-radius: 4px 0 0 4px;
    color: #999;
    padding: 0.85em;
}

.inorder.step-2 .row.map .store {
    border: 1px solid #8599a0;
}

.inorder.step-2 .row.map .store .bt {
    font-family: "Trade Gothic LTS Bold";
    font-weight: 700;
}

.inorder.step-2 .row.map .store .bt-more {
    font-family: "Trade Gothic LTS Bold"
}

.inorder.step-2 .row.map .store > .results .list .item span h5 {
    font-family: "Trade Gothic LTS Bold";
}

.inorder .col-riep .box.-riep .r span {
    color: #292f36;
    font-family: "Trade Gothic LTS";
}

.inorder .col-riep .box.-riep .r.nota {
    color: #292f36;
    font-style: normal;
    font-size: 13px;
}

.inorder .col-riep .box.-riep .r.tot span {
    font-size: 16px;
    font-family: "Trade Gothic LTS";
    color: #0069b3;
}

.inorder .col-riep .box.-riep .r.tot .price {
    font-family: "Trade Gothic LTS Bold";
    font-size: 24px;
    color: #0069b3;
}

.inorder .col-riep .box.-riep .r.tot .price .almese {
    font-size: 14px;
    color: #292f36;
    font-family: "Trade Gothic LTS";
}

.inorder .col-riep .box.-riep .r.op {
    color: #292f36;
    font-size: 16px;
    font-family: "Trade Gothic LTS";
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
}

.inorder .col-riep .box.-riep .r.op .price {
    font-family: "Trade Gothic LTS Bold";
}

.inorder .col-riep .box.-riep .r .v {
    font-size: 16px;
    font-family: "Trade Gothic LTS Bold";
    color: #0069b3;
}

.inorder .col-riep .box.-riep .r .t.v {
    background-image: none;
    font-size: 20px;
    color: #292f36;
    font-family: "Trade Gothic LTS Light";
    padding-left: 5px;
    padding-right: 5px;
}

.inorder .bt-cta.bt-back {
    background-image: none;
    padding: 23px 0px 17px 0px;
    width: 190px;
    text-align: center;
    font-family: "Trade Gothic LTS Light";
    font-size: 18px;
    color: #f48135;
    border: 1px solid #f48135;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
}

.inorder .bt-cta.bt-next {
    background-image: none;
    padding: 23px 0px 17px 0px;
    width: 190px;
    text-align: center;
    font-family: "Trade Gothic LTS Light";
    font-size: 18px;
    color: #ffffff;
    border: 1px solid #f48135;
    background-color: #f48135;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
}

.inorder .input-gr.input-50 input[type='text'] {
    background-color: #ffffff;
    border: 1px solid #e3e7ec;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    padding: 7px 10px;
    box-sizing: border-box;
}

.inorder .input-gr.fieldset label {
    line-height: initial;
}

.inorder .input-gr.fieldset .input-50 input[type='text'] {
    background-color: #ffffff;
    border: 1px solid #e3e7ec;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    padding: 7px 10px;
    box-sizing: border-box;
}

.inorder .select [class*='-error'] {
    border: 1px solid red !important;
}

.inorder .select {
    background-color: #ffffff;
    border: 1px solid #e3e7ec;
    font-family: "Trade Gothic LTS";
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    padding-top: 9px !important;
    padding-bottom: 9px;
    /* stops bg color from leaking outside the border: */
    padding-top: 2px;
    box-sizing: border-box;
    background-image: url("newSelectButton.png");
    background-size: 20px;
}

.inorder input[type='radio'] {
    height: 20px;
    width: 20px;
}

.inorder input[type='checkbox'] {
    height: 20px;
    width: 20px;
}

.inorder input[type='text'],
.inorder input[type='tel'],
.inorder input[type='email'] {
    background-color: #ffffff;
    border: 1px solid #e3e7ec;
    font-family: "Trade Gothic LTS";
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.inorder .checkbox-gr.fieldset label {
    top: 0;
}

.inorder .checkbox-gr.fieldset .ui-checkbox {
    background-image: url("newCheckbox.png");
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-position: 0 0px;
    display: inline-block;
}

.inorder .checkbox-gr.fieldset .ui-checkbox + label span {
    font-size: 16px; 
    font-family: "Trade Gothic LTS Light";
    color: #292f36;
}

.inorder .checkbox-gr.fieldset .ui-checkbox-active {
    background-image: url("newCheckbox.png");
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-position: 0 -20px;
    display: inline-block;
}

 .inorder .radio {
    background-image: url("newRadio.png");
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: inline-block;
}

.inorder .radio + label {
    line-height: 27px;
}

.inorder .radio-select {
    background-image: url("newRadio.png");
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-position-y: -20px;
    display: inline-block;
}

.inorder [class*="-gr"].fieldset label > span {
    font-size: 16px;
    font-family: "Trade Gothic LTS";
    color: #292f36;
}

.inorder div[class*='col-'] ul li {
    font-size: 16px;
    font-family: "Trade Gothic LTS";
    background-image: url("arrowBullet.png");
    margin-left: 30px;
}

.inorder .container > .row > .col.col-main .tel-num {
    padding-top: 3rem;
}

.inorder .container > .row > .col.col-main .-main {
    font-family: "Trade Gothic LTS Light";
    color: #292f36;
}

.inorder .container > .row > .col.col-main .-msg {
    font-family: "Trade Gothic LTS";
    color: #292f36;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.inorder .container > .row > .col.col-main p {
    font-size: 16px;
    font-family: "Trade Gothic LTS";
    color: #292f36;
}

.inorder .container > .row > .col.col-main h2 {
    font-family: "Trade Gothic LTS Light";
    color: #292f36;
    font-size: 20px;
    border-bottom: 1px solid #e3e7ec;
    padding-bottom: 15px;
}

.inorder .container > .row > .col.col-main h3 {
    font-size: 20px;
    font-family: "Trade Gothic LTS Bold";
    color: #0069b3;
    line-height: 22px;
}

.inorder .container > .row > .col.col-main h4 {
    font-size: 16px;
    font-family: "Trade Gothic LTS Bold";
    color: #0069b3;
    margin-bottom: 15px;
}

.inorder .container > .row > .col.col-main h5 {
    font-size: 16px;
    font-family: "Trade Gothic LTS Bold";
    color: #0069b3;
    margin-top: 16px;
}

*/ .inorder h2.t {
    font-family: "Trade Gothic LTS Bold";
    color: #292f36;
}

@media only screen and (max-width: 767px) {
    .inorder .select {
        background-color: #ffffff;
        border: 1px solid #e3e7ec;
        font-family: "Trade Gothic LTS";
        -webkit-border-radius: 0;
        border-radius: 0;
        background-clip: padding-box;
        padding-top: 15px !important;
        padding-bottom: 14px;
        /* stops bg color from leaking outside the border: */
        padding-top: 2px;
        box-sizing: border-box;
        background-image: url("newSelectButton.png");
        background-size: 20px;
    }
    .inorder .checkbox {
        margin-top: 8px;
    }
    .inorder .checkbox-select {
        margin-top: 8px;
        background-position: 0 -22px;
    }
    .inorder .checkbox + label + img {
        margin-top: 8px;
    }
    .inorder.step-2 .row h1 {
        font-size: 2em;
        font-family: Trade Gothic LTS Bold;
        margin: 0.67em 0;
        color: #f07e26;
        text-align: left;
    }
    .inorder.step-2 .box_form .in-find {
        padding: 0.88em;
    }
    .inorder .checkbox-gr.fieldset .ui-checkbox,
    .inorder .checkbox-gr.fieldset .ui-checkbox-active {
        position: relative;
        bottom: 4px;
    }
    .inorder .checkbox-gr.fieldset + .bt-i {
        margin-top: 5px;
    }
    .inorder .radio {
        background-image: url("newRadio.png");
        width: 20px;
        height: 20px;
        background-size: 20px;
        display: inline-block;
    }
    .inorder .radio + label {
        line-height: 27px;
    }
    .inorder .radio ~ .radio {
        background-image: url("newRadio.png");
        width: 20px;
        height: 20px;
        background-size: 20px;
        display: inline-block;
    }
    .inorder .container > .row > .col.col-main .box ul li {
        background-image: url("arrowBullet.png");
    }

    .inorder .footer {
        margin:30px 0;
    }
}

@media only screen and (max-width: 640px) {
    .inorder .select {
        border: 1px solid #e3e7ec;
        font-family: "Trade Gothic LTS";
        padding-top: 11px !important;
        padding-bottom: 8px;
        padding-top: 2px;
        background-image: url(newSelectButton.png);
        background-size: 20px;
    }
    .inorder .rpg .feat > p {
        color: #666;
    }
    .inorder .rpg .opt .lb {
        float: left;
        display: inline-block;
        text-align: left;
        color: #666;
        font-weight: normal;
        vertical-align: middle;
        font-size: 1em;
        line-height: 1.3em;
        -ms-word-break: break-all;
        word-break: break-word;
        word-wrap: break-all;
        width: 64%;
    }
}

@media only screen and (min-width: 320px) {
    .inorder.step-2 .box_form .in-find {
        padding: 0.84em;
    }
}

@media only screen and (min-width: 768px) {
    .inorder .select {
        background-color: #ffffff;
        border: 1px solid #e3e7ec;
        font-family: "Trade Gothic LTS";
        -webkit-border-radius: 0;
        border-radius: 0;
        background-clip: padding-box;
        padding-top: 10px !important;
        padding-bottom: 8px;
        /* stops bg color from leaking outside the border: */
        padding-top: 2px;
        box-sizing: border-box;
        background-image: url("newSelectButton.png");
        background-size: 20px;
    }

    .inorder .content .steps .step{
        line-height: 1.05em;
        font-size: 1.05em;
    }

    .inorder.step-2 .row h1 {
        font-family: "Trade Gothic LTS Bold";
        margin: 0.97em 0 0;
    }
    .inorder.step-2 .box_form .in-find {
        padding: 0.65em;
    }
    .inorder .input-gr.fieldset input[type='text'],
    .inorder .input-gr.fieldset input[type='tel'],
    .inorder .input-gr.fieldset input[type='email'] {
        background-color: #ffffff;
        border: 1px solid #e3e7ec;
        font-family: "Trade Gothic LTS";
        -webkit-border-radius: 0;
        border-radius: 0;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        padding: 7px 10px;
        box-sizing: border-box;
    }
    .inorder .container > .row > .col.col-main .r.opt .checkbox-gr.fieldset .ui-checkbox + label {
        top: 4px;
    }
    .inorder input[type='radio'] {
        height: 20px;
        width: 20px;
    }
    .inorder .radio {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
    .inorder .radio + label {
        line-height: 27px;
    }
    .inorder .checkbox-gr.fieldset + .bt-i {
        margin-top: 13px;
    }
    .inorder .checkbox-gr.fieldset .ui-checkbox {
        width: 20px;
        height: 20px;
        background-size: 20px;
        display: inline-block;
    }
    .inorder .bt {
        padding-top: 15px;
        padding-bottom: 14px;
    }
    .inorder .rpg .rp {
        font-family: "Trade Gothic LTS Bold";
        font-size: 1em;
        border-bottom: 1px solid #f0f1f3;
        font-weight: normal;
    }

    .inorder .rpg .rp .bollo {
    width: 40px;
    float: right;
    display: inline-block;
    vertical-align: middle;
}
}


}

/*# sourceMappingURL=newRestyle.css.map */
