@font-face {
  font-family: "Trade Gothic Bold";
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }

@font-face {
  font-family: "Trade Gothic Light";
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix");
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix") format("eot"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/6de16bd6-1e13-400f-80e8-8f5c69d8a2b8.woff2") format("woff2"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/73c7abdc-45a3-42a3-a1af-f07d8a348917.woff") format("woff"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/73494c38-422a-4bae-9e2c-b86e7703c1b3.ttf") format("truetype"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/b84e9482-10dd-4d9d-8ef2-539fbc5eb441.svg#b84e9482-10dd-4d9d-8ef2-539fbc5eb441") format("svg"); }

@font-face {
  font-family: "Trade Gothic Condensed";
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix");
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix") format("eot"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/161bc4ba-4d6b-46ef-a715-b7f726c83392.woff2") format("woff2"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/0d2481b3-5cd5-4c55-86c1-272e605452e9.woff") format("woff"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/a55a8f4f-96c7-4ba2-885d-7a535db9c13c.ttf") format("truetype"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/da83841b-fd70-4379-bca2-f8963a040918.svg#da83841b-fd70-4379-bca2-f8963a040918") format("svg"); }

@font-face {
  font-family: "Trade Gothic Bold Condensed";
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix");
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/0b7a972d-d4ba-4dbc-8eab-559783a67235.eot?#iefix") format("eot"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/161bc4ba-4d6b-46ef-a715-b7f726c83392.woff2") format("woff2"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/0d2481b3-5cd5-4c55-86c1-272e605452e9.woff") format("woff"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/a55a8f4f-96c7-4ba2-885d-7a535db9c13c.ttf") format("truetype"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/da83841b-fd70-4379-bca2-f8963a040918.svg#da83841b-fd70-4379-bca2-f8963a040918") format("svg");
  font-weight: 700; }

@font-face {
  font-family: "Trade Gothic Condensed Italic";
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix");
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix") format("eot"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/5a871dd4-95c1-4157-af67-a012e7ba4358.woff2") format("woff2"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/847d5cf1-1a60-4418-9d5e-44927ff99235.woff") format("woff"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/2882b13c-d7fa-4698-bab1-4a01805326d8.ttf") format("truetype"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7.svg#1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7") format("svg"); }

@font-face {
  font-family: "Trade Gothic";
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix");
  src: url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("https://www.wind.it/typo3conf/ext/wind_theme/Resources/Public/fonts/tradelicense/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg"); }


html, body {
    width: 100%;
    margin: 0px;
    font-family: 'Trade Gothic', sans-serif;
}

form{
    margin-top: 20px;
}

header {
    width: 100%;
    text-align: center;
    height: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.widget {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 95% !important;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.widget .title, .widget h1 {
    color: #f48133;
    font-size: 20px;
    margin: 5px;
}

.widget .text, .widget .bodytext, .widget .detail {
    color: #8c929a;
    margin: 5px; /* AS */
    padding: 3px;
    font-size: 12px;
    font-weight: normal;
}

.widget b, .widget strong {
    color: #f48133;
}

.widget .option {
    color: #f48133;
    margin-top: 20px;
    margin-bottom: 20px;
}

.widget .buttons_container {
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.widget .button {
    background-color: #f48133;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    /* max-width: 130px; */
    width: calc(100% - 30px);
    display: block;
    float: none !important;
    margin: 0 auto;
}

.widget .button#activate {

}

.widget .button#undo {
    float: right;
    /* margin-right: 10px; */
    margin-top: 15px;
    padding: 5px 15px;
    background-color: #fff;
    color: #f48133;
    border: 1px solid #f48133;
}

.widget .option b {
    color: black;
    font-size: 12px;
}

.widget .option small {
    color: black;
    width: 100%;
    float: left;
    /* text-align: right; */
    margin-top: 5px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid black;
    width: 250px;
    float: none;
    font-size: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    padding: 5px;
    margin-left: 10px;
}

.widget .option small i{
    font-style: normal;
}

.widget .option a {
    text-decoration: none;
    color: #f48133;
}

#content {
    background-color: #f6f7f9;
    text-align: center;
    float: left;
    width: 100%;
    /*padding: 5px;*/
}

.campaign .widget .option {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 10px; /* AS */
    margin-right: 5px; /* AS */
    text-align: left; /* AS */
    width: 99%;
}

.campaign .widget .button#activate {
    float: none;
}

.campaign .widget button {
    float: none;
    outline: 0;
}

footer {
    text-align: center;
    font-size: 11px;
    color: #c7c6c4;
    float: left;
    text-align: center;
    width: 100%;
}

.details, .detail {
    display: none;
    text-align: left;
}

/* AS */
input[type="radio"] {
    float: left;
    margin-right: 10px;
}

#activation {
    background-color: #f6f7f9;
    width: 100%;
    float: left;
}

@media only screen and (min-device-width: 481px) , only screen and (min-device-width: 481px) {
    /* CSS overrides for mobile here */
    .widget .option small {
        float: none;
    }

    /*.widget {
     width: 99% !important;
     }
     #content {
     width: 99%;
     }*/
}