//buttons

.waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited
  font-size: 1.1rem
  line-height: 1rem

.base__bt
  color: white
  font-size: 1.1rem
  line-height: 1rem
  border: 1px solid transparent
  text-transform: uppercase
  text-decoration: none
  box-shadow: none
  display: inline-block
  padding: 1.1rem 0 1.1rem 0
  letter-spacing: 1px
  text-align: center
  background: transparent
  width: 280px
  
  border-radius: 4px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px

  &:hover, &:active, &:focus
    border: 1px solid transparent
    color: white
    outline: none

.base__bt--sm
  padding: .75rem 0
  font-size: .75rem
  line-height: .75rem
  width: 140px
  &:hover, &:visited
    padding: .75rem 0
    font-size: .75rem
    line-height: .75rem
    width: 140px

.base__bt--lg
  padding: 1.1rem 0
  font-size: 1.1rem
  line-height: 1rem
  width: 280px
  &:hover, &:visited
    padding: 1.1rem 0
    font-size: 1.1rem
    line-height: 1rem
    width: 280px

.base__bt--or
  color: white
  background-color: $color_orange
  border: 1px solid $color_orange
  &:hover, &:active, &:visited
    background-color: $color_orange_light
    border: 1px solid $color_orange
  &:disabled, &.waves-button:disabled
    border-color: $color_grey_medium_light
    background: $color_grey_medium_light

.base__bt--or2
  color: $color_orange
  background-color: transparent
  border: 1px solid $color_orange
  &:hover, &:active, &:visited
    background-color: $color_orange_light
    border: 1px solid $color_orange
  &:disabled, &.waves-button:disabled
    border-color: $color_grey_medium_light
    background: $color_grey_medium_light

.base__bt--wh
  color: $color_orange
  background-color: white
  border: 1px solid white
  &:hover, &:active, &:visited
    color: $color_orange
    background-color: white
    border: 1px solid $color_grey_medium_light
  &:disabled, &.waves-button:disabled
    border-color: $color_grey_medium_light
    color: $color_grey_medium_light
    background-color: white

//bg color: white
.base__bt--bgw
  color: $color_orange
  background-color: white
  border: 1px solid white
  &:hover, &:active, &:visited
    color: $color_orange
    background-color: white
    border: 1px solid white
  &:disabled, &.waves-button:disabled
    border-color: $color_grey_medium_light
    color: $color_grey_medium_light
    background-color: white

//bg color: black
.base__bt--bgb
  color: $color_trasparent
  background-color: $color_grey_medium_light
  border: 1px solid $color_grey_medium_light
  &:hover, &:active, &:visited
    color: $color_orange
    background-color: white
    border: 1px solid $color_grey_medium_light
  &:disabled, &.waves-button:disabled
    border-color: $color_grey_medium_light
    color: $color_grey_medium_light
    background-color: white



.base__bt [class*='-animate']
  font-size: 1rem