/*
/* Original previous LESS format, converted to SASS
/*

.base
/* input

.base__form
  float: left
  display: block
  width: auto
  /* login
  /* contact
  .r
    float: left
    display: block
    padding: .5rem 0
    width: 100%
    height: auto
    &.dx
      text-align: right
    .col--2
      margin-left: 1rem
  &.full
    width: 100%

@media (max-width: 767px)
  .base__form .r .col--2
    margin-left: auto

.base__form--sm
  width: 140px

.base__form--lg
  width: 280px

@media (max-width: 767px)
  .base__form--login
    width: 100%

@media (min-width: 768px)
  .base__form--login
    width: 280px

@media (max-width: 767px)
  .base__form--contact
    width: 100%

@media (min-width: 768px)
  .base__form--contact
    width: 580px

@media (max-width: 767px)
  .base__form
    .base__bt
      width: 100%
    .r
      padding: .5rem 0

.base__input
  display: inline
  width: 280px
  padding: .8rem
  border-radius: 4px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -o-transition: all 0.25s ease-in-out
  -moz-transition: all 0.25s ease-in-out
  -ms-transition: all 0.25s ease-in-out
  -webkit-transition: all 0.25s ease-in-out
  -moz-appearance: none
  -webkit-appearance: none
  -ms-appearance: none
  appearance: none
  transition: all 0.25s ease-in-out
  outline: 0
  border: 1px solid $color_grey_medium_light
  background-color: white
  /* textarea
  /* error
  &:focus
    border: 1px solid $color_orange
    box-shadow: none
    -webkit-box-shadow: none
  &:hover, &:active
    border: 1px solid $color_orange

.base__input--textarea
  width: 100%

.base__input.error
  color: $color_red
  border-color: $color_red
  border-radius: 4px 4px 0px 0px
  -webkit-border-radius: 4px 4px 0px 0px
  -moz-border-radius: 4px 4px 0px 0px
  + span.error
    width: 280px
    display: inline-block
    text-align: center
    color: white
    padding: .5rem .5rem
    background-color: $color_red
    border-radius: 0px 0px 4px 4px
    -webkit-border-radius: 0px 0px 4px 4px
    -moz-border-radius: 0px 0px 4px 4px

@media (max-width: 767px)
  .base__input
    width: 100%