/*
/* Original previous LESS format, converted to SASS
/*

.base__nav__steps
  padding-left: 0
  display: inline-block
  list-style: none
  margin-bottom: 0
  width: 100%
  li
    position: relative
    left: -5px
    display: inline-block
    vertical-align: middle
    text-transform: uppercase
    text-align: left
    width: 25%
    /*
    /* passed
    /* active
    /* income
    /* last
    &:before
      font-family: 'fontello'
      font-size: 1.5rem
      vertical-align: middle
      color: $color_orange
      content: '\e801'
      display: inline-block
    &:after
      position: relative
      top: -0.25rem
      display: inline-block
      width: 65%
      height: 1px
      background: $color_orange
      content: ""
    &:first-child
      left: 0
    > a
      position: absolute
      top: 3rem
      width: auto
      left: 0rem
      text-align: left
      display: inline-block
    &.passed
      > a, &:before
        color: $color_orange
      &:after
        background-color: $color_orange
    &.active
      left: -0.95rem
      &:before
        content: '\e802'
        font-size: 2rem
        line-height: 2rem
      &:after
        background-color: $color_grey_medium_light
      > a
        top: 3.2rem
        color: $color_orange
    &.income
      left: -1.1rem
      > a, &:before
        color: $color_grey_medium_light
      &:after
        background-color: $color_grey_medium_light
    &.last
      left: -1.5rem
      width: 1.5rem
      &:after
        width: 0
        display: none

@media (max-width: 767px)
  .base__nav__steps li
    width: 100%
    left: 0px
    margin: .5rem 0
    a
      position: relative
      top: 0rem
      left: 5px
      vertical-align: middle
      display: inline-block
    &.last
      top: auto
      width: auto
      a
        top: auto
    &.active
      top: auto
      left: .25rem
      a
        top: auto
    &.income
      top: auto
      left: .5rem
    &.passed
      left: .5rem
      top: auto
    &:before
      font-size: 1.5rem
    &:after
      display: none

@media (min-width: 768px)
  .base__nav__steps li
    width: 31%
    &:after
      width: 91%