/*
/* Original previous LESS format, converted to SASS
/*

.radius
  border-radius: 4px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px

.base .table-responsive
  border: none
  overflow: hidden

.base__table.table
  > thead > tr > th
    border-bottom: 0
  &.table-striped
    > tbody > tr:nth-of-type(odd)
      background-color: transparent
    tbody > tr.grey > td
      background-color: #f9f9f9
    tbody > tr >
      td, th
        background-color: white
        border: 2px solid white
        border-radius: 4px
        -webkit-border-radius: 4px
        -moz-border-radius: 4px
      /* tfoot > */
      tr > th, td > th
        background-color: white
        border: 2px solid white
        border-radius: 4px
        -webkit-border-radius: 4px
        -moz-border-radius: 4px
      thead > tr > th
        background-color: white
        border: 2px solid white
        border-radius: 4px
        -webkit-border-radius: 4px
        -moz-border-radius: 4px
      tbody > tr.grey > td
        background-color: #f9f9f9
      /* thead > tr.grey > */
      td, th
        background-color: transparent
      tfoot > tr.grey > td
        background-color: #f9f9f9
  /* > */
  tbody > tr >
    td, th
      padding: 1rem
      line-height: 1.42857143
      vertical-align: middle
      border-top: 0
    /* tfoot > tr > */
    td, th
      padding: 1rem
      line-height: 1.42857143
      vertical-align: middle
      border-top: 0
    /* thead > tr > */
    td, th
      padding: 1rem
      line-height: 1.42857143
      vertical-align: middle
      border-top: 0
  td.n
    text-align: center
    font-weight: 700