@charset "UTF-8";
/*
$color_dark_grey: #333;
$color_grey_dark: #333;
$color_grey_light: #CCD1D9;
$color_grey_seven: #777A7E;
$color_custom_black: #212121;
$color_custom_border_gray: #D7D5D0;
*/
/*$color_error: $color_red;
$border_color: $color_grey_medium_light;
$color_border: $color_grey_medium_light;
$color_border_focus: $color_orange;
$color_bt_disabled: $color_grey_medium_light;*/
/* mixins/helpers */
.landing .touch_scroll {
  -webkit-overflow-scrolling: touch; }

.landing .center {
  position: relative;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* ___________________ MIXIN __________________
 -------->        BREAKPOINT MIXIN */
/**
 * HELPER CLASSES
 */
/* ====================COLORI TESTI=====================  */
/*.colored_text {
    &--white {
        color: $color-white !important;
    }
    &--lighter-grey {
        color: $color-lighterGrey !important;
    }
    &--light-grey {
        color: $color-lightGrey !important;
    }
    &--medium-grey {
        color: $color-mediumGrey !important;
    }
    &--dark-grey,
    &--placeholder {
        color: $color-darkGrey !important;
    }
    &--darker-grey,
    &--standard-text {
        color: $color-darkerGrey !important;
    }
    &--darkest-grey,
    &--home-life {
        color: $color-darkestGrey !important;
    }
    &--black {
        color: $color-black !important;
    }
    &--mobile,
    &--light-blue {
        color: $color-lightBlue !important;
    }
    &--infostrada,
    &--medium-blue {
        color: $color-mediumBlue !important;
    }
    &--orange {
        color: $color-orange !important;
    }
}*/
/* ====================DIMENSIONE TESTI=====================  */
.landing {
   /**
* END HELPER CLASSES
*/ }
  .landing .text_size {
    line-height: 1.2em; }
    .landing .text_size--big {
      font-size: 45px; }
      @media (max-width: 768px) {
        .landing .text_size--big {
          font-size: 40px; } }
    .landing .text_size--medium {
      font-size: 25px !important; }
    .landing .text_size--normal {
      font-size: 16px !important; }
      @media (max-width: 768px) {
        .landing .text_size--normal {
          font-size: 14px !important; } }
    .landing .text_size--small {
      font-size: 12px; }
  .landing .base {
    /*outline: thin dotted \9; /* IE6-9 */
    /*outline: thin dotted \9; /* IE6-9 */
    /*outline: thin dotted \9; /* IE6-9 */ }
    .landing .base input[type="text"]:focus, .landing .base input[type="password"]:focus, .landing .base input[type="datetime"]:focus, .landing .base input[type="datetime-local"]:focus, .landing .base input[type="date"]:focus, .landing .base input[type="month"]:focus, .landing .base input[type="time"]:focus, .landing .base input[type="week"]:focus, .landing .base input[type="number"]:focus, .landing .base input[type="email"]:focus, .landing .base input[type="url"]:focus, .landing .base input[type="search"]:focus, .landing .base input[type="tel"]:focus, .landing .base input[type="color"]:focus, .landing .base input[type=file]:focus, .landing .base input[type=checkbox]:focus, .landing .base input[type=radio]:focus {
      border-color: #f48135;
      outline-color: transparent;
      outline-style: none;
      outline-offset: 0; }
    .landing .base .uneditable-input:focus {
      border-color: #f48135;
      outline-color: transparent;
      outline-style: none;
      outline-offset: 0; }
    .landing .base input:-webkit-autofill,
    .landing .base textarea:-webkit-autofill,
    .landing .base select:-webkit-autofill {
      background-color: rgba(244, 129, 53, 0.2);
      background-image: none;
      color: #000000; }
  .landing .base__scrollable {
    width: 100%;
    min-height: 50px;
    padding: 0 2rem 0 0;
    overflow-y: hidden; }
  .landing .base__breadcrumbs {
    float: left;
    padding-left: 0;
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    margin-top: 2rem;
    /*cambio en margin top */ }
    .landing .base__breadcrumbs li {
      display: inline;
      cursor: pointer;
      vertical-align: middle; }
      .landing .base__breadcrumbs li:after {
        content: " / ";
        color: #f48135; }
      .landing .base__breadcrumbs li:last-child {
        cursor: default; }
        .landing .base__breadcrumbs li:last-child:after {
          content: ""; }
  .landing .base__bullet-list {
    list-style-type: none;
    margin-bottom: 0;
    display: inline-block;
    padding-left: 0rem; }
    .landing .base__bullet-list .fa-li {
      font-size: 1.25rem;
      padding-right: 1.25rem;
      color: #f48135; }
    .landing .base__bullet-list li {
      padding-bottom: 1rem; }
  .landing .base__pag.pagination {
    margin: 1rem auto; }
    .landing .base__pag.pagination li > a > span {
      font-size: 0; }
    .landing .base__pag.pagination li > a[aria-label="Previous"] {
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .landing .base__pag.pagination li > a[aria-label="Previous"] span:before {
        font-size: 0.9rem;
        font-family: "FontAwesome";
        content: ""; }
    .landing .base__pag.pagination li > a[aria-label="Next"] {
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .landing .base__pag.pagination li > a[aria-label="Next"] span:before {
        font-size: 0.9rem;
        font-family: "FontAwesome";
        content: ""; }
  .landing .base__gallery--carousel .owl-wrapper-outer .owl-wrapper .owl-item .item {
    width: 100%;
    display: inline-block; }
    .landing .base__gallery--carousel .owl-wrapper-outer .owl-wrapper .owl-item .item img {
      max-width: 100%; }
  .landing .base__gallery--carousel .owl-controls .owl-pagination .owl-page span {
    background-color: #f48135;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem; }
  .landing .base__gallery--carousel .owl-controls .owl-buttons {
    display: inline-block;
    width: 100%; }
    .landing .base__gallery--carousel .owl-controls .owl-buttons div {
      padding: 1rem;
      font-size: 1rem;
      margin: 0.5rem;
      line-height: 1;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem; }
    .landing .base__gallery--carousel .owl-controls .owl-buttons .owl-prev {
      position: fixed;
      top: 45%;
      left: 0px; }
      .landing .base__gallery--carousel .owl-controls .owl-buttons .owl-prev:before {
        font-family: "FontAwesome";
        content: "";
        font-size: 1rem;
        color: #f48135; }
    .landing .base__gallery--carousel .owl-controls .owl-buttons .owl-next {
      position: fixed;
      top: 45%;
      right: 0px; }
      .landing .base__gallery--carousel .owl-controls .owl-buttons .owl-next:before {
        font-family: "FontAwesome";
        content: "";
        font-size: 1rem;
        color: #f48135; }

html,
body {
  font-family: 'Arial'; }

.simple_text {
  font-size: 28px;
  padding-left: 15px; }

.search_btn {
  float: right; }
  .search_btn input {
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 20px; }

.cms_container_table.old_landing .mainTitle {
  font-size: 10px;
  position: relative; }
  .cms_container_table.old_landing .mainTitle:after {
    position: absolute;
    right: 50px;
    content: "vecchia landing";
    color: red; }
.cms_container_table.old_landing .cms_icon_table {
  width: 20%; }
.cms_container_table.old_landing .cms_container_cell {
  font-size: 10px;
  padding: 0 15px; }
.cms_container_row {
  display: table;
  border-bottom: 2px solid #ffa000; }
  @media (max-width: 768px) {
    .cms_container_row {
      width: 100%;
      display: block; } }
  .cms_container_row--copy {
    width: 100%;
    text-align: center; }
  .cms_container_row.html_row {
    position: relative;
    display: none; }
  .cms_container_row .textareaHTML {
    border: 1px solid #ffa000;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    height: 300px;
    overflow: scroll;
    padding: 15px;
    font-size: 10px; }
  .cms_container_row .clip_btn {
    margin: 15px 0;
    border-radius: 5px;
    background-color: #ffa000;
    border-color: #ffa000;
    color: white;
    width: 330px;
    font-size: 28px;
    cursor: pointer;
    background-image: url("../img/icon_white_copy.png");
    background-repeat: no-repeat;
    background-position: 30px center;
    cursor: copy; }
    .cms_container_row .clip_btn:hover {
      background-color: #ffca28;
      border: 1px solid #ffa000;
      color: #fff;
      opacity: 0.6; }
.cms_container_cell {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 15%;
  padding: 15px 15px;
  cursor: pointer; }
  @media (max-width: 768px) {
    .cms_container_cell {
      width: 100%;
      display: block;
      text-align: center; } }
  .cms_container_cell.active {
    background-color: #ffca28; }
  .cms_container_cell:hover {
    background-color: #ffca28; }
  .cms_container_cell.mainCell {
    width: 30%;
    text-align: left;
    padding-left: 30px;
    cursor: initial;
    min-width: 350px; }
    @media (max-width: 768px) {
      .cms_container_cell.mainCell {
        min-width: 290px;
        margin: 0 auto;
        text-align: center; } }
    .cms_container_cell.mainCell:hover {
      background-color: #fff; }
  .cms_container_cell.cell_disabled {
    opacity: 0.2; }
  .cms_container_cell .mainTitle {
    font-size: 28px; }
.cms_strip_title {
  padding: 15px 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ffa000;
  font-size: 28px; }
  @media (max-width: 768px) {
    .cms_strip_title {
      text-align: center; } }
.cms_container_folder {
  width: 350px;
  background: url("../img/folder.png") no-repeat;
  width: 326px;
  height: 82px;
  position: relative;
  display: inline-block; }
  @media (max-width: 768px) {
    .cms_container_folder {
      width: 290px;
      margin: 30px auto 0 auto; } }
  .cms_container_folder .cms_label {
    font-size: 16px;
    position: absolute;
    top: 15px;
    left: 32px; }
  .cms_container_folder input {
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    border: none;
    background: #fff;
    padding: 0 10px;
    width: 80%;
    position: absolute;
    bottom: 15%;
    left: 10%; }
.cms_icon_connect {
  display: inline-block; }
  @media (max-width: 768px) {
    .cms_icon_connect {
      display: none; } }
  .cms_icon_connect.extended_border {
    margin-left: 220px; }
.cms_download_css {
  margin-left: 100px;
  cursor: pointer; }
  .cms_download_css a {
    position: relative;
    display: block; }
    .cms_download_css a .new_file {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 35px;
      width: 35px;
      background-image: url("../img/update_file.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px; }
      .cms_download_css a .new_file:hover {
        opacity: 0.5;
        filter: alpha(opacity=50); }
@keyframes shake {
  10%,
                    90% {
    transform: translate3d(0, -1px, 0); }
  20%,
                    80% {
    transform: translate3d(0, 2px, 0); }
  30%,
                    50%,
                    70% {
    transform: translate3d(0, -4px, 0); }
  40%,
                    60% {
    transform: translate3d(0, 4px, 0); } }
  .cms_download_css img {
    width: 70%; }
    .cms_download_css img:hover {
      opacity: 0.6; }
  @media (max-width: 768px) {
    .cms_download_css {
      margin: 0 auto;
      display: block !important;
      margin-top: 15px;
      text-align: center; } }

.update_ale {
  position: absolute;
  width: 400px !important;
  height: auto;
  left: 0;
  top: 0; }

.container_message {
  position: absolute;
  top: -300px;
  left: calc(50% - 187px);
  display: none; }

.message_generated {
  font-size: 18px;
  position: absolute;
  width: 373px !important;
  height: 50px;
  bottom: -304px;
  left: -2px;
  padding: 15px;
  -ms-transform: rotate(3.3deg);
  -webkit-transform: rotate(3.3deg);
  transform: rotate(3.3deg);
  text-align: center; }

a:visited,
a:link,
a:focus {
  color: inherit !important; }

.show_update {
  position: relative; }

.hokkaido {
  position: absolute;
  bottom: 0;
  right: -300px;
  z-index: 9999; }

.updateAle {
  position: absolute;
  top: -150px;
  right: 0px;
  z-index: 9999;
  width: 100%; }

.buttonCss {
  margin-top: 30px;
  font-size: 26px;
  font-family: 'Arial';
  margin: 0;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer; }
  .buttonCss:hover {
    color: orange; }

.smallText {
  font-size: 14px;
  font-family: 'Arial';
  margin: 0;
  margin-top: 2px; }

#textareaHTML {
  margin-top: 30px; }

.link_page {
  font-family: 'Arial';
  font-weight: 400;
  cursor: pointer;
  width: 300px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 4px; }

.link_page:hover {
  background-color: orange; }

h4 {
  font-family: 'Arial';
  margin-top: 30px;
  font-weight: 400; }

.input_cms {
  height: 50px;
  width: 300px;
  font-size: 20px; }

button {
  height: 50px;
  width: 100px;
  font-size: 20px;
  text-transform: uppercase; }

.container_pre {
  position: relative; }
.container_page_cms {
  margin-top: 30px;
  display: inline-block;
  vertical-align: top; }
.container_hidden {
  display: none;
  text-align: center;
  margin-top: 10px; }
  .container_hidden_cms {
    margin-bottom: 15px; }

/*# sourceMappingURL=cms.css.map */
