@import 'vars';
@import 'mixins';
$color_orange_dark: #ffa000;
$color_orange_soft: #ffca28;
html,
body {
    font-family: 'Arial';
}

.simple_text {
    font-size: 28px;
    padding-left: 15px;
}

.cms {
    &_container_table {}
    &_container_row {
        display: table;
        border-bottom: 2px solid $color_orange_dark;
        @include breakpoint(small) {
            width: 100%;
            display: block;
        }
        &--copy {
            width: 100%;
            text-align: center;
        }
        &.html_row {
            position: relative;
            display: none;
        }
        .textareaHTML {
            border: 1px solid $color_orange_dark;
            width: 90%;
            max-width: 1024px;
            margin: 0 auto;
            height: 300px;
            overflow: scroll;
            padding: 15px;
            font-size: 10px;
        }
        .clip_btn {
            margin: 15px 0;
            border-radius: 5px;
            background-color: $color_orange_dark;
            border-color: $color_orange_dark;
            color: white;
            width: 330px;
            font-size: 28px;
            cursor: pointer;
            background-image: url('../img/icon_white_copy.png');
            background-repeat: no-repeat;
            background-position: 30px center;
            cursor: copy;
            &:hover {
                background-color: $color_orange_soft;
                border: 1px solid $color_orange_dark;
                color: #fff;
                opacity: 0.6;
            }
        }
    }
    &_container_cell {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 15%;
        padding: 15px 15px;
        cursor: pointer;
        @include breakpoint(small) {
            width: 100%;
            display: block;
            text-align: center;
        }
        &.active {
            background-color: $color_orange_soft;
        }
        &:hover {
            background-color: $color_orange_soft;
        }
        &.mainCell {
            width: 30%;
            text-align: left;
            padding-left: 30px;
            cursor: initial;
            min-width: 350px;
            @include breakpoint(small) {
                min-width: 290px;
                margin: 0 auto;
                text-align: center;
            }
            &:hover {
                background-color: #fff;
            }
        }
        &.cell_disabled {
            opacity: 0.2;
        }
        .mainTitle {
            font-size: 28px;
        }
    }
    &_strip_title {
        padding: 15px 15px;
        color: #fff;
        text-transform: uppercase;
        background-color: $color_orange_dark;
        font-size: 28px;
        @include breakpoint(small) {
            text-align: center;
        }
    }
    &_container_folder {
        width: 350px;
        background: url('../img/folder.png') no-repeat;
        width: 326px;
        height: 82px;
        position: relative;
        display: inline-block;
        @include breakpoint(small) {
            width: 290px;
            margin: 30px auto 0 auto;
        }
        .cms_label {
            font-size: 16px;
            position: absolute;
            top: 15px;
            left: 32px;
        }
        input {
            font-size: 20px;
            height: 28px;
            line-height: 28px;
            border: none;
            background: #fff;
            padding: 0 10px;
            width: 80%;
            position: absolute;
            bottom: 15%;
            left: 10%;
        }
    }
    &_icon_connect {
        display: inline-block;
        @include breakpoint(small) {
            display: none;
        }
        &.extended_border {
            margin-left: 220px;
        }
    }
    &_download_css {
        margin-left: 100px;
        cursor: pointer;
        a {
            position: relative;
            .new_file {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 35px;
                width: 35px;
                background-image: url('../img/update_file.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
                &:hover{
                    @include opacity(0.5);
                }
                @keyframes shake {
                    10%,
                    90% {
                        transform: translate3d(0, -1px, 0);
                    }
                    20%,
                    80% {
                        transform: translate3d(0, 2px, 0);
                    }
                    30%,
                    50%,
                    70% {
                        transform: translate3d(0, -4px, 0);
                    }
                    40%,
                    60% {
                        transform: translate3d(0, 4px, 0);
                    }
                }
            }
        }
        img {
            width: 70%;
            &:hover {
                opacity: 0.6;
            }
        }
        @include breakpoint(small) {
            margin: 0 auto;
            display: block !important;
            margin-top: 15px;
            text-align: center;
        }
    }
}

.update_ale {
    position: absolute;
    width: 400px !important;
    height: auto;
    left: 0;
    top: 0;
}

.container_message{
    position: absolute;
    top: -300px;
    left: calc(50% - 187px); 
    display: none;   
}

.message_generated {
    font-size: 18px;
    position: absolute;
    width: 373px !important;
    height: 70px;
    bottom: -288px;
    left: 14px;
    padding: 15px;
    -ms-transform: rotate(3.3deg);
    -webkit-transform: rotate(3.3deg);
    transform: rotate(3.3deg);
    text-align: center;
}

a:visited,
a:link,
a:focus {
    color: inherit !important;
}

.show_update {
    position: relative;
}

.hokkaido {
    position: absolute;
    bottom: 0;
    right: -300px;
    z-index: 9999;
}

.updateAle {
    position: absolute;
    top: -150px;
    right: 0px;
    z-index: 9999;
    width: 100%;
}

.buttonCss {
    margin-top: 30px;
    font-size: 26px;
    font-family: 'Arial';
    margin: 0;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
    &:hover {
        color: orange;
    }
}

.smallText {
    font-size: 14px;
    font-family: 'Arial';
    margin: 0;
    margin-top: 2px;
}

#textareaHTML {
    margin-top: 30px;
}

.link_page {
    font-family: 'Arial';
    font-weight: 400;
    cursor: pointer;
    width: 300px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 4px;
}

.link_page:hover {
    background-color: orange;
}

h4 {
    font-family: 'Arial';
    margin-top: 30px;
    font-weight: 400;
}

.input_cms {
    height: 50px;
    width: 300px;
    font-size: 20px;
}

button {
    height: 50px;
    width: 100px;
    font-size: 20px;
    text-transform: uppercase;
}

.container {
    &_pre {
        position: relative;
    }
    &_page_cms {
        margin-top: 30px;
        display: inline-block;
        vertical-align: top
    }
    &_hidden {
        display: none;
        text-align: center;
        margin-top: 10px;
        &_cms {
            margin-bottom: 15px;
        }
    }
}
