.not-found h4 {
    /* "PAGINA NON TROVATA" */
    font-family: 'Trade Gothic';
    color: #F48135;
    font-size: 46px;
    font-weight: bold;
    margin: 0 0 30px;
}

.not-found p {
    /* "Il sito che cercavi..."" */
    font-family: 'Trade Gothic';
    color: #212121;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
}

.not-found p.label {
    /* "Ricerca le informazioni..."" */
    font-family: 'Trade Gothic';
    color: #212121;
    font-size: 24px;
    font-weight: normal;
}
