.offer_tab {
    &_nav {
        position: relative;
        &_link {
            &__details {
                &--left {
                    width: 100%;
                    height: 70px;
                    margin-right: 1%;
                }
                &--right {
                    width: 100%;
                    height: 70px;
                    margin-left: 2%;
                    @include breakpoint('display_small') {
                        margin-left: 0;
                    }
                }
            }
            a {
                display: block;
                background-color: $color_orange;
                position: relative;
                padding: 15px;
                border-radius: 4px;
                box-sizing: border-box;
                text-align: center;
                z-index: 1;
                color: white;
                text-decoration: none;
                @include breakpoint ('display_small') {
                    &:before,
                    &:after {
                        content: "";
                        transition: all 0.25s ease-in-out;
                        background-color: white;
                        width: 2px;
                        height: 10px;
                        top: calc(50% - 12px);
                        right: 30px;
                        position: absolute;
                    }
                    &:before {
                        transform: translate(0, 6px) rotate(-45deg);
                    }
                    &:after {
                        transform: translate(6px, 6px) rotate(45deg);
                    }
                }
            }
            &.active {
                a {
                    border: 2px solid $color_orange;
                    box-sizing: border-box;
                    border-radius: 4px 4px 0 0;
                    border-bottom: 0;
                    background-color: white;
                    padding: 14px;
                    height: 60px;
                    color: #000000;
                    text-decoration: none;
                    @include breakpoint ('display_small') {
                        &:before,
                        &:after {
                            background-color: #000000;
                        }
                        &:before {
                            transform: translate(10px, 4px) rotate(-45deg);
                        }
                        &:after {
                            transform: translate(4px, 4px) rotate(45deg);
                        }
                    }
                }
            }
            @include breakpoint('display_small') {
                width: 100% !important;
                float: none !important;
                margin: 0 !important;
                position: absolute;
                top: 0;
                &.active {
                    position: relative;
                    top: 172px;
                }
            }
            &_noText {
                @include breakpoint('display_small') {
                    width: 100% !important;
                    float: none !important;
                    margin: 0 !important;
                    position: absolute;
                    top: 0;
                    &.active {
                        position: relative;
                        top: 55px;
                    }
                }
            }            
            width: 46%;
            margin: 0 2%;
            &.active {
                margin: 0;
                width: 50%;
            }
            &.sx {
                float: left;
            }
            &.dx {
                float: right;
            }
        }
    }
    &_content {
        background-color: white;
        height: auto;
        border: 2px solid $color_orange;
        box-sizing: border-box;
        border-radius: 0 4px 4px 4px;
        position: relative;
        top: -2px;
        padding: 50px 50px 40px 50px;
        @include breakpoint('display_small') {
            padding: 10px;
            margin-bottom: 170px;
            top: 170px;
        }
        &_noText {
            @include breakpoint('display_small') {
                padding: 10px;
                margin-bottom: 170px;
                top: 53px;
            }
        }
        #offer1,
        #offer2 {
            display: none;
            &.active {
                display: block;
            }
        }
        .offer_ClaimLogo {
            .claim {
                font-family: 'Trebuchet MS';
                width: 50%;
                float: left;
                text-align: left;
                @include breakpoint('display_small') {
                    width: 100%;
                    text-align: center;
                }
            }
            .offerLogo {
                width: 50%;
                float: left;
                @include breakpoint('display_small') {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        &_halfBlock {
            &--left {
                width: 68%;
                margin-right: 2%;
                float: left;
                @include breakpoint('display_medium') {
                    width: 100%;
                    margin-right: 0;
                }
                .offer_detail {
                    text-align: left;
                    @include breakpoint ('display_small') {
                        text-align: center;
                    }
                    ;
                    .offer {
                        &_deleted {
                            position: relative;
                            &:before {
                                border-bottom: 1px solid #000;
                                content: "";
                                left: -5px;
                                right: -5px;
                                position: absolute;
                                top: 50%;
                                -ms-transform: rotate(7deg);
                                -webkit-transform: rotate(7deg);
                                transform: rotate(-7deg);
                            }
                        }
                        .gigs {
                            padding-right: 15px;
                            border-right: 3px solid #333333;
                        }
                        .gigs2 {
                            margin-left: 2%;
                        }
                        .under {
                            margin-left: 2%;
                        }
                    }
                }
            }
            &--right {
                width: 28%;
                margin-left: 2%;
                float: left;
                @include breakpoint('display_medium') {
                    width: 100%;
                    margin-left: 0;
                }
                .offer_detail {
                    @include breakpoint ('display_small') {
                        text-align: center;
                    }
                    .number,
                    .offer {
                        .price {
                            display: inline-block;
                            font-family: 'Trebuchet MS';
                            letter-spacing: -0.2em;
                        }
                        .currency {
                            padding: 0 10px;
                            display: inline-block;
                        }
                        .image {
                            display: inline-block;
                        }
                    }
                }
            }
            .offer_detail {
                .number,
                .offer {
                    .price,
                    .image {
                        float: right;
                        margin-left: 2%;
                    }
                }
            }
        }
        .offer_choice {
            .capsule {
                width: 100%;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                &.box-shadow {
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
                    overflow: hidden;
                }
                &--left {
                    float: left;
                    width: 60%;
                    padding: 18px 0;
                    color: white;
                }
                &--right {
                    float: left;
                    width: 40%;
                    padding: 15px 0;
                }
            }
            &--left {
                float: left;
                width: 40%;
                @include breakpoint('display_small') {
                    width: 100%;
                }
                .capsule {
                    float: right;
                }
            }
            &_divider {
                float: left;
                width: 20%;
                @include breakpoint('display_small') {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            &--right {
                float: left;
                width: 40%;
                @include breakpoint('display_small') {
                    width: 100%;
                }
                .capsule {
                    float: left;
                }
            }
        }
        &_halfBlock2 {
            font-family: 'Trebuchet MS';
            &--left {
                width: 50%;
                float: left;
                padding-right: 3%;
                border-right: 1px solid #cccccc;
                box-sizing: border-box;
                @include breakpoint ('display_small') {
                    width: 100%;
                    border-right: 0;
                    border-bottom: 1px solid #cccccc;
                }
            }
            &--right {
                width: 45%;
                margin-left: 4%;
                float: left;
                @include breakpoint ('display_small') {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        .offerBlock {
            float: left;
            width: 70%;
            @include breakpoint ('display_small') {
                width: 100%;
            }
        }
        .offer_stamp {
            float: left;
            width: 30%;
            @include breakpoint ('display_small') {
                width: 100%;
                text-align: center;
            }
            img {
                width: 100%;
                height: auto;
                max-width: 125px;
                @include breakpoint ('display_small') {
                    margin-right: 0;
                }
            }
        }
    }
    .tab_bollo {
        position: absolute;
        right: 0;
        top: 0;
    }
    .landing_booking {
        padding: 20px;
        @include breakpoint('display_small') {
            padding: 10px;
        }
        .hero {
            width: 100%;
            display: block;
            position: relative;
            &_img {
                .img_swipe1 {
                    width: 100%;
                    height: auto;
                    display: block;
                    @include breakpoint ('display_small') {
                        display: none;
                    }
                }
                .img_swipe2 {
                    width: 100%;
                    height: auto;
                    display: none;
                    @include breakpoint ('display_small') {
                        display: block;
                    }
                }
            }
        }
        .sub_hero {
            .conditions,
            .recurrency {
                width: 50%;
                float: left;
                @include breakpoint('display_small') {
                    width: 100%;
                }
            }
            .conditions {
                .terms,
                .paesi {
                    display: inline-block;
                    a {
                        text-decoration: none;
                        color: $color_orange;
                        &:hover {
                            border-bottom: 1px solid $color_orange;
                        }
                    }
                }
                .terms {
                    @include breakpoint ('display_small') {
                        float: left;
                    }
                }
            }
        }
    }
}
