.landing_magnum__hero {
    &__visoreEtnico {
        position: relative;
        width: 100%;
        height: auto;
        @include border-radius (4px);
        background-color: $color-orange;
        padding: 3em 1.250em;
        box-sizing: border-box;
        &__claim {
            width: 52%;
            font-family: 'Trebuchet MS';
            font-size: 3em;
            line-height:1em;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            @include breakpoint('display_small'){
            	width: 100%
            }
        }
        &__subclaim {
            margin-top: 2em;
            font-family: 'Trebuchet MS';
            font-size: 1.9em;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
        }
    }
}
