.landing_magnum__hero {
    &__visoreEtnico {
        position: relative;
        width: 100%;
        height: auto;
        @include border-radius (4px);
        background-color: $color-orange;
        /*  */
        box-sizing: border-box;
        &__claim {
            padding: 7% 2%;
            width: 40%;
            bottom:0;
            top: 0;
            font-family: 'Trebuchet MS';
            font-size: 2.4rem;
            line-height: 1em;
            font-weight: bold;
            color: $color-orange;
            text-transform: uppercase;
            position: absolute;
            z-index: 5;
            @include breakpoint('display_medium') {
                font-size: 1.9rem;
                
            }
            @include breakpoint('display_medium_smaller') {
                width: auto;
                font-size: 3.7rem;
                padding: 24% 3%;
            }
            @include breakpoint('display_small') {
                font-size: 3rem;
                padding: 12% 3%;  
            }
            @include breakpoint('display_smaller') {
                font-size: 2.4rem;
                padding: 12% 3%;  
            }
        }
        &__subclaim {
            margin-top: 2em;
            font-family: 'Trebuchet MS';
            font-size: 1.9em;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
        }
        img {
            /* position: absolute;
            z-index: 1;
            top: 0;
            left: 0; */
            width:100%;
        }
    }
}

.landing_magnum__showcase--ethnic {
    max-width: 100%;
    width: auto !important;
    .landing_magnum__showcase__item {
        &--ethnic {
            vertical-align: middle;
            @include breakpoint('display_small') {
                width: 100% !important;
            }
            .showcase__item {
                &--ethnic {
                    @include border-radius(4px);
                    border: 2px solid $color_grey_medium_light;
                    height: 300px;
                    position: relative;
                    @include breakpoint('display_medium') {
                        height: 260px;
                    }
                }
                &__title {
                    max-width: 82%;
                    height: 2em;
                    @include breakpoint('display_medium') {
                        max-width: none;
                    }
                }
                &__detail {
                    max-width: 65%;
                    @include breakpoint('display_medium') {
                        max-width: none;
                    }
                }
                &__price_block {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    &__import {
                        .currency {
                            font-size: 0.75em;
                        }
                    }
                    &__recurrency {}
                }
                &__footer {
                    .showcase__item__detail {
                        max-width: 60%;
                    }
                }
            }
        }
    }
    @include breakpoint('display_smaller') {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
}
