body{
	font-family: "Trebuchet MS"!important;
}

.clear {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.minor_spacing {
    letter-spacing: -1px;
}

.fix_image {
    top: 6px !important;
}

.hidden {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 950px;
    position: relative;
    height: auto;
    font-family: 'Trebuchet MS';
}

.center_block {
	display: block;
	margin: 0 auto;
}

.img_responsive {
	width: 100%;
	height: auto;
}

.img_responsive_height {
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}

.bg_color_grey_darkest{
background-color: $color_grey_darkest;
}
.bg_color_grey_darker{
	background-color: $color_grey_darker;
}
.bg_color_grey_dark{
	background-color: $color_grey_dark;
}
.bg_color_grey_medium_dark{
	background-color: $color_grey_medium_dark;
}
.bg_color_grey_medium{
	background-color: $color_grey_medium;
}
.bg_color_grey_six{
	background-color: $color_grey_six;
}
.bg_color_grey_medium_light{
	background-color: $color_grey_medium_light;
}
.bg_color_grey_light{
	background-color: $color_grey_light;
}
.bg_color_grey_lighter{
	background-color: $color_grey_lighter;
}
.bg_color_grey_lightest{
	background-color: $color_grey_lightest;
}