.landing_magnum {
    max-width: 950px;
    &__hero {
        @include breakpoint(display_smaller) {
            padding: 3px !important;
        }
        img {
            &.hero_wide {
                display: block;
                @include breakpoint(display_smaller) {
                    display: none;
                }
            }
            &.hero_mobile {
                display: none;
                @include breakpoint(display_smaller) {
                    display: block;
                }
            }
        }
    }
    &__slogan {
        h1 {
            letter-spacing: -0.001em;
        }
    }
    &__sub_slogan {
        position: relative;
        h2 {
            letter-spacing: -0.001em;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: calc(50% - 55px);
                right: calc(50% - 55px);
                height: 1px;
                margin: 0 auto;
                background-color: #666;
            }
        }
    }
    &__showcase {
        width: 100%;
        &__item {
            .product_desktop {
                display: block;
                @include breakpoint(display_smaller) {
                    display: none;
                }
            }
            .product_mobile {
                display: none;
                @include breakpoint(display_smaller) {
                    display: block;
                }
            }
            display: inline-block;
            width: 31%;
            @include breakpoint(display_small) {
                width: 49%;
            }
            @include breakpoint(display_smaller) {
                width: calc(100% - 6px);
            }
        }
    }
    &__options {
        &__container {
            border-radius: 4px;
            border: 1px solid $color_grey_light;
            background-color: $color_grey_lightest;
            height: 144px;
            @include breakpoint(display_small) {
                height: 210px;
            }
            &__item {
                display: inline-block;
                width: 32.6%;
                @include translate(0, 50%);
                &.left_item {
                    position: relative;
                    z-index: 2;
                    @include breakpoint(display_small) {
                        width: 100%;
                    }
                    div {
                        display: inline;
                    }
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        top: 27.5%;
                        border-width: 11px 0 11px 15px;
                        border-style: solid;
                        @include breakpoint(display_small) {
                            border-width: 15px 11px 0 11px !important;
                            right: calc(50% - 11px)!important;
                        }
                    }
                    &:before {
                        right: -19px;
                        border-color: transparent transparent transparent $color_grey_light;
                        @include breakpoint(display_small) {
                            top: calc(100% + 18px);
                            border-color: $color_grey_light transparent transparent transparent;
                        }
                    }
                    &:after {
                        right: -17px;
                        border-color: transparent transparent transparent $color_grey_lightest;
                        @include breakpoint(display_small) {
                            top: calc(100% + 16px);
                            border-color: $color_grey_lightest transparent transparent transparent;
                        }
                    }
                }
                &.central_item,
                &.right_item {
                    @include breakpoint(display_small) {
                        padding-top: 15px;
                    }
                }
                &.central_item {
                    @include breakpoint(display_small) {
                        width: 50%;
                    }
                    &:before,
                    &:after {
                        content: "";
                        width: 1px;
                        height: 85px;
                        position: absolute;
                        background-color: $color_grey_light;
                        top: -10px;
                    }
                    &:before {
                        left: 0;
                        @include breakpoint(display_small) {
                            height: 1px;
                            width: 100%;
                            left: 50%;
                            top: -21px;
                        }
                    }
                    &:after {
                        right: 0;
                        @include breakpoint(display_small) {
                            height: 75%;
                            right: 0;
                            top: 15px;
                        }
                    }
                }
                &.right_item {
                    @include breakpoint(display_small) {
                        width: 48%;
                    }
                }
            }
        }
    }
    &__discover {
        &.only_mobile{
            display: none;
            @include breakpoint(display_small) {
                    display: block;
                }
        }
        &.only_desktop{
            display: block;
            @include breakpoint(display_small) {
                    display: none;
                }
        }
        &__container {
            border-bottom: 1px solid $color_grey_light;
            border-top: 1px solid $color_grey_light;
            &__description {
                display: inline-block;
                @include breakpoint(display_small) {
                    padding-right: 0!important;
                    padding-bottom: 20px;
                }
            }
            &__options {
                display: inline-block;
                .option_item {
                    display: inline-block;
                    
                    &.option_2 {
                        border-left: 2px solid $color_orange;
                        border-right: 2px solid $color_orange;
                    }
                }
            }
        }
    }
    
    &__notes {
        width: 73%;
        position: relative;
        display: inline-block;
        @include breakpoint(display_small) {
            width: 100%;
            text-align: center;
            position: relative;
            top: -80px;
        }
    }
}