// ================================================================ STILE BASE  =============================================== //
// ================================================================ STILE BASE  =============================================== //
// ================================================================ STILE BASE  =============================================== //
// ================= VARS  ================== //
// ================= VARS  ================== //
// ================= VARS  ================== //
$color_orange: #f48135;
$color_black: #000000;
$color_white: #ffffff;
$color_standard: #292f36;
$color_grey_darker: #333;
$color_error: #ce4242;
$margin_mobile: 10px !important;
$font_family_regular: "Trade Gothic",
sans-serif;
$font_family_bold: "Trade Gothic Bold",
sans-serif;
$font_family_bold2: "Trade Gothic Bold2",
sans-serif;
$font_family_boldC: "Trade Gothic Bold Cond",
sans-serif;
$font_family_oblique: "Trade Gothic Obl",
sans-serif;
$font_family_light: "Trade Gothic Light",
sans-serif;
// Breakpoint Vars
$breakpoints: ( 'super-tiny': ( max-width: 480px), 'tiny': ( max-width: 400px), 'small_650': ( max-width: 650px), 'small': ( max-width: 768px), 'medium': ( max-width: 910px), 'large': ( max-width: 1025px), 'largest': ( max-width: 1440px), 'min-largest':( min-width: 1439px), 'extra-large':( min-width: 1999px), 'min-desktop':( max-width: 1024px));
// ================= RESET  ================== //
// ================= RESET  ================== //
// ================= RESET  ================== //
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background: white;
    color: $color_standard !important;
    font-size: 1em;
    letter-spacing: 0.25px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// ================= TYPOGRAPHY  ================== //
// ================= TYPOGRAPHY  ================== //
// ================= TYPOGRAPHY  ================== //
@font-face {
    font-family: "Trade Gothic Bold";
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg");
}

@font-face {
    font-family: "Trade Gothic Bold Cond";
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg");
}

@font-face {
    font-family: "Trade Gothic Bold2";
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg");
}

@font-face {
    font-family: "Trade Gothic Light";
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix");
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/6de16bd6-1e13-400f-80e8-8f5c69d8a2b8.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/73c7abdc-45a3-42a3-a1af-f07d8a348917.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/73494c38-422a-4bae-9e2c-b86e7703c1b3.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/b84e9482-10dd-4d9d-8ef2-539fbc5eb441.svg#b84e9482-10dd-4d9d-8ef2-539fbc5eb441") format("svg");
}

@font-face {
    font-family: "Trade Gothic Obl";
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix");
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/5a871dd4-95c1-4157-af67-a012e7ba4358.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/847d5cf1-1a60-4418-9d5e-44927ff99235.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/2882b13c-d7fa-4698-bab1-4a01805326d8.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7.svg#1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7") format("svg");
}

@font-face {
    font-family: "Trade Gothic";
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix");
    src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg");
}

html {
    font-size: 14px;
    line-height: 18px;
    overflow-x: hidden;
}

body {
    background: white;
    color: #444;
    font-family: $font_family_regular;
    font-size: 1em;
    letter-spacing: 0.25px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

// ================= MIXIN  ================== //
// ================= MIXIN  ================== //
// ================= MIXIN  ================== //
// Creating the mixin
@mixin breakpoint($name) {
    @if map-has-key($breakpoints,
    $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a your breakpoint named `#{$name}`.";
    }
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin translate ($x,
$y) {
    @include transform(translate($x,
    $y));
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

// OPACITY
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

//border radii
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
    border-top-left-radius: $topleft;
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    -webkit-border-top-left-radius: $topleft;
    -webkit-border-top-right-radius: $topright;
    -webkit-border-bottom-right-radius: $bottomright;
    -webkit-border-bottom-left-radius: $bottomleft;
    -moz-border-radius-topleft: $topleft;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomright: $bottomright;
    -moz-border-radius-bottomleft: $bottomleft;
}

// ============================================================= FINE STYLE BASE  ============================================ //
// ============================================================= FINE STYLE BASE  ============================================ //
// ============================================================= FINE STYLE BASE  ============================================ //
// ================= ERRORS  ================== //
// ================= ERRORS  ================== //
// ================= ERRORS  ================== //
.err_msg_text {
    line-height: 30px;
    width: 100%;
    text-align: center;
    margin-top: -2px;
    display: block;
    background-color: red;
    color: $color_white;
    font-weight: 600;
    @include border-radii(0px, 0px, 5px, 5px);
}

// ================= LABEL  ================== //
// ================= LABEL  ================== //
// ================= LABEL  ================== //
.v-label {
    //display: none;
}

.v-spacing {
    display: none !important;
}

.v-panel-content {
    width: 625px !important;
    margin: 0 auto !important;
    @include breakpoint(small_650) {
        width: 100% !important;
    }
}

// ================= BUTTON  ================== //
// ================= BUTTON  ================== //
// ================= BUTTON  ================== //
.v-button {
    background-image: none !important;
    background-color: $color_orange !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-family: $font_family_regular !important;
    border: 1px solid #ccc !important;
    color: $color_white !important;
    font-size: 18px !important;
    width: 280px !important;
    padding: 16px 0 !important;
    height: 52px !important;
    line-height: 1em !important;
    &.v-disabled {
        background-color: #e3e3e3 !important;
        border: 1px solid #e3e3e3 !important;
        &:hover {
            @include opacity(0.5);
        }
        &:focus {
            border: 1px solid #e3e3e3 !important;
        }
    }
    &:focus {
        border: 1px solid $color_orange !important;
        background-image: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
        &:after {
            border: 1px solid $color_orange !important;
            box-shadow: none !important;
        }
    }
    &-wrap {
        &:focus {
            outline: none !important;
        }
    }
}

// ================= ACCORDION  ================== //
// ================= ACCORDION  ================== //
// ================= ACCORDION  ================== //
.v-accordion {
    &-item-open {
        .v-captiontext {
            &:before {
                transform: translate(10px, 4px) rotate(45deg) !important;
            }
            &:after {
                transform: translate(10px, 4px) rotate(-45deg) !important;
            }
        }
    }
    .v-captiontext {
        &:before {
            position: absolute !important;
            width: 2px !important;
            right: 25px !important;
            height: 8px !important;
            top: 10px !important;
            transition: all .1s ease-in-out !important;
            background: $color_orange !important;
            content: "" !important;
            transform: translate(10px, 4px) rotate(-45deg) !important;
        }
        &:after {
            position: absolute !important;
            width: 2px !important;
            right: 20px !important;
            height: 8px !important;
            top: 10px !important;
            transition: all .1s ease-in-out !important;
            background: $color_orange !important;
            content: "" !important;
            transform: translate(10px, 4px) rotate(45deg) !important;
        }
    }
    &-item-caption {
        & > .v-caption {
            background: none !important;
            text-shadow: none !important;
            box-shadow: none !important;
        }
    }
}

// ================= BODY  ================== //
// ================= BODY  ================== //
// ================= BODY  ================== //
* {
    hyphens: initial;
}

@at-root {
    .v-layout {
        &.v-widget {
            padding: 0 !important;
        }
    }
}

.v-customcomponent-wizard {
    max-width: 1024px !important;
    width: 100% !important;
    margin: 0 auto !important;
    display: block !important;
}

.v-app {
    background-color: $color_white !important;
    width: 100% !important;
    margin: 0 auto !important;
}

.v-select-optiongroup-horizontal {
    text-align: center !important;
    display: block !important;
    margin-bottom: 30px !important;
    @include breakpoint(small_650) {
        text-align: left !important;
        margin-left: 20px !important;
    }
    .v-radiobutton {
        margin-left: 30px !important;
        margin-right: 30px !important;
        @include breakpoint(small_650) {
            margin: 0 !important;
            display: block !important;
            margin-bottom: 15px !important;
        }
    }
    label {
        font-family: $font_family_boldC;
    }
}

// ================= RADIOBUTTON  ================== //
// ================= RADIOBUTTON  ================== //
// ================= RADIOBUTTON  ================== // 
.v-radiobutton {
    & > input {
        & ~ label {
            &:before,
            &:after {
                border: 1px solid #ccc !important;
                background-image: none !important;
                background: none !important;
                box-shadow: none !important;
                text-shadow: none !important;
            }
        }
        &:checked {
            & ~ label {
                &:after {
                    background: $color_orange !important;
                    border: 1px solid $color_orange !important;
                    width: 11px !important;
                    height: 11px !important;
                    top: 4px !important;
                    left: 4px !important;
                }
                &:before {
                    border: 1px solid $color_orange !important;
                }
            }
        }
        &:focus,
        &:active {
            & ~ label {
                &:before {
                    border-color: $color_orange !important;
                    ;
                    box-shadow: none !important;
                    text-shadow: none !important;
                }
            }
        }
    }
}

// ================= CHECKBOX  ================== //
// ================= CHECKBOX  ================== //
// ================= CHECKBOX  ================== //
.v-checkbox {
    & > input {
        &:active {
            & ~ label {
                &:after {
                    background-color: transparent !important;
                    border: 1px solid #ccc !important;
                    background: none !important;
                }
            }
        }
        & ~ label {
            &:before {
                text-shadow: none !important;
                box-shadow: none !important;
                border: 1px solid #ccc !important;
                background: none !important;
            }
        }
        &:checked {
            & ~ label {
                &:after {
                    color: $color_white !important;
                    background-color: $color_orange !important;
                    text-shadow: none !important;
                    box-shadow: none !important;
                    border: 1px solid #ccc !important;
                    background-image: url(https://playalways.github.io/ui-kit/deploy/img/confirm_white.svg) !important;
                    background-position: -3px -2px !important;
                    background-size: 20px !important;
                    content: "" !important;
                }
            }
        }
    }
}

// ================= DATE FIELD  ================== //
// ================= DATE FIELD  ================== //
// ================= DATE FIELD  ================== //  
.v-datefield {
    height: 50px !important;
    width: 100% !important;
    & [class*="textfield"] {
        height: 50px !important;
        background-color: transparent !important;
        box-shadow: none !important;
        padding-left: 10px !important;
        font-family: $font_family_light !important;
        color: $color_standard !important;
        &:focus {
            border-color: $color_orange !important;
            box-shadow: none !important;
        }
    }
    & [class*="button"] {
        top: 12px !important;
        border-right: none !important;
        display: none !important;
        &:before {
            content: "" !important;
        }
    }
}

// ================= CARET  ================== //
// ================= CARET  ================== //
// ================= CARET  ================== //
.v-filterselect {
    width: 300px !important;
    display: inline-block !important;
    @include breakpoint(small_650) {
        width: 100% !important;
    }
    &-suggestpopup {
        margin-top: 0px !important;
        & [class$="suggestmenu"] {
            padding: 0 !important;
        }
        .gwt-MenuItem {
            height: 50px !important;
            line-height: 50px !important;
            font-family: $font_family_light !important;
            color: $color_standard !important;
            &-selected {
                background-color: $color_orange !important;
                color: $color_white !important;
                background-image: none !important;
                border-radius: 0px !important;
            }
        }
    }
    &-focus {
        &:before {
            transform: translate(10px, 4px) rotate(45deg) !important;
        }
        &:after {
            transform: translate(10px, 4px) rotate(-45deg) !important;
        }
    }
    & [class$="input"] {
        height: 50px;
        font-family: $font_family_light !important;
        color: $color_standard !important;
        &:focus {
            border-color: $color_orange !important;
            box-shadow: none !important;
        }
    }
    & [class$="button"] {
        display: none !important;
        top: 15px !important;
        border-left: none !important;
    }
    &-no-input {
        &:before {
            position: absolute !important;
            width: 2px !important;
            right: 33px !important;
            height: 10px !important;
            top: 18px !important;
            transition: all .1s ease-in-out !important;
            background: $color_orange !important;
            content: "" !important;
            transform: translate(10px, 4px) rotate(-45deg) !important;
        }
        &:after {
            position: absolute !important;
            width: 2px !important;
            right: 27px !important;
            height: 10px !important;
            top: 18px !important;
            transition: all .1s ease-in-out !important;
            background: $color_orange !important;
            content: "" !important;
            transform: translate(10px, 4px) rotate(45deg) !important;
        }
        &:focus {
            border-color: $color_orange !important;
            box-shadow: none !important;
            background: none !important;
        }
        & [class*="input"] {
            height: 50px !important;
            box-shadow: none !important;
            background: none !important;
            font-family: $font_family_light !important;
            color: $color_standard !important;
            background-color: $color_white !important;
            &:focus {
                border-color: $color_orange !important;
                box-shadow: none !important;
            }
        }
    }
}

// ================= INPUT FIELD  ================== //
// ================= INPUT FIELD  ================== //
// ================= INPUT FIELD  ================== //
.v-textfield {
    height: 50px !important;
    border-color: #ccc !important;
    font-family: $font_family_light !important;
    color: $color_standard !important;
    &:focus {
        border-color: $color_orange !important;
        box-shadow: none !important;
    }
}

// ================= LAYOUT  ================== //
// ================= LAYOUT  ================== //
// ================= LAYOUT  ================== //
.v-scrollable {
    & > .v-widget {
        overflow: auto !important;
    }
}

.v-panel {
    background: none !important;
    color: #444 !important;
    border: none !important;
    box-shadow: none !important;
    &-content {
        & > .v-margin {
            &-left {
                padding-left: 0px !important;
            }
            &-right {
                padding-right: 0px !important;
            }
            &-bottom {
                padding-bottom: 15px !important;
            }
            &-top {
                padding-top: 15px !important;
            }
        }
    }
}

// ================= VERTICAL LAYOUT ================== //
// ================= VERTICAL LAYOUT ================== //
// ================= VERTICAL LAYOUT ================== //
.v-horizontal {
    &layout {
        height: 100%;
    }
}

.v-vertical {
    &layout {
        &.v-widget {
            &.v-vertical {
                height: 100%;
                position: relative;
            }
        }
        &-lindirizzoDiResidenzaUgualeAQuelloDiSpedizione {
            margin-top: 15px;
            margin-bottom: 30px;
            @include breakpoint(small_650) {
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                width: calc(100% - 20px) !important;
            }
        }
        &-trasferimentoCreditoResiduo {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 12px;
            font-family: $font_family_light;
            @include breakpoint(small_650) {
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                width: calc(100% - 20px) !important;
            }
        }
        //CONTATTI
        &-windComunication {
            margin-top: 30px;
            font-size: 12px;
            font-family: $font_family_light;
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-thirdComunication {
            margin-top: 30px;
            font-size: 12px;
            font-family: $font_family_light;
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-vlButtonAlign {
            min-height: 100%;
            position: relative;
            & .v-align-right {
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
}

// ================= FOOTER ================== //
// ================= FOOTER ================== //
// ================= FOOTER ================== //
#vl {
    &-layout {
        &-footer {
            // //DA RIMUOVERE
            // bottom: auto !important;
            // position: relative !important;
        }
    }
}

.v-slot {
    &-consenso0,&-consenso1,&-consenso2,&-consenso3,&-consenso4,&-consenso5{
        font-size: 12px !important;
        margin-bottom: 10px;
    }
    &-error_style {
        line-height: 0px !important;
        &:after{
            content: "" !important;
            display: none !important;
        }
    }
    &-sectionTitle {}
    &.v-slot-wizard {
        min-height: 100%;
        margin-bottom: -99px;
        height: auto !important;
        height: 100%;
        &:after {
            content: "";
            clear: both;
            width: 100% !important;
            overflow: auto !important;
            display: block !important;
            height: 98px !important;
        }
        &~.v-slot {
            width: 100%;
            height: 98px;
            position: relative;
            box-sizing: border-box;
        }
    }
    &-vl {
        //==========CONDIZIONI GENERALI & PRIVACY =======//
        //ANAGRAFICA E HP
        &-generalConditions {
            margin-top: 15px;
            font-size: 12px;
            font-family: $font_family_light;
            @include breakpoint(small_650) {
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-infoprivacy {
            font-size: 14px;
            font-family: $font_family_light;
            margin: 30px;
            .v-widget {
                text-align: center !important;
                hyphens: initial !important;
            }
            @include breakpoint(small_650) {
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        //DOCUMENTO E CONTATTI
        &-contactscondition {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 12px;
            font-family: $font_family_light;
            @include breakpoint(small_650) {
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                .v-widget {
                    text-align: center !important;
                }
            }
        }
        &-contactsaccept {
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 12px;
            font-family: $font_family_light;
            @include breakpoint(small_650) {
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                .v-widget {
                    text-align: center !important;
                }
            }
        }
        //DOCUMENTO
        &-stampaCopiaDelDocumento {
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 16px;
            font-family: $font_family_boldC;
            .v-label {
                text-align: center !important;
            }
        }
        &-ricordati {
            font-size: 14px;
            font-family: $font_family_light;
            margin-bottom: 50px;
            .v-label {
                text-align: center !important;
            }
        }
        //========== HEADER ========= //
        &-comeVuoiAttivareLoffertaAppenaAcquistata {
            font-size: 22px;
            font-family: $font_family_boldC;
            color: #656d78;
            width: 100%;
            background-color: #f4f4f4;
            #comeVuoiAttivareLoffertaAppenaAcquistata {
                text-align: center;
                padding: 40px 30px;
            }
        }
        //========= FOOTER ===========//
        &ButtonAlign {
            overflow: visible;
            height: 100%;
        }
        &-text {
            &-comefunziona {
                font-size: 18px !important;
                color: #656d78 !important;
                background-color: #f4f4f4;
                .v-label {
                    font-family: $font_family_light !important;
                    text-align: center;
                    padding: 15px 0px;
                    padding-left: 40px;
                    &:before {
                        content: "?";
                        background-color: $color_orange;
                        color: $color_white;
                        position: absolute;
                        text-align: center;
                        margin-left: -40px;
                        white-space: nowrap;
                        height: 25px;
                        width: 25px;
                        @include border-radius(50%);
                    }
                }
            }
            &-copyright {
                font-size: 14px !important;
                color: $color_white !important;
                background-color: #292f36;
                .v-label {
                    font-family: $font_family_light !important;
                    text-align: center;
                    padding: 10px 0px;
                }
            }
        }
        // =========== PORTABILITA ==========//     
        &-vuoiPortareIlTuoNumeroInWind {
            margin-bottom: 30px !important;
        }
        &-numeroDiTelefono1 {
            margin-bottom: 15px !important;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-tariffaDiProvenienza {
            display: inline-block !important;
            margin-bottom: 30px !important;
            @include breakpoint(small_650) {
                display: block !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-operatoreDiProvenienza {
            display: inline-block !important;
            margin-bottom: 30px !important;
            margin-right: 20px !important;
            @include breakpoint(small_650) {
                display: block !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-numeroSerialeSIM {
            .v-textfield {
                width: 100% !important;
            }
            .v-slot {
                position: relative !important;
                &:first-child::after{
                    content: "?";
                    background-color: $color_orange;
                    color: $color_white;
                    position: absolute;
                    top: 14px;
                    right: 20px;
                    text-align: center;
                    white-space: nowrap;
                    height: 25px;
                    width: 25px;
                    @include border-radius(50%);
                }
            }
            @include breakpoint(small_650) {
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        // =========== ANAGRAFICA ==========//
        &-nome1 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-cognome1 {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-codiceFiscale1 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-provinciaDiNascita1 {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-filterselect {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                padding-bottom: 15px !important;
            }
        }
        &-comuneDiNascita1 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-dataDiNascita1 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-nazioneDiNascita {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-filterselect {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                padding-bottom: 15px !important;
            }
        }
        &-genere {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-filterselect {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        // =========== CONTATTI ==========//
        &-numeroDiTelefono {
            display: block !important;
            width: 100% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-email {
            display: block !important;
            width: 100% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-confermaEmail {
            display: block !important;
            width: 100% !important;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        // =========== DOCUMENTO ==========//   
        &-tipoDiDocumento {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-filterselect {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                padding-bottom: 15px !important;
            }
        }
        &-dataDiRilascio {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-numeroDocumento {
            display: block !important;
            width: 100% !important;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        // =========== INDIRIZZO ==========//  
        &-name {
            display: inline-block !important;
            width: 100% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-indirizzo,
        &-indirizzo1 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-nCivico,
        &-nCivico1 {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-citt,
        &-citt1 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-comune,
        &-comune1 {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-cAP,
        &-cAP1 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-provincia {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-nazione {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-filterselect {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                padding-bottom: 15px !important;
            }
        }
        // =========== CARTA DI CREDITO ==========//
        &-nome2 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-cognome2 {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-tipo1 {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-filterselect {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                padding-bottom: 15px !important;
            }
        }
        &-numeroCartaDiCredito {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-meseScadenza,
        &-annoScadenza {
            display: inline-block !important;
            width: calc(25% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-filterselect {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                display: block !important;
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
                padding-bottom: 15px !important;
            }
        }
        &-cvv {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        //======= BANCARIO =========  
        &-nomeIntestatarioCC {
            display: inline-block !important;
            width: calc(50% - 25px) !important;
            margin-right: 25px;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-cognomeIntestatarioCC {
            display: inline-block !important;
            width: 50% !important;
            margin-bottom: 15px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
        &-iBAN {
            display: inline-block !important;
            width: 100% !important;
            margin-bottom: 50px;
            .v-textfield {
                width: 100% !important;
            }
            @include breakpoint(small_650) {
                width: calc(100% - 20px) !important;
                margin-left: $margin_mobile;
                margin-right: $margin_mobile;
            }
        }
    }
}

// ================= INFOGRAFICA  ================== //
// ================= INFOGRAFICA  ================== //
// ================= INFOGRAFICA  ================== //

.infografica_container{
    background-color: #f4f4f4;
    .infografica_img_container{
        max-width: 1024px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
}