html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  background: white;
  color: #292f36 !important;
  font-size: 1em;
  letter-spacing: 0.25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b {
  font-weight: 600; }

@font-face {
  font-family: "Trade Gothic Bold";
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }
@font-face {
  font-family: "Trade Gothic Bold Cond";
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }
@font-face {
  font-family: "Trade Gothic Bold2";
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix");
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg"); }
@font-face {
  font-family: "Trade Gothic Light";
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix");
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/6de16bd6-1e13-400f-80e8-8f5c69d8a2b8.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/73c7abdc-45a3-42a3-a1af-f07d8a348917.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/73494c38-422a-4bae-9e2c-b86e7703c1b3.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/b84e9482-10dd-4d9d-8ef2-539fbc5eb441.svg#b84e9482-10dd-4d9d-8ef2-539fbc5eb441") format("svg"); }
@font-face {
  font-family: "Trade Gothic Obl";
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix");
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/5a871dd4-95c1-4157-af67-a012e7ba4358.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/847d5cf1-1a60-4418-9d5e-44927ff99235.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/2882b13c-d7fa-4698-bab1-4a01805326d8.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7.svg#1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7") format("svg"); }
@font-face {
  font-family: "Trade Gothic";
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix");
  src: url("https://playalways.github.io/html_blocchi/fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("https://playalways.github.io/html_blocchi/fonts/tradelicense/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg"); }
html {
  font-size: 14px;
  line-height: 18px;
  overflow-x: hidden; }

body {
  background: white;
  color: #444;
  font-family: "Trade Gothic", sans-serif;
  font-size: 1em;
  letter-spacing: 0.25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.err_msg_text {
  line-height: 30px;
  width: 100%;
  text-align: center;
  margin-top: -2px;
  display: block;
  background-color: red;
  color: #ffffff;
  font-weight: 600;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px; }

.v-spacing {
  display: none !important; }

.v-panel-content {
  width: 625px !important;
  margin: 0 auto !important; }
  @media (max-width: 650px) {
    .v-panel-content {
      width: 100% !important; } }

.v-button {
  background-image: none !important;
  background-color: #f48135 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  font-family: "Trade Gothic", sans-serif !important;
  border: 1px solid #ccc !important;
  color: #ffffff !important;
  font-size: 18px !important;
  width: 280px !important;
  padding: 16px 0 !important;
  height: 52px !important;
  line-height: 1em !important; }
  .v-button.v-disabled {
    background-color: #e3e3e3 !important;
    border: 1px solid #e3e3e3 !important; }
    .v-button.v-disabled:hover {
      opacity: 0.5;
      filter: alpha(opacity=50); }
    .v-button.v-disabled:focus {
      border: 1px solid #e3e3e3 !important; }
  .v-button:focus {
    border: 1px solid #f48135 !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
    .v-button:focus:after {
      border: 1px solid #f48135 !important;
      box-shadow: none !important; }
  .v-button-wrap:focus {
    outline: none !important; }

.v-accordion-item-open .v-captiontext:before {
  transform: translate(10px, 4px) rotate(45deg) !important; }
.v-accordion-item-open .v-captiontext:after {
  transform: translate(10px, 4px) rotate(-45deg) !important; }
.v-accordion .v-captiontext:before {
  position: absolute !important;
  width: 2px !important;
  right: 25px !important;
  height: 8px !important;
  top: 10px !important;
  transition: all .1s ease-in-out !important;
  background: #f48135 !important;
  content: "" !important;
  transform: translate(10px, 4px) rotate(-45deg) !important; }
.v-accordion .v-captiontext:after {
  position: absolute !important;
  width: 2px !important;
  right: 20px !important;
  height: 8px !important;
  top: 10px !important;
  transition: all .1s ease-in-out !important;
  background: #f48135 !important;
  content: "" !important;
  transform: translate(10px, 4px) rotate(45deg) !important; }
.v-accordion-item-caption > .v-caption {
  background: none !important;
  text-shadow: none !important;
  box-shadow: none !important; }

* {
  hyphens: initial; }

.v-layout.v-widget {
  padding: 0 !important; }
.v-customcomponent-wizard {
  max-width: 1024px !important;
  width: 100% !important;
  margin: 0 auto !important;
  display: block !important; }

.v-app {
  background-color: #ffffff !important;
  width: 100% !important;
  margin: 0 auto !important; }

.v-select-optiongroup-horizontal {
  text-align: center !important;
  display: block !important;
  margin-bottom: 30px !important; }
  @media (max-width: 650px) {
    .v-select-optiongroup-horizontal {
      text-align: left !important;
      margin-left: 20px !important; } }
  .v-select-optiongroup-horizontal .v-radiobutton {
    margin-left: 30px !important;
    margin-right: 30px !important; }
    @media (max-width: 650px) {
      .v-select-optiongroup-horizontal .v-radiobutton {
        margin: 0 !important;
        display: block !important;
        margin-bottom: 15px !important; } }
  .v-select-optiongroup-horizontal label {
    font-family: "Trade Gothic Bold Cond", sans-serif; }

.v-radiobutton > input ~ label:before, .v-radiobutton > input ~ label:after {
  border: 1px solid #ccc !important;
  background-image: none !important;
  background: none !important;
  box-shadow: none !important;
  text-shadow: none !important; }
.v-radiobutton > input:checked ~ label:after {
  background: #f48135 !important;
  border: 1px solid #f48135 !important;
  width: 11px !important;
  height: 11px !important;
  top: 4px !important;
  left: 4px !important; }
.v-radiobutton > input:checked ~ label:before {
  border: 1px solid #f48135 !important; }
.v-radiobutton > input:focus ~ label:before, .v-radiobutton > input:active ~ label:before {
  border-color: #f48135 !important;
  box-shadow: none !important;
  text-shadow: none !important; }

.v-checkbox > input:active ~ label:after {
  background-color: transparent !important;
  border: 1px solid #ccc !important;
  background: none !important; }
.v-checkbox > input ~ label:before {
  text-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  background: none !important; }
.v-checkbox > input:checked ~ label:after {
  color: #ffffff !important;
  background-color: #f48135 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  background-image: url(https://playalways.github.io/ui-kit/deploy/img/confirm_white.svg) !important;
  background-position: -3px -2px !important;
  background-size: 20px !important;
  content: "" !important; }

.v-datefield {
  height: 50px !important;
  width: 100% !important; }
  .v-datefield [class*="textfield"] {
    height: 50px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding-left: 10px !important;
    font-family: "Trade Gothic Light", sans-serif !important;
    color: #292f36 !important; }
    .v-datefield [class*="textfield"]:focus {
      border-color: #f48135 !important;
      box-shadow: none !important; }
  .v-datefield [class*="button"] {
    top: 12px !important;
    border-right: none !important;
    display: none !important; }
    .v-datefield [class*="button"]:before {
      content: "" !important; }

.v-filterselect {
  width: 300px !important;
  display: inline-block !important; }
  @media (max-width: 650px) {
    .v-filterselect {
      width: 100% !important; } }
  .v-filterselect-suggestpopup {
    margin-top: 0px !important; }
    .v-filterselect-suggestpopup [class$="suggestmenu"] {
      padding: 0 !important; }
    .v-filterselect-suggestpopup .gwt-MenuItem {
      height: 50px !important;
      line-height: 50px !important;
      font-family: "Trade Gothic Light", sans-serif !important;
      color: #292f36 !important; }
      .v-filterselect-suggestpopup .gwt-MenuItem-selected {
        background-color: #f48135 !important;
        color: #ffffff !important;
        background-image: none !important;
        border-radius: 0px !important; }
  .v-filterselect-focus:before {
    transform: translate(10px, 4px) rotate(45deg) !important; }
  .v-filterselect-focus:after {
    transform: translate(10px, 4px) rotate(-45deg) !important; }
  .v-filterselect [class$="input"] {
    height: 50px;
    font-family: "Trade Gothic Light", sans-serif !important;
    color: #292f36 !important; }
    .v-filterselect [class$="input"]:focus {
      border-color: #f48135 !important;
      box-shadow: none !important; }
  .v-filterselect [class$="button"] {
    display: none !important;
    top: 15px !important;
    border-left: none !important; }
  .v-filterselect-no-input:before {
    position: absolute !important;
    width: 2px !important;
    right: 33px !important;
    height: 10px !important;
    top: 18px !important;
    transition: all .1s ease-in-out !important;
    background: #f48135 !important;
    content: "" !important;
    transform: translate(10px, 4px) rotate(-45deg) !important; }
  .v-filterselect-no-input:after {
    position: absolute !important;
    width: 2px !important;
    right: 27px !important;
    height: 10px !important;
    top: 18px !important;
    transition: all .1s ease-in-out !important;
    background: #f48135 !important;
    content: "" !important;
    transform: translate(10px, 4px) rotate(45deg) !important; }
  .v-filterselect-no-input:focus {
    border-color: #f48135 !important;
    box-shadow: none !important;
    background: none !important; }
  .v-filterselect-no-input [class*="input"] {
    height: 50px !important;
    box-shadow: none !important;
    background: none !important;
    font-family: "Trade Gothic Light", sans-serif !important;
    color: #292f36 !important;
    background-color: #ffffff !important; }
    .v-filterselect-no-input [class*="input"]:focus {
      border-color: #f48135 !important;
      box-shadow: none !important; }

.v-textfield {
  height: 50px !important;
  border-color: #ccc !important;
  font-family: "Trade Gothic Light", sans-serif !important;
  color: #292f36 !important; }
  .v-textfield:focus {
    border-color: #f48135 !important;
    box-shadow: none !important; }

.v-scrollable > .v-widget {
  overflow: auto !important; }

.v-panel {
  background: none !important;
  color: #444 !important;
  border: none !important;
  box-shadow: none !important; }
  .v-panel-content > .v-margin-left {
    padding-left: 0px !important; }
  .v-panel-content > .v-margin-right {
    padding-right: 0px !important; }
  .v-panel-content > .v-margin-bottom {
    padding-bottom: 15px !important; }
  .v-panel-content > .v-margin-top {
    padding-top: 15px !important; }

.v-horizontallayout {
  height: 100%; }

.v-verticallayout.v-widget.v-vertical {
  height: 100%;
  position: relative; }
.v-verticallayout-lindirizzoDiResidenzaUgualeAQuelloDiSpedizione {
  margin-top: 15px;
  margin-bottom: 30px; }
  @media (max-width: 650px) {
    .v-verticallayout-lindirizzoDiResidenzaUgualeAQuelloDiSpedizione {
      margin-left: 10px !important;
      margin-right: 10px !important;
      width: calc(100% - 20px) !important; } }
.v-verticallayout-trasferimentoCreditoResiduo {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  font-family: "Trade Gothic Light", sans-serif; }
  @media (max-width: 650px) {
    .v-verticallayout-trasferimentoCreditoResiduo {
      margin-left: 10px !important;
      margin-right: 10px !important;
      width: calc(100% - 20px) !important; } }
.v-verticallayout-windComunication {
  margin-top: 30px;
  font-size: 12px;
  font-family: "Trade Gothic Light", sans-serif; }
  @media (max-width: 650px) {
    .v-verticallayout-windComunication {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-verticallayout-thirdComunication {
  margin-top: 30px;
  font-size: 12px;
  font-family: "Trade Gothic Light", sans-serif; }
  @media (max-width: 650px) {
    .v-verticallayout-thirdComunication {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-verticallayout-vlButtonAlign {
  min-height: 100%;
  position: relative; }
  .v-verticallayout-vlButtonAlign .v-align-right {
    text-align: center;
    margin-bottom: 30px; }

.lbl_title {
  color: #292f36;
  font-size: 600; }

.float_right {
  float: right; }

.clear {
  clear: both;
  height: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0; }

.v-slot-consent0, .v-slot-consent1, .v-slot-consent2, .v-slot-consent3, .v-slot-consent4, .v-slot-consent5 {
  font-size: 12px !important;
  margin-bottom: 10px; }
.v-slot-error_style {
  line-height: 0px !important; }
  .v-slot-error_style:after {
    content: "" !important;
    display: none !important; }
.v-slot.v-slot-wizard {
  min-height: 100%;
  margin-bottom: -98px;
  height: auto !important;
  height: 100%; }
  .v-slot.v-slot-wizard:after {
    content: "";
    clear: both;
    width: 100% !important;
    overflow: auto !important;
    display: block !important;
    height: 98px !important; }
  .v-slot.v-slot-wizard ~ .v-slot {
    width: 100%;
    height: 98px;
    position: relative;
    box-sizing: border-box; }
.v-slot-vl-generalConditions {
  margin-top: 15px;
  font-size: 12px;
  font-family: "Trade Gothic Light", sans-serif; }
  @media (max-width: 650px) {
    .v-slot-vl-generalConditions {
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-infoprivacy {
  font-size: 14px;
  font-family: "Trade Gothic Light", sans-serif;
  margin: 30px; }
  .v-slot-vl-infoprivacy .v-widget {
    text-align: center !important;
    hyphens: initial !important; }
  @media (max-width: 650px) {
    .v-slot-vl-infoprivacy {
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-contactscondition {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  font-family: "Trade Gothic Light", sans-serif; }
  @media (max-width: 650px) {
    .v-slot-vl-contactscondition {
      margin-left: 10px !important;
      margin-right: 10px !important; }
      .v-slot-vl-contactscondition .v-widget {
        text-align: center !important; } }
.v-slot-vl-contactsaccept {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 12px;
  font-family: "Trade Gothic Light", sans-serif; }
  @media (max-width: 650px) {
    .v-slot-vl-contactsaccept {
      margin-left: 10px !important;
      margin-right: 10px !important; }
      .v-slot-vl-contactsaccept .v-widget {
        text-align: center !important; } }
.v-slot-vl-stampaCopiaDelDocumento {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Trade Gothic Bold Cond", sans-serif; }
  .v-slot-vl-stampaCopiaDelDocumento .v-label {
    text-align: center !important; }
.v-slot-vl-ricordati {
  font-size: 14px;
  font-family: "Trade Gothic Light", sans-serif;
  margin-bottom: 50px; }
  .v-slot-vl-ricordati .v-label {
    text-align: center !important; }
.v-slot-vl-comeVuoiAttivareLoffertaAppenaAcquistata {
  font-size: 22px;
  font-family: "Trade Gothic Bold Cond", sans-serif;
  color: #656d78;
  width: 100%;
  background-color: #f4f4f4; }
  .v-slot-vl-comeVuoiAttivareLoffertaAppenaAcquistata #comeVuoiAttivareLoffertaAppenaAcquistata {
    text-align: center;
    padding: 40px 30px; }
.v-slot-vlButtonAlign {
  overflow: visible;
  height: 100%; }
.v-slot-vl-text-comefunziona {
  font-size: 18px !important;
  color: #656d78 !important;
  background-color: #f4f4f4; }
  .v-slot-vl-text-comefunziona .v-label {
    font-family: "Trade Gothic Light", sans-serif !important;
    text-align: center;
    padding: 15px 0px;
    padding-left: 40px; }
    .v-slot-vl-text-comefunziona .v-label.infografica_show {
      padding-bottom: 0 !important; }
    .v-slot-vl-text-comefunziona .v-label:before {
      content: "?";
      background-color: #f48135;
      color: #ffffff;
      position: absolute;
      text-align: center;
      margin-left: -40px;
      white-space: nowrap;
      height: 25px;
      width: 25px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
.v-slot-vl-text-copyright {
  font-size: 14px !important;
  color: #ffffff !important;
  background-color: #292f36; }
  .v-slot-vl-text-copyright .v-label {
    font-family: "Trade Gothic Light", sans-serif !important;
    text-align: center;
    padding: 10px 0px; }
.v-slot-vl-vuoiPortareIlTuoNumeroInWind {
  margin-bottom: 30px !important; }
.v-slot-vl-numeroDiTelefono1 {
  margin-bottom: 15px !important; }
  .v-slot-vl-numeroDiTelefono1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-numeroDiTelefono1 {
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-tariffaDiProvenienza {
  display: inline-block !important;
  margin-bottom: 30px !important; }
  @media (max-width: 650px) {
    .v-slot-vl-tariffaDiProvenienza {
      display: block !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-operatoreDiProvenienza {
  display: inline-block !important;
  margin-bottom: 30px !important;
  margin-right: 20px !important; }
  @media (max-width: 650px) {
    .v-slot-vl-operatoreDiProvenienza {
      display: block !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-numeroSerialeSIM .v-textfield {
  width: 100% !important; }
.v-slot-vl-numeroSerialeSIM .v-slot {
  position: relative !important; }
  .v-slot-vl-numeroSerialeSIM .v-slot:first-child::after {
    content: "?";
    background-color: #f48135;
    color: #ffffff;
    position: absolute;
    top: 14px;
    right: 20px;
    text-align: center;
    white-space: nowrap;
    height: 25px;
    width: 25px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
@media (max-width: 650px) {
  .v-slot-vl-numeroSerialeSIM {
    margin-left: 10px !important;
    margin-right: 10px !important; } }
.v-slot-vl-nome1 {
  display: inline-block !important;
  width: calc(50% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-nome1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-nome1 {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-cognome1 {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-cognome1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-cognome1 {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-codiceFiscale1 {
  display: inline-block !important;
  width: calc(50% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-codiceFiscale1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-codiceFiscale1 {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-provinciaDiNascita1 {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-provinciaDiNascita1 .v-filterselect {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-provinciaDiNascita1 {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-bottom: 15px !important; } }
.v-slot-vl-comuneDiNascita1 {
  display: inline-block !important;
  width: calc(50% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-comuneDiNascita1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-comuneDiNascita1 {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-dataDiNascita1 {
  display: inline-block !important;
  width: calc(50% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-dataDiNascita1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-dataDiNascita1 {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-nazioneDiNascita {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-nazioneDiNascita .v-filterselect {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-nazioneDiNascita {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-bottom: 15px !important; } }
.v-slot-vl-genere {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-genere .v-filterselect {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-genere {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-numeroDiTelefono {
  display: block !important;
  width: 100% !important;
  margin-bottom: 15px; }
  .v-slot-vl-numeroDiTelefono .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-numeroDiTelefono {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-email {
  display: block !important;
  width: 100% !important;
  margin-bottom: 15px; }
  .v-slot-vl-email .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-email {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-confermaEmail {
  display: block !important;
  width: 100% !important; }
  .v-slot-vl-confermaEmail .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-confermaEmail {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-tipoDiDocumento {
  display: inline-block !important;
  width: calc(50% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-tipoDiDocumento .v-filterselect {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-tipoDiDocumento {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-bottom: 15px !important; } }
.v-slot-vl-dataDiRilascio {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-dataDiRilascio .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-dataDiRilascio {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-numeroDocumento {
  display: block !important;
  width: 100% !important; }
  .v-slot-vl-numeroDocumento .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-numeroDocumento {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-name {
  display: inline-block !important;
  width: 100% !important;
  margin-bottom: 15px; }
  .v-slot-vl-name .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-name {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-indirizzo, .v-slot-vl-indirizzo1 {
  display: inline-block !important;
  width: 100% !important;
  margin-bottom: 15px; }
  .v-slot-vl-indirizzo .v-textfield, .v-slot-vl-indirizzo1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-indirizzo, .v-slot-vl-indirizzo1 {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-nCivico, .v-slot-vl-nCivico1 {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-nCivico .v-textfield, .v-slot-vl-nCivico1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-nCivico, .v-slot-vl-nCivico1 {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-citt, .v-slot-vl-citt1 {
  display: inline-block !important;
  width: calc(50% -25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-citt .v-textfield, .v-slot-vl-citt1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-citt, .v-slot-vl-citt1 {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-comune, .v-slot-vl-comune1 {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-comune .v-textfield, .v-slot-vl-comune1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-comune, .v-slot-vl-comune1 {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-cAP, .v-slot-vl-cAP1 {
  display: inline-block !important;
  width: calc(50% -25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-cAP .v-textfield, .v-slot-vl-cAP1 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-cAP, .v-slot-vl-cAP1 {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-provincia {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-provincia .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-provincia {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-nazione {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-nazione .v-filterselect {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-nazione {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-bottom: 15px !important; } }
.v-slot-vl-nome2 {
  display: inline-block !important;
  width: calc(50% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-nome2 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-nome2 {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-cognome2 {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-cognome2 .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-cognome2 {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-tipo1 {
  display: inline-block !important;
  width: calc(50% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-tipo1 .v-filterselect {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-tipo1 {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-bottom: 15px !important; } }
.v-slot-vl-numeroCartaDiCredito {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-numeroCartaDiCredito .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-numeroCartaDiCredito {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-meseScadenza, .v-slot-vl-annoScadenza {
  display: inline-block !important;
  width: calc(25% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-meseScadenza .v-filterselect, .v-slot-vl-annoScadenza .v-filterselect {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-meseScadenza, .v-slot-vl-annoScadenza {
      display: block !important;
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-bottom: 15px !important; } }
.v-slot-vl-cvv {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-cvv .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-cvv {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-nomeIntestatarioCC {
  display: inline-block !important;
  width: calc(50% - 25px) !important;
  margin-right: 25px;
  margin-bottom: 15px; }
  .v-slot-vl-nomeIntestatarioCC .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-nomeIntestatarioCC {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-cognomeIntestatarioCC {
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 15px; }
  .v-slot-vl-cognomeIntestatarioCC .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-cognomeIntestatarioCC {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }
.v-slot-vl-iBAN {
  display: inline-block !important;
  width: 100% !important;
  margin-bottom: 50px; }
  .v-slot-vl-iBAN .v-textfield {
    width: 100% !important; }
  @media (max-width: 650px) {
    .v-slot-vl-iBAN {
      width: calc(100% - 20px) !important;
      margin-left: 10px !important;
      margin-right: 10px !important; } }

.infografica_container {
  background-color: #f4f4f4;
  display: none;
  transition: all .2s ease-out; }

.infografica_show .infografica_container {
  display: block !important;
  transition: all .2s ease-out; }

.infografica_img_container {
  max-width: 1024px;
  margin: 0 auto; }
  .infografica_img_container img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 5px; }

/*# sourceMappingURL=amazon.css.map */
