
  <!--DO NOT REMOVE-->
	{{{ patternLabFoot }}}
	<script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/waves.js"></script>
  	<script type="text/javascript" src="/js/bootstrap-select.js"></script>
  	<script type="text/javascript" src="/js/wind-scripts.js"></script>
  	
  </body>
</html>
