@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";
body {
    font-family: "Trebuchet MS" !important;
}

.text_uppercase {
    text-transform: uppercase;
}

.text_bold {
    font-weight: 700;
}

a {
    color: $color_orange;
    text-decoration: none;
    &:hover {
        color: $color_orange_light;
    }
}

.text_orange {
    color: $color_orange;
}

.text_grey_beast {
    color: $color_grey_beast;
}

.text_align {
    &_left {
        text-align: left;
    }
    &_center {
        text-align: center;
    }
    &_right {
        text-align: right;
    }
}

