<!-- ============================= -->
<!-- ========== HEADER =========== -->
<!-- ============================= -->
<div class="landing__header">
    <div class="landing__header__bg">
        <div class="container">
            <div class="landing__header__container landing__header__container--left">
                <div class="logo logo--wind">
                     <a href="https://www.wind.it"><img src="/fileadmin/img-landing/logos/wind_logo.png" class="wind"></a>
                </div>
            </div>
            <div class="landing__header__container landing__header__container--right">
                <img src="/fileadmin/img-landing/bolli/bolli_robin_outline_2_Giga.png" class="landing__header__offer">
                <img src="/fileadmin/img-landing/bolli/bolli_robin_outline_3_Giga_Under30.png" class="landing__header__offer">                
                <div class="landing__header__container--logos">
                    <img src="/fileadmin/img-landing/logos/virtual-assistant.png" class="landing__header__va">
                    <div class="landing__header__icon__text">assistenza</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="landing__header--margin"></div>
