<!-- ============================= -->
<!-- ========== HEADER =========== -->
<!-- ============================= -->
<div class="landing__header">
    <div class="landing__header__bg">
        <div class="container">
            <div class="landing__header__container landing__header__container--left">
                <div class="logo logo--infostrada">
                    <a href="https://www.infostrada.it"><img src="/fileadmin/img-landing/logos/logo_infostrada.png" class="infostrada_logo"></a>
                </div>
            </div>
            <div class="landing__header__container landing__header__container--right">
                <a href="https://www.tre.it"><img src="/fileadmin/img-landing/logos/logo_tre.png" class="tre_logo"></a>
<!--                 <img src="/fileadmin/img-landing/bolli/bollo_adsl-vera-infostrada.png" class="landing__header__offer"> -->
                <div class="landing__header__container--logos">
                    <img src="/fileadmin/img-landing/logos/virtual-assistant.png" class="landing__header__va">
                    <div class="landing__header__icon__text">assistenza</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="landing__header--fixedHeight"></div>
