.landing {
    //============= FOOTER ============ //
    //============= FOOTER ============ //  
    &__footer {
        margin-top: 40px;
        width: 100%;
        background-color: $color_grey_dark;
        padding: 1.429rem 0 1.071rem 0;
        color: $color_white;
        text-align: center;
        font-size: 0.85rem;
    }
}