.landing {
    .clear {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    .landing {
        //============= HEADER ============ //
        //============= HEADER ============ //  
        &__header {
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            min-height: 80px;
            z-index: 999;
            border-bottom: 1px solid $color_grey_dark_light;
            @include animation(fadein 2s);
            &__bg {
                // background-color: $color_white;
                background-color: rgba(255, 255, 255, 0.95);
            }
            // === Margine per spaziatura header === //
            &--margin {
                margin-top: 85px;
                @include breakpoint(small) {
                    margin-top: 80px;
                    ;
                }
            }
            &__container {
                &--left {
                    float: left;
                }
                &--right {
                    float: right;
                    @include breakpoint(small) {
                        padding-top: 10px;
                    }
                }
                &--logos {
                    text-align: center;
                    display: none;
                    position: relative;
                    padding-left: 61px;
                    @include breakpoint(tiny) {
                        padding-left: 30px;
                    }
                    &:before {
                        content: '';
                        width: 0;
                        height: 40px;
                        position: absolute;
                        border: 1px solid $color_grey_dark_light;
                        top: 8px;
                        left: 30px;
                        @include breakpoint(tiny) {
                            height: 30px;
                            top: 5px;
                            left: 15px;
                        }
                    }
                }
            }
            &__icon__text {
                text-transform: uppercase;
                font-size: 12px;
                color: $color_grey_dark;
            }
            &__va {
                    margin: 0 auto;
                    width: 40px;
                    height: auto;
                    @include breakpoint(tiny) {
                        width: 25px;
                        height: auto;
                    }
            }
            &__offer {
                    display: inline-block;
                    position: relative;
                    width: 65px;
                    height: auto;
                    position: relative;
                    @include breakpoint(tiny) {
                        width: 50px;
                        height: auto;
                }
            }
            .container {
                width: 100%;
                max-width: 1024px;
                margin: 0 auto;
                padding: 10px 30px;
                @include breakpoint(tiny) {
                    padding: 10px 15px;
                }
            }
            .logo img {
                @include breakpoint(tiny) {
                    width: 70px;
                    height: auto;
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
}
