.landing {
    //============= HEADER ============ //
    //============= HEADER ============ //  
    &__header {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        min-height: 80px;
        background-color: $color_white;
        z-index: 999;
        border-bottom: 1px solid $color_grey_stroke;
        @include animation(fadein 2s);
        // === Margine per spaziatura header === //
        &--margin {
            margin-top: 80px;
        }
        .container {
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
        }
        .logo {
            margin: 0.8rem
        }
    }
}