    .landing {
        .landing {
            &__hero {
                box-sizing: border-box;
                position: relative;
                &.skewed_background {
                    .box_width_40 {
                        @include breakpoint(medium) {
                            width: 100%;
                        }
                    }
                }
                .container_hero_landing {
                    position: relative;
                    z-index: 100;
                    .padding_left_30 {
                        padding-left: 30px !important;
                        @include breakpoint(tiny) {
                            padding-left: 15px !important;
                        }
                    }
                    @include breakpoint(medium) {
                        width: 100%;
                        position: static;
                    }
                    &.hero_skewed {
                        position: absolute;
                        top: 0;
                        right: -20%;
                        z-index: 5;
                        @include breakpoint(medium) {
                            width: 100%;
                            position: static;
                            right: 0;
                        }
                    }
                    .skewed_image_hero {
                        @include breakpoint(medium) {
                            text-align: center;
                        }
                        img {
                            height: 100%;
                            width: auto;
                            @include breakpoint(medium) {
                                max-width: 100%;
                                width: auto;
                                height: auto;
                            }
                            @include breakpoint(tiny) {
                                max-width: 200%;
                                right: 50%;
                                position: relative;
                            }
                        }
                    }
                    &.fixed_height_560 {
                        height: 560px;
                        @include breakpoint(medium) {
                            height: auto;
                        }
                    }
                }
                .skewed_colored_bg {
                    position: absolute;
                    top: 0;
                    right: 50%;
                    left: 0;
                    height: 100%;
                    z-index: 10;
                    @include breakpoint(medium) {
                        display: none;
                    }
                    .shape {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        &.colored_bg_white {
                            background-color: $color-white;
                        }
                        &--one {
                            left: 0;
                            width: 75%;
                        }
                        &--two {
                            right: 0;
                            width: 50%;
                            transform: skew(-20deg);
                        }
                    }
                }
                .container {
                    @include breakpoint(small) {
                        overflow: hidden;
                    }
                }
                &__imageContainer {
                    position: absolute;
                    right: 0;
                    z-index: 15;
                    top: 0;
                    // non in assoluto
                    &.no_absolute {
                        position: static;
                    }
                    @include breakpoint(small) {
                        width: 50%;
                        top: 22%;
                        right: -5%
                    }
                    // immagine grande a destra
                    &.full_image {
                        width: 33%;
                        max-width: 400px;
                        img {
                            @include breakpoint(small) {
                                max-width: 250px;
                            }
                        }
                        @include breakpoint(small) {
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 100%;
                            margin: 0 auto !important;
                        }
                    }
                    // allarga l'immagine nel mobile
                    &.full_mobile {
                        width: 100%;
                        @include breakpoint(small) {
                            width: 100%;
                        }
                    }
                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                }
                &--title {
                    padding: 30px 0;
                    .logo_sponsor {
                        width: 30%;
                        display: inline;
                    }
                    .vw_font_120 {
                        font-size: 10vw;
                        @include breakpoint(larger-1024) {
                            font-size: 8.5rem;
                        }
                        @include breakpoint(tiny) {
                            font-size: 3.57143rem;
                        }
                    }
                    .vw_font_90 {
                        font-size: 8.7vw;
                        @include breakpoint(larger-1024) {
                            font-size: 6.42857rem;
                        }
                        @include breakpoint(tiny) {
                            font-size: 3.57143rem;
                        }
                    }
                    .vw_font_80 {
                        font-size: 7.5vw;
                        @include breakpoint(larger-1024) {
                            font-size: 5.71429rem;
                        }
                        @include breakpoint(tiny) {
                            font-size: 2.85714rem;
                        }
                    }
                    @include breakpoint(small) {
                        padding: 0;
                    }
                    &--light {
                        font-size: 6rem;
                        font-family: $font_family_cond;
                        font-weight: 400;
                        line-height: 1em;
                    }
                    &--mainTitle {
                        font-size: 8.929rem;
                        font-family: $font_family_cond;
                        font-weight: 700;
                        line-height: 1em;
                    }
                    h1 {
                        margin: 0;
                        font-size: 5.5rem;
                        text-transform: uppercase;
                        color: $color_robin;
                        font-family: $font_family_cond;
                        font-weight: bold;
                        @include breakpoint(med-large) {
                            font-size: 4.5rem;
                        }
                        @include breakpoint('medium') {
                            font-size: 3.6rem;
                        }
                        @include breakpoint(small) {
                            font-size: 2.8rem;
                        }
                    }
                }
                .bundle_orange {
                    display: table-cell;
                    padding: 0 20px;
                    color: $color_wind;
                    font-family: $font_family_light;
                    text-align: center;
                    vertical-align: middle;
                    width: 32%;
                    @include breakpoint('medium') {
                        display: block;
                        width: auto;
                        padding: 0;
                        text-align: left;
                    }
                    &:first-child {
                        padding: 0 30px 0 0;
                    }
                    &:not(:last-of-type) {
                        border-right: 1px solid $color_stroke;
                        @include breakpoint('medium') {
                            border-right: none;
                        }
                    }
                    &__container {
                        display: table;
                        width: 50%;
                        height: auto;
                        margin: 0 0 50px;
                        text-align: left;
                        @include breakpoint('medium') {
                            display: block;
                            padding: 0;
                        }
                        @include breakpoint(med-large) {
                            width: 40%;
                        }
                        @include breakpoint(small) {
                            width: 90%;
                        }
                    }
                    &__title {
                        //max-width: 70px;
                        //margin: 0 auto;
                        font-size: 2.143rem;
                        line-height: 1em;
                        @include breakpoint('medium') {
                            display: inline-block;
                        }
                        @include breakpoint(med-large) {
                            font-size: 2.143em;
                        }
                        // @include breakpoint(medium) {
                        //     font-size: 14px;
                        // }
                        @include breakpoint(small) {
                            font-size: 1.571rem;
                        }
                        // @include breakpoint('super-tiny') {
                        //     font-size: 12px;
                        // }
                    }
                    &__number {
                        font-size: 4.643em;
                        line-height: 1em;
                        @include breakpoint('medium') {
                            display: inline-block;
                        }
                        @include breakpoint(med-large) {
                            font-size: 3em;
                        }
                        @include breakpoint(tiny) {
                            font-size: 45px;
                        }
                        &:empty {
                            display: none;
                            & + .bundle_orange__title {
                                max-width: none;
                                font-size: 18px;
                            }
                        }
                    }
                }
                .magnum_background {
                    background-image: url("/fileadmin/img-landing/backgrounds/magnum_hero_background.png");
                    background-repeat: no-repeat;
                    background-position: top right;
                    padding-bottom: 25px;
                    background-size: cover;
                    @include breakpoint(small) {
                        background-position: center center;
                        background-image: url("/fileadmin/img-landing/backgrounds/magnum_hero_background_small.png");
                    }
                }
                .veon_background {
                    background-image: url("/fileadmin/img-landing/backgrounds/veon_hero_background.png");
                    background-repeat: no-repeat;
                    background-position: top right;
                    padding-bottom: 25px;
                    background-size: cover;
                    height: 595px;
                    @include breakpoint(small) {
                        background-position: center center;
                        background-image: url("/fileadmin/img-landing/backgrounds/veon_hero_background_small.png");
                    }
                }                
                .easy-europe_background {
                    background-image: url("/fileadmin/img-landing/backgrounds/easy-europe_hero_background.jpg");
                    background-repeat: no-repeat;
                    background-position: right center;
                    padding-bottom: 25px;
                    height: 656px;
                    @include breakpoint(small) {
                        height: 370px;
                        background-size: contain;
                        background-position: right center;
                    }
                    @include breakpoint(super-tiny) {
                        background-position: center center;
                    }
                }
                &--details {
                    margin-bottom: 120px;
                    @include breakpoint(small) {
                        margin-bottom: 80px;
                    }
                    .single {
                        font-family: $font_family_cond;
                        @include breakpoint(small) {
                            margin-bottom: 10px;
                        }
                        .image {
                            display: inline-block;
                            margin-right: 1em;
                            vertical-align: middle;
                            @include breakpoint(small) {
                                width: 15px;
                                height: 15px;
                                margin-right: 0.5rem;
                            }
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        .text {
                            display: inline-block;
                            font-size: 1.857em;
                            text-transform: uppercase;
                            vertical-align: middle;
                            line-height: 1.1em;
                            @include breakpoint(small) {
                                width: 50%;
                                font-size: 1.286rem;
                            }
                        }
                    }
                }
                &--stamp {
                    display: none;
                    margin-bottom: 45px;
                    &--single {
                        display: inline-block;
                        margin-right: 1rem;
                        @include breakpoint(small) {
                            display: block;
                            margin-top: 5px;
                            width: 44px;
                            height: 44px;
                        }
                    }
                }
                &--ribbon {
                    width: 350px;
                    height: 150px;
                    display: block;
                    position: absolute;
                    background-color: $color_robin;
                    right: -40px;
                    top: 52%;
                    text-align: center;
                    color: $color_white;
                    z-index: 16;
                    font-family: $font_family_regular;
                    &.mobile_medium_ribbon {
                        display: none;
                        @include breakpoint(medium) {
                            display: block;
                            padding-top: 20px;
                            top: 0;
                            height: auto;
                        }
                        @include breakpoint(tiny) {
                            padding-right: 15px;
                            padding-top: 10px;
                            width: 100px;
                            height: 70px;
                        }
                        .recurrency {
                            font-size: 1.129rem;
                            display: inline-block;
                            @include breakpoint(tiny) {
                                text-align: right;
                                display: block;
                            }
                        }
                        .price {
                            font-size: 5.429rem;
                            display: inline-block;
                            @include breakpoint(tiny) {
                                font-size: 2.429rem;
                                text-align: right;
                                display: block;
                            }
                        }
                    }
                    &.desktop_ribbon {
                        background-color: transparent;
                        position: static;
                        height: auto;
                        width: auto;
                        text-align: left;
                        @include breakpoint(medium) {
                            display: none;
                        }
                        &:before {
                            content: "";
                            display: none;
                        }
                    }
                    &.low_ribbon {
                        top: 60%;
                        @include breakpoint(small) {
                            top: 70%;
                        }
                    }
                    @include breakpoint(min-desktop-plusborder) {
                        right: 0;
                    }
                    @include breakpoint(medium) {
                        height: 120px;
                        width: 250px;
                        right: 0;
                        top: 73.3%;
                    }
                    @include breakpoint(small) {
                        height: 91px;
                        width: 158px;
                        right: 0;
                        top: 73.3%;
                    }
                    @include breakpoint(super-tiny) {
                        top: 73.3%;
                    }
                    &:before {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 50%;
                        bottom: 0;
                        left: -19%;
                        transform: skew(20deg);
                        transform-origin: 100% 100%;
                        background-color: $color_robin;
                        content: "";
                        z-index: -1;
                        @include breakpoint(small) {
                            left: 0%;
                        }
                    }
                    &:after {
                        display: block;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        border-width: 20px;
                        border-style: solid;
                        border-color: #02677e transparent transparent #02677e;
                        content: "";
                        z-index: -1;
                        @include breakpoint(medium) {
                            content: none;
                        }
                        @include breakpoint(min-desktop-plusborder) {
                            content: none;
                        }
                    }
                    .price {
                        font-size: 6.429rem;
                        line-height: 1em;
                        margin-top: 13px;
                        @include breakpoint(medium) {
                            font-size: 4.2rem;
                            margin-top: 15px;
                        }
                        @include breakpoint(small) {
                            font-size: 3.2rem;
                            margin-top: 11px;
                        }
                        .currency {
                            font-size: 0.8em;
                        }
                    }
                    .recurrency {
                        font-size: 1.429rem;
                        @include breakpoint(small) {
                            font-size: 0.9rem;
                        }
                        ;
                    }
                }
                &--claim {
                    width: 100%;
                    max-width: 1024px;
                    margin: 30px auto;
                    margin-bottom: 35px;
                    padding: 0 30px;
                    @include breakpoint(small) {
                        padding: 0 15px;
                    }
                    h2 {
                        font-size: 4rem;
                        text-transform: uppercase;
                        color: $color_robin;
                        line-height: 1em;
                        font-family: $font_family_cond;
                        position: relative;
                        z-index: 150;
                        @include breakpoint(small) {
                            font-size: 2.225rem;
                        }
                    }
                }
                &__sponsor_container {
                    display: table;
                }
                &--sponsor {
                    display: table-cell;
                    vertical-align: middle;
                    @include breakpoint(small) {
                        display: block;
                    }
                    img {
                        @include breakpoint(small) {
                            width: 50%;
                        }
                    }
                }
                &__tabs {
                    padding-top: 20px;
                    font-family: $font_family_light;
                    &--button {
                        @include border-radius(4px);
                        font-size: 1.429rem;
                        border: 1px solid $color_orange;
                        color: $color_orange;
                        padding: 15px 25px;
                        margin: 0 5px;
                        text-transform: uppercase;
                        display: inline-block;
                        text-align: center;
                        width: 155px;
                        cursor: pointer;
                        @include breakpoint(small) {
                            margin: 0;
                            padding: 5px 10px;
                            width: 32%;
                            font-size: 1.029rem;
                        }
                        &.active {
                            background-color: $color-white;
                        }
                        &:hover {
                            @include opacity(0.8);
                            background-color: $color-white;
                        }
                    }
                }
            }
        }
    }
