//TEMP

$weight-light: 'Helvetica';
$weight-bold: 'Helvetica';

.landing_restyle {
    .slick-track {
        @include breakpoint (small) {
            height: 950px;
        }
        .slick-slide.slick-active {
            @include breakpoint (small) {
                width: 320px;
            }
        }
    }
    .slider__dots {
        margin-top: 5px;
    }
    &__visore {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        &__overflowing {
            overflow: hidden;
            background-color: $color_grey_light_light;
            @include breakpoint (small) {
                height: auto;
            }
        }
        &__overflowingv4 {
            overflow: hidden;
            background-color: $color_white;
        }
        .container_mid_row {
            padding-top: 50px;
            @include breakpoint (small) {
                padding-top: 0px;
            }
            .column_left {
                float: left;
                min-height: 200px;
                @include breakpoint (small) {
                    width: 100%;
                }
            }
            .column_right {
                float: right;
                position: relative;
                right: 30px;
            }
            .column_rightv4 {
                float: right;
                position: relative;
                left: 5%;
                @include breakpoint (small) {
                    left: 0;
                }
            }
        }
        @at-root #{&}__container {}
        @at-root #{&}__singleButton {}
        @at-root #{&}__image {
            height: 100%;
            @include breakpoint(tiny) {
                width: 100%;
                height: auto;
            }
        }
        @at-root #{&}__half_block {
            position: relative;
            width: 50%;
            @include breakpoint(small) {
                width: 100%;
                &.float_right {
                    float: none;
                }
                &.float_left {
                    
                }
            }
            .button {
                max-width: 260px;
                width: 100%;
                margin: 12px auto 35px;
                position: relative;
            }
            &--imageContainer {
                position: absolute;
                width: 100%;
                right: 24%;
                @include breakpoint(small) {
                    right: 0;
                    display: block;
                    position: relative;
                    min-height: 375px;
                }
                &--left {
                    position: absolute;
                    width: 100%;
                    top: 50px;
                }
                &--leftv4 {
                    position: absolute;
                    width: 100%;
                    height: 385px;
                    top: 41px;
                    left: 4%;
                    @include breakpoint(small) {
                        display: none;
                    }
                }
            }
            &.image_block {
                position: relative;
                width: calc(50% - 50px);
            }
        }
        @at-root #{&}__mainContainer {
            position: relative;
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 30px;
            .offer_detail {
                margin-top: 15px;
                font-family: $weight-light;
                &__gigs {
                    font-family: $weight-bold;
                    color: $color_text;
                    font-size: 1.750em;
                }
                &__offerDetail {
                    font-size: 1.750em;
                    margin-left: 5px;
                }
            }
            .priceRow {
                margin-top: 5px;
                font-family: $weight-light;
                .mainPrice {
                    color: $color_mobile;
                    font-size: 5.625em;
                }
                .euro {
                    color: $color_mobile;
                    margin-left: -25px;
                    font-size: 3.750em;
                }
            }
        }
        @at-root #{&}__coloredBg {
            width: 150%;
            height: 100%;
            position: absolute;
            @include transform(skew(-20deg));
            left: 59%;
            @include breakpoint (small) {
                height: 35%;
                left: 0px;
                @include transform(skew(0deg));
                display: block;
            }
            &--left {
                right: 50%;
                width: 150%;
                height: 100%;
                position: absolute;
                @include transform(skew(-20deg));
                background-color: $color_robin;
                @include breakpoint(small) {
                    display: none;
                }
            }
        }
        @at-root #{&}__title {
            text-align: center;
            margin: 0 auto;
            line-height: 60px;
            font-size: 3.125em;
            color: $color_text;
            font-family: $weight-light;
        }
        @at-root #{&}__text {
            text-align: center;
            width: 90%;
            margin: 13px auto;
            font-size: 1.125em;
            color: $color_text;
            font-family: $weight-light;
        }
    }
}

@media all and(min-width: 901px) and (max-width: 1000px) {
    .landing_privati {
        &__visore {
            &__half_block {
                width: calc(50% - 50px);
                &--imageContainer {
                    right: 32%;
                }
                &--imageContainer--leftv4 {
                    top: 86px;
                    left: -15%;
                }
            }
        }
        &__banner {
            &__half_block {
                width: calc(50% - 50px);
                .container_mid_row {
                    .column_right {
                        right: 0;
                    }
                }
                &--imageContainer {
                    left: 10%;
                    &--left {
                        left: 0;
                    }
                }
            }
        }
    }
}

@media all and(min-width: 768px) and (max-width: 900px) {
    .landing_privati {
        &__visore {
            &__half_block {
                width: calc(50% - 50px);
                .container_mid_row {}
                &--imageContainer {
                    right: 32%;
                }
                &--imageContainer--leftv4 {
                    top: 86px;
                    left: -30%;
                }
            }
        }
        &__banner {
            &__half_block {
                width: calc(50% - 50px);
                .container_mid_row {
                    .column_right {
                        right: 0;
                    }
                }
                &--imageContainer {
                    left: 10%;
                    &--left {
                        left: -40%;
                    }
                }
            }
        }
    }
}
