.block_tabs {
  position: relative;
  margin: 0 auto;
  max-width: 876px;
  .nav-tabs li {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: inline-block;
    width: 49.5%;
    float: left;
    margin-right: 1%;
    border: none !important;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    &:after {
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: #ced4e0;
      content: "";
    }
    a {
      vertical-align: middle;
      margin-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #dee3ee;
      border: none !important;
      font-family: $weight-bold;
      font-size: 13px;
      color: $color_blue;
      .break {
        display: none;
        @include breakpoint(tiny) {
          display: inline;
        }
      }
    }
    &.active {
      &:after {
        content: none;
      }
      a {
        background-color: $color_grey_light;
        color: $color_blue;
      }
    }
  }
  a {
    &:hover {
      border: none;
    }
  }
  .nav-tabs li.active a {
    background-color: $color_grey_light;
    border: none;
    color: $color_blue;
    &:hover {
      border: none;
    }
  }
  .tab-content {
    background-color: $color_grey_light;
  }
  .infoForm {
    margin: 0 auto;
    padding: 15px 33px 18px;
    font-size: 14px;
    font-family: $font_family_regular;
    text-align: center;
    @include breakpoint(small) {
      padding-left: 18px;
      padding-right: 18px;
    }
    #prefisso {
      width: 8.7%;
      @include breakpoint(small) {
        float: left;
        width: 49.5%;
      }
    }
    #numero {
      width: 9.5%;
      @include breakpoint(small) {
        float: right;
        width: 49.5%;
      }
    }
    #provincia {
      width: 23%;
      padding: 0;
      .btn {
        font-size: 1em;
        padding: 13px 5px;
        border: none;
        color: #07122c;
        .caret {
          color: $color_blue;
          border-width: 6px 4px 0;
          margin-top: -4px;
        }
        @include breakpoint(small) {
          padding: 13px 15px;
        }
      }
      @include breakpoint(small) {
        width: 100%;
      }
    }
    #comune {
      width: 21%;
      @include breakpoint(small) {
        width: 100%;
      }
    }
    #indirizzo {
      width: 23.3%;
      @include breakpoint(small) {
        float: left;
        width: 74.5%;
      }
    }
    #civico {
      width: 7%;
      margin-right: 0;
      @include breakpoint(small) {
        float: right;
        width: 24.5%;
      }
    }
    .infoInput {
      margin-top: 15px;
      margin-right: .8%;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 1em;
      border: none;
      color: #07122c;
      @include breakpoint(small) {
        margin-right: 0;
        padding: 15px;
      }
    }
    .button {
      margin: 30px 0 0;
      font-size: 14px;
      @include breakpoint(small) {
        display: inline-block;
        width: 100%;
        margin: 33px 0 auto;
      }
    }
    .form-control::-webkit-input-placeholder {
      color: #07122c;
    }
  }
}
