//customizing page: Windgroup/Azienda La Nostra Storia

.title__default--storia {
  border: none;
}

.hvr-underline-reveal--storia:before {
  background: $color_grey_dark !important;
}

// accordion mobile version
.base__accordion {
  .panel-heading {
    .panel-title {
      color: $color_wind;

      a {
        color: $color_text;

        @include defaultTxt($font_family_regular, 1rem);
      }
    }
  }
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  background-color: $color_grey_light_light;

  article {
    color: $color_text;

    @include defaultTxt($font_family_regular, 1rem);

    margin-bottom: 20px;

    span {
      font-width: bold;
    }

    &:last-child {
      margin-bottom: 5px;
    }
  }
}

// tabs desktop version
.base__tabs--storia.nav-tabs {
  @include defaultTxt($font_family_light, 1.429rem);

  background: $color_grey_light;
  text-align: center;
  border: none;
  height: 55px;

  > li > a {
    color: $color_text;

    @include defaultTxt($font_family_light, 1.429rem);

    padding: 1rem;

    &:hover {
      color: $color_text;
      background-color: $color_grey_light_light;
    }
  }

  > li.active > a {
    color: $color_grey_dark;
    background-color: $color_grey_light;
  }
}

// tabs desktop version
.tab-content {
  width: 100%;
  margin-bottom: 40px;

  .timeline {
    list-style: none;
    padding: 0 0 20px;
    position: relative;

    &:before {
      top: 20px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 2px;
      background-color: $color_stroke;
      left: 50%;
      margin-left: -1.5px;
    }

    .tldate {
      display: block;
      width: 70px;
      color: $color_text;
      background: $color_white;

      @include defaultTxt($font_family_regular, 1.429rem);

      margin: 0 auto;
      padding: 3px 0;
      font-weight: bold;
      text-align: center;
    }

    // year date
    li.storia-tag-title {
      margin-top: 50px;
      margin-bottom: 30px;

      &:first-child {
        margin-top: 20px;
      }
    }

    li {
      margin-bottom: -15px;
      position: relative;

      &:before {
        content: " ";
        display: table;
      }

      &:after {
        content: " ";
        display: table;
        clear: both;
      }

      &:before, &:after {
        content: " ";
        display: table;
      }

      .timeline-panel {
        @include boxWF(left, 46%);

        background: $color_grey_light;
        padding: 20px 25px;
        position: relative;

        @include radius(2px);

        &:before {
          position: absolute;
          top: 26px;
          right: -15px;
          display: inline-block;

          //triangle select time line
          @include border(15px solid $color_transparent, 0 solid $color_stroke, 15px solid $color_transparent, 15px solid $color_stroke);

          content: " ";
        }

        &:after {
          position: absolute;
          top: 27px;
          right: -14px;
          display: inline-block;

          //triangle select time line
          @include border(14px solid $color_transparent, 0 solid $color_stroke, 14px solid $color_transparent, 14px solid $color_stroke);

          content: " ";
        }

        &.noarrow {
          &:before, &:after {
            top: 0;
            right: 0;
            display: none;
            border: 0;
          }
        }
      }

      &.timeline-inverted .timeline-panel {
        float: right;

        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }

        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }

      // circle date
      .tl-circ {
        position: absolute;
        top: 28px;
        left: 50%;
        text-align: center;
        background: $color_wind;
        width: 22px;
        height: 22px;
        line-height: 22px;
        margin-left: -11px;

        @include radius(50%);

        z-index: 99999;
      }

      // image file to content(default image rectangle)
      .tl-img {
        width: 31%;
        height: 31%;

        @include radius(50%);

        box-shadow: 0 0 0 8px $color_grey_medium, inset -2px 3px 5px rgba(0, 0, 0, 0.8);
        overflow: hidden;
        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 9;
          box-shadow: inset -1px 3px 5px 0px rgba(0, 0, 0, 0.8);

          @include radius(50%);
        }

        img {
          width: 100% !important;
        }

        @media (max-width: 992px) {
          margin-top: 5%;
        }
      }

      .tl-body {
        width: 60%;

        p, ul {
          margin-bottom: 0;
        }

        p {
          margin-top: 8%;
        }

        > p + p {
          margin-top: 5px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .timeline li .timeline-panel {
      width: 44%;
    }
  }

  @media (max-width: 700px) {
    ul.timeline:before {
      left: 40px;

      .tldate {
        width: 140px;
      }
    }

    ul.timeline {
      li {
        .timeline-panel {
          width: calc(100% - 90px);
          width: -moz-calc(100% - 90px);
          width: -webkit-calc(100% - 90px);
        }

        .tl-circ {
          top: 22px;
          left: 22px;
          margin-left: 0;
        }
      }

      li > li > .tldate {
        margin: 0;

        .timeline-panel {
          float: right;

          &:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
          }

          &:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
          }
        }
      }
    }
  }
}

.reveal-left, .reveal-right, .tl-circ, .tldate {
  visibility: hidden;
}
