.blocco_faq {
    //solo per la pagina delle faq
    .faq_accordions {
        display: none;
    }
    .faq_block__firstLevelBlock {
        display: none;
    }
}

// SLIDER BLOCK
.faq_block {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 30px;
    &__single {
        text-align: center;
        padding: 1.250em 1.250em;
        cursor: pointer;
        @at-root .faq_block__mainBlock #{&} {
            //@include transition(transform .2s ease-in); 
            &.faq_active {
                background-color: $color_wind;
                color: $color_white;
                .faq_block__single__icon {
                    .icon_mobile_fisso--color{
                        background-position: 50% 7.59493670886072%;
                    }
                }
            }
            &:hover {
                background-color: $color_wind;
                color: $color_white;
                // @include translate(0, 2px);           
                .faq_block__single__icon {
                    .icon_mobile_fisso--color{
                        background-position: 50% 7.59493670886072%;
                    }
                }
            }
            &__imageIcon {}
            .base__icon{
                width:44px;
                height:44px;
            }
            &__icon {
                line-height: 0px;
                font-size: 2.8em;
                color: $color_wind;
            }
            &__title {
                font-size: 1.250em;
                margin-top: 5px;
                margin-bottom: 5px;
                font-family: $weight-normal;
            }
            &__description {
                font-size: 1em;
                font-family: $weight-normal;
                @include breakpoint(small) {
                    width: 50%;
                    margin: 0 auto;
                }
                @include breakpoint(tiny) {
                    width: 100%;
                }
            }
        }
        @at-root .faq_block__secondaryBlock #{&} {
            /*faq_block__secondaryBlock .faq_block__single*/
            border-right: 1px solid $color_stroke;
            margin: 30px 0px;
            padding: 30px 60px;
            //@include transition(transform .2s ease-in-out);
            @include breakpoint(small) {
                margin: 0px 30px;
                padding: 30px 30px;
                border-bottom: 1px solid $color_stroke;
                width: calc(100% - 60px);
                border-right: 0px;
            }
            &:nth-of-type(3n) {
                border-right: 0px;
            }
            @at-root {
                .faq_block__secondaryBlock {
                    background-color: $color_grey_light_light;
                    &__container {
                        width: 100%;
                        max-width: 1024px;
                        margin: 0 auto;
                    }
                }
            }
            &:hover {
                //@include translate(0, 5px);  
                .faq_block__single__title {
                    text-decoration: underline;
                }
            }
            &__title {
                font-size: 1.250em;
                margin-top: 5px;
                color: $color_wind;
                margin-bottom: 5px;
                font-family: $weight-normal;
            }
            &__description {
                font-size: 1em;
                font-family: $weight-normal;
                @include breakpoint(small) {
                    width: 50%;
                    margin: 0 auto;
                }
                @include breakpoint(tiny) {
                    width: 100%;
                }
            }
        }
        @at-root .faq_block__firstLevelBlock #{&} {
            /*faq_block__firstLevelBlock .faq_block__single*/
            @include breakpoint(tiny) {
                width: 100%;
                text-align: left;
            }
            @at-root {
                .faq_block__firstLevelBlock {
                    &__container {
                        width: 100%;
                        max-width: 1024px;
                        margin: 0 auto;
                        position: relative;
                        &:before {
                            background-color: $color_stroke;
                            content: "";
                            display: block;
                            position: absolute;
                            left: 5%;
                            right: 5%;
                            min-width: 1px;
                            height: 1px;
                        }
                    }
                }
            }
            &__title {
                font-size: 1.250em;
                margin-top: 5px;
                margin-bottom: 5px;
                font-family: $weight-normal;
                @include breakpoint(medium) {
                    text-align: left;
                }
            }
            &__description {
                font-size: 1em;
                font-family: $weight-normal;
                color: $color_wind;
                text-align: left;
                list-style: none;
                padding: 0;
                &--list {
                    //@include transition(margin-left .2s ease-in-out);             
                    margin-left: 1.45em;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.faq_second_active {
                        color: $color_text;
                        text-decoration: underline;
                    }
                }
                li {
                    padding-left: 60px;
                    padding-right: 60px;
                    @include breakpoint(medium) {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                    &:before {
                        content: "";
                        border-color: $color_transparent $color_wind;
                        border-style: solid;
                        border-width: 0.35em 0 0.35em 0.45em;
                        display: block;
                        height: 0;
                        width: 0;
                        top: 0.9em;
                        position: relative;
                    }
                }
            }
        }
        @at-root .faq_block__firstLevelBlock--no_second #{&} {
            width: 100%;
            &__description {
                li {
                    float: left;
                    width: 33%;
                    @include breakpoint(small) {
                        width: 50%;
                    }
                    @include breakpoint(tiny) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
