// FORM ASSISTENZA
#step_02,
#step_03 {
    display: none;
    /* none */
}

.header_simple {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    -moz-box-shadow: 1px 1px 3px 1px $color_grey_light_light;
    -webkit-box-shadow: 1px 1px 3px 1px $color_grey_light_light;
    box-shadow: 1px 1px 3px 1px $color_grey_light_light;
    img {
        display: block;
        margin: 0 auto;
    }
}

.margin_top_header {
    &.assistance {
        margin-top: 45px;
        /*@include breakpoint ('small') {
            margin-top: 70px;
        }*/
    }
}

.contend {
    &#step_01,
    &#step_02,
    &#step_03 {
        margin-bottom: 150px;
        @include breakpoint (super-tiny) {
            margin-bottom: 0;
        }
    }
}

.container {
    &.form-assistance {
        width: 800px;
        margin: 0 auto;
        @include breakpoint (super-tiny) {
            width: 100%;
            margin-bottom: 50px;
        }
        .base__icon {
            height: 48px;
            width: 48px;
        }
        .top_content {
            width: 680px;
            /* 652 */
            /* 620 al netto del gap 16px */
            margin: 0 auto;
            @include breakpoint (super-tiny) {
                width: 100%;
            }
            .panel-body {
                padding-left: 0;
                @include breakpoint (tiny) {
                    margin: 0 auto;
                    display: table;
                }
            }
            .base__input--textarea {
                resize: none;
                height: 140px;
            }
            .dropdown-menu {
                &.open {
                    width: 100%;
                    overflow: hidden;
                }
            }
            .g-recaptcha {
                @include breakpoint (super-tiny) {
                    transform: scale(0.93);
                    -webkit-transform: scale(0.93);
                    -moz-transform: scale(0.93);
                    transform-origin: 0 0;
                    -webkit-transform-origin: 0 0;
                    -moz-transform-origin: 0 0;
                }
            }
            .summary {
                margin-top: 20px;
                margin-bottom: 20px;
                ul{
                    padding:0;
                    li {
                    list-style-type: none;
                    margin: 5px 0;
                    color: $color_text_light;
                    position: relative;
                    padding-left:30px;
                    &::before {
                        content: "";
                         position: absolute;
                         top: 0;
                         left: 0;
                         display: block;
                        background: url(../img/icons/icons_sprite.svg);
                        background-color: transparent;
                        background-repeat: no-repeat;
                        height: 22px;
                        width: 22px;
                        background-size: 500%;
                        background-position: 0% 14.59213%;
                       
                    }
                    @include breakpoint (super-tiny) {
                        font-size: 0.8em;
                    }
                }
                }
            }
        }
        .faq_answer {
            display: none;
            /* none */
            width: 100%;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            /*&:last-of-type {
                padding-top: 50px;
            }*/
            .answer {
                color: $color_text;
                font-size: 0.9375em;
                line-height: 1.3em;
                text-align: left;
                @include breakpoint (tiny) {
                    padding: 0 15px 0 0;
                    font-size: 14px;
                }
                .ootw__bullet-list {
                    li {
                        padding-bottom: 1rem;
                        .fa-li {
                            color: $color_wind;
                        }
                    }
                }
            }
            .label_button {
                color: $color_text;
                padding-top: 50px;
                padding-bottom: 10px;
                font-size: 0.875em;
                font-weight: bold;
            }
            .btn {
                font-size: 1.125em;
                padding: 1em;
            }
        }
        h2 {
            /*float: left;*/
            text-align: center !important;
            width: 100%;
            margin: 1rem 0 2rem 0;
            padding: 0;
            padding-top: 0.6rem;
            text-align: left;
            color: $color_text_light;
            font-family: "Trade Gothic Light", sans-serif;
            &.big {
                font-size: 1.875em;
                @include breakpoint (super-tiny) {
                    font-size: 1.1em;
                }
            }
            &.bigger {
                font-size: 2.5em;
            }
        }
        h3 {
            float: left;
            width: 100%;
            font-size: 1em;
            font-family: "Trade Gothic", sans-serif;
            text-align: left;
            margin: 0 0 1.2rem;
            color: $color_text_light;
            line-height: normal;
            @include breakpoint (super-tiny) {
                font-size: 0.8em;
            }
            &.centered {
                text-align: center;
                padding: 0 175px;
                /*175*/
                @include breakpoint (tiny) {
                    padding: 0 20px;
                }
            }
            &.centered2 {
                text-align: center;
                padding: 0 140px;
                @include breakpoint (super-tiny) {
                    padding: 0;
                }
            }
            &.centered3 {
                text-align: center;
                padding: 0;
                margin-bottom: 30px;
                @include breakpoint (super-tiny) {
                    padding: 0 20px;
                }
            }
        }
        .icon_assistance {
            display: block;
            margin: 0 auto;
        }
        .base__select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 620px;
            margin: 0 auto;
            display: table;
            /*@include breakpoint (tiny) {
                width: 90%;
            }*/
        }
        .base__select.bootstrap-select .dropdown-toggle .filter-option {
            font-size: 1.5em;
            color: $color_text;
            /* 999 */
            white-space: normal;
            width: 95%;
            @include breakpoint (tiny) {
                font-size: 14px;
                /* 0.9em */
                letter-spacing: 0.4px;
                /*width: 265px;*/
            }
        }
        .base__select.bootstrap-select .dropdown-toggle .bs-caret .caret {
            color: $color_text;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            margin-bottom: 1.5rem;
            font-family: "Trade Gothic Light", sans-serif;
            width: 100%;
            background: none;
            color: $color_text;
            font-weight: 1em;
        }
        .background_wide {
            background-color: $color_grey_light_light;
            height: auto;
            width: 100vw;
            position: relative;
            padding: 45px 0;
            left: calc(-50vw + 50%);
            .visible {
                display: block;
            }
            .hidden {
                display: none;
            }
        }
        .btn_chiudi {
            text-align: center;
            padding-top: 50px;
            padding-bottom: 50px;
            button {
                width: 300px;
                @include breakpoint (super-tiny) {
                    width: 100%;
                }
            }
            .btn {
                font-size: 1.125em;
                padding: 1em;
            }
        }
        .btn_invia {
            margin-top: 25px;
            @include breakpoint (super-tiny) {
                margin-bottom: 60px;
            }
            button {
                width: 100%;
            }
            .btn {
                font-size: 1.125em;
                padding: 1em;
            }
        }
    }
}

.footer {
    &.light {
        &.assistance {
            position: static !important;
            .br_mobile {
                display: none;
                @include breakpoint (super-tiny) {
                    display: block;
                }
            }
            .mobile {
                visibility: visible;
                @include breakpoint (super-tiny) {
                    visibility: hidden;
                }
            }
        }
    }
}


/* Media queries */

@media (max-width: 850px) {
    .container {
        &.form-assistance {
            width: 100%;
        }
    }
}

@media (max-width: 730px) {
    /* 652 */
    .container {
        &.form-assistance {
            .top_content {
                width: 100%;
            }
        }
    }
}

@media (max-width: 455px) {
    .container {
        &.form-assistance {
            .top_content {
                .filter-option {
                    /*text-overflow: ellipsis;
                    width: 270px;*/
                    white-space: normal;
                }
                .base__select {
                    &.bootstrap-select {
                        .dropdown-toggle {
                            padding-left: 10px;
                            .filter-option {
                                /*width: 250px;*/
                            }
                        }
                        .dropdown-menu>li>a {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .container {
        &.form-assistance {
            .top_content {
                .bootstrap-select {
                    &.btn-group {
                        .dropdown-menu {
                            li {
                                a {
                                    span {
                                        &.text {
                                            white-space: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 660px) {
    .container {
        &.form-assistance {
            .base__select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 90%;
            }
        }
    }
}
