// FORM ASSISTENZA
#step_02,
#step_03 {
    display: none;
    /* none */
}

.header_simple {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    -moz-box-shadow: 1px 1px 1px 1px #eee;
    -webkit-box-shadow: 1px 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px 1px #eee;
    img {
        display: block;
        margin: 0 auto;
    }
}

/*
.header_second {
    &.shadow {
        -moz-box-shadow: 1px 1px 1px 1px #eee;
        -webkit-box-shadow: 1px 1px 1px 1px #eee;
        box-shadow: 1px 1px 1px 1px #eee;
    }
    .logo {
        &.centered {
            margin: 0px auto;
            padding-top: 15px;
            float: none;
        }
    }
}
*/
.margin_top_header {
    &.assistence {
        @include breakpoint (small) {
            margin-top: 70px;
        }
    }
}

.contend {
    &#step_03 {
        margin-top: 150px;
        @include breakpoint (small) {
            margin-top: 0;
        }
    }
}

.container {
    &.form-assistance {
        width: 800px;
        margin: 0 auto;
        @include breakpoint (super-tiny) {
            width: 100%;
        }
        .top_content {
            width: 652px;
            /* 620 al netto del gap 16px */
            margin: 0 auto;
            @include breakpoint (super-tiny) {
                width: 100%;
            }
            .panel-body {
                padding-left: 0;
                @include breakpoint (tiny) {
                    margin: 0 auto;
                    display: table;
                }
            }
            .base__input--textarea {
                resize: none;
                height: 140px;
            }
        }
        .faq_answer {
            display: none;
            /* none */
            width: 100%;
            text-align: center;
            padding-top: 20px;
            .answer {
                color: #292f36;
                font-size: 0.875em;
                line-height: 1.12em;
                @include breakpoint (tiny) {
                    padding: 0 15px;
                }
            }
            .label_button {
                color: #292f36;
                padding-top: 50px;
                padding-bottom: 10px;
                font-size: 0.875em;
                font-weight: bold;
            }
            .btn {
                font-size: 1.125em;
                padding: 1em;
            }
        }
        h2 {
            /*float: left;*/
            text-align: center !important;
            width: 100%;
            margin: 1rem 0 2rem 0;
            padding: 0;
            padding-top: 0.6rem;
            text-align: left;
            color: #333;
            font-family: "Trade Gothic Light", sans-serif;
            &.big {
                font-size: 1.875em;
                @include breakpoint (super-tiny) {
                    font-size: 1.1em;
                }
            }
            &.bigger {
                font-size: 2.5em;
            }
        }
        h3 {
            float: left;
            width: 100%;
            font-size: 1em;
            font-family: "Trade Gothic", sans-serif;
            text-align: left;
            margin: 0 0 1.2rem;
            color: #333;
            line-height: normal;
            @include breakpoint (super-tiny) {
                font-size: 0.8em;
            }
            &.centered {
                text-align: center;
                padding: 0 175px;
                @include breakpoint (tiny) {
                    padding: 0 20px;
                }
            }
            &.centered2 {
                text-align: center;
                padding: 0 140px;
                @include breakpoint (super-tiny) {
                    padding: 0;
                }
            }
            &.centered3 {
                text-align: center;
                padding: 0;
                margin-bottom: 30px;
                @include breakpoint (super-tiny) {
                    padding: 0 78px;
                }
            }
        }
        .icon_assistance {
            display: block;
            margin: 0 auto;
        }
        .base__select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 620px;
            margin: 0 auto;
            display: table;
            @include breakpoint (tiny) {
                width: 90%;
            }
        }
        .base__select.bootstrap-select .dropdown-toggle .filter-option {
            font-size: 1.5em;
            color: #999;
            @include breakpoint (tiny) {
                font-size: 0.9em;
            }
        }
        .base__select.bootstrap-select .dropdown-toggle .bs-caret .caret {
            color: #000;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            margin-bottom: 1.5rem;
            font-family: "Trade Gothic Light", sans-serif;
            width: 100%;
            background: none;
            color: #333;
            font-weight: 1em;
        }
        .background_wide {
            background-color: #f4f4f4;
            height: auto;
            width: 100vw;
            position: relative;
            padding: 45px 0;
            left: calc(-50vw + 50%);
        }
        .btn_chiudi {
            text-align: center;
            padding-top: 50px;
            button {
                width: 300px;
                @include breakpoint (super-tiny) {
                    width: 100%;
                }
            }
            .btn {
                font-size: 1.125em;
                padding: 1em;
            }
        }
        .btn_invia {
            margin-top: 25px;
            @include breakpoint (super-tiny) {
                margin-bottom: 60px;
            }
            button {
                width: 100%;
            }
            .btn {
                font-size: 1.125em;
                padding: 1em;
            }
        }
    }
}

.footer {
    @include breakpoint (super-tiny) {
        position: static !important;
    }
}


/* Media queries */

@media (max-width: 799px) {
    .container {
        &.form-assistance {
            width: 100%;
        }
    }
}

@media (max-width: 652px) {
    .container {
        &.form-assistance {
            .top_content {
                width: 100%;
            }
        }
    }
}
