.wnd {
    min-width: auto !important;
    .carousel {
        margin-top: 4%;
    }
    .item {
        margin: 0 5% 0 0 !important;
        width: 95% !important;
        &:last-child {
            margin: 0 !important;
        }
        .row {
            .ph-img {
                img {
                    width: auto !important;
                }
            }
        }
        .offers {
            width: 45%;
            display: inline-block;
            margin-right: 5%;
            margin-top: 5%;
            &:last-child {
                margin-right: 0;
            }
            .ph-lb {
                .phoneSpec {
                    text-align: left;
                    color: #333;
                    display: inline-block;
                    .ph-name {
                        font-size: 1.3em;
                        line-height: 1.032em;
                    }
                    .ph-detail {
                        font-size: 0.8em;
                    }
                    .ph-3d {
                        font-size: 0.8em;
                    }
                }
                img {
                    width: 90% !important;
                }
            }
            .ph-price {}
        }
    }
    .col-ip {
        padding: 5% 0 !important;
    }
     .col-trova {
        padding: 25px 0 70px;
        a {
            &.bt-cta {
                font-family: 'Trebuchet MS';
                background-color: #f48135;
                color: white !important;
                padding: 1rem;
                margin: 0px 30px;
                display: block;
                font-size: 1.125em;
                text-align: center;
                height: auto;
                text-transform: uppercase;
                border-radius: 4px;
                &:hover {
                    background-color: #f78f4c;
                    color: white;
                }
            }
            &.oot-cta-trova {
                font-family: "Trebuchet MS";
                display: inline-block;
                position: relative;
                width: auto;
                margin: 0;
                border-bottom: 1px solid #e6e9ed;
                border-top: 1px solid #e6e9ed;
            }
        }
    } 
}

.clear {
    clear: both;
}

@media (max-width: 34.3em) {
    .wnd {
        .item {
            width: 100% !important;
            .offers {
                .ph-lb {
                    img {
                        width: 100% !important;
                        //padding: 0 !important;
                    }
                }
                .ph-price {
                    margin-left: 0 !important;
                }
            }
        }
    }
}

@media (min-width: 48em) {
    .wnd {
        .item {
            .offers {
                .ph-lb {
                    height: 80px !important;
                    img {}
                }
            }
        }
    }
}
