.landing_huawei {
    max-width: 950px;
    &__slogan {
        h1 {
            letter-spacing: -0.001em;
        }
    }
    &__sub_slogan {
        position: relative;
        h2 {
            letter-spacing: -0.001em;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: calc(50% - 80px);
                right: calc(50% - 80px);
                height: 1px;
                margin: 0 auto;
                background-color: #aab2bd;
            }
        }
    }
    &__form_pre-order {
        @include breakpoint('display_smaller') {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        & .col-sm-12 {
            @include breakpoint('display_small') {
                padding-left: 0 !important;
            }
        }
        & .block__left,
        & .block__right {
            @include breakpoint('display_small') {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            input {
                width: 100%;
                padding: 1.4rem;
            }
        }
        & .modelContainer {
            display: inline-block;
            .r,
            .modelMobile {
                display: inline-block;
            }
        }
        & .checkPrivacy {
            float: left;
            width: 40px;
            height: 40px;
            position: relative;
            top: 4px;
            left: 5px;
        }
    }
    & .call_to_action {
        &__container {
            @include breakpoint('display_smaller') {
                width: 100%;
            }
        }
    }
    &__validity {
        border-top: 1px solid #656d78;
        &__container {
            &__description {
                display: inline-block;
                @include breakpoint(display_small) {
                    padding-right: 0!important;
                    padding-bottom: 20px;
                }
            }
        }
    }
    .wind_ricorda {
        width: 100%;
        text-align: center;
        &__reminder__container {
            width: 140px;
            margin: 0 auto;
            position: relative;
            &::before {
                display: none;
            }
            &::after {
                color: #fff;
                content: "i";
                border-radius: 50%;
                border: 1px solid #ccccca;
                background-color: #ccccca;
                width: 20px;
                height: 20px;
                line-height: 18px;
                text-align: center;
                position: absolute;
                top: 5px;
                right: 0;
            }
        }
    }
    .radio-inline {
        position: relative;
        display: inline-block;
        padding-left: 12px;
        margin-bottom: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }
    .base__radio.radio input[type="radio"] {
        margin: 0;
    }
    .radio input[type=radio] {
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }
    .radio input[type=radio],
    .radio-inline input[type=radio] {
        position: absolute;
        left: 8px;
        height: 21px;
        width: 21px;
    }
    .radio label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
    }
    .checkbox label,
    .radio label {
        min-height: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }
    .base__radio.radio label::before {
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
    }
    .base__radio.radio label::before,
    .base__radio.radio label::after {
        margin-left: -1.4rem;
    }
    .radio label::before {
        content: "";
        width: 17px;
        height: 17px;
        left: 0;
        border: 1px solid #ccc;
        border-radius: 50%;
        -webkit-transition: border .15s ease-in-out;
        -o-transition: border .15s ease-in-out;
        transition: border .15s ease-in-out;
    }
    .radio label::after,
    .radio label::before {
        display: inline-block;
        position: absolute;
        margin-left: -20px;
    }
    .radio label::after {
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        border-radius: 50%;
        background-color: #555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
        -moz-transition: -moz-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
        -o-transition: -o-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
        transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    }
    .radio label::after,
    .radio label::before {
        display: inline-block;
        position: absolute;
        margin-left: -20px;
    }
    .base__radio.radio input[type="radio"]:checked + label::before {
        border: 1px solid #F48135;
        outline: none;
    }
    .base__radio.radio label::after {
        top: 4px;
        left: 4px;
        width: 13px;
        height: 13px;
        background: #F48135;
    }
    .radio input[type=radio]:checked+label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    .radio label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 13px;
    }
    .base__checkbox.checkbox {
        padding-left: 1.4rem;
    }
    .checkbox.checkbox-inline,
    .radio.radio-inline {
        margin-top: 0;
    }
    .checkbox-inline,
    .radio-inline {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }
    .base__checkbox.checkbox input[type="checkbox"] {
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .checkbox label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 27px;
        @include breakpoint(display_smaller) {
            font-size: 12px;
        }
    }
    .checkbox label,
    .radio label {
        min-height: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }
    .base__checkbox.checkbox label::before {
        border: 1px solid #D3D3D2;
        border-radius: 4px;
    }
    .base__checkbox.checkbox label::before,
    .base__checkbox.checkbox label::after {
        left: -1.4rem;
        width: 1.4rem;
        height: 1.4rem;
        margin: 0;
        padding: 0;
        content: "";
    }
    .checkbox label::before {
        content: "";
        width: 17px;
        height: 17px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
        -o-transition: border .15s ease-in-out, color .15s ease-in-out;
        transition: border .15s ease-in-out, color .15s ease-in-out;
    }
    .checkbox label::after,
    .checkbox label::before {
        position: absolute;
        margin-left: -20px;
        display: inline-block;
        left: 0;
    }
    .base__checkbox.checkbox label::before,
    .base__checkbox.checkbox label::after {
        left: -1.4rem;
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        content: "";
        @include breakpoint(display_smaller) {
            width: 21px;
            height: 21px;
        }
    }
    .checkbox label::after {
        width: 16px;
        height: 16px;
        top: 0;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555;
    }
    .checkbox label::after,
    .checkbox label::before {
        position: absolute;
        margin-left: -20px;
        display: inline-block;
        left: 0;
    }
    .base__checkbox.checkbox input[type="checkbox"]:checked + label::before {
        border-color: #D3D3D2;
        outline: none;
        background-color: #F48135;
    }
    .base__checkbox.checkbox input[type="checkbox"].styled:checked + label:after {
        background-image: url(../img/icons/icons_sprite.svg);
        background-position: 50% 87.91209%;
        background-size: 500%;
        width: 28px;
        height: 28px;
        top: 3px;
        left: -12px;
        content: "";
        @include breakpoint(display_smaller) {
            width: 18px;
            height: 18px;
        }
    }
}
