//general class
// blocks full screen width
.block_full_wide {
    float: left;
    display: block;
    height: auto;
    width: 100%;
}

// divs pisition relative
.relative {
    position: relative;
}

// divs pisition absolute
.absolute {
    position: absolute;
}

// additional space
.spacer {
    margin-bottom: 13.5rem !important;
}

// divs float left
.left {
    float: left;
}

// divs float right
.right {
    float: right;
}

// default radius
.radius {
    @include radius(4px);
}

// nulled padding
.null-p {
    padding: 0 !important;
}

// wrapper default style
.wrp {
    margin: 0 2.8rem;
    @media (max-width: 767px) {
        margin: 0 1rem;
    }
    @media (max-width: 340px) {
        margin: 0 5px;
    }
}

// provisional arrow
.arrow-up {
    position: absolute;
    width: 0;
    height: 0;
}

// text uppercase
.upp {
    text-transform: uppercase;
}

// provisional title page
.title_page h3 {
    font-size: 2.143rem;
    font-family: $font_family_light;
    color: $color_text; 
}

//title default page content
.title__default {
    //float: left;
    width: 100%;
    margin: 1.2rem auto;
    border-bottom: 1px solid $color_stroke; 
    h3 {
        font-family: $font_family_light;
        font-size: 2.1rem;
        color: $color_text; 
    }
}

// generic banner responsive
.banner {
    float: left;
    width: 100%;
    &.first {
        position: relative;
        .image {
            width: 100%;
            height: auto;
            float: left;
            img {
                width: 100%;
                float: left;
            }
        }
    }
}

// global container (custom bootstrap)
.container .row {
    .hr-divider {
        display: inline-block;
        height: 1px;
        background-color: $color_stroke; 
        width: 60%;
        margin: 2rem 20%;
    }
    &.v-divider [class*='col-']:not(:last-child):after {
        background-color: $color_stroke; 
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 20%;
        bottom: 20%;
        right: 10%;
        min-height: 1px;
    }
    [class*='col-'] > img {
        width: 100%;
        max-width: 100%;
    }
    &.v-divider [class*='col-'] p {
        width: 85%;
    }
}

img {
    border: 0;
    outline: 0;
    display: block;
    -ms-interpolation: bicubic;
}

a {
    color: $color_wind ; 
    &:link,
    &:visited,
    &:hover,
    &:active {
        /* color: $color_orange; */
        text-decoration: none;
    }
}

.btn {
    &:focus,
    &:active:focus,
    &.active:focus {
        outline-color: transparent;
        outline-style: none;
    }
    font-family: $font_family_light;
}

.menu_sup {
    margin-top: 0.1em;
    li a {
        font-family: $font_family_light;
    }
}

.menu {
    padding-top: 0.8em;
}

.header .menu-right li a.btn_entra .logued {
    @include radius(32px);
}

textarea:focus {
    @include focusInputs($color_wind, transparent, none, 0); 
}

//outline: thin dotted \9;  IE6-9
input {
    &[type="text"]:focus,
    &[type="password"]:focus,
    &[type="datetime"]:focus,
    &[type="datetime-local"]:focus,
    &[type="date"]:focus,
    &[type="month"]:focus,
    &[type="time"]:focus,
    &[type="week"]:focus,
    &[type="number"]:focus,
    &[type="email"]:focus,
    &[type="url"]:focus,
    &[type="search"]:focus,
    &[type="tel"]:focus,
    &[type="color"]:focus,
    &[type=file]:focus,
    &[type=checkbox]:focus,
    &[type=radio]:focus {
        @include focusInputs($color_wind, transparent, none, 0); 
    }
}

//outline: thin dotted \9;  IE6-9
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgba(244, 129, 53, 0.2); 
    background-image: none;
    color: $color_text; 
}

// default modal scroll
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    width: auto;
}

.base__scrollable,
.base__scrollable2 {
    width: 100%;
    min-height: 50px;
    padding: 0 2rem 0 0;
    overflow-y: hidden;
}

.base__bullet-list {
    list-style-type: none;
    margin-bottom: 0;
    display: inline-block;
    padding-left: 0rem;
    .fa-li {
        font-size: 1.2rem;
        padding-right: 1.2rem;
        color: $color_wind;
    }
    li {
        padding-bottom: 1rem;
    }
}



.base__gallery--carousel {
    .owl-wrapper-outer .owl-wrapper .owl-item .item {
        width: 100%;
        display: inline-block;
        img {
            max-width: 100%;
        }
    }
    .owl-controls {
        .owl-pagination .owl-page span {
            background-color: $color_wind; 
            @include radius(1em);
        }
        .owl-buttons {
            display: inline-block;
            width: 100%;
            div {
                padding: 1rem;
                font-size: 1rem;
                margin: 0.5rem;
                line-height: 1;
                @include radius(2em);
            }
            .owl-prev {
                position: fixed;
                top: 45%;
                left: 0px;
                &:before {
                    font-family: "FontAwesome";
                    content: "\F053";
                    font-size: 1rem;
                    color: $color_wind; 
                }
            }
            .owl-next {
                &:before {
                    font-family: "FontAwesome";
                    content: "\F054";
                    font-size: 1rem;
                    color: $color_wind ; 
                }
                position: fixed;
                top: 45%;
                right: 0px;
            }
        }
    }
}

//hack to fluid scroll
.touch_scroll {
    -webkit-overflow-scrolling: touch;
}
