<div class="form-group">
  <label for="{{selectID}}">{{selectLabel}}</label>
  <select id="{{selectID}}" class="form-control selectpicker" data-style="{{selectClass}}">
		{{# selectOptions }}
	    	<option {{#title}}title="{{title}}"{{/title}}>{{value}}</option>
	    {{/ selectOptions }}
	</select>
</div>