/**
 * This CSS resource incorporates links to font software which is the valuable copyrighted
 * property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
 * redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
 * Imaging with any questions regarding Web Fonts:  http://www.fonts.com
 */

/**
 *  Font Faces
 */


html {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
}

.base {
  background: white;
  color: $color_grey_dark;
  font-family: $font_family_regular;
  letter-spacing: .25px;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;


  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin: 0;
    font-family: $font_family_regular;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .25px;
  }
}