 // new color
$color_grey_light: #E6E9ED;
$color_grey_light_light: #F4F4F4;
$color_grey_medium: #D3D3D2;
$color_grey_medium_light: #CCD1D9;
$color_grey_dark: #292F36; // Standard Text
$color_grey_dark_light: #4A4A4A; // Placeholder
$color_grey_black: #212121; // Home and Life

$color_blue_light: #009BBE; // Mobile
$color_blue_medium: #0069B3; // Infostrada

$color_orange: #F48135; // Wind

$color_white: #FFF;
$color_black: #000;

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";

$breakpoints: (
  'ultra_small': ( max-width: 480px),
  'extra_small': ( max-width: 600px),
  'small': ( max-width: 768px),
  'medium': ( max-width: 910px),
  'large': ( max-width: 1200px),
  'extra_large': ( min-width: 1201px));
// Creating the mixin
@mixin breakpoint($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Couldn't find a your breakpoint named `#{$name}`.";
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box;
  -webkit-border-radius: $radius;
  /* stops bg color from leaking outside the border: */
}

@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  background-clip: padding-box;
  -webkit-border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

.clear-fix:after,
.clear {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix {
    zoom: 1;
}

body {
    margin: 0;
    font-size: 16px;
    @include breakpoint('small') {
        font-size: 14px;
    }
}

a {
    color: $color-orange;
    &:link,
    &:visited {
        color: #666;
    }
    &:hover,
    &:active {
        color: $color-orange*1.2;
    }
}

.text-center {
    text-align: center;
}

.mCS-wind-theme {
    &.mCSB_inside{
        &>.mCSB_container{
            margin-right: 0;
        }
    }
    &.mCSB_scrollTools{
        width: 5px;
        .mCSB_draggerRail {
            width: 5px;
            background-color:#f5f5f5;
        }
        .mCSB_dragger{
            .mCSB_dragger_bar{
                background-color:$color-orange;
            }
        }
    }
}
