@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";
.clear-fix:after,
.clear {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear-fix {
  zoom: 1; }

body {
  margin: 0;
  font-size: 16px; }
  @media (max-width: 768px) {
    body {
      font-size: 14px; } }

a:link, a:visited {
  color: #999; }

a:hover, a:active {
  color: #f48135; }

.my_traffic__container {
  max-width: 720px;
  width: 100%;
  min-height: 100vh; }

.my_traffic__heading {
  padding: 1rem;
  margin-bottom: 50px;
  color: #f48135;
  font-family: 'Trebuchet MS'; }
  .my_traffic__heading .main_heading {
    margin: 0;
    line-height: 1.2em; }
  .my_traffic__heading .secondary_heading {
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
    line-height: 1.2em; }

.my_traffic__content {
  padding: 0.875rem;
  background-color: #fafafa;
  max-width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.my_traffic__contracts_details {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-clip: padding-box;
  padding: 1rem;
  position: relative;
  top: -1px;
  background-color: #ffffff; }
  .my_traffic__contracts_details__disclaimer {
    background-color: #ccd1d9;
    padding: 1rem; }
    .my_traffic__contracts_details__disclaimer p {
      font-family: 'Trebuchet MS';
      font-size: 0.875rem;
      line-height: 1.2em; }
  .my_traffic__contracts_details__tabs {
    position: relative; }
    .my_traffic__contracts_details__tabs.active .tab_title {
      vertical-align: middle;
      width: 3rem;
      display: inline-block;
      text-align: center;
      padding-right: 1rem;
      position: relative; }
      .my_traffic__contracts_details__tabs.active .tab_title .title {
        padding: 0;
        font-family: 'Trebuchet MS';
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        top: 100%;
        left: -1rem;
        width: 5rem;
        display: inline-block;
        font-size: 0.7rem; }
    .my_traffic__contracts_details__tabs.active .my_traffic__contracts_details__data {
      display: block; }
  .my_traffic__contracts_details__data {
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5rem;
    background-color: #ccd1d9;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    background-clip: padding-box; }
    .my_traffic__contracts_details__data__heading .data_heading {
      margin: 0;
      padding: 1rem;
      text-transform: uppercase;
      font-family: "Helvetica";
      font-size: 1.3rem;
      line-height: 1.2em; }
    .my_traffic__contracts_details__data__col_headings {
      border-bottom: 1px solid #4a4a4a;
      padding: 0.5rem 0; }
      .my_traffic__contracts_details__data__col_headings .col_heading {
        width: 14%;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        font-family: "Helvetica";
        font-size: 0.9rem; }
    .my_traffic__contracts_details__data__row {
      padding: 0.5rem 0; }
      .my_traffic__contracts_details__data__row .row_content {
        width: 14%;
        display: inline-block;
        text-align: center;
        font-family: "Helvetica";
        font-size: 0.8rem; }
  .my_traffic__contracts_details__single_tab {
    position: relative;
    margin-top: 1rem;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    border: 1px solid #ccd1d9;
    padding: 1rem; }
    .my_traffic__contracts_details__single_tab.active {
      background-color: #ccd1d9; }
      .my_traffic__contracts_details__single_tab.active .tab_title i.tab_icon:before {
        content: "\f190"; }
      .my_traffic__contracts_details__single_tab.active .tab_title .title {
        display: none; }
    .my_traffic__contracts_details__single_tab i.tab_icon {
      display: inline-block;
      vertical-align: middle; }
    .my_traffic__contracts_details__single_tab i.tab_icon_expand {
      display: inline-block;
      height: 1.5rem;
      vertical-align: middle;
      width: 1.5rem; }
      .my_traffic__contracts_details__single_tab i.tab_icon_expand:before, .my_traffic__contracts_details__single_tab i.tab_icon_expand:after {
        content: "";
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
        position: absolute;
        background-color: #f48135;
        width: 4px;
        height: 12px; }
      .my_traffic__contracts_details__single_tab i.tab_icon_expand:before {
        transform: translate(12px, 11px) rotate(45deg); }
      .my_traffic__contracts_details__single_tab i.tab_icon_expand:after {
        transform: translate(12px, 5px) rotate(-45deg); }
    .my_traffic__contracts_details__single_tab .tab_title {
      vertical-align: middle;
      width: 34%;
      display: inline-block; }
      .my_traffic__contracts_details__single_tab .tab_title .title {
        padding: 0 1rem;
        font-family: 'Trebuchet MS';
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        font-size: 1.2rem;
        vertical-align: middle; }
    .my_traffic__contracts_details__single_tab .tab_totals {
      width: 60%;
      vertical-align: middle;
      display: inline-block; }
      .my_traffic__contracts_details__single_tab .tab_totals_label {
        display: inline-block;
        width: 35%; }
      .my_traffic__contracts_details__single_tab .tab_totals_content {
        display: inline-block;
        width: 65%;
        font-weight: bold; }
      .my_traffic__contracts_details__single_tab .tab_totals_duration, .my_traffic__contracts_details__single_tab .tab_totals_import {
        font-family: 'Helvetica';
        line-height: 1.7em;
        font-size: 0.9rem; }

.my_traffic__contracts_accordion {
  padding: 2rem 1rem 0;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  background-clip: padding-box;
  background: #fbfbfb;
  background: -moz-linear-gradient(left, #fbfbfb 0%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #fbfbfb), color-stop(100%, white));
  background: -webkit-linear-gradient(left, #fbfbfb 0%, white 100%);
  background: -o-linear-gradient(left, #fbfbfb 0%, white 100%);
  background: -ms-linear-gradient(left, #fbfbfb 0%, white 100%);
  background: linear-gradient(to right, #fbfbfb 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ffffff', GradientType=1); }
  .my_traffic__contracts_accordion__col_headings {
    border-bottom: 2px solid #009bbe;
    padding-bottom: 10px; }
    .my_traffic__contracts_accordion__col_headings .col_heading {
      line-height: 1.2em;
      font-family: 'Trebuchet MS';
      text-transform: uppercase;
      display: inline-block;
      font-size: 0.8rem;
      font-weight: bold;
      color: #009bbe;
      width: 22%; }
      .my_traffic__contracts_accordion__col_headings .col_heading.h-ricarica {
        width: 12%; }
  .my_traffic__contracts_accordion__row {
    border-bottom: 1px solid #ccd1d9; }
    .my_traffic__contracts_accordion__row .row_content {
      line-height: 1.2em;
      font-family: 'Trebuchet MS';
      font-weight: bold;
      color: #999;
      padding: 1rem 0;
      display: inline-block;
      width: 22%;
      font-size: 0.8rem; }
      .my_traffic__contracts_accordion__row .row_content.c-linea a {
        text-decoration: none; }
        .my_traffic__contracts_accordion__row .row_content.c-linea a.active {
          color: #f48135; }
      .my_traffic__contracts_accordion__row .row_content.c-tipo {
        text-transform: uppercase; }
      .my_traffic__contracts_accordion__row .row_content a.offerta_link {
        color: #f48135; }
      .my_traffic__contracts_accordion__row .row_content.c-ricarica {
        width: 12%;
        position: relative;
        cursor: pointer; }
      .my_traffic__contracts_accordion__row .row_content i.icon_ricarica {
        background-color: #f48135;
        display: block;
        height: 1.2rem;
        width: 1.2rem;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        font-size: 1rem;
        line-height: 1.2rem;
        color: #ffffff;
        text-align: center; }
        .my_traffic__contracts_accordion__row .row_content i.icon_ricarica:before, .my_traffic__contracts_accordion__row .row_content i.icon_ricarica:after {
          content: "";
          -webkit-transition: all 0.45s ease-in-out;
          -moz-transition: all 0.45s ease-in-out;
          -ms-transition: all 0.45s ease-in-out;
          -o-transition: all 0.45s ease-in-out;
          transition: all 0.45s ease-in-out;
          position: absolute;
          background-color: #f48135;
          width: 2px;
          height: 9px; }
        .my_traffic__contracts_accordion__row .row_content i.icon_ricarica:before {
          transform: translate(69px, 5px) rotate(45deg); }
        .my_traffic__contracts_accordion__row .row_content i.icon_ricarica:after {
          transform: translate(54px, 5px) rotate(-45deg); }

/*# sourceMappingURL=my_traffic.css.map */