@import 'vars';


.my_traffic {
    &__container {
        max-width: 720px;
        width: 100%;
        min-height: 100vh;
    }
    &__heading {
        padding: 1rem;
        color: $color-orange;
        font-family: 'Trebuchet MS';
        .main_heading {
            margin: 0;
            line-height: 1.2em;
        }
        .secondary_heading {
            padding: 1rem;
            margin: 0;
            font-size: 1rem;
            line-height: 1.2em;
        }
    }
    &__content {
        padding: 0.875rem;
        max-width: 100%;
    }
    &__contracts_accordion {
        padding: 1rem;
        background-color: #f5f5f5;
        @include border-radius(8px);
        &__container {
            @include border-radius(8px);
            padding: 1rem;
            background: rgba(245, 245, 245, 1);
            background: -moz-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
            background: -webkit-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -o-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -ms-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(to right, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ffffff', GradientType=1);
            .fa-spinner {
                margin: 0 auto;
            }
        }
        &__col_headings {
            border-bottom: 2px solid $color-lightBlue;
            padding-bottom: 0.5rem;
            @include breakpoint(ultra-small) {
                display: inline-block;
                text-align: right;
                width: 43%;
                border-bottom: 1px solid $color-mediumLightGrey;
                vertical-align: top;
                padding-top: 1rem;
                padding-bottom: 1rem;
                box-sizing: border-box;
            }
            .col_heading {
                line-height: 1rem;
                font-family: 'Trebuchet MS';
                text-transform: uppercase;
                display: inline-block;
                font-size: 0.8rem;
                font-weight: bold;
                color: $color-lightBlue;
                width: 22%;
                &.h-linea {
                    width: 27%;
                }
                &.h-offerta {
                    width: 16%;
                }
                &.h-ricarica {
                    width: 12%;
                    height: 1.2rem;
                }
                &.h-contratto {
                    width: 27%;
                }
                &.h-tipo {
                    width: 16%;
                }
                @include breakpoint(ultra-small) {
                    width: calc(100% - 0.5rem)!important;
                    font-size: 0.7rem;
                    padding-top: 0.2rem;
                    padding-right: 0.5rem;
                    border-right: 2px solid $color-lightBlue;
                }
            }
        }
        &__row {
            border-bottom: 1px solid $color-mediumLightGrey;
            @include breakpoint(ultra-small) {
                display: inline-block;
                width: 57%;
                padding-bottom: 1rem;
                padding-top: 1rem;
                vertical-align: top;
                position: relative;
                border-right: 1px solid $color-mediumLightGrey;
                border-bottom-right-radius: 11px;
                box-sizing: border-box;
            }
            a.tab_expand_link {
                i.tab_icon_expand {
                    display: inline-block;
                    height: 1.5rem;
                    vertical-align: middle;
                    width: 1.5rem;
                    cursor: pointer;
                    @include breakpoint(ultra-small) {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: $color-mediumLightGrey;
                        @include border-radius(10px 0);
                    }
                    &:before,
                    &:after {
                        content: "";
                        @include transition(all 0.45s ease-in-out);
                        position: absolute;
                        background-color: $color-orange;
                        width: 3px;
                        height: 12px;
                    }
                    &:before {
                        transform: translate(14px, 7px) rotate(45deg);
                    }
                    &:after {
                        transform: translate(7px, 7px) rotate(-45deg);
                    }
                }
                &.active {
                    i.tab_icon_expand {
                        @include breakpoint(ultra-small) {
                            background-color: $color-orange;
                            &:before,
                            &:after {
                                background-color: $color-white;
                            }
                        }
                        &:before {
                            transform: translate(10px, 7px) rotate(45deg);
                        }
                        &:after {
                            transform: translate(10px, 7px) rotate(-45deg);
                        }
                    }
                }
            }
            .row_content {
                &.c-linea {
                    width: 27%;
                    a {
                        text-decoration: none;
                        &.active {
                            color: $color-orange;
                        }
                    }
                }
                &.c-tipo {
                    text-transform: uppercase;
                    width: 16%;
                }
                &.c-offerta {
                    width: 16%;
                    a.offerta_link {
                        color: $color-orange;
                    }
                }
                &.c-ricarica {
                    width: 6%;
                    position: relative;
                    cursor: pointer;
                }
                &.c-contratto {
                    width: 27%;
                    position: relative;
                    cursor: pointer;
                }
                line-height: 1rem;
                font-family: 'Trebuchet MS';
                font-weight: bold;
                color: #999;
                padding: 1rem 0;
                display: inline-block;
                width: 22%;
                font-size: 0.8rem;
                i.icon_ricarica {
                    background-color: #f48135;
                    display: block;
                    height: 1.2rem;
                    width: 1.2rem;
                    @include border-radius(50%);
                    font-size: 1rem;
                    line-height: 1.2rem;
                    color: $color-white;
                    text-align: center;
                }
                @include breakpoint(ultra-small) {
                    width: calc(100% - 0.5rem)!important;
                    padding: 0.2rem 0 0 0.5rem;
                }
            }
        }
    }
    &__contracts_details {
        position: relative;
        top: -1px;
        background-color: $color-white;
        &__column {
            &_tabs,
            &_content {
                vertical-align: middle;
                display: table-cell;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                height: 320px;
            }
            &_tabs {
                width: 145px;
                border-right: none;
                margin-left: 1rem;
                .my_traffic__contracts_details__single_tab {
                    margin-left: 0.8rem;
                    padding-right: 0.2rem;
                    cursor: pointer;
                }
                @include breakpoint(ultra-small) {
                    width: 60px;
                }
            }
            &_content {
                position: relative;
                width: calc(100% - 145px);
                @include breakpoint(ultra-small) {
                    width: calc(100% - 60px);
                }
                border-left: none;
                @include transition(all 0.5s ease-in-out);
                .my_traffic__contracts_details__single_tab {
                    margin-right: 1rem;
                }
                .fa-spinner {
                    position: absolute;
                    top: 45%;
                    z-index: 10;
                }
            }
        }
        &__disclaimer {
            padding: 1rem 0;
            p {
                font-family: 'Trebuchet MS';
                font-size: 0.875rem;
                margin: 0;
                line-height: 1.2em;
            }
        }
        &__tabs {
            @include border-radius(8px);
            overflow: hidden;
            margin-top: 1rem;
            background-color: #f5f5f5;
            padding: 1rem;
            position: relative;
            display: table;
            opacity: 1;
            width: calc(100% - 2rem);
            &.traffic-selected {
                opacity: 1;
                width: calc(100% - 2rem);
            }
            &.active {
                .my_traffic__contracts_details__column_content {
                    .my_traffic__contracts_details__single_tab {
                        display: none;
                    }
                }
                .my_traffic__contracts_details__single_tab {
                    border-right: 1px solid $color-mediumLightGrey;
                    &.active {
                        border-right-color: $color-white;
                        background-color: $color-white;
                        margin: 0;
                        padding: 0 0.5rem;
                        border-bottom-left-radius: 10px;
                    }
                }
            }
            &__borders {
                display: table;
                width: 100%;
                @include border-radius(8px);
                background: rgba(245, 245, 245, 1);
                background: -moz-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
                background: -webkit-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
                background: -o-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
                background: -ms-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
                background: linear-gradient(to right, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ffffff', GradientType=1);
            }
            &__container {
                margin: 1rem;
                width: 100%;
                display: table-row;
            }
            &__view_all {
                display: table-row;
                text-align: right;
                .view_all {
                    display: table-cell;
                    font-family: 'Trebuchet MS';
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    opacity: 1;
                    &_filler {
                        display: table-cell;
                    }
                    &_link {
                        padding: 1rem;
                        display: inline-block;
                        color: $color-orange;
                        cursor: pointer;
                        &.active {
                            width: 0;
                            padding: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        &__data {
            width: calc(100% - 1rem);
            @include border-right-radius(8px);
            height: 320px;
            padding: 1rem 0 0 1rem;
            position: relative;
            border-left: 1px solid transparent;
            &.active {
                background-color: $color-white;
                @include breakpoint(extra-small) {
                    padding-top: 0;
                }
                
                &.data_all {
                    width: calc(100% + 145px - 1rem);
                    height: calc(320px - 1.2rem);
                    left: -145px;
                    border-top-left-radius: 8px;
                    border-left: none;
                    padding-top: 1rem;
                    @include breakpoint(ultra-small) {
                        width: calc(100% + 60px - 1rem);
                        left: -60px;
                    }
                    .my_traffic__contracts_details__data__content {
                        padding-bottom: 0;
                        height: calc(285px - 2rem);
                        @include breakpoint(extra-small) {
                            height: 285px;
                        }
                    }
                    .my_traffic__contracts_details__data__footer {
                        border-left: none;
                        left: 0;
                    }
                }
            }
            &__heading {
                .data_heading {
                    margin: 0;
                    text-transform: uppercase;
                    font-family: "Trebuchet MS";
                    color: $color-orange;
                    font-size: 1rem;
                    line-height: 1.2em;
                    @include breakpoint(extra-small) {
                        width: calc(100% - 1rem);
                        border-bottom: 1px solid $color-mediumLightGrey;
                    }
                }
            }
            &__col_headings {
                border-bottom: 1px solid $color-mediumLightGrey;
                padding: 0.5rem 0;
                @include breakpoint(extra-small) {
                    display: inline-block;
                    width: calc(50% - 0.5rem);
                    border-bottom-left-radius: 8px;
                }
                @include breakpoint(ultra-small) {
                    width: calc(50% - 0.5rem);
                }
                .col_heading {
                    &.h-ora {
                        width: 12%;
                    }
                    &.h-origine {
                        width: 12%;
                    }
                    &.h-destinazione,
                    &.h-numero {
                        width: 17%;
                    }
                    &.h-euro {
                        width: 11%;
                    }
                    width: 14%;
                    display: inline-block;
                    text-align: center;
                    font-weight: bold;
                    font-family: "Trebuchet MS";
                    font-size: 0.75rem;
                    &:first-child {
                        text-align: left;
                        //padding-left: 1rem;
                        //width: calc(14% - 1rem);
                        width: 14%;
                    }
                    &:last-child {
                        text-align: right;
                    }
                    @include breakpoint(extra-small) {
                        width: calc(100% - 0.5rem)!important;
                        text-align: right!important;
                        padding-left: 0!important;
                        padding-right: 0.5rem;
                        border-right: 1px solid $color-mediumLightGrey;
                    }
                }
            }
            &__content {
                height: 285px;
                @include breakpoint(extra-small) {
                    //
                    height: 320px;
                }
            }
            &__row {
                padding: 0.5rem 0;
                @include breakpoint(extra-small) {
                    display: inline-block;
                    width: calc(50% - 1rem);
                    border-bottom: 1px solid $color-mediumLightGrey;
                    border-bottom-right-radius: 8px;
                }
                @include breakpoint(ultra-small) {
                    width: calc(50% - 0.5rem);
                }
                .row_content {
                    &.c-data{
                        text-align: left;
                    }
                    &.c-ora {
                        width: 12%;
                    }
                    &.c-origine {
                        width: 12%;
                    }
                    &.c-destinazione,
                    &.c-numero {
                        width: 17%;
                    }
                    &.c-euro {
                        width: 11%;
                        text-align: right;
                    }
                    width: 14%;
                    display: inline-block;
                    text-align: center;
                    font-family: "Trebuchet MS";
                    font-size: 0.75rem;
                    @include breakpoint(extra-small) {
                        width: calc(100% - 0.5rem)!important;
                        text-align: left!important;
                        padding-left: 0.5rem;
                        white-space: nowrap;
                    }
                }
            }
            &__footer {
                position: absolute;
                z-index: 3;
                top: calc(100% - 1px);
                left: -1px;
                right: 0;
                height: 3.1rem;
                background-color: $color-white;
                border-right: 5px solid #f5f5f5;
                border-left: 1px solid $color-mediumLightGrey;
                @include border-bottom-radius(8px);
                padding: 0 1rem;
                &__content {
                    border-top: 1px solid $color-mediumLightGrey;
                    height: 3rem;
                    display: table;
                    width: 100%;
                    .cell {
                        display: table-cell;
                        vertical-align: middle;
                        &_right {
                            text-align: right;
                        }
                    }
                    .back_button,
                    .xls_button {
                        font-family: "Trebuchet MS";
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        cursor: pointer;
                        i {
                            font-size: 1.25rem;
                        }
                        span {
                            @include breakpoint(ultra-small) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &__single_tab {
            position: relative;
            border-bottom: 1px solid $color-mediumLightGrey;
            height: 25%;
            width: calc(100% - 1rem);
            display: table;
            @include breakpoint(ultra-small) {
                text-align: center;
                vertical-align: middle;
            }
            i.tab_icon {
                padding: 0.5rem;
                display: table-cell;
                vertical-align: middle;
                color: $color-orange;
                @include breakpoint(ultra-small) {
                    display: table;
                    padding: 0;
                    width: 100%;
                }
            }
            i.tab_icon_expand {
                display: table-cell;
                height: 1.5rem;
                vertical-align: middle;
                width: 1.5rem;
                @include breakpoint(ultra-small) {
                    text-align: left;
                }
                &:before,
                &:after {
                    content: "";
                    @include transition(all 0.45s ease-in-out);
                    position: absolute;
                    background-color: $color-orange;
                    width: 3px;
                    height: 12px;
                }
                &:before {
                    transform: translate(10px, -3px) rotate(45deg);
                }
                &:after {
                    transform: translate(10px, -10px) rotate(-45deg);
                }
            }
            .tab_title {
                vertical-align: middle;
                width: 100%;
                display: table-row;
                color: $color-darkGrey;
                @include breakpoint(ultra-small) {
                    display: table-cell;
                    height: 100%;
                }
                .title {
                    font-family: 'Trebuchet MS';
                    text-transform: uppercase;
                    font-weight: bold;
                    display: table-cell;
                    font-size: 0.85rem;
                    vertical-align: middle;
                    @include breakpoint(ultra-small) {
                        display: table;
                        font-size: 0.6rem;
                        width: 100%;
                    }
                }
            }
            .tab_totals {
                @include transition(all 0.5s ease-in-out);
                vertical-align: middle;
                display: table-cell;
                @include breakpoint(ultra-small) {
                    height: 100%;
                    padding-left: 0.5rem;
                }
                &_label {
                    display: inline-block;
                    font-size: 0.75rem;
                    padding-right: 0.5rem;
                    text-transform: uppercase;
                    @include breakpoint(ultra-small) {
                        display: block;
                    }
                }
                &_content {
                    display: inline-block;
                    font-weight: bold;
                    color: $color-orange;
                    font-size: 0.75rem;
                    @include breakpoint(ultra-small) {
                        display: block;
                        font-size: 0.6rem;
                    }
                    .number {
                        font-size: 1.25rem;
                        @include breakpoint(ultra-small) {
                            font-size: 1rem;
                        }
                    }
                }
                &_duration,
                &_import {
                    font-family: 'Trebuchet MS';
                    display: table-cell;
                    line-height: 1.5rem;
                    font-size: 0.9rem;
                    vertical-align: middle;
                    @include breakpoint(ultra-small) {
                        text-align: left;
                        display: table;
                        line-height: 1.2rem;
                    }
                }
                &_import {
                    @include breakpoint(ultra-small) {
                        .tab_totals {
                            &_label,
                            &_content {
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }
                &_duration {
                    width: 71%;
                    @include breakpoint(ultra-small) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
