.colored {
  &__bg {
    &--wind {
      background-color: $color_wind;
    }
    &--mobile {
      background-color: $color_mobile;
    }
    &--fisso {
      background-color: $color_fisso;
    }
    &--business {
      background-color: $color_business;
    }
    &--device {
      background-color: $color_device;
    }
    &--grey__dark {
      background-color: $color_grey_dark;
    }
    &--grey__dark__light {
      background-color: $color_grey_dark_light;
    }
    &--grey__medium {
      background-color: $color_grey_medium;
    }
    &--grey__medium__light {
      background-color: $color_grey_medium_light;
    }
    &--grey__light {
      background-color: $color_grey_light;
    }
    &--grey__light__light {
      background-color: $color_grey_light_light;
    }
    &--white {
      background-color: $color_white;
    }
    &--black {
      background-color: $color_black;
    }
    &--grey__stroke {
      background-color: $color_grey_stroke;
    }
  }
}
