// Custom tabs links all site

.hvr-underline-reveal {
  @include genericCenterContent($tAlign: 0);

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color_orange;
    height: 2px;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.base__tabs.nav-tabs {
  background: $color_white;
  text-align: right;
  border-bottom-color: $color_transparent;
  border-bottom-width: 0px;
  height: 50px;

  @media (max-width: 767px) {
    height: auto;
  }

  > li {
    float: none;
    display: inline-block;

    > a {
      color: $color_text_lighter; //$color_grey_medium_light;
      text-transform: uppercase;
      font-size: 1.1rem;
      padding: 1rem 0.5rem;
      border: 1px solid $color_transparent;
      border-bottom-width: 0px;

      @include transition-basic(all, 0.35s, ease-in-out);

      &:hover {
        color: $color_wind;
        background-color: $color_white;
      }
    }

    &.active > a {
      color: $color_wind;
      background-color: $color_white;
      border: 1px solid $color_transparent;
      border-bottom-width: 0px;
      border-bottom-color: $color_wind;
      background-color: $color_white;

      &.hvr-underline-reveal:before {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
}

.tab-content {
  float: left;
  display: block;
  padding: 1rem 0;

  > .tab-pane {
    position: relative;

    &.active {
      -webkit-animation: tabin-webkit 0.7s 0s 1 linear;
      animation: tabin 0.7s 0s 1 linear;
      -moz-transform: tabin-moz 0.7s 0s 1 linear;
    }
  }
}
