.contact_info_block {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    .tx-powermail {
        .powermail {
            &_fieldwrap {
                margin-bottom: 15px;
                @include breakpoint(small) {
                    margin-bottom: 10px;
                }
                &:first-of-type {
                    .powermail_field {
                        padding: .7rem 2rem 0 0;
                        font-size: 1.125em;
                        line-height: 1.125em;
                    }
                }
                &_half {
                    width: 100%;
                }
                &_type {
                    &_check {
                        .checkbox {
                            margin: 0;
                            padding-left: 0;
                            label {
                                width: 100%;
                                padding-left: 0;
                                font-size: 1.2rem;
                                &:after,
                                &:before {
                                    right: 0;
                                    bottom: 0;
                                    left: auto;
                                }
                                &:before {
                                    margin-left: 0;
                                }
                                &:after {
                                    top: 0;
                                    padding: 0;
                                    font-size: 1em;
                                    text-align: center;
                                    right: 3px;
                                    left: inherit !important;
                                }
                            }
                        }
                    }
                    &_reset,
                    &_submit {
                        .btn {
                            width: 100%;
                            padding: 1rem;
                        }
                    }
                    &_reset {
                        .btn {
                            display: block;
                            border-color: $color_wind;
                            background-clip: padding-box;
                            background-color: $color_white;
                            font-size: 1.2rem;
                        }
                    }
                }
                &_marker_02 {
                    h5 {
                        font-family: "Trade Gothic";
                        font-size: .8em;
                        font-weight: 400;
                        line-height: 1em;
                        a {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    &__overlay {
        @include opacity(.8);
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $color_business;
        z-index: 900;
    }
    &__item {
        &--active {
            // classe nn presente https://playalways.github.io/html_blocchi/blocks/vetrine/blocco_contact_info.html
            color: $color_text; //$color-standardText;
        }
        &--contact {
            @include breakpoint(small) {
                &.contact_open {
                    &.contact_button {
                        display: none;
                    }
                }
            }
        }
    }
    &__container {
        position: fixed;
        top: 20vh;
        right: -450px;
        width: 500px;
        z-index: 950;
        &.contact_open {
            top: 0;
            bottom: 0;
        }
        @include breakpoint(small) {
            &.contact_open {
                top: 0;
                width: 100%;
            }
        }
        &__left {
            &.contactShow {
                position: absolute;
                height: 135px;
                transform: translateY(100%) rotate(-90deg);
                transform-origin: top left;
                visibility: visible;
                .contact_button {
                    .link_contact {
                        display: inline-block;
                        width: 135px;
                        padding: 15px 20px;
                        background-color: $color_wind;
                        color: $color_white;
                        white-space: nowrap;
                        &:hover {
                            color: rgba(255, 255, 255, .8);
                        }
                    }
                }
            }
            &.contactHide {
                position: absolute;
                top: .5rem; //0
                right: 1rem; //0
                visibility: hidden;
                z-index: 500;
                .close_button {
                    .base__icon {
                        width: 25px;
                        height: 25px;
                        margin-top: 3px;
                        cursor: pointer;
                    }
                    .link_contact {
                        display: inline-block;
                        width: 2rem;
                        height: 2rem;
                        padding: 0;
                        border-radius: 50%;
                        background-color: $color_wind;
                        color: $color_white;
                        font-size: 1.2rem;
                        line-height: 2rem;
                        text-align: center;
                        &:active,
                        &:hover {
                            opacity: .5;
                        }
                    }
                }
            }
        }
        &__right {
            width: 450px;
            height: 100%;
            padding: 0;
            float: right;
            background-color: $color_grey_light; //$color-lightGray;
            visibility: hidden;
            @include breakpoint(small) {
                &.visibleShow {
                    width: 100%;
                }
            }
        }
    }
}

// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
// ============================== MEDIA QUERIES =========================
