.not-found {
	width: 653px;
}

.not-found h4 {
    /* "PAGINA NON TROVATA" */
    font-family: 'Trade Gothic';
    color: #F48135;
    font-size: 46px;
    font-weight: bold;
    margin: 0 0 30px;
}

.not-found p {
    /* "Il sito che cercavi..."" */
    font-family: 'Trade Gothic';
    color: #212121;
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
}

.not-found p.label {
    /* "Ricerca le informazioni..."" */
    font-family: 'Trade Gothic';
    color: #212121;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
}

/*
HTML
<p class="label">Ricerca le informazioni di cui hai bisogno nel web.</p>
*/

.map-404 {
    width: 289px;
    height: 264px;
    z-index: 0;
}

.google-input {
	width: 653px;
}

.searchContainer .google-search .search-input {
    background: none;
    border-radius: 4px;
    border: 1px solid rgb(211, 211, 210);
    height: auto;
    padding: 15px 12px;
    color: rgb(170, 178, 189);
}

.searchContainer .search-input input {
	background: none;
    width: auto;
    margin-top: 0;
    height: auto !important;
    margin-left: 0;
    font-size: 12px;
    color: #cccccc;
    font-family: "Trade Gothic";
}
