//customizing page: Assitenza
//
//.cont__answer = Multi-accordions

.title__default--assistenza {
  border: none;

  h3 {
    padding-bottom: 1.8rem;

    @media (max-width: 767px) {
      margin-top: 2rem;
    }
  }

  p {
    @include boxWF(left, 100%);

    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-top: 1.2rem;
  }

  h4 {
    @include boxWF(left, 100%);

    font-size: 1.2rem;
    color: #444444;
    margin: 3.5rem 0 1.8rem;
    font-family: $font_family_bold;
  }
}

.cont__answer {
  @include boxWF(left, 100%);

  margin-bottom: 2rem;

  .cont_text {
    @include boxWF(left, 100%);

    padding: 1.3rem 0;

    p {
      float: left;
      padding: 0 1.3rem 1.5rem;
      font-size: 1.1rem;
      color: #212121;
      font-family: $font_family_regular;
      border-bottom: 1px solid #d7d5d0;
    }

    h5 {
      @include boxWF(left, 100%);

      font-size: 1.2rem;
      font-family: $font_family_bold;
      font-weith: 500;
      margin: 1.5rem 0 1.3rem;
    }
  }

  ul {
    @include boxWF(left, 100%);

    padding: 0;
    margin: 0;
    border-top: 1px solid #d7d5d0;
    list-style: none;

    li {
      @include boxWF(left, 100%);

      list-style: none;
      border-bottom: 1px solid #d7d5d0;

      &.title {
        background-color: #f4f4f4;
        padding: 1.8rem 1.3rem 1.7rem;

        a {
          color: $color_orange;
          padding: 0;

          &.left {
            float: left;
            width: auto;
          }

          &.back {
            float: right;
            width: auto;
          }

          i {
            font-size: 1.5rem;
            -webkit-text-stroke: 1px white;
          }
        }
      }

      a {
        @include boxWF(left, 100%);

        padding: 1.8rem 1.3rem 1.7rem;
        color: #212121;
        font-size: 1.1rem;
        text-decoration: none;
        font-family: $font_family_regular;
        letter-spacing: -0.4px;

        @media (max-width: 767px) {
          padding: 1rem 1.3rem;
        }

        i {
          color: $color_orange;
          float: right;
          position: relative;
          top: 3px;

          &.no_left {
            float: none;
            font-size: 0.9rem;
            margin: 0 0.4rem;
          }
        }
      }
    }
  }
}
