//customizing page: Windgroup/Azienda La Nostra Squadra

.squadra {
  .nav-pills > li.active > a {
    color: #444;
    background-color: transparent;
  }

  .nav-pills > li > a:hover {
    background-color: transparent;
  }

  .panel-group {
    @media (max-width: 767px) {
      margin-top: 30px;
    }

    .panel {
      @media (max-width: 767px) {
        &:last-child {
          margin-bottom: 60px;
        }
      }
    }
  }

  //section header content CEO
  &__header {
    border: 1px solid #ccd1d9;
    padding: 0;
    margin-bottom: 50px;
    height: auto;

    @media (max-width: 991px) {
      border: none;
    }

    // name CEO and position
    &-data {
      font-family: $font_family_regular;
      color: $color_grey;
      width: 50%;
      margin-right: 2%;

      @media (min-width: 768px) and (max-width: 980px) {
        width: 40%;
        margin-left: 30%;
      }

      figure {
        img {
          width: 100%;

          @media (min-width: 1200px) {
            width: 80%;
          }

          @media (min-width: 1360px) {
            width: 60%;
          }
        }
      }

      h3 {
        @include defaultTxt($font_family_bold2, 1.429rem);

        line-height: 20px;
      }

      p {
        font-size: 1.286rem;
      }
    }

    // text description CEO
    &-description {
      width: 48%;
      padding: 27px 10px 0 0;
      color: #444;

      @media (min-width: 768px) and (max-width: 980px) {
        width: 100%;
      }

      @media (min-width: 992px) and (max-width: 1024px) {
        width: 45%;
      }

      h3 {
        @include defaultTxt($font_family_bold2, 1.429rem);
      }

      span {
        @include defaultTxt($font_family_regular, 1.286rem);
      }

      p {
        @include defaultTxt($font_family_light, 1rem);

        line-height: 1.45rem;
      }

      @media (min-width: 992px) and (max-width: 1024px) {
        p {
          font-size: 0.9rem;
        }
      }
    }
  }

  // info members directory
  &__content {
    @media (max-width: 991px) {
      margin-top: 2rem;
    }

    ul {
      @include equidistant;
    }

    // name and position others members
    &-data {
      font-family: $font_family_regular;
      color: $color_grey;
      margin-bottom: 2.5rem;
      width: 220px;

      a {
        padding: 0 !important;

        figure {
          margin-bottom: 20px;
        }

        h3 {
          @include defaultTxt($font_family_bold2, 1.429rem);

          line-height: 20px;
          color: #444;
        }

        p {
          font-size: 1.143rem;
          color: #444;
        }
      }
    }

    // text description others members
    &-description {
      position: relative;
      height: 250px;
      background: #f7f7f7;
      margin-bottom: 2rem;
      border-top: 1px solid #ccd1d9;
      border-bottom: 1px solid #ccd1d9;
      display: none;

      .arrow-up {
        position: absolute;
        top: -27px;
      }

      .pleft {
        left: 2%;
      }

      .pcenter {
        left: 48%;
      }

      .pright {
        right: 6%;
      }

      .mfp-close {
        width: 22px;
        height: 22px;
        right: 30px;
        top: 20px;
        cursor: pointer;
      }

      &-txt {
        height: 40%;

        @include vertical-align;

        p {
          @include defaultTxt($font_family_light, 1rem);
        }
      }
    }

    // solution the problem with flex
    .btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
      display: none;
    }

    // end solution the problem with flex
 
  }

  // section mobile (accordion)
  .panel-group .base__accordion {
    .panel-heading .panel-title {
      color: $color_orange;

      a.accordion-toggle {
        @include boxWF(left, 90%);

        color: #000;

        img {
          margin-right: 10px;
        }

        h3 {
          @include defaultTxt($font_family_regular, 1rem);
        }

        p {
          @include defaultTxt($font_family_regular, 0.8571rem);
        }
      }
    }

    .panel-collapse {
      background-color: #f4f4f4;

      .panel-body article p {
        @include defaultTxt($font_family_regular, 1rem);
      }
    }
  }
}
