//customizing page: Copertura

.title__default--copertura {
  border: none;
}

.copertura__detail {
  @include boxWF(left, 100%);

  h3 {
    @include boxWF(left, 100%);

    @include defaultTxt($font_family_regular, 1.2rem);

    color: #212121;
    margin: 2.5rem 0;
  }

  p {
    @include boxWF(left, 100%);

    font-size: 1.1rem;
    color: #212121;
    margin-bottom: 2.5rem;
  }

  h4 {
    @include boxWF(left, 100%);

    color: #898989;
    margin-bottom: 2.5rem;

    @include defaultTxt($font_family_regular, 1rem);
  }
}
