//customizing page: Fatticonsigliare form

.content {
  min-height: 640px;
}

.cont__fatti {
  @include boxWF(none, 100%);

  padding: 0 8.2rem 3rem;

  @media (min-width: 768px) and (max-width: 992px) {
    padding: 0 3.2rem 3rem;
  }

  @media (max-width: 767px) {
    padding: 0 0 2rem;
  }

  h4 {
    @include boxWF(left, 100%);
    @include defaultTxt($font_family_regular, 1.1rem);
    margin: .7rem 0 2rem;
    color: #444;
  }

  form {

    > h3 {
      display: none;
    }

    .powermail_legend {
      display: none;
    }

    .powermail_label {
      display: none;
    }

    .powermail_fieldwrap {

      &_half {
        display: inline-block;
        width: 49.5%;

        @media (max-width: 767px) {
          width: 100%;
        }

        &:nth-of-type(odd) {
          float: right;
        }

        &:nth-of-type(even) {
          float: left;
        }
      }

      &.powermail_fieldwrap_type_check {
        float: right;
      }

      &.powermail_fieldwrap_type_text {
        margin: .7rem 0 2rem;
        color: #292F36;
        font-family: "Trade Gothic", sans-serif;
        font-size: 1.1rem;
      }

      &.powermail_fieldwrap_type_html {
        width: auto;
      }

      &.powermail_fieldwrap_type_reset  {
        width: auto;


        .powermail_reset {
          margin: .9rem 0 0;
          padding: 0;
          background-color: transparent;
          color: $color_orange;
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }

      &.powermail_fieldwrap_type_submit  {
        width: 100%;
        margin: .9rem 0 0;
        padding: 0;
        float: right;
        clear: both;
        font-size: 1.2rem;


      }
    }
  }


  .base__input {
    margin-bottom: 1.5rem;

    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 1.6rem;
      padding: 1rem;
    }

    &::-webkit-input-placeholder {
      color: $color_grey_dark_light;
    }

    &:-moz-placeholder,
    &::-moz-placeholder {
      color: $color_grey_dark_light;
      opacity: 1;
    }
  }

  .checkbox {
    //@include boxWF(right, 49%);

    margin-top: .4rem;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .base__input--textarea {
    @include boxWF(left, 100%);
    height: 103px;
    margin: 2.4rem 0 0;
    resize: none;

    @media (max-width: 767px) {
      height: 148px;
    }
  }

  h5 {
    @include boxWF(left, auto);
    @include defaultTxt($font_family_regular, 1.1rem);
    margin: .9rem 0 .3rem;
    color: #444;
    letter-spacing: -.4px;
    line-height: normal;

    a.btn {
      margin: 0;
      padding: 0;
      float: none;
      line-height: normal;
      vertical-align: baseline;

      @media (max-width: 767px) {
        margin: 0;
        font-size: 1rem;
      }
    }
  }


  button.base__bt {
    @include boxWF(right, 278px);

    margin-top: 68px;
    padding: 1.1rem 0;
    background-color: $color_orange;
    color: #FFF;
    font-size: 1.2rem;
    line-height: normal;

    @media (max-width: 767px) {
      width: 100%;
      margin: 2.8rem 0 2.2rem;
      padding: 1.2rem 0;
      font-size: 1.2rem;
    }
  }
}
