//customizing page: Fatticonsigliare form

.content {
  min-height: 640px;
}

.title_dovesiamo {
  border-bottom: 1px solid;
  padding: 0 0 2rem;

  @media (max-width: 767px) {
    display: none;
  }
}

.cont__fatti {
  @include boxWF(left, 100%);

  padding: 0 8.2rem 3rem;

  @media (min-width: 768px) and (max-width: 992px) {
    padding: 0 3.2rem 3rem;
  }

  @media (max-width: 767px) {
    padding: 0 0 2rem;
  }

  h4 {
    @include boxWF(left, 100%);

    @include defaultTxt($font_family_regular, 1.1rem);

    color: #444444;
    margin: 0.7rem 0 2rem;
  }

  .base__input {
    margin-bottom: 1.5rem;

    @media (max-width: 767px) {
      margin-bottom: 1.6rem;
      padding: 1rem;
    }

    &.left {
      @include boxWF(left, 49%);

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &.right {
      @include boxWF(right, 49%);

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &::-webkit-input-placeholder {
      color: $color_grey_dark_light;
    }

    &:-moz-placeholder, &::-moz-placeholder {
      color: $color_grey_dark_light;
      opacity: 1;
    }
  }

  .checkbox {
    @include boxWF(right, 49%);

    margin-top: 0.4rem;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .base__input--textarea {
    @include boxWF(left, 100%);

    resize: none;
    margin: 2.4rem 0 0;
    height: 103px;

    @media (max-width: 767px) {
      height: 148px;
    }
  }

  h5 {
    @include boxWF(left, auto);

    @include defaultTxt($font_family_regular, 1.1rem);

    color: #444444;
    margin: 0.9rem 0 0.3rem;
    letter-spacing: -0.4px;
    line-height: normal;

    a.btn {
      float: none;
      padding: 0;
      margin: 0;
      font-size: 1.1rem;
      line-height: normal;
      vertical-align: baseline;

      @media (max-width: 767px) {
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  a.btn {
    float: right;
    margin: 0.9rem 0 0;
    padding: 0;
    font-size: 1.2rem;

    @media (max-width: 991px) {
      float: left;
      clear: both;
    }
  }

  button.base__bt {
    @include boxWF(right, 278px);

    background-color: $color_orange;
    color: #FFFFFF;
    margin-top: 68px;
    font-size: 1.2rem;
    padding: 1.1rem 0;
    line-height: normal;

    @media (max-width: 767px) {
      margin: 2.8rem 0 2.2rem 0;
      width: 100%;
      padding: 1.2rem 0;
      font-size: 1.2rem;
    }
  }
}
