//customizing page: Windgroup/Investitori Codice Condotta Fornitori

.banner_ic {
  @include boxWF(left, 100%);

  background-color: $color_grey_light_light; //#f4f4f4;
  position: relative;
  height: auto;

  @media (max-width: 767px) {
    background-color: $color_transparent;
  }

  &.left {
    .image {
      @include boxWF(right, 60%);

      position: relative;

      @media (max-width: 767px) {
        width: 100%;
      }

      img {
        width: 100%;
        display: inline;
        height: auto;
        float: right;
        float: left;
      }
    }

    .cont_text {
      position: absolute;
      height: 100%;
      width: 45%;

      @include genericCenterContent($display: inline);

      @media (max-width: 767px) {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
      }

      h3 {
        @include genericCenterContent($tAlign: 0);

        width: 100%;
        color: $color_text; //$color_dark_grey;

        @include defaultTxt($font_family_light, 2.5rem);

        @include vertical-align;

        @media (max-width: 767px) {
          float: left;
          top: 0;
          margin: 2.143rem 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-0%);
        }

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 2.2rem;
        }
      }

      h4 {
        @include genericCenterContent($tAlign: 0);

        width: 100%;
        color: $color_text; // #444444;

        @include defaultTxt($font_family_light, 1.429rem);

        @include vertical-align;

        @media (max-width: 767px) {
          float: left;
          top: 0;
          margin: 0 0 44px 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-0%);
        }

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.text__content_ic {
  @include boxWF(left, 100%);

  p {
    @include boxWF(left, 100%);

    @include defaultTxt($font_family_regular, 1rem);

    color: $color_text; //#444444;
    margin-bottom: 1rem;
  }

  ul {
    @include boxWF(left, 100%);

    padding-left: 1.3rem;

    li {
      @include boxWF(left, 100%);

      position: relative;

      @include defaultTxt($font_family_light, 1rem);

      color: $color_text; // #444444;
      list-style: none;
      padding: 2px 0 0 0;

      &::before {
        content: "";
        width: 0;
        position: absolute;
        top: 0.3rem;
        left: -1.1rem;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 9px;
        border-color: $color_transparent $color_transparent $color_transparent $color_wind;
      }
    }
  }

  .btn_pdf {
    @include boxWF(left, 100%);

    border-bottom: 1px solid $color_stroke; //#d7d5d0;
    border-top: 1px solid $color_stroke; //#d7d5d0;
    padding: 1.2rem 1rem 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    h5 {
      float: left;

      @include defaultTxt($font_family_regular, 1rem);

      color: $color_stroke; //#212121;
      margin-top: 0.3rem;
    }

    a.btn {
      float: right;
      color: $color_wind;
      font-size: 0.9rem;

      img {
        float: right;
        margin-left: 0.5rem;
        margin-top: -0.45rem;
      }
    }
  }
}
