//customizing page: Windgroup/Sostenibilita
.base__tabs.nav-tabs.sostenibilita {
    background-color: $color_grey_light;
    margin: 0 -5px;
    li {
        @include boxWF(left, 25%);
        margin: 0;
        @media (min-width: 768px) and (max-width: 1024px) {
            margin: 0 0 0;
        }
        &.active {
            a {
                color: $color_wind;
            }
        }
        a {
            padding: 1rem 0;
            width: 100%;
            text-align: center;
            background-color: $color_transparent;
            color: $color_text;
            letter-spacing: -1px;
            font-size: 1.1rem;
            &:hover {
                color: $color_orange;
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 0.8rem;
            }
        }
    }
}

.hvr-underline-reveal:before {
    background: $color_wind;
}

.banner_ch.left .cont_text {
    h3 {
        @include defaultTxt($font_family_light, 1.786rem);
        letter-spacing: -0.05rem;
    }
    h4 {
        @include defaultTxt($font_family_light, 1.429rem);
    }
}

.content__text-s1 {
    @include boxWF(left, 100%);
    padding-bottom: 6rem;
    p {
        @include boxWF(left, 100%);
        font-size: 1rem;
        @include defaultTxt($font_family_regular, 1rem);
        color: $color_text;
        @media (max-width: 767px) {
            &:first-child {
                margin: 40px 0;
            }
        }
    }
    h3 {
        @include boxWF(left, 100%);
        @include defaultTxt($font_family_bold, 1rem);
        margin: 1.2rem 0 0;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid $color_stroke;
    }
    .item_sup {
        @include boxWF(left, 100%);
        border-bottom: 1px solid $color_stroke;
        border-top: 1px solid $color_stroke;
        padding: 1.2rem 1rem;
        margin: 1.5rem 0;
        @media (max-width: 767px) {
            text-align: center;
        }
        h4 {
            @include boxWF(left, auto);
            @include defaultTxt($font_family_regular, 1rem);
            color: $color_text;
            margin-top: 0.8rem;
            @media (max-width: 767px) {
                float: none;
            }
        }
        a.base__bt {
            @include boxWF(right, auto);
            background-color: $color_wind;
            color: $color_white;
            font-size: 1.2rem;
            margin: 0;
            padding: 0.4rem 2rem;
            line-height: normal;
            @media (max-width: 767px) {
                float: none;
                margin-top: 1rem;
            }
        }
    }
    .item_down {
        @include boxWF(left, 100%);
        border-bottom: 1px solid $color_stroke;
        padding: 1rem;
        h4 {
            @include boxWF(left, auto);
            @include defaultTxt($font_family_regular, 1.1rem);
            color: $color_text_lighter;
            margin-top: 0.6rem;
        }
        a.btn {
            float: right;
            @include defaultTxt($font_family_regular, 1rem);
            color: $color_wind;
            line-height: 1.8rem;
            .base__icon {
                position: relative;
                top: -5px;
                right: -6px;
                float: right;
            }
            img {
                float: right;
                margin-left: 0.8rem;
            }
        }
    }
}

.title_dovesiamo {
    float: left;
    border-bottom: 1px solid $color_stroke;
    margin: 18px 0 0 0;
}

.content__s2 {
    @include boxWF(left, 100%);
    margin-bottom: 45px;
    .cont_1 {
        @include boxWF(left, 50%);
        text-align: center;
        @media (max-width: 767px) {
            width: 100%;
            text-align: left;
        }
        h3 {
            @include defaultTxt($font_family_regular, 1.429rem);
            color: $color_text; //#333333;
            margin: 3.5rem 0;
            @media (max-width: 767px) {
                margin: 2rem 0 1rem;
            }
        }
        h4 {
            @include defaultTxt($font_family_regular, 1.429rem);
            color: $color_text; //#444444;
            margin: 0 0 3.5rem 0;
        }
        a.base__bt {
            border: 1px solid $color_wind;
            width: auto;
            padding: 1rem 7.5rem;
            line-height: normal;
            @include defaultTxt($font_family_regular, 1.286rem);
            color: $color_wind;
            margin-bottom: 1rem;
            box-shadow: none;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

.sostebilita_list {
    @include boxWF(left, 50%);
    margin: 0 0 3rem;
    padding: 0;
    position: relative;
    border-right: 1px solid $color_stroke;
    @media (max-width: 767px) {
        width: 100%;
        border-right: none;
    }
    li {
        @include boxWF(left, 100%);
        list-style: none;
        position: relative;
        margin: 5px 0;
        a {
            @include boxWF(left, 100%);
            text-align: left;
            text-transform: uppercase;
            @include defaultTxt($font_family_regular, 1.429rem);
            color: $color_wind;
            text-decoration: none;
            padding: 0.6rem 1rem 0 0;
            cursor: pointer;
            @media (max-width: 767px) {
                border-bottom: 1px solid $color_stroke;
                padding: 0.8rem 1rem;
                font-size: 1rem;
            }
            &:hover {
                color: $color_text; //#444444;
            }
            &.active_btn {
                color: $color_text; //#444444;
            }
            &.list-arrow:after {
                font-size: 0.9rem;
                font-family: "FontAwesome";
                font-style: normal;
                content: "\f054";
                position: relative;
                float: right;
                @media (max-width: 767px) {
                    content: "\f078";
                }
            }
        }
        .second_list {
            display: none;
            position: absolute;
            top: 0;
            right: -100%;
            width: 100%;
            padding: 0 2rem;
            margin: 0;
            @media (max-width: 767px) {
                @include boxWF(left, 100%);
                position: relative;
                top: 0;
                right: 0;
                padding: 0 1rem;
                border-bottom: 1px solid $color_stroke;
            }
            a {
                @media (max-width: 767px) {
                    border-bottom: 0;
                }
            }
        }
    }
}

.base__tabs.nav-tabs > li {
    @media (max-width: 767px) {
        @include boxWF(left, 100%);
    }
}

.content__s4 {
    @include boxWF(left, 100%);
    padding-bottom: 3rem;
    margin-top: 1.5rem;
    .image {
        @include boxWF(left, 20%);
        text-align: center;
        margin-right: 1%;
        @media (max-width: 767px) {
            width: 100%;
        }
        img {
            width: 100%;
            display: inline;
            @media (max-width: 767px) {
                width: 100%;
                max-width: none;
            }
        }
    }
    .text {
        @include boxWF(left, 79%);
        @media (max-width: 767px) {
            width: 100%;
            margin: 2rem 0 0;
        }
        p {
            @include boxWF(left, 100%);
            font-size: 1rem;
            line-height: normal;
        }
    }
}

.sostebilita_dialog {
    display: none;
    .mfp-close {
        top: 20px;
        right: 20px;
        z-index: 2;
        cursor: pointer;
    }
}
