//vetrine prev-banners

.btn-orange {
  background-color: $color_orange;
  border: 0 none;
  color: #ffffff;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  line-height: normal;
  padding: 0.8em 1em;

  @include radius(3px);
}

.capital {
  text-transform: uppercase;
}

.bannerlight {
  @include boxWF(left, 100%);

  max-height: 491px;
  border: 1px solid #ccc;
  background: url(/img/backgrounds/bg_banner-blue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bannerlight-img figure {
  margin-top: 15%;
}

.bannerlight-content {
  height: 100%;
}

.bannerlight-content_info {
  width: 80%;
  margin: 4.3em 0 0 6em;
  color: #fff;

  h3 {
    @include defaultTxt($font_family_bold, 3.28em);

    letter-spacing: 0.2px;
    line-height: 1.29em;
    margin-bottom: 0.55em;
  }

  span {
    @include defaultTxt($font_family_bold, 1.8em);
  }

  h4 {
    @include defaultTxt($font_family_regular, 4.8em);

    margin: 0.15em 0 0.18em 0;
  }

  button {
    font-family: $font_family_regular;
    width: 80%;
  }

  p {
    @include defaultTxt($font_family_regular, 0.8em);

    margin: 1.2em 0 3.5em 0;
  }
}

.bannerdark {
  @include boxWF(left, 100%);

  max-height: 491px;
  border: 1px solid #ccc;
  background: url(/img/backgrounds/bg_banner-blue-dark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bannerdark-img figure {
  margin: 2%;
}

.bannerdark-content {
  height: 100%;
}

.bannerdark-content_info {
  width: 80%;
  margin: 0.8em 0 0 6em;
  color: #fff;

  h3 {
    @include defaultTxt($font_family_bold, 3.28em);

    letter-spacing: 0.2px;
    line-height: 1.29em;
    margin-bottom: 0.55em;
  }

  span {
    @include defaultTxt($font_family_bold, 3.9em);
  }

  h4 {
    @include defaultTxt($font_family_regular, 4.8em);

    margin: 0.15em 0 0.18em 0;
  }

  button {
    font-family: $font_family_regular;
    width: 80%;
  }

  p {
    @include defaultTxt($font_family_regular, 0.8em);

    margin: 1.2em 0 3.5em 0;
  }
}
