body {
  background: white;
  color: #2c2c2c !important;
  font-size: 14px;
  letter-spacing: 0.25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: inherit;
  -ms-hyphens: inherit;
  hyphens: none;
  line-height: 1rem;
  font-family: 'Helvetica Roman LT', Helvetica, Arial, sans-serif;
  margin: 0; }

input:focus {
  outline: none; }

a {
  text-decoration: inherit;
  color: inherit; }
  a:active, a:visited, a:focus {
    text-decoration: inherit;
    color: inherit; }

.container_landing {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  .container_landing .row_border {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999999;
    margin: 2em 0;
    padding: 0; }
.container_main_title {
  color: #007cc2; }
  .container_main_title h1 {
    font-size: 40px;
    margin-bottom: 0.3571rem; }
    @media (max-width: 640px) {
      .container_main_title h1 {
        font-size: 23px; } }
  .container_main_title h3 {
    font-size: 30px;
    margin-top: 0.3571rem;
    margin-bottom: 0.3571rem; }
    @media (max-width: 640px) {
      .container_main_title h3 {
        font-size: 18px; } }
.container_hero img {
  width: 100%;
  max-width: 757px;
  margin: 0 auto; }
.container_cta {
  margin: 10px; }
  @media (max-width: 768px) {
    .container_cta {
      margin: 0; } }
  .container_cta .button_cta {
    background-color: #007cc2;
    padding: 20px;
    color: #ffffff;
    width: 300px;
    display: inline-block;
    margin: 10px 10px 10px 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    border: none; }
    .container_cta .button_cta:hover {
      background-color: #286090; }
    @media (max-width: 480px) {
      .container_cta .button_cta {
        width: 80%;
        padding: 20px 0;
        margin: 10px 0;
        font-size: 16px; } }
@media (max-width: 480px) {
  .container_box .br_mob {
    display: none; } }
@media (max-width: 480px) {
  .container_box .small_notes {
    font-size: 12px;
    line-height: 14px; } }
.container_box .disclaimer {
  padding: 10px 0; }
  @media (max-width: 480px) {
    .container_box .disclaimer .br_mob {
      display: none; } }
.container_subtitle {
  margin: 2em 0; }
  .container_subtitle h3 {
    color: #007cc2;
    font-size: 30px;
    margin-top: 0.3571rem;
    margin-bottom: 0.3571rem; }
    @media (max-width: 640px) {
      .container_subtitle h3 {
        font-size: 17px;
        line-height: 19px; } }
@media (max-width: 768px) {
  .container_offer_sub {
    border: 2px solid #007cc2;
    padding: 2em 0; } }
.container_offer_sub.image {
  border: none;
  padding: 10px 0; }
.container_offer_sub .single_image {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px; }
  @media (max-width: 480px) {
    .container_offer_sub .single_image {
      margin-bottom: 0;
      margin-top: 0; } }
  @media (max-width: 768px) {
    .container_offer_sub .single_image {
      display: block; } }
  .container_offer_sub .single_image img {
    margin: 10px; }
    @media (max-width: 480px) {
      .container_offer_sub .single_image img {
        width: 60%; } }
  @media (max-width: 480px) {
    .container_offer_sub .single_image .decoder {
      width: 75%; } }
.container_offer .divider {
  font-weight: bold;
  font-size: 20px; }
  @media (max-width: 768px) {
    .container_offer .divider {
      margin: 0.5em 0; } }
.container_offer .disclaimer {
  padding: 10px 0; }
  @media (max-width: 480px) {
    .container_offer .disclaimer {
      margin: 0.5em 0; } }
.container_footer_block {
  margin: 30px 0; }
  .container_footer_block .round_image {
    width: 8%;
    display: inline-block;
    text-align: left;
    float: left;
    padding-right: 10px; }
    @media (max-width: 880px) {
      .container_footer_block .round_image {
        float: none;
        display: block;
        width: 100%;
        text-align: center; } }
    .container_footer_block .round_image img {
      width: 100%;
      max-width: 74px;
      height: auto; }
  .container_footer_block .text {
    width: 90%;
    display: inline-block;
    text-align: left;
    float: left; }
    @media (max-width: 880px) {
      .container_footer_block .text {
        float: none;
        margin: 0 auto;
        width: 100%; } }
    .container_footer_block .text.first {
      padding-top: 30px; }
    .container_footer_block .text.second {
      padding-top: 20px; }
    @media (max-width: 880px) {
      .container_footer_block .text.third {
        padding-top: 20px; } }
    .container_footer_block .text p {
      margin-top: 0; }
.container_footer .button_download {
  background-color: #ffffff;
  padding: 10px 20px;
  color: #007cc2;
  display: inline-block;
  margin: 25px 10px 40px 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  border: 3px solid #007cc2;
  text-transform: uppercase; }
  .container_footer .button_download:hover {
    border-color: #286090;
    color: #286090; }
  @media (max-width: 480px) {
    .container_footer .button_download {
      width: 80%;
      /*padding: 20px 0;
      margin: 10px 0;*/
      font-size: 16px; } }
.container_footer .terms_and_condition {
  font-size: 12px;
  text-align: justify; }

.highlight {
  color: #007cc2;
  font-weight: bold; }

.clear {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/*# sourceMappingURL=tre_landing.css.map */
