       $weight-light: 300;
       $weight-normal: 500;
       $weight-boldCond: 700;
       $color-standard: #2c2c2c;
       $color-orange: #f48135;
       $color-gray: #999999;
       $color-light-gray: #d2d2d2;
       $color-placeholder: #4a4a4a;
       $color-HomeLife-Background: #212121;
       $color-gray-mediumBg: #e6e9ed;
       $color-blue: #0eafc6;
       $color-border: #e3e7ec;
       $color-white: #ffffff;
       $color-samsung: #007cc2;
       // MIXIN FOR BORDER RADIOUS 
       @mixin border-radius($radius) {
           -webkit-border-radius: $radius;
           border-radius: $radius;
           background-clip: padding-box;
           /* stops bg color from leaking outside the border: */
       }
       
       // SINGOLI ANGOLI BORDER RADIOUS
       @mixin border-top-radius($radius) {
           -webkit-border-top-right-radius: $radius;
           border-top-right-radius: $radius;
           -webkit-border-top-left-radius: $radius;
           border-top-left-radius: $radius;
           background-clip: padding-box;
       }
       
       @mixin border-right-radius($radius) {
           -webkit-border-bottom-right-radius: $radius;
           border-bottom-right-radius: $radius;
           -webkit-border-top-right-radius: $radius;
           border-top-right-radius: $radius;
           background-clip: padding-box;
       }
       
       @mixin border-bottom-radius($radius) {
           -webkit-border-bottom-right-radius: $radius;
           border-bottom-right-radius: $radius;
           -webkit-border-bottom-left-radius: $radius;
           border-bottom-left-radius: $radius;
           background-clip: padding-box;
       }
       
       @mixin border-left-radius($radius) {
           -webkit-border-bottom-left-radius: $radius;
           border-bottom-left-radius: $radius;
           -webkit-border-top-left-radius: $radius;
           border-top-left-radius: $radius;
           background-clip: padding-box;
       }
       
       body {
           background: white;
           color: $color_standard !important;
           font-size: 14px; //1em
           letter-spacing: 0.25px;
           text-rendering: optimizeLegibility;
           -webkit-font-smoothing: subpixel-antialiased;
           -moz-osx-font-smoothing: grayscale;
           -webkit-hyphens: inherit;
           -ms-hyphens: inherit;
           hyphens: none;
           line-height: 18px;
           font-family: 'Helvetica Roman', Helvetica, Arial, sans-serif;
           margin: 0;
       }
       
       input {
           &:focus {
               outline: none;
           }
       }
       
       a {
           text-decoration: inherit;
           color: inherit;
           &:active,
           &:visited,
           &:focus {
               text-decoration: inherit;
               color: inherit;
           }
       }
       
       //================= MIXINS ================ //
       //MIXIN BREAKPOINTS
       @mixin breakpoint($name) {
           @if map-has-key($breakpoints, $name) {
               @media #{inspect(map-get($breakpoints, $name))} {
                   @content;
               }
           }
           @else {
               @warn "Couldn't find a your breakpoint named `#{$name}`.";
           }
       }
       
       // Breakpoint Vars
       $breakpoints:( 'display_largest':(min-width: 1600px), 'display_larger':(max-width: 1599px), 'display_large':(max-width: 1200px), 'display_medium_large':(max-width: 940px), 'display_medium':(max-width: 880px), 'display_medium_small':(max-width: 768px), 'display_medium_smaller':(max-width: 697px), 'display_small':(max-width: 640px), 'display_smaller':(max-width: 480px), 'display_smallest':(max-width: 320px), 'min_display_medium':(min-width: 768px));
       //mixin
       @mixin placeholder {
           &::-webkit-input-placeholder {
               @content
           }
           &:-moz-placeholder {
               @content
           }
           &::-moz-placeholder {
               @content
           }
           &:-ms-input-placeholder {
               @content
           }
       }
       
       // OPACITY
       @mixin opacity($opacity) {
           opacity: $opacity;
           $opacity-ie: $opacity * 100;
           filter: alpha(opacity=$opacity-ie); //IE8
       }
       
       // INIZIO CSS
       .container {
           &_landing {
               width: 100%;
               max-width: 1000px;
               margin: 0 auto;
               text-align: center;
               padding-left: 15px;
               padding-right: 15px;
               box-sizing: border-box;
               .row_border {
                   display: block;
                   height: 1px;
                   border: 0;
                   border-top: 1px solid $color-gray;
                   margin: 2em 0;
                   padding: 0;
               }
               .small_notes {
                   font-size: 1.071rem;
                   margin-top: 1rem;
                   @include breakpoint('display_smaller') {
                       font-size: 1rem;
                   }
               }
           }
           &_main_title {
               color: $color-samsung;
               height: 90px;
               h1 {
                   font-size: 2.5rem; //40px
                   line-height: 3rem;
                   margin-bottom: 0.3571rem;
                   @include breakpoint('display_small') {
                       font-size: 1.785em;
                   }
               }
               h3 {
                   font-size: 2.1428rem; //30px
                   margin-top: 0.3571rem;
                   margin-bottom: 0.3571rem;
                   @include breakpoint('display_small') {
                       font-size: 18px;
                   }
               }
           }
           &_hero {
               img {
                   width: 100%;
                   max-width: 757px;
                   margin: 0 auto;
               }
           }
           &_cta {
               margin: 10px;
               @include breakpoint('display_medium_small') {
                   margin: 0;
               }
               .button_cta {
                   background-color: $color-samsung;
                   padding: 20px;
                   color: $color-white;
                   width: 300px;
                   display: inline-block;
                   margin: 10px 10px 10px 0;
                   @include border-radius(10px);
                   font-size: 1.571em;
                   font-weight: bold;
                   cursor: pointer;
                   white-space: nowrap;
                   border: none;
                   &:hover {
                       background-color: #286090;
                   }
                   @include breakpoint('display_smaller') {
                       width: 80%;
                       padding: 20px 0;
                       margin: 10px 0;
                       font-size: 1.142em;
                   }
               }
           }
           &_box {
               .br_mob {
                   @include breakpoint('display_smaller') {
                       display: none;
                   }
               }
               .small_notes {
                   font-size: 1.071rem;
                   line-height: 1em;
                   @include breakpoint('display_smaller') {
                       font-size: 12px;
                       line-height: 14px;
                   }
               }
               .disclaimer {
                   padding: 10px 0;
                   .br_mob {
                       @include breakpoint('display_smaller') {
                           display: none;
                       }
                   }
               }
           }
           &_subtitle {
               margin: 2em 0;
               h3 {
                   color: $color-samsung;
                   font-size: 2.142rem;
                   line-height: 2.285rem;
                   margin-top: 0.3571rem;
                   margin-bottom: 0.3571rem;
                   @include breakpoint('display_small') {
                       font-size: 1.214rem;
                       line-height: 19px;
                   }
               }
           }
           &_offer {
               &_sub {
                   @include breakpoint('display_medium_small') {
                       border: 2px solid $color-samsung;
                       padding: 2em 0;
                   }
                   &.image {
                       border: none;
                       padding: 10px 0;
                   }
                   .single_image {
                       display: inline-block;
                       margin-bottom: 10px;
                       margin-top: 10px;
                       @include breakpoint('display_smaller') {
                           margin-bottom: 0;
                           margin-top: 0;
                       }
                       @include breakpoint('display_medium_small') {
                           display: block;
                       }
                       img {
                           margin: 10px;
                           @include breakpoint('display_smaller') {
                               width: 60%;
                           }
                       }
                       .decoder {
                           @include breakpoint('display_smaller') {
                               width: 75%;
                           }
                       }
                   }
               }
               .divider {
                   font-weight: bold;
                   font-size: 20px;
                   @include breakpoint('display_medium_small') {
                       margin: 0.5em 0;
                   }
               }
               .disclaimer {
                   line-height: 1.142rem;
                   padding: 10px 0;
                   @include breakpoint('display_smaller') {
                       margin: 0.5em 0;
                   }
               }
           }
           &_footer {
               &_block {
                   margin: 30px 0;
                   .round_image {
                       width: 8%;
                       display: inline-block;
                       text-align: left;
                       float: left;
                       padding-right: 10px;
                       @include breakpoint('display_medium') {
                           float: none;
                           display: block;
                           width: 100%;
                           text-align: center;
                       }
                       img {
                           width: 100%;
                           max-width: 74px;
                           height: auto;
                       }
                   }
                   .text {
                       width: 90%;
                       display: inline-block;
                       text-align: left;
                       float: left;
                       @include breakpoint('display_medium') {
                           float: none;
                           margin: 0 auto;
                           width: 100%;
                       }
                       &.first {
                           padding-top: 30px;
                       }
                       &.second {
                           padding-top: 20px;
                       }
                       &.third {
                           @include breakpoint('display_medium') {
                               padding-top: 20px;
                           }
                       }
                       p {
                           margin-top: 0;
                       }
                   }
               }
               .button_download {
                   background-color: $color-white;
                   padding: 10px 20px;
                   color: $color-samsung;
                   display: inline-block;
                   margin: 25px 10px 40px 10px;
                   @include border-radius(10px);
                   font-size: 1.5714em;
                   font-weight: bold;
                   cursor: pointer;
                   white-space: nowrap;
                   border: 3px solid $color-samsung;
                   text-transform: uppercase;
                   &:hover {
                       border-color: #286090;
                       color: #286090;
                   }
                   @include breakpoint('display_smaller') {
                       width: 80%;
                       /*padding: 20px 0;
                       margin: 10px 0;*/
                       font-size: 16px;
                   }
               }
               .terms_and_condition {
                   font-size: 12px;
                   text-align: justify;
                   line-height: 1.2em;
               }
           }
       }
       
       .highlight {
           color: $color-samsung;
           font-weight: bold;
       }
       
       .clear {
           content: "";
           display: block;
           clear: both;
           visibility: hidden;
           line-height: 0;
           height: 0;
       }
