//base default modal (login, ricarica, registrazione)

.areapersonale {

  .left {
    span.title {
      @include boxWF(left, 100%);

      color: $color_white; 
      background-color: $color_infostrada; 
      padding: 0.4rem 0.5rem;

      @include radius(4px);
    }

    .box_cont {
      @include boxWF(left, 100%);

      background-color: $color_grey_light_light; 
      padding: 1.2rem;

      span {
        @include boxWF(left, 100%);

        font-size: 0.8rem;
        margin-bottom: 0.2rem;
      }
    }

    a.btn {
      @include boxWF(left, 100%);

      color: $color_text_light;
      margin-bottom: 0.4rem;
      padding: 0.4rem 0.5rem;
      text-align: left;
      background: $color_white; 

      @include gradient-generic($color_white, 0%, $color_grey_light, 100%, 0); 

      @include radius(4px);
    }

    .promo {
      @include boxWF(left, 100%);

      margin: 1rem 0 0 0;

      h3 {
        @include boxWF(left, auto);

        font-size: 1.1rem;
        background-color: $color_grey_light_light;
        padding: 0.6rem 0.9rem;
        color: $color_text_light; 
      }

      .promo_boxcont {
        @include boxWF(left, 100%);

        background-color: $color_grey_light_light;
        padding: 1.4rem 1.1rem;

        h4 {
          color: $color_robin_light;
          font-size: 1.4rem;
          margin: 0;

          @include radius(4px);
        }

        p {
          font-size: 0.9rem;
          margin: 0;
        }

        a.btn {
          @include boxWF(left, auto);

          font-size: 0.8rem;
          padding: 0.3rem;
          background: $color_grey_medium;
          color: $color_white; 
          margin: 0.1rem 0 0 0;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .right {
    .image {
      @include boxWF(left, 100%);

      height: auto;
      margin-bottom: 1.5rem;

      img {
        @include boxWF(left, 100%);
      }
    }

    .box_cont {
      @include boxWF(left, 100%);

      height: auto;
      border: 1px solid $color_stroke; 
      padding-bottom: 2rem;

      @include radius(20px);

      margin-bottom: 3rem;
      position: relative;

      .title {
        @include boxWF(left, 100%);

        margin: 0 0 1.5rem 0;
        color: $color_wind; 
        padding: 0.8rem 1.8rem;
        font-size: 1.1rem;
        background-color: $color_grey_light_light;

        @include radius(20px);

        background: -moz-linear-gradient(top, $color_white 0%, $color_grey_light 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, $color_white), color-stop(100%, $color_grey_light));
        background: -webkit-linear-gradient(top, $color_white 0%, $color_grey_light 100%);
        background: -o-linear-gradient(top, $color_white 0%, $color_grey_light 100%);
        background: -ms-linear-gradient(top, $color_white 0%, $color_grey_light 100%);
        background: linear-gradient(to bottom, $color_white 0%, $color_grey_light 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_white', endColorstr='$color_grey_light', GradientType=0);
      }

      .box_item {
        @include boxWF(left, 100%);

        padding: 0 1.8rem 0;
        position: relative;

        .btn--bottom {
          position: absolute;
          bottom: 0;
          right: 0;
          background: $color_wind;
          color: $color_white;
          padding: 1rem 2.5rem;
          margin: 0 1.8rem -3.5rem 0;
          width: auto;

          &:hover {
            background-color: $color_orange_light; 
          }
        }

        .item-data {
          @include boxWF(left, 100%);

          padding-bottom: 0.5rem;
          border-bottom: 1px solid $color_stroke; 
          margin-bottom: 1.1rem;

          h4 {
            @include boxWF(left, 50%);

            font-size: 0.9rem;
          }
        }

        .item {
          @include boxWF(left, 100%);

          position: relative;
          padding: 0 0 1.2rem 0;
          margin: 0 0 1.2rem 0;

          &.last {
            margin: 0;

            &:before {
              display: none;
            }
          }

          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color_stroke;
          }

          h4 {
            @include boxWF(left, 50%);

            font-size: 1.1rem;

            span {
              float: left;
            }
          }

          p {
            @include boxWF(left, 100%);

            font-size: 0.8rem;
          }

          h3 {
            @include boxWF(left, 100%);

            color: $color_wind;
            font-size: 1.2rem;
            margin: 0 0 0.8rem 0;
          }

          a.btn--bot {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 0.8rem;
            text-decoration: underline;
            color: $color_robin_light;
            margin-bottom: 0.2rem;
          }
        }
      }
    }
  }
}

.base__popup.areap_p {
  .container {
    height: calc(100% - 43px);
    position: fixed;
    z-index: 2;
    background-color: $color_white;
    right: 0;
    bottom: 0;
    overflow: scroll;
    padding: 0;
    max-width: 420px;

    a {
      text-decoration: none;
    }
    .top {
            @include boxWF(left, 100%);
            height: 80px;
            position: relative;
            .logo {
                @include boxWF(left, 12rem);
                margin: 0.8rem 0 0 0.1rem;
            }
            .logo--wind {
                margin: 0.8rem 0 0 0;
            }
            a.btn_sa {
                //display: none;
                float: left;
                margin: 0;
                padding: 1.5rem 0 0 2rem;
                img {
                    float: left;
                }
                .base__icon{
                float:left;
                display:inline-block;
            }
                span {
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    color: $color_wind;
                    float: left;
                    margin: 0.9rem 0 0 0.5rem;
                    @media (min-width: 320px) and (max-width: 399px) {
                        font-size: 0.8rem;
                    }
                }
            }
            .menu-right {
                float: right;
                margin-right: 2rem;
                margin-top: 1.1rem;
                position: absolute;
                top: 0;
                right: 0;
                ul {
                    padding: 0;
                    margin-bottom: 0;
                    float: right;
                }
                li {
                    float: right;
                    list-style: none;
                    margin-right: 1.3rem;
                    @media (min-width: 320px) and (max-width: 399px) {
                        margin-right: 1rem;
                    }
                    .base__icon{
                margin-bottom:0.5rem;
            }
                    a {
                        @include boxWF(right, auto);
                        background-repeat: no-repeat;
                        color: $color_text_light;
                        font-size: 0.7857rem;
                        position: relative;
                        margin: 0;
                        line-height: normal;
                        opacity: 1;
                        font-family: $font_family_regular;
                        height: auto;
                        &:hover {
                            text-decoration: none;
                            opacity: 0.7;
                        }
                        &.btn_entra {
                            .logued {
                                width: 32px;
                                height: 32px;
                                position: absolute;
                                top: -2px;
                                left: 50%;
                                margin-left: -16px;
                                border: 2px solid $color_wind;
                                @include radius(16px);
                                overflow: hidden;
                                text-align: center;
                                background-color: $color_white;
                            }
                        }
                        &.btn_carrello {
                        }
                        &.btn_menu {
                        }
                        &.btn_logout {
                        }
                        &.btn_close {
                        }
                    }
                }
            }
        }

    .back {
      float: left;
      background-color: $color_grey_light_light;
      color: $color_text_light;
      font-size: 1.6rem;
      font-family: $font_family_regular;
      padding: 1rem 2.1rem 1rem 2.12rem;
      line-height: normal;
      width: 100%;
      margin: 0;
      text-align: left;

      span {
        color: $color_text_lighter;
      }
    }

    .contbox_ap {
      @include boxWF(left, 100%);

      padding: 0 2.5rem 0 2.3rem;

      h3 {
        @include boxWF(left, 100%);

        color: $color_text; 
        font-family: $font_family_regular;
        font-size: 1.2rem;
        line-height: normal;
        margin: 1.4rem 0 1rem;
        padding: 0;
        text-align: left;
        letter-spacing: -0.5px;

        span {
          color: $color_wind;
        }
      }

      h4 {
        @include boxWF(left, auto);

        color: $color_text;
        font-size: 1.2rem;
        letter-spacing: 0;
        margin-top: 0.5rem;
      }

      span.pre_item {
        @include boxWF(left, 100%);

        font-size: 1rem;
        color: $color_text_light;

        &.second {
          margin-top: 0.34rem;
        }
      }

      a.btn {
        @include boxWF(left, 100%);

        text-align: center;
        text-transform: uppercase;
        font-family: $font_family_regular;

        &.btn_refill {
          @include boxWF(right, auto);

          font-size: 1rem;
          color: $color_white;
          background-color: $color_wind;
          text-decoration: none;
          line-height: 1.3;
          padding: 0.2rem 0.8rem 0.2rem;
          text-align: center;
          margin-top: 0.5rem;
          margin-bottom: 1rem;

          &:hover {
            text-decoration: none;
            background-color: $color_orange_light;
          }
        }

        &.btn_rap {
          background-color: $color_wind;
          color: $color_white;
          margin-top: 1rem;

          &:hover {
            background-color: $color_orange_light;
          }
        }

        &.btn_logout {
          border: 1px solid $color_wind;
          color: $color_wind;
          background: $color_white;
          margin-top: 1.3rem;
          margin-bottom: 2rem;
          margin-right: 1px;
          font-size: 1.2rem;
          height: auto;
          letter-spacing: 0.04px;
          line-height: normal;
          padding: 1rem 0;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .item {
        @include boxWF(left, 100%);

        border: 1px solid $color_stroke;
        padding: 2rem 0 1rem;
        margin-bottom: 0.8rem;
        margin-top: 0.2rem;

        span.text_boot {
          @include boxWF(left, 100%);

          color: $color_text_light;
          margin: 1rem 0 0;
          text-align: center;
          font-family: $font_family_bold;
          font-weight: 500;
        }

        .cont__box {
          float: left;

          &.item__min, &.item__sms {
            width: 50%;
            text-align: center;
          }

          &.item__text {
            width: 60%;
            text-align: left;
          }

          &.item__giga {
            width: 40%;
            text-align: center;
          }

          span {
            @include boxWF(left, 100%);

            color: $color_text_light;
            text-align: center;

            &.minuti {
              font-size: 1rem;
              color: $color_text_light;
              line-height: normal;
              font-weight: 500;
              font-family: $font_family_bold;
            }

            &.number-1 {
              font-size: 2.3rem;
              color: $color_text_light;
              line-height: normal;
            }

            &.number-2 {
              font-size: 1rem;
              color: $color_text_light;
              line-height: normal;
              margin-top: 0.3rem;
            }

            &.text_2 {
              text-align: left;
              margin: 1rem 0 0;
              padding-left: 15%;
            }
          }

          .barra {
            @include boxWF(left, 30%);

            height: 4px;
            margin-left: 35%;
            margin-bottom: 0;
            background-color: rgba(244, 129, 53, 0.2); 
            position: relative;
            overflow: hidden;

            @include radius(2px);

            span.barra__1 {
              @include boxWF(left, 90%);

              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: $color_wind;
              z-index: 999;
            }
          }
        }
      }
    }
  }

  .row {
    margin: 0px;
  }

  .col-lg-12 {
    padding: 0 !important;
  }
}

@media (max-width: 767px) {
  .base .areapersonale .left {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .base .areapersonale .right {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .base .base__popup.areap_p .container {
    width: 100%;
    max-width: none;
  }
}
