//default base buttons
.base__bt {
  color: $color_white;
  font-size: 1rem;
  line-height: 1em;
  border: 1px solid $color_transparent;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: none;
  display: inline-block;
  padding: 1rem 0;
  letter-spacing: 1px;
  text-align: center;
  background: $color_transparent;
  width:100%;
  max-width: 280px;
  @include radius(4px);
  // sizes
  // version orange
  // version orange 2
  // versione white
  // contextual
  &:active,
  &:focus,
  &:hover {
    border: 1px solid $color_transparent;
    color: $color_white;
    outline: none;
  }
}

.base__bt--sm {
  padding: .5rem 0;
  font-size: 1rem;
  line-height: 1em;
  width: 140px;
  &:hover,
  &:visited {
    padding: .5rem 0;
    font-size: 1rem;
    line-height: 1em;
  }
}

.base__bt--lg {
  padding: .75rem 0;
  font-size: 1rem;
  line-height: 1rem;
  width: 280px;
  &:hover,
  &:visited {
    padding: .75rem 0;
    font-size: 1rem;
    line-height: 1rem;
  }
}

.base__bt--or {
  @include base-btn($color_white, $color_wind, 1px, $color_wind);
  &:active,
  &:visited {
    background-color: $color_wind;
    border: 1px solid $color_wind;
    color: $color_white;
  }
  &:hover {
    background-color: $color_orange_light;
    border: 1px solid $color_wind;
    color: $color_white;
  }
  &.waves-button:disabled,
  &:disabled {
    border-color: $color_stroke;
    background: $color_grey_medium_light;
  }
}

.base__bt--or2 {
  @include base-btn($color_wind, $color_transparent, 1px, $color_wind);
  &:active,
  &:hover,
  &:visited {
    background-color: $color_orange_light;
    border: 1px solid $color_wind;
  }
  &:active,
  &:hover,
  &:visited {
    background-color: $color_orange_light;
    border: 1px solid $color_wind;
  }
  &.waves-button:disabled,
  &:disabled {
    border-color: $color_stroke;
    background: $color_grey_medium_light;
  }
}

.base__bt--wh {
  @include base-btn($color_wind, $color_white, 1px, $color_white);
  &:active,
  &:hover,
  &:visited {
    @include base-btn($color_wind, $color_white, 1px, $color_orange_light);
  }
  &.waves-button:disabled,
  &:disabled {
    border-color: $color_stroke; //$color_grey_medium_light;
    color: $color_text_lighter; //$color_grey_medium_light;
    background-color: $color_white;
  }
}

.base__bt [class*='-animate'] {
  font-size: 1rem;
}
