//checkbox default
.base__checkbox.checkbox {
    label {
        font-size: 1rem;
        &::after {
            /* margin-left: -2.35rem;
            padding-left: 4px;
            padding-top: 2px; */
            font-size: 1rem;
        }
        &::before {
            content: "";
            width: 1.4rem;
            height: 1.4rem;
            border: 1px solid $color_stroke; 
            @include radius(4px);
        }
    }
    input[type="checkbox"] {
        &:disabled + label::before {
            background-color: $color_white;
            cursor: not-allowed;
        }
        &:checked + label {
            &::before {
                background-color: $color_wind;
                border-color: $color_stroke; 
            }
            &::after {
                color: $color_white;
            }
        }
        &.styled:checked + label:after {
            color: $color_white;
        }
        &:checked:disabled + label::before {
            background-color: $color_grey_medium_light;
            //remove ring blue
        }
    }
    input[type="checkbox"] + label::before {
        outline: none;
    }
    input[type="checkbox"]:checked + label::before {
        outline: none;
    }
}
