.base__event h3 {
  font-family: $font_family_regular;
  color: $color_wind;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.base__event--counter {
  font-family: $font_family_cond_oblique;
  font-size: 1.2rem;
  color: $color_text_light; 

  span {
    &.gg, &.hh, &.mm, &.sec {
      font-size: 4rem;
    }
  }
}
