//default inputs forms all site
.base__form {
    float: left;
    display: block;
    width: auto;
    // login
    // contact
    .r {
        float: left;
        display: block;
        padding: 0.5rem 0;
        width: 100%;
        height: auto;
        &.dx {
            text-align: right;
        }
        .col--2 {
            margin-left: 1rem;
        }
    }
    &.full {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .base__form .r .col--2 {
        margin-left: auto;
    }
}

.base__form--sm {
    width: 140px;
}

.base__form--lg {
    width: 280px;
}

@media (max-width: 767px) {
    .base__form--login {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .base__form--login {
        width: 280px;
    }
}

@media (max-width: 767px) {
    .base__form--contact {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .base__form--contact {
        width: 580px;
    }
}

@media (max-width: 767px) {
    .base__form {
        .base__bt {
            width: 100%;
        }
        .r {
            padding: 0.5rem 0;
        }
    }
}

.base__input {
    display: inline;
    width: 280px;
    padding: 0.8rem;
    @include radius(4px);
    @include transition-basic(all, 0.25s, ease-in-out);
    outline: 0;
    border: 1px solid $color_grey_medium_light;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    // textarea
    // error
    &:focus {
        border: 1px solid $color_orange;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    &:hover,
    &:active {
        border: 1px solid $color_orange;
    }
}

span.error_message {
    display: none;
}

.base__input--textarea {
    width: 100%;
}

.select_cc.error{
    color: $color_red;
    
    + span.error {
        width: auto;
        display: inline-block;
        text-align: center;
        color: white;
        margin-right: 0.4rem;
        padding: 0.5rem 0.5rem;
        background-color: $color_red;
        @include radius(0px 0px 4px 4px);
    }
    button{
        border-color: $color_red !important;
        @include radius(4px 4px 0px 0px);

    }
}
.base__input.error{
    color: $color_red;
    border-color: $color_red !important;
    @include radius(4px 4px 0px 0px);
    + span.error {
        width: 100%;
        display: inline-block;
        text-align: center;
        color: white;
        padding: 0.5rem 0.5rem;
        background-color: $color_red;
        @include radius(0px 0px 4px 4px);
    }
}

@media (max-width: 767px) {
    .base__input {
        width: 100%;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
