.table-responsive {
  border: none;
}

.base__table.table {
  > thead > tr > th {
    border-bottom: 0;
  }

  &.table-striped {
    > tbody > tr:nth-of-type(odd) {
      background-color: transparent;
    }

    > {}

    tbody > tr > {
      td, th {
        @include tDtHstyle;

        @include radius(4px);
      }

      tfoot > {}

      tr > th, td > th {
        @include tDtHstyle;

        @include radius(4px);
      }

      thead > tr > th {
        @include tDtHstyle;

        @include radius(4px);
      }
    }
  }

  tbody tr.border-top {
    border-top: 3px solid #cccccc;
  }

  thead tr.border-top {
    border-top: 3px solid #cccccc;
  }

  tfoot tr.border-top {
    border-top: 3px solid #cccccc;
  }

  tbody tr.grey td {
    background-color: #f9f9f9;
  }

  thead tr.grey td {
    background-color: #f9f9f9;
  }

  tfoot tr.grey td {
    background-color: #f9f9f9;
  }

  > {}

  tbody > tr > {
    td, th {
      @include tDtH;
    }

    tfoot > tr > {}

    td, th {
      @include tDtH;
    }

    thead > tr > {}

    td, th {
      @include tDtH;
    }
  }

  td.n {
    text-align: center;
    font-weight: 700;
  }
}
