@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";

/**
 * Configuration Steps Icons
 */

@font-face {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontello/font/fontello.eot?22635109#iefix") format("embedded-opentype"), url("fonts/fontello/font/fontello.woff2?22635109") format("woff2"), url("fonts/fontello/font/fontello.woff?22635109") format("woff"), url("fonts/fontello/font/fontello.ttf?22635109") format("truetype"), url("fonts/fontello/font/fontello.svg?22635109#fontello") format("svg");
}

/**
 * This CSS resource incorporates links to font software which is the valuable copyrighted
 * property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
 * redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
 * Imaging with any questions regarding Web Fonts:  http://www.fonts.com
 */

/**
 *  Font Faces
 */

@font-face {
  font-family: "Trade Gothic Bold";
  src: url("fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg");
}

@font-face {
  font-family: "Trade Gothic Bold Cond";
  src: url("fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg");
}

@font-face {
  font-family: "Trade Gothic Bold2";
  src: url("fonts/tradelicense/519a7aea-4569-4f88-92ce-6545742efb3b.eot?#iefix") format("eot"), url("fonts/tradelicense/7cf07212-d52a-4cf9-9983-4942ecc34b0d.woff2") format("woff2"), url("fonts/tradelicense/81ca1fb3-a435-4db8-b09c-f74e270eec60.woff") format("woff"), url("fonts/tradelicense/28a5f1a0-5ec3-4aae-a58e-2453166d7918.ttf") format("truetype"), url("fonts/tradelicense/11be2b3f-f734-422c-bdb7-a4f797bfa3f3.svg#11be2b3f-f734-422c-bdb7-a4f797bfa3f3") format("svg");
}

@font-face {
  font-family: "Trade Gothic Light";
  src: url("fonts/tradelicense/ab88c69c-d345-4c07-bf49-c0cc984095fa.eot?#iefix") format("eot"), url("fonts/tradelicense/6de16bd6-1e13-400f-80e8-8f5c69d8a2b8.woff2") format("woff2"), url("fonts/tradelicense/73c7abdc-45a3-42a3-a1af-f07d8a348917.woff") format("woff"), url("fonts/tradelicense/73494c38-422a-4bae-9e2c-b86e7703c1b3.ttf") format("truetype"), url("fonts/tradelicense/b84e9482-10dd-4d9d-8ef2-539fbc5eb441.svg#b84e9482-10dd-4d9d-8ef2-539fbc5eb441") format("svg");
}

@font-face {
  font-family: "Trade Gothic Obl";
  src: url("fonts/tradelicense/b088d8f2-83ab-4662-a771-1f8dfe65dc32.eot?#iefix") format("eot"), url("fonts/tradelicense/5a871dd4-95c1-4157-af67-a012e7ba4358.woff2") format("woff2"), url("fonts/tradelicense/847d5cf1-1a60-4418-9d5e-44927ff99235.woff") format("woff"), url("fonts/tradelicense/2882b13c-d7fa-4698-bab1-4a01805326d8.ttf") format("truetype"), url("fonts/tradelicense/1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7.svg#1a4c3fba-e1f0-47c8-9e50-2b2cb1c4c0f7") format("svg");
}

@font-face {
  font-family: "Trade Gothic";
  src: url("fonts/tradelicense/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("fonts/tradelicense/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("fonts/tradelicense/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("fonts/tradelicense/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("fonts/tradelicense/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg");
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.base {
  background: white;
  color: $color_grey_dark;
  font-family: $font_family_regular;
  font-size: 1em;
  letter-spacing: .25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  h1 {
    font-family: $font_family_bold;
    font-size: 3.575rem;
    line-height: 3.575rem;
  }

  h2 {
    font-family: $font_family_bold;
    font-size: 2.86rem;
    line-height: 2.86rem;
  }

  h3 {
    font-family: $font_family_bold;
    font-size: 2.143rem;
    line-height: 2.143rem;
  }

  h4 {
    font-family: $font_family_bold;
    font-size: 1.43rem;
    line-height: 1.43rem;
  }

  h5 {
    font-family: $font_family_bold;
    font-size: 1.287rem;
    line-height: 1.287rem;
  }

  h6 {
    font-family: $font_family_bold;
    font-size: 1.145rem;
    line-height: 1.145rem;
    font-weight: 400;
  }

  p {
    font-family: $font_family_regular;
    font-size: 1rem;
    letter-spacing: 0.25px;
    font-weight: 400;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 12px;
  }
}
