// vars colors
$color_orange_light: #F69A5D;
$color_orange: #F48135;

$color_red_light: #D76767;
$color_red: #CE4242;

$color_blue_light: #3253A3;
$color_blue: #183989 ;

$color_robin_light: #24A5C6;
$color_robin: #009BBE;

$color_white: #FFF;
$color_grey_stroke: #D3D3D2;
$color_black: #212121;
$color_transparent: transparent;

$color_grey_dark_light: #656D78;
$color_grey_dark: #292F36;

$color_grey_medium_light: #CCD1D9;
$color_grey_medium: #AAB2BD;

$color_grey_light_light: #F4F4F4;
$color_grey_light: #E6E9ED;

$color_stroke: $color_grey_stroke;
$color_text: $color_grey_dark;
$color_text_light: $color_grey_dark_light;

$color_wind: $color_orange;
$color_infostrada: $color_blue;
$color_mobile: $color_robin;
$color_home_life: $color_black;
$color_business: $color_grey_dark;


/*
$color_dark_grey: #333;
$color_grey_dark: #333;
$color_grey_light: #CCD1D9;
$color_grey_seven: #777A7E;
$color_custom_black: #212121;
$color_custom_border_gray: #D7D5D0;
*/

/*$color_error: $color_red;
$border_color: $color_grey_medium_light;
$color_border: $color_grey_medium_light;
$color_border_focus: $color_orange;
$color_bt_disabled: $color_grey_medium_light;*/

// vars fonts
$font_base: "css/fonts";
$font_family_regular: "Trade Gothic", sans-serif;
$font_family_bold: "Trade Gothic Bold", sans-serif;
$font_family_bold_2: "Trade Gothic Bold2", sans-serif;
$font_family_bold_cond: "Trade Gothic Bold Cond", sans-serif;
$font_family_oblique: "Trade Gothic Obl", sans-serif;
$font_family_light: "Trade Gothic Light", sans-serif;

//wide
$wide_sm: 140px;
$wide_lg: 280px;
$wide_popup_content: 580px;
